{#
	/*
		Author: Igor Mirochnik
	    Site: http://im-cloud.ru
		Email: dev.imirochnik@gmail.com
		Type: commercial
	*/

#}

{% macro text(lang_settings, lang_id, name) %}
	{% if lang_settings is defined %}
		{% if lang_settings[lang_id] is defined %}
			{{ lang_settings[lang_id][name] }}
		{% else %}
			{{ lang_settings['default'][name] }}
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro label(module_label, name) %}
	{% if module_label is defined and module_label|length>0 and module_label[name] is defined %}
		{{ module_label[name]|trim }}
	{% else %}
		{{ name }}
	{% endif %}
{% endmacro %}

{% macro textArea(lang_settings, lang_id, name) %}
	{% if lang_settings is defined %}
		{% if lang_settings[lang_id] is defined %}
			{{ lang_settings[lang_id][name] }}
		{% else %}
			{{ lang_settings['default'][name] }}
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro selectedAttr(data, lang_id, name, val) %}
	{% if data is defined and data[lang_id] is defined %}
		{% if data[lang_id][name] ~ '' == val ~ '' %}
			selected="selected"
		{% endif %}
	{% elseif data is defined and data['default'] is defined %}
		{% if data['default'][name] ~ '' == val ~ '' %}
			selected="selected"
		{% endif %}
	{% endif %}
{% endmacro %}


{% macro selectHtml(name, data, curr_val, append_class,
						is_multi, val_name, text_name) %}
	<select name="{{ name }}"
		class="form-control {{ append_class|default('') }}"
		{{ is_multi ? ' multiple="multiple" ' : '' }}
	>
	{% for item in data %}
		<option value="{{ item[val_name|default('id')]|default(-1) }}"
			{% if curr_val is defined %}
				{{
					(item[val_name|default('id')] ~ '')|trim == (curr_val ~ '')|trim
					? ' selected="selected" '
					: ''
				}}
			{% endif %}
		>
			{{ item[text_name|default('name')] }}
		</option>
	{% endfor %}
	</select>

{% endmacro %}

{% macro dateControl(name, module_label, label, value, append_class) %}
	{% import _self as imform %}

	<div class="form-group">
	    <label class="control-label" for="">
	    	{{ imform.label(module_label, label|default(''))|trim }}
	    </label>
	    <div class="input-group date">
	      	<input type="text"
	      		name="{{ name }}"
	      		value="{{ value|default('')|trim }}"
	      		placeholder="{{ imform.label(module_label, label|default(''))|trim }}"
	      		data-date-format="DD.MM.YYYY"
	      		class="form-control {{ append_class|default('') }}"/>
	      	<span class="input-group-btn">
	      		<button type="button" class="btn btn-default">
	      			<i class="fa fa-calendar"></i>
	      		</button>
	      	</span>
	    </div>
  	</div>

{% endmacro %}

{% macro textAreaControl(name, module_label, label, value, append_class) %}
	{% import _self as imform %}

	<div class="form-group ">
		<label class="control-label" for="">
			{{ imform.label(module_label, label|default(''))|trim }}
		</label>
		<div class="">
			<textarea
				name="{{ name }}"
				placeholder="{{ imform.label(module_label, label|default(''))|trim }}"
				class="form-control {{ append_class|default('') }}"
			>{{ value }}</textarea>
		</div>
	</div>

{% endmacro %}

{% macro inputControl(name, module_label, label, value, append_class) %}
	{% import _self as imform %}

	<div class="form-group ">
		<label class=" control-label" for="">
			{{ imform.label(module_label, label|default(''))|trim }}
		</label>
		<div class="">
			<input type="textbox"
				name="{{ name }}"
				value="{{ value|default('') }}"
				placeholder="{{ imform.label(module_label, label|default(''))|trim }}"
				class="form-control {{ append_class|default('') }}" />
		</div>
	</div>

{% endmacro %}

{% macro selectControl(name, data, module_label, label, value, append_class, is_multi, val_name, text_name) %}
	{% import _self as imform %}

	<div class="form-group ">
		<label class="control-label" for="">
			{{ imform.label(module_label, label|default(''))|trim }}
		</label>
		<div class="">
			{{ imform.selectHtml(
					name,
					data,
					value,
					append_class,
					is_multi,
					val_name,
					text_name
				)
			}}
		</div>
	</div>

{% endmacro %}

{% macro selectMany(name, data, append_class, list_allclear, val_name, text_name) %}
	{% import _self as imform %}

	<div class="well well-sm {{ append_class|default('')|trim }}" style="height: 150px; overflow: auto;">
		<input type="hidden" value="-1" name="{{ name|default('')|trim }}" />

	{% for item in data %}
		{% if item[val_name|default('id')|trim]~'' not in ['-1'] %}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="{{ name|default('')|trim }}" value="{{ item[val_name|default('id')|trim]|trim }}">
					<span>
						{{ item[text_name|default('name')] }}
					</span>
				</label>
			</div>
		{% endif %}
	{% endfor %}

	</div>

	{% if list_allclear|default([])|length > 1 %}
		<a class="imdbo-cursor" onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ list_allclear[0]|default('all')|trim }}</a>
		/
		<a class="imdbo-cursor" onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ list_allclear[1]|default('clear')|trim }}</a>
	{% else %}
		<a class="imdbo-cursor" onclick="$(this).parent().find(':checkbox').prop('checked', true);">all</a>
		/
		<a class="imdbo-cursor" onclick="$(this).parent().find(':checkbox').prop('checked', false);">clear</a>
	{% endif %}
{% endmacro %}

{% macro moduleJSText(data) %}
	{% set result = '' %}
	{% if (data is defined) and (data|length > 0) %}
		{% for key,value in data %}
			{% if loop.index == 0 or result|trim == '' %}
				{% set result = result ~ '\'' ~ key ~ '\':' ~ '\'' ~ value ~ '\'' %}
			{% else %}
				{% set result = result ~ ', ' ~ '\'' ~ key ~ '\':' ~ '\'' ~ value ~ '\'' %}
			{% endif %}
		{% endfor %}
	{% endif %}
	{{ result }}
{% endmacro %}
