<div class="modal show" id="sdm-complaints-modal" tabindex="-1" role="dialog" aria-labelledby="us-one-click" style="display: block;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="us-one-click">{{ heading_title }}</h5>
                <button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
                    <span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
                </button>
            </div>
            <div id="one-click-main-block" class="modal-body us-modal-body-one-click">
                <form action="javascript:;" id="sdm-complaints-form" method="post" class="d-flex">
                    <div class="us-modal-body-one-click-right text-center" style="width: 100%">
                        <div class="form-group-20">
                            <input type="text" name="name" class="form-control" id="user_name" placeholder="{{ enter_name }}">
                        </div>
                        <div class="form-group-20">
                            <input type="tel" name="telephone" class="form-control" id="user_telephone" placeholder="{{ enter_telephone }}">
                        </div>
                        <div class="form-group-20">
                            <input type="email" name="email" class="form-control" id="user_email" placeholder="{{ enter_email }}">
                        </div>
                        <div class="form-group-20">
                            <input type="text" name="subject" class="form-control" id="user_subject" placeholder="{{ enter_subject }}">
                        </div>
                        <div class="form-group-20">
                            <textarea name="message" class="form-control" id="user_message" placeholder="{{ enter_message }}"></textarea>
                        </div>

                        {% if text_agree %}
                        <div class="us-form-checkbox-group us-form-checkbox-group-20">
                            <input type="checkbox" id="scales-2" class="us-form-checkbox-input" checked disabled="" name="agree">
                            <label for="scales-2" class="d-flex"><span>{{ text_agree }}</span></label>
                        </div>
                        {% endif %}

                        <div class="btn-group" role="group" aria-label="us-cont-btn">
                            <button id="button_checkout" type="submit" class="us-module-btn us-module-btn-green">{{ button_send }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{# <script src="catalog/view/theme/oct_ultrastore/js/jquery.inputmask.bundle.min.js"></script> #}
<script>
    usInputMask('#user_telephone','8 (999) 999-99-99');

    $(" #user_message, #user_subject, #user_email").on("change paste keyup", function() {
        $(this).removeClass('error_style');
    });

    $('#button_checkout').on('click', function() {
        masked('body', false);
        masked('body', true);
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: 'index.php?route=extension/module/sdm_complaints/send',
            data: $('#sdm-complaints-form').serialize(),
            success: function(json) {
                masked('body', false);
                if (json['error']) {
                    $('#sdm-complaints-modal .text-danger').remove();
                    let errorOption = '';

                    $.each(json['error'], function(i, val) {
                        if (val) {
                            $('#sdm-complaints-modal [name="' + i + '"]').addClass('error_style');
                            errorOption += '<div class="alert-text-item">' + val + '</div>';
                        }
                    });

                    usNotify('danger', errorOption);
                } else {
                    if (json['success']) {
                        usNotify('success', json['success']);
                        $('#sdm-complaints-modal').modal('hide');
                    }
                }
            }
        });
    });
</script>
