<style>
	.tns-nav {text-align:left;margin:10px 0;padding-left:15px; position: absolute; bottom: 30px;}
	.tns-nav > [aria-controls] {width:11px;height:11px;padding:0;margin:0 5px;border-radius:50%;background:#bbb;border:0;}
	.tns-nav > [aria-controls]:hover {background: #2a6977;}
	.tns-nav > .tns-nav-active {background: #2a6977;}
	.wslider_wrapper {

		position:relative;
	}

	@media(max-width: 1199px) {

	}
	@media (min-width: 992px)
		.tns-nav {
			position: absolute;
		}
	}

	@media(max-width: 991px) {
		.tns-nav {
			position: inherit;
			bottom: 0;
		}
		.added-menu {
			display:none;
		}
	}

	@media screen and (max-width: 768px) {
		#customize-controls.controls {display:none!important;}
	}
	#customize-controls.controls {
		margin: 0;
		padding: 0 10px;
		list-style: none;
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translatey(-100%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 899;

	}
	#customize-controls.controls li {
		/*color:#555;
		background:#ddd;*/
		padding: 0 20px;
		opacity: .6;
		cursor: pointer;
	}
	#customize-controls.controls li:hover {
		opacity: 1;
		cursor: pointer;
	}
	#customize-controls.controls li:focus {
		outline: none;
	}

	{{ style }}
</style>

<div class="home-top">
	<div class="row">
		<div class="col-lg-3 added-menu">

		</div>
		<div class="col-lg-9">
			<div class="wslider_wrapper">
				<ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
					<li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
						<span class="wslider-arrow_left"></span>
					</li>
					<li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
						<span class="wslider-arrow_right"></span>
					</li>
				</ul>

				<div class="wslider{{ module }}" id="wslider{{ module }}">
					{% set frame_row = 1 %}
					{% for frame in frames %}
						<div class="item">
							<div class="img img-{{ frame_row }}">
								<a href="{{ frame.link }}"></a>
							</div>
							{#
                            <p>{{ frame.title }}</p>
                            #}
						</div>
						{% set frame_row = frame_row + 1 %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var ratio, dw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
	resize();
	if (window.addEventListener) {
		//document.addEventListener('DOMContentLoaded', resize);
		window.addEventListener('resize', resize);
	}
	function resize() {
		dw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
		{% for breakpoint in breakpoints %}
		if (dw >= {{ breakpoint.value }}) ratio = {{ breakpoint.width}} / {{ breakpoint.height}};
		{% endfor %}
		let elements = document.querySelectorAll('div.img');
		for (let elem of elements) elem.style.height = elem.clientWidth / ratio + 'px';
	}
	const slider = tns({
		container: '#wslider{{ module }}',
		//autoHeight: true,
		items: 1,
		autoplayTimeout: {{ slider_setting.autoplayTimeout }},
		speed: {{ slider_setting.speed }},
		navPosition: '{{ slider_setting.navPosition }}',
		{% if slider_setting.autoplay is defined %}
		autoplay: true,
		{% endif %}
		{% if slider_setting.mouseDrag is defined %}
		mouseDrag: true,
		{% endif %}
		//controlsPosition: 'bottom',
		//controls: false,
		controlsContainer: "#customize-controls",
		autoplayText: ["", ""],
		autoplayButton: false
	});
</script>
