.benefits-montazh {
  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    width: 68px;
    height: 68px;
    margin-right: 20px;

    img {
      width: 100%;
      max-width: 68px;
      height: auto;
    }
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-gap: 20px;
    }
  }
}
