.bg-montazh {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  width: 100%;
  max-height: 400px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
