.business-montazh {
  &__inner {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr;
    max-width: 850px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    display: flex;
  }

  &__img {
    display: flex;
    margin-right: 30px;

    img {
      max-width: 277px;
      height: auto;
      object-fit: contain;
    }
  }

  &__btn {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 30px;
      margin-top: 30px;
    }

    &__item {
      flex-direction: column;
    }

    &__img {
      display: none;
    }

    &__btn {
      margin-top: 30px;
    }
  }
}
