.equipment-montazh {
  &__menu {
    display: flex;
    width: 100%;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #eee;

    li {
      flex-grow: 1;
    }
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    white-space: nowrap;
    background-color: #fff;

    &.active {
      color: #03c;
      border-bottom: 1px solid #03c;
    }
  }

  &__content {
    position: relative;
    display: none;
    box-sizing: border-box;
    min-height: 490px;
    padding: 30px;

    &.active {
      display: block;
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__content-inner {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }

  &__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    min-height: 170px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    transition: 0.2s;

    &:hover {
      box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    }
  }

  &__content-img {
    display: flex;
    flex-grow: 1;

    img {
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  }

  &__content-name {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }

  @media (max-width: 1000px) {
    &__content-inner {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 980px) {
    &__menu {
      overflow-x: scroll;
    }
  }

  @media (max-width: 768px) {
    &__content-inner {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 600px) {
    &__content-inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 450px) {
    &__content-inner {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }
  }
}
