.examples-montazh {
  --swiper-pagination-color: #000;

  &__slider {
    position: relative;
    display: flex;
  }

  &__swiper {
    padding-bottom: 30px;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__img {
    display: flex;
    justify-content: center;
    width: 100%;

    &:not(:last-child) {
      margin-right: 15px;
    }

    img {
      width: 100%;
      max-width: 1400px;
      height: auto;
      object-fit: cover;
    }
  }

  &__name {
    max-width: 80%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }

  &__desc {
    max-width: 70%;
    margin-top: 15px;
    text-align: center;
  }

  &__btn {
    position: absolute;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;

    &::after {
      display: inline-block;
      padding: 11px;
      border: solid black;
      border-width: 0 2px 2px 0;
      content: '';
    }

    &_prev {
      left: -50px;
      transform: rotate(135deg);
    }

    &_next {
      right: -50px;
      transform: rotate(-45deg);
    }
  }

  .swiper-pagination {
    bottom: 0;
  }

  @media (max-width: 1120px) {
    &__btn {
      display: none;
    }
  }

  @media (max-width: 500px) {
    &__name {
      max-width: none;
      font-size: 14px;
    }

    &__desc {
      max-width: none;
      font-size: 12px;
    }
  }
}
