.how-work-montazh {
  position: relative;

  &__container {
    padding-bottom: 280px;
  }

  &__item {
    .title {
      color: #03c;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 1024px) {
    &__container {
      padding-bottom: 220px;
    }
  }

  @media (max-width: 600px) {
    &__container {
      padding-bottom: 140px;
    }
  }
}
