.mounting-montazh {
  position: relative;
  display: flex;
  justify-content: center;

  &__banner {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-height: 400px;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      opacity: 0.6;
      content: '';
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    top: 40%;
    max-width: 745px;
    padding: 0 10px;
    color: #03c;
    font-size: 26px;
    text-align: center;
  }

  &__container {
    position: absolute;
    width: 100%;
  }

  &__burger-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__burger-menu {
    position: absolute;
    top: 0;
    left: -18rem;
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

    &.active {
      display: flex;
    }
  }

  &__burger-menu-item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__burger-menu-link {
    color: #000;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__burger {
    --color-burger: #03c;

    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    transition: 0.2s;

    span {
      width: 100%;
      height: 4px;
      background-color: var(--color-burger);
      border-radius: 4px;
    }

    &:hover {
      --color-burger: #285aed;
    }
  }

  @media (max-width: 768px) {
    &__banner {
      height: auto;
    }
  }

  @media (max-width: 600px) {
    &__title {
      font-size: 20px;
    }

    &__burger {
      width: 22px;
      height: 14px;

      span {
        height: 2px;
      }
    }

    &__burger-menu {
      left: -15rem;
      padding: 14px;
    }

    &__burger-menu-item {
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }

    &__burger-menu-link {
      font-size: 12px;
    }
  }

  @media (max-width: 425px) {
    &__title {
      font-size: 14px;
    }

    &__burger {
      top: 12px;
      right: 12px;
    }
  }
}
