.offer-montazh {
  position: relative;

  &__container {
    padding-bottom: 200px;
  }

  &__menu {
    display: flex;
  }

  &__menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
    color: #00f;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 10px;

      &::after {
        position: absolute;
        right: 0;
        width: 1px;
        height: 16px;
        background-color: #333;
        content: '';
      }
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__btn {
    margin: 90px auto 0;
    padding-right: 70px;
    padding-left: 70px;
  }

  @media (max-width: 768px) {
    &__container {
      padding-bottom: 150px;
    }
  }

  @media (max-width: 540px) {
    &__menu {
      flex-direction: column;
    }

    &__menu-item {
      &:not(:last-child) {
        margin-bottom: 10px;

        &::after {
          content: none;
        }
      }
    }

    &__btn {
      margin: 30px auto 0;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
