.order-montazh {
  &__subtitle {
    text-align: center;
  }

  &__contact-wraper {
    margin-top: 100px;
  }

  &__contact {
    display: flex;
  }

  &__contact-person {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }

  &__img {
    img {
      max-width: 214px;
      height: auto;
    }
  }

  &__name {
    font-weight: 600;
  }

  &__item {
    display: block;
    font-weight: 400;
    font-size: 14px;
  }

  &__expertise {
    padding-top: 30px;
  }

  @media (max-width: 1024px) {
    &__contact-person {
      justify-content: flex-end;
      margin-top: 0;
    }

    &__expertise {
      padding-top: 20px;
    }
  }

  @media (max-width: 425px) {
    &__img {
      img {
        max-width: 120px;
      }
    }
  }
}
