.about-company {
  &__wrap {
    padding-top: rem(90px);
    padding-bottom: rem(90px);
    color: #fff;
    background-color: #07429a;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      padding-top: rem(30px);
      padding-bottom: rem(85px);
    }

    &--one-row {
      padding: rem(30px 0);

      @include media-breakpoint-down(md) {
        padding-bottom: rem(85px);
      }

      .about-company__company-advantages {
        margin-top: 0;
      }
    }
  }

  &__content {
    max-width: 425px;

    @include media-breakpoint-down(lg) {
      max-width: none;
      margin-bottom: rem(45px);
    }
  }

  &__small {
    margin-bottom: rem(50px);
    font-size: rem(14px);
    opacity: 0.42;

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(20px);
    }
  }

  &__heading {
    margin-bottom: rem(32px);

    @include media-breakpoint-only(lg) {
      font-size: rem(34px);
    }

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__info {
    &--white {
      max-width: 850px;
      margin-left: auto;
      padding: rem(35px);
      color: #000;
      background: #fff;

      @include media-breakpoint-down(md) {
        max-width: none;
        padding: rem(20px 15px);
      }

      @include media-breakpoint-down(xs) {
        width: calc(100% + 15px);
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
      font-size: rem(14px);
    }
  }

  &__list {
    @include unlist;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #000;

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__achievment {
    display: flex;
    flex-direction: column;
    padding: rem(70px 40px);
    background-color: #fff;
    border: 1px solid #dadfea;
    border-radius: 3px;

    @include media-breakpoint-down(md) {
      padding: rem(20px 15px);
    }

    &:last-of-type {
      border: none;
    }

    &-count {
      font-weight: 700;
      font-size: rem(60px);
      line-height: 1;

      @include media-breakpoint-down(md) {
        font-size: rem(34px);
      }
    }

    &-title {
      font-size: rem(24px);
      line-height: 1;

      @include media-breakpoint-down(md) {
        font-size: rem(17px);
      }
    }

    &-description {
      display: flex;
      align-items: flex-end;
      height: 100%;
      margin-top: auto;
      font-weight: 300;
      font-size: rem(15px);

      @include media-breakpoint-down(sm) {
        align-items: center;
        margin-top: 0;
        font-size: rem(14px);
      }
    }

    &-link {
      @include media-breakpoint-down(md) {
        max-width: 70px;
        margin-left: 10%;
        font-size: rem(14px);
        line-height: 1;
      }
    }
  }

  &__rating-title {
    margin-bottom: rem(20px);
    font-weight: 300;
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      font-weight: 400;
      font-size: rem(14px);
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    margin-bottom: rem(10px);

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      margin-left: 10%;

      svg {
        width: 16px;
        height: 15px;
      }
    }
  }

  &__number {
    margin-left: rem(12px);
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      font-weight: 400;
      font-size: rem(15px);
    }
  }

  &__yandex-img {
    display: block;
    margin-bottom: rem(30px);

    @include media-breakpoint-down(md) {
      max-width: 110px;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__company-advantages {
    position: relative;
    margin-top: rem(70px);

    @include media-breakpoint-down(lg) {
      margin-top: rem(21px);
    }

    @include media-breakpoint-down(md) {
      margin-top: rem(16px);
    }
  }
}

.modernizr {
  &_webp {
    .about-company__wrap {
      background-image: url(/webp-images/about-company1.webp);
    }
  }

  &_no-webp {
    .about-company__wrap {
      background-image: url(~@/img/bg/about-company1.png);
    }
  }

  &_webp,
  &_no-webp {
    @include media-breakpoint-down(xs) {
      .about-company__wrap {
        background-color: #07429a;
        background-image: unset;
      }
    }
  }
}

.company-advantages {
  &__list {
    @include unlist;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include media-breakpoint-down(md) {
      display: block;
    }

    .flickity-page-dots {
      bottom: -40px;

      .dot {
        background-color: #fff;

        &.is-selected {
          &::after {
            position: absolute;
            top: 1px;
            left: 1px;
            width: 70%;
            height: 70%;
            background: $accent;
            border-radius: 50%;
            content: '';
          }
        }
      }
    }
  }

  &__image {
    max-height: 90px;
    margin: -30px 0 30px -30px;

    @include media-breakpoint-down(lg) {
      margin: -20px 0 20px -15px;
    }
  }

  &__item {
    position: relative;
    padding: 30px;
    color: #000;
    font-size: rem(19px);
    background: #fff;
    background-repeat: no-repeat;
    background-position: -15px 0;
    background-size: 130px 125px;
    border: 1px solid #dadfea;
    border-radius: 3px;

    @include media-breakpoint-down(lg) {
      height: 265px;
      padding: rem(20px 15px);
      background-position: 0 0;
      background-size: 70px 70px;
    }

    @include media-breakpoint-down(md) {
      width: 50%;
      height: 295px;
    }

    &-title {
      height: 70px;
      margin-bottom: rem(15px);
      font-size: rem(19px);

      @include media-breakpoint-down(lg) {
        height: 55px;
        font-size: rem(14px);
      }

      @include media-breakpoint-down(md) {
        height: auto;
        margin-bottom: rem(20px);
        font-weight: 400;
        font-size: rem(15px);
      }
    }

    &-description {
      font-weight: 300;
      font-size: rem(15px);

      @include media-breakpoint-down(lg) {
        font-size: rem(12px);
      }

      @include media-breakpoint-down(md) {
        max-width: 90%;
        margin-bottom: 0;
        font-size: rem(13px);
      }
    }

    &-btn {
      @extend %link-btn;

      position: absolute;
      right: 12px;
      bottom: 32px;

      @include media-breakpoint-down(md) {
        right: 10px;
        bottom: 10px;
        width: 24px;
        height: 24px;
      }
    }
  }

  &--cheaper {
    .company-advantages__item {
      padding-bottom: rem(136px);
    }
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: -45px;
    left: 0;
    display: none;
    justify-content: space-between;
    width: 100%;
    max-width: 325px;
    margin: auto;

    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  &__control {
    z-index: 10;
    width: 26px;
    height: 26px;

    &--prev svg {
      transform: rotate(180deg);
    }
  }
}
