.account-login {
  @media (max-width: 767px) {
    &__columns {
      flex-direction: column;
      margin-bottom: 30px;
      padding: 0;
    }

    &__column {
      width: auto;
    }

    &__border {
      margin: 20px;
    }
  }
}
