.brands {
  &__heading {
    margin-bottom: rem(42px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__brands-carousel {
    margin-top: rem(20px);

    &:not(.flickity-enabled) {
      display: flex;
      overflow: hidden;
    }
  }

  &__item {
    position: relative;
    width: 15.3%;
    margin-right: 16px;
    border: 1px solid rgba(0, 0, 0, 0.05);

    @include media-breakpoint-down(md) {
      width: 40%;
    }

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(20px 20px);
    text-align: center;

    @include media-breakpoint-down(md) {
      height: 70px;
      padding: rem(25px 16px);
    }

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__control {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
    margin: auto;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--prev {
      left: -10px;
      transform: rotate(180deg);
    }

    &--next {
      right: 0;
    }
  }
}
