.company-rules {
  &__small {
    margin-bottom: rem(30px);
    color: #878787;
    font-size: rem(14px);
    text-transform: uppercase;
    opacity: 0.4;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__header {
    margin-bottom: rem(60px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__heading {
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__quote {
    width: 100%;
    max-width: 765px;
    margin: 0;
    margin-left: auto;
    padding: rem(22px 40px);
    padding-right: rem(150px);
    font-weight: 300;
    font-size: rem(22px);
    line-height: 1.4;
    background-color: #f5f6f7;
    border-left: 4px solid #144da3;
    border-radius: 0 0 0 10px;

    @include media-breakpoint-down(md) {
      padding: rem(15px 30px);
      font-size: rem(17px);
    }
  }

  &__list {
    @include unlist;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include media-breakpoint-down(md) {
      display: block;
    }

    .flickity-page-dots {
      bottom: -40px;
    }
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: -45px;
    left: 0;
    display: none;
    justify-content: space-between;
    width: 100%;
    max-width: 325px;
    margin: auto;
    padding: 0 15px;

    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  &__control {
    z-index: 10;
    width: 26px;
    height: 26px;

    &--prev svg {
      transform: rotate(180deg);
    }
  }

  &__item {
    height: 100%;
    padding: rem(30px 40px);
    padding-bottom: rem(60px);
    font-weight: 300;
    font-size: rem(17px);
    border: 1px solid #dadfea;

    @include media-breakpoint-down(md) {
      width: 100%;
      height: 320px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: rem(32px);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
