.modernizr {
  &_webp {
    .delivery-bg {
      &_1 {
        background-image: url(/webp-images/installment-deliverybg1.webp);
      }

      &_2 {
        background-image: url(/webp-images/installment-deliverybg2.webp);
      }
    }
  }

  &_no-webp {
    .delivery-bg {
      &_1 {
        background-image: url(~@/img/bg/installment-deliverybg1.png);
      }

      &_2 {
        background-image: url(~@/img/bg/installment-deliverybg2.png);
      }
    }
  }
}
