.discounted-products {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(34px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(12px);
    }
  }

  &__btn {
    @extend %link-btn;

    margin-left: rem(26px);

    @include media-breakpoint-down(md) {
      margin-left: auto;
    }
  }

  &__products {
    margin-top: rem(54px);

    @include media-breakpoint-down(md) {
      margin-top: rem(16px);
    }

    .product-item {
      width: 20%;

      @include media-breakpoint-down(lg) {
        width: 33%;
      }

      @include media-breakpoint-down(sm) {
        width: 50%;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }

    .product-item__wrap {
      border: none;
      border-radius: 0;
    }

    .flickity-page-dots {
      bottom: -50px;

      @include media-breakpoint-down(md) {
        bottom: -30px;
      }
    }
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: -53px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 325px;
    margin: auto;

    @include media-breakpoint-down(md) {
      bottom: -35px;
    }
  }

  &__control {
    z-index: 10;
    width: 26px;
    height: 26px;

    &--prev svg {
      transform: rotate(180deg);
    }
  }
}
