.discounts {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(34px);
  }

  &__btn {
    @extend %link-btn;

    margin-left: rem(26px);
  }

  &__list {
    @include unlist;

    &--grid {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);

      @include media-breakpoint-down(lg) {
        grid-gap: 20px;
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(1, 1fr);
      }

      .discount-item {
        margin-bottom: 0;

        &__body {
          padding-bottom: rem(90px);

          @include media-breakpoint-down(md) {
            padding-bottom: rem(70px);
          }
        }

        &__tag {
          top: unset;
          bottom: 25px;
          padding-left: rem(22px);
        }
      }
    }
  }

  &__discount-item {
    position: relative;
    margin-bottom: rem(44px);
  }
}

.discount-item {
  &__img {
    display: block;
    height: 270px;

    @include autoImg;

    @include media-breakpoint-down(md) {
      height: 180px;
    }
  }

  &__title {
    display: block;
    height: 55px;
    margin-bottom: rem(22px);
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      height: auto;
      margin-bottom: rem(12px);
      font-size: rem(18px);
    }

    a {
      color: #000;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__date {
    display: block;
    margin-bottom: rem(24px);
    font-size: rem(14px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(12px);
      font-size: rem(12px);
    }
  }

  &__description {
    height: 45px;
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
      height: 65px;
    }

    @include media-breakpoint-down(md) {
      height: auto;
      margin-bottom: rem(12px);
      font-size: rem(15px);
    }
  }

  &__body {
    padding: rem(36px 20px);
    border: 1px solid #dadfea;

    @include media-breakpoint-down(md) {
      padding: rem(25px 20px);
    }
  }

  &__tag {
    position: absolute;
    top: 25px;
    left: 0;
    padding: rem(10px 12px);
    color: #fff;
    font-size: rem(14px);
    border-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    &--new {
      background-color: #37b389;
    }

    &--gift {
      padding-right: rem(24px);
      color: #2352b1;
      background-color: #ecf1f7;

      img {
        position: absolute;
        top: 0;
        right: -10px;
        bottom: 0;
        display: block;
        width: 22px;
        height: 22px;
        margin: auto;
        object-fit: contain;
      }
    }

    &--discount {
      background-color: #d20000;
    }
  }

  &__btn {
    @extend %link-btn;

    position: absolute;
    right: 20px;
    bottom: 25px;
  }
}
