.featured-products {
  &__tabs {
    min-height: 615px;

    .tabs__list {
      width: 100%;
    }

    @media (max-width: 991px) {
      min-height: 485px;
    }

    @media (max-width: 767px) {
      min-height: 416px;
    }
  }

  &__heading {
    margin-bottom: rem(18px);
  }

  &__products {
    margin-top: rem(54px);

    @include media-breakpoint-down(md) {
      margin-top: rem(16px);
    }

    .product-item {
      width: 20%;

      @include media-breakpoint-down(lg) {
        width: 33%;
      }

      @include media-breakpoint-down(sm) {
        width: 50%;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }

    .flickity-page-dots {
      bottom: -50px;

      @include media-breakpoint-down(md) {
        bottom: -30px;
      }
    }
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: -53px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 325px;
    margin: auto;

    @include media-breakpoint-down(md) {
      bottom: -35px;
    }
  }

  &__control {
    z-index: 10;
    width: 26px;
    height: 26px;

    &--prev svg {
      transform: rotate(180deg);
    }
  }
}
