.maintenance {
  &__heading {
    margin-bottom: rem(26px);
  }

  &__list {
    @include unlist;
  }

  &__info {
    max-width: 762px;
    margin-bottom: rem(30px);
  }

  &__item {
    margin-bottom: rem(78px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(24px);
    }

    &-desc {
      max-width: calc(100% - 40px);
      margin-bottom: 0;
    }

    &-img {
      display: block;
      height: 115px;
      margin-bottom: rem(20px);

      @include autoImg;
    }
  }
}
