.main-carousel {
  --swiper-pagination-color: #000;

  position: relative;
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__image-wrapper {
    display: flex;
    width: 100%;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 100px;

    &_right {
      align-items: flex-end;
      text-align: right;
    }
  }

  &__title {
    color: #03c;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.55;
  }

  &__desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 240px;
    margin-top: 20px;
    padding: 1rem 2.0625rem;
    color: #3962b4;
    font-size: 1.125rem;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #3962b4;
    border-radius: 3px;
    cursor: pointer;
    transition: 250ms;

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #3962b4;
      transition: 250ms;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 2;

    &_prev {
      left: 20px;
      transform: rotate(180deg);
    }

    &_next {
      right: 20px;
    }
  }

  @media (max-width: 992px) {
    &__title {
      font-size: 19px;
    }

    &__desc {
      margin-top: 14px;
    }

    &__btn {
      padding: 7px 19px;
      font-size: 12px;
      border: 2px solid #3962b4;
    }
  }

  @media (max-width: 768px) {
    &__content {
      padding: 50px 70px;
    }

    &__title {
      font-size: 16px;
      line-height: 1.2;
    }

    &__desc {
      font-weight: 300;
      font-size: 14px;
    }

    &__btn {
      margin-top: 14px;
    }
  }

  @media (max-width: 500px) {
    &__content {
      padding: 20px;
    }

    &__title {
      font-size: 14px;
    }

    &__desc {
      margin-top: 10px;
      font-size: 12px;
    }

    &__arrow {
      display: none;
    }
  }
}
