.promo-banners {
  .container {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  &__wrap {
    position: relative;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
  }

  &__carousel {
    &:not(.flickity-enabled) {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 100%;
      overflow: hidden;
    }

    .flickity-page-dots {
      bottom: 35px;

      @include media-breakpoint-down(md) {
        bottom: 15px;
      }

      .dot {
        position: relative;
        width: 6px;
        height: 6px;
        background-color: #000;
        opacity: 1;

        svg {
          position: absolute;
          opacity: 0;
        }

        &.is-selected {
          &::before {
            position: absolute;
            top: -6px;
            left: -6px;
            width: 18px;
            height: 18px;
            border: 2px solid #fff;
            border-radius: 50%;
            content: '';
          }

          svg {
            top: -7px;
            left: -8px;
            transform: rotate(-90deg);
            opacity: 1;
            animation: rotate_offset 5s linear forwards;
            stroke-dasharray: 50.2;
            stroke-dashoffset: 50.2;
          }
        }
      }
    }
  }

  &__promo-banner {
    width: 100%;
    height: 535px;

    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }

  &__brands {
    padding-left: rem(20px);

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  &__control {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
    margin: auto;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--prev {
      left: 20px;
      transform: rotate(180deg);
    }

    &--next {
      right: 20px;

      @include media-breakpoint-down(lg) {
        right: 20px;
      }
    }
  }

  &__daily-promo {
    position: absolute;
    top: 15px;
    right: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  @media (max-width: 450px) {
    &__promo-banner {
      height: 400px !important;
    }
  }
}
