.promo-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: right;
  background-size: cover;

  @include media-breakpoint-down(lg) {
    background-position: center;
  }

  &__content {
    position: relative;
    top: 50px;
    max-width: 750px;
    margin-right: auto;
    padding-left: rem(110px);

    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: unset;
      margin: auto;
      padding: 0 15px;
    }
  }

  &__title {
    //max-width: 100%;
    margin-bottom: 20px;
    color: #0033cc;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.55;

    @include media-breakpoint-down(md) {
      max-width: 220px;
      margin-bottom: rem(16px);
      font-size: rem(22px);
    }
  }

  &__description {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
  }

  &__btn {
    @extend %btn-outline;

    width: 100%;
    max-width: 240px;

    @include media-breakpoint-down(md) {
      width: max-content;
      max-width: unset;
    }
  }

  &_right {
    justify-content: right;

    .promo-banner__content {
      text-align: right;
      max-width: auto;
      margin-right: 0;
      padding-left: 0;
      padding-right: 6.875rem;
    }

    .promo-banner__title {
      max-width: 100% !important;
    }
  }

  @media (max-width: 450px) {
    &__title {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
    &__description br {
      display: none;
    }
    &__description {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__content {
      top: 0;
      /*height: 400px;*/
    }

    &_right {
      justify-content: left;

      .promo-banner {
        padding-right: 10px;

        &__content {
          padding-right: 10px;
          text-align: left;
          max-width: auto;
          margin-right: 0;
          padding-left: 10px;
          padding-right: 10px;
        }

        &__title {
          max-width: 100% !important;
        }
      }
    }

  }
}




