.quote {
  &__content {
    position: relative;
    z-index: 10;
    max-width: 790px;
    margin-bottom: 0;
    margin-left: rem(180px);
    padding-top: rem(180px);
    padding-bottom: rem(42px);

    @include media-breakpoint-down(lg) {
      margin-left: rem(100px);
      padding-top: rem(125px);
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
      padding: rem(50px 0);
    }

    &::before {
      position: absolute;
      top: 90px;
      left: -85px;
      z-index: -1;
      width: 200px;
      height: 175px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='199' height='172' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 199 172'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EФигура 7%3C/title%3E%3Cpath d='M0.0752,123.91469c-0.05453,-1.37722 -2.82722,-76.51582 45.95108,-112.34275c43.99008,-32.3087 -3.46433,6.94773 -14.07478,67.82112c4.79566,-1.64469 9.91849,-2.57801 15.27011,-2.57801c26.04049,0 47.14911,21.11501 47.14911,47.16382c0,26.04881 -21.10862,47.16433 -47.14911,47.16433c-26.04006,0 -47.14878,-21.11552 -47.14878,-47.16433c0,-0.02378 0.00237,-0.0427 0.00237,-0.06418zM103.80233,123.91469c-0.05496,-1.37722 -2.82733,-76.51582 45.95108,-112.34275c43.99008,-32.3087 -3.46433,6.94773 -14.07478,67.82112c4.79566,-1.64469 9.91806,-2.57801 15.27011,-2.57801c26.04038,0 47.14943,21.11501 47.14943,47.16382c0,26.04881 -21.10862,47.16433 -47.14911,47.16433c-26.04038,0 -47.14911,-21.11552 -47.14911,-47.16433c0,-0.02378 0.00237,-0.0427 0.00237,-0.06418z' fill='%23dadfea' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: contain;
      content: '';
    }
  }

  &__heading {
    max-width: 690px;
    margin-bottom: rem(28px);
    font-size: rem(34px);

    @include media-breakpoint-down(lg) {
      max-width: 60%;
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
      font-size: rem(21px);
    }
  }

  &__text {
    margin-bottom: rem(47px);

    @include media-breakpoint-down(lg) {
      max-width: 60%;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: rem(32px);
      font-size: rem(14px);
    }
  }

  &__author {
    position: relative;
    margin-left: auto;
    font-weight: 300;
    font-size: rem(24px);
    font-style: normal;

    span {
      display: block;
      font-size: rem(15px);
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &__text-wrap {
    display: flex;

    @include media-breakpoint-down(lg) {
      max-width: 60%;
    }
  }

  &__img {
    position: absolute;
    right: -380px;
    bottom: 0;

    @include media-breakpoint-down(lg) {
      right: -110px;
    }

    @include media-breakpoint-down(sm) {
      right: -170px;
      z-index: -1;
    }
  }
}
