.related-products {
  &__heading {
    margin-bottom: rem(32px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(18px);
      font-size: rem(20px);
    }
  }

  &__related-product {
    padding: rem(30px 20px);
    background-color: #fff;
    border: 1px solid #dadfea;

    @include media-breakpoint-down(md) {
      padding: rem(25px 15px);
    }
  }

  &__carousel {
    .related-product {
      width: 25%;

      @include media-breakpoint-down(lg) {
        width: 33.33%;
      }

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  &__control {
    &--prev {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 50px;
      height: 36px;
      margin: auto;
      background-color: #e2e2e0;
      transform: rotate(180deg);
    }

    &--next {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 50px;
      height: 36px;
      margin: auto;
      background-color: #e2e2e0;
    }
  }
}

.related-product {
  &__header {
    display: flex;
    height: 125px;
    margin-bottom: rem(38px);

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      max-width: 160px;
      height: auto;
      margin: auto;
      margin-bottom: rem(20px);
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85px;

    @include media-breakpoint-down(md) {
      height: 80px;
      margin-bottom: rem(16px);
    }

    &-link {
      flex: 0 1 45%;
      max-width: 150px;

      @include media-breakpoint-down(md) {
        flex: 0 1 100%;
        max-width: 100%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__link {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }

  &__meta {
    position: relative;
    flex: 0 1 48%;
    margin-left: auto;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      margin-left: 0;
    }
  }

  &__rating-wrap {
    display: flex;
    margin-bottom: rem(32px);
  }

  &__rating {
    display: flex;
    align-items: center;

    svg {
      margin-right: 4px;

      &.filled path {
        fill: #f6705a;
      }
    }
  }

  &__old-price {
    position: absolute;
    top: 36px;
    left: 0;
    color: #7b7b7b;
    line-height: 1;
    text-decoration: line-through;
  }

  &__price {
    font-weight: 400;
    font-size: rem(20px);
    line-height: 1;
  }

  &__benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-top: rem(14px);
    padding: rem(5px);
    color: #d20000;
    font-weight: 400;
    font-size: rem(14px);
    border: 1px solid #d20000;
    border-radius: 2px;
  }

  &__category {
    display: block;
    margin-bottom: rem(14px);
    color: #717171;
    font-weight: 400;
    font-size: rem(14px);

    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    height: 60px;
    margin-bottom: 0;
    font-size: rem(17px);
  }

  &__amount {
    font-weight: 700;
    font-size: rem(20px);
  }
}
