.seo {
  &__heading {
    max-width: 675px;
    margin-bottom: rem(42px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 295px;
    margin-bottom: rem(25px);

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__content {
    h2 {
      margin-bottom: rem(42px);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(30px);
      }
    }

    p {
      font-weight: 300;
    }

    &--hidden {
      display: none;
    }
  }

  &__link {
    font-weight: 400;
  }

  &__content-show {
    @include media-breakpoint-down(md) {
      font-size: rem(14px);
    }
  }
}
