.services {
  &__heading {
    margin-bottom: rem(32px);
    font-size: rem(24px);
  }

  &__list {
    @include unlist;

    display: grid;
    grid-gap: rem(22px);
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(md) {
      grid-gap: 15px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    width: 100%;
    color: #fff;
    background-color: #0054d3;

    &--lightblue {
      background-color: #2b5dc1;
    }

    &--darkblue {
      background-color: #00337f;
    }

    &-body {
      padding: rem(40px 24px);
    }

    &-img {
      display: block;
      width: 100%;
      height: 230px;

      @include autoImg;

      @include media-breakpoint-only(lg) {
        display: none;
      }
    }

    &-title {
      margin-bottom: rem(24px);
      font-size: rem(24px);
    }

    &-desc {
      height: 160px;
      margin-bottom: rem(42px);
      font-weight: 300;
    }

    &-footer {
      display: flex;
      align-items: center;
    }

    &-price {
      font-weight: 700;
      font-size: rem(27px);
    }

    &-btn {
      @extend %btn-outline;
      @extend %btn-outline--white;

      margin-left: auto;
      padding: rem(12px 24px);
      font-size: rem(16px);
    }
  }
}
