.testimonials {
  &__small {
    margin-bottom: rem(36px);
    color: #878787;
    font-size: rem(14px);
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(26px);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(80px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: rem(22px);
    }
  }

  &__heading {
    width: 100%;
    max-width: 345px;
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
      max-width: 370px;
      margin-bottom: rem(20px);
    }

    @include media-breakpoint-down(sm) {
      max-width: 210px;
    }
  }

  &__quote {
    position: relative;
    margin: 0;
    margin-left: auto;
    padding: rem(30px 60px);
    padding-right: rem(44px);
    font-weight: 300;
    font-size: rem(22px);
    line-height: 1;
    background-color: #f5f6f7;
    border-left: 4px solid #144da3;
    border-radius: 0 0 0 10px;

    @include media-breakpoint-down(md) {
      padding: rem(15px 30px);
      font-size: rem(15px);
    }
  }

  &__list {
    @include unlist;

    &:not(.flickity-enabled) {
      display: flex;
      overflow: hidden;

      .testimonials__item {
        width: auto;
      }
    }

    .flickity-page-dots {
      bottom: -50px;
    }
  }

  &__item {
    width: calc(20% - 6.25px);
    margin-right: 15px;

    @include autoImg;

    @include media-breakpoint-down(lg) {
      width: calc(25% - 6.25px);
    }

    @include media-breakpoint-down(sm) {
      width: calc(50% - 6.25px);
    }
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: -53px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 325px;
    margin: auto;
  }

  &__control {
    z-index: 10;
    width: 26px;
    height: 26px;

    &--prev svg {
      transform: rotate(180deg);
    }
  }
}
