.related-products {
  &__heading {
    margin-bottom: rem(30px);
  }

  &__list {
    @include unlist;

    position: relative;
    margin-bottom: rem(110px);
  }

  &__product {
    width: 25%;
    padding: rem(30px 20px);
    padding-right: rem(20px);
    padding-bottom: rem(40px);
    background-color: #fff;
    border: 1px solid #dadfea;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(62px);
  }

  &__img {
    display: flex;
    flex: 0 1 45%;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 84px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__meta {
    position: relative;
    flex: 0 1 55%;
    width: 100%;
  }

  &__wrap {
    display: flex;
    margin-bottom: rem(38px);

    &--slider {
      display: block;
      max-width: 100px;
      margin-left: auto;
    }
  }

  &__rating {
    svg.filled path {
      fill: #f6705a;
    }
  }

  &__comments {
    margin-left: auto;
  }

  &__old-price {
    position: absolute;
    top: 42px;
    left: 0;
    color: #7b7b7b;
    text-decoration: line-through;
  }

  &__price {
    margin-bottom: rem(10px);
    font-weight: 400;
    font-size: rem(20px);
  }

  &__benefit {
    position: absolute;
    bottom: -25px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 118px;
    margin-top: rem(10px);
    padding: rem(5px);
    color: #d20000;
    font-weight: 400;
    font-size: rem(14px);
    border: 1px solid #d20000;
    border-radius: 2px;
  }

  &__category {
    margin-bottom: rem(18px);
    color: #717171;
    font-weight: 400;
    font-size: rem(14px);
  }

  &__title {
    height: 62px;
    font-weight: 400;
    font-size: rem(17px);
  }

  &__qty {
    font-weight: 700;
    font-size: rem(20px);
  }

  &__control {
    &--prev {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 50px;
      height: 36px;
      margin: auto;
      background-color: #e2e2e0;
      transform: rotate(180deg);
    }

    &--next {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 50px;
      height: 36px;
      margin: auto;
      background-color: #e2e2e0;
    }
  }
}
