{{ header }}
{{ oct_breadcrumbs }}

{% import '/oct_ultrastore/template/macroses/index.twig' as macroses %}

<main class="catalogue">

	{% if categories %}
		<div class="catalogue__subcategories subcategories">
			<div class="container">
				<ul class="subcategories__list">
					{% for category in categories %}
						<li class="subcategories__item">
							<a href="{{ category.href }}" class="subcategories__item-link">
								<picture class="subcategories__item-img">
									<img src='{{ category.image }}' alt='{{ category.name }}' width="120" height="86" loading="lazy">
								</picture>
								<div class="subcategories__item-title">{{ category.name }}</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

  <div class="container">
    <h1 class="catalogue__heading">{{ heading_title }}</h1>
  </div>

	<section class="catalogue__content-wrap">
		<div class="container">
			{% if tags %}
				<div class="catalogue__tags tags">
					<div class="tags__wrap">
						<script>
							function toggleTagsList() {
								const tagsListEl = document.querySelector('.js-tags-list')
								const tagsListBtn = document.querySelector('.js-tags-list-btn')

								if (tagsListEl.classList.contains('expanded')) {
									tagsListEl.classList.remove('expanded')
									tagsListBtn.textContent = 'Показать ещё'
								} else {
									tagsListEl.classList.add('expanded')
									tagsListBtn.textContent = 'Скрыть'
								}
							}
						</script>
						<ul class="tags__list js-tags-list">
							{% for tag in tags %}
								<li class="tags__item">
									<a href="{{ tag.href }}" class="tags__link">{{ tag.tag }}</a>
								</li>
							{% endfor %}
						</ul>
						<a href="javascript:" onclick="toggleTagsList()" class="tags__action-link tags__action-link--more js-tags-list-btn">
							Показать ещё
						</a>
					</div>
				</div>
			{% endif %}

			<div class="catalogue__wrap">
				{#mobile#}
				<div class="catalogue__togglers">
					<button class="catalogue__filter-toggler" type="button" data-toggle="filters">Фильтр</button>
					<button class="catalogue__filter-toggler" type="button" data-toggle="orderby">Сортировка</button>
				</div>

				{{ column_left }}

				<div class="catalogue__content">
					<div class="catalogue__content-header">
						{{ macroses.sort(sorts, sort, order) }}

						{{ macroses.viewButtons(display_type) }}
					</div>

					{{ macroses.products(display_type, products) }}

					<div class="catalogue__pagination pagination">
						{{ pagination }}
						{{ results }}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="catalogue__about-company about-company">
		<div class="about-company__wrap about-company__wrap--one-row">
			<div class="container">
				{{ advantages_block }}
			</div>
		</div>
	</section>

	<section class="catalogue__seo seo">
		<div class="container">
			<div class="seo__content js-description" style="overflow: hidden">
				{{ description }}
			</div>

			<button class="seo__link js-expand-description" style="margin-top: 20px;" onclick="expandDescription()">
				Подробнее

				<svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5">
					<path d="M8.8 0.9v0l-3.5 3.3v0l0 0v0l-0.9 0.8v0l-4.4-4.1v0l0.9-0.8v0l3.5 3.3v0l3.5-3.3v0z"
						  fill="#003cff" />
					<path d="M8.8 0.9v0l-3.5 3.3v0l0 0v0l-0.9 0.8v0l-4.4-4.1v0l0.9-0.8v0l3.5 3.3v0l3.5-3.3v0z"
						  fill="#144da4" />
				</svg>
			</button>

			<script>
				if (document.querySelector('.js-description').offsetHeight < 150) {
					document.querySelector('.js-expand-description').remove()
				} else {
					document.querySelector('.js-description').style.maxHeight = '150px'
				}

				function expandDescription() {
					document.querySelector('.js-description').style.maxHeight = 'unset'
					document.querySelector('.js-expand-description').remove()
				}
			</script>
		</div>
	</section>
</main>

{{ footer }}
