{{ header }}
{{ oct_breadcrumbs }}
{% import '/oct_ultrastore/template/macroses/index.twig' as macroses %}

<main class="comparison">
	<div class="container">
		<section class="comparison__comparison-table comparison-table">
			<h1 class="comparison__heading">
				{{ heading_title }}
				{#<span class="comparison__item-count">17</span>#}
			</h1>

			{% if products %}
				<div class="comparison-table__tabs tabs">
					{#<ul class="tabs__list" role="tablist">
						<li class="tabs__item">
							<a href="#walled" class="tabs__link tabs__link--active" role="tab">
								Настенные
								<span class="tabs__item-count">17</span>
							</a>
						</li>
						<li class="tabs__item">
							<a href="#mobile" class="tabs__link" role="tab">
								Мобильные кондиционеры
								<span class="tabs__item-count">17</span>
							</a>
						</li>
					</ul>#}

					<div class="tabs__content">
						<div class="tabs__pane" id="walled" style="display: block;" role="tabpanel">
							<div class="comparison-table__wrap">
								<div class="comparison-table__attributes">
									<div class="comparison-table__actions">
										{#<div class="comparison-table__form form">
											<div class="form__group form__group--checkbox mb-0">
												<input class="form__control" type="checkbox" name="differences"
													   id="differences">
												<label for="differences" class="form__label form__label--small mb-0">
													Только различия
												</label>
											</div>
										</div>

										<button class="comparison-table__btn">Очистить лист сравнения</button>

										<div class="comparison-table__cross-category">
											Другие товары из категории
											<a href="" class="compariso-table__link d-block">Настенные сплит-системы</a>
										</div>#}
									</div>

									<ul class="comparison-table__attributes-list">
										<li class="comparison-table__attributes-item" data-popup="{{ text_manufacturer }}">{{ text_manufacturer }}</li>
										<li class="comparison-table__attributes-item" data-popup="{{ text_availability }}">{{ text_availability }}</li>
										<li class="comparison-table__attributes-item" data-popup="{{ text_rating }}">{{ text_rating }}</li>
										<li class="comparison-table__attributes-item" data-popup="{{ text_dimension }}">{{ text_dimension }}</li>

										{% for attribute_group in attribute_groups %}
											{% for key, attribute in attribute_group.attribute %}
												<li class="comparison-table__attributes-item" data-popup="{{ attribute.name }}">{{ attribute.name ?: '-' }}</li>
											{% endfor %}
										{% endfor %}
									</ul>
								</div>

								<div class="comparison-table__products">
									<ul class="comparison-table__products-list">
										{% for product in products %}
											<li class="comparison-table__product">
												<div class="comparison-table__product-header">
                          <div class="text-right"><a href="{{ product.remove }}">Удалить</a></div>
													<div class="comparison-table__product-item product-item">
														{{ macroses.productCardGrid(product) }}
													</div>
												</div>

												<ul class="comparison-table__product-attributes js-compare-popups">
													<li class="comparison-table__attributes-item js-compare-popup" data-title-sm="{{ text_manufacturer }}" data-toggle="tooltip" data-original-title="{{ product.manufacturer ?: "-" }}">{{ product.manufacturer ?: "-" }}</li>
													<li class="comparison-table__attributes-item" data-title-sm="{{ text_availability }}" data-toggle="tooltip" data-original-title="{{ product.availability ?: "-" }}">{{ product.availability ?: "-" }}</li>
													<li class="comparison-table__attributes-item" data-title-sm="{{ text_rating }}" data-toggle="tooltip" data-original-title="{{ product.rating ?: "-" }}">{{ product.rating ?: "-" }}</li>
													<li class="comparison-table__attributes-item" data-title-sm="{{ text_dimension }}" data-toggle="tooltip" data-original-title="{{ product.dimension ?: "-" }}">{{ product.dimension ?: "-" }}</li>

													{% for attribute_group in attribute_groups %}
														{% for key, attribute in attribute_group.attribute %}
															<li class="comparison-table__attributes-item" data-title-sm="{{ attribute.name }}" data-toggle="tooltip" data-original-title="{{ product.attribute[key] is defined ? product.attribute[key] : "-" }}">
																{{ product.attribute[key] is defined ? product.attribute[key] ?: "-" : "-" }}
															</li>
														{% endfor %}
													{% endfor %}

													<script>
														/*const comparePopupsContainerEl = document.querySelector('.js-compare-popups')
														const comparePopupEls = comparePopupsContainerEl.querySelectorAll('.js-compare-popup')

														comparePopupEls.forEach(comparePopupEl => {
															comparePopupEl.addEventListener('mouseover', e => {
																const posX = e.clientX
																const posY = e.clientY


															})
														})*/
													</script>
												</ul>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						{#<div class="tabs__pane" id="mobile" role="tabpanel">
							<div class="comparison-table__wrap">
								<div class="comparison-table__attributes">
									<div class="comparison-table__actions">

										<div class="comparison-table__form form">
											<div class="form__group form__group--checkbox mb-0">
												<input class="form__control" type="checkbox" name="differences"
													   id="differences">
												<label for="differences" class="form__label form__label--small mb-0">
													Только различия
												</label>
											</div>
										</div>

										<button class="comparison-table__btn">Очистить лист сравнения</button>

										<div class="comparison-table__cross-category">
											Другие товары из категории
											<a href="" class="compariso-table__link d-block">Настенные сплит-системы</a>
										</div>

									</div>

									<ul class="comparison-table__attributes-list">
										<li class="comparison-table__attributes-item" data-popup="Артикул">
											Артикул
										</li>
										<li class="comparison-table__attributes-item" data-popup="Режим работы">
											Режим работы
										</li>
										<li class="comparison-table__attributes-item" data-popup="Инверторное управление">
											Инверторное
											управление
										</li>
										<li class="comparison-table__attributes-item" data-popup="Мощность охлаждения">
											Мощность
											охлаждения
										</li>
										<li class="comparison-table__attributes-item"
											data-popup="Максимальный воздушный поток">
											Максимальный воздушный поток
										</li>
										<li class="comparison-table__attributes-item"
											data-popup="Фильтры тонкой очистки воздуха">
											Фильтры тонкой очистки воздуха
										</li>
										<li class="comparison-table__attributes-item" data-popup="Дезодорирующий фильтр">
											Дезодорирующий
											фильтр
										</li>
										<li class="comparison-table__attributes-item"
											data-popup="Количество скоростей вращения вентилятора">
											Количество скоростей
											вращения
											вентилятора
										</li>
										<li class="comparison-table__attributes-item" data-popup="Ночной режим">
											Ночной режим
										</li>
										<li class="comparison-table__attributes-item"
											data-popup="Потребляемая мощность при охлаждении">
											Потребляемая мощность при охлаждении
										</li>
										<li class="comparison-table__attributes-item" data-popup="Минимальный уровень шума">
											Минимальный
											уровень шума
										</li>
										<li class="comparison-table__attributes-item" data-popup="Теплый пуск">
											Теплый пуск
										</li>
									</ul>
								</div>

								<div class="comparison-table__products">
									<ul class="comparison-table__products-list">

										<li class="comparison-table__product">
											<div class="comparison-table__product-header">
												<div class="comparison-table__product-item product-item">
													<div class="products__product-item product-item">
														<div class="product-item__wrap">
															<div class="product-item__header">
																<div class="product-item__tags">
																	<div
																			class="product-item__tag product-item__tag--installment">
																		Рассрочка <br>
																		0-0-6/0-0-10/0-0-18
																	</div>
																</div>
															</div>
															<a href="" class="product-item__img-link">
																<picture class="product-item__img">
																	<source srcset="/image/static/img/placeholder/product4.webp"
																			type="image/webp">
																	<img src="/image/static/img/placeholder/product4.png" alt="">
																</picture>
															</a>
															<a href="" class="product-item__title">Сплит-система Electrolux
																Air Gate
																EACS-09HG-B/N3</a>
															<div class="product-item__footer">
																<div class="product-item__price">
																	<div class="product-item__old-price">74 966 ₽</div>
																	72 000 ₽
																</div>
																<div class="product-item__benefit">
																	Выгода 2 966 ₽
																</div>
																<div class="product-item__footer-bottom">
																	<button
																			class="product-item__btn product-item__btn--cart">
																		<svg xmlns="http://www.w3.org/2000/svg" width="20"
																			 height="21" viewBox="0 0 20 21">
																			<path
																					d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z">
																			</path>
																		</svg>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<ul class="comparison-table__product-attributes">
												<li class="comparison-table__attributes-item" data-title-sm="Артикул">473046
												</li>
												<li class="comparison-table__attributes-item" data-title-sm="Режим работы">
													охлаждение
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Инверторное управление">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Мощность охлаждения">2500
													Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Максимальный воздушный поток">9,3 куб.м/мин.</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Фильтры тонкой очистки воздуха">нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Дезодорирующий фильтр">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Количество скоростей вращения вентилятора">4</li>
												<li class="comparison-table__attributes-item" data-title-sm="Ночной режим">
													нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Потребляемая мощность при охлаждении">2300 Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Минимальный уровень шума">
													25 дБ</li>
												<li class="comparison-table__attributes-item" data-title-sm="Теплый пуск">
													нет</li>
											</ul>
										</li>

										<li class="comparison-table__product">
											<div class="comparison-table__product-header">
												<div class="comparison-table__product-item product-item">
													<div class="products__product-item product-item">
														<div class="product-item__wrap">
															<div class="product-item__header">
																<div class="product-item__tags">
																	<div
																			class="product-item__tag product-item__tag--installment">
																		Рассрочка <br>
																		0-0-6/0-0-10/0-0-18
																	</div>
																</div>
															</div>
															<a href="" class="product-item__img-link">
																<picture class="product-item__img">
																	<source srcset="/image/static/img/placeholder/product4.webp"
																			type="image/webp">
																	<img src="/image/static/img/placeholder/product4.png" alt="">
																</picture>
															</a>
															<a href="" class="product-item__title">Сплит-система Electrolux
																Air Gate
																EACS-09HG-B/N3</a>
															<div class="product-item__footer">
																<div class="product-item__price">
																	<div class="product-item__old-price">74 966 ₽</div>
																	72 000 ₽
																</div>
																<div class="product-item__benefit">
																	Выгода 2 966 ₽
																</div>
																<div class="product-item__footer-bottom">
																	<button
																			class="product-item__btn product-item__btn--cart">
																		<svg xmlns="http://www.w3.org/2000/svg" width="20"
																			 height="21" viewBox="0 0 20 21">
																			<path
																					d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z">
																			</path>
																		</svg>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<ul class="comparison-table__product-attributes">
												<li class="comparison-table__attributes-item" data-title-sm="Артикул">473046
												</li>
												<li class="comparison-table__attributes-item" data-title-sm="Режим работы">
													охлаждение
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Инверторное управление">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Мощность охлаждения">2500
													Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Максимальный воздушный поток">9,3 куб.м/мин.</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Фильтры тонкой очистки воздуха">нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Дезодорирующий фильтр">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Количество скоростей вращения вентилятора">4</li>
												<li class="comparison-table__attributes-item" data-title-sm="Ночной режим">
													нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Потребляемая мощность при охлаждении">2300 Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Минимальный уровень шума">
													25 дБ</li>
												<li class="comparison-table__attributes-item" data-title-sm="Теплый пуск">
													нет</li>
											</ul>
										</li>

										<li class="comparison-table__product">
											<div class="comparison-table__product-header">
												<div class="comparison-table__product-item product-item">
													<div class="products__product-item product-item">
														<div class="product-item__wrap">
															<div class="product-item__header">
																<div class="product-item__tags">
																	<div
																			class="product-item__tag product-item__tag--installment">
																		Рассрочка <br>
																		0-0-6/0-0-10/0-0-18
																	</div>
																</div>
															</div>
															<a href="" class="product-item__img-link">
																<picture class="product-item__img">
																	<source srcset="/image/static/img/placeholder/product4.webp"
																			type="image/webp">
																	<img src="/image/static/img/placeholder/product4.png" alt="">
																</picture>
															</a>
															<a href="" class="product-item__title">Сплит-система Electrolux
																Air Gate
																EACS-09HG-B/N3</a>
															<div class="product-item__footer">
																<div class="product-item__price">
																	<div class="product-item__old-price">74 966 ₽</div>
																	72 000 ₽
																</div>
																<div class="product-item__benefit">
																	Выгода 2 966 ₽
																</div>
																<div class="product-item__footer-bottom">
																	<button
																			class="product-item__btn product-item__btn--cart">
																		<svg xmlns="http://www.w3.org/2000/svg" width="20"
																			 height="21" viewBox="0 0 20 21">
																			<path
																					d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z">
																			</path>
																		</svg>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<ul class="comparison-table__product-attributes">
												<li class="comparison-table__attributes-item" data-title-sm="Артикул">473046
												</li>
												<li class="comparison-table__attributes-item" data-title-sm="Режим работы">
													охлаждение
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Инверторное управление">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Мощность охлаждения">2500
													Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Максимальный воздушный поток">9,3 куб.м/мин.</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Фильтры тонкой очистки воздуха">нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Дезодорирующий фильтр">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Количество скоростей вращения вентилятора">4</li>
												<li class="comparison-table__attributes-item" data-title-sm="Ночной режим">
													нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Потребляемая мощность при охлаждении">2300 Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Минимальный уровень шума">
													25 дБ</li>
												<li class="comparison-table__attributes-item" data-title-sm="Теплый пуск">
													нет</li>
											</ul>
										</li>

										<li class="comparison-table__product">
											<div class="comparison-table__product-header">
												<div class="comparison-table__product-item product-item">
													<div class="products__product-item product-item">
														<div class="product-item__wrap">
															<div class="product-item__header">
																<div class="product-item__tags">
																	<div
																			class="product-item__tag product-item__tag--installment">
																		Рассрочка <br>
																		0-0-6/0-0-10/0-0-18
																	</div>
																</div>
															</div>
															<a href="" class="product-item__img-link">
																<picture class="product-item__img">
																	<source srcset="/image/static/img/placeholder/product4.webp"
																			type="image/webp">
																	<img src="/image/static/img/placeholder/product4.png" alt="">
																</picture>
															</a>
															<a href="" class="product-item__title">Сплит-система Electrolux
																Air Gate
																EACS-09HG-B/N3</a>
															<div class="product-item__footer">
																<div class="product-item__price">
																	<div class="product-item__old-price">74 966 ₽</div>
																	72 000 ₽
																</div>
																<div class="product-item__benefit">
																	Выгода 2 966 ₽
																</div>
																<div class="product-item__footer-bottom">
																	<button
																			class="product-item__btn product-item__btn--cart">
																		<svg xmlns="http://www.w3.org/2000/svg" width="20"
																			 height="21" viewBox="0 0 20 21">
																			<path
																					d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z">
																			</path>
																		</svg>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<ul class="comparison-table__product-attributes">
												<li class="comparison-table__attributes-item" data-title-sm="Артикул">473046
												</li>
												<li class="comparison-table__attributes-item" data-title-sm="Режим работы">
													охлаждение
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Инверторное управление">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Мощность охлаждения">2500
													Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Максимальный воздушный поток">9,3 куб.м/мин.</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Фильтры тонкой очистки воздуха">нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Дезодорирующий фильтр">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Количество скоростей вращения вентилятора">4</li>
												<li class="comparison-table__attributes-item" data-title-sm="Ночной режим">
													нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Потребляемая мощность при охлаждении">2300 Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Минимальный уровень шума">
													25 дБ</li>
												<li class="comparison-table__attributes-item" data-title-sm="Теплый пуск">
													нет</li>
											</ul>
										</li>

										<li class="comparison-table__product">
											<div class="comparison-table__product-header">
												<div class="comparison-table__product-item product-item">
													<div class="products__product-item product-item">
														<div class="product-item__wrap">
															<div class="product-item__header">
																<div class="product-item__tags">
																	<div
																			class="product-item__tag product-item__tag--installment">
																		Рассрочка <br>
																		0-0-6/0-0-10/0-0-18
																	</div>
																</div>
															</div>
															<a href="" class="product-item__img-link">
																<picture class="product-item__img">
																	<source srcset="/image/static/img/placeholder/product4.webp"
																			type="image/webp">
																	<img src="/image/static/img/placeholder/product4.png" alt="">
																</picture>
															</a>
															<a href="" class="product-item__title">Сплит-система Electrolux
																Air Gate
																EACS-09HG-B/N3</a>
															<div class="product-item__footer">
																<div class="product-item__price">
																	<div class="product-item__old-price">74 966 ₽</div>
																	72 000 ₽
																</div>
																<div class="product-item__benefit">
																	Выгода 2 966 ₽
																</div>
																<div class="product-item__footer-bottom">
																	<button
																			class="product-item__btn product-item__btn--cart">
																		<svg xmlns="http://www.w3.org/2000/svg" width="20"
																			 height="21" viewBox="0 0 20 21">
																			<path
																					d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z">
																			</path>
																		</svg>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<ul class="comparison-table__product-attributes">
												<li class="comparison-table__attributes-item" data-title-sm="Артикул">473046
												</li>
												<li class="comparison-table__attributes-item" data-title-sm="Режим работы">
													охлаждение
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Инверторное управление">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Мощность охлаждения">2500
													Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Максимальный воздушный поток">9,3 куб.м/мин.</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Фильтры тонкой очистки воздуха">нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Дезодорирующий фильтр">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Количество скоростей вращения вентилятора">4</li>
												<li class="comparison-table__attributes-item" data-title-sm="Ночной режим">
													нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Потребляемая мощность при охлаждении">2300 Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Минимальный уровень шума">
													25 дБ</li>
												<li class="comparison-table__attributes-item" data-title-sm="Теплый пуск">
													нет</li>
											</ul>
										</li>

										<li class="comparison-table__product">
											<div class="comparison-table__product-header">
												<div class="comparison-table__product-item product-item">
													<div class="products__product-item product-item">
														<div class="product-item__wrap">
															<div class="product-item__header">
																<div class="product-item__tags">
																	<div
																			class="product-item__tag product-item__tag--installment">
																		Рассрочка <br>
																		0-0-6/0-0-10/0-0-18
																	</div>
																</div>
															</div>
															<a href="" class="product-item__img-link">
																<picture class="product-item__img">
																	<source srcset="/image/static/img/placeholder/product4.webp"
																			type="image/webp">
																	<img src="/image/static/img/placeholder/product4.png" alt="">
																</picture>
															</a>
															<a href="" class="product-item__title">Сплит-система Electrolux
																Air Gate
																EACS-09HG-B/N3</a>
															<div class="product-item__footer">
																<div class="product-item__price">
																	<div class="product-item__old-price">74 966 ₽</div>
																	72 000 ₽
																</div>
																<div class="product-item__benefit">
																	Выгода 2 966 ₽
																</div>
																<div class="product-item__footer-bottom">
																	<button
																			class="product-item__btn product-item__btn--cart">
																		<svg xmlns="http://www.w3.org/2000/svg" width="20"
																			 height="21" viewBox="0 0 20 21">
																			<path
																					d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z">
																			</path>
																		</svg>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<ul class="comparison-table__product-attributes">
												<li class="comparison-table__attributes-item" data-title-sm="Артикул">473046
												</li>
												<li class="comparison-table__attributes-item" data-title-sm="Режим работы">
													охлаждение
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Инверторное управление">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Мощность охлаждения">2500
													Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Максимальный воздушный поток">9,3 куб.м/мин.</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Фильтры тонкой очистки воздуха">нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Дезодорирующий фильтр">нет
												</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Количество скоростей вращения вентилятора">4</li>
												<li class="comparison-table__attributes-item" data-title-sm="Ночной режим">
													нет</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Потребляемая мощность при охлаждении">2300 Вт</li>
												<li class="comparison-table__attributes-item"
													data-title-sm="Минимальный уровень шума">
													25 дБ</li>
												<li class="comparison-table__attributes-item" data-title-sm="Теплый пуск">
													нет</li>
											</ul>
										</li>


									</ul>
								</div>
							</div>

						</div>#}
					</div>
				</div>
			{% else %}
				<p>{{ text_empty }}</p>
				<div class="buttons">
					<a href="{{ continue }}" class="us-module-btn mt-3 d-inline-block">{{ button_continue }}</a>
				</div>
			{% endif %}
		</section>
	</div>
</main>

{{ footer }}
