{{ header }}
{{ oct_breadcrumbs }}
{% import '/oct_ultrastore/template/macroses/index.twig' as macroses %}

<main class="catalogue">
	<div class="container">
		<h1 class="catalogue__heading">{{ heading_title }}</h1>
	</div>

	<section class="catalogue__content-wrap">
		<div class="container">
			<div class="catalogue__wrap">
				<div class="catalogue__togglers">
					<button class="catalogue__filter-toggler" data-toggle="orderby">Сортировка</button>
				</div>

				<div class="catalogue__content">
					<div class="catalogue__installment-banner installment-banner">
						<div class="installment-banner__wrap">
							<div class="installment-banner__info">
								<div class="installment-banner__heading">Товары в рассрочку</div>
								<div class="installment-banner__subheading">Удобный способ не откладывать покупку</div>
							</div>

							<picture class='installment-banner__img'>
								<source srcset='/image/static/img/img/installment-banner.webp' type='image/webp'>
								<img src='/image/static/img/img/installment-banner.png' alt=''>
							</picture>

							<a href="{{ installment_link }}" class="installment-banner__btn">Ознакомиться с условиями</a>
						</div>
					</div>

					<div class="catalogue__content-header">
						{{ macroses.sort(sorts, sort, order) }}

						{{ macroses.viewButtons(display_type) }}
					</div>

					{{ macroses.products(display_type, products) }}

					<div class="catalogue__pagination pagination">
						{{ pagination }}
						{{ results }}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="catalogue__about-company about-company">
		<div class="about-company__wrap about-company__wrap--one-row">
			<div class="container">
				{{ advantages_block }}
			</div>
		</div>
	</section>
</main>

{{ footer }}
