{{ header }}
{{ oct_breadcrumbs }}

<main class="brands-page">
	<div class="container">
		<h1 class="brands-page__heading"></h1>

		<div class="brands-page__brands-alphabet brands-alphabet">
			<div class="brands-alphabet__content">
				<div class="row">
					{#<div class="col-lg-2">
						<ul class="brands-alphabet__list">
							<li class="brands-alphabet__item">
								<a href="" class="brands-alphabet__link">Все бренды</a>
							</li>
							<li class="brands-alphabet__item">
								<a href="" class="brands-alphabet__link brands-alphabet__link--active">Популярные</a>
							</li>
						</ul>
					</div>#}
{#					<div class="col-lg-10">#}
						<ul class="brands-alphabet__alphabet-list">
							{% for category in categories %}
								<li class="brands-alphabet__alphabet-item">
									<a href="javascript:;" onclick="scrollToElement('#{{ category.name }}');" class="brands-alphabet__link">{{ category.name }}</a>
								</li>
							{% endfor %}
						</ul>
{#					</div>#}
				</div>
			</div>
		</div>

		<section class="brands-page__content">
			{#<div class="brands-page__brands-sidebar brands-sidebar">
				<div class="brands-sidebar__content">
					<ul class="brands-sidebar__list">
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Водонагреватели
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Кондиционеры
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Насосы
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Котлы отопления
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Промышленные кондиционеры
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Вентиляция
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Обогреватели
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Камины и печи
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Микроклимат
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
						<li class="brands-sidebar__item">
							<a href="" class="brands-sidebar__item-link">
								Сантехника
								<span class="brands-sidebar__item-count">17</span>
							</a>
						</li>
					</ul>
				</div>
			</div>#}

			<div class="brands-page__brands-list brands-list">
				<ul class="brands-list__list">
					{% for category in categories %}
						<li class="brands-list__item" id="{{ category.name }}">
							<h2 class="brands-list__title">{{ category.name }}</h2>
							<ul class="brands-list__brands">
								{% for manufacturer in category.manufacturer %}
									<li class="brands-list__brand">
										<a href="{{ manufacturer.href }}" class="brands-list__brand-logo">
											<img src='{{ manufacturer.image }}' alt=''>
										</a>
										<a href="{{ manufacturer.href }}" class="brands-list__brand-name">{{ manufacturer.name }}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</div>
</main>

		{#{% for category in categories %}
			<div id="{{ category.name }}" class="us-manufacturer-title">{{ category.name }}</div>
			{% if category.manufacturer %}
			{% for manufacturers in category.manufacturer|batch(4) %}
			<div class="us-manufacturer-item">
				<div class="row">
					{% for manufacturer in manufacturers %}
					<a href="{{ manufacturer.href }}" class="us-manufacturer-card d-flex flex-column align-items-center">
					{% if manufacturer.image is defined and manufacturer.image %}
					<img src="{{ manufacturer.image }}" alt="{{ manufacturer.name }}">
					{% endif %}
					<span class="us-manufacturer-card-title">{{ manufacturer.name }}</span>
					</a>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			{% endif %}
		{% endfor %}#}


{{ footer }}
