{{ header }}
{{ oct_breadcrumbs }}

{% import '/oct_ultrastore/template/macroses/index.twig' as macroses %}

<main class="catalogue">
	<div class="container">
		<h1 class="catalogue__heading">Продукция компании {{ heading_title }}</h1>
	</div>

	<section class="catalogue__content-wrap">
		<div class="container">
			<div class="catalogue__wrap">
				{#mobile#}
				<div class="catalogue__togglers">
					<button class="catalogue__filter-toggler" data-toggle="orderby">Сортировка</button>
				</div>

				<div class="catalogue__content">
					<div class="catalogue__content-header">
						{{ macroses.sort(sorts, sort, order) }}

						{{ macroses.viewButtons(display_type) }}
					</div>

					{{ macroses.products(display_type, products) }}

					<div class="catalogue__pagination pagination">
						{{ pagination }}
						{{ results }}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="catalogue__about-company about-company">
		<div class="about-company__wrap about-company__wrap--one-row">
			<div class="container">
				{{ advantages_block }}
			</div>
		</div>
	</section>

	<section class="catalogue__seo seo">
		<div class="container">
			<div class="seo__content">
				{{ desctiption }}{% if long_description %}...{% endif %}

				{% if long_description %}
					<a href="" data-action="show_more" class="seo__link">
						Подробнее

						<svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5">
							<path d="M8.8 0.9v0l-3.5 3.3v0l0 0v0l-0.9 0.8v0l-4.4-4.1v0l0.9-0.8v0l3.5 3.3v0l3.5-3.3v0z"
								  fill="#003cff" />
							<path d="M8.8 0.9v0l-3.5 3.3v0l0 0v0l-0.9 0.8v0l-4.4-4.1v0l0.9-0.8v0l3.5 3.3v0l3.5-3.3v0z"
								  fill="#144da4" />
						</svg>
					</a>

					<div class="seo__content seo__content--hidden" data-target="show_more">
						{{ long_description }}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
</main>

{{ footer }}
