{{ header }}
{{ oct_breadcrumbs }}

{% import '/oct_ultrastore/template/macroses/index.twig' as macroses %}

<main class="product-page mb-0">
  <section class="product-page__content">
    <div class="container">
      <div class="product-page__header">
        <h1 class="product-page__heading">{{ heading_title }}</h1>
      </div>
      <div class="product-page__row">
        <div class="product-page__left-col">
          <div class="product-page__product-gallery product-gallery">
            <div class="product-gallery__nav">
              {% for pic in pics %}
                <picture class='product-gallery__img product-gallery__img--thumbnail'>
                  <img src='{{ pic.image }}' alt='{{ heading_title }}' width="107" height="101">
                </picture>
              {% endfor %}
            </div>
            <div class="product-gallery__main">
              {% for pic in pics %}
                <div class="product-gallery__img product-gallery__img--full">
                  <a href="{{ pic.image }}" data-fancybox="product-gallery" class="href">
                    <picture>
                      <img src='{{ pic.image }}' alt='{{ heading_title }}' width="424" height="358">
                    </picture>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="product-page__meta">
            <div class="product-page__sku-container">
              <div class="product-page__sku">Артикул: {{ sku ?: model ?: product_id }}</div>

              <div>
                {{ macroses.component_buttons({'product_id': product_id}) }}
              </div>
            </div>

            {% if max_quantity > 0 %}
              <div class="product-page__availability product-page__availability--in-stock">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8">
                  <path
                    d="M3.5 7.5c-0.1 0-0.3-0.1-0.4-0.1l-3-3c-0.2-0.2-0.2-0.5 0-0.7 0.2-0.2 0.5-0.2 0.7 0l2.6 2.6v0l5.6-5.6c0.2-0.2 0.5-0.2 0.7 0 0.2 0.2 0.2 0.5 0 0.7l-6 6c-0.1 0.1-0.2 0.1-0.4 0.1z"
                    fill="#37b389"/>
                </svg>
                В наличии
              </div>
            {% else %}
              <div class="product-page__availability product-page__availability--unavailable">Нет в наличии</div>
            {% endif %}
            <div class="product-page__rating" style="margin-top: 20px;">
              <div class="product-page__rating-wrap">
                {% for i in 1..5 %}
                  {% if rating >= i %}
                    <svg class="filled" xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                         viewBox="0 0 14 13">
                      <path
                        d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
                        fill="#d7d9e6"/>
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
                      <path
                        d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
                        fill="#d7d9e6"/>
                    </svg>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="product-page__comments">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="#afb7cf"
                        d="M14.3 2.4v7.7c0 0.4-0.3 0.7-0.7 0.7h-6l-3.1 2.2v-2.2h-2.1c-0.4 0-0.7-0.3-0.7-0.7v-7.7c0-0.4 0.3-0.7 0.7-0.7h11.2c0.4 0 0.7 0.3 0.7 0.7zM2.4 0.3c-1.2 0-2.1 0.9-2.1 2.1v7.7c0 1.2 0.9 2.1 2.1 2.1h0.7v3.5l4.9-3.5h5.6c1.2 0 2.1-0.9 2.1-2.1v-7.7c0-1.2-0.9-2.1-2.1-2.1z"/>
                </svg>
                {{ total_reviews }}
              </div>

              <a href="#" class="product-page__review-link" data-toggle="modal" data-target="#us-review-modal">Оставить
                свой отзыв</a>
            </div>
          </div>
        </div>
        <div class="product-page__right-col">
          <div class="product-page__product-info product-info">
            <div class="product-info__header">
              {% if special %}
                <div class="product-info__old-price">
                  {{ price }}
                </div>
                <div class="product-info__benefit">
                  <span class="product-info__benefit-percentage">-{{ benefit_percent }}%</span>
                  <span class="product-info__benefit-text">Выгода {{ benefit }}</span>
                </div>
              {% endif %}

              <a href="javascript:" onclick="octPopupFoundCheaper({{ product_id }})" class="product-info__high-price">
                Завышена цена?
              </a>
            </div>

            <div class="product-info__price-wrap">
              <div class="product-info__price">{{ special ?: price }}</div>

              <div class="product-info__credit">
                {% if price_kredit_tip_1_cur %}
                  В кредит от {{ price_kredit_tip_1_cur }}\месяц
                {% elseif price_kredit_tip_2_cur %}
                  В кредит от {{ price_kredit_tip_2_cur }}\месяц
                {% endif %}
              </div>
            </div>

            <div class="product-info__btns">
              {% if max_quantity == 0 %}
                <button class="js-product-button-1 product-info__btn product-info__btn--add-to-cart"
                        style="flex-basis: unset">
                  {{ is_actual_price ? 'Предзаказ' : 'Уточняйте сроки поставки' }}
                </button>
              {% elseif product.price != "Цена по запросу" %}
                <button class="js-product-button-2 product-info__btn product-info__btn--add-to-cart">В корзину</button>

                <button class="js-product-button-3 product-info__btn product-info__btn--one-click">Купить в 1 клик
                </button>
              {% else %}
                <button class="js-product-button-4 product-info__btn product-info__btn--add-to-cart"
                        style="flex: unset;">Запросить цену
                </button>
              {% endif %}
            </div>
          </div>

          {% if attribute_groups and (oct_ultrastore_data.product_atributes is defined and oct_ultrastore_data.product_atributes == 'on') %}
            <div class="product-page__product-attributes product-attributes">
              <div class="product-attributes__heading">Основные параметры</div>

              <ul class="product-attributes__list">
                {% set break = 1 %}
                {% for attribute_group in attribute_groups %}
                  {% for attribute in attribute_group.attribute if break != 5 %}
                    <li class="product-attributes__item"><span>{{ attribute.name }}:</span> {{ attribute.text }}</li>
                    {% set break = break + 1 %}
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="product-page__tabs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="tabs__list" role="tablist">
            <li class="tabs__item">
              <a href="#about" class="tabs__link tabs__link--active" role="tab">
                О товаре
              </a>
            </li>
            <li class="tabs__item">
              <a href="#ttx" class="tabs__link" role="tab">
                Характеристики
              </a>
            </li>
            <li class="tabs__item">
              <a href="#reviews" class="tabs__link" role="tab">
                Отзывы
                <span class="tabs__item-count">{{ total_reviews }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xl-12">
          <div class="tabs__content">
            <div class="tabs__pane" id="about" style="display: block;" role="tabpanel">
              {{ description }}
            </div>

            <div class="tabs__pane" id="ttx" style="display: none;" role="tabpanel">
              <table class="product-page__specifications-table">
                <tbody>
                {% for attribute_group in attribute_groups %}
                  {% for attribute in attribute_group.attribute %}
                    <tr>
                      <th>{{ attribute.name }}:</th>
                      <td>{{ attribute.text }}</td>
                    </tr>
                  {% endfor %}
                {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="tabs__pane" id="reviews" style="display: none;" role="tabpanel">
              <div class="product-page__reviews reviews">
                {% if oct_reviews_list is not empty %}
                  {{ oct_reviews_list }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{ products_tab }}

{{ content_bottom }}

{% if viewed_products %}
  <section class="product-page__forgotten-products forgotten-products">
    <div class="container">
      <h2 class="forgotten-products__heading">Вы смотрели, но забыли купить</h2>
      {{ viewed_products }}
    </div>
  </section>
{% endif %}

<section class="catalogue__about-company about-company">
  <div class="about-company__wrap about-company__wrap--one-row">
    <div class="container">
      <h2 class="about-company__heading">Почему выбирают нашу компанию?</h2>

      {{ advantages_block }}
    </div>
  </div>
</section>

<div class="modal review-product" id="us-review-modal" tabindex="-1" role="dialog" aria-labelledby="us-review" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content review-product__modal">
      <div class="modal-header">
        <div class="modal-title review-product__header" id="us-review">{{ text_write }}</div>
        <button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
          <span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
        </button>
      </div>
      <div class="modal-body us-modal-body-one-click review-product__body">
        <form id="form-review" class="d-flex review-product__form" data-product-id="{{ product_id }}">
          <div class="us-modal-body-one-click-left text-center review-product__top">
            <img src="{{ thumb }}" class="us-modal-body-img review-product__img" title="{{ heading_title }}" alt="{{ heading_title }}"
                 width="260" height="260">
            <div class="product_title review-product__title">{{ heading_title }}</div>
            <div class="us-review-block d-flex align-items-center justify-content-center review-product__rating">
              <div class="control-label">{{ entry_rating }}</div>
              <div class="review-form-stars d-flex align-items-center">
                {% for i in 5..1 %}
                  <input class="d-none" type="radio" name="rating" value="{{ i }}" id="rating-{{ i }}"/>
                  <label class="review-form-stars__item" for="rating-{{ i }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13"
                         class="review-form-stars__icon">
                      <path
                        d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
                      />
                    </svg>
                  </label>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="us-modal-body-one-click-right review-product__bottom">
            <div class="form-group-20">
              <input type="text" name="name" class="form-control" id="InputName" placeholder="{{ entry_name }}">
            </div>
            <div class="form-group-10">
              <textarea id="input-review" name="text" class="form-control"
                        placeholder="{{ oct_product_yourreview }}"></textarea>
            </div>
            <div class="form-group-20">
              {{ captcha }}
            </div>
            <div class="btn-group" role="group" aria-label="us-cont-btn">
              <button type="submit" id="button-review"
                      class="us-module-btn us-module-btn-green">{{ button_continue }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
document.querySelector('.js-product-button-1')?.addEventListener('click', () => octPopupCallStock({{ product_id }}))
document.querySelector('.js-product-button-2')?.addEventListener('click', () => cart.add('{{ product_id }}'))
document.querySelector('.js-product-button-3')?.addEventListener('click', () => octPopPurchase('{{ product_id }}'))
document.querySelector('.js-product-button-4')?.addEventListener('click', () => octPopupCallPrice('{{ product_id }}'))
</script>

{{ footer }}
