{% if reviews %}
{% for review in reviews %}
<ul class="reviews__list">
	<li class="reviews__review-item review-item">
		<picture class="review-item__img">
			<img src="/catalog/view/theme/oct_ultrastore/img/user-icon.svg" alt="{{ review.author }}">
		</picture>
		<div class="review-item__meta">
			<h2 class="review-item__author">
				{{ review.author }}
			</h2>
			<span class="review-item__date">{{ review.date_added }}</span>
		</div>
		<p class="review-item__text">{{ review.text }}</p>
	</li>
</ul>
{#<div class="us-review-item">
	<div class="row">
		<div class="col-md-3">
			<div class="us-review-info">
				<div class="us-review-icon">
					<img src="catalog/view/theme/oct_ultrastore/img/user-icon.svg" alt="{{ review.author }}">
				</div>
				<div class="us-review-name">{{ review.author }}</div>
				<div class="us-review-date">{{ review.date_added }}</div>
				<div class="us-rating-center d-flex align-items-center">
					<div class="us-module-rating-stars d-flex align-items-center">
					{% for i in 1..5 %}
				      {% if review.rating < i %}
				      <span class="us-module-rating-star"></span>
				      {% else %}
				      <span class="us-module-rating-star us-module-rating-star-is"></span>
				      {% endif %}
				    {% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="us-product-review-block d-flex flex-column">
				<div class="us-review-text">
					<div class="us-review-text-main">{{ review.text }}</div>
				</div>
				{% if review.reply %}
				<div class="us-admin-answer">
					<div class="us-admin-answer-title">{{ oct_product_answer_admin }}</div>
					<div class="us-review-text-main">
						{{ review.reply }}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>#}
{% endfor %}
{{ pagination }}
{% else %}
<p class="no-product-reviews">{{ text_no_reviews }}</p>
{% endif %}
