<ul class="forgotten-products__list">
    {% for product in products %}
        <li class="forgotten-products__item">
            <a class="forgotten-products__item-img" href="{{ product.href }}">
                <picture>
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                </picture>
            </a>
            <div class="forgotten-products__item-content">
                <h3 class="forgotten-products__item-title"><a href="{{ product.href }}">{{ product.name }}</a></h3>
                <div class="forgotten-products__item-prices">
                    <div class="forgotten-products__item-price">{{ product.price }}</div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
