.base-checkbox {
  display: inline-flex;
  align-items: flex-start;
  margin-top: 9px;

  input {
    --active-inner: #3962B3;
    --focus: rgba(57, 98, 179, 0.3);
    --border: #ced2df;
    --border-hover: #3962B3;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid var(--bc, var(--border));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline-color: var(--focus);

      &::placeholder {
        opacity: 0.7;
      }
    }

    &::after {
      position: absolute;
      display: block;
      content: '';
    }

    &:checked {
      --bc: var(--active-inner);
    }

    &:disabled {
      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;

        & + span {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }

    &:hover {
      &:not(:disabled) {
        border-color: var(--border-hover);
      }
    }

    &[type='checkbox'] {
      &::after {
        width: 14px;
        height: 14px;
        background-color: var(--bc);
      }
    }
  }
}
