html {
  @include media-breakpoint-only(lg) {
    font-size: 15px;
  }

  @include media-breakpoint-only(md) {
    font-size: 14px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }

  &.locked {
    overflow: hidden;
  }
}

body {
  overflow-x: hidden;
  color: #000;
  font-weight: 300;
  font-family: 'GTEestiProText';
}

#page {
  @include media-breakpoint-down(md) {
    padding-top: rem(120px);
  }
}

button {
  padding: 0;
  background: none;
  border: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

main {
  margin-bottom: rem(50px);

  @include media-breakpoint-down(md) {
    margin-bottom: rem(30px);
  }
}

a {
  color: #0e55f5;

  &:hover {
    color: $accent;
  }
}

a,
input,
button,
textarea,
select {
  &:focus {
    outline: none;
  }
}

h1 {
  @include media-breakpoint-down(md) {
    font-size: rem(22px);
  }
}

h2 {
  font-size: rem(34px);

  @include media-breakpoint-down(lg) {
    font-size: rem(30px);
  }

  @include media-breakpoint-down(md) {
    font-size: rem(22px);
  }
}

h3 {
  @include media-breakpoint-down(md) {
    font-size: rem(20px);
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}
