@mixin font-face(
  $font-name,
  $svgdesc,
  $font-path,
  // path + file name. Ex : path/to/font/filename
  $font-weight: 400,
  $font-style: normal,
  $support-required: 'modern'
) {
  @font-face {
    font-weight: $font-weight;
    font-family: $font-name;
    font-style: $font-style;
    font-display: swap;

    @if $support-required== 'oldie' {
      src: url('#{$font-path}.eot');
      src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}.woff2') format('woff2'),
        url('#{$font-path}.woff') format('woff'),
        url('#{$font-path}.ttf') format('truetype');
      //url('#{$font-path}.svg##{$svgdesc}') format('svg');
    }

    @if $support-required== 'recent' {
      src: url('#{$font-path}.woff2') format('woff2'),
        url('#{$font-path}.woff') format('woff'),
        url('#{$font-path}.ttf') format('truetype');

      //url('#{$font-path}.svg##{$svgdesc}') format('svg');
    }

    @if $support-required== 'modern' {
      src: url('#{$font-path}.woff2') format('woff2'),
        url('#{$font-path}.woff') format('woff');
      //url('#{$font-path}.svg##{$svgdesc}') format('svg');
    }
  }

  @if $support-required !=
    'oldie' and
    $support-required !=
    'recent' and
    $support-required !=
    'modern'
  {
    @error 'Invalid support-required value. Must be "oldie"==>IE8 and above/ Android native browser 4+/ Safari 4.3 OR "recent"==>IE9+/ Android native browser 4.0+/ Safari 4.3+ OR "modern"==>IE9+/ Android native browser 4.4+/ Safari 5.1+';
  }
}

@include font-face(
  'GTEestiProText',
  'GTEestiProText-Bold',
  '~@/fonts/GTEestiProText-Bold',
  700,
  'oldie'
);
@include font-face(
  'GTEestiProText',
  'GTEestiProText-Light',
  '~@/fonts/GTEestiProText-Light',
  300,
  'oldie'
);
@include font-face(
  'GTEestiProText',
  'GTEestiProText-Regular',
  '~@/fonts/GTEestiProText-Regular',
  400,
  'oldie'
);
@include font-face(
  'GTEestiProText',
  'GTEestiProText-Medium',
  '~@/fonts/GTEestiProText-Medium',
  500,
  'oldie'
);
