<div class="checkout-block__wrap checkout-page__checkout-block checkout-block" id="simplecheckout_shipping_address" {{ hide ? 'data-hide="true"' : '' }} {{ display_error and has_error ? 'data-error="true"' : '' }}>
  {% if display_header %}
      <div class="checkout-block__header">
          <h2 class="checkout-block__heading">Выберите адрес</h2>
      </div>
  {% endif %}
  <div class="simplecheckout-block-content">
    {% for row in rows %}
      {{ row }}
    {% endfor %}
    {% for row in hidden_rows %}
      {{ row }}
    {% endfor %}
  </div>
</div>
