<div class="simplecheckout-block checkout-page_position_sticky" id="simplecheckout_cart" {{ hide ? 'data-hide="true"' : '' }} {{ has_error ? 'data-error="true"' : '' }}>
{% if display_header %}
    <div class="checkout-heading panel-heading">{{ text_cart }}</div>
{% endif %}
{% if attention %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ attention }}</div>
{% endif %}
{% if error_warning %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ error_warning }}</div>
{% endif %}

    <div class="checkout-page__checkout-block mb-2">
        <div class="checkout-block__wrap pb-0">
            <div class="checkout-block__header">
                <h2 class="checkout-block__heading">
                    Состав заказа
                </h2>
                <a href="{{ cart_link }}" class="checkout-block__header-link">Изменить</a>
            </div>

            <ul class="checkout-block__order-list order-list">
                {% for product in products %}
                    <li class="order-list__order-item order-item">
                        <a href="{{ product.link }}" class="order-item__img">
                            <picture>
                                <img src='{{ product.thumb }}' alt=''>
                            </picture>
                        </a>

                        <div class="order-item__body">
                            <a href="{{ product.href }}" class="order-item__title">{{ product.name }}</a>
                            {#<div class="order-item__form form">
                                <div class="form__group form__group--checkbox">
                                    <input class="form__control" type="checkbox" name="montage2" id="montage2">
                                    <label for="montage2" class="form__label">Монтаж кондиционера + 9 900 ₽</label>
                                </div>
                            </div>#}
                        </div>

                        <div class="order-item__quantity">
                            {{ product.quantity}} Х <span class="order-item__price">{{ product.price }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="checkout-block__cart-totals cart-totals">
            <div class="cart-totals__footer">
                <ul class="cart-totals__list">
                    {% for total in totals %}
                        <li class="cart-totals__item cart-totals__item--big" data-total-type="{{  total.code }}" data-total-value="{{ total.value }}">
                            {{ total.title }}: <span style="white-space: nowrap" class="js-value-field">{{ total.text }}</span>
                          {% if total['code'] == 'coupon' %}
                            <i data-onclick="removeCoupon" title="{{ button_remove }}" class="fa fa-times-circle"></i>
                          {% endif %}
                          {% if total['code'] == 'voucher' %}
                            <i data-onclick="removeVoucher" title="{{ button_remove }}" class="fa fa-times-circle"></i>
                          {% endif %}
                          {% if total['code'] == 'reward' %}
                            <i data-onclick="removeReward" title="{{ button_remove }}" class="fa fa-times-circle"></i>
                          {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      {% if modules['coupon'] is defined %}
        <div class="simplecheckout-cart-total">
          <span class="inputs">{{ entry_coupon }}&nbsp;<input class="form-control" type="text" data-onchange="reloadAll" name="coupon" value="{{ coupon }}" /></span>
        </div>
      {% endif %}
      {% if modules['reward'] is defined and points > 0 %}
        <div class="simplecheckout-cart-total">
          <span class="inputs">{{ entry_reward }}&nbsp;<input class="form-control" type="text" name="reward" data-onchange="reloadAll" value="{{ reward }}" /></span>
        </div>
      {% endif %}
      {% if modules['voucher'] is defined %}
        <div class="simplecheckout-cart-total">
          <span class="inputs">{{ entry_voucher }}&nbsp;<input class="form-control" type="text" name="voucher" data-onchange="reloadAll" value="{{ voucher }}" /></span>
        </div>
      {% endif %}
      {% if modules['coupon'] is defined or (modules['reward'] is defined and points > 0) or modules['voucher'] is defined %}
        <div class="simplecheckout-cart-total simplecheckout-cart-buttons">
          <span class="inputs buttons"><a id="simplecheckout_button_cart" data-onclick="reloadAll" class="button btn-primary button_oc btn"><span>{{ button_update }}</span></a></span>
        </div>
      {% endif %}
    </div>
</div>
{% if display_weight %}
  <div style="display:none;" id="simplecheckout_cart_weight">{{ weight }}</div>
{% endif %}
<div style="display:none;" id="simplecheckout_cart_total">{{ cart_total }}</div>
