<div class="simplecheckout-block checkout-block__wrap checkout-page__checkout-block checkout-block" id="simplecheckout_payment" {{ hide ? 'data-hide="true"' : '' }} {{ display_error and has_error ? 'data-error="true"' : '' }}>
    {% if display_header %}
        <div class="checkout-block__header">
            <h2 class="checkout-block__heading">Выберите способ оплаты</h2>
        </div>
    {% endif %}
    <div class="alert alert-danger simplecheckout-warning-block" {{ display_error and has_error_payment ? '' : 'style="display:none"' }}>{{ error_payment }}</div>
    <div class="simplecheckout-block-content">
        {% if payment_methods is not empty %}
            {% if display_type == 2  %}
                {% set current_method = false %}
                <select data-onchange="reloadAll" name="payment_method">
                    {% for payment_method in payment_methods %}
                        <option value="{{ payment_method['code'] }}" {{ payment_method['dummy'] is not empty ? 'disabled="disabled"' : '' }} {{ payment_method['dummy'] is not empty ? 'data-dummy="true"' : '' }} {% if payment_method['code'] == code %}selected="selected"{% endif %}>{{ payment_method['title'] }}</option>
                        {% if payment_method['code'] == code %}
                            {% set current_method = payment_method %}
                        {% endif %}
                    {% endfor %}
                </select>
                {% if current_method %}
                    {% if current_method['description'] is not empty %}
                        <div class="simplecheckout-methods-description">{{ current_method['description'] }}</div>
                    {% endif %}
                    {% if rows is not empty %}
                        {% for row in rows %}
                          {{ row }}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="form__group--radio">
                    {% for payment_method in payment_methods %}
                        <div class="radio">
                            <input class="form__control" type="radio" data-onchange="reloadAll" name="payment_method" value="{{ payment_method['code'] }}" {{ payment_method['dummy'] is not empty ? 'disabled="disabled"' : '' }} {{ payment_method['dummy'] is not empty ? 'data-dummy="true"' : '' }} id="{{ payment_method['code'] }}" {% if payment_method['code'] == code %}checked="checked"{% endif %} />
                            <label class="form__label" for="{{ payment_method['code'] }}">
                                {{ payment_method['title'] }}
                                {% if payment_method['terms'] is not empty %}
                                    {{ payment_method['terms'] }}
                                {% endif %}
                            </label>
                        </div>
                        {#{% if payment_method['description'] is not empty and (display_for_selected is empty or (display_for_selected is not empty and payment_method['code'] == code)) %}
                            <div class="form-group">
                                <label for="{{ payment_method['code'] }}">{{ payment_method['description'] }}</label>
                            </div>
                        {% endif %}#}
                        {% if payment_method['code'] == code and rows is not empty %}
                            {% for row in rows %}
                              {{ row }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <input type="hidden" name="payment_method_current" value="{{ code }}" />
            <input type="hidden" name="payment_method_checked" value="{{ checked_code }}" />
        {% endif %}
        {% if payment_methods is empty and address_empty and display_address_empty %}
            <div class="simplecheckout-warning-text">{{ text_payment_address }}</div>
        {% endif %}
        {% if payment_methods is empty and not address_empty %}
            <div class="simplecheckout-warning-text">{{ error_no_payment }}</div>
        {% endif %}
    </div>
</div>
