<div class="checkout-block__wrap checkout-page__checkout-block checkout-block" id="simplecheckout_customer" {{ hide ? 'data-hide="true"' : '' }} {{ display_error and has_error ? 'data-error="true"' : '' }}>
    {% if display_header or display_login %}
        <div class="checkout-block__header">
            <h2 class="checkout-block__heading">Ваши данные</h2>
            {% if display_login %}
                <a href="javascript:void(0)" data-onclick="openLoginBox" class="checkout-block__header-link">У меня уже есть учетная запись</a>
            {% endif %}
        </div>
    {% endif %}

    <div class="simplecheckout-block-content">
        {% if display_registered %}
            <div class="alert alert-success">{{ text_account_created }}</div>
        {% endif %}
        {% if display_you_will_registered %}
            <div class="you-will-be-registered">{{ text_you_will_be_registered }}</div>
        {% endif %}
        {% for row in rows %}
            {{ row }}
        {% endfor %}
    </div>
</div>
