<script src="//www.google.com/recaptcha/api.js" type="text/javascript"></script>
<fieldset>
  <legend class="us-content-title mb-0">{{ text_captcha }}</legend>
  <div class="form-group required">{% if route|slice(0, 9) == 'checkout/' %}
    <label class="control-label captcha-control-label" for="input-payment-captcha">{{ entry_captcha }}</label>
    <div id="input-payment-captcha" class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
    {% if error_captcha %}
    <script>
		usNotify('warning', '{{ error_captcha }}');
	</script>
    {% endif %}
    {% else %}
    <label class="control-label captcha-control-label">{{ entry_captcha }}</label>
      <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
      {% if error_captcha %}
      <script>
		usNotify('warning', '{{ error_captcha }}');
	  </script>
      {% endif %}
    {% endif %}
  </div>
</fieldset>
