{{ header }}{{ column_left }}
    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <button type="submit" form="form-free-checkout" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                    <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
                 <h1>{{ heading_title }}</h1>
                <ul class="breadcrumb">
                  {% for breadcrumb in breadcrumbs %}
                  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
     <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_kupilegko_total" value="{{ payment_kupilegko_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
            </div>
          </div>
		    <div class="form-group">
            <label class="col-sm-2 control-label" for="form-kupilegko-input-id">{{ entry_merch_z }}</label>
            <div class="col-sm-10">
          <input type="text" name="payment_kupilegko_merch_z" id="form-kupilegko-input-id" class="form-control" value="{{ payment_kupilegko_merch_z }}" />
 
            {% if error_merch_z %}
            <span class="alert alert-danger">{{ error_merch_z }}</span>
            {% endif %}
                </div>
            </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="form-kupilegko-input-status-id">{{ entry_order_status }}</label>
            <div class="col-sm-10">
                <select name="payment_kupilegko_order_status_id" id="form-kupilegko-input-status-id" class="form-control">
              {% for order_status in order_statuses %}
              {% if order_status.order_status_id == payment_kupilegko_order_status_id %}
              <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
              {% else %}
              <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
              {% endif %}
              {% endfor %}
            </select>
                </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="form-kupilegko-input-geo-zone">{{ entry_geo_zone }}</label>
          <div class="col-sm-10">
              <select name="payment_kupilegko_geo_zone_id" id="form-kupilegko-input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                {% if geo_zone.geo_zone_id == payment_kupilegko_geo_zone_id %}
                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                {% else %}
                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="form-kupilegko-input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
                <select name="payment_kupilegko_status" id="form-kupilegko-input-status" class="form-control">
              {% if payment_kupilegko_status %}
              <option value="1" selected="selected">{{ text_enabled }}</option>
              <option value="0">{{ text_disabled }}</option>
              {% else %}
              <option value="1">{{ text_enabled }}</option>
              <option value="0" selected="selected">{{ text_disabled }}</option>
              {% endif %}
            </select>
                </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="form-kupilegko-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
                <input type="text" name="payment_kupilegko_sort_order" id="form-kupilegko-sort-order" class="form-control" value="{{ kupilegko_sort_order }}" size="1" />
                </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              {% for category in categories %}
               <div class="row">
                <div class="col-sm-6">{{ category.name }}</div>
                <div class="col-sm-6">
                  <select name="payment_kupilegko_category[{{ category.category_id }}]" class="form-control">
                    <option value="0" >Не указано</option>
                  {% for key, item in items %}
                    {% if category.kupilegko_category == key %}
                    <option value="{{ key }}" selected="selected">{{ item }}</option>
                    {% else %}
                    <option value="{{ key }}" >{{ item }}</option>
                    {% endif %}
                    
                  {% endfor %}
                  </select>
                </div>
              </div>
              {% endfor %}
             </div>
        </div>

        </table>
      </form>
    </div>
  </div>
        </div>
</div>
{{ footer }} 