{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-free-checkout" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-settings" data-toggle="tab">Настройки модуля</a></li>
                    <li class="generate-types{% if payment_kupivkredit_generate_type ==  2 %} hidden{% endif %}" data-generate-type="1"><a href="#tab-products" data-toggle="tab">Товары</a></li>
                    <li class="generate-types{% if payment_kupivkredit_generate_type ==  1 %} hidden{% endif %}" data-generate-type="2"><a href="#tab-auto" data-toggle="tab">Авто настройки</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-settings">
                        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <div class="toggle-group">
                                        <input type="checkbox" name="payment_kupivkredit_status" {% if payment_kupivkredit_status %}checked="checked"{% endif %} id="input-status" tabindex="1">
                                        <label for="input-status"></label>
                                        <div class="onoffswitch pull-left" aria-hidden="true">
                                            <div class="onoffswitch-label">
                                                <div class="onoffswitch-inner"></div>
                                                <div class="onoffswitch-switch"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="all_settings">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-firstname">{{ entry_firstname }}</label>
                                        <div class="col-sm-8">
                                            <select name="payment_kupivkredit_purchase_data[firstname]" id="input-firstname" class="form-control">
                                                {% if payment_kupivkredit_purchase_data.firstname == 1 %}
                                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                                    <option value="2">{{ text_enabled_required }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% elseif payment_kupivkredit_purchase_data.firstname == 2 %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="2" selected="selected">{{ text_enabled_required }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% else %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="2">{{ text_enabled_required }}</option>
                                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-address">{{ entry_address }}</label>
                                        <div class="col-sm-8">
                                            <select name="payment_kupivkredit_purchase_data[address]" id="input-address" class="form-control">
                                                {% if payment_kupivkredit_purchase_data.address == 1 %}
                                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                                    <option value="2">{{ text_enabled_required }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% elseif payment_kupivkredit_purchase_data.address == 2 %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="2" selected="selected">{{ text_enabled_required }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% else %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="2">{{ text_enabled_required }}</option>
                                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-email">{{ entry_email }}</label>
                                        <div class="col-sm-8">
                                            <select name="payment_kupivkredit_purchase_data[email]" id="input-email" class="form-control">
                                                {% if payment_kupivkredit_purchase_data.email == 1 %}
                                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                                    <option value="2">{{ text_enabled_required }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% elseif payment_kupivkredit_purchase_data.email == 2 %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="2" selected="selected">{{ text_enabled_required }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% else %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="2">{{ text_enabled_required }}</option>
                                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-notify_email"><span data-toggle="tooltip" title="{{ entry_email_helper }}">{{ entry_notify_email }}</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" name="payment_kupivkredit_purchase_data[notify_email]" value="{{ payment_kupivkredit_purchase_data.notify_email is defined ? payment_kupivkredit_purchase_data.notify_email : '' }}" id="input-notify_email" class="form-control" />
                                            {% if error_notify_email %}
                                                <div class="text-danger">
                                                    <script>
                                                        usNotify('warning', '{{ error_notify_email }}');
                                                    </script>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-telephone">{{ entry_telephone }}</label>
                                        <div class="col-sm-8">
                                            <select name="payment_kupivkredit_purchase_data[telephone]" id="input-telephone" class="form-control">
                                                {% if payment_kupivkredit_purchase_data.telephone == 1 %}
                                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                                    <option value="2">{{ text_enabled_required }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% elseif payment_kupivkredit_purchase_data.telephone == 2 %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="2" selected="selected">{{ text_enabled_required }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% else %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="2">{{ text_enabled_required }}</option>
                                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-mask">{{ entry_mask }}</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="payment_kupivkredit_purchase_data[mask]" value="{{ payment_kupivkredit_purchase_data.mask }}" placeholder="{{ entry_mask_info }}" id="input-mask" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-quantity">{{ entry_quantity }}</label>
                                        <div class="col-sm-8">
                                            <div class="toggle-group">
                                                <input type="checkbox" name="payment_kupivkredit_purchase_data[quantity]" {% if payment_kupivkredit_purchase_data.quantity %}checked="checked"{% endif %} id="input-quantity" tabindex="1">
                                                <label for="input-quantity"></label>
                                                <div class="onoffswitch pull-left" aria-hidden="true">
                                                    <div class="onoffswitch-label">
                                                        <div class="onoffswitch-inner"></div>
                                                        <div class="onoffswitch-switch"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-stock-check"><span data-toggle="tooltip" title="{{ help_stock_checkout }}">{{ text_allow_stock_check }}</span></label>
                                        <div class="col-sm-8">
                                            <div class="toggle-group">
                                                <input type="checkbox" name="payment_kupivkredit_purchase_data[stock_check]" {% if payment_kupivkredit_purchase_data.stock_check %}checked="checked"{% endif %} id="input-stock_check" tabindex="1">
                                                <label for="input-stock_check"></label>
                                                <div class="onoffswitch pull-left" aria-hidden="true">
                                                    <div class="onoffswitch-label">
                                                        <div class="onoffswitch-inner"></div>
                                                        <div class="onoffswitch-switch"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-image">{{ entry_image }}</label>
                                        <div class="col-sm-8">
                                            <div class="toggle-group">
                                                <input type="checkbox" name="payment_kupivkredit_purchase_data[image]" {% if payment_kupivkredit_purchase_data.image %}checked="checked"{% endif %} id="input-image" tabindex="1">
                                                <label for="input-image"></label>
                                                <div class="onoffswitch pull-left" aria-hidden="true">
                                                    <div class="onoffswitch-label">
                                                        <div class="onoffswitch-inner"></div>
                                                        <div class="onoffswitch-switch"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label" for="input-comment">{{ entry_comment }}</label>
                                        <div class="col-sm-8">
                                            <div class="toggle-group">
                                                <input type="checkbox" name="payment_kupivkredit_purchase_data[comment]" {% if payment_kupivkredit_purchase_data.comment %}checked="checked"{% endif %} id="input-comment" tabindex="1">
                                                <label for="input-comment"></label>
                                                <div class="onoffswitch pull-left" aria-hidden="true">
                                                    <div class="onoffswitch-label">
                                                        <div class="onoffswitch-inner"></div>
                                                        <div class="onoffswitch-switch"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="image_sizes" {% if (payment_kupivkredit_purchase_data.image is not defined or (payment_kupivkredit_purchase_data.image is defined and not payment_kupivkredit_purchase_data.image)) %}style="display:none"{% endif %}>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="payment_kupivkredit_purchase_data[image_width]" value="{{ payment_kupivkredit_purchase_data.image_width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="payment_kupivkredit_purchase_data[image_height]" value="{{ payment_kupivkredit_purchase_data.image_height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ text_options }}</label>
                                    <div class="col-sm-10">
                                        <div class="well well-sm" style="min-height:150px;max-height:300px;overflow: auto;">
                                            {% set row = 0 %}
                                            <table class="table table-striped">
                                                {% for option in options %}
                                                    <tr>
                                                        <td class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="payment_kupivkredit_purchase_data[allowed_options][{{ row }}]" value="{{ option.option_id }}" {{ payment_kupivkredit_purchase_data.allowed_options[row] is not empty ? 'checked' : '' }} /> {{ option.name }}
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    {% set row = row + 1 %}
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <a href="javascript:;" onclick="$(this).parent().find(':checkbox').attr('checked', true);">{{ text_select_all }}</a> / <a href="javascript:;" onclick="$(this).parent().find(':checkbox').attr('checked', false);">{{ text_unselect_all }}</a>
                                    </div>
                                </div>
                            </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_kupivkredit_total" value="{{ payment_kupivkredit_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-kupivkredit-input-id">{{ entry_merch_z }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_kupivkredit_merch_z" id="form-kupivkredit-input-id" class="form-control" value="{{ payment_kupivkredit_merch_z }}" />

                            {% if error_merch_z %}
                                <span class="alert alert-danger">{{ error_merch_z }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_promo_code }}</label>
                        <div class="col-sm-10">
                            <div id="promocodes">
                                {% if payment_kupivkredit_promo_code %}
                                {% set i = 0 %}
                                {% for code in payment_kupivkredit_promo_code %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <input required type="text" name="payment_kupivkredit_promo_code[{{ i }}][code]" placeholder="промокод" class="form-control" value="{{ code.code }}" />
                                    </div>
                                    <div class="col-md-4">
                                        <input required type="text" name="payment_kupivkredit_promo_code[{{ i }}][name]" placeholder="описание"  class="form-control" value="{{ code.name }}" />
                                    </div>
                                    <div class="col-md-3">
                                        <select name="payment_kupivkredit_promo_code[{{ i }}][sticker]" id="" class="form-control">
                                            <option value="">выберите стикер</option>
                                            {% for key,value in stickers %}
                                                <option value="{{ key }}" {% if code.sticker is not defined and key == payment_kupivkredit_sticker_сode %}selected{% elseif key == code.sticker %}selected{% endif %}>{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-danger delPromo"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                                {% set i = i + 1 %}
                                {% endfor %}
                                {% else %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <input required type="text" name="payment_kupivkredit_promo_code[0][code]" placeholder="промокод" class="form-control" value="" />
                                    </div>
                                    <div class="col-md-4">
                                        <input required type="text" name="payment_kupivkredit_promo_code[0][name]" placeholder="описание"  class="form-control" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        <select name="payment_kupivkredit_promo_code[0][sticker]" id="" class="form-control">
                                            <option value="">выберите стикер</option>
                                            {% for key,value in stickers %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-danger delPromo"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <a class="btn btn-success" style="margin-top: 10px" id="addPromocode"><i class="fa fa-plus"></i></a>

                            {% if error_promo_code %}
                            <span class="alert alert-danger">{{ error_promo_code }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-kupivkredit-input-server">{{ entry_server }}</label>
                        <div class="col-sm-10">
                            <select name="payment_kupivkredit_server" id="form-kupivkredit-input-server" class="form-control">
                                {% if payment_kupivkredit_server %}
                                    <option value="1" selected="selected">{{ entry_work }}</option>
                                    <option value="0">{{ entry_test }}</option>
                                {% else %}
                                    <option value="1">{{ entry_work }}</option>
                                    <option value="0" selected="selected">{{ entry_test }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-kupivkredit-input-status-id">{{ entry_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_kupivkredit_order_status_id" id="form-kupivkredit-input-status-id" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_kupivkredit_order_status_id %}
                                        <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                                    {% else %}
                                        <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-kupivkredit-input-geo-zone">{{ entry_geo_zone }}</label>
                        <div class="col-sm-10">
                            <select name="payment_kupivkredit_geo_zone_id" id="form-kupivkredit-input-geo-zone" class="form-control">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %}
                                    {% if geo_zone.geo_zone_id == payment_kupivkredit_geo_zone_id %}
                                        <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                    {% else %}
                                        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-kupivkredit-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_kupivkredit_sort_order" id="form-kupivkredit-sort-order" class="form-control" value="{{ kupivkredit_sort_order }}" size="1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_kupivkredit_seo_h1">SEO H1</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_kupivkredit_seo_h1" id="payment_kupivkredit_seo_h1" class="form-control" value="{{ payment_kupivkredit_seo_h1 }}" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="payment_kupivkredit_meta_title">Мета-тег Title</label>
                        <div class="col-sm-10">
                            <input type="text" required name="payment_kupivkredit_meta_title" id="payment_kupivkredit_meta_title" class="form-control" value="{{ payment_kupivkredit_meta_title }}" />
                            {% if error_meta_title %}
                                <span class="alert alert-danger">{{ error_meta_title }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_kupivkredit_meta_description">Мета-тег Description</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_kupivkredit_meta_description" id="payment_kupivkredit_meta_description" class="form-control" value="{{ payment_kupivkredit_meta_description }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_kupivkredit_meta_keywords">Мета-тег Keywords</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_kupivkredit_meta_keywords" id="payment_kupivkredit_meta_keywords" class="form-control" value="{{ payment_kupivkredit_meta_keywords }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="kupivkredit-sticker">Код стикера по умолчанию</label>
                        <div class="col-sm-10">
                            <select name="payment_kupivkredit_sticker_сode" id="kupivkredit-sticker" class="form-control">
                                <option value="">выберите стикер</option>
                                {% for key,value in stickers %}
                                    <option value="{{ key }}" {% if key == payment_kupivkredit_sticker_сode %}selected{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="kupivkredit-url">ЧПУ страницы с товарами</label>
                        <div class="col-sm-10">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td class="text-left">Магазины</td>
                                    <td class="text-left">SEO URL</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for store in stores %}
                                    <tr>
                                        <td class="text-left">{{ store.name }}</td>
                                        <td class="text-left">
                                            {% for language in languages %}
                                                <div class="input-group">
                                                    <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                                    <input type="text" name="payment_kupivkredit_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if payment_kupivkredit_url[store.store_id][language.language_id] %}{{ payment_kupivkredit_url[store.store_id][language.language_id] }}{% endif %}" class="form-control" />
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-generate_type">Тип генерации товаров в рассрочку</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="payment_kupivkredit_generate_type" id="input-generate_type">
                                <option value="1"{% if payment_kupivkredit_generate_type ==  1 %} selected{% endif %} >Ручной</option>
                                <option value="2"{% if payment_kupivkredit_generate_type ==  2 %} selected{% endif %} >Автоматический</option>
                            </select>
                        </div>
                    </div>
                    </table>
                </form>
                    </div>
                    <div class="tab-pane" id="tab-products">
                        <h4>Выбор товаров для оплаты в рассрочку <span class="current-promo"></span></h4>

                        <div class="row panel-body">
                            <div class="col-sm-12">
                                <button type="button" id="buttonShowProducts" class="btn btn-primary"><i class="fa fa-eye"></i> &nbsp; Показать товары</button>
                                <button type="button" id="buttonFilterProducts" class="btn btn-success" style="margin-left: 10px;"><i class="fa fa-filter"></i> &nbsp; Подобрать с фильтром</button>
                                <div class="pull-right">
                                    <button type="button" id="buttonUpdateStickers" class="btn btn-warning" style="margin-left: 10px;"><i class="fa fa-refresh"></i> &nbsp; Обновить стикеры</button>
                                </div>
                            </div>
                        </div>

                        <div id="filter-content" class="panel-body hidden">
                            <div class="well">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Наименование</label>
                                            <input type="text" id="filter_name" placeholder="Наименование" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Диапазон цен</label>
                                            <div class="col-sm-6" style="padding-left: 0;">
                                                <div class="input-group">
                                                    <div class="input-group-addon"> от </div>
                                                    <input type="text" id="filter_price_from" value="" placeholder="Цена от:" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="padding-right: 0;">
                                                <div class="input-group">
                                                    <div class="input-group-addon"> до </div>
                                                    <input type="text" id="filter_price_to" value="" placeholder="Цена до:" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Категория</label>
                                            <select name="filter_category" id="filter_category" class="form-control">
                                                <option value="*">Все категории</option>
                                                {% for category in categories %}
                                                    <option value="{{ category.category_id }}">
                                                        {% for i in range(1, category.level) %}
                                                            &nbsp;&nbsp;&nbsp;
                                                        {% endfor %}
                                                        {{ category.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Количество</label>
                                            <div class="col-sm-6" style="padding-left: 0;">
                                                <div class="input-group">
                                                    <div class="input-group-addon"> от </div>
                                                    <input type="text" id="filter_quantity_from" value="" placeholder="Кол-во от:" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="padding-right: 0;">
                                                <div class="input-group">
                                                    <div class="input-group-addon"> до </div>
                                                    <input type="text" id="filter_quantity_to" value="" placeholder="Кол-во до:" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Производитель</label>
                                            <select name="filter_manufacturer" id="filter_manufacturer" class="form-control">
                                                <option value="*">Все производители</option>
                                                {% for manufacturer in manufacturers %}
                                                    <option value="{{ manufacturer.manufacturer_id }}">
                                                        {% if manufacturer.name == '' %}
                                                            &nbsp;&nbsp;&nbsp; - Без названия
                                                        {% else %}
                                                            {{ manufacturer.name }}
                                                        {% endif %}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Статус товара</label>
                                            <select class="form-control" name="filter_status" id="filter_status" class="form-control">
                                                <option value="*">Все статусы</option>
                                                <option value="1">{{ text_enabled }}</option>
                                                <option value="0">{{ text_disabled }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" style="margin-top: 20px;">
                                        <br>
                                    </div>
                                    <div class="col-sm-6" style="margin-top: 20px;">
                                        <button type="button" id="buttonFilter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> &nbsp; Применить фильтр</button>
                                        <button type="button" id="buttonFilterClear" class="btn btn-danger pull-right" style="margin-right: 10px;"><i class="fa fa-times"></i> &nbsp; Очистить фильтр</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="action-content" class="panel-body hidden">
                            <div class="well">
                                <div class="row">
                                    <div class="col-sm-6 control-label" style="text-align:left;">
                                        <h4 data-toggle="tooltip" title="" data-original-title="Пакетное назначение оплаты в рассрочку всем отмеченным товарам"> Установка / Отмена оплаты в рассрочку для товаров </h4>
                                        <div>
                                            Варианты рассрочки
                                            {% for code in payment_kupivkredit_promo_code %}
                                                <div>
                                                    <label>
                                                        <input type="checkbox" class="checkbox-inline type_installment" name="types[]" value="{{ code.code }}" > {{ code.code }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" id="updateProducts" class="btn btn-success btn-block"><i class="fa fa-check"></i> &nbsp; Установить оплату в рассрочку</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" id="clearProducts" class="btn btn-danger btn-block"><i class="fa fa-times"></i> &nbsp; Отменить оплату в рассрочку</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" id="masterbox" /></td>
                                    <td style="width: 1px;" class="text-left">
                                        Модель
                                    </td>
                                    <td class="text-left">
                                        Наименование
                                    </td>
                                    <td class="text-left">
                                        Варианты рассрочки
                                    </td>
                                    <td style="width: 120px;" class="text-right">
                                        Цена
                                    </td>
                                    <td style="width: 1px;" class="text-right">
                                        Количество
                                    </td>
                                    <td style="width: 1px;" class="text-center">
                                        Статус
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="tbody">
                                <tr>
                                    <td colspan="7" class="text-center">
                                        Товары не выбраны.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div id="pagination" class="col-sm-6 text-left">{{ pagination }}</div>
                            <div id="results" class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    </div>
                    <div id="tab-auto" class="tab-pane">
                        <div class="panel-body">
                            <form id="filterForm">
                                <div class="well">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Категория</label>
                                                <select name="category" class="form-control">
                                                    <option value="*">Все категории</option>
                                                    {% for category in categories %}
                                                        <option value="{{ category.category_id }}">
                                                            {% for i in range(1, category.level) %}
                                                                &nbsp;&nbsp;&nbsp;
                                                            {% endfor %}
                                                            {{ category.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Диапазон цен</label>
                                                <div class="col-sm-6" style="padding-left: 0;">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"> от </div>
                                                        <input type="number" min="0" name="price_from" value="" placeholder="Цена от:" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" style="padding-right: 0;">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"> до </div>
                                                        <input type="number" min="0" name="price_to" value="" placeholder="Цена до:" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Производитель</label>
                                                <select name="manufacturer" class="form-control">
                                                    <option value="*">Все производители</option>
                                                    {% for manufacturer in manufacturers %}
                                                        <option value="{{ manufacturer.manufacturer_id }}">
                                                            {% if manufacturer.name == '' %}
                                                                &nbsp;&nbsp;&nbsp; - Без названия
                                                            {% else %}
                                                                {{ manufacturer.name }}
                                                            {% endif %}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Количество</label>
                                                <div class="col-sm-6" style="padding-left: 0;">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"> от </div>
                                                        <input type="number" min="0" name="quantity_from" value="" placeholder="Кол-во от:" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" style="padding-right: 0;">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"> до </div>
                                                        <input type="number" min="0" name="quantity_to" value="" placeholder="Кол-во до:" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Статус товара</label>
                                                <select class="form-control" name="status" class="form-control">
                                                    <option value="*">Все статусы</option>
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 control-label" style="text-align:left;">
                                            <div class="form-group">
                                                <strong>Варианты рассрочки</strong>
                                                {% for code in payment_kupivkredit_promo_code %}
                                                    <div>
                                                        <label>
                                                            <input type="checkbox" class="checkbox-inline type_installment" name="types[]" value="{{ code.code }}" > {{ code.code }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" id="buttonSaveGenerateRules" class="btn btn-success"><i class="fa fa-check"></i> &nbsp; Сохранить правило генерации</button>
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-left" colspan="2">
                                        Правила
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="rulesBody">
                                <tr>
                                    <td class="text-center" colspan="2">
                                        Правила не заданы
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #promocodes .row{
        margin-bottom: 10px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .paginator {
        display: inline-block;
        padding-left: 0;
        margin: 0;
        border-radius: 3px;
    }

    .paginator > li {
        display: inline;
        position: relative;
    }

    .paginator > li:first-child {
        margin-left: 0;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .paginator > li:last-child {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .paginator .page {
        float: left;
        padding: 8px 13px;
        line-height: 1.42857;
        text-decoration: none;
        color: #1e91cf;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-left: -1px;
        cursor: pointer;
    }

    .paginator .page:hover {
        z-index: 2;
        color: #14628c;
        background-color: #eee;
        border-color: #ddd;
    }

    .paginator .active {
        float: left;
        padding: 8px 13px;
        line-height: 1.42857;
        text-decoration: none;
        border: 1px solid #1e91cf;
        margin-left: -1px;
        color: #fff;
        background-color: #1e91cf;
        cursor: default;
    }

</style>
<script type="text/javascript"><!--
    let tab = '';
    let count,batch,current,step;
    let curr_page = 1;
    let action = 'list';
    let count_promo_codes = '{{ payment_kupivkredit_promo_code|length }}';

    const initDelPromo = function(){
        $('.delPromo').unbind('click');
        $('.delPromo').on('click', function (e) {
            e.preventDefault();

            $(this).parent().parent().remove();
        })
    };
    
    initDelPromo();
    
    $('#addPromocode').on('click', function () {
        count_promo_codes++;
        $("#promocodes").append('' +
            '<div class="row">\n' +
            '    <div class="col-md-3">\n' +
            '        <input required type="text" name="payment_kupivkredit_promo_code['+count_promo_codes+'][code]" placeholder="промокод" class="form-control" value="" />\n' +
            '    </div>\n' +
            '    <div class="col-md-4">\n' +
            '        <input required type="text" name="payment_kupivkredit_promo_code['+count_promo_codes+'][name]" placeholder="описание"  class="form-control" value="" />\n' +
            '    </div>\n' +
            '   <div class="col-md-3">\n' +
            '       <select name="payment_kupivkredit_promo_code['+count_promo_codes+'][sticker]" id="" class="form-control">\n' +
            '           <option value="">выберите стикер</option>\n' +
            '           {% for key,value in stickers %}\n' +
            '            <option value="{{ key }}">{{ value }}</option>\n' +
            '           {% endfor %}\n' +
            '       </select>\n' +
            '   </div>' +
            '    <div class="col-md-2">\n' +
            '        <a class="btn btn-danger delPromo"><i class="fa fa-trash"></i></a>\n' +
            '    </div>\n' +
            '</div>');
        initDelPromo();
    });
//--></script>

<script type="text/javascript"><!--
    const initChangeTypeGenerate = () =>{
        $('#input-generate_type').on('change', function () {
            let generateType = parseInt($(this).val());

            $('.generate-types').addClass('hidden');
            $('.generate-types[data-generate-type="'+ generateType +'"]').removeClass('hidden');
            
            initGenerateTypeActions(generateType);
        })
    };
    
    const initDelGenerateRule = () => {
        $('.buttonDelGenerateRule').unbind('click');
        $('.buttonDelGenerateRule').on('click', function () {
            let btn = $(this);
            let rule_id = btn.data('id');
            $.ajax({
                url: 'index.php?route=extension/payment/kupivkredit/deleteGenerateRule&user_token={{ user_token }}',
                type: 'post',
                dataType: 'json',
                data: {rule_id: rule_id},
                beforeSend: function () {
                    btn.find('.fa').addClass('fa-spin');
                },
                complete: function () {
                    btn.find('.fa').removeClass('fa-spin');
                },
                success: function (json) {
                    if(json.success){
                        btn.parent().parent().remove();
                    }
                }
            });
        });
    };
    
    const loadListGenerateRules = () => {
        $.ajax({
            url: 'index.php?route=extension/payment/kupivkredit/listGenerateRules&user_token={{ user_token }}',
            type: 'post',
            dataType: 'json',
            beforeSend: function () {
                $('#rulesBody').html('<tr><td class="text-center" collspan="2"><i class="fa fa-spinner fa-spin fa-2x fa-fw text-primary"></i><span class="sr-only">Загрузка...</span></td></tr>');
            },
            success: function (json) {
                if(json.success){
                    $('#rulesBody').html('');
                    json.htmlRules.map(el => {
                        $('#rulesBody').append(`
                                <tr>
                                    <td class="text-left">${el.text}</td>
                                    <td class="text-right"><a class="buttonDelGenerateRule btn btn-danger" data-id="${el.id}"><i class="fa fa-trash"></i></a></td>
                                </tr>`);
                    });
                    
                    initDelGenerateRule();
                }
            }
        });
    };
    
    const initGenerateTypeActions = (type) =>{
        if(type === 1){
            $('#buttonShowProducts, #buttonFilterProducts, #buttonUpdateStickers, #buttonFilterClear, #buttonFilter').unbind('click');
            
            $('#buttonShowProducts').on('click', function(){
                $('#tbody').html('<tr><td colspan="7" class="text-center">Товары не выбраны.</td></tr>');
                $('#buttonFilterClear').click();
                $('#filter-content').addClass('hidden');
                $('#action-content').removeClass('hidden');
                action = 'list';
                getProducts(1);
            });

            $('#buttonFilterProducts').on('click', function(){
                $('#tbody').html('<tr><td colspan="7" class="text-center">Товары не выбраны.</td></tr>');
                $('#buttonFilterClear').click();
                $('#filter-content').removeClass('hidden');
                $('#action-content').removeClass('hidden');
                $('#pagination').html('');
                $('#results').html('');
            });

            $('#buttonUpdateStickers').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    url: 'index.php?route=extension/payment/kupivkredit/updateStickers&user_token={{ user_token }}',
                    type: 'post',
                    dataType: 'json',
                    beforeSend: function () {
                        $('#buttonUpdateStickers .fa').addClass('fa-spin');
                    },
                    complete: function () {
                        $('#buttonUpdateStickers .fa').removeClass('fa-spin');
                    },
                    success: function (json) {
                        if(json.success){
                            alert(json.success);
                        }
                    }
                });

            })

            $('#updateProducts').on('click', function(){
                setProducts(1);
            });

            $('#clearProducts').on('click', function(){
                setProducts(0);
            });
            
            $('#buttonFilterClear').on('click', function(){
                $('#filter_name').val('');
                $('#filter_price_from').val('');
                $('#filter_price_to').val('');
                $('#filter_quantity_from').val('');
                $('#filter_quantity_to').val('');
                $('#filter_category').val('*').trigger("chosen:updated");
                $('#filter_manufacturer').val('*').trigger("chosen:updated");
                $('#filter_status').val('*').trigger("chosen:updated");
            });

            $('#buttonFilter').on('click', function(){
                action = 'filter';
                getProducts(1);
            });
        } if(type === 2){
            $('#buttonSaveGenerateRules').unbind('click');
            $('#buttonSaveGenerateRules').on('click', function () {
                let dataForm = $('#filterForm').serialize();
                $.ajax({
                    url: 'index.php?route=extension/payment/kupivkredit/saveGenerateRules&user_token={{ user_token }}',
                    type: 'post',
                    dataType: 'json',
                    data: dataForm,
                    beforeSend: function () {
                        $('#buttonSaveGenerateRules .fa').addClass('fa-spin');
                    },
                    complete: function () {
                        $('#buttonSaveGenerateRules .fa').removeClass('fa-spin');
                    },
                    success: function (json) {
                        if(json.success){
                            loadListGenerateRules();
                        }else{
                            alert(json.error);
                        }
                    }
                });
            });

            loadListGenerateRules();
        }
    };


    initChangeTypeGenerate();
    initGenerateTypeActions({{ payment_kupivkredit_generate_type }});

    $('#masterbox').on('click', function(){
        $('#tbody').find('input[type=checkbox]').each(function() {
            $(this).prop('checked', !$(this).prop('checked'));
        });
    });

    $('body').on('click', '.page', function(){
        let page = $(this).attr('id').split('-')[1];
        getProducts(page);
    });

    function getProducts(page) {
        curr_page = page;
        $('#masterbox').prop('checked', false);

        $.ajax({
            url: 'index.php?route=extension/payment/kupivkredit/getProducts&user_token={{ user_token }}',
            type: 'post',
            data: 'filter_name=' + $('#filter_name').val() + '&filter_category=' + $('#filter_category').val() + '&filter_manufacturer=' + $('#filter_manufacturer').val() + '&filter_price_from=' + $('#filter_price_from').val() + '&filter_price_to=' + $('#filter_price_to').val() + '&filter_quantity_from=' + $('#filter_quantity_from').val() + '&filter_quantity_to=' + $('#filter_quantity_to').val() + '&filter_status=' + $('#filter_status').val() + '&page=' + page+'&action=' + action,
            dataType: 'json',
            beforeSend: function() {
                $('#tbody').html('<tr><td colspan="7" class="text-center"><i class="fa fa-spinner fa-spin fa-2x fa-fw text-primary"></i><span class="sr-only">Загрузка...</span></td></tr>');
            },
            complete: function() {

            },
            success: function(json) {

                $('.alert-page').remove();
                if (json['error']) {
                    $('#tab-products').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
                if (json['success']) {
                    let html = '';
                    
                    if (json['success']['count'] == 0) {
                        html += '<tr><td colspan="7" class="text-center">Нет товаров, отвечающих условиям отбора.</td></tr>';
                    } else {
                        $.each(json['success']['page_products'], function(index, product) {
                            html += '<tr>';
                            html += '<td class="text-center">';
                            html += '<input type="checkbox" id="product-' + product.product_id + '" class="fastproduct" value="'+ product.product_id +'" />';
                            html += '</td>';
                            html += '<td style="max-width: 100px;" class="text-left">';
                            html += product.model;
                            html += '</td>';
                            html += '<td style="max-width: 100px;" class="text-left">';
                            html += product.name;
                            html += '</td>';
                            html += '<td class="text-left">';
                            if(product.types !== null && product.types.length > 0){
                                product.types.forEach(function (type) {
                                    html += ' <span class="label label-info">'+ type +'</span>';
                                })
                            }
                            
                            html += '</td>';
                            html += '<td class="text-right">';
                            if (product.special == '') {
                                html += product.price;
                            } else {
                                html += '<span style="text-decoration: line-through;">' + product.price + '</span><br/>';
                                html += '<div class="text-danger">' + product.special + '</div>';
                            }
                            html += '</td>';
                            html += '<td class="text-right">';
                            if (product.quantity <= 0) {
                                html += '<span class="label label-danger">' + product.quantity + '</span>';
                            } else if (product.quantity <= 100) {
                                html += '<span class="label label-warning">' + product.quantity + '</span>';
                            } else {
                                html += '<span class="label label-success">' + product.quantity + '</span>';
                            }
                            html += '</td>';
                            html += '<td class="text-center">';
                            if (product.status == 0) {
                                html += '<span class="label label-danger">откл</span>';
                            } else {
                                html += '<span class="label label-success">вкл</span>';
                            }
                            html += '</td>';
                            html += '</tr>';
                        });
                    }

                    $('#tbody').html(html);
                    $('#pagination').html(json['success']['pagination']);
                    $('#results').html(json['success']['results']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
    
    function setProducts(insert){
        let products = [];
        let type_installments = [];

        $(".fastproduct:checked").each(function (i, e) {
            products.push(e.value)
        });
        
        if(products.length < 1){
            alert('Не выбрано ни одного товара!');
            return false;
        }
        
        if(insert) {
            $(".type_installment:checked").each(function (i, e) {
                type_installments.push(e.value)
            });

            if (type_installments.length < 1) {
                alert('Не выбрано ни одного варианта рассрочки!');
                return false;
            }
        }

        $('#masterbox').prop('checked', false);

        $.ajax({
            url: 'index.php?route=extension/payment/kupivkredit/setProducts&user_token={{ user_token }}',
            type: 'post',
            dataType: 'json',
            data: 'products=' + products.join(',') + '&types=' + type_installments.join(',') + '&mode=' + insert,
            beforeSend: function() {

            },
            complete: function() {

            },
            success: function(json) {

                $('.alert').remove();
                if (json['error']) {
                    $('#tab-products').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
                if (json['success']) {
                    $('#tab-products').prepend('<div class="alert alert-' + json['style'] + '"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    getProducts(curr_page);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }   
    
    //--></script>
{{ footer }} 