{{ header }}

{{ oct_breadcrumbs }}

<main class="contacts-page">
	<div class="container">
		<h1 class="contacts-page__heading">Контакты</h1>

		<div class="row">
			<div class="col-md-9">
				<div class="contacts-page__contacts-blocks">
					<div class="contacts-page__contacts-block contacts-block">
						<div class="contacts-block__title">
							Интернет-магазин
						</div>
						<a href="tel:{{ telephone_number }}" class="contacts-block__tel">{{ telephone_text }}</a>
						<a href="mailto:info@sdmclimate.ru" class="contacts-block__link">info@sdmclimate.ru</a>
					</div>
					<div class="contacts-page__contacts-block contacts-block">
						<div class="contacts-block__title">
							Оформить заказ
						</div>
						<a href="mailto:order@sdmclimate.ru" class="contacts-block__link">order@sdmclimate.ru</a>
						<br>
						<br>
						<div class="contacts-block__title">
							Отдел рекламаций
						</div>
						<a href="mailto:post@sdmclimate.ru" class="contacts-block__link">post@sdmclimate.ru</a>
					</div>
					<div class="contacts-page__contacts-block contacts-block">
						<div class="contacts-block__title">
							Реквизиты компании
						</div>
						<ul class="contacts-block__list">
							<li class="contacts-block__item">
								ОГРН 1177746159711
							</li>
							<li class="contacts-block__item">
								ИНН 7702413273
							</li>
						</ul>
						{#<a href="/requisites.pdf" class="contacts-block__link">
							Скачать
							<span class="contacts-block__link-info">.pdf, 179 Кб</span>
						</a>#}
					</div>
				</div>

				<div class="contacts-page__map-wrap">

					<div class="contacts-page__map">
						<script type="text/javascript" charset="utf-8" async
								src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab6490d6f35a0b4ef73980a6b0dd7c534ff0de585bb669c3cf5e5d2fe6dd31e19&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true"></script>
					</div>

					<div class="contacts-page__address-wrap" itemscope itemtype="http://schema.org/Organization">
						<span itemprop="name" class="sr-only">SDM Climate</span>
						<div itemprop="address" class="contacts-page__address" itemscope itemtype="http://schema.org/PostalAddress">
							<span itemprop="postalCode">125040</span>,
							<span itemprop="addressLocality">г. Москва</span>,
							<span itemprop="streetAddress">улица Нижняя, д. 14, строение 1, подъезд 1</span>
						</div>
						<div class="contacts-page__nearest-metro">
							Белорусская, 940 м
						</div>
						<a href="tel:{{ telephone_number }}" class="contacts-page__tel" itemprop="telephone">{{ telephone_text }}</a>
						<a href="mailto:info@sdmclimate.ru" class="contacts-page__link" itemprop="email">info@sdmclimate.ru</a>
						<time itemprop="openingHours" class="contacts-page__opening-hours" datetime="Mo,Su 09:00−22:00">с 9:00 до 22:00, без выходных</time>
					</div>
				</div>
			</div>

			{{ column_right }}
		</div>
	</div>
</main>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Москва",
		"postalCode": "125040",
		"streetAddress": "улица Нижняя, д. 14, строение 1, подъезд 1"
	},
	"email": "info@sdmclimate.ru",
	"name": "SDM Climate",
	"telephone":["8 (800) 551-90-38","8 (499) 380-73-09"]
}
</script>
{{ footer }}
