{{ header }}
<div id="information-contact" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">
			    <div class="us-content-contact d-flex">
			    	<div class="us-contact-form-box">
			    		<form action="{{ action }}" method="post" enctype="multipart/form-data">
				          <div class="form-group">
				            <label for="input-name"><span class="required">*</span>{{ entry_name }}</label>
				            {% if error_name %}
				            <script>
							usNotify('warning', '{{ error_name }}');
							</script>
				            {% endif %}
				            <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" placeholder="{{ entry_name }}" />
				          </div>
				          <div class="form-group">
				            <label for="input-email"><span class="required">*</span>{{ entry_email }}</label>
				            {% if error_email %}
				            <script>
							usNotify('warning', '{{ error_email }}');
							</script>
				            {% endif %}
				            <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" placeholder="{{ entry_email }}" />
				          </div>
				          <div class="form-group">
				            <label for="input-enquiry"><span class="required">*</span>{{ entry_enquiry }}</label>
				            {% if error_enquiry %}
				            <script>
							usNotify('warning', '{{ error_enquiry }}');
							</script>
				            {% endif %}
				            <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control" placeholder="{{ entry_enquiry }}">{{ enquiry }}</textarea>
				          </div>
				          {{ captcha }}
						  {% if text_terms %}
				          <div class="us-form-checkbox-group">
							<input type="checkbox" id="scales" class="us-form-checkbox-input" name="scales">
							<label for="scales" class="d-flex align-items-center"><span>{{ text_terms }}</span></label>
				            {% if error_oct_terms %}
				            <script>
							usNotify('warning', '{{ error_oct_terms }}');
							</script>
				            {% endif %}
						  </div>
						  {% endif %}
				          <div class="btn-group">
					        <input class="us-module-btn us-module-btn-green" type="submit" value="{{ button_submit }}" />
				          </div>
					    </form>
			    	</div>
			    	{% if contact_html is defined %}
			    	<div class="us-content-border">&nbsp;</div>
			    	<div class="us-content-contact-offer">
			    		{{ contact_html }}
					</div>
					{% endif %}
			    </div>
			    {% if contact_map is defined %}
			    <div class="row row-padding-top">
					<div class="col-12">
						<div class="us-content-contact-img">
							{{ contact_map }}
						</div>
					</div>
				</div>
				{% endif %}
		    </div>
	    </div>
	    {{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }}
