{{ header }}
{{ oct_breadcrumbs }}

<div class="container">
	{% if column_right %}
		<div class="row">
			<div class="col-lg-9">
				{{ description }}
			</div>

			{{ column_right }}
		</div>
	{% else %}
		{{ description }}
	{% endif %}
</div>

{{ content_bottom }}

{{ footer }}
