{{ header }}
{{ oct_breadcrumbs }}


<main class="sitemap">
	<div class="container">
		<h1 class="sitemap__heading">
			Карта сайта
		</h1>

		<ul class="sitemap__list">
			{% for category_1 in categories %}
				<li class="sitemap__item">
					<h2 class="sitemap__item-title">
						<a href="{{ category_1.href }}" class="sitemap__item-link">{{ category_1.name }}</a>
					</h2>

					{% if category_1.children %}
						<ul class="sitemap__sublist">
							{% for category_2 in category_1.children %}
								<li class="sitemap__subitem">
									<h3 class="sitemap__subitem-title">
										<a href="{{ category_2.href }}" class="sitemap__subitem-link">{{ category_2.name }}</a>
									</h3>

									{% if category_2.children %}
										<ul class="sitemap__subsublist">
											{% for category_3 in category_2.children %}
												<li class="sitemap__subsubitem">
													<h4 class="sitemap__subsubitem-title">
														<a href="{{ category_3.href }}" class="sitemap__subsubitem-link">{{ category_3.name }}</a>
													</h4>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</main>

{#<div class="col-sm-6">
	<ul>
		<li><a href="{{ special }}">{{ text_special }}</a></li>
		<li>
			<a href="{{ account }}">{{ text_account }}</a>
			<ul>
				<li><a href="{{ edit }}">{{ text_edit }}</a></li>
				<li><a href="{{ password }}">{{ text_password }}</a></li>
				<li><a href="{{ address }}">{{ text_address }}</a></li>
				<li><a href="{{ history }}">{{ text_history }}</a></li>
				<li><a href="{{ download }}">{{ text_download }}</a></li>
			</ul>
		</li>
		<li><a href="{{ history }}">{{ text_cart }}</a></li>
		<li><a href="{{ checkout }}">{{ text_checkout }}</a></li>
		<li><a href="{{ search }}">{{ text_search }}</a></li>
		<li>
			{{ text_information }}
			<ul>
				{% for information in informations %}
				<li><a href="{{ information.href }}">{{ information.title }}</a></li>
				{% endfor %}
				<li><a href="{{ contact }}">{{ text_contact }}</a></li>
			</ul>
		</li>
	</ul>
</div>#}

{{ footer }}
