{{ header }}
<div id="account-account" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	{% if success %}
	<script>
	usNotify('success', '{{ success }}');
	</script>
	{% endif %}
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">
		    <div class="us-content-title">{{ text_my_account }}</div>
		      <div class="us-acc-info-desc">
					<div class="us-acc-info-text">
						{{ oct_account_main_text }}
					</div>
					<div class="us-acc-info-text">
						{{ oct_account_main_text_contact }} <a href="{{ url_contacts }}" class="us-acc-info-link">“{{ oct_account_main_contacts }}”</a>.
					</div>
				</div>
				<div class="us-content-title">
					{{ oct_account_main_info }}
				</div>
				<div class="table-responsive-sm us-table-box">
				    <table class="table table-hover">
				       	<thead class="thead-dark">
				         	<tr>
					            <th scope="col">{{ oct_account_name }}</th>
					            <th scope="col">{{ oct_account_email }}</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr>
				                <td>{{ firstname }}</td>
				            	<td class="d-flex justify-content-between">
				            		<span>{{ email }}</span>&nbsp;<a href="{{ edit }}">{{ oct_account_edit }}</a>
				            	</td>
				          	</tr>
				        </tbody>
				    </table>
				</div>
				<div class="us-content-title">
					{{ text_order }}
				</div>
				<div class="table-responsive-sm">
				    <table class="table table-hover">
				       	<thead class="thead-dark">
				         	<tr>
					            <th scope="col">{{ oct_account_n_order }}</th>
					            <th scope="col">{{ oct_account_order_status }}</th>
					            <th scope="col">{{ oct_account_order_date }}</th>
					            <th scope="col">{{ oct_account_order_amount }}</th>
				            </tr>
				        </thead>
				        <tbody>
							{% if orders|length >= 1 %}
							{% for order in orders %}
				            <tr>
				                <td><a href="{{ order.href }}">#{{ order.order_id }}</a></td>
				            	<td>{{ order.status }}</td>
				            	<td>{{ order.date_added }}</td>
				            	<td>{{ order.total }}</td>
				          	</tr>
							{% endfor %}
							{% else %}
				            <tr>
				            	<td>{{ oct_account_no_orders }}</td>
				          	</tr>
							{% endif %}
				        </tbody>
				    </table>
				</div>
		    </div>
	    </div>
	    {{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }}