{{ header }}

{% if success %}
	<script>
		usNotify('success', '{{ success }}');
	</script>
{% endif %}
{% if error_warning %}
	<script>
		usNotify('warning', '{{ error_warning }}');
	</script>
{% endif %}

<main class="account">
	<div class="account__wrap">
		<div class="container">
			<h1 class="account__heading">Личный кабинет</h1>
			<div class="row">
				<div class="col-lg-4">
					{{ column_left }}
				</div>

				<div class="col-lg-5">
					<div class="account__content">
						<h2 class="account__subheading">Ваши данные</h2>

						<form action="{{ action }}" method="post" class="account__form account__form--name form form--blue">
							<fieldset>
								<div class="form-group">
									<label for="input-firstname"><span class="required">*</span>{{ entry_firstname }}</label>
									{% if error_firstname %}
										<script>
											usNotify('warning', '{{ error_firstname }}');
										</script>
									{% endif %}
									<input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/>
								</div>
								{#<div class="form-group">
									<label for="input-lastname"><span class="required">*</span>{{ entry_lastname }}</label>
									{% if error_lastname %}
										<script>
											usNotify('warning', '{{ error_lastname }}');
										</script>
									{% endif %}
									<input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/>
								</div>#}
								<div class="form-group">
									<label for="input-company">{{ entry_company }}</label>
									<input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control"/>
								</div>
								<div class="form-group">
									<label for="input-address-1"><span class="required">*</span>{{ entry_address_1 }}</label>
									{% if error_address_1 %}
										<script>
											usNotify('warning', '{{ error_address_1 }}');
										</script>
									{% endif %}
									<input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-address-1" class="form-control"/>
								</div>
								<div class="form-group">
									<label for="input-address-2">{{ entry_address_2 }}</label>
									<input type="text" name="address_2" value="{{ address_2 }}" placeholder="{{ entry_address_2 }}" id="input-address-2" class="form-control"/>
								</div>
								<div class="form-group">
									<label for="input-city"><span class="required">*</span>{{ entry_city }}</label>
									{% if error_city %}
										<script>
											usNotify('warning', '{{ error_city }}');
										</script>
									{% endif %}
									<input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-city" class="form-control"/>
								</div>
								<div class="form-group">
									<label for="input-postcode"><span class="required">*</span>{{ entry_postcode }}</label>
									{% if error_postcode %}
										<script>
											usNotify('warning', '{{ error_postcode }}');
										</script>
									{% endif %}
									<input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control"/>
								</div>
								<div class="form-group">
									<label for="input-country"><span class="required">*</span>{{ entry_country }}</label>
									{% if error_country %}
										<script>
											usNotify('warning', '{{ error_country }}');
										</script>
									{% endif %}
									<select name="country_id" id="input-country" class="us-acc-select">
										<option value="">{{ text_select }}</option>
										{% for country in countries %}
											{% if country.country_id == country_id %}
												<option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
											{% else %}
												<option value="{{ country.country_id }}">{{ country.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="form-group">
									<label for="input-zone"><span class="required">*</span>{{ entry_zone }}</label>
									{% if error_zone %}
										<script>
											usNotify('warning', '{{ error_zone }}');
										</script>
									{% endif %}
									<select name="zone_id" id="input-zone" class="us-acc-select">
									</select>
								</div>
								{% for custom_field in custom_fields %}
									{% if custom_field.type == 'select' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label for="input-custom-field{{ custom_field.custom_field_id }}">{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="us-acc-select">
												<option value="">{{ text_select }}</option>
												{% for custom_field_value in custom_field.custom_field_value %}
													{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address_custom_field[custom_field.custom_field_id] %}
														<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
													{% else %}
														<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
									{% endif %}
									{% if custom_field.type == 'radio' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label>{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<div>
												{% for custom_field_value in custom_field.custom_field_value %}
													<div class="radio">
														{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address_custom_field[custom_field.custom_field_id] %}
															<label>
																<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked"/>
																{{ custom_field_value.name }}</label>
														{% else %}
															<label>
																<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}"/>
																{{ custom_field_value.name }}</label>
														{% endif %}
													</div>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if custom_field.type == 'checkbox' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label>{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<div>
												{% for custom_field_value in custom_field.custom_field_value %}
													<div class="checkbox">
														{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in address_custom_field[custom_field.custom_field_id] %}
															<label>
																<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked"/>
																{{ custom_field_value.name }}</label>
														{% else %}
															<label>
																<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}"/>
																{{ custom_field_value.name }}</label>
														{% endif %}
													</div>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if custom_field.type == 'text' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label for="input-custom-field{{ custom_field.custom_field_id }}">{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
												   placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
										</div>
									{% endif %}
									{% if custom_field.type == 'textarea' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label for="input-custom-field{{ custom_field.custom_field_id }}">{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}"
													  class="form-control">{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
										</div>
									{% endif %}
									{% if custom_field.type == 'file' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label>{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
											<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}  {{ address_custom_field[custom_field.custom_field_id] }} {% endif %}"/>
										</div>
									{% endif %}
									{% if custom_field.type == 'date' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label for="input-custom-field{{ custom_field.custom_field_id }}">{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<div class="input-group date">
												<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
													   value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD"
													   id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
												<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							</span>
											</div>
										</div>
									{% endif %}
									{% if custom_field.type == 'time' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label for="input-custom-field{{ custom_field.custom_field_id }}">{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<div class="input-group time">
												<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
													   value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm"
													   id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
												<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							</span>
											</div>
										</div>
									{% endif %}
									{% if custom_field.type == 'time' %}
										<div class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
											<label for="input-custom-field{{ custom_field.custom_field_id }}">{% if custom_field.required %}<span class="required">*</span>{% endif %}{{ custom_field.name }}</label>
											{% if error_custom_field[custom_field.custom_field_id] %}
												<script>
													usNotify('warning', '{{ error_custom_field[custom_field.custom_field_id] }}');
												</script>
											{% endif %}
											<div class="input-group datetime">
												<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
													   value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm"
													   id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
												<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							</span>
											</div>
										</div>
									{% endif %}
								{% endfor %}
								<div class="us-form-check-group-acc">
									<div class="us-account-form-title">{{ entry_default }}</div>
									{% if default %}
										<div class="form-check form-check-inline">
											<input type="radio" name="default" id="CheckYes" class="form-check-input" value="1" checked="checked"/>
											<label class="radio-inline" for="CheckYes">{{ text_yes }}</label>
										</div>
										<div class="form-check form-check-inline">
											<input type="radio" name="default" id="CheckNo" class="form-check-input" value="0"/>
											<label class="radio-inline" for="CheckNo">{{ text_no }}</label>
										</div>
									{% else %}
										<div class="form-check form-check-inline">
											<input type="radio" name="default" id="CheckYes" class="form-check-input" value="1"/>
											<label class="radio-inline" for="CheckYes">{{ text_yes }}</label>
										</div>
										<div class="form-check form-check-inline">
											<input type="radio" name="default" id="CheckNo" class="form-check-input" value="0" checked="checked"/>
											<label class="radio-inline" for="CheckNo">{{ text_no }}</label>
										</div>
									{% endif %}
								</div>
							</fieldset>
							<div class="btn-group d-flex justify-content-between">
								<a href="{{ back }}" class="us-module-btn">{{ button_back }}</a>
								<input type="submit" value="{{ button_continue }}" class="us-module-btn us-module-btn-green"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{ footer }}
