{{ header }}
{{ oct_breadcrumbs }}

{% if success %}
	<script>
		usNotify('success', '{{ success }}');
	</script>
{% endif %}
{% if error_warning %}
	<script>
		usNotify('warning', '{{ error_warning }}');
	</script>
{% endif %}

<main class="account">
	<div class="container">
		<h1 class="account__heading">Личный кабинет</h1>

		<div class="row">
			<div class="col-lg-4">
				{{ column_left }}
			</div>

			<div class="col-lg-8">
				<div class="account__content">
					<div class="account__account-addresses account-addresses">
						<h2 class="account__subheading">Ваши адреса</h2>
						<input type="hidden" value="{{ address_id }}">

						<ul class="account-addresses__list">
							{% for result in addresses %}
								<li class="account-addresses__item {% if result.address_id == address_id %}account-addresses__item--active{% endif %}" id="{{ result.address_id }}">
									<div class="account-addresses__item-postal">{{ result.postcode }}</div>
									<div class="account-addresses__item-address">{{ result.address }}</div>
									<div class="account-addresses__item-footer">
										<a href="{{ result.update }}" class="account-addresses__item-link">Изменить</a>
										<a href="{{ result.delete }}" class="account-addresses__item-delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
												 viewBox="0 0 14 18">
												<path
														d="M2.3 5h9c1.1 0 1 0.9 1 2v9c0 1.1-0.9 2-2 2h-7c-1.1 0-2-0.9-2-2v-9c0-1.1-0.1-2 1-2zM10.3 16.1v-8h-1v8zM6.3 16.1h1v-8h-1zM3.3 16.1h1v-8h-1zM1.3 2h4c-0.6 0-1-0.4-1-1 0-0.6 0.5-1 1-1h3c0.6 0 1 0.4 1 1 0 0.6-0.5 1-1 1h4c0.6 0 1 0.4 1 1 0 0.6-0.5 1-1 1h-11.1c-0.6 0-1-0.4-1-1 0-0.6 0.5-1 1-1z"
														fill="#dadfea" />
											</svg>
										</a>
									</div>
								</li>
							{% endfor %}

							<li class="account-addresses__item account-addresses__item--add-new">
								<a href="{{ add }}" class="account-addresses__link account-addresses__item-link--new">Добавить новый</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{ footer }}
