{{ header }}
{{ oct_breadcrumbs }}

{% if success %}
    <script>
      usNotify('success', '{{ success }}');
    </script>
{% endif %}
{% if error_warning %}
    <script>
      usNotify('warning', '{{ error_warning }}');
    </script>
{% endif %}

<main class="account">
    <div class="account__wrap">
        <div class="container">
            <h1 class="account__heading">Личный кабинет</h1>
            <div class="row">
                <div class="col-lg-4">
                    {{ column_left }}
                </div>

                <div class="col-lg-5">
                    <div class="account__content">
                        <h2 class="account__subheading">Ваши данные</h2>

                        <form action="{{ action }}" method="post" class="account__form account__form--name form form--blue">
                            <div class="form__group">
                                <label for="text" class="form__label sr-only">Имя</label>
                                <input type="text" class="form__control" id="text" placeholder="Имя Фамилия" value="{{ firstname }}" name="firstname">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form__group">
                                        <label for="mail" class="form__label sr-only">Адрес e-mail</label>
                                        <input type="mail" class="form__control" id="mail" placeholder="Адрел e-mail" value="{{ email }}" name="email">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form__group">
                                        <label for="tel" class="form__label sr-only">Телефон</label>
                                        <input type="tel" class="form__control" id="tel" placeholder="Номер телефона" value="{{ telephone }}" name="telephone">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="form__btn">Изменить</button>
                        </form>

                        <h2 class="account__subheading">Сменить пароль</h2>

                        <form action="{{ action_password }}" method="post" class="account__form account__form--pw form">
                            {#<div class="form__group">
                                <label for="password" class="form__label sr-only">Текущий пароль *</label>
                                <input type="password" class="form__control" id="password"
                                       placeholder="Текущий пароль *">
                            </div>#}

                            <div class="form__group">
                                <label for="password" class="form__label sr-only">Новый пароль *</label>
                                <input type="password" class="form__control" id="password" placeholder="Новый пароль *" value="{{ password }}" name="password">
                            </div>

                            <div class="form__group">
                                <label for="confirm" class="form__label sr-only">Повторите новый пароль *</label>
                                <input type="password" class="form__control" id="confirm" placeholder="Повторите новый пароль *" value="{{ confirm }}" name="confirm">
                            </div>

                            <button type="submit" class="form__btn">Изменить пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ footer }}
