{{ header }}
{{ oct_breadcrumbs }}

{% if success %}
	<script>
		usNotify('success', '{{ success }}');
	</script>
{% endif %}
{% if error_warning %}
	<script>
		usNotify('warning', '{{ error_warning }}');
	</script>
{% endif %}

<main class="account">
	<div class="container">
		<h1 class="account__heading">Личный кабинет</h1>

		<div class="row">
			<div class="col-lg-4">
				{{ column_left }}
			</div>

			<div class="col-lg-8">
				<div class="account__content">
					<div class="account__account-subscriptions account-subscriptions">
						<h2 class="account__subheading">
							Настройка рассылок
						</h2>

						<form action="{{ action }}" method="post" class="account-subscriptions__form form">
							<div class="form__group form__group--checkbox">
								<input class="form__control" type="checkbox" name="newsletter" id="news" value="1" {% if newsletter == 1 %}checked{% endif %}>
								<label for="news" class="form__label">
									Получать рассылки
								</label>
							</div>

							<button type="submit" class="form__btn">Применить</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{ footer }}
{#


{{ header }}
<div id="account-newsletter" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% else %}
		{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			<div class="us-content">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
					<fieldset>
						<div class="us-content-title">{{ entry_newsletter }}</div>
						<div class="us-form-check-group-acc">
							{% if newsletter %}
							<div class="form-check form-check-inline">
								<input type="radio" name="newsletter" id="CheckYes" class="form-check-input" value="1" checked="checked" />
								<label class="radio-inline" for="CheckYes">{{ text_yes }}</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" name="newsletter" id="CheckNo" class="form-check-input" value="0" />
								<label class="radio-inline" for="CheckNo">{{ text_no }}</label>
							</div>
							{% else %}
							<div class="form-check form-check-inline">
								<input type="radio" name="newsletter" id="CheckYes" class="form-check-input" value="1" />
								<label class="radio-inline" for="CheckYes">{{ text_yes }}</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" name="newsletter" id="CheckNo" class="form-check-input" value="0" checked="checked" />
								<label class="radio-inline" for="CheckNo">{{ text_no }}</label>
							</div>
							{% endif %}
						</div>
					</fieldset>
					<div class="btn-group d-flex justify-content-between">
						<a href="{{ back }}" class="us-module-btn">{{ button_back }}</a>
						<input type="submit" value="{{ button_continue }}" class="us-module-btn us-module-btn-green" />
					</div>
				</form>
			</div>
		</div>
		{{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }}
#}
