{{ header }}
{{ oct_breadcrumbs }}

{% if success %}
	<script>
		usNotify('success', '{{ success }}');
	</script>
{% endif %}
{% if error_warning %}
	<script>
		usNotify('warning', '{{ error_warning }}');
	</script>
{% endif %}

<main class="account">
	<div class="container">
		<h1 class="account__heading">Личный кабинет</h1>

		<div class="row">
			<div class="col-lg-4">
				{{ column_left }}
			</div>

			<div class="col-lg-8">
				<div class="account__content">
					<div class="account__account-order account-order">
						<div class="row align-items-stretch">
							<div class="col-xl-8">
								<div class="account-order__order-content">
									<h2 class="account__subheading">Заказ #{{ order_id }} от {{ date_added }}</h2>

									<a href="{{ continue }}" class="account-order__link">
										<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
											 viewBox="0 0 12 12">
											<path
													d="M6.6 0v0l-5.3 4.8v0l0 0v0l-1.3 1.2v0l6.6 6v0l1.3-1.2v0l-4.4-3.9v0h8.4v0 -1.7 0h-8.4v0l4.4-4v0z"
													fill="#0e55f5" />
										</svg>
										Вернуться к списку заказов
									</a>

									<div class="account-order__order-items">
										<ul class="account-order__order-list">
											{% for product in products %}
												<li class="order-list__order-item order-item">
													<a href="{{ product.href }}" class="order-item__img">
														<picture>
															<img src='{{ product.image }}' alt=''>
														</picture>
													</a>

													<div class="order-item__body">
														<a href="{{ product.href }}" class="order-item__title">
															{{ product.name }}
														</a>
														{#<div class="order-item__option">Монтаж кондиционера + 9 900 ₽</div>#}
													</div>

													<div class="order-item__quantity">
														{{ product.quantity }} Х <span class="order-item__price">{{ product.price }}</span>
													</div>
												</li>
											{% endfor %}
										</ul>

										<div class="account-order__order-totals order-totals">
											<ul class="order-totals__list">
												{% for total in totals %}
													<li class="order-totals__item">{{ total.title }}<span>{{ total.text }}</span></li>
												{% endfor %}
												{#<li class="order-totals__item order-totals__item--small">
													За покупку будет начислено<span>
                                                        <picture>
                                                            <source srcset="/image/static/img/icon/points-icon.webp"
																	type="image/webp">
                                                            <img src="/image/static/img/icon/points-icon.png" alt="">
                                                        </picture>
                                                        12 532
                                                    </span>
												</li>#}
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
								<div class="account-order__order-info order-info">
									<div class="order-info__name">
										<span>Заказчик</span>
										{{ user_name }}
									</div>

									<div class="order-info__address">
										<span>Доствка по адресу</span>
										{{ shipping_address }}
									</div>

									<div class="order-info__status">
										<h3 class="order-info__title">
											История заказа
										</h3>

										<ul class="order-info__list">
											{% for history in histories %}
												<li class="order-info__item order-info__item--finished">
													<span>{{ history.status }}</span>
													{{ history.date_added }}
												</li>
											{% endfor %}
											{#<li class="order-info__item order-info__item--current">
												<span>Передан в доставку</span>
												14:31 25 августа 2020
											</li>
											<li class="order-info__item">
												Передан курьеру
											</li>
											<li class="order-info__item">
												Доставлен
											</li>#}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{ footer }}
