{{ header }}
{{ oct_breadcrumbs }}

{% if success %}
	<script>
		usNotify('success', '{{ success }}');
	</script>
{% endif %}
{% if error_warning %}
	<script>
		usNotify('warning', '{{ error_warning }}');
	</script>
{% endif %}

<main class="account">
	<div class="container">
		<h1 class="account__heading">Личный кабинет</h1>

		<div class="row">
			<div class="col-lg-4">
				{{ column_left }}
			</div>

			<div class="col-lg-8">
				<div class="account__content">
					<div class="account__account-orders account-orders">
						<h2 class="acccount__heading">Ваши заказы</h2>

						<ul class="account-orders__list">
							{% for order in orders %}
								<li class="account-orders__order">
									<div class="order__meta">
										<h3 class="order__number"><a href="{{ order.view }}">Заказ #{{ order.order_id }}</a></h3>
										<div class="order__date">{{ order.date_added }}</div>
										<div class="order__price-wrap">
											<div class="order__price">{{ order.total }}</div>
											{#<div class="order__bonus-points">
												<picture class="account-orders__bonus-icon">
													<source srcset="/image/static/img/icon/points-icon.webp" type="image/webp">
													<img src="/image/static/img/icon/points-icon.png" alt="">
												</picture>
												12 532
											</div>#}
										</div>

									</div>

									<ul class="order__info">
										<li class="order__info-item">
											Товары в заказе
											<small class="order__products-count">
												{{ order.products }}
											</small>

											{#<span class="small">
												Настенный внутренний блок мульти сплит-системы Hisense
												AMS-09UR4SVEDB65, Сплит-система настенная Mitsubishi Electric
												MSZ-LN25VGB/MUZ-LN25VGHZ и <a href="">еще 1</a>
                                        	</span>#}
										</li>
										{#<li class="order__info-item">
											Доставка курьером

											<span>
												1 200 ₽
											</span>
										</li>
										<li class="order__info-item">
											Оплата

											<span>
												при получении
											</span>
										</li>#}
									</ul>

									<div class="order__status order__status--in-process">{{ order.status }}</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{ footer }}
