{{ header }}
<div id="account-recurring" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">
		      {% if recurrings %}
		      <div class="table-responsive-sm us-table-box">
		        <table class="table table-hover">
		          <thead class="thead-dark">
		            <tr>
		              <th>{{ column_order_recurring_id }}</th>
		              <th>{{ column_product }}</th>
		              <th>{{ column_status }}</th>
		              <th>{{ column_date_added }}</th>
		            </tr>
		          </thead>
		          <tbody>
		          {% for recurring in recurrings %}
		          <tr>
		            <td><a href="{{ recurring.view }}">#{{ recurring.order_recurring_id }}</a></td>
		            <td>{{ recurring.product }}</td>
		            <td>{{ recurring.status }}</td>
		            <td>{{ recurring.date_added }}</td>
		          </tr>
		          {% endfor %}
		          </tbody>
		        </table>
		      </div>
		      <div class="text-right">{{ pagination }}</div>
		      {% else %}
		      <p class="mb-4">{{ text_empty }}</p>
		      {% endif %}
		      <div class="buttons">
		        <a href="{{ continue }}" class="us-module-btn">{{ button_continue }}</a>
		      </div>
		    </div>
	    </div>
	    {{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }}