{{ header }}
<div id="account-reset" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">
		      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
		        <fieldset>
		          <legend class="us-content-title">{{ text_password }}</legend>
		          <div class="form-group">
		            <label for="input-password"><span class="required">*</span>{{ entry_password }}</label>
		            {% if error_password %}
		            <script>
					usNotify('warning', '{{ error_password }}');
					</script>
		            {% endif %}
		            <input type="password" name="password" value="{{ password }}" id="input-password" class="form-control" />
		          </div>
		          <div class="form-group">
		            <label for="input-confirm"><span class="required">*</span>{{ entry_confirm }}</label>
		            {% if error_confirm %}
		            <script>
					usNotify('warning', '{{ error_confirm }}');
					</script>
		            {% endif %}
		            <input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" class="form-control" />
		          </div>
		        </fieldset>
		        <div class="btn-group d-flex justify-content-between">
		          <a href="{{ back }}" class="us-module-btn">{{ button_back }}</a>
		          <input type="submit" value="{{ button_continue }}" class="us-module-btn us-module-btn-green" />
		        </div>
		      </form>
		    </div>
	    </div>
	    {{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }}