{{ header }}
<div id="account-return" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">
		      {% if returns %}
		      <div class="table-responsive-sm us-table-box">
		        <table class="table table-hover">
		          <thead class="thead-dark">
		            <tr>
		              <th>{{ column_return_id }}</th>
		              <th>{{ column_status }}</th>
		              <th>{{ column_date_added }}</th>
		              <th>{{ column_order_id }}</th>
		              <th>{{ column_customer }}</th>
		            </tr>
		          </thead>
		          <tbody>
		          {% for return in returns %}
		          <tr>
		            <td><a href="{{ return.href }}">#{{ return.return_id }}</a></td>
		            <td>{{ return.status }}</td>
		            <td>{{ return.date_added }}</td>
		            <td>{{ return.order_id }}</td>
		            <td>{{ return.name }}</td>
		          </tr>
		          {% endfor %}
		            </tbody>
		        </table>
		      </div>
		      <div class="row">
		        <div class="col-sm-6 text-left">{{ pagination }}</div>
		        <div class="col-sm-6 text-right">{{ results }}</div>
		      </div>
		      {% else %}
		      <p>{{ text_empty }}</p>
		      {% endif %}
		      <div class="buttons mt-4">
		        <a href="{{ continue }}" class="us-module-btn us-module-btn-green">{{ button_continue }}</a>
		      </div>
		    </div>
	    </div>
	    {{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }} 