{{ header }}
<div id="account-transaction" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">
		      <div class="us-content-title">{{ text_total }} <b>{{ total }}</b>.</div>
		      <div class="table-responsive-sm us-table-box">
		        <table class="table table-hover">
		          <thead class="thead-dark">
		            <tr>
		              <th>{{ column_date_added }}</th>
		              <th>{{ column_description }}</th>
		              <th>{{ column_amount }}</th>
		            </tr>
		          </thead>
		          <tbody>
		          {% if transactions %}
		          {% for transaction in transactions %}
		          <tr>
		            <td>{{ transaction.date_added }}</td>
		            <td>{{ transaction.description }}</td>
		            <td>{{ transaction.amount }}</td>
		          </tr>
		          {% endfor %}
		          {% else %}
		          <tr>
		            <td colspan="5">{{ text_empty }}</td>
		          </tr>
		          {% endif %}
		            </tbody>
		          
		        </table>
		      </div>
		      <div class="row mb-4">
		        <div class="col-sm-6 text-left">{{ pagination }}</div>
		        <div class="col-sm-6 text-right">{{ results }}</div>
		      </div>
		      <div class="buttons">
			        <a href="{{ continue }}" class="us-module-btn us-module-btn-green">{{ button_continue }}</a>
			      </div>
		    </div>
	    </div>
	    {{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }}