{{ header }}
<div id="account-voucher" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	{% if error_warning %}
	<script>
	usNotify('warning', '{{ error_warning }}');
	</script>
	{% endif %}
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">
		      <div class="us-acc-info-text">{{ text_description }}</div>
		      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
		        <div class="form-group">
		          <label for="input-to-name"><span class="required">*</span>{{ entry_to_name }}</label>
		          {% if error_to_name %}
		            <script>
					usNotify('warning', '{{ error_to_name }}');
					</script>
		          {% endif %}
		          <input type="text" name="to_name" value="{{ to_name }}" id="input-to-name" class="form-control" />
		        </div>
		        <div class="form-group">
		          <label for="input-to-email"><span class="required">*</span>{{ entry_to_email }}</label>
		          {% if error_to_email %}
		            <script>
					usNotify('warning', '{{ error_to_email }}');
					</script>
		          {% endif %}
		          <input type="text" name="to_email" value="{{ to_email }}" id="input-to-email" class="form-control" />
		        </div>
		        <div class="form-group">
		          <label for="input-from-name"><span class="required">*</span>{{ entry_from_name }}</label>
		          {% if error_from_name %}
		            <script>
					usNotify('warning', '{{ error_from_name }}');
					</script>
		          {% endif %}
		          <input type="text" name="from_name" value="{{ from_name }}" id="input-from-name" class="form-control" />
		        </div>
		        <div class="form-group">
		          <label for="input-from-email"><span class="required">*</span>{{ entry_from_email }}</label>
		          {% if error_from_email %}
		            <script>
					usNotify('warning', '{{ error_from_email }}');
					</script>
		          {% endif %}
		          <input type="text" name="from_email" value="{{ from_email }}" id="input-from-email" class="form-control" />
		        </div>
		        <div class="us-form-check-group-acc">
		          <div class="us-content-label mb-2"><span class="required">*</span> {{ entry_theme }}</div>
		          {% if error_theme %}
		            <script>
					usNotify('warning', '{{ error_theme }}');
					</script>
		          {% endif %}
		          {% for voucher_theme in voucher_themes %}
		            {% if voucher_theme.voucher_theme_id == voucher_theme_id %}
		            <div class="form-check">
		            	<input type="radio" id="voucher_theme_id{{ voucher_theme.voucher_theme_id }}" class="form-check-input" name="voucher_theme_id" value="{{ voucher_theme.voucher_theme_id }}" checked="checked" />
						<label for="voucher_theme_id{{ voucher_theme.voucher_theme_id }}">{{ voucher_theme.name }}</label>
		            </div>
		            {% else %}
		            <div class="form-check">
		            	<input type="radio" id="voucher_theme_id{{ voucher_theme.voucher_theme_id }}" class="form-check-input" name="voucher_theme_id" value="{{ voucher_theme.voucher_theme_id }}" />
						<label for="voucher_theme_id{{ voucher_theme.voucher_theme_id }}">{{ voucher_theme.name }}</label>
		            </div>
		            {% endif %}
		          {% endfor %}
		        </div>
		        <div class="form-group">
		          <label for="input-message"><span data-toggle="tooltip" title="{{ help_message }}">{{ entry_message }}</span></label>
		          <textarea name="message" cols="40" rows="5" id="input-message" class="form-control">{{ message }}</textarea>
		        </div>
		        <div class="form-group">
		          <label for="input-amount"><span data-toggle="tooltip" title="{{ help_amount }}">{{ entry_amount }}</span></label>
		          {% if error_amount %}
		            <script>
					usNotify('warning', '{{ error_amount }}');
					</script>
		          {% endif %}
		          <input type="text" name="amount" value="{{ amount }}" id="input-amount" class="form-control" size="5" />
		        </div>
		        {% if text_agree %}
		        <div class="us-form-checkbox-group">
		            {% if agree %}
		            <input type="checkbox" id="scales" class="us-form-checkbox-input" name="agree" value="1" checked="checked" />
		            {% else %}
		            <input type="checkbox" id="scales" class="us-form-checkbox-input" name="agree" value="1" />
		            {% endif %}
		            <label for="scales" class="d-flex align-items-center"><span>{{ text_agree }}</span></label>
		        </div>
		        {% endif %}
		        <div class="btn-group d-flex justify-content-between">
		          <input type="submit" value="{{ button_continue }}" class="us-module-btn us-module-btn-green" />
		        </div>
		      </form>
		    </div>
	    </div>
	    {{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }}