{{ header }}
{{ oct_breadcrumbs }}

{% import '/oct_ultrastore/template/macroses/index.twig' as macroses %}

<main class="account">
	<div class="container">
		<h1 class="account__heading">Личный кабинет</h1>

		<div class="row">
			<div class="col-lg-4">
				{{ column_left }}
			</div>

			<div class="col-lg-8">
				<div class="account__content">
					<div class="account__account-wishlist">
						<h2 class="account__subheading">Избранное</h2>

						<div class="account-wishlist__products products">
							{% for product in products %}
								{{ macroses.productCardGrid(product) }}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{ footer }}
