{% if ((oct_analytics_google_status is defined and oct_analytics_google_status) and oct_analytics_google_code is not empty) %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ oct_analytics_google_code }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	//window.dataGoogleLayer = window.dataGoogleLayer || [];

	function gtag(){dataLayer.push(arguments);}

	gtag('js', new Date());

	gtag('config', '{{ oct_analytics_google_code }}');

	if(typeof dataGoogleLayer != 'undefined') {
		gtag('event', 'purchase', dataLayer);
	}
</script>
{% endif %}

{% if ((oct_analytics_yandex_status is defined and oct_analytics_yandex_status) and oct_analytics_yandex_code is not empty) %}
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		{% if ((oct_analytics_yandex_ecommerce is defined and oct_analytics_yandex_ecommerce) and (oct_analytics_yandex_container is defined and oct_analytics_yandex_container)) %}
		window.{{ oct_analytics_yandex_container }} = window.{{ oct_analytics_yandex_container }} || [];
		{% endif %}

		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=true,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym({{ oct_analytics_yandex_code }}, "init", {
	        clickmap:true,
	        trackLinks:true,
	        accurateTrackBounce:true,
	        webvisor:true,
	        {% if ((oct_analytics_yandex_ecommerce is defined and oct_analytics_yandex_ecommerce) and (oct_analytics_yandex_container is defined and oct_analytics_yandex_container)) %}
	        ecommerce:"{{ oct_analytics_yandex_container }}"
	        {% endif %}
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/{{ oct_analytics_yandex_code }}" style="position:absolute; left:-9999px;" alt="Яндекс.Метрика" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

	{% if ((oct_analytics_yandex_ecommerce is defined and oct_analytics_yandex_ecommerce) and (oct_analytics_yandex_container is defined and oct_analytics_yandex_container)) %}
	<script>
//	function octYandexEcommerce(value) {
//
//console.log(value);
//console.log(typeof {{ oct_analytics_yandex_container }});
//console.log({{ oct_analytics_yandex_container }});
//
//	    if(typeof {{ oct_analytics_yandex_container }} != 'undefined') {
//	        var products = [{
//	            "id": value['oct_analytics_yandex_product_id'],
//	            "name": value['oct_analytics_yandex_name'],
//	            "price": value['oct_analytics_yandex_price'],
//	            "brand": value['oct_analytics_yandex_manufacturer'],
//	            "category": value['oct_analytics_yandex_category'],
//	            "quantity": value['oct_analytics_yandex_quantity']
//	        }];
//
//	        {{ oct_analytics_yandex_container }}.push({"ecommerce": {"add": {"products": products}}});
//	    }
//
//console.log(JSON.stringify({{ oct_analytics_yandex_container }}));
//
//	}

	function sendYandexEcommerce(value, action) {

//console.log(value);
//console.log(action);
//console.log({{ oct_analytics_yandex_container }});

		if(typeof {{ oct_analytics_yandex_container }} == 'undefined')
			return false;

		if(action=="remove") {
			var product = [{
	            "id": value['oct_analytics_yandex_product_id'],
	            "name": value['oct_analytics_yandex_name'],
	            "price": value['oct_analytics_yandex_price']
			}];
		} else {
			var product = [{
	            "id": value['oct_analytics_yandex_product_id'],
	            "name": value['oct_analytics_yandex_name'],
	            "price": value['oct_analytics_yandex_price'],
	            "brand": value['oct_analytics_yandex_manufacturer'],
	            "category": value['oct_analytics_yandex_category'],
	            "quantity": value['oct_analytics_yandex_quantity']
			}];
		}

		if(action=="remove")
			 {{ oct_analytics_yandex_container }}.push({"ecommerce": {"remove": {"products": product}}});
		else
			 {{ oct_analytics_yandex_container }}.push({"ecommerce": {"add": {"products": product}}});

//console.log(JSON.stringify({{ oct_analytics_yandex_container }}));

	}
	</script>
	{% endif %}
{% endif %}

{% if (oct_analytics_targets is defined and oct_analytics_targets is not empty) %}
	<script>
	{% for target in oct_analytics_targets %}
		$("{{ target['atribute'] }}").on( "click", function() {
		    {% if (target['google'] is defined and target['google']) %}
			gtag('event', '{{ target['action'] }}', {
			  'event_category' : '{{ target['category'] }}'
			});
		    {% endif %}

		    {% if (target['yandex'] is defined and target['yandex']) %}
		    yaCounter{{ oct_analytics_yandex_code }}.reachGoal('{{ target['action'] }}');
		    {% endif %}
		});
	{% endfor %}
	</script>
{% endif %}
