<form id="vkredit-form" action="{{ text_server }}" method="POST">
    <input name="shopId" value="{{ order.shopId }}" type="hidden"/>
    <input name="sum" value="{{ sum }}" type="hidden">
    <input name="orderNumber" value="{{ order.orderNumber }}" type="hidden">
    <input name="promoCode" value="{{ promoCode }}" type="hidden">
    {% set i = 0 %}
    {% for kredit in items %}
        <input name="itemName_{{ i }}" value="{{ kredit['itemName_' ~ i] }}" type="hidden"/>
        <input name="itemPrice_{{ i }}" value="{{ kredit['itemPrice_' ~ i] }}" type="hidden"/>
        <input name="itemQuantity_{{ i }}" value="{{ kredit['itemQuantity_' ~ i] }}" type="hidden"/>
        <input name="itemCategory_{{ i }}" value="{{ kredit['itemCategory_' ~ i] }}" type="hidden"/>
        {% set i = i + 1 %}
     {% endfor %}
    <input name="customerEmail" value="{{ order.details.customerEmail }}" type="hidden"/>
    <input name="customerPhone" value="{{ order.details.customerPhone }}" type="hidden"/>
    <div class="buttons">
        <div class="pull-right">
            <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
        </div>
        </div>
    </div>
    {% raw %}
    <script type="text/javascript">
        $('#button-confirm').click(function(event){
            $.ajax({
                type: 'POST',
                data: $('#vkredit-form input[name="sum"]'),
                url: 'index.php?route=extension/payment/kupivkredit1/confirm',
                beforeSend: function() {
                    $('#button-confirm').button('loading');
                },
                complete: function() {
                    $('#button-confirm').button('reset');
                },
                success: function() {
                    $('#vkredit-form').submit();
                }
            });
        });
    </script>
    {% endraw %}
</form>