<form id="vkredit-form" action="{{ text_server }}" method="post" enctype="application/x-www-form-urlencoded">
{% spaceless %}   
<textarea name="InXML" style="display: none;">
    <inParams>
        <companyInfo>
            <inn>{{ order.shopId }}</inn>
        </companyInfo>
        <creditInfo>
            <reference>{{ order.orderNumber }}</reference>
        </creditInfo>
        <clientInfo>
            {% if order.details.customerLastname %}
            <lastname>{{ order.details.customerLastname }}</lastname>
            {% endif %}
            <firstname>{{ order.details.customerFirstname }}</firstname>
            <email>{{ order.details.customerEmail }}</email>
            <mobphone>{{ order.details.customerPhone }}</mobphone>
        </clientInfo>
        <specificationList>
        {% set i = 0 %}
        {% for item in items %}
            <specificationListRow>
                <category>{{ item['itemCategory_' ~ i] }}</category>
                <code>{{ item['itemModel_' ~ i] }}</code>
                <description>{{ item['itemName_' ~ i] }}</description>
                <amount>{{ item['itemQuantity_' ~ i] }}</amount>
                <price>{{ item['itemPrice_' ~ i] }}</price>
                {% if item['image'] %}
                <image>{{ item['image'] }}</image>
                {% endif %}
            </specificationListRow>
        {% set i = i + 1 %}
        {% endfor %}
        </specificationList>
    </inParams>
</textarea>
{% endspaceless %}
    <div class="buttons">
        <div class="pull-right">
            <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
        </div>
        </div>
    </div>
    {% raw %}
    <script type="text/javascript">
        $('#button-confirm').click(function(event){
            $.ajax({
                type: 'POST',
                url: 'index.php?route=extension/payment/kupilegko/confirm',
                beforeSend: function() {
                    $('#button-confirm').button('loading');
                },
                complete: function() {
                    $('#button-confirm').button('reset');
                },
                success: function() {
                    $('#vkredit-form').submit();
                }
            });
        });
    </script>
    {% endraw %}
</form>