<h2>{{ text_instruction }}</h2>
<div class="well well-sm">
  <p>{{ description }}</p>
</div>
<p>
    <a style="color: #fff" href="{{ print }}" class="btn btn-success" target="_blank">{{ button_print }}</a>
</p>
<div class="buttons">
  <div class="pull-right">
	<a id="button-confirm" class="btn btn-primary">{{ button_confirm }}</a>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({ 
		type: 'get',
		url: 'index.php?route=extension/payment/schet/confirm',
		cache: false,
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},		
		success: function() {
			location = '{{ continue }}';
		}
	});
});
//--></script> 
