{{ header }}

<main class="erorr">
    <div class="error__wrap">
        <div class="container">
            <div class="error__content">
                <h1 class="error__heading">
                    Ошибка 404 – страница не найдена
                </h1>
                <div class="error__info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="error__number">
                                404
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="error__text">
                                Извините, страница к которой вы обращаетесь не существует или устарела
                            </p>
                            <p class="error__text">
                                Вы снова можете начать ваш поиск с <a href="">главной</a>{# или сразу посмотреть товары в
                                <a href="">каталоге</a>#}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ content_bottom }}

{{ footer }}
