@charset "utf-8";
.form-address {
  margin: 20px 0 5px 0;
}

.form-address label {
  color: #5c5c5c;
}

.map {
  width: 100%;
  position: relative;
  margin: 10px 0 10px;
  height: 400px;
  border: 1px solid #aab;
}

.foreign {
  width: 100%;
  position: relative;
  margin: 51px 0 0;
  max-height: 400px;
  border: 0px solid #aab;
  padding: 0 25px;
}

.mapwrapper {
  margin-left: 50%;
  width: 50%;
  height: 0;
  border: 1px solid transparent;
}

@media only screen and (max-width: 1199px) {
  .mapwrapper {
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  .map {
    margin-top: 20px;
  }

  .foreign {
    margin-top: 20px;
  }
}
