{{ header }}{{ column_left }} 
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
				<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-reviews').submit() : false;"><i class="fa fa-trash-o"></i></button>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %} 
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %} 
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<script>
			usNotify('warning', '{{ error_warning }}');
		</script>
		{% endif %}
		{% if success %}
	    <script>
			usNotify('success', '{{ success }}');
		</script>
	    {% endif %}
		<div class="row">
			<div id="reviews-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="control-label" for="input-author">{{ entry_author }}</label>
							<input type="text" name="filter_author" value="{{ filter_author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label" for="input-status">{{ entry_status }}</label>
							<select name="filter_status" id="input-status" class="form-control">
								<option value="*"></option>
								{% if filter_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								{% else %} 
								<option value="1">{{ text_enabled }}</option>
								{% endif %} 
								{% if not filter_status and not filter_status is null %}
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% else %} 
								<option value="0">{{ text_disabled }}</option>
								{% endif %} 
							</select>
						</div>
						<div class="form-group">
							<label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
							<div class="input-group date">
								<input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
								<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
								</span>
							</div>
						</div>
						<div class="form-group text-right">
							<button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-md-pull-3 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
					</div>
					<div class="panel-body">
						<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-reviews">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
											<td class="text-left">
												{% if sort == 'com.author' %}
												<a href="{{ sort_author }}" class="{{ order|lower }}">{{ column_author }}</a>
												{% else %} 
												<a href="{{ sort_author }}">{{ column_author }}</a>
												{% endif %}
											</td>
											<td class="text-left">
												{% if sort == 'com.status' %}
												<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
												{% else %} 
												<a href="{{ sort_status }}">{{ column_status }}</a>
												{% endif %}
											</td>
											<td class="text-left">
												{% if sort == 'com.date_added' %}
												<a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
												{% else %} 
												<a href="{{ sort_date_added }}">{{ column_date_added }}</a>
												{% endif %}
											</td>
											<td class="text-right">{{ column_action }}</td>
										</tr>
									</thead>
									<tbody>
										{% if reviews %}
										{% for review in reviews %} 
										<tr>
											<td class="text-center">{% if review.oct_sreview_review_id in selected %}
												<input type="checkbox" name="selected[]" value="{{ review.oct_sreview_review_id }}" checked="checked" />
												{% else %} 
												<input type="checkbox" name="selected[]" value="{{ review.oct_sreview_review_id }}" />
												{% endif %}
											</td>
											<td class="text-left">{{ review.author }}</td>
											<td class="text-left">{{ review.status }}</td>
											<td class="text-left">{{ review.date_added }}</td>
											<td class="text-right"><a href="{{ review.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
										</tr>
										{% endfor %} 
										{% else %} 
										<tr>
											<td class="text-center" colspan="6">{{ text_no_results }}</td>
										</tr>
										{% endif %} 
									</tbody>
								</table>
							</div>
						</form>
						<div class="row">
							<div class="col-sm-6 text-left">{{ pagination }}</div>
							<div class="col-sm-6 text-right">{{ results }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('#button-filter').on('click', function() {
	url = 'index.php?route=octemplates/module/oct_sreview_reviews&user_token={{ user_token }}';
	
	var filter_author = $('input[name=\'filter_author\']').val();

	if (filter_author) {
		url += '&filter_author=' + encodeURIComponent(filter_author);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status); 
	}		
			
	var filter_date_added = $('input[name=\'filter_date_added\']').val();

	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}

	location = url;
});
</script>
<script>
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
</script>
<script>
$('input[name=\'filter_author\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=octemplates/module/oct_sreview_reviews/autocomplete&user_token={{ user_token }}&filter_author=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item.author,
						value: item.oct_sreview_review_id
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_author\']').val(item['label']);
	}
});
</script>
{{ footer }}