{{ header }}{{ column_left }} 
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<script>
			usNotify('warning', '{{ error_warning }}');
		</script>
		{% endif %}
		{% if success %} 
		<script>
			usNotify('success', '{{ success }}');
		</script>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-menus" data-toggle="tab">{{ tab_menus }}</a></li>
						<li><a href="#tab-general" data-toggle="tab">{{ tab_settings }}</a></li>
		            </ul>
					<div class="tab-content">
						<div class="tab-pane" id="tab-general">
							<fieldset>
								<div class="col-sm-12">
									<legend>
										{{ tab_settings }}
										<div class="pull-right" style="margin-top:-14px;">
											<button type="submit" form="form" formaction="{{ action }}" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
										</div>
									</legend>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<label class="col-sm-4 control-label" for="input-status">{{ entry_status }}</label>
										<div class="col-sm-8">
											<div class="toggle-group">
												<input type="checkbox" name="oct_megamenu_status" {% if oct_megamenu_status %}checked="checked"{% endif %} id="oct_megamenu_status" tabindex="1">
												<label for="oct_megamenu_status"></label>
												<div class="onoffswitch pull-left" aria-hidden="true">
													<div class="onoffswitch-label">
														<div class="onoffswitch-inner"></div>
														<div class="onoffswitch-switch"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-4 control-label" for="oct_megamenu_categories">{{ entry_megamenu_categories }}</label>
										<div class="col-sm-8">
											<div class="toggle-group">
												<input type="checkbox" name="oct_megamenu_categories" {% if oct_megamenu_categories %}checked="checked"{% endif %} id="oct_megamenu_categories" tabindex="1">
												<label for="oct_megamenu_categories"></label>
												<div class="onoffswitch pull-left" aria-hidden="true">
													<div class="onoffswitch-label">
														<div class="onoffswitch-inner"></div>
														<div class="onoffswitch-switch"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<legend>{{ text_mobile_settings }}</legend>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<label class="col-sm-4 control-label" for="oct_megamenu_mobile_categories">{{ entry_megamenu_mobile_categories }}</label>
										<div class="col-sm-8">
											<div class="toggle-group">
												<input type="checkbox" name="oct_megamenu_mobile_categories" {% if oct_megamenu_mobile_categories %}checked="checked"{% endif %} id="oct_megamenu_mobile_categories" tabindex="1">
												<label for="oct_megamenu_mobile_categories"></label>
												<div class="onoffswitch pull-left" aria-hidden="true">
													<div class="onoffswitch-label">
														<div class="onoffswitch-inner"></div>
														<div class="onoffswitch-switch"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-4 control-label" for="oct_megamenu_brands">{{ entry_megamenu_brands }}</label>
										<div class="col-sm-8">
											<div class="toggle-group">
												<input type="checkbox" name="oct_megamenu_brands" {% if oct_megamenu_brands %}checked="checked"{% endif %} id="oct_megamenu_brands" tabindex="1">
												<label for="oct_megamenu_brands"></label>
												<div class="onoffswitch pull-left" aria-hidden="true">
													<div class="onoffswitch-label">
														<div class="onoffswitch-inner"></div>
														<div class="onoffswitch-switch"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<label class="col-sm-4 control-label" for="oct_megamenu_informations">{{ entry_megamenu_informations }}</label>
										<div class="col-sm-8">
											<div class="toggle-group">
												<input type="checkbox" name="oct_megamenu_informations" {% if oct_megamenu_informations %}checked="checked"{% endif %} id="oct_megamenu_informations" tabindex="1">
												<label for="oct_megamenu_informations"></label>
												<div class="onoffswitch pull-left" aria-hidden="true">
													<div class="onoffswitch-label">
														<div class="onoffswitch-inner"></div>
														<div class="onoffswitch-switch"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-4 control-label" for="oct_megamenu_links">{{ entry_megamenu_links }}</label>
										<div class="col-sm-8">
											<div class="toggle-group">
												<input type="checkbox" name="oct_megamenu_links" {% if oct_megamenu_links %}checked="checked"{% endif %} id="oct_megamenu_links" tabindex="1">
												<label for="oct_megamenu_links"></label>
												<div class="onoffswitch pull-left" aria-hidden="true">
													<div class="onoffswitch-label">
														<div class="onoffswitch-inner"></div>
														<div class="onoffswitch-switch"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="tab-pane active" id="tab-menus">
							<fieldset>
								<div class="container-fluid">
									<legend>
										{{ tab_menus }}
										<div class="pull-right" style="margin-top:-14px;">
											<a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
											{% if (oct_megamenus) %} 
											<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form').submit() : false;"><i class="fa fa-trash-o"></i></button>
											{% endif %} 
										</div>
									</legend>
								</div>
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
												<td class="text-left">{% if (sort == 'otmmd.title') %} 
													<a href="{{ sort_title }}" class="{{ order }}">{{ column_title }}</a>
													{% else %} 
													<a href="{{ sort_title }}">{{ column_title }}</a>
													{% endif %}
												</td>
												<td class="text-left">{% if (sort == 'otmmd.link') %} 
													<a href="{{ sort_link }}" class="{{ order }}">{{ column_link }}</a>
													{% else %} 
													<a href="{{ sort_link }}">{{ column_link }}</a>
													{% endif %}
												</td>
												<td class="text-right">{% if (sort == 'otmm.sort_order') %} 
													<a href="{{ sort_sort_order }}" class="{{ order }}">{{ column_sort_order }}</a>
													{% else %} 
													<a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
													{% endif %}
												</td>
												<td class="text-right">{{ column_action }}</td>
											</tr>
										</thead>
										<tbody>
											{% if (oct_megamenus) %} 
											{% for oct_megamenu in oct_megamenus %} 
											<tr>
												<td class="text-center">{% if oct_megamenu.megamenu_id in selected %} 
													<input type="checkbox" name="selected[]" value="{{ oct_megamenu.megamenu_id }}" checked="checked" />
													{% else %} 
													<input type="checkbox" name="selected[]" value="{{ oct_megamenu.megamenu_id }}" />
													{% endif %}
												</td>
												<td class="text-left">{{ oct_megamenu['title'] }}</td>
												<td class="text-left">{{ oct_megamenu['link'] }}</td>
												<td class="text-right">{{ oct_megamenu['sort_order'] }}</td>
												<td class="text-right"><a href="{{ oct_megamenu['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
											</tr>
											{% endfor %} 
											{% else %} 
											<tr>
												<td class="text-center" colspan="5">{{ text_no_results }}</td>
											</tr>
											{% endif %} 
										</tbody>
									</table>
								</div>
							</fieldset>
							<div class="row">
								<div class="col-sm-6 text-left">{{ pagination }}</div>
								<div class="col-sm-6 text-right">{{ results }}</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}