{{ header }}{{ column_left }} 
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %} 
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %} 
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<script>
			usNotify('warning', '{{ error_warning }}');
		</script>
		{% endif %}
		{% if success %}
	    <script>
			usNotify('success', '{{ success }}');
		</script>
	    {% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<div class="toggle-group">
								<input type="checkbox" name="status" {% if status %}checked="checked"{% endif %} id="status" tabindex="1">
								<label for="status"></label>
								<div class="onoffswitch pull-left" aria-hidden="true">
									<div class="onoffswitch-label">
										<div class="onoffswitch-inner"></div>
										<div class="onoffswitch-switch"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="all_settings" {% if (status is not defined or (status is defined and not status)) %}style="display:none"{% endif %}>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
							<div class="col-sm-10">
								<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
								{% if error_name %} 
								<div class="text-danger">
									<script>
										usNotify('warning', '{{ error_name }}');
									</script>
								</div>
								{% endif %} 
							</div>
						</div>
						<ul class="nav nav-tabs" id="language">
							{% for language in languages %}
							<li>
								<a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a>
							</li>
							{% endfor %}
						</ul>
						<div class="tab-content">
							{% for language in languages %}
							<div class="tab-pane" id="language{{ language.language_id }}">
								<div class="form-group required">
									<label class="col-sm-2 control-label">{{ entry_heading }}</label>
									<div class="col-sm-10">
										<input type="text" name="heading[{{ language.language_id }}]" value="{{ heading[language.language_id] is not empty ? heading[language.language_id] : '' }}" class="form-control" />
										{% if (error_heading[language.language_id] is defined) %}
										<div class="text-danger">
											<script>
												usNotify('warning', '{{ error_heading[language.language_id] }}');
											</script>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="form-group required">
							<div class="col-sm-6">
								<label class="col-sm-4 control-label" for="input-width">{{ entry_width }}</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
										<span class="input-group-addon">px</span>
									</div>
									{% if (error_width) %}
									<div class="text-danger">
										<script>
											usNotify('warning', '{{ error_width }}');
										</script>
									</div>
									{% endif %}
								</div>
							</div>
							<div class="col-sm-6">
								<label class="col-sm-4 control-label" for="input-height">{{ entry_height }}</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
										<span class="input-group-addon">px</span>
									</div>
									{% if (error_height) %}
									<div class="text-danger">
										<script>
											usNotify('warning', '{{ error_height }}');
										</script>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
							<div class="col-sm-10">
								<input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
$('#language a:first').tab('show');
$('#status').change(function() {
    var $input = $(this);

    if ($input.is(":checked")) {
        $("#all_settings").slideDown('slow');
    } else {
        $("#all_settings").slideUp('slow');
    }
});
</script>
{{ footer }}