{% if histories %}
<div class="btn-group">
	<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	<i class="fa fa-trash-o"></i> {{ button_delete_menu }} <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a onclick="delete_all();">{{ button_delete_all }}</a></li>
		<li><a onclick="delete_all_selected();">{{ button_delete_selected }}</a></li>
	</ul>
</div>
<br/><br/>
{% endif %}
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
				<td class="text-left" >{{ column_info }}</td>
				<td class="text-left">{{ column_date_added }}</td>
				<td class="text-center" >{{ column_action }}</td>
			</tr>
		</thead>
		<tbody>
			{% if histories %}
			{% for history in histories %}
			<tr>
				<td style="text-align: center;"><input type="checkbox" name="selected[]" value="{{ history.request_id }}" /></td>
				<td class="text-left">
					{% if history.info %}
					{% for info in history.info %}
					<p><strong>{{ info.name }}:</strong> {{ info.value }}</p>
					{% endfor %}
					{% endif %}
				</td>
				<td class="text-left">{{ history.date_added }}</td>
				<td class="text-center">
					<a onclick="delete_selected({{ history.request_id }});" data-toggle="tooltip" title="" class="btn btn-warning" data-original-title="{{ button_delete }}"><i class="fa fa-trash-o"></i></a>
				</td>
			</tr>
			{% endfor %}
			{% else %}
			<tr>
				<td class="text-center" colspan="4">{{ text_no_results }}</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-sm-6 text-left">{{ pagination }}</div>
	<div class="col-sm-6 text-right">{{ results }}</div>
</div>