{{ header }}{{ column_left }} 
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
				<button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default" onclick="$('#form-subject').attr('action', '{{ copy }}').submit()"><i class="fa fa-copy"></i></button>
				<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-subject').submit() : false;"><i class="fa fa-trash-o"></i></button>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %} 
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %} 
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<script>
			usNotify('warning', '{{ error_warning }}');
		</script>
		{% endif %}
		{% if success %}
	    <script>
			usNotify('success', '{{ success }}');
		</script>
	    {% endif %}
		<div class="row">
			<div id="reviews-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="control-label" for="input-name">{{ entry_name }}</label>
							<input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
						</div>
						<div class="form-group">
							<label class="control-label" for="input-status">{{ entry_status }}</label>
							<select name="filter_status" id="input-status" class="form-control">
								<option value="*"></option>
								{% if filter_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								{% else %} 
								<option value="1">{{ text_enabled }}</option>
								{% endif %} 
								{% if not filter_status and not filter_status is null %}
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% else %} 
								<option value="0">{{ text_disabled }}</option>
								{% endif %} 
							</select>
						</div>
						<div class="form-group text-right">
							<button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-md-pull-3 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
					</div>
					<div class="panel-body">
						<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-subject">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\').prop('checked', this.checked);" /></td>
											<td class="text-left">{% if sort == 'sd.name' %}
												<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
												{% else %} 
												<a href="{{ sort_name }}">{{ column_name }}</a>
												{% endif %} 
											</td>
											<td class="text-left">{% if sort == 's.status' %}
												<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
												{% else %} 
												<a href="{{ sort_status }}">{{ column_status }}</a>
												{% endif %} 
											</td>
											<td class="text-left">{% if sort == 's.sort_order' %}
												<a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
												{% else %} 
												<a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
												{% endif %} 
											</td>
											<td class="text-right">{{ column_action }}</td>
										</tr>
									</thead>
									<tbody>
										{% if subjects %}
										{% for subject in subjects %} 
										<tr>
											<td class="text-center">{% if subject.oct_sreview_subject_id in selected %}
												<input type="checkbox" name="selected[]" value="{{ subject.oct_sreview_subject_id }}" checked="checked" />
												{% else %} 
												<input type="checkbox" name="selected[]" value="{{ subject.oct_sreview_subject_id }}" />
												{% endif %} 
											</td>
											<td class="text-left">{{ subject.name }}</td>
											<td class="text-left">{{ subject.status }}</td>
											<td class="text-left">{{ subject.sort_order }}</td>
											<td class="text-right"><a href="{{ subject.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
										</tr>
										{% endfor %} 
										{% else %} 
										<tr>
											<td class="text-center" colspan="5">{{ text_no_results }}</td>
										</tr>
										{% endif %} 
									</tbody>
								</table>
							</div>
						</form>
						<div class="row">
							<div class="col-sm-5 text-left">{{ pagination }}</div>
							<div class="col-sm-5 text-right">{{ results }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('#button-filter').on('click', function() {
	var url = 'index.php?route=octemplates/module/oct_sreview_subject&user_token={{ user_token }}';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	var filter_sort_order = $('select[name=\'filter_sort_order\']').val();

	if (filter_sort_order != '*') {
	url += '&filter_sort_order=' + encodeURIComponent(filter_sort_order);
	}

	location = url;
});
</script>
<script>
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=octemplates/module/oct_sreview_subject/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['oct_sreview_subject_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});
</script>
{{ footer }}