{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-uds" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
						<br>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
		
			{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}
			{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_customer }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-uds" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            Телефон
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="phone" name="phone" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            Код
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="code" name="code" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
											<div class="col-sm-3">                			
												<button id="byCode" type="button" data-toggle="tooltip" title="Проверить клиента" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Клиент по коду 6</button>
											</div>											
											<div class="col-sm-3">                			
												<button id="byPhone" type="button" data-toggle="tooltip" title="Проверить клиента" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Клиент по телефону</button>
											</div>
											<div class="col-sm-3">                			
												<button id="byId" type="button" data-toggle="tooltip" title="Проверить клиента" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Клиент по коду</button>
											</div>
											<div class="col-sm-3">                			
												<button id="test" type="button" data-toggle="tooltip" title="Проверить клиента" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Проверить клиента</button>
											</div>
										</div>

                    <div class="form-group">
											<div id="result" class="col-sm-12">                			
											</div>											
										</div>

                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
<style>
.alert {
    overflow: initial;
}
</style>

<script>
$('#test').on('click', function(){

	console.log('getCustomerData');
	console.log($('#phone').val());	
	console.log($('#phone').text());	
	console.log($('#phone').html());
	console.log("{{ user_token }}");

	$.ajax({
		url: 'index.php?route=uds/uds_customer/getCustomerData&user_token={{ user_token }}',
		type: 'post',
		data: 'code=' + $('#code').val() + '&phone=' + $('#phone').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				$('#result').html(json['success']['obj'] + '<br>' + json['success']['arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#byId').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_customer/getCustomerById&user_token={{ user_token }}',
		type: 'post',
		data: 'code=' + $('#code').val() + '&phone=' + $('#phone').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				$('#result').html('<br>' + json['success']['arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#byPhone').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_customer/getCustomerByPhone&user_token={{ user_token }}',
		type: 'post',
		data: 'phone=' + $('#phone').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				//$('#result').html(json['success']['phone'] + '<br>' + json['success']['total'] + '<br>' + json['success']['obj'] + '<br>' + json['success']['arr']);
				$('#result').html(json['success']['phone'] + '<br>Клиент : ' + json['success']['name'] + '<br>ID : ' + json['success']['id'] + '<br>UID : ' + json['success']['uid'] + '<br>Всего клиентов : ' + json['success']['total'] + '<br>Данные полученные по ID : ' + json['success']['id_arr'] + '<br>Данные полученные по UID : ' + json['success']['uid_arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#byCode').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_customer/getCustomerByCode&user_token={{ user_token }}',
		type: 'post',
		data: 'code=' + $('#code').val() + '&phone=' + $('#phone').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				//$('#result').html(json['success']['obj'] + '<br>' + json['success']['arr']);
				$('#result').html('Информация о заказе<br>' + json['success']['arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

</script>

