{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-uds" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
						<br>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
		
			{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}
			{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_customer }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-uds" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            Сумма заказа
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="total" name="total" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            Баллы не начислять на сумму
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="skip" name="skip" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            Телефон
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="phone" name="phone" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         Промо Код
                       </label>
                       <div class="col-sm-6">
                         <input type="text" id="code" name="code" value="" class="form-control" />
                        </div>
												<div class="col-sm-3">                			
													<button id="setCode" type="button" data-toggle="tooltip" title="Ввести код (6)" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Ввести код (6)</button>
												</div>											
                    </div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         name
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="name" name="name" value="" class="form-control" />
                       </div>
                       <label class="col-sm-3 control-label" for="">
                         uid
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="uid" name="uid" value="" class="form-control" />
                       </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         id
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="id" name="id" value="" class="form-control" />
                       </div>
                       <label class="col-sm-3 control-label" for="">
                         totalPoints
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="totalPoints" name="totalPoints" value="" class="form-control" />
                       </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         cashbackRate
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="cashbackRate" name="cashbackRate" value="" class="form-control" />
                       </div>
                       <label class="col-sm-3 control-label" for="">
                         cash
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="cash" name="cash" value="" class="form-control" />
                       </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         maxPoints
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="maxPoints" name="maxPoints" value="" class="form-control" />
                       </div>
                       <label class="col-sm-3 control-label" for="">
                         points
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="points" name="points" value="" class="form-control" />
                       </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         cashBack
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="cashBack" name="cashBack" value="" class="form-control" />
                       </div>
                       <label class="col-sm-3 control-label" for="">
                         orderTotal
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="orderTotal" name="orderTotal" value="" class="form-control" />
                       </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         skipLoyaltyTotal
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="skipLoyaltyTotal" name="skipLoyaltyTotal" value="" class="form-control" />
                       </div>
                       <label class="col-sm-3 control-label" for="">
                         pointsPercent
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="pointsPercent" name="pointsPercent" value="" class="form-control" />
                       </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         operationCode
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="operationCode" name="operationCode" value="" class="form-control" />
                       </div>
                       <label class="col-sm-3 control-label" for="">
                         operationId
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="operationId" name="operationId" value="" class="form-control" />
                       </div>
										</div>

                    <div class="form-group">
                       <label class="col-sm-3 control-label" for="">
                         partialAmount
                       </label>
                       <div class="col-sm-3">
                         <input type="text" id="partialAmount" name="partialAmount" value="" class="form-control" />
                       </div>
										</div>

                    <div class="form-group">
											<div class="col-sm-3">                			
												<button id="operationInfo" type="button" data-toggle="tooltip" title="Информация по операции" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Информация по операции</button>
											</div>											
											<div class="col-sm-3">                			
												<button id="orderByCode" type="button" data-toggle="tooltip" title="Оплатить заказ по коду" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Оплатить заказ по коду</button>
											</div>											
											<div class="col-sm-3">                			
												<button id="orderByPhone" type="button" data-toggle="tooltip" title="Оплатить заказ по телефону" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Оплатить заказ по телефону</button>
											</div>											
											<div class="col-sm-3">                			
												<button id="refundOperation" type="button" data-toggle="tooltip" title="Возврат заказа" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Возврат заказа</button>
											</div>											
										</div>

                    <div class="form-group">
											<div id="result" class="col-sm-12">                			
											</div>											
										</div>

                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
<style>
.alert {
    overflow: initial;
}
</style>

<script>
$('#setCode').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_order/getOperationByCode&user_token={{ user_token }}',
		type: 'post',
		data: 'code=' + $('#code').val() + '&phone=' + $('#phone').val() + '&total=' + $('#total').val() + '&skip=' + $('#skip').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				$('#result').html('Информация о заказе<br>' + json['success']['arr']);
				$('#name').val(json['success']['name']);				
				$('#uid').val(json['success']['uid']);
				$('#phone').val(json['success']['phone']);
				$('#id').val(json['success']['id']);
				$('#totalPoints').val(json['success']['totalPoints']);
				$('#cashbackRate').val(json['success']['cashbackRate']);
				$('#cash').val(json['success']['cash']);
				$('#maxPoints').val(json['success']['maxPoints']);
				$('#points').val(json['success']['points']);
				$('#cashBack').val(json['success']['cashBack']);
				$('#orderTotal').val(json['success']['orderTotal']);
				$('#skipLoyaltyTotal').val(json['success']['skipLoyaltyTotal']);
				$('#pointsPercent').val(json['success']['pointsPercent']);
				$('#operationCode').val(json['success']['operationCode']);

			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#operationInfo').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_order/getOperationInfo&user_token={{ user_token }}',
		type: 'post',
		data: 'code=' + $('#code').val() + '&operationCode=' + $('#operationCode').val() + '&uid=' + $('#uid').val() + '&phone=' + $('#phone').val() + '&orderTotal=' + $('#orderTotal').val() + '&cash=' + $('#cash').val() + '&points=' + $('#points').val() + '&skipLoyaltyTotal=' + $('#skipLoyaltyTotal').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process').removeClass('hidden');
		},	
		complete: function() {
			//$('#process').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				$('#result').html('Информация о заказе<br>' + json['success']['arr']);
//				$('#name').val(json['success']['name']);				
//				$('#uid').val(json['success']['uid']);
//				$('#phone').val(json['success']['phone']);
//				$('#id').val(json['success']['id']);
//				$('#totalPoints').val(json['success']['totalPoints']);
//				$('#cashbackRate').val(json['success']['cashbackRate']);
//				$('#cash').val(json['success']['cash']);
//				$('#maxPoints').val(json['success']['maxPoints']);
//				$('#points').val(json['success']['points']);
//				$('#cashBack').val(json['success']['cashBack']);
//				$('#orderTotal').val(json['success']['orderTotal']);
//				$('#skipLoyaltyTotal').val(json['success']['skipLoyaltyTotal']);
//				$('#pointsPercent').val(json['success']['pointsPercent']);

			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#orderByCode').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_order/setOperationByCode&user_token={{ user_token }}',
		type: 'post',
		data: 'code=' + $('#code').val() + '&operationCode=' + $('#operationCode').val() + '&uid=' + $('#uid').val() + '&phone=' + $('#phone').val() + '&orderTotal=' + $('#orderTotal').val() + '&cash=' + $('#cash').val() + '&points=' + $('#points').val() + '&skipLoyaltyTotal=' + $('#skipLoyaltyTotal').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				$('#result').html('Выполнена операция<br>' + 'ID операци ' + json['success']['operationId'] + '<br>' + json['success']['arr']);
				$('#operationId').val(json['success']['operationId']);				
//				$('#uid').val(json['success']['uid']);
//				$('#phone').val(json['success']['phone']);
//				$('#id').val(json['success']['id']);
//				$('#totalPoints').val(json['success']['totalPoints']);
//				$('#cashbackRate').val(json['success']['cashbackRate']);
//				$('#cash').val(json['success']['cash']);
//				$('#maxPoints').val(json['success']['maxPoints']);
//				$('#points').val(json['success']['points']);
//				$('#cashBack').val(json['success']['cashBack']);
//				$('#orderTotal').val(json['success']['orderTotal']);
//				$('#skipLoyaltyTotal').val(json['success']['skipLoyaltyTotal']);
//				$('#pointsPercent').val(json['success']['pointsPercent']);

			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#orderByPhone').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_order/setOperationByPhone&user_token={{ user_token }}',
		type: 'post',
		data: 'code=' + $('#code').val() + '&operationCode=' + $('#operationCode').val() + '&uid=' + $('#uid').val() + '&phone=' + $('#phone').val() + '&orderTotal=' + $('#orderTotal').val() + '&cash=' + $('#cash').val() + '&points=' + $('#points').val() + '&skipLoyaltyTotal=' + $('#skipLoyaltyTotal').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				$('#result').html('Выполнена операция по телефону<br>' + 'ID операци ' + json['success']['operationId'] + '<br><br><strong>Вам начислено ' + json['success']['addPoints'] + ' баллов</strong><br><br>' + json['success']['arr']);
				$('#operationId').val(json['success']['operationId']);				
//				$('#uid').val(json['success']['uid']);
//				$('#phone').val(json['success']['phone']);
//				$('#id').val(json['success']['id']);
//				$('#totalPoints').val(json['success']['totalPoints']);
//				$('#cashbackRate').val(json['success']['cashbackRate']);
//				$('#cash').val(json['success']['cash']);
//				$('#maxPoints').val(json['success']['maxPoints']);
//				$('#points').val(json['success']['points']);
//				$('#cashBack').val(json['success']['cashBack']);
//				$('#orderTotal').val(json['success']['orderTotal']);
//				$('#skipLoyaltyTotal').val(json['success']['skipLoyaltyTotal']);
//				$('#pointsPercent').val(json['success']['pointsPercent']);

			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});


$('#refundOperation').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_order/refundOperation&user_token={{ user_token }}',
		type: 'post',
		data: 'operationId=' + $('#operationId').val() + '&partialAmount=' + $('#partialAmount').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				$('#result').html('Возврат Заказа<br>' + json['success']['arr']);
				//$('#operationId').val(json['success']['operationId']);				

			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

</script>

