{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-uds" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
						<br>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
		
			{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}
			{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_setting }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-uds" class="form-horizontal">
								
                    <div class="form-group">
											<div class="col-sm-9">                			
											</div>											
											<div class="col-sm-3">                			
												<button id="activate" type="button" data-toggle="tooltip" title="Активироваать модуль" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Активироваать модуль</button>
											</div>
										</div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="uds_status">
                            {{ entry_status }}
                        </label>
                        
                        <div class="col-sm-9">
                            <select name="uds_status" id="uds_status" class="form-control">
                                {% if uds_status %}
                                    <option value="1" selected="selected">{{ status_enabled }}</option>
                                    <option value="0">{{ status_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ status_enabled }}</option>
                                    <option value="0" selected="selected">{{ status_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            {{ entry_company_id }}
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="uds_company_id" value="{{ uds_company_id }}" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            {{ entry_api_key }}
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="uds_api_key" value="{{ uds_api_key }}" class="form-control" />
                        </div>
                    </div>
								
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            Идентификатор кассира
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="uds_cashier_id" value="{{ uds_cashier_id }}" class="form-control" />
                        </div>
                    </div>
								
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            Наименование кассира
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="uds_cashier_name" value="{{ uds_cashier_name }}" class="form-control" />
                        </div>
                    </div>
								
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">
                            Ссылка на витрину UDS
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="uds_app_link" value="{{ uds_app_link }}" class="form-control" />
                        </div>
                    </div>
										
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-complete-status"><span data-toggle="tooltip" title="{{ help_complete_status }}">{{ entry_complete_status }}</span></label>
                  <div class="col-sm-10">
                    <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for order_status in order_statuses %}
                      <div class="checkbox">
                        <label> {% if order_status.order_status_id in uds_complete_status %}
                          <input type="checkbox" name="uds_complete_status[]" value="{{ order_status.order_status_id }}" checked="checked" />
                          {{ order_status.name }}
                          {% else %}
                          <input type="checkbox" name="uds_complete_status[]" value="{{ order_status.order_status_id }}" />
                          {{ order_status.name }}
                          {% endif %} </label>
                      </div>
                      {% endfor %} </div>
                    {% if error_complete_status %}
                    <div class="text-danger">{{ error_complete_status }}</div>
                    {% endif %} </div>
                </div>
								
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-refund-status"><span data-toggle="tooltip" title="{{ help_refund_status }}">{{ entry_refund_status }}</span></label>
                  <div class="col-sm-10">
                    <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for order_status in order_statuses %}
                      <div class="checkbox">
                        <label> {% if order_status.order_status_id in uds_refund_status %}
                          <input type="checkbox" name="uds_refund_status[]" value="{{ order_status.order_status_id }}" checked="checked" />
                          {{ order_status.name }}
                          {% else %}
                          <input type="checkbox" name="uds_refund_status[]" value="{{ order_status.order_status_id }}" />
                          {{ order_status.name }}
                          {% endif %} </label>
                      </div>
                      {% endfor %} </div>
                    {% if error_refund_status %}
                    <div class="text-danger">{{ error_refund_status }}</div>
                    {% endif %} </div>
                </div>
								
                    <div class="form-group">
											<div class="col-sm-9">                			
											</div>											
											<div class="col-sm-3">                			
												<button id="test" type="button" data-toggle="tooltip" title="Проверить магазин" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Проверить магазин</button>
											</div>
										</div>

                    <div class="form-group">
											<div id="result" class="col-sm-12">                			
											</div>											
										</div>

                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
<style>
.alert {
    overflow: initial;
}
</style>

<script>
$('#test').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_setting/getCompanyData&user_token={{ user_token }}',
		type: 'post',
		//data: 'code=' + $('#code').val() + '&phone=' + $('#phone').val(),		
		data: '',
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']['text'] + '<br>' + json['error']['result']);
			}
			if (json['success']) {
				//$('#result').html(json['success']);
				$('#result').html(json['success']['text'] + '<br>' + json['success']['id'] + '<br>' + json['success']['name'] + '<br>' + json['success']['arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

</script>

