{{ header }}{{ column_left }}

<div id="content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-uds" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1><br>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> Товары и категории магазина в UDS</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-uds" class="form-horizontal">
                     
                      <div class="form-group">
                        <div class="col-sm-12 text-center">
							<button id="uds_refresh" type="button" data-toggle="tooltip" data-trigger="hover" title="Обновить все данные товаров в витрине UDS" class="btn btn-primary"><i class="fa fa-refresh" style="font-size:20px;padding:0 8px;" aria-hidden="true"></i>Обновить товары в UDS</button> &nbsp;                         
							<button id="uds_clear" type="button" data-toggle="tooltip" data-trigger="hover" title="Удалить все категории и товары в витрине UDS" class="btn btn-danger hidden"><i class="fa fa-times" style="font-size:20px;padding:0 8px;" aria-hidden="true"></i>Очистить витрину UDS</button>                        
                         </div>
                      </div>
                    
                     <div class="form-group">
                        <div class="col-sm-6">
                            <label class="col-sm-12 control-label" style="padding:0 0 9px; text-align:left;" for="uds_category">
                                Категории UDS
                            </label>
                            <div class="col-sm-8" style="padding:0;">
                                <select name="uds_category" id="uds_category" class="form-control">
                                    <option value="">Выберите категорию</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                            	<button id="uds_categories" type="button" data-toggle="tooltip" data-trigger="hover" title="Загрузить список категорий из витрины UDS" class="btn btn-primary" style="font-size:21px;padding:3px 8px 2px;margin-right:3px;"><i class="fa fa-bars"></i></button>
                                <button id="delete_products" type="button" data-toggle="tooltip" data-trigger="hover" title="Удалить отмеченные товары из витрины UDS" class="btn btn-warning hidden" style="font-size:23px;padding:1px 8px;margin-right:4px;"><i class="fa fa-trash-o"></i></button>
                                <button id="delete_category" type="button" data-toggle="tooltip" data-trigger="hover" title="Удалить текущую категорию из витрины UDS" class="btn btn-danger hidden" style="font-size:24px;padding:0 8px;margin-right:4px;"><i class="fa fa-times"></i></button>
                                <button id="uds_stats" type="button" data-toggle="tooltip" data-trigger="hover" title="Статистика витрины в UDS. Лимиты категорий и товаров" class="btn btn-success" style="font-size:24px;padding:0 7px;"><i class="fa fa-info-circle"></i></button>
                            </div>
                        </div>
                     
                        <div class="col-sm-6">
                            <label class="col-sm-12 control-label" style="padding:0 0 9px; text-align:left;" for="oc_category">
                                Категории Opencart
                            </label>
                            <div class="col-sm-8" style="padding:0;">
                                <select name="oc_category" id="oc_category" class="form-control">
                                    <option value="">Выберите категорию</option>
                                    {% if categories %}
                                        {% for category in categories %}
										{% if category.parent_id == 0 %}
                                             <option value="c{{ category.category_id }}" parent="" name="{{ category.name }}">
                                    	{% else %}
                                            <option value="c{{ category.category_id }}" parent="c{{ category.parent_id }}" name="{{ category.name }}">
                                    	{% endif %}
                                        {% for i in range(1, category.level) %}
                                            &nbsp;&nbsp;
                                        {% endfor %}
                                            {{ category.name }}
                                        </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <button id="add_category" type="button" data-toggle="tooltip" data-trigger="hover" title="Создать/обновить категорию в витрине UDS" class="btn btn-primary" style="font-size:21px;padding:3px 9px 2px 8px;margin-right:4px;"><i class="fa fa-play fa-rotate-180" aria-hidden="true"></i></button>
                                <button id="add_products" type="button" data-toggle="tooltip" data-trigger="hover" title="Выгрузить/обновить выбранные товары в витрине UDS" class="btn btn-primary" style="font-size:21px;padding:3px 9px 2px 6px;margin-right:4px;"><i class="fa fa-backward" aria-hidden="true"></i></button>
                                <button id="oc_refresh" type="button" data-toggle="tooltip" data-trigger="hover" title="Обновить список товаров в категории Opencart" class="btn btn-success" style="font-size:21px;padding:3px 8px 2px;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                            </div>
                        </div>
                     </div>
                    <div class="form-group">
                        <div class="col-sm-6" style="padding-right:0;max-height:300px;overflow:auto;">
                            <table id="uds-table" class="table table-bordered table-hover hidden">
                              <thead>
                                <tr>
                                  <td style="width: 1px;" class="text-center">
                                    <input type="checkbox" id="uds_check" onclick="$('input[name*=\'uds_id\']').prop('checked', this.checked);" />
                                  </td>
                                  <td class="text-left">
                                    Категория / товар / вариант в UDS
                                  </td>
                                </tr>
                              </thead>
                              <tbody id="uds-catalog">
                              </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6" style="padding-right:0;max-height:300px;overflow:auto;">
                            <table id="oc-table" class="table table-bordered table-hover hidden">
                              <thead>
                                <tr>
                                  <td style="width: 1px;" class="text-center">
                                    <input type="checkbox" id="oc_check" onclick="$('input[name*=\'oc_id\']').prop('checked', this.checked);" />
                                  </td>
                                  <td class="text-left">
                                    Товар / опция в Opencart
                                  </td>
                                </tr>
                              </thead>
                              <tbody id="oc-catalog">
                              </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group result_uds hidden">
                        <i class="fa fa-times-circle close_uds"></i>
                        <div id="result"></div>											
                    </div>
                    
					<input type="hidden" name="total_uds_license_server" value="{{ total_uds_license_server }}" id="total_uds_license_server" />
					<input type="hidden" name="total_uds_license_key" value="{{ total_uds_license_key }}" id="total_uds_license_key" />
					<input type="hidden" name="total_uds_company_id" value="{{ total_uds_company_id }}" id="total_uds_company_id" />
					<input type="hidden" name="total_uds_api_key" value="{{ total_uds_api_key }}" id="total_uds_api_key" />

                </form>
            </div>
        </div>
    </div>
</div>

<div id="blocker" class="block-spinner hidden"></div>
<div id="spinner" class="block-spinner hidden"><i class="fa fa-spinner fa-pulse fa-fw"></i></div>

{{ footer }}
<style>
.alert {overflow: initial;}
.result_uds {position:relative;padding:15px;border:none;}
.close_uds {position:absolute;top:25px;right:25px;font-size:18px;cursor:pointer;}
#result { width:100%; padding:15px;border:1px solid #ccc;border-radius:3px;}
.uds_select {overflow:hidden; padding:0;}
.uds_select option {padding:0 15px;}
#spinner{position:fixed;top:50%;left:50%;margin-top:-80px;margin-left:-80px;width:160px;height:160px;z-index:9999;opacity:0.6;}
#spinner i{font-size:160px;color:#c00}
#blocker{position:fixed;top:0;left:0;margin-top:0px;margin-left:0px;width:100%;height:100%;z-index:9998;opacity:0.6;background-color:#fff;}
</style>

<script>
var udsCategoryId = null;
var total_uds_expert_mode = '{{ total_uds_expert_mode}}';

$('#uds_categories').on('click', function() {
	
	$('#uds-catalog').html('');
	$('#uds-table').addClass('hidden');
	
	$('#uds_category').html('<option value="">Выберите категорию</option>');

	$.ajax({
		url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
		type: 'post',
		data: 'query=categories&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val(),		
		dataType: 'json',
		
		beforeSend: function() {
			//$('.alert').remove();
			$('.block-spinner').removeClass('hidden');
		},	
		complete: function() {
			$('.block-spinner').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				if (total_uds_expert_mode) {
					$('#result').html(json['error']);
					$('.result_uds').removeClass('hidden');
				}
			}
			if (json['success']) {
				if (total_uds_expert_mode) {
					$('#result').html('Список категорий<br>' + json['success']['category_arr'] + '<br>Список товаров без категорий<br>' + json['success']['product_arr']);
					$('.result_uds').removeClass('hidden');
				}
				
				var category_obj=json['success']['category_obj'];
				var category_arr=json['success']['category_arr'];
				
				$('#uds_category').append('<option value="0" "externalId="">Без категорий</option>');
				
				$.each(json['success']['category_obj'], function(index, category) {
				
					$('#uds_category').append('<option value="' + category.id + '" "data-externalId="' + category.externalId + '" "externalId="' + category.externalId + '" "hidden="' + category.hidden + '">' + category.name + '</option>');
					
				}); 
				
				if (udsCategoryId) {
					$('#uds_category option[value=' + udsCategoryId + ']').attr('selected', 'selected');
					$('#uds_category').trigger('change');
				}
				
//				$('.block-spinner').addClass('hidden');

				var category_object = json['success']['category_obj'];
				
				var categories = [];
				var num = 0;
				
				$.each(category_object, function(index, cat) {
					
					var category = {};
					category.type = cat.data.type;
					category.id = cat.id;
					category.name = cat.name;
					category.externalId = cat.externalId;
					category.hidden = cat.hidden;
					
					num++;
					categories.push(category);
					
				});
	
				$.ajax({
					url: 'index.php?route=uds/uds_product/setCategories&user_token={{ user_token }}',
					type: 'post',
					data: 'categories=' + JSON.stringify(categories),		
					dataType: 'json',
					
					beforeSend: function() {
						$('.alert').remove();
						$('.block-spinner').removeClass('hidden');
					},	
					complete: function() {
						$('.block-spinner').addClass('hidden');
					},
					success: function(json) {
						if (json['error']) {
			
						}
						if (json['success']['text']) {
							
							if (total_uds_expert_mode) {
								$('#result').prepend(json['success']['text'] + '<br>');
								$('.result_uds').removeClass('hidden');
							}
						
						}		
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});	

			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
	
});

$('#oc_category').on('change', function() {
	
	$('#oc_check').prop('checked', false);
	
	if ($('#oc_category').val() == '') {
	
		$('#oc-catalog').html('');
		$('#oc-table').addClass('hidden');
		
	} else {
	
		$.ajax({
			url: 'index.php?route=uds/uds_product/getProducts&user_token={{ user_token }}',
			type: 'post',
			data: 'category_id=' + $('#oc_category').val().replace('c', ''),		
			dataType: 'json',
			
			beforeSend: function() {
				$('.alert').remove();
				$('.block-spinner').removeClass('hidden');
			},	
			complete: function() {
				$('.block-spinner').addClass('hidden');
			},
			success: function(json) {
				if (json['error']) {

				}
				if (json['success']) {
				
					$('#oc-catalog').html('');
					
					var html = '';
					html += '<tr>';
					html += '<td class="text-center">';
					html += '<i class="fa fa-folder-open-o" aria-hidden="true"></i>';
					//html += '<input type="checkbox" id="oc-' + $('#oc_category').val() + '" uds_type="CATEGORY" name="oc_id[]" value="" />';
					html += '</td>';
					html += '<td class="text-left">';
					html += 'Категория: &nbsp; <strong>' + $("#oc_category option:selected").text().trim() + '</strong>';
					html += ' &nbsp; ( ' + json['success']['products'].length + ' )';
					html += '</td>';
					html += '</tr>';
					
					if (json['success']['products'].length == 0) {
						
						html += '<tr>';
						html += '<td class="text-center" colspan="2">';
						html += 'В категории &nbsp; <strong>' + $("#oc_category option:selected").text().trim() + '</strong> &nbsp; нет товаров';
						html += '</td>';
						html += '</tr>';
					}
				
					if (total_uds_expert_mode) {
						$('#result').html('Список товаров в категории<br><strong>' + $("#oc_category option:selected").text() + '</strong><br><br>' + json['success']['products_arr']);
						$('.result_uds').removeClass('hidden');
					}
					
					for (var i = 0; i < json['success']['products'].length; i++) {
						html += '<tr>';
						html += '<td class="text-center">';
						html += '<input type="checkbox" id="oc-p' + json['success']['products'][i]['product_id'] + '" oc_name="' + json['success']['products'][i]['name'] + '" sku="' + json['success']['products'][i]['model'] + '" price="' + json['success']['products'][i]['price'] + '" variants="' + json['success']['products'][i]['opt_string'] + '" images="' + json['success']['products'][i]['img_string'] + '"';
						if (json['success']['products'][i]['opt_string'] == '') {
							html += ' uds_type="ITEM"';
						} else {
							html += ' uds_type="VARYING_ITEM"';
						}
						html += ' name="oc_id[]" value="" />';
						html += '</td>';
						html += '<td class="text-left">';
						html += json['success']['products'][i]['name'] + '<br>';
						html += 'Цена: ' + json['success']['products'][i]['price'] + ' руб.<br>';
						if (json['success']['products'][i]['opt_string'] != '') {
							html += 'Размеры: ' + json['success']['products'][i]['opt_string'] + '<br>';
						}
						html += '</td>';
						html += '</tr>';
					}
					
					$('#oc-catalog').html(html);
					$('#oc-table').removeClass('hidden');
					
				}		
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
	
	}
	
});

$('#uds_category').on('change', function(){
	
	udsCategoryId = null;
	
	$('#uds_check').prop('checked', false);
	
	if ($('#uds_category').val() == '') {
	
		$('#uds-catalog').html('');
		$('#uds-table').addClass('hidden');
		
		$('#delete_products').addClass('hidden');
		$('#delete_category').addClass('hidden');
		
	} else {
		
		$.ajax({
			
			url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
			type: 'post',
			data: 'query=category&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&categoryId=' + $('#uds_category').val(),		
			dataType: 'json',
			
			
			
			beforeSend: function() {
				//$('.alert').remove();
				$('.block-spinner').removeClass('hidden');
			},	
			complete: function() {
				//$('#process-delete').addClass('hidden');
			},
			success: function(json) {
				if (json['error']) {
					if (total_uds_expert_mode) {
						$('#result').html(json['error']);
						$('.result_uds').removeClass('hidden');
					}
				}
				if (json['success']) {
				
					$('#uds-catalog').html('');
					
					var html = '';
					html += '<tr>';
					html += '<td class="text-center">';
					html += '<i class="fa fa-folder-open-o" aria-hidden="true"></i>';
					html += '</td>';
					html += '<td class="text-left">';
					html += 'Категория: &nbsp; <strong>' + $("#uds_category option:selected").text() + '</strong>';
					html += ' &nbsp; ( ' + json['success']['product_obj'].length + ' )';
					html += '</td>';
					html += '</tr>';
					
					if (json['success']['product_obj'].length == 0) {
						
						$('#delete_products').addClass('hidden');
						$('#delete_category').removeClass('hidden');
						
						html += '<tr>';
						html += '<td class="text-center" colspan="2">';
						html += 'В категории &nbsp; <strong>' + $("#uds_category option:selected").text() + '</strong> &nbsp; нет товаров';
						html += '</td>';
						html += '</tr>';
					
					} else {
						
						$('#delete_products').removeClass('hidden');
						$('#delete_category').addClass('hidden');
						
					}
					
					$('.block-spinner').addClass('hidden');
					
					if (total_uds_expert_mode) {
						$('#result').html('Список товаров в категории<br><strong>' + $("#uds_category option:selected").text() + '</strong><br><br>' + json['success']['product_arr']);
						$('.result_uds').removeClass('hidden');
					}
					
					for (var i = 0; i < json['success']['product_obj'].length; i++) {
						
						html += '<tr>';
						html += '<td class="text-center">';
						html += '<input type="checkbox" id="uds-' + json['success']['product_obj'][i]['id'] + '" externalId="' + json['success']['product_obj'][i]['externalId'] + '" uds_type="' + json['success']['product_obj'][i]['data']['type'] + '" name="uds_id[]" value="" />';
						html += '</td>';
						html += '<td class="text-left">';
						html += json['success']['product_obj'][i]['name'] + '<br>';
						
						if (json['success']['product_obj'][i]['data']['type'] == 'ITEM') {
							html += 'Цена: ' + json['success']['product_obj'][i]['data']['price'] + ' руб.  Артикул: ' + json['success']['product_obj'][i]['data']['sku'] + '<br>';
						}
						
						if (json['success']['product_obj'][i]['data']['type'] == 'VARYING_ITEM') {
							
							var price = json['success']['product_obj'][i]['data']['variants'][0]['price'];
							var variants = '';
							
							for (var j = 0; j < json['success']['product_obj'][i]['data']['variants'].length; j++) {
								
								if (j == 0) {
									variants += json['success']['product_obj'][i]['data']['variants'][j]['name'];
								} else {
									variants += ',' + json['success']['product_obj'][i]['data']['variants'][j]['name'];
								}
								
							}
							
							html += 'Цена: ' + price + ' руб.<br>  Размеры: ' + variants;
							
						}
						
						// развернутые опции - авто если разные цены или по переключателю
						//if (json['success']['product_obj'][i]['data']['type'] == 'VARYING_ITEM') {
//							
//							for (var j = 0; j < json['success']['product_obj'][i]['data']['variants'].length; j++) {
//								
//								html += 'Размер: ' + json['success']['product_obj'][i]['data']['variants'][j]['name'] + ' Цена: ' + json['success']['product_obj'][i]['data']['variants'][j]['price'] +  ' руб. Артикул: ' + json['success']['product_obj'][i]['data']['variants'][j]['sku'] + '<br>';
//								
//							}
//						}

						html += '</td>';
						html += '</tr>';
					}
					
					$('#uds-catalog').html(html);
					$('#uds-table').removeClass('hidden');
					
					var product_object = json['success']['product_obj'];
					
					var products = [];
					var num = 0;
					
					$.each(product_object, function(index, prod) {
						
						var product = {};
						product.type = prod.data.type;
						product.id = prod.id;
						product.name = prod.name;
						product.externalId = prod.externalId;
						product.hidden = prod.hidden;
						product.blocked = prod.blocked;
						product.nodeId = $('#uds_category').val();
						
						num++;
						products.push(product);
						
					});
	
					$.ajax({
						url: 'index.php?route=uds/uds_product/setProducts&user_token={{ user_token }}',
						type: 'post',
						data: 'products=' + JSON.stringify(products) + '&nodeId=' + $('#uds_category').val(),		
						dataType: 'json',
						
						beforeSend: function() {
							//$('.alert').remove();
							$('.block-spinner').removeClass('hidden');
						},	
						complete: function() {
							$('.block-spinner').addClass('hidden');
						},
						success: function(json) {
							if (json['error']) {
				
							}
							if (json['success']) {
								
								if (total_uds_expert_mode) {
									$('#result').prepend(json['success']['text'] + '<br>');
									$('.result_uds').removeClass('hidden');
								}
							
							}		
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});	
				}		
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
	
	}
});

$('#delete_products').on('click', function() {
	
	if ($('#uds_category').val() == '') {
		alert('Выберите категорию в UDS для удаления товаров.');
		return;
	}
	
	var arr = [];
	var ids = '';
	var num = 0;
	$('#uds-catalog').find('input[type=checkbox]:checked').each(function() {
		if ($(this).attr('uds_type') == 'ITEM' || $(this).attr('uds_type') == 'VARYING_ITEM') {
			num++;
			arr.push($(this).attr('id').split('-')[1]);
			ids = arr.join(',');
		}
	});
	
	if (ids != '') {	
		$.ajax({
			url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
			type: 'post',
			data: 'query=deleteproducts&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&ids=' + ids,		
			dataType: 'json',
			beforeSend: function() {
				$('.alert').remove();
				$('.block-spinner').removeClass('hidden');
			},	
			complete: function() {
				$('.block-spinner').addClass('hidden');
				$('#uds_category').trigger('change');
			},
			success: function(json) {
				if (json['error']) {
					if (total_uds_expert_mode) {
						$('#result').html(json['error']);
						$('.result_uds').removeClass('hidden');
					}
				}
				if (json['success']) {
					if (total_uds_expert_mode) {
						$('#result').html(json['success']);
						$('.result_uds').removeClass('hidden');
					}
				}		
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
	}

	if (num == 0) {
		alert('Выберите товары для удаления из витрины UDS.');
	}

});

$('#delete_category').on('click', function() {
	
	if ($('#uds_category').val() == '0' || $('#uds_category').val() == '') {
		
		alert('Выберите категорию UDS для удаления.');

	} else {
	
		$.ajax({
			url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
			type: 'post',
			data: 'query=deletecategory&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&categoryId=' + $('#uds_category').val() + '&name=' + $("#uds_category option:selected").text(),		
			dataType: 'json',
			beforeSend: function() {
				$('.alert').remove();
				$('.block-spinner').removeClass('hidden');
			},	
			complete: function() {
				$('#uds_categories').click();
				$('.block-spinner').addClass('hidden');
				//$('#uds_category').trigger('change');
			},
			success: function(json) {
				if (json['error']) {
					if (total_uds_expert_mode) {
						$('#result').html(json['error']['text']);
						$('.result_uds').removeClass('hidden');
					}
				}
				if (json['success']) {
					$('#delete_category').addClass('hidden');
					if (total_uds_expert_mode) {
						$('#result').html(json['success']['text']);
						$('.result_uds').removeClass('hidden');
					}
				}		
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
		
	}
	
});

$('#add_category').on('click', function(){

	if ($('#oc_category').val() == '') {
		alert('Таки выберите уже категорию в Opencart');
		return;
	} 
	
	$('#delete_category').addClass('hidden');
	$('#delete_products').addClass('hidden');
	$('#uds-catalog').html('');
	$('#uds-table').addClass('hidden');
	
	$('#uds_category').html('<option value="">Выберите категорию</option>');

	$.ajax({
		url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
		type: 'post',
		data: 'query=categories&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val(),		
		dataType: 'json',
		beforeSend: function() {
			$('.alert').remove();
			$('.block-spinner').removeClass('hidden');
		},	
		complete: function() {
			//$('.block-spinner').addClass('hidden');
		},
		success: function(json) {
			if (json['error']) {
				if (total_uds_expert_mode) {
					$('#result').html(json['error']);
					$('.result_uds').removeClass('hidden');
				}
			}
			if (json['success']) {
				if (total_uds_expert_mode) {
					$('#result').html('Список категорий<br>' + json['success']['category_arr'] + '<br>Список товаров без категорий<br>' + json['success']['product_arr']);
					$('.result_uds').removeClass('hidden');
				}
				
				$('#uds_category').append('<option value="0" "externalId="">Без категорий</option>');
				
				var udsId = null;
				
				$.each(json['success']['category_obj'], function(index, category) {
				
					$('#uds_category').append('<option value="' + category.id + '" "data-externalId="' + category.externalId + '" "externalId="' + category.externalId + '">' + category.name + '</option>');
					
					if (category.externalId == $('#oc_category').val()) {
						udsId = category.id;	
					}
					
				}); 
				
				if (udsId) {
					
					$.ajax({
						url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
						type: 'post',
						data: 'query=updatecategory&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&externalId=' + $('#oc_category').val() + '&udsId=' + udsId + '&nodeId=' + parent + '&name=' + $("#oc_category option:selected").attr("name"),		
						dataType: 'json',
						beforeSend: function() {

						},	
						complete: function() {

						},
						success: function(json) {
				
							if (json['error']) {
								if (total_uds_expert_mode) {
									$('#result').html(json['error']);
									$('.result_uds').removeClass('hidden');
								}
							}
							if (json['success']) {
								if (total_uds_expert_mode) {
									$('#result').html('Обновление категории в UDS<br>' + json['success']['category_arr']);
									$('.result_uds').removeClass('hidden');
								}
								
								udsCategoryId = udsId;
								
								$('#uds_categories').click();
				
							}		
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
						
				} else {
					
					$.ajax({
						url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
						type: 'post',
						data: 'query=addcategory&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&externalId=' + $('#oc_category').val() + '&nodeId=' + parent + '&name=' + $("#oc_category option:selected").attr("name"),		
						dataType: 'json',
						beforeSend: function() {

						},	
						complete: function() {

						},
						success: function(json) {
				
							if (json['error']) {
								if (total_uds_expert_mode) {
									$('#result').html(json['error']);
									$('.result_uds').removeClass('hidden');
								}
								
					$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('html, body').animate({ scrollTop: 0 }, 'slow');
								
								
							}
							if (json['success']) {
								if (total_uds_expert_mode) {
									$('#result').html('Создание категории в UDS<br>' + json['success']['category_arr']);
									$('.result_uds').removeClass('hidden');
								}
								
								udsCategoryId = json['success']['category_obj']['id'];
								
								$('#uds_categories').click();
								
							}		
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});	
				}
			
				//$('#uds_categories').click();
			
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});




$('#uds_refresh').on('click', function() {
	
	$.ajax({
		url: 'index.php?route=uds/uds_product/getCatalog&user_token={{ user_token }}',
		type: 'post',
		data: '', //'category_id=' + $('#oc_category').val().replace('c', ''),		
		dataType: 'json',
		
		beforeSend: function() {
			$('.alert').remove();
			$('.block-spinner').removeClass('hidden');
		},	
		complete: function() {
			//$('.block-spinner').addClass('hidden');
		},
		success: function(json) {
			if (json['error']) {
			
				if (total_uds_expert_mode) {
					$('#result').html('Каталог <br><strong>UDS</strong><br><br>' + json['error']);
					$('.result_uds').removeClass('hidden');
				}

			}
			if (json['success']) {
			
			
				if (total_uds_expert_mode) {
					$('#result').html('Каталог <br><strong>UDS</strong><br><br>' + json['success']['catalog_arr']);
					$('.result_uds').removeClass('hidden');
				}
				
				var catalog = json['success']['catalog'];
				
				$.ajax({
					url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
					type: 'post',
					data: 'query=refresh&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&products=' + JSON.stringify(catalog),		
					dataType: 'json',
					beforeSend: function() {
						$('.alert').remove();
						$('.block-spinner').removeClass('hidden');
					},	
					complete: function() {
						$('.block-spinner').addClass('hidden');
						//$('#uds_category').trigger('change');
					},
					success: function(json) {
						if (json['error']) {
							if (total_uds_expert_mode) {
								$('#result').html(json['error']);
								$('.result_uds').removeClass('hidden');
							}
							
							$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
							$('html, body').animate({ scrollTop: 0 }, 'slow');
						}
						if (json['success']) {
							
							$('.breadcrumb').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + 'Каталог в UDS обновлен' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
							$('html, body').animate({ scrollTop: 0 }, 'slow');
							
							if (total_uds_expert_mode) {
								$('#result').html(json['success']);
								$('.result_uds').removeClass('hidden');
							}
						}		
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});	
				
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
	
});

$('#uds_clear').on('click', function() {
	console.log('uds_clear');	
});


$('#oc_refresh').on('click', function() {
	$('#oc_category').trigger('change');	
});

$('.close_uds').on('click', function() {
	$('.result_uds').addClass('hidden');	
	$('#result').html('');	
});

$('#uds_category').on('click', function() {
	if ($("select[id=uds_category] option").size() == 1) {
		$('#uds_categories').tooltip('toggle');
		alert('Загрузите список категорий из витрины UDS.');
	}
});



$('#add_products').on('click', function() {
	
	if ($('#uds_category').val() == '') {
		alert('Выберите категорию в UDS для выгрузки товаров.');
		return;
	}
	
	var aproducts = [];
	var anum = 0;
	var uproducts = [];
	var unum = 0;
	
	$('#oc-catalog').find('input[type=checkbox]:checked').each(function() {
		
		if ($(this).attr('uds_type') == 'ITEM' || $(this).attr('uds_type') == 'VARYING_ITEM') {
			
			var udsId = udsProduct($(this).attr('id'));
			
			var product = {};
			product.udsId = udsId;
			product.name = $(this).attr('oc_name');
			product.nodeId = $('#uds_category').val();
			product.externalId = $(this).attr('id').split('-')[1];
			product.type = $(this).attr('uds_type');
			product.price = $(this).attr('price');
			product.variants = $(this).attr('variants');
			product.images = $(this).attr('images');
			product.description = '';
			product.sku = $(this).attr('sku');
		
			if (udsId) {
				unum++;
				uproducts.push(product);
			} else {
				anum++;
				aproducts.push(product);
			}

		}
	
	});
		
	if (unum > 0 && anum > 0) {	
	
		$.ajax({
			url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
			type: 'post',
			data: 'query=updateproducts&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&products=' + JSON.stringify(uproducts),		
			dataType: 'json',
			beforeSend: function() {
				$('.alert').remove();
				$('.block-spinner').removeClass('hidden');
			},	
			complete: function() {
				//$('.block-spinner').addClass('hidden');
				//$('#uds_category').trigger('change');
			},
			success: function(json) {
				if (json['error']) {
					if (total_uds_expert_mode) {
						$('#result').html(json['error']);
						$('.result_uds').removeClass('hidden');
					}
					
					$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}
				if (json['success']) {
					if (total_uds_expert_mode) {
						$('#result').html(json['success']);
						$('.result_uds').removeClass('hidden');
					}
				}
				
				$.ajax({
					url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
					type: 'post',
					data: 'query=addproducts&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&products=' + JSON.stringify(aproducts),		
					dataType: 'json',
					beforeSend: function() {
						$('.alert').remove();
						//$('.block-spinner').removeClass('hidden');
					},	
					complete: function() {
						$('.block-spinner').addClass('hidden');
						$('#uds_category').trigger('change');
					},
					success: function(json) {
						if (json['error']) {
							if (total_uds_expert_mode) {
								$('#result').html(json['error']);
								$('.result_uds').removeClass('hidden');
							}
							
							$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
							$('html, body').animate({ scrollTop: 0 }, 'slow');
						}
						if (json['success']) {
							if (total_uds_expert_mode) {
								$('#result').html(json['success']);
								$('.result_uds').removeClass('hidden');
							}
						}		
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});	
						
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
	
	} else {
	
		if (unum > 0) {	
			$.ajax({
				url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
				type: 'post',
				data: 'query=updateproducts&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&products=' + JSON.stringify(uproducts),		
				dataType: 'json',
				beforeSend: function() {
					$('.alert').remove();
					$('.block-spinner').removeClass('hidden');
				},	
				complete: function() {
					$('.block-spinner').addClass('hidden');
					$('#uds_category').trigger('change');
				},
				success: function(json) {
					if (json['error']) {
						if (total_uds_expert_mode) {
							$('#result').html(json['error']);
							$('.result_uds').removeClass('hidden');
						}
						
						$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
						$('html, body').animate({ scrollTop: 0 }, 'slow');
					}
					if (json['success']) {
						if (total_uds_expert_mode) {
							$('#result').html(json['success']);
							$('.result_uds').removeClass('hidden');
						}
					}		
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});	
		}
		
		if (anum > 0) {	
			$.ajax({
				url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
				type: 'post',
				data: 'query=addproducts&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val() + '&products=' + JSON.stringify(aproducts),		
				dataType: 'json',
				beforeSend: function() {
					$('.alert').remove();
					$('.block-spinner').removeClass('hidden');
				},	
				complete: function() {
					$('.block-spinner').addClass('hidden');
					$('#uds_category').trigger('change');
				},
				success: function(json) {
					if (json['error']) {
						if (total_uds_expert_mode) {
							$('#result').html(json['error']);
							$('.result_uds').removeClass('hidden');
						}
						
						$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
						$('html, body').animate({ scrollTop: 0 }, 'slow');
					}
					if (json['success']) {
						if (total_uds_expert_mode) {
							$('#result').html(json['success']);
							$('.result_uds').removeClass('hidden');
						}
					}		
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});	
		}
	}
	
	if (anum + unum == 0) {
		alert('Выберите товары для выгрузки в витрину UDS.');
	}
	
});

$('#uds_stats').on('click', function() {
	
	$.ajax({
		url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
		type: 'post',
		data: 'query=stats&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val(),		
		dataType: 'json',
		
		beforeSend: function() {
			$('.alert').remove();
			$('.block-spinner').removeClass('hidden');
		},	
		complete: function() {
			$('.block-spinner').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				if (total_uds_expert_mode) {
					$('#result').html(json['error']);
					$('.result_uds').removeClass('hidden');
				}
			}
			if (json['success']) {
//				if (total_uds_expert_mode) {
//					$('#result').html('Список категорий<br>' + json['success']['category_arr'] + '<br>Список товаров без категорий<br>' + json['success']['product_arr']);
//					$('.result_uds').removeClass('hidden');
//				}
				
//				var category_obj=json['success']['category_obj'];
//				var product_obj=json['success']['product_obj'];
				var category_num=json['success']['category_num'];
				var product_num=json['success']['product_num'];
				//var category_arr=json['success']['category_arr'];
				
				//$('.breadcrumb').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> В витрине UDS: Категорий ' + category_obj.length + ', Товаров ' + product_obj.length + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				if (product_num < 300) {
					$('.breadcrumb').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> В витрине UDS: Категорий ' + category_num + ', Товаров ' + product_num + '. Можно добавить ' + (300 - product_num) + ' товаров.' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				} else {
					$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> В витрине UDS: Категорий ' + category_num + ', Товаров ' + product_num + '. Лимит товаров в витрине исчерпан.' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				
				$('html, body').animate({ scrollTop: 0 }, 'slow');
				
				$('.block-spinner').addClass('hidden');

			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
	
});

function udsProduct(id) {
	
	var udsId = false;
	
	var externalId = id.split('-')[1];
	
	$('#uds-catalog').find('input[type=checkbox]').each(function() {
		if (($(this).attr('uds_type') == 'ITEM' || $(this).attr('uds_type') == 'VARYING_ITEM') && $(this).attr('externalId') == externalId) {
			
			udsId = $(this).attr('id').split('-')[1];
			return false;
		}
	});
	
	return udsId;
	
}

function addParent(id, parent, name) {
	
	$.ajax({
		url: 'index.php?route=uds/uds_product/addCategory&user_token={{ user_token }}',
		type: 'post',
		data: 'externalId=' + id + '&nodeId=' + parent + '&name=' + name,
		dataType: 'json',
		beforeSend: function() {
			$('.alert').remove();
			$('.block-spinner').removeClass('hidden');
		},	
		complete: function() {
			$('.block-spinner').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				if (total_uds_expert_mode) {
					$('#result').html(json['error']);
					$('.result_uds').removeClass('hidden');
				}
			}
			if (json['success']) {
				if (total_uds_expert_mode) {
					$('#result').html('Создание категории<br>' + json['success']['category_arr']);
					$('.result_uds').removeClass('hidden');
				}
				return json['success']['category_arr']['id'];
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	

	//return udsId;
}

</script>

