{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-uds" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
						<br>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
		
			{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}
			{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_customer }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-uds" class="form-horizontal">

                    <div class="form-group">
											<div class="col-sm-3">                			
												<button id="test" type="button" data-toggle="tooltip" title="Проверить магазин" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Проверить магазин</button>
											</div>
											<div class="col-sm-3">                			
												<button id="list" type="button" data-toggle="tooltip" title="Список клиентов" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Список клиентов</button>
											</div>
											<div class="col-sm-3">                			
												<button id="trans_list" type="button" data-toggle="tooltip" title="Список транзакций" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Список транзакций</button>
											</div>
											<div class="col-sm-3">                			
												<button id="test2" type="button" data-toggle="tooltip" title="Проверить магазин" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Проверить магазин 2</button>
											</div>											
										</div>

                    <div class="form-group">
											<div id="result" class="col-sm-12">                			
											</div>											
										</div>

                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
<style>
.alert {
    overflow: initial;
}
</style>

<script>
$('#test').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_company/getCompanyData&user_token={{ user_token }}',
		type: 'post',
		//data: 'code=' + $('#code').val() + '&phone=' + $('#phone').val(),		
		data: '',
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				//$('#result').html(json['success']);
				//$('#result').html(json['success']['id'] + '<br>' + json['success']['obj'] + '<br>' + json['success']['arr']);
				$('#result').html(json['success']['id'] + '<br>' + json['success']['arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#test2').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_company/getCompanyData2&user_token={{ user_token }}',
		type: 'post',
		data: '',
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				$('#result').html(json['success']['id'] + '<br>' + json['success']['arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#list').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_company/getCustomerList&user_token={{ user_token }}',
		type: 'post',
		//data: 'code=' + $('#code').val() + '&phone=' + $('#phone').val(),		
		data: '',
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				//$('#result').html(json['success']['obj'] + '<br>' + json['success']['arr']);
				$('#result').html('<br>' + json['success']['arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#trans_list').on('click', function(){
	$.ajax({
		url: 'index.php?route=uds/uds_company/getTransList&user_token={{ user_token }}',
		type: 'post',
		//data: 'code=' + $('#code').val() + '&phone=' + $('#phone').val(),		
		data: '',
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			//$('.alert').remove();
			if (json['error']) {
				$('#result').html(json['error']);
			}
			if (json['success']) {
				//$('#result').html(json['success']['obj'] + '<br>' + json['success']['arr']);
				$('#result').html('<br>' + json['success']['arr']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

</script>

