{{ header }}
{{ oct_breadcrumbs }}
<main class="cart">
	<div class="container">
		<section class="cart__content">
			<div class="row">
				{% if products %}
					<form action="{{ action }}" method="post" class="col-xl-8 col-lg-7 js-cart">
						<ul class="cart__products">
							{% for product in products %}
								<li class="cart__cart-item">
									<a href="{{ product.href }}">
										<picture class="cart-item__img">
											<img src='{{ product.image }}' alt=''>
										</picture>
									</a>

									<div class="cart-item__info">
										{#<div class="cart-item__category">Настенный кондиционер</div>#}

										<a class="product-item__title" href="{{ product.href }}"><h3 class="cart-item__title">{{ product.name }}</h3></a>

										{#<div class="cart-item__form form">
											<div class="form__group form__group--checkbox">
												<input class="form__control" type="checkbox" name="calculation" id="calculation">
												<label for="calculation" class="form__label">Хочу расчет стоимости монтажа</label>
											</div>
										</div>#}
									</div>

									<div class="cart-item__qty qty js-cart-quantity">
										<button type="button" class="qty__btn qty__btn--decrease js-cart-quantity-decrease">
											<svg xmlns="http://www.w3.org/2000/svg" width="12" height="1" viewBox="0 0 12 1">
												<path d="M0 1v0 -1 0h12v0 1 0z" />
											</svg>
										</button>
										<input name="quantity[{{ product.cart_id }}]" type="number" class="qty__control js-cart-quantity-input" value="{{ product.quantity }}">
										<button type="button" class="qty__btn qty__btn--increase js-cart-quantity-increase">
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11">
												<path d="M0 6v0 -1 0h11v0 1 0z" />
												<path d="M5 0v0h1v0 11 0h-1v0z" />
											</svg>
										</button>
										{#<button type="submit" class="qty__btn"><i class="fas fa-sync-alt"></i></button>#}
									</div>

									<div class="cart-item__prices">
										{% if product.special %}
											<div class="cart-item__old-price">{{ product.price }}</div>
										{% endif %}
										<div class="cart-item__price">{{ product.special ?: product.price }}</div>
										<button type="button" class="cart-item__delete js-cart-delete" data-cart-id="{{ product.cart_id }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
												<path
														d="M2.3 5h9c1.1 0 1 0.9 1 2v9c0 1.1-0.9 2-2 2h-7c-1.1 0-2-0.9-2-2v-9c0-1.1-0.1-2 1-2zM10.3 16.1v-8h-1v8zM6.3 16.1h1v-8h-1zM3.3 16.1h1v-8h-1zM1.3 2h4c-0.6 0-1-0.4-1-1 0-0.6 0.5-1 1-1h3c0.6 0 1 0.5 1 1 0 0.6-0.5 1-1 1h4c0.6 0 1 0.5 1 1 0 0.6-0.5 1-1 1h-11.1c-0.6 0-1-0.4-1-1 0-0.6 0.5-1 1-1zM8.3 2h-3c0 0 3 0 3 0z"
														fill="#dadfea" />
											</svg>
											Удалить
										</button>
									</div>
								</li>
							{% endfor %}
						</ul>
					</form>

					<div class="col-xl-4 col-lg-5">
					{#<div class="cart__bonus-points bonus-points">
						<div class="bonus-points__toggle">
							<div class="bonus-points__group bonus-points__group--radio">
								<input class="bonus-points__control" type="radio" name="bonus" id="points"
									   data-toggle="points" checked>
								<label for="points" class="bonus-points__label">
									Списать SDM баллы
								</label>
							</div>
							<div class="bonus-points__group bonus-points__group--radio">
								<input class="bonus-points__control" type="radio" name="bonus" id="promo"
									   data-toggle="promocode">
								<label for="promo" class="bonus-points__label">
									Использовать промокод
								</label>
							</div>
						</div>

						<div class="bonus-points__pane bonus-points__pane--active" data-pane="points">
							<div class="bonus-points__group bonus-points__group--checkbox">
								<input class="bonus-points__control" type="checkbox" name="bonus-points"
									   id="bonus-points">
								<label for="bonus-points" class="bonus-points__label">
									Списать <span> 962 </span> из <span> 1 854 баллов</span>
								</label>
								<button class="bonus-points__helper">?</button>
							</div>

							<a href="" class="bonus-points__link">
								<picture class="bonus-points__link-icon">
									<source srcset='/image/static/img/icon/points-icon.webp' type='image/webp'>
									<img src='/image/static/img/icon/points-icon.png' alt=''>
								</picture>
								Как получить больше баллов?
							</a>
						</div>

						<div class="bonus-points__pane" data-pane="promocode">
							<div class="bonus-points__group">
								<label for="promocode" class="bonus-points__label sr-only">
									Промокод
								</label>
								<input class="bonus-points__control" type="text" name="bonus-points" id="promocode"
									   placeholder="Промокод">
							</div>
							<button class="bonus-points__btn">Применить</button>
						</div>
					</div>#}

					<div class="cart__cart-totals cart-totals">
						<div class="cart-totals__wrap">
							<h3 class="cart-totals__title">
								Ваш заказ
								{#<span class="cart-totals__summary">2 товара + подарок</span>#}
							</h3>

							<ul class="cart-totals__list">
								{% for total in totals %}
									<li class="cart-totals__item">
										{{ total.title }}: <span style="white-space: nowrap">{{ total.text }}</span>
									</li>
								{% endfor %}
							</ul>
						</div>

						<div class="cart-totals__footer">
							<ul class="cart-totals__list">
								<li class="cart-totals__item cart-totals__item--big">
									Итого: <span>{{ last_total.text }}</span>
								</li>
								{#<li class="cart-totals__item cart-totals__item--small">
									За покупку будет начислено:
									<span>
                                        <picture class="cart-totals__icon">
                                            <source srcset='/image/static/img/icon/points-icon.webp' type='image/webp'>
                                            <img src='/image/static/img/icon/points-icon.png' alt=''>
                                        </picture>
                                        12 532
                                    </span>
								</li>#}
							</ul>

							<a href="{{ checkout }}" class="cart-totals__btn">Оформить заказ</a>
						</div>
					</div>
				</div>
				{% else %}
					<div class="col-sm-12 text-center mt-5">
						<h2>{{ text_empty }}</h2>
						<a href="{{ continue }}" class="btn btn-primary mt-2">Продолжить</a>
					</div>
				{% endif %}
			</div>
		</section>

		{#<section class="cart__featured-products featured-products">
			<h2 class="featured-products__heading">Не забудьте приобрести</h2>
			<div class="featured-products__tabs">
				<ul class="tabs__list" role="tablist">
					<li class="tabs__item">
						<a href="#antibacterial" class="tabs__link tabs__link--active" role="tab">
							Антибактериальные кондиционеры
							<span class="tabs__item-count">17</span>
						</a>
					</li>
					<li class="tabs__item">
						<a href="#waterheater" class="tabs__link" role="tab">
							Водонагреватели
							<span class="tabs__item-count">17</span>
						</a>
					</li>
					<li class="tabs__item">
						<a href="#fireplaces" class="tabs__link" role="tab">
							Камины и печи
							<span class="tabs__item-count">17</span>
						</a>
					</li>
					<li class="tabs__item">
						<a href="#conditioners" class="tabs__link" role="tab">
							Кондиционеры для дома
							<span class="tabs__item-count">17</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="featured-products__products products">





				<div class="products__product-item product-item">
					<div class="product-item__wrap">
						<div class="product-item__header">

							<div class="product-item__tags">

								<div class="product-item__tag product-item__tag--installment">
									Рассрочка <br>
									0-0-6/0-0-10/0-0-18
								</div>



							</div>

							<button class="product-item__btn product-item__btn--compare">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
									<path d="M5.8 0.3h1.5v14.6h-1.5zM0 7.6h1.5v7.3h-1.5zM11.7 3.9h1.5v10.9h-1.5z" />
								</svg>
							</button>
							<button class="product-item__btn product-item__btn--wishlist">
								<svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15">
									<path
											d="M15.5 7.7l-1 1 -6.1 6.2 -6.1-6.2 -1-1c-1.7-1.7-1.7-4.5 0-6.2 1.7-1.7 4.4-1.7 6.1 0l1 1 1-1c1.7-1.7 4.4-1.7 6.1 0 1.7 1.7 1.7 4.5 0 6.2zM14.5 6.7c1.1-1.1 1.1-3 0-4.1 -1.1-1.1-2.9-1.1-4.1 0l-2 2.1 -2-2.1c-1.1-1.1-2.9-1.1-4.1 0 -1.1 1.1-1.1 3 0 4.1l2 2.1 4.1 4.1 4.1-4.1z" />
								</svg>
							</button>
						</div>
						<a href="" class="product-item__img-link">
							<picture class="product-item__img">
								<source srcset='/image/static/img/placeholder/product1.webp' type='image/webp'>
								<img src='/image/static/img/placeholder/product1.png' alt=''>
							</picture>
						</a>
						<div class="product-item__cat">Настенный кондиционер</div>
						<a href="" class="product-item__title">Сплит-система Haier HSU-07HNE03/R2/HSU-07HUN403/R2</a>
						<div class="product-item__meta">
							<div class="product-item__rating">

								<svg class="filled" xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg class="filled" xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg class="filled" xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg class="filled" xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>


								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>


							</div>
							<div class="product-item__comments">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
									<path fill="#afb7cf"
										  d="M14.3 2.4v7.7c0 0.4-0.3 0.7-0.7 0.7h-6l-3.1 2.2v-2.2h-2.1c-0.4 0-0.7-0.3-0.7-0.7v-7.7c0-0.4 0.3-0.7 0.7-0.7h11.2c0.4 0 0.7 0.3 0.7 0.7zM2.4 0.3c-1.2 0-2.1 0.9-2.1 2.1v7.7c0 1.2 0.9 2.1 2.1 2.1h0.7v3.5l4.9-3.5h5.6c1.2 0 2.1-0.9 2.1-2.1v-7.7c0-1.2-0.9-2.1-2.1-2.1z" />
								</svg>
								23
							</div>
						</div>

						<div class="product-item__footer">
							<div class="product-item__price">
								72 000 ₽


							</div>


							<button class="product-item__btn product-item__btn--cart">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
									<path
											d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z" />
								</svg>
							</button>
						</div>
					</div>
				</div>






				<div class="products__product-item product-item">
					<div class="product-item__wrap">
						<div class="product-item__header">

							<div class="product-item__tags">


								<div class="product-item__tag product-item__tag--new">
									Новинка
								</div>


							</div>

							<button class="product-item__btn product-item__btn--compare">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
									<path d="M5.8 0.3h1.5v14.6h-1.5zM0 7.6h1.5v7.3h-1.5zM11.7 3.9h1.5v10.9h-1.5z" />
								</svg>
							</button>
							<button class="product-item__btn product-item__btn--wishlist">
								<svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15">
									<path
											d="M15.5 7.7l-1 1 -6.1 6.2 -6.1-6.2 -1-1c-1.7-1.7-1.7-4.5 0-6.2 1.7-1.7 4.4-1.7 6.1 0l1 1 1-1c1.7-1.7 4.4-1.7 6.1 0 1.7 1.7 1.7 4.5 0 6.2zM14.5 6.7c1.1-1.1 1.1-3 0-4.1 -1.1-1.1-2.9-1.1-4.1 0l-2 2.1 -2-2.1c-1.1-1.1-2.9-1.1-4.1 0 -1.1 1.1-1.1 3 0 4.1l2 2.1 4.1 4.1 4.1-4.1z" />
								</svg>
							</button>
						</div>
						<a href="" class="product-item__img-link">
							<picture class="product-item__img">
								<source srcset='/image/static/img/placeholder/product2.webp' type='image/webp'>
								<img src='/image/static/img/placeholder/product2.png' alt=''>
							</picture>
						</a>
						<div class="product-item__cat">Внутренние блоки</div>
						<a href="" class="product-item__title">Настенный внутренний блок мульти сплит-системы Hisense AMS-09UR4SVEDB65</a>
						<div class="product-item__meta">
							<div class="product-item__rating">


								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>


							</div>
							<div class="product-item__comments">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
									<path fill="#afb7cf"
										  d="M14.3 2.4v7.7c0 0.4-0.3 0.7-0.7 0.7h-6l-3.1 2.2v-2.2h-2.1c-0.4 0-0.7-0.3-0.7-0.7v-7.7c0-0.4 0.3-0.7 0.7-0.7h11.2c0.4 0 0.7 0.3 0.7 0.7zM2.4 0.3c-1.2 0-2.1 0.9-2.1 2.1v7.7c0 1.2 0.9 2.1 2.1 2.1h0.7v3.5l4.9-3.5h5.6c1.2 0 2.1-0.9 2.1-2.1v-7.7c0-1.2-0.9-2.1-2.1-2.1z" />
								</svg>
								23
							</div>
						</div>

						<div class="product-item__footer">
							<div class="product-item__price">
								72 000 ₽


								<div class="product-item__old-price">74 966 ₽</div>

							</div>

							<div class="product-item__benefit">
								Выгода 2 966 ₽
							</div>


							<button class="product-item__btn product-item__btn--cart">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
									<path
											d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z" />
								</svg>
							</button>
						</div>
					</div>
				</div>






				<div class="products__product-item product-item">
					<div class="product-item__wrap">
						<div class="product-item__header">

							<div class="product-item__tags">



								<div class="product-item__tag product-item__tag--top">
									Хит
								</div>

							</div>

							<button class="product-item__btn product-item__btn--compare">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
									<path d="M5.8 0.3h1.5v14.6h-1.5zM0 7.6h1.5v7.3h-1.5zM11.7 3.9h1.5v10.9h-1.5z" />
								</svg>
							</button>
							<button class="product-item__btn product-item__btn--wishlist">
								<svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15">
									<path
											d="M15.5 7.7l-1 1 -6.1 6.2 -6.1-6.2 -1-1c-1.7-1.7-1.7-4.5 0-6.2 1.7-1.7 4.4-1.7 6.1 0l1 1 1-1c1.7-1.7 4.4-1.7 6.1 0 1.7 1.7 1.7 4.5 0 6.2zM14.5 6.7c1.1-1.1 1.1-3 0-4.1 -1.1-1.1-2.9-1.1-4.1 0l-2 2.1 -2-2.1c-1.1-1.1-2.9-1.1-4.1 0 -1.1 1.1-1.1 3 0 4.1l2 2.1 4.1 4.1 4.1-4.1z" />
								</svg>
							</button>
						</div>
						<a href="" class="product-item__img-link">
							<picture class="product-item__img">
								<source srcset='/image/static/img/placeholder/product3.webp' type='image/webp'>
								<img src='/image/static/img/placeholder/product3.png' alt=''>
							</picture>
						</a>
						<div class="product-item__cat">Микроклимат</div>
						<a href="" class="product-item__title">Ультразвуковой туманный увлажнитель воздуха и светильник аромадиффузор</a>
						<div class="product-item__meta">
							<div class="product-item__rating">

								<svg class="filled" xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>


								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>


							</div>
							<div class="product-item__comments">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
									<path fill="#afb7cf"
										  d="M14.3 2.4v7.7c0 0.4-0.3 0.7-0.7 0.7h-6l-3.1 2.2v-2.2h-2.1c-0.4 0-0.7-0.3-0.7-0.7v-7.7c0-0.4 0.3-0.7 0.7-0.7h11.2c0.4 0 0.7 0.3 0.7 0.7zM2.4 0.3c-1.2 0-2.1 0.9-2.1 2.1v7.7c0 1.2 0.9 2.1 2.1 2.1h0.7v3.5l4.9-3.5h5.6c1.2 0 2.1-0.9 2.1-2.1v-7.7c0-1.2-0.9-2.1-2.1-2.1z" />
								</svg>
								23
							</div>
						</div>

						<div class="product-item__footer">
							<div class="product-item__price">
								72 000 ₽


							</div>


							<button class="product-item__btn product-item__btn--cart">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
									<path
											d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z" />
								</svg>
							</button>
						</div>
					</div>
				</div>






				<div class="products__product-item product-item">
					<div class="product-item__wrap">
						<div class="product-item__header">

							<div class="product-item__tags">

								<div class="product-item__tag product-item__tag--installment">
									Рассрочка <br>
									0-0-6/0-0-10/0-0-18
								</div>



							</div>

							<button class="product-item__btn product-item__btn--compare">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
									<path d="M5.8 0.3h1.5v14.6h-1.5zM0 7.6h1.5v7.3h-1.5zM11.7 3.9h1.5v10.9h-1.5z" />
								</svg>
							</button>
							<button class="product-item__btn product-item__btn--wishlist">
								<svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15">
									<path
											d="M15.5 7.7l-1 1 -6.1 6.2 -6.1-6.2 -1-1c-1.7-1.7-1.7-4.5 0-6.2 1.7-1.7 4.4-1.7 6.1 0l1 1 1-1c1.7-1.7 4.4-1.7 6.1 0 1.7 1.7 1.7 4.5 0 6.2zM14.5 6.7c1.1-1.1 1.1-3 0-4.1 -1.1-1.1-2.9-1.1-4.1 0l-2 2.1 -2-2.1c-1.1-1.1-2.9-1.1-4.1 0 -1.1 1.1-1.1 3 0 4.1l2 2.1 4.1 4.1 4.1-4.1z" />
								</svg>
							</button>
						</div>
						<a href="" class="product-item__img-link">
							<picture class="product-item__img">
								<source srcset='/image/static/img/placeholder/product4.webp' type='image/webp'>
								<img src='/image/static/img/placeholder/product4.png' alt=''>
							</picture>
						</a>
						<div class="product-item__cat">Настенный кондиционер</div>
						<a href="" class="product-item__title">Сплит-система Electrolux Air Gate EACS-09HG-B/N3</a>
						<div class="product-item__meta">
							<div class="product-item__rating">


								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>


							</div>
							<div class="product-item__comments">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
									<path fill="#afb7cf"
										  d="M14.3 2.4v7.7c0 0.4-0.3 0.7-0.7 0.7h-6l-3.1 2.2v-2.2h-2.1c-0.4 0-0.7-0.3-0.7-0.7v-7.7c0-0.4 0.3-0.7 0.7-0.7h11.2c0.4 0 0.7 0.3 0.7 0.7zM2.4 0.3c-1.2 0-2.1 0.9-2.1 2.1v7.7c0 1.2 0.9 2.1 2.1 2.1h0.7v3.5l4.9-3.5h5.6c1.2 0 2.1-0.9 2.1-2.1v-7.7c0-1.2-0.9-2.1-2.1-2.1z" />
								</svg>
								23
							</div>
						</div>

						<div class="product-item__footer">
							<div class="product-item__price">
								72 000 ₽


								<div class="product-item__old-price">74 966 ₽</div>

							</div>

							<div class="product-item__benefit">
								Выгода 2 966 ₽
							</div>


							<button class="product-item__btn product-item__btn--cart">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
									<path
											d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z" />
								</svg>
							</button>
						</div>
					</div>
				</div>






				<div class="products__product-item product-item">
					<div class="product-item__wrap">
						<div class="product-item__header">

							<div class="product-item__tags">



							</div>

							<button class="product-item__btn product-item__btn--compare">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
									<path d="M5.8 0.3h1.5v14.6h-1.5zM0 7.6h1.5v7.3h-1.5zM11.7 3.9h1.5v10.9h-1.5z" />
								</svg>
							</button>
							<button class="product-item__btn product-item__btn--wishlist">
								<svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15">
									<path
											d="M15.5 7.7l-1 1 -6.1 6.2 -6.1-6.2 -1-1c-1.7-1.7-1.7-4.5 0-6.2 1.7-1.7 4.4-1.7 6.1 0l1 1 1-1c1.7-1.7 4.4-1.7 6.1 0 1.7 1.7 1.7 4.5 0 6.2zM14.5 6.7c1.1-1.1 1.1-3 0-4.1 -1.1-1.1-2.9-1.1-4.1 0l-2 2.1 -2-2.1c-1.1-1.1-2.9-1.1-4.1 0 -1.1 1.1-1.1 3 0 4.1l2 2.1 4.1 4.1 4.1-4.1z" />
								</svg>
							</button>
						</div>
						<a href="" class="product-item__img-link">
							<picture class="product-item__img">
								<source srcset='/image/static/img/placeholder/product5.webp' type='image/webp'>
								<img src='/image/static/img/placeholder/product5.png' alt=''>
							</picture>
						</a>
						<div class="product-item__cat">Настенный кондиционер</div>
						<a href="" class="product-item__title">Сплит-система Electrolux Air Gate 2 EACS-07HG-B2/N3</a>
						<div class="product-item__meta">
							<div class="product-item__rating">


								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13">
									<path
											d="M7.4 0.1l1.8 4.1v0l4.5 0.4c0.3 0 0.4 0.4 0.2 0.6l-3.4 2.9v0l1 4.4c0.1 0.3-0.3 0.5-0.5 0.4l-3.9-2.3v0l-3.9 2.3c-0.3 0.2-0.6-0.1-0.5-0.4l1-4.4v0l-3.4-2.9c-0.2-0.2-0.1-0.6 0.2-0.6l4.5-0.4v0l1.8-4.1c0.1-0.3 0.5-0.3 0.7 0z"
											fill="#d7d9e6" />
								</svg>


							</div>
							<div class="product-item__comments">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
									<path fill="#afb7cf"
										  d="M14.3 2.4v7.7c0 0.4-0.3 0.7-0.7 0.7h-6l-3.1 2.2v-2.2h-2.1c-0.4 0-0.7-0.3-0.7-0.7v-7.7c0-0.4 0.3-0.7 0.7-0.7h11.2c0.4 0 0.7 0.3 0.7 0.7zM2.4 0.3c-1.2 0-2.1 0.9-2.1 2.1v7.7c0 1.2 0.9 2.1 2.1 2.1h0.7v3.5l4.9-3.5h5.6c1.2 0 2.1-0.9 2.1-2.1v-7.7c0-1.2-0.9-2.1-2.1-2.1z" />
								</svg>
								23
							</div>
						</div>

						<div class="product-item__footer">
							<div class="product-item__price">
								72 000 ₽


							</div>


							<button class="product-item__btn product-item__btn--cart">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
									<path
											d="M14.3 14.3h-8.6l0.2 2.2c0 0.4 0.3 0.7 0.7 0.9 0.3-0.8 1.2-1.4 2.1-1.4 1 0 1.8 0.6 2.2 1.5h1.8c0.3-0.9 1.2-1.5 2.2-1.5 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3 -1 0-1.8-0.6-2.2-1.5h-1.8c-0.3 0.9-1.2 1.5-2.2 1.5 -1 0-1.9-0.7-2.2-1.6 -1.1-0.2-2-1.1-2.2-2.3 0 0 0 0 0 0l-1.2-13.6c0-0.6-0.5-1-1.1-1h-2v-1.6h2c0.7 0 1.3 0.2 1.8 0.7 0.5 0.4 0.8 1.1 0.8 1.7l0.2 1.9h15.2l-2.4 7c-0.2 0.7-0.7 1.4-1.3 1.8 -0.6 0.5-1.3 0.7-2.1 0.7zM14.1 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM7.9 18.3c0 0.4 0.3 0.7 0.7 0.7 0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7 -0.4 0-0.7 0.3-0.7 0.7zM14.3 12.8c0.9 0 1.6-0.6 1.9-1.4l0 0 1.7-5h-12.9l0.6 6.4z" />
								</svg>
							</button>
						</div>
					</div>
				</div>



			</div>
		</section>

		<section class="cart__forgotten-products forgotten-products">
			<h2 class="forgotten-products__heading">Вы смотрели, но забыли купить</h2>
			<ul class="forgotten-products__list">
				<li class="forgotten-products__item">
					<a class="forgotten-products__item-img" href="">
						<picture>
							<source srcset='/image/static/img/placeholder/forgotten3.webp' type='image/webp'>
							<img src='/image/static/img/placeholder/forgotten3.jpg' alt=''>
						</picture>
					</a>
					<div class="forgotten-products__item-content">
						<h3 class="forgotten-products__item-title"><a href="">Сплит-система Haier
								HSU-07HNE03/R2/HSU-07HUN403/R2</a></h3>
						<div class="forgotten-products__item-prices">
							<div class="forgotten-products__item-price">72 000 ₽</div>
						</div>
					</div>
				</li>
				<li class="forgotten-products__item">
					<a class="forgotten-products__item-img" href="">
						<picture>
							<source srcset='/image/static/img/placeholder/forgotten2.webp' type='image/webp'>
							<img src='/image/static/img/placeholder/forgotten2.jpg' alt=''>
						</picture>
					</a>
					<div class="forgotten-products__item-content">
						<h3 class="forgotten-products__item-title"><a href="">Настенный внутренний блок мульти
								сплит-системы Hisense AMS-09UR4SVEDB65</a></h3>
						<div class="forgotten-products__item-prices">
							<div class="forgotten-products__item-price">1 890 ₽</div>
						</div>
					</div>
				</li>
				<li class="forgotten-products__item">
					<a class="forgotten-products__item-img" href="">
						<picture>
							<source srcset='/image/static/img/placeholder/forgotten1.webp' type='image/webp'>
							<img src='/image/static/img/placeholder/forgotten1.jpg' alt=''>
						</picture>
					</a>
					<div class="forgotten-products__item-content">
						<h3 class="forgotten-products__item-title"><a href="">Ультразвуковой туманный увлажнитель
								воздуха и светильник аромадиффузор </a></h3>
						<div class="forgotten-products__item-prices">
							<div class="forgotten-products__item-old-price">74 966 ₽</div>
							<div class="forgotten-products__item-price">72 000 ₽</div>
						</div>
					</div>
				</li>
			</ul>
		</section>

		<section class="cart__installation-errors installation-errors">
			<div class="installation-errors__header">
				<h2 class="installation-errors__heading">Не допускайте установки с ошибками</h2>

				<a href="" class="installation-errors__btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="11" viewBox="0 0 20 11">
						<path d="M9.7 0v0l10.3 5.5v0l-10.3 5.5v0 -4 0h-9.7v0 -3 0h9.7v0z" fill="#144da4" />
					</svg>
				</a>
			</div>
			<ul class="installation-errors__list">
				<li class="installation-errors__item">
					<picture class="installation-errors__item-img">
						<source srcset='/image/static/img/placeholder/installation1.webp' type='image/webp'>
						<img src='/image/static/img/placeholder/installation1.jpg' alt=''>
					</picture>
					<div class="installation-errors__item-desc">
						Не определяется уровень горизонта, что приводит к перекосу наружного или внутреннего блока и
						более быстрому выходу их из строя
					</div>
				</li>
				<li class="installation-errors__item">
					<picture class="installation-errors__item-img">
						<source srcset='/image/static/img/placeholder/installation2.webp' type='image/webp'>
						<img src='/image/static/img/placeholder/installation2.jpg' alt=''>
					</picture>
					<div class="installation-errors__item-desc">
						Непродуманное месторасположение: внутренний блок нельзя располагать над отопительными приборами
						или в местах прямого попадания солнца
					</div>
				</li>
				<li class="installation-errors__item">
					<picture class="installation-errors__item-img">
						<source srcset='/image/static/img/placeholder/installation3.webp' type='image/webp'>
						<img src='/image/static/img/placeholder/installation3.jpg' alt=''>
					</picture>
					<div class="installation-errors__item-desc">
						Установка внутреннего блока напротив зоны отдыха в комнате. Приводит к чрезмерному охлаждению и
						частым заболеваниям хозяев.
					</div>
				</li>
				<li class="installation-errors__item">
					<picture class="installation-errors__item-img">
						<source srcset='/image/static/img/placeholder/installation4.webp' type='image/webp'>
						<img src='/image/static/img/placeholder/installation4.jpg' alt=''>
					</picture>
					<div class="installation-errors__item-desc">
						Неправильно выбранный материал для крепления внешнего блока, ошибки в установке дренажной
						системы
					</div>
				</li>
				<li class="installation-errors__item">
					<picture class="installation-errors__item-img">
						<source srcset='/image/static/img/placeholder/installation5.webp' type='image/webp'>
						<img src='/image/static/img/placeholder/installation5.jpg' alt=''>
					</picture>
					<div class="installation-errors__item-desc">
						Установка системы с заломами медных трубок, по которым течет фреон
					</div>
				</li>
				<li class="installation-errors__item">
					<picture class="installation-errors__item-img">
						<source srcset='/image/static/img/placeholder/installation6.webp' type='image/webp'>
						<img src='/image/static/img/placeholder/installation6.jpg' alt=''>
					</picture>
					<div class="installation-errors__item-desc">
						Отсутствие дополнительной теплоизоляции труб фольгированной изолентой
					</div>
				</li>
			</ul>
		</section>#}
		{{ content_bottom }}
	</div>
</main>

{{ footer }}
