{% if not redirect %}
<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>{{ column_name }}</th>
        <th>{{ column_model }}</th>
        <th>{{ column_quantity }}</th>
        <th>{{ column_price }}</th>
        <th>{{ column_total }}</th>
      </tr>
    </thead>
    <tbody>
	    {% for product in products %}
	    <tr>
	      <td><a href="{{ product.href }}">{{ product.name }}</a> {% for option in product.option %} <br />
	        &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}
	        {% if product.recurring %} <br />
	        <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
	      <td>{{ product.model }}</td>
	      <td>{{ product.quantity }}</td>
	      <td>{{ product.price }}</td>
	      <td>{{ product.total }}</td>
	    </tr>
	    {% endfor %}
	    {% for voucher in vouchers %}
	    <tr>
	      <td>{{ voucher.description }}</td>
	      <td></td>
	      <td>1</td>
	      <td>{{ voucher.amount }}</td>
	      <td>{{ voucher.amount }}</td>
	    </tr>
	    {% endfor %}
    </tbody>
    <tfoot>
	    {% for total in totals %}
	    <tr>
	      <td colspan="4" class="text-right"><strong>{{ total.title }}:</strong></td>
	      <td class="text-right">{{ total.text }}</td>
	    </tr>
	    {% endfor %}
    </tfoot>
  </table>
</div>
{{ payment }}
{% else %} 
<script type="text/javascript"><!--
location = '{{ redirect }}';
//--></script> 
{% endif %} 