button[data-target='#ocfilter-hidden-options'] .fa::before {
  content: '\f078';
}

.sidebar__btn {
  background-color: #2074e3 !important;
}

@media (min-width: 992px) {
  .ocfilter-close-btn {
    display: none;
  }
}

.us-product-quantity-btn,
.us-product-quantity input {
  padding: 0 13px;
  color: #afafaf;
  font-weight: 600;
  border-radius: 0;
  cursor: pointer;
}

.us-product-quantity-btn {
  font-size: 13px;
  background-color: #f6f6f6;
  border: none;
  transition: all 0.15s ease 0.05s;
}

.us-product-quantity-btn:hover {
  color: #fff;
  background-color: #3962b4;
}

.us-product-quantity input {
  width: 60px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f6f6f6;
}

.us-product-quantity input:focus {
  border-color: #f6f6f6;
  border-radius: 0;
  box-shadow: none;
}

.form-group-20 {
  margin-bottom: 20px;
}

/* ----- Reset ----- */

* {
  outline: none;
}

.btn {
  transition: unset !important;
}

html {
  height: 100%;
}

body {
  /* color: #5C5C5C; */

  /* background-color: #F2F3F5; */

  /* font-family: 'Open Sans', sans-serif; */

  /* font-size: 14px; */

  /* letter-spacing: 0em; */
}

p {
  margin: 0;
}

a,
a:hover,
a:active {
  /* color: inherit; */
  text-decoration: none;
  cursor: pointer;
}

.us-content a,
.us-product-description-cont a,
.us-category-description-text a {
  color: #50a8ff;

  /* text-decoration: underline; */
}

.us-content a:hover,
.us-product-description-cont a:hover,
.us-category-description-text a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

div,
p,
form,
input,
a,
span,
button {
  box-sizing: border-box;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:hover {
  outline: none;
  box-shadow: none;
}

.row-padding-top {
  /* padding-top: 30px; */
}

.col-margin-bottom {
  margin-bottom: 30px;
}

/* -------------Top Header--------------- */

#top {
  height: 46px;
  font-size: 12px;
  background: #f3f4f6;
}

#top .fa-map-marker-alt {
  margin-right: 15px;
  color: #18b8d1;
}

#top-links .btn-link {
  color: #000;
  font-size: 12px;
}

.shop-address {
  margin-right: 10px;
}

#top .dropdown-item.active,
#top .dropdown-item:active {
  color: unset;
  text-decoration: none;
  background-color: unset;
}

.top-address i,
.btn-shedule i,
#us_mobile_phones .fa-mobile-alt {
  margin-right: 10px;
  font-size: 17px;
}

.address-dropdown-menu {
  padding: 10px 20px 20px !important;
}

.address-dropdown-menu .us-dropdown-item {
  padding: 5px 0;
}

.shedule-dropdown-menu {
  min-width: 152px;
}

.top-address {
  color: #e5e5e5;
}

.btn-link {
  padding-top: 13px;
  padding-bottom: 13px;
  color: #e5e5e5;
  font-size: 12px;
  background-color: transparent;
  border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
  color: #e5e5e5;
  text-decoration: none;
}

.btn-link .fa-chevron-down {
  margin-right: 0;
  transition: transform 0.3s ease;
}

.btn-link[aria-expanded='true'] .fa-chevron-down {
  transform: rotate(180deg);
}

.btn-link:hover i.fa-chevron-up {
  display: block;
}

.btn-link::after {
  display: none;
}

.btn-shedule.btn-link,
#currency .btn-link,
#us-account-dropdown .btn-link {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-dropdown-menu,
.header-dropdown-menu {
  z-index: 1021;
  margin-top: 0;
  padding: 6px 0;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 5px 12px 30px rgba(0, 0, 0, 0.35);
}

nav .dropdown-menu a {
  transition: color 0.15s ease;
}

nav .dropdown-menu button {
  background: transparent;
}

#top-links .dropdown-menu {
  min-width: 140px;
}

nav .dropdown-menu button,
nav .dropdown-menu {
  font-size: 12px;
  text-align: left;
}

.us-dropdown-item {
  padding: 5px 10px;
  color: #000;
}

.us-dropdown-item:hover {
  background: none;
}

.user-dropdown-menu .us-dropdown-item:hover {
  color: #3962b4;
  text-decoration: underline;
}

nav .dropdown-menu button img {
  margin-right: 5px;
}

.btn-block + .btn-block {
  margin-top: 0;
}

nav .dropdown-menu button:hover {
  color: #3962b4;
  text-decoration: underline;
}

nav .dropdown-menu button:focus {
  box-shadow: none;
}

img.lang {
  width: 13px;
  margin-right: 10px;
}

.btn-link .fa-chevron-down {
  margin-left: 8px;
  font-size: 8px;
}

.btn-group .language-select + .language-select,
.btn-group .currency-select + .currency-select {
  margin-left: 0;
}

/* -------------/Top Header--------------- */

/* ---------------Header------------------ */

header {
  /* padding-top: 32px; */

  /* padding-bottom: 32px; */

  /* background: #fff; */
}

#search {
  -webkit-box-shadow: 0 4px 5px 0 rgba(225, 226, 228, 0.5);
  -moz-box-shadow: 0 4px 5px 0 rgba(225, 226, 228, 0.5);
  box-shadow: 0 4px 5px 0 rgba(225, 226, 228, 0.5);
}

.us-logo-img {
  max-width: 230px;
}

.header-input-group {
  height: 40px;
  margin-left: 0;

  /* max-width: 400px; */
}

#us-phones-dropdown {
  position: relative;
}

#us-phones-dropdown::after {
  position: absolute;
  top: 2px;
  right: -5px;
  display: block;
  font-weight: 900;
  font-size: 12px;
  font-family: 'Font Awesome 5 Free';
  border: 0;
  content: '\f078';
}

.header-input {
  width: calc(100% - 43px);
  padding-left: 10px;
  color: #495057;
  font-size: 12px;
  border: 1px solid #e1e2e4;
}

.cats-button,
.header-btn-search {
  color: #999;
  font-size: 12px;
  background-color: #fff;
  border-left: 1px solid #f9f9f9 !important;
  border-radius: 0;
}

.header-btn-search {
  border: 1px solid #e1e2e4;
  border-left: 0 !important;
}

.cats-button i,
.top-phone-btn i {
  margin-left: 4px;
  font-size: 8px;
  transition: transform 0.3s ease;
}

.cats-button::after,
.top-phone-btn::after {
  display: none;
}

.cats-button[aria-expanded='true'] .fa-chevron-down,
.top-phone-btn[aria-expanded='true'] .fa-chevron-down {
  transform: rotate(180deg);
}

.header-btn-search i {
  color: #40a9b6;
  font-size: 17px;
}

#us_livesearch {
  position: relative;
  z-index: 1021;
  width: 100%;
  max-height: 0;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: max-height 0.2s ease;
}

#us_livesearch.expanded {
  max-height: 400px;
  padding-top: 40px;
  border-top: 1px solid #f9f9f9;
}

#us_livesearch > div {
  height: 100%;
  min-height: 100px;
  padding: 15px;
  overflow-y: auto;
}

#us_livesearch_close {
  position: absolute;
  top: 45px;

  /* left: 0; */
  right: 5px;
  z-index: 1022;

  /* top: 40px;
		right: -40px; */
  width: 40px;
  height: 40px !important;
  padding: 0 !important;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #3962b4;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0;
}

#us_livesearch_close.visible {
  opacity: 1;
}

#us_livesearch_close i {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transition: transform 0.4s ease;
}

#us_livesearch_close:hover i {
  transform: rotate(180deg);
}

.us-livesearch-list-item:not(:last-child) {
  border-bottom: 1px solid #f9f9f9;
}

.us-livesearch-list-item-name {
  margin-bottom: 10px;
  font-size: 13px;
}

.us-livesearch-list-item-name a {
  color: #50a8ff;
  font-weight: 100;
  text-decoration: underline;
}

.us-livesearch-list-item-name a:hover {
  text-decoration: none;
}

.us-livesearch-list-item-price {
  margin-bottom: 10px;
}

.us-livesearch-list-item-price span {
  padding: 4px 8px !important;
  font-size: 14px !important;
}

.us-livesearch-list-item-model-sku {
  margin-bottom: 4px;
  font-size: 11px;
}

.us-livesearch-list-item-stock {
  font-size: 11px;
}

.us-livesearch-list-item-stock .in-stock {
  color: #3962b4;
}

.us-livesearch-list-item-stock .out-of-stock {
  color: #eb5757;
}

.header-dropdown-menu a {
  padding: 6px 10px;
  font-size: 12px;
  transition: color 0.15s ease;
}

.header-dropdown-menu a:hover {
  color: #3962b4;
  text-decoration: underline;
  background: none;
}

.header-dropdown-menu a:hover i {
  color: #333;
}

.us-phone-block {
  padding-left: 15px;
}

.top-phone-btn,
.us-cart-text {
  padding: 0;
  color: #333;
  font-weight: 700;
  font-size: 14px;
}

.top-phone-btn:hover {
  color: #333;
}

.header-dropdown-menu i {
  margin-right: 4px;
}

.us-phone-link,
.us-cart-link {
  display: block;
  margin-top: -3px;
  color: #40a9b6;
  font-size: 12px;
  text-decoration: none;
}

.us-phone-link:hover,
.us-cart-link:hover {
  color: #143e65;
  text-decoration: none;
}

.us-phone-img {
  margin-right: 10px;
}

.us-cart-img {
  position: relative;
  margin-right: 10px;
  padding: 0;
  background: transparent;
  border: 0;
}

.header-cart-index {
  position: absolute;
  top: -10px;
  left: 23px;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  background: #eb5757;
  border-radius: 100%;
  transition: background 0.15s ease 0.05s;
}

/* ---------------Header------------------ */

/* ------------------Menu--------------- */

.menu-row {
  z-index: 999;
  height: 50px;
  color: #e5e5e5;
  letter-spacing: 0.3px;
  background-color: #353e48;
}

#oct-menu-box {
  height: 50px;
}

.oct-ultra-menu {
  position: relative;
  height: 50px;
  color: #fff;
  font-size: 16px;
  background: #40a9b6;
  cursor: pointer;
  transition: background 0.15s ease 0.05s;
}

.oct-ultra-menu span {
  padding-left: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#oct-menu-box:hover .oct-ultra-menu {
  background-color: #4a5663;
}

.oct-ultra-menu i {
  position: absolute;
  top: 16px;
  right: 20px;
  left: auto;
  font-size: 18px;
  transition: transform 0.4s ease 0.1s;
}

#oct-menu-box:hover .oct-ultra-menu i {
  transform: rotate(180deg);
}

.menu-row nav {
  position: unset;
  padding: 0;
}

#oct-megamenu-box {
  position: unset;
}

#oct-menu-dropdown-menu,
.oct-menu-child-ul,
.oct-mm-dropdown {
  position: absolute;
  top: -9999px;
  right: 15px;
  left: 15px;
  z-index: 1;
  background: #fff;
  box-shadow: 5px 12px 30px rgba(0, 0, 0, 0.35);
  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 0.1s linear 0.2s, opacity 0.1s linear 0.2s;
  -webkit-transition: visibility 0.1s linear 0.2s, opacity 0.1s linear 0.2s;
  -moz-transition: visibility 0.1s linear 0.2s, opacity 0.1s linear 0.2s;
  -o-transition: visibility 0.1s linear 0.2s, opacity 0.1s linear 0.2s;
}

.oct-mm-full-width {
  right: 0;
  left: 0;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.oct-menu-li:not(:first-child) {
  border-top: 1px solid #f7f7f7;
}

.oct-menu-child-ul {
  top: 0;
  bottom: 0;
  left: 100%;
  width: 270px;
  border-left: 1px solid #f7f7f7;
}

#oct-menu-dropdown-menu.oct-menu-active,
.oct-menu-child-ul-active,
.oct-mm-dropdown-active {
  top: 50px;
  z-index: 9001;
  visibility: visible;
  opacity: 1;
}

#oct-menu-ul {
  margin-bottom: 0;
}

.oct-menu-child-ul-active {
  top: 0;
}

.oct-menu-li {
  padding: 0 0 0 15px;
  background: #fff;
  transition: background 0.15s ease 0.05s;
}

.oct-menu-li:hover {
  background: #f7f7f7;
}

.oct-menu-li > a,
.oct-menu-li > div > a {
  position: relative;
  display: block;
  height: 50px;
  color: #333;
  line-height: 50px;
}

.oct-menu-li:hover > a,
.oct-menu-li:hover > div > a {
  color: #3962b4;
}

.oct-menu-toggle,
.oct-childmenu-toggle {
  width: 50px;
  color: #333;
  text-align: center;
}

.oct-menu-li > div a:first-child {
  width: calc(100% - 50px);
}

.oct-menu-item-name {
  display: inline-block;
  line-height: 1.1rem;
  vertical-align: middle;
}

.oct-menu-child-ul > ul {
  max-height: 100%;
  overflow-y: auto;
}

.oct-menu-child-ul > ul::-webkit-scrollbar {
  width: 7px;
  -webkit-appearance: none;
}

.oct-menu-child-ul > ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.oct-mm-link,
.oct-mm-simple-link {
  position: inherit;
  height: 50px;
}

.oct-mm-link > a i {
  margin-left: 6px;
  font-size: 10px;
  transition: transform 0.3s ease 0.05s;
}

.oct-mm-link:hover > a i {
  transform: rotate(180deg);
}

.oct-mm-link > a,
.oct-mm-simple-link > a {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 50px;
  transition: all 0.15s ease 0.1s;
}

.oct-mm-dropdown {
  max-height: 565px;
  padding: 30px;
  overflow-y: auto;
}

.oct-mm-dropdown-sm {
  right: auto;
  left: 0;
  width: 270px;
  padding: 0;
  overflow-y: visible;
}

.oct-mm-hassubchild {
  margin-bottom: 30px;
}

.oct-mm-parent-img-full-width {
  margin-bottom: 15px;
}

.oct-mm-brands-dropdown {
  padding-bottom: 0;
}

.oct-mm-brands-link {
  padding-top: 15px;
  transition: box-shadow 0.3s ease;
}

.oct-mm-brands-link:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.oct-mm-parent-img {
  max-width: 100px;
  margin: 0 auto;
  padding-top: 15px;
}

.oct-mm-parent-title {
  height: 42px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333;
  font-weight: 700;
  letter-spacing: 0.3px;
  transition: color 0.15s ease;
}

.oct-mm-brands-link .oct-mm-parent-title {
  height: auto;
}

.oct-mm-parent-link:hover + .oct-mm-parent-hr {
  background: #3962b4;
}

.oct-mm-parent-link img {
  transition: opacity 0.15s ease;
}

.oct-mm-parent-link:hover img {
  opacity: 0.9;
}

.oct-mm-child li {
  margin-bottom: 10px;
  padding: 0;
  font-size: 13px;
}

.oct-mm-child li:first-child {
  padding-top: 16px;
  border-top: 1px solid #f4f4f4;
}

.oct-mm-child a {
  color: #666;
  line-height: 20px;
  transition: color 0.15s ease;
}

.oct-mm-see-all {
  color: #333;
  font-weight: 600;
  font-size: 12px;
  text-decoration: underline;
}

.oct-mm-child a:hover,
.oct-mm-parent-link:hover .oct-mm-parent-title {
  color: #3962b4;
  text-decoration: underline;
}

.oct-mm-see-all i {
  margin-right: 5px;
  color: #c5c5c5;
}

.oct-mm-img-transition {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.oct-mm-parent-link:hover .oct-mm-img-transition {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}

.oct-mm-product-parent-title {
  height: auto;
  font-size: 13px;
}

.oct-mm-price {
  color: #484848;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.oct-mm-product-parent-title,
.oct-price-old {
  font-weight: 500;
}

.oct-mm-price .oct-price-old {
  color: #cbcfd4;
  font-size: 12px;
  text-decoration: line-through;
}

.oct-mm-price .oct-price-new {
  color: #eb5757;
}

.oct-mm-price + .oct-mm-parent-hr {
  height: 0;
  margin-top: 20px;
}

.oct-mm-product:hover .oct-mm-parent-hr {
  background: #3962b4;
}

.oct-mm-html {
  padding-bottom: 30px;
  color: #666;
}

.oct-mm-html p + p {
  margin-top: 10px;
}

.oct-mm-parent-title-light {
  font-weight: 500;
}

.oct-mm-banner {
  position: relative;
  position: relative;
  margin: 0 15px;
  padding: 30px;
  overflow: hidden;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background: #3fcefd;
  border-radius: 1px;
}

.oct-mm-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 130%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, -120%, 0);
  transition: transform 0.8s;
  content: '';
}

.oct-mm-banner:hover::before {
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, 120%, 0);
}

.oct-mm-banner-img {
  margin-bottom: 20px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.oct-mm-banner-img img {
  max-width: 160px;
}

.oct-mm-banner:hover .oct-mm-banner-img {
  opacity: 1;
}

.oct-mm-banner-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.oct-mm-banner-text {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.oct-mm-banner-button {
  position: relative;
  z-index: 2;
  display: inline-block;
  max-width: 170px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  background: rgb(102, 102, 102);
  border-radius: 1px;
  transition: background 0.3s ease, color 0.3s ease;
}

.oct-mm-banner-button:hover {
  color: rgb(255, 255, 255);
  background: rgb(126, 211, 2);
}

.oct-mm-dropdown-simple .oct-menu-li {
  position: relative;
}

.oct-mm-dropdown-simple .oct-menu-child-ul {
  bottom: auto;
}

/* ------------------/Menu--------------- */

/* ------Product-description-------- */

.us-product-description-nav {
  margin-bottom: 0;
  padding: 24px 30px 30px 30px;
}

.us-product-nav-item {
  position: relative;
  position: relative;
  margin-right: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.us-product-nav-item:hover,
.us-product-nav-item-active {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.us-product-nav-item-active::after,
.us-product-nav-item:hover::after {
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  border-bottom: 3px solid rgb(24, 184, 209);
  transition: border 0.15s ease;
  content: '';
}

.us-product-nav-item-active a::after,
.us-product-nav-item a:hover::after {
  border-color: #3962b4;
}

.us-product-description-cont {
  padding: 0 30px 30px;
  color: #898989;
}

#us-related-dop_tab-row {
  padding-top: 30px;
}

.us-product-description-title {
  margin-top: 20px;
  margin-bottom: 3px;
  color: #898989;
  font-weight: 600;
  text-transform: uppercase;
}

.us-product-tags {
  margin-top: 30px;
  color: #3962b4;
}

.us-product-tags a {
  color: #3962b4;
  text-decoration: none;
}

.us-product-tags a:hover {
  text-decoration: underline;
}

/* ------/Product-description-------- */

/* -------Product-attributes--------- */

.us-product-attributes {
  padding: 30px;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}

.us-page-main-title {
  position: relative;
  display: inline-block;
  margin-bottom: 38px;
  color: #333;
  font-weight: 600;
  font-size: 18px;
}

.us-page-main-title::after {
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  border-bottom: 3px solid #3962b4;
  content: '';
}

.us-product-attributes-cont {
  width: 60%;
}

.us-product-attributes-cont:not(:last-child) {
  margin-bottom: 20px;
}

.us-product-attributes-title {
  margin-bottom: 10px;
  color: #666;
  font-weight: 600;
  text-transform: uppercase;
}

.us-product-attributes-cont .us-product-attr-item {
  color: #898989;
}

/* -------/Product-attributes--------- */

/* -------Product-reviews--------- */

.no-product-reviews {
  padding: 30px;
}

.us-reviews {
  padding-top: 30px;
  background-color: #fbfbfb;
}

.us-reviews-top {
  padding: 0 30px;
}

.us-reviews-btn:hover {
  opacity: 0.9;
}

.us-review-item {
  padding: 30px 0;
  border-bottom: 1px solid #f7f7f7;
}

.us-content-reviews .pagination,
#review .pagination,
#oct_popup_review .pagination {
  margin: 20px 0;
  padding-bottom: 20px;
}

.us-product-review-block {
  margin-right: 30px;
  background: #fbfbfb;
}

.us-review-info {
  text-align: center;
}

.us-review-icon {
  margin-bottom: 10px;
}

.us-review-name,
.us-admin-answer-title {
  color: #57565c;
  font-weight: 600;
  font-size: 16px;
}

.us-review-date {
  margin-top: 12px;
  margin-bottom: 10px;
  color: #8e8d90;
  font-weight: 300;
}

.us-reviews .us-rating-center,
.us-review-action {
  justify-content: center;
}

.us-review-action {
  margin-top: 20px;
}

.us-review-action-like {
  color: #3962b4;
}

.us-review-action-dislike {
  color: #eb5757;
}

.us-review-action-btn {
  margin-bottom: 5px;
  padding: 0;
  color: inherit;
  font-size: 20px;
  background: none;
  border: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.3s ease;
}

.us-review-action-btn:hover {
  opacity: 0.8;
}

.us-review-action-border {
  width: 1px;
  height: 20px;
  margin: 0 20px;
  background: #f6f6f6;
}

.us-review-text {
  position: relative;
  padding: 30px;
  color: #898989;
  background-color: #fff;
}

#oct_popup_review .us-review-text {
  background: #fbfbfb;
}

.us-review-text::before {
  position: absolute;
  top: 15px;
  left: -20px;
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  content: '';
}

.us-review-text-positive,
.us-review-text-negative {
  margin-left: 24px;
}

.us-review-text-negative {
  margin-top: 10px;
}

.us-review-text-title {
  position: relative;
  margin-bottom: 5px;
  font-weight: 600;
}

.us-review-text-title-positive {
  color: #3962b4;
}

.us-review-text-title-negative {
  color: #eb5757;
}

.us-review-text-title::before {
  position: absolute;
  top: 2px;
  left: -20px;
  font-weight: 900;
  font-family: 'Font Awesome\ 5 Free';
}

.us-review-text-title-positive::before {
  color: #3962b4;
  content: '\f067';
}

.us-review-text-title-negative::before {
  color: #eb5757;
  content: '\f068';
}

.us-review-text-negative p {
  margin-bottom: 20px;
}

.us-review-text-main {
  color: #898989;
}

.us-admin-answer {
  margin-top: 30px;
  padding: 30px;
  background-color: #fff;
}

.us-admin-answer .us-admin-answer-title {
  margin-bottom: 30px;
}

.us-review-text-main p:not(:last-child) {
  margin-bottom: 20px;
}

/* -------/Product-reviews--------- */

/* -------Extra tabs--------- */

.us-product-extra-tab-content {
  padding: 30px;
}

.us-product-extra-tab-content + .us-product-extra-tab-content {
  border-top: 1px solid #f6f6f6;
}

/* -------/Extra tabs--------- */

/* ----------------------------/Product.html------------------------- */

/* ----------------------------Category.html------------------------- */

#column-left > *:first-child,
#column-right > *:first-child {
  margin-top: 0 !important;
}

.content-top-box {
  margin-top: -30px;
  margin-bottom: 30px;
}

.us-category-content {
  padding: 15px 15px 30px 15px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.15s ease 0.05s;
}

.us-category-content:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.us-categories-box {
  padding: 15px;
  background: #f3f5fb;
  border-radius: 1px;
}

.us-categories-item {
  margin-bottom: 20px;
  color: #666;
  font-size: 15px;
  letter-spacing: 0.3px;
}

.us-categories-2 > .us-categories-item {
  font-size: 14px;
}

.us-categories-3 > .us-categories-item {
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 0.003em;
}

.us-categories-children {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
}

.active > .us-categories-children,
.us-categories-children.expanded {
  max-height: 100%;
}

.us-categories-children > li:first-child {
  margin-top: 20px;
}

.us-categories-item:last-child {
  margin-bottom: 0;
}

.us-categories-item.active > span a,
.us-categories-item a:hover {
  color: #3962b4;
}

.us-categories-item a:hover {
  text-decoration: underline;
}

.us-categories-2 > .us-categories-item {
  padding-left: 15px;
}

.us-categories-3 > .us-categories-item {
  padding-left: 15px;
}

.us-categories-toggle i {
  font-size: 10px;
  transition: transform 0.3s ease 0.05s;
}

.us-categories-item.active > span .us-categories-toggle i,
.us-categories-toggle.clicked i {
  transform: rotate(180deg);
}

.us-category-content .us-main-shop-title {
  font-size: 20px;
}

.us-module-column-box {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.us-module-column-box .us-main-shop-title::after {
  background: linear-gradient(89.95deg, #e5e5e5 0%, #fff 100%);
}

.us-module-column-box-content {
  background: #fff;
}

.us-module-column-item {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  box-shadow: none !important;
}

.us-module-column-title {
  height: 63px;
  overflow-y: hidden;
}

.us-column-module-btn {
  position: absolute;
  top: calc(50% - 31px);
  padding: 21px 8px;
  color: #9d9d9d;
  font-size: 8px;
  text-align: center;
  background-color: #f4f4f4;
  border: none;
  transition: all 0.15s ease 0.05s;
}

.us-column-module-prev {
  left: 0;
}

.us-column-module-next {
  right: 0;
}

.us-column-module-btn:hover {
  color: #fff;
  background-color: #3962b4;
}

#column-left .us-banner-plus-wrap,
#column-right .us-banner-plus-wrap {
  flex: 0 0 100%;
  max-width: 100%;
}

#column-left .us-banner-plus-wrap-second,
#column-right .us-banner-plus-wrap-second {
  margin-top: 30px;
}

#column-left .us-banner-plus-box,
#column-right .us-banner-plus-box {
  padding: 30px 15px;
}

#column-left .us-banner-plus-wrap-full-width .us-banner-plus-box,
#column-right .us-banner-plus-wrap-full-width .us-banner-plus-box {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

#column-left .us-banner-plus-text,
#column-right .us-banner-plus-text {
  margin-right: 0;
}

#column-left .us-banner-plus-btn,
#column-right .us-banner-plus-btn {
  margin-right: auto;
  margin-left: auto;
}

#column-left .us-banner-plus-img img,
#column-right .us-banner-plus-img img {
  max-height: 170px;
}

#column-left .us-banner-plus-box::before,
#column-right .us-banner-plus-box::before {
  width: 180%;
  height: 50%;
}

#column-left .us-banner-plus-wrap:hover .us-banner-plus-box::before,
#column-right .us-banner-plus-wrap:hover .us-banner-plus-box::before {
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, 180%, 0);
}

/* Custom */
.us-show-more {
  margin: 20px 0;
}

.us-show-more-link {
  color: #50a8ff;
  font-weight: 100;
  text-decoration: underline;
}

.us-show-more span {
  margin-right: 4px;
}

.us-show-more i {
  font-size: 11px;
  transition: transform 0.3s ease;
}

.us-show-more-link.clicked i {
  transform: rotate(180deg);
}

.us-show-more-link.clicked .us-show-more-expand,
.us-show-more-rollup {
  display: none;
}

.us-show-more-link.clicked .us-show-more-rollup {
  display: inline-block;
}

.us-show-more-link:hover {
  color: #50a8ff;
  text-decoration: none;
}

.us-category-sort-block {
  margin-bottom: 15px;
  padding: 0 0 15px;
  border-bottom: 1px solid #fafafa;
}

.us-subcat-show-more {
  margin-top: -10px;
}

.sort-limit select {
  padding: 6px 30px 6px 10px;
  color: #9d9d9d;
  font-size: 12px;
  background-color: #f8f8f8;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sort-select {
  max-width: 200px;
  margin-right: 15px;
  background-position-x: 94% !important;
}

.limit-select {
  min-width: 50px;
}

.us-category-appearance-btn {
  margin-left: 15px;
  padding: 3px 8px;
  color: #737373;
  font-size: 17px;
  background: #f8f8f8;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
  cursor: pointer;
  transition: color 0.15s ease;
}

.us-category-appearance-btn.active,
.us-category-appearance-btn:hover {
  color: #3962b4;
}

/*
	.us-category-content .us-module-item {
		border: 1px solid #F9F9F9;
	}
	*/
.us-pagination-cont .pagination {
  margin-bottom: 0;
}

.pagination {
  justify-content: space-between;
}

/*
.pagination li a,
.pagination li.active span {
	display: block;
	color: #B1B1B1;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 15px;
	border: 1px solid #F9F9F9;
	border-radius: 1px;
	transition: all .15s ease;
	border-radius: 2px;
}

.pagination li:not(:last-child) {
	margin-right: 15px;
}

.pagination li.active span,
.pagination li a:hover {
	color: #FFF;
	background-color: #3962b4;
} */

.pagination + .us-category-description,
.us-category-description + .us-subcategory,
.us-category-description + .us-category-sort-block {
  margin-top: 20px;
}

.us-category-description-cont {
  position: relative;
  display: block !important;
  height: auto;
  max-height: 140px !important;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.us-category-description-opacity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #fff 100%
  );
  opacity: 1;
  transition: opacity 0.3s ease;
  content: '';
}

.us-category-description-cont.expanded {
  max-height: 100% !important;
  transition: max-height 1s ease-in-out;
}

.us-category-description-opacity.hidden {
  z-index: -1;
  opacity: 0;
}

.us-category-description-img {
  margin-right: 40px;
}

.us-category-description-title {
  margin-bottom: 20px;
  color: #898989;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.us-category-description p {
  color: #898989;
  line-height: 21px;
}

.us-category-description p + p {
  margin-top: 1rem;
}

.us-category-description .us-show-more {
  margin-top: -10px;
  margin-bottom: 0;
  margin-left: 120px;
  padding: 20px 0 0 0;
}

.product-list .us-module-item {
  padding-top: 15px;
  text-align: unset;
}

.product-list .us-module-img {
  min-width: 228px;
  padding-left: 30px;
}

.product-list .us-module-caption {
  margin-left: 30px;
  padding-right: 55px;
}

.product-list .us-module-caption > * {
  margin: 10px 0;
}

.product-list .us-module-title {
  margin-top: 0;
  padding: 0;
  font-size: 16px;
}

.product-list .us-module-cart-btn {
  display: inline-block;
  align-self: flex-start;
  padding: 8px 60px;
  text-align: center;
}

.product-grid .us-product-list-description {
  height: 100px;
  margin-bottom: 15px;
  padding: 10px 20px;
  overflow: hidden;
  color: #8e8e8e;
  font-size: 12px;
  text-align: left;
}

.product-list .us-product-list-description {
  display: block;
  margin-bottom: 10px;
  color: #a3a3a3;
}

.product-grid .us-module-title {
  height: 42px;
  overflow-y: hidden;
}

/* ----------------/Category.html------------ */

/* ----------------Blog-category.html------------ */
.us-blog-category-row {
  margin-bottom: 30px;
}

.us-blog-category-small {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.us-column-list {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0 0 1px 1px;
}

.info-sidebar .us-column-list {
  background-color: #f3f5fb;
}

.us-column-item {
  position: relative;
  z-index: 1;
  padding: 15px;
  border-bottom: 1px solid #fbfbfb;
}

.info-sidebar .us-column-item {
  border-bottom: 0;
}

.us-column-link {
  display: block;
  color: #666;
  transition: color 0.15s ease;
}

.us-column-link:hover {
  color: #3962b4;
  text-decoration: underline;
}

.us-blog-search {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0 0 1px 1px;
}

.us-blog-search-title {
  padding: 15px;
  color: #fff;
  font-weight: 300;
  background-color: #666;
}

.blog-input-group {
  position: relative;
  z-index: 1;
  padding: 15px;
}

.us-blog-search-input[type='text'] {
  padding: 13px 35px 13px 10px;
  color: #c7c7c7;
  font-weight: 300;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-right: none;
}

.us-blog-search-input[type='text']:-ms-input-placeholder {
  color: #c7c7c7;
  font-weight: 300;
}

.us-blog-search-input[type='text']::-ms-input-placeholder {
  color: #c7c7c7;
  font-weight: 300;
}

.us-blog-search-input[type='text']::placeholder {
  color: #c7c7c7;
  font-weight: 300;
}

.us-blog-search-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  padding: 13px 10px 12px 10px;
  color: #dedede;
  font-size: 20px;
  background-color: #f9f9f9;
  border: none;
  border-right: 1px solid #eee;
  transition: color 0.15s ease;
}

.us-blog-search-btn:hover {
  color: #3962b4;
}

.us-blog-category-left .us-owl-nav {
  bottom: 44%;
}

.us-blog-category-left .us-owl-nav button.us-owl-prev {
  left: 9.2%;
}

.us-blog-category-left .us-owl-nav button.us-owl-next {
  left: 84.8%;
}

.us-blog-category-cont .us-news-block {
  width: 48%;
  margin-bottom: 30px;
}

.us-pagination-cont {
  padding: 26px 0;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.15s ease 0.05s;
}

.us-pagination-cont:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.blog-no-comments {
  padding: 10px 30px;
}

.us-blog-categories-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  line-height: 50px;
  text-align: center;
}

.us-blog-categories-toggle i {
  font-size: 10px;
  transition: transform 0.3s ease;
}

.us-blog-categories-toggle.clicked i {
  transform: rotate(180deg);
}

.us-blog-subcategories {
  margin-top: 15px;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  background: #fbfbfb;
}

.us-blog-subcategories .us-column-item:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}

.us-blog-subcategories a {
  margin-left: 6px;
  font-size: 13px;
}

.us-blog-article-row .us-item {
  margin-bottom: 30px;
}

.us-admin-answer .us-admin-answer-title {
  margin: -10px 0 20px;
}

/* ----------------/Blog-category.html------------ */

/* ----------------Blog-post.html------------ */
.us-content {
  height: 100%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.15s ease 0.05s;
}

.us-content-text a {
  color: #50a8ff;
  text-decoration: underline;
}

.us-content-text a:hover {
  text-decoration: none;
}

.us-content-register-text {
  margin-bottom: 20px;
}

.p-15 {
  padding: 15px;
}

.us-blog-post-cont-top {
  margin-bottom: 15px;
}

.us-blog-post-img {
  margin-bottom: 15px;
}

.us-blog-post-img img,
.us-blog-post-gallery-item img {
  width: 100%;
}

.us-blog-post-text {
  color: #5c5c5c;
  font-size: 14px;
  line-height: 21px;
}

.us-blog-post-text p {
  margin-bottom: 25px;
}

.us-blog-post-cont .us-page-main-title {
  margin-bottom: 33px;
}

.us-blog-post-gallery-item {
  position: relative;
  display: block;
  border-radius: 1px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.us-blog-post-gallery-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background 0.15s ease 0.05s;
}

.us-blog-post-gallery-item:hover .us-blog-post-gallery-overlay {
  background: rgba(255, 255, 255, 0.36);
}

.us-blog-post-info {
  padding: 16px 0;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}

.us-blog-post-info-list {
  margin-left: 15px;
}

.us-blog-post-info-item {
  color: #898989;
  font-size: 13px;
}

.us-blog-post-info-item:not(:last-child) {
  margin-right: 25px;
}

.us-blog-post-info-item i {
  color: #3962b4;
  font-size: 18px;
}

.us-blog-post-info-item span {
  margin-left: 8px;
}

.us-reviews-blog {
  padding-top: 20px;
}

.us-reviews-blog .us-review-block {
  margin-right: 15px;
}

.us-news-block-inner {
  margin-bottom: 30px;
}

/* ----------------\Blog-post.html------------ */

/* ------------------Account-pages.html------------------ */

.us-content-title {
  margin-bottom: 20px;
  color: #414045;
  font-weight: 600;
  font-size: 18px;
}

.us-acc-info-list + .us-content-title {
  margin-top: 20px;
}

/* .us-content .form-group { */

/*	margin-bottom: 30px; */

/* } */

.us-content label,
.us-account-form-title,
.us-form-check-group label {
  margin-bottom: 5px;
  color: #414045;
  font-size: 16px;
  line-height: 25px;
}

.required {
  color: #eb5757;
  font-size: 16px;
  opacity: 0.8;
}

.us-content label .required {
  margin-right: 4px;
}

.form-control,
.us-acc-select {
  height: 40px;
  padding: 10px 20px;
  font-weight: 100;
  font-size: 14px;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
}

.us-content-label {
  font-size: 16px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c2c2c2;
  font-weight: 100 !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #c2c2c2;
  font-weight: 100 !important;
}

input::placeholder,
textarea::placeholder {
  color: #c2c2c2;
  font-weight: 100 !important;
}

.us-acc-select {
  width: 100%;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.us-acc-select,
.us-form-check-group label {
  color: #495057;
}

.form-control:focus,
.us-acc-select:focus {
  border-color: #c7c7c7;
  outline: none;
  box-shadow: none;
}

.us-form-check-group-acc {
  margin-bottom: 30px;
}

.us-form-check-group-acc .form-check-inline {
  margin-right: 20px;
}

.us-form-check-group-acc .form-check {
  padding-left: 0;
}

.us-form-check-group-acc .form-check-input {
  display: none;
  height: 16px;
  margin-right: 10px;
}

.us-form-check-group-acc label {
  position: relative;
  margin-bottom: 0;
  margin-left: 26px;
}

.us-form-check-group-acc label::before {
  position: absolute;
  top: 4px;
  left: -25px;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  content: '';
}

.us-form-check-group-acc label::after {
  position: absolute;
  top: 8px;
  left: -21px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  content: '';
}

.us-form-check-group-acc input[type='radio']:checked + label::before {
  border-color: #3962b4;
}

.us-form-check-group-acc input[type='radio']:checked + label::after {
  background-color: #3962b4;
}

.us-module-btn-green {
  color: #fff !important;
  background-color: #3962b4;
}

.us-module-btn-green:hover {
  opacity: 0.9;
}

.us-account-list {
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 0 0 1px 1px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.15s ease;
}

.us-account-list:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.us-account-item {
  padding: 15px 15px 14px 15px;
}

.us-account-item:not(:last-child) {
  border-bottom: 1px solid #f4f4f4;
}

.us-account-link {
  color: #666;
  transition: color 0.15s ease 0.05s;
}

.us-account-link.active,
.us-account-link:hover {
  color: #3962b4;
}

.us-account-link span {
  margin-left: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.us-account-link i {
  font-size: 20px;
}

.us-acc-info-block {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
}

.us-acc-info-block-last {
  margin-bottom: 30px;
  padding-bottom: 0;
  border: none;
}

.us-acc-info-link {
  margin: 10px 0;
  color: #50a8ff;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.15s ease 0.05s;
}

.us-content-title .us-acc-info-link {
  font-weight: 600;
  font-size: 12px;
}

.us-content-contact-text .us-acc-info-link {
  font-size: inherit;
}

.us-acc-info-link:hover {
  color: #50a8ff;
}

.us-acc-del-btn {
  display: block;
  color: #eb5757;
  font-weight: 600;
  font-size: 12px;
  text-transform: lowercase;
  transition: all 0.15s ease 0.05s;
}

.us-acc-del-btn:hover {
  color: #eb5757;
}

.us-acc-del-btn i,
.us-acc-info-link i {
  margin-right: 6px;
  font-weight: bold;
  font-size: 13px;
}

.us-acc-del-btn i {
  position: relative;
  top: 2px;
}

.us-acc-info-text {
  color: #67666a;
  font-size: 14px;
}

.us-acc-info-text a {
  font-size: inherit;
  text-decoration: underline;
}

.us-acc-info-text:not(:last-child) {
  margin-bottom: 15px;
}

.us-acc-info-text span {
  margin-left: 5px;
  font-weight: 600;
}

.us-acc-info-block-wishlist {
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.us-acc-info-block-img {
  margin-right: 20px;
}

.us-content-title-wishlist {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.us-acc-wishlist-item-text {
  color: #67666a;
  font-size: 16px;
  line-height: 22px;
}

.us-acc-wishlist-item-text:not(:last-child) {
  margin-bottom: 15px;
}

.us-acc-wishlist-item-text span {
  margin-left: 5px;
  font-weight: 600;
}

.us-acc-wishlist-item span.us-module-price-new {
  color: #3962b4;
  font-weight: 700;
  font-size: 22px;
}

.us-acc-wishlist-item span.us-module-price-old {
  font-weight: 400;
  font-size: 16px;
}

.us-content .us-product-btn {
  width: 122px;
  margin-top: 0;
}

.table {
  margin-bottom: 0;
}

.us-table-box {
  margin-bottom: 30px;
}

.table thead th {
  padding: 9px 15px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-size: 16px;
  vertical-align: middle;
  border: 0;
}

.table .thead-dark th {
  background: #afafaf;
}

.table tbody {
  color: #8e8d90;
  font-size: 14px;
  border: 1px solid #f8f8f8;
  border-top: 0;
}

.table-hover tbody tr,
.table-danger td {
  transition: background 0.3s ease;
}

.table-hover tbody tr:hover {
  background: #f8f8f8;
}

.table td {
  border-color: #f8f8f8;
}

.table td,
.table th {
  padding: 9px 15px;
  vertical-align: top;
}

.table tbody tr:first-child td {
  border-top: 0;
}

.table td a {
  color: #3fa2f7;
  text-decoration: underline;
}

.table td a:hover {
  text-decoration: none;
}

.us-acc-btn {
  padding: 2px 4px;
  color: #fff !important;
  font-size: 11px;
  border: 0;
  border-radius: 1px;
}

.us-acc-btn-green {
  margin-right: 10px;
  background-color: #3962b4;
}

.us-acc-btn-red {
  background-color: #eb5757;
}

.us-acc-btn-green:hover,
.us-acc-btn-red:hover {
  opacity: 0.7;
}

.us-acc-info-desc {
  margin-bottom: 30px;
}

.us-acc-info-left .us-acc-info-text {
  padding-right: 20px;
}

.us-acc-info-left,
.us-acc-info-right {
  width: calc(50% - 2px);
}

.us-content-border {
  width: 1px;
  margin: 0 30px;
  background: #e6e6e6;
}

#account-tracking .dropdown-menu {
  z-index: 1021;
  margin-top: 0;
  padding: 6px 0;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

#account-tracking .dropdown-menu li {
  padding: 5px 10px;
  color: #000;
  font-size: 12px;
}

#account-tracking .dropdown-menu a {
  transition: color 0.15s ease;
}

#account-tracking .dropdown-menu li:hover a {
  color: #3962b4;
}

/* ------------------/Account-pages.html------------------ */

/* --------------------Information-page.html--------------- */

.us-content-inform {
  color: #5c5c5c;
  font-size: 14px;
}

.us-content-inform .oct-404-image img {
  max-width: 100%;
}

.us-content-inform p,
.us-content-inform ul,
.us-content-inform ol {
  margin-bottom: 20px;
}

.us-content-inform li {
  margin-bottom: 10px;
}

.us-content-inform > *:last-child {
  margin-bottom: 0;
}

.us-content-sitemap {
  font-size: 14px;
}

.us-content-sitemap a {
  color: #50a8ff;
  text-decoration: underline;
}

.us-content-sitemap a:hover {
  text-decoration: none;
}

/* --------------------/Information-page.html--------------- */

/* --------------------Contact.html--------------- */

.us-contact-form-box,
.us-content-contact-offer {
  width: calc(50% - 2px);
}

/* .us-content-contact .form-group { */

/*	margin-bottom: 20px; */

/* } */

.us-content textarea,
.modal textarea {
  height: 200px;
}

.us-contact-form-box .us-form-checkbox-group {
  margin-bottom: 20px;
}

.us-form-checkbox-group .us-form-checkbox-input {
  display: none;
}

.us-form-checkbox-group label {
  position: relative;
  margin-bottom: 0;
  color: #57565c;
  font-size: 12px;
  cursor: pointer;
}

.us-form-checkbox-group label::before {
  display: inline-block;
  width: 17px;
  min-width: 17px;
  height: 17px;
  margin-right: 10px;
  border: 1px solid #e6e6e6;
  content: '';
}

.us-form-checkbox-input:checked + label::after {
  position: absolute;
  top: auto;
  left: 4px;
  color: #3962b4;
  font-weight: 900;
  font-size: 10px;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f00c';
}

.us-form-checkbox-group .checkbox img {
  margin-right: 10px;
}

.us-cont-link {
  margin-left: 0;
  font-size: 12px;
  transition: all 0.15s ease 0.05s;
}

.us-content-contact-offer-block:not(:last-child) {
  margin-bottom: 30px;
}

.us-content-contact-title {
  margin-bottom: 20px;
  color: #414045;
  font-weight: 700;
  font-size: 20px;
}

.us-content-contact-text {
  color: #898989;
  font-size: 16px;
}

.us-content-contact-text:not(:last-child) {
  margin-bottom: 20px;
}

.us-content-contact-text-bold {
  margin-bottom: 10px;
  color: #000;
  font-weight: 600;
}

.us-content-contact-img iframe {
  width: 100%;
}

/* --------------------/Contact.html--------------- */

/* --------------------Search.html--------------- */

.us-control-label {
  margin-bottom: 5px;
  color: #414045;
  font-size: 16px;
}

.us-category-search-block {
  margin-bottom: 20px;
}

.us-form-checkbox-group:first-child {
  margin-top: 20px;
}

.us-form-checkbox-group,
.us-form-checkbox-group .checkbox:not(:last-child) {
  margin-bottom: 10px;
}

.us-form-checkbox-group + .us-form-checkbox-group,
.us-search-block {
  margin-bottom: 20px;
}

.us-content-search-title + .us-category-sort-block {
  padding-top: 15px;
  border-top: 1px solid #fafafa;
}

.us-form-checkbox-group a {
  color: #50a8ff;
  text-decoration: underline;
}

.us-form-checkbox-group a:hover {
  text-decoration: none;
}

/* --------------------/Search.html--------------- */

/* --------------------Maufacturer-list.html--------- */

.us-manufacturer-list-content {
  padding-bottom: 0;
}

#product-manufacturer .us-content-title {
  word-wrap: break-word;
}

/* .us-content-title a, */

/* .form-group a { */

/*	color: #50A8FF; */

/*	text-decoration: underline; */

/*	transition: all .15s ease .05s; */

/* } */

/* .us-content-title a:hover, */

/* .form-group a:hover { */

/*	text-decoration: none; */

/* } */

.us-manufacturer-item {
  margin-bottom: 30px;
  border-bottom: 1px solid #f9f9f9;
}

.us-manufacturer-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.us-manufacturer-title {
  margin-bottom: 20px;
  color: #3962b4;
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
}

.us-manufacturer-card {
  width: calc(20% - 30px);
  margin: 0 15px 30px 15px;
  padding: 20px;
  color: #3962b4;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03);
}

.us-manufacturer-card:hover {
  color: #3962b4;
  text-decoration: underline;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.us-manufacturer-card img {
  width: 90px;
  height: 80px;
  margin-bottom: 20px;
}

/* --------------------Maufacturer-list.html--------------- */

/* --------------------Cart.html--------------- */

.us-cart-title {
  margin-bottom: 36px;
  color: #545556;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
}

.us-cart-block .us-cart-title {
  margin-bottom: 10px;
}

.us-cart-item,
.us-cart-block {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.us-cart-block:last-child {
  margin-bottom: 30px;
}

.us-cart-item:last-child {
  margin-bottom: 0;
}

a.us-cart-del {
  color: #eb5757;
  font-size: 16px;
  opacity: 0.7;
}

.us-cart-del:hover {
  opacity: 1;
}

.us-cart-item-img {
  width: 100px;
  height: 100px;
  margin: 0 30px;
  border: 1px solid #f9f9f9;
}

.us-cart-item-link,
.us-cart-block-title,
.us-table-product-name {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
}

.us-cart-item-link {
  display: inline-block;
  margin-bottom: 4px;
  color: #50a8ff;
  font-size: 14px;
  text-decoration: underline;
  transition: color 0.15s ease 0.05s;
}

.us-cart-item-link:hover,
.us-cart-item-link span {
  text-decoration: none;
}

.us-cart-item-link .required {
  margin-left: 3px;
}

.us-cart-item-right .us-product-quantity {
  margin-right: 30px;
  margin-left: 30px;
}

.us-cart-item-right-desc {
  min-width: 150px;
}

.us-cart-price-all {
  margin-bottom: 4px;
  color: #3962b4;
  font-weight: 600;
  font-size: 16px;
}

.us-cart-price-one {
  color: #545556;
  font-weight: 600;
  font-size: 13px;
}

.us-cart-text-prompt {
  margin-bottom: 30px;
  color: #eb5757;
  font-size: 12px;
}

.us-content .us-cart-text {
  color: #666;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.us-cart-block-rel {
  position: relative;
}

.us-cart-block-rel .collapse {
  padding-top: 38px;
}

.us-cart-block .us-cart-block-title {
  cursor: pointer;
}

.us-cart-block .us-cart-block-title i,
.us-content-title .fa-chevron-down {
  margin-left: 6px;
  color: #000;
  font-size: 9px;
  transition: transform 0.3s ease;
}

.us-cart-block-title.clicked i {
  transform: rotate(180deg);
}

.us-cart-block-group {
  position: relative;
  z-index: -1;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding-top 0.3s ease;
}

.us-cart-block-group > label,
.us-cart-block-group > input {
  display: none;
}

.us-cart-block-group.opened {
  z-index: 1;
  max-height: 500px;
  padding-top: 30px;
  opacity: 1;
}

.us-cart-block-group.opened > label,
.us-cart-block-group.opened > input {
  display: block;
}

/* .us-cart-block .form-group { */

/*	margin-bottom: 0; */

/* } */

.us-cart-block label {
  margin-bottom: 0;
  font-size: 14px;
}

.us-cart-block input[type='text'],
.us-cart-block select {
  width: 80%;
}

.us-cart-block input {
  padding-right: 210px;
}

.us-cart-block .us-cart-block-btn {
  padding: 7px 20px;
  border-radius: 0 1px 1px 0;
}

/* .us-cart-form .form-group, */

/* .us-cart-form button { */

/*	margin-top: 20px; */

/* } */

.us-cart-block-total-price {
  color: #545556;
  font-weight: 600;
  font-size: 16px;
}

.us-cart-block-total-price:first-child {
  margin-bottom: 10px;
}

.us-cart-block-total-price span {
  margin-left: 5px;
  color: #3962b4;
}

#payment-existing,
#shipping-existing {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* --------------------/Cart.html--------------- */

/* --------------------Compare.html--------------- */

.us-content-compare-title {
  font-size: 20px;
}

.us-table-compare tbody {
  color: #666;
  font-size: 16px;
  line-height: 21px;
  border: 1px solid #f8f8f8;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.us-table-compare-product .us-table-product-name {
  padding: 20px;
  font-size: 16px;
}

.us-table-compare td {
  padding: 20px 4px;
}

.us-table-compare .us-table-compare-btn td {
  padding-bottom: 0;
}

.us-table-compare tr td:first-child {
  font-size: 14px;
}

.us-table-compare td.active {
  color: #3962b4;
}

.us-table-compare .us-module-rating-stars {
  margin-bottom: 4px;
  line-height: 15px;
}

.us-table-compare-review {
  color: #545556;
  font-size: 11px;
  line-height: 15px;
}

.us-table-compare-btn .us-module-btn {
  margin: 0 auto;
  padding: 10px 15px;
}

.us-module-btn-del {
  color: #fff !important;
  text-decoration: none !important;
  background: #eb5757;
  border-color: #eb5757;
}

.us-module-btn-del:hover {
  background: #eb5757 !important;
  border-color: #eb5757;
  opacity: 0.9;
}

.us-table-compare-btn .us-module-btn-green {
  margin-bottom: 20px;
}

/* --------------------/Compare.html--------------- */

/* --------------------Shop-reviews.html------------ */

.us-content-reviews {
  padding: 0;
}

.us-content-reviews-top {
  padding: 30px;
  border-bottom: 1px solid #f7f7f7;
}

.us-rating-block {
  margin-bottom: 20px;
  padding: 25px 26px;
  color: #545556;
  font-weight: 700;
  font-size: 24px;
  background: #d0eba9;
  border-radius: 5px;
}

.us-content-reviews-text {
  margin-bottom: 20px;
  color: #8e8d90;
  font-weight: 400;
  font-size: 14px;
}

.us-content-reviews-list {
  color: #444348;
  font-weight: 600;
  font-size: 14px;
}

.us-content-reviews-item {
  margin-bottom: 13px;
}

.us-content-reviews-quantity {
  width: 34px;
  margin: 0 10px;
  padding: 6px 0;
  font-size: 12px;
  text-align: center;
  background: #e9e9e9;
  border-radius: 2px;
}

.us-content-reviews .us-review-info {
  margin-top: 20px;
}

.us-rating-shop {
  position: relative;
}

.us-rating-shop span {
  color: #3962b4;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.us-rating-shop-details {
  position: absolute;
  right: 40px;
  left: 40px;
  z-index: -1;
  margin-top: 30px;
  padding: 15px;
  text-align: left;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: margin-top 0.3s ease, opacity 0.3s ease;
}

.us-rating-shop:hover .us-rating-shop-details {
  z-index: 1021;
  margin-top: 10px;
  opacity: 1;
}

.us-review-block {
  margin-right: 30px;
}

.us-content-reviews .us-review-text,
.us-content-reviews .us-admin-answer {
  background: #fbfbfb;
}

.us-content-reviews .us-review-text {
  padding-top: 30px;
}

.us-review-text::before {
  border-right-color: #fbfbfb;
}

.us-content-reviews .us-admin-answer {
  margin-top: 0;
}

.us-content-reviews .us-admin-answer-title {
  margin: 20px 0;
}

/* --------------------/Shop-reviews.html------------ */

/* --------------------Popups.html------------ */

#one-click-main-block p + p {
  margin-top: 10px;
}

/* .popup-login-form-group { */

/*	margin-bottom: 30px; */

/* } */

.login-popup-links {
  margin-bottom: 30px;
}

.login-popup-links a {
  color: #50a8ff;
  font-size: 12px;
  text-decoration: underline;
}

.login-popup-links a:hover {
  text-decoration: none;
}

.masked {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
}

.masked_loading {
  position: fixed;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
  z-index: 10001;
  width: 4em;
  height: 4em;
  border: 3px solid #ccc;
  border-top-color: #666;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.us-popup-btn {
  display: block;
  margin-bottom: 10px;
  color: #414045;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.15s ease 0.05s;
}

.us-popup-btn:hover {
  color: #3962b4;
  text-decoration: underline;
}

.modal-open .modal {
  background: rgba(4, 8, 12, 0.82);
}

.modal-content {
  border: none;
  border-radius: 1px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.modal-header {
  padding: 10px 0 10px 30px;
  background: #3962b4;
  border: 0;
  border-radius: 0;
}

.modal-body {
  padding: 30px;
  background: #fff;
}

.modal-body p {
  margin-bottom: 1rem;
}

.modal-title {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

button.us-close {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: auto;
  background: #0e368688;
  border: 0;
  transition: background 0.15s ease 0.05s;
}

button.us-close:hover {
  background: #0e368644;
}

.us-modal-close-icon {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 25px;
  border: 1px solid #fff;
}

.us-modal-close-left {
  transform: rotate(135deg);
}

.us-modal-close-right {
  transform: rotate(45deg);
}

/* .form-group-20, */

/* .us-form-checkbox-group-20 { */

/*	margin-bottom: 20px; */

/* } */

/* .form-group-10 { */

/*	margin-bottom: 10px; */

/* } */

.product_title {
  font-weight: 600;
}

.us-cart-block-total-wrapper .us-product-one-click {
  margin-top: 0;
}

.product_title + .us-product-quantity,
.product_title + .us-review-block {
  margin-top: 30px;
}

#popup_purchase_images {
  margin-bottom: 20px;
}

.modal-content .form-control:-ms-input-placeholder {
  color: #9d9d9d;
  font-weight: 400;
}

.modal-content .form-control::-ms-input-placeholder {
  color: #9d9d9d;
  font-weight: 400;
}

.modal-content .form-control::placeholder {
  color: #9d9d9d;
  font-weight: 400;
}

#us-cart-modal .modal-dialog {
  max-width: 540px;
  max-height: 529px;
}

#us-cart-modal #one_click_input {
  max-width: 100%;
}

.us-modal-body-cart {
  max-height: 342px;
  margin-bottom: 30px;
  padding: 30px 0 0;
  overflow-y: auto;
  border-bottom: 1px solid #f6f6f6;
}

.us-modal-body-cart .us-cart-item {
  padding: 0 30px 20px 30px;
}

.us-modal-body-cart .us-cart-item:last-child {
  border-bottom: 0;
}

.us-cart-item-last {
  margin-top: -10px;
  margin-bottom: 0;
  padding-left: 0;
}

.us-modal-body-cart .us-cart-item-img {
  width: auto;
  height: auto;
  margin: 0 20px 0 0;
  border: 0;
}

.us-modal-body-cart .us-product-info-list {
  font-size: 12px;
}

.us-modal-body-cart .us-product-info-item {
  margin-bottom: 0;
}

.us-modal-body-cart .us-cart-item-link {
  display: inline;
  margin-bottom: 15px;
}

.us-modal-body-cart .us-product-info-item:first-child {
  margin-right: 5px;
}

.us-modal-body-cart .us-cart-price-all {
  margin-top: 10px;
  margin-bottom: 0;
}

.us-cart-text-modal {
  font-weight: 400;
}

.us-empty-cart {
  padding: 0 30px;
}

.modal-content .us-module-price-old {
  font-size: 13px;
}

.us-content .us-cart-text-modal {
  color: #000;
}

.us-cart-text-modal span {
  color: #3962b4;
}

.us-cart-text-modal .us-cart-text-prompt {
  margin-bottom: 10px;
}

.us-popup-cart-buttons {
  padding: 0 30px;
}

.us-popup-cart-one-click .form-control {
  max-width: 170px;
  height: 44px;
  border-radius: 1px 0 0 1px;
}

.us-popup-cart-one-click-btn {
  height: 44px;
}

.input-group-btn .us-module-btn.us-popup-cart-one-click-btn {
  margin-left: 0;
}

.hidden-input-group {
  display: none;
  height: 0;
}

.us-cart-item-link .required {
  display: inline;
}

.us-modal-body-text {
  margin-bottom: 30px;
  color: #000;
  font-size: 18px;
  line-height: 30px;
}

.us-modal-body-link {
  color: #3962b4;
  text-decoration: underline;
}

.us-modal-body-link:hover {
  color: #3962b4;
  text-decoration: none;
}

.us-modal-body-icon i {
  padding: 17px;
  color: #3962b4;
  font-size: 27px;
  border: 3px solid #3962b4;
  border-radius: 50%;
}

#us-one-click-modal .modal-dialog,
#us-cheaper-modal .modal-dialog,
#us-review-modal .modal-dialog {
  max-width: 940px;
}

.us-modal-body-one-click {
  padding: 0;
}

.us-modal-body-one-click-left {
  width: 45%;
  padding: 30px;
  border-right: 1px solid #e5e5e5;
}

.us-modal-body-img {
  max-width: 260px;
  max-height: 280px;
  margin-bottom: 30px;
}

.owl-carousel .us-modal-body-img {
  margin-bottom: 0;
}

#us-one-click-modal .us-cart-item-link {
  margin-bottom: 20px;
}

.modal-content .control-label {
  color: #666;
  font-weight: 600;
}

#us-one-click-modal .control-label-quantity {
  margin-right: 18px;
}

.modal-content .control-label-price {
  margin-right: 10px;
}

.modal-content .us-module-price {
  margin-bottom: 0;
}

.modal-content .us-module-price-new {
  font-size: 22px;
  line-height: 22px;
}

.us-modal-body-one-click-right {
  width: 55%;
  padding: 30px;
}

#form-comment .us-modal-body-one-click-right {
  width: 100%;
}

#us-subscribe-modal img {
  margin-bottom: 30px;
}

#us-cheaper-modal .us-cart-item-link,
#us-review-modal .us-cart-item-link {
  margin-bottom: 30px;
}

#us-review-modal .us-module-rating-stars {
  margin-left: 10px;
}

#us-review-modal .us-module-rating-star {
  width: 14px;
  height: 12px;
  margin-right: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.us-modal-comment {
  margin-bottom: 20px;
  color: #eb5757;
  font-size: 10px;
}

#us-quickview-modal .modal-dialog {
  max-width: 1170px;
}

.modal-body-quickview {
  padding: 0;
}

.modal-body-quickview .us-product-attributes,
.modal-body-quickview .no-product-reviews {
  padding: 30px 0;
}

.modal-body-quickview .us-reviews {
  background: transparent;
}

.modal-body-quickview .us-reviews-top {
  padding: 0;
}

.modal-backdrop {
  background: transparent;
}

.us-popup-view-description {
  padding-right: 30px;
  padding-left: 30px;
}

.us-popup-view-description .us-product-description-nav {
  padding-right: 0;
  padding-left: 0;
}

.oct-popup-view-compare-wishlist-btn:hover {
  color: #3962b4 !important;
  background-color: #fff !important;
  border-left-color: #f6f6f6 !important;
  cursor: pointer;
}

.popup-purchase-options {
  margin-top: 20px;
}

#us-cart-modal .us-product-one-click {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #f6f6f6;
}

.alert-block {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.us-alert {
  float: right;
  width: 300px;
  margin-bottom: 20px;
  padding: 0;
  background: #fff;
  border: none;
  border-radius: 1px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.55);
}

.us-alert-success {
  background: #3962b4;
}

.us-alert-danger {
  background: #eb5757;
}

.us-alert-warning {
  background: #ff9e2d;
}

.us-alert-primary {
  background: #50a8ff;
}

.us-alert-icon i {
  width: 60px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.us-alert-text {
  min-width: 240px;
  padding: 15px;
  color: #666;
  font-size: 12px;
  background: #fff;
}

.us-alert-text a {
  color: #50a8ff;
  font-size: 12px;
  text-decoration: underline;
}

.us-alert-text a:hover {
  text-decoration: none;
}

.us-alert .us-alert-text {
  line-height: 17px;
}

.us-alert-text-item:not(:last-child) {
  margin-bottom: 10px;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

/* --------------------Fixed bar------------ */
.oct-fixed-bar {
  position: fixed;
  top: 40%;
  z-index: 1000;
  background: #343e48;
  border-radius: 0 1px 1px 0;
}

.oct-fixed-bar.fixed-left {
  right: auto;
  left: 0;
}

.oct-fixed-bar.fixed-right {
  right: 0;
  left: auto;
}

.oct-fixed-bar-item + .oct-fixed-bar-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.oct-fixed-bar-link {
  position: relative;
  display: block;
  width: 58px;
  padding: 15px 0;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  transition: background 0.15s ease 0.05s;
}

.oct-fixed-bar-link i {
  position: relative;
  top: 1px;
  display: block;
  font-size: 20px;
}

.oct-fixed-bar-quantity {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  margin-top: 8px;
  padding: 0 4px;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  background: #3962b4;
  border-radius: 100%;
  transition: background 0.15s ease 0.05s;
}

.oct-fixed-bar-link:hover .oct-fixed-bar-quantity,
#oct-cart-quantity {
  background: #eb5757;
}

.oct-fixed-bar-link:hover {
  text-decoration: none;
  background: #3962b4;
}

/* --------------------/Fixed bar------------ */

/* --------------------Others---------------- */
#common-maintenance {
  margin-top: 30px;
}

.error_style,
.us-form-checkbox-group .error_style + label::before {
  background: #ffdede;
  border: 1px solid #ffd2d2;
  transition: background 0.3s ease;
}

.us-form-checkbox-group .error_style + label {
  color: #eb5757;
}

.modal-open .modal#us-product-gallery {
  background: #fff !important;
}

.us-form-check-group-acc input[type='radio'] {
  display: none;
}

.us-form-check-group-acc label:last-child {
  margin-left: 40px;
}

#accordion .panel-heading {
  margin-bottom: 20px;
}

#accordion .panel-title.us-content-title {
  margin: 10px 0 0;
  padding: 15px 20px;
  background: #f2f3f5;
}

#accordion .form-check {
  margin-bottom: 10px;
}

#accordion .us-form-check-group-acc label:last-child {
  margin-left: 25px;
}

#accordion #button-login {
  margin-bottom: 20px;
}

#accordion .panel-body {
  padding: 0 15px;
}

.bootstrap-datetimepicker-widget td {
  padding: 6px;
}

.captcha-control-label,
.us-content label.captcha-control-label {
  color: #414045;
  font-size: 12px;
  line-height: 18px;
}

.bootstrap-datetimepicker-widget th {
  height: 34px !important;
  line-height: 34px !important;
}

.bootstrap-datetimepicker-widget th.next,
.bootstrap-datetimepicker-widget th.prev {
  font-size: 18px !important;
}

.bootstrap-datetimepicker-widget td {
  padding: 8px !important;
}

.bootstrap-datetimepicker-widget {
  width: 270px !important;
  padding: 10px !important;
  border: 1px solid #ececec !important;
  border-radius: 2px !important;
  box-shadow: 5px 12px 30px rgba(0, 0, 0, 0.35) !important;
}

.bootstrap-datetimepicker-widget.bottom::before {
  border-bottom: 7px solid #000 !important;
  border-bottom-color: rgba(138, 138, 138, 0.14) !important;
}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  text-shadow: none !important;
  background-color: #c8c8c8 !important;
  border-radius: 2px !important;
}

.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget th {
  border-radius: 2px !important;
}

.us-no-stock {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#us_mobile_megamenu {
  display: none;
}

/* Simple */

/* .simple-content { */

/*	margin: 0 !important; */

/* } */

/* .simplecheckout label, .simpleregister label { */

/*	font-size: 14px; */

/* } */

/* .simplecheckout-cart td.quantity .input-group { */

/*	flex-wrap: nowrap; */

/* } */

/* .simplecheckout-cart td, */

/* .simplecheckout-cart th { */

/*	padding: 6px !important; */

/*	vertical-align: middle !important; */

/* } */

/* .simplecheckout-cart th, */

/* .simplecheckout-cart, */

/* .simplecheckout-cart td { */

/*	border-color: #f7f7f7 !important */

/* } */

/* .simplecheckout-cart td.image img { */

/*	max-width: 80px; */

/* } */

/* #simplecheckout_cart .form-control { */

/*	min-width: 40px; */

/*	padding: 10px 6px; */

/* } */

/* #simplecheckout_cart .quantity .form-control { */

/*	text-align: center; */

/* } */

/* .simplecheckout-cart .btn, */

/* .simplecheckout-cart .btn-danger { */

/*	padding: 2px 8px; */

/*	border-radius: 0; */

/* } */

/* .simplecheckout-cart .btn-primary { */

/*	background: #F6F6F6; */

/*	border-color: #F6F6F6; */

/*	color: #AFAFAF; */

/* } */

/* #simplecheckout_cart .quantity .form-control { */

/*	border-color: #F6F6F6; */

/*	height: 30px; */

/* } */

/* .simplecheckout-cart-buttons .button, */

/* .simplecheckout-button-right .button, */

/* #simplecheckout_button_login { */

/*	color: #fff !important; */

/*	font-size: 16px; */

/*	font-weight: 300; */

/*	letter-spacing: .3px; */

/*	background-color: #3962b4; */

/*	border-radius: 1px; */

/*	padding: 10px 20px; */

/*	transition: all .15s ease .05s; */

/*	cursor: pointer; */

/*	border: 0; */

/*	display: inline-block; */

/* } */

/* .simplecheckout-cart-buttons .button:hover, */

/* .simplecheckout-button-right .button:hover, */

/* #simplecheckout_button_login:hover { */

/*	opacity: .96; */

/* } */

/* .simplecheckout-cart a, */

/* .checkout-heading-button a, */

/* .simpleregister-have-account a { */

/*	transition: color .15s ease .05s; */

/*	color: #50A8FF; */

/*	font-size: 14px; */

/*	text-decoration: underline; */

/* } */

/* .simplecheckout-cart a:hover, */

/* .checkout-heading-button a:hover, */

/* .simpleregister-have-account a:hover { */

/*	text-decoration: none; */

/* } */

/* .simplecheckout-cart-total { */

/*	border: 0 !important; */

/* } */

/* .simplecheckout-cart-total-remove { */

/*	display: none !important; */

/* } */

/* #simplecheckout_comment .checkout-heading { */

/*	margin-bottom: 20px !important */

/* } */

/* #simplecheckout_customer .simplecheckout-block-content, */

/* #simplecheckout_shipping_address .simplecheckout-block-content { */

/*	padding-left: 0 !important; */

/*	padding-right: 0 !important */

/* } */

/* .simplecheckout label input, .simpleregister label input { */

/*	margin-right: 6px; */

/* } */

/* .simplecheckout .form-group, */

/* .simpleregister-block-content .form-group { */

/*	margin-bottom: 20px; */

/* } */

/* .simplecheckout .form-group .col-sm-8, */

/* .simpleregister-block-content .col-sm-10 { */

/*	flex: 0 0 100%; */

/*	max-width: 100%; */

/* } */

/* .simple-content select { */

/*	width: 100%; */

/*	background-color: #FFF; */

/*	-webkit-appearance: none; */

/*	-moz-appearance: none; */

/* } */

/* .simple-content .buttons { */

/*	margin: 0 !important; */

/*	padding: 0 !important */

/* } */

/* #simple_login { */

/*	padding: 15px !important; */

/*	border: 0 !important; */

/*	-webkit-border-radius: 1px !important; */

/*	-moz-border-radius: 1px !important; */

/*	border-radius: 1px !important; */

/*	height: auto !important */

/* } */

/* .simpleregister-block-content, */

/* .simpleregister-block-content .col-sm-2, */

/* .simpleregister-block-content .col-sm-10, */

/* .simpleregister-block-content .col-sm-12 { */

/*	padding: 0 !important */

/* } */

/* .simpleregister-block-content .col-sm-2 { */

/*	-ms-flex: 0 0 33%; */

/*	flex: 0 0 33%; */

/*	max-width: 33%; */

/* } */

/* .row-shipping_address_city, */

/* .row-register_city { */

/*	opacity: 1 !important; */

/* } */

/* .row-shipping_address_city .dropdown-menu, */

/* .row-register_city .dropdown-menu { */

/*	padding: 10px 20px; */

/* } */

/* span.simple-step.simple-step-current { */

/*	background: #ebebeb; */

/*	color: #606060; */

/*	padding: 10px 20px; */

/* } */

/* span.simple-step-delimiter img { */

/*	display: none; */

/* } */

/* span.simple-step { */

/*	background: transparent; */

/*	color: #919093; */

/* } */

/* span.simple-step-delimiter { */

/*	width: 7px; */

/*	height: 13px; */

/*	position: relative; */

/*	z-index: 1; */

/*	margin: 0 20px */

/* } */

/* span.simple-step-delimiter:before { */

/*	font-family: "Font Awesome 5 Free"; */

/*	font-weight: 900; */

/*	content: '\f105'; */

/*	position: absolute; */

/*	top: 0; */

/*	color: #9b9a9d; */

/* } */

/* .simplecheckout-step .simplecheckout-warning-block { */

/*	margin-top: 15px; */

/*	padding: 10px 15px; */

/*	border-radius: 2px; */

/*	color: #d65d5d; */

/* } */

/* .simplecheckout-block-content .form-group .col-sm-8 { */

/*	margin: 0; */

/*	padding: 0; */

/* } */

/* .simplecheckout-block-content .form-horizontal .form-group { */

/*	margin-top: 15px; */

/* } */

/* .simplecheckout-block-content .form-horizontal label.control-label.col-sm-4 { */

/*	max-width: unset; */

/*	margin: 0; */

/*	padding: 0; */

/*	color: #5c5c5c; */

/* } */

/* #simplecheckout_button_prev { */

/*	background: #cecece; */

/*	border-radius: 0; */

/*	border: 0; */

/*	padding: 10px 20px; */

/* } */

/* OCStore blog */
.ocs-article-item .us-module-title {
  height: 42px;
  overflow-y: hidden;
}

.ocs-article-item .us-product-list-description {
  height: 63px;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.ocs-article-item .us-product-list-description,
.ocs-article-item .button-group {
  padding: 0 10px;
}

.ocs-article-item .us-module-btn {
  width: auto;
  min-width: 40px;
  padding: 10px;
  font-size: 14px;
}

#column-left .ocs-article-box,
#column-right .ocs-article-box,
#column-left .ocs-article-item,
#column-right .ocs-article-item {
  flex: 0 0 100%;
  max-width: 100%;
}

#content.col-sm-9 .ocs-article-box,
#content.col-md-9 .ocs-article-box {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.ocs-rating {
  margin-top: 10px;
}

.ocs-blog-article-title {
  margin-bottom: 20px;
  color: #30363d;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

/* !!! */

.title,
.text,
.addinfo {
  margin-bottom: 35px;
}

.title {
  font-weight: bold;
  font-size: 48px;
}

.info_text p {
  font-size: 18px;
}

.sub_wrapper {
  max-width: 1810px;
  margin: 0 auto;
}

.title_center {
  text-align: center;
}

.info_subtitle {
  font-weight: bold;
  font-size: 18px;
}

.info_wrapper {
  position: relative;
  z-index: 1;
  padding: 60px 0 50px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.info_masked::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #4f4f4f;
  opacity: 0.8;
  content: '';
}

.info_sub_wrapper {
  margin: 0 auto;
  padding: 60px 0 50px;
}

.title_devider {
  padding: 20px;
  font-weight: 600;
  font-size: 27px;
}

.addinfo {
  color: #444;
  font-weight: bold;
}

.addinfo h2 {
  color: #444;
}

.addinfo p {
  font-size: 18px;
}

.mounting_info.color_background {
  background-color: rgba(40, 184, 207, 0.3);
}

.services_info__head_image {
  position: relative;
  z-index: 0;
  margin: 0 auto 85px;
  padding: 250px 0;
}

.services_item__content {
  margin: 0;
  text-align: center;
}

.services_item_point {
  position: relative;
  margin: 0 0 30px;
  line-height: normal;
  text-align: center;

  /* height: 421px; */
}

.services_item--wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border: 1px solid rgba(130, 130, 130, 0.78);
  border-radius: 4px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.15);
}

.services_info .info_wrapper .text_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  max-width: 90%;
  max-height: 90%;
  transform: translate(-50%, -50%);
}

.services_item_image {
  margin: 0 auto 15px;
}

.services_item_image img {
  max-width: 100%;
}

.services_item_name {
  height: 50px;
  margin: 0 auto 30px;
  color: #666;
  font-weight: bold;
  font-size: 21px;
}

/* .services_item_more_button {
		position: absolute;
		top: 76%;
		left: calc(50% - 90px);
	} */

.more_button {
  text-decoration: none;
}

.services_item_more_button a {
  display: inline-block;
  box-sizing: border-box;
  padding: 1em 2em;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  background-color: #fff;
  border: 2px solid #28b8cf;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.services_item_more_button a:hover {
  color: #0056b3;
  background-color: #28b8cf;
}

.services_info .info_wrapper::before {
  position: absolute;
  top: 140px;
  z-index: -1;
  display: block;
  width: 100%;
  height: 667px;
  background-color: #d1f0f4;
  content: '';
}

.services_additional_info {
  background-color: #f5f5f5;
}

.services_additional_info .oplata__h1,
.services_additional_info .info_subtitle {
  text-align: center;
}

.services_additional_info .oplata__h1 {
  color: #333;
}

.services_additional_info .info_subtitle {
  margin-bottom: 150px;
}

.services__addinfo_item {
  text-align: center;
}

.services__addinfo_item_point {
  /* margin: 0 0 30px; */

  /* display: inline-table; */
}

.services__addinfo_item_image img {
  max-width: 100%;
}

.services__addinfo_item_text {
  text-align: center;
}

.services__addinfo_item_text span {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.hiddenrow {
  display: none;
}

.mistakes_section .oplata__h1 {
  color: #333;
  font-size: 36px;
  text-align: center;
}

.mistakes_item {
  text-align: center;
}

.mistakes_section .mistakes_item_text {
  max-width: 500px;
  margin: 0 auto;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}

.mistakes_section .info_text,
.mistakes_section .info_subtitle {
  max-width: 1265px;
  margin: 0 auto;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.mistakes_section .info_text {
  margin: 0 0 50px;
}

.mistakes_section .info_subtitle {
  margin: 0 0 60px;
  text-align: center;
}

.mistakes_item_point {
  display: inline-table;
  margin: 10px auto;
}

.mistakes_item_image_wrapper {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 0 auto 20px;
  background-color: #28b8cf;
  border-radius: 50%;
}

.mistakes_item_image_wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

.time_section .column1 {
  margin-bottom: 35px;
}

.time_section .row1 {
  display: flex;
  justify-content: space-around;
}

.info_point {
  display: inline-table;
  max-width: 180px;
  min-height: 250px;
  margin: 0 0 20px;
}

.info_point_value {
  box-sizing: border-box;
  width: 150px;
  margin: 0 auto 15px;
  color: #000;
  font-weight: bold;
  font-size: 72px;
  line-height: 150px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}

.info_point_text {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.info_sub_wrapper .info_text {
  font-size: 18px;
}

.call_section {
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
}

.call_section a {
  color: #000;
  font-size: 24px;
}

.mistakes_items {
  margin-bottom: 40px;
}

.call_button {
  box-sizing: border-box;
  padding: 1em 2em;
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  background-color: #fff;
  border: 2px solid #28b8cf;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.call_button:hover {
  color: #0056b3;
  background-color: #28b8cf;
}

button.us-product-btn.one_click_on_list.button-one-click {
  width: 210px;
  height: 40px;
  margin: 10px auto 0;
  color: rgb(24, 184, 209);
  font-size: 14px;
  line-height: 1.4;
  background-color: transparent;
  border: 2px solid rgb(24, 184, 209);
  transition: 0.3s;
}

button.us-product-btn.one_click_on_list.button-one-click:hover {
  color: #fff;
  background: rgb(24, 184, 209);
  transition: 0.3s;
}

/*
	button.us-product-btn.one_click_on_list.button-one-click:hover {
		background-color: rgb(31, 208, 236);
	} */
div#us-subcat {
  position: relative;
}

.gift-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 74px;
  height: 74px;
  margin-right: 10px;
}

.gift-icon-kredit {
  position: absolute;
  top: 100px;
  right: 0;
  width: 74px;
  height: 74px;
  margin-right: 10px;
}

.us-module-img {
  position: relative;
}
