{{ header }}{{ column_left }} 
<div id="content">
	
	<div class="page-header">
		
		<div class="container-fluid">
			
			<div class="pull-right">
				<!--<button type="submit" name='save-config' value='save-config' form="form-html" data-toggle="tooltip" title="Сохранить данные" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Сохранить</button>-->
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			
			<h1>{{ heading_title }}</h1>
			
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %} 
					<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %} 
			</ul>
			
		</div>
		
	</div>
	
	<div class="container-fluid">
		
		{% if (error_warning is not empty) %} 
			
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			
		{% endif %} 
		
		{% if (connect_error is not empty) %} 
			
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ connect_error }} 
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			
		{% endif %} 
		
		{% if (connect_success is not empty) %} 
			
			<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ connect_success }} 
				<button type="button" class="close" data-dismiss="success">&times;</button>
			</div>
			
		{% endif %} 
		
		<div class="panel panel-default">
			
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-html" class="form-horizontal">
					<!-- Статус установки ключа -->
							<div class="form-group">
								{% if (b24_hook_key_api) %} 
									<div class="col-sm-12 message">
										<p class="bg-success message"><i class="fa fa-check-circle"></i> Связь с Битрикс24 установлена. Все данные успешно передаются и принимаются.</p>
									</div>
									{% else %} 
									<div class="col-sm-12 message">
										<p class="bg-danger message"><i class="fa fa-exclamation-circle"></i> Связь с Битрикс24 не установлена. Данные не отправляются и не принимаются.</p>
									</div>
								{% endif %} 
							</div>
					<div class="tab-pane">
						<ul class="nav nav-tabs" id="language">
							<li><a href="#setting-b24-hook-tab" data-toggle="tab">Авторизация</a></li>
							<li><a href="#product-b24-tab" data-toggle="tab">Начальная синхронизация</a></li>
							<li><a href="#statuses-b24-tab" data-toggle="tab">Настройка статусов</a></li>
							<li><a href="#customer-b24-tab" data-toggle="tab">Менеджер заказов</a></li>
							<li><a href="#product-b24-support" data-toggle="tab">Поддержка</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane" id="setting-b24-hook-tab">
								<div class="form-group">
									<label for="b24_hook_key_domain" class="col-sm-2 control-label">Домен bitrix24:</label>
									<div class="col-sm-3">
										<input type="text" name="b24_hook_key_domain" class="form-control" value="{{ b24_hook_key_domain }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Введите домен BITRIX24 без https:// и закрывающего / </div>
									</div>
								</div>
								<!-- Входящий хук -->
								<div class="form-group">
									<label for="b24_hook_key_api" class="col-sm-2 control-label">Ключ API:</label>
									<div class="col-sm-3">
										<input type="text" name="b24_hook_key_api" class="form-control" value="{{ b24_hook_key_api }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Введите Код входящего вебхука. Для этого создайте входящий вебхук на странице Приложения - Вебхуки. </div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_hook_key_id" class="col-sm-2 control-label">ID администратора Вебхука:</label>
									<div class="col-sm-3">
										<input type="text" name="b24_hook_key_id" class="form-control" value="{{ b24_hook_key_id }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Введите ID администратора вебхука. Он указан в URL вебхука /rest/<b style="color:red;">1</b>/</div>
									</div>
								</div>
								<!-- Входящий хук -->
								<div class="form-group">
									<label for="save-hooks" class="col-sm-2 control-label"></label>
									<div class="col-sm-3">
										<input type="submit" value="Сохранить" class="btn btn-success" name="save-hooks">
									</div>
									<div class="col-sm-7 message">

									</div>
								</div>
								<!-- Исходящие хуки -->
								<div class="col-sm-12"><h3>Настройка исходящих Вебхуков</h3></div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMINVOICEADD]" class="col-sm-2 control-label">Создание счета</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMINVOICEADD]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMINVOICEADD'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMINVOICEADD'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для создания счёта. Срабатывает когда в Битрикс24 создаётся счёт</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMINVOICEUPDATE]" class="col-sm-2 control-label">Обновление счета</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMINVOICEUPDATE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMINVOICEUPDATE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMINVOICEUPDATE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления счёта. Срабатывает когда в Битрикс24 обновляется счёт</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMINVOICEDELETE]" class="col-sm-2 control-label">Удаление счета</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMINVOICEDELETE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMINVOICEDELETE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMINVOICEDELETE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для удаления счёта. Срабатывает когда в Битрикс24 удаляется счёт</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMINVOICESETSTATUS]" class="col-sm-2 control-label">Обновление статуса счета</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMINVOICESETSTATUS]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMINVOICESETSTATUS'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMINVOICESETSTATUS'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления статуса счёта. Срабатывает когда в Битрикс24 обновляется статус счёт</div>
									</div>
								</div>
								

								<div class="col-sm-12"><legend>Вебхуки заказов</legend></div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMLEADADD]" class="col-sm-2 control-label">Создание лида</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMLEADADD]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMLEADADD'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMLEADADD'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для создания лида. Срабатывает когда в Битрикс24 создаётся лид</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMLEADUPDATE]" class="col-sm-2 control-label">Обновление лида</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMLEADUPDATE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMLEADUPDATE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMLEADUPDATE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления лида. Срабатывает когда в Битрикс24 обновляется лид</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMLEADDELETE]" class="col-sm-2 control-label">Удаление лида</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMLEADDELETE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMLEADDELETE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMLEADDELETE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для удаления лида. Срабатывает когда в Битрикс24 удаляется лид</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMDEALADD]" class="col-sm-2 control-label">Создание сделки</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMDEALADD]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMDEALADD'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMDEALADD'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для создания сделки. Срабатывает когда в Битрикс24 создаётся сделка</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMDEALUPDATE]" class="col-sm-2 control-label">Обновление сделки</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMDEALUPDATE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMDEALUPDATE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMDEALUPDATE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления сделки. Срабатывает когда в Битрикс24 обновляется сделка</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMDEALDELETE]" class="col-sm-2 control-label">Удаление сделки</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMDEALDELETE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMDEALDELETE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMDEALDELETE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для удаления сделки. Срабатывает когда в Битрикс24 удаляется сделка</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCOMPANYADD]" class="col-sm-2 control-label">Создание компании</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCOMPANYADD]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCOMPANYADD'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCOMPANYADD'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для создания компании. Срабатывает когда в Битрикс24 создаётся компания</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCOMPANYUPDATE]" class="col-sm-2 control-label">Обновление компании</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCOMPANYUPDATE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCOMPANYUPDATE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCOMPANYUPDATE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления компании. Срабатывает когда в Битрикс24 обновляется компания</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCOMPANYDELETE]" class="col-sm-2 control-label">Удаление компании</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCOMPANYDELETE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCOMPANYDELETE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCOMPANYDELETE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для удаления компании. Срабатывает когда в Битрикс24 удаляется компания</div>
									</div>
								</div>

								<div class="col-sm-12"><legend>Вебхуки контактов</legend></div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCONTACTADD]" class="col-sm-2 control-label">Создание контакта</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCONTACTADD]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCONTACTADD'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCONTACTADD'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для создания контакта. Срабатывает когда в Битрикс24 создаётся контакт</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCONTACTUPDATE]" class="col-sm-2 control-label">Обновление контакта</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCONTACTUPDATE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCONTACTUPDATE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCONTACTUPDATE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления контакта. Срабатывает когда в Битрикс24 обновляется контакт</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCONTACTDELETE]" class="col-sm-2 control-label">Удаление контакта</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCONTACTDELETE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCONTACTDELETE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCONTACTDELETE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для удаления контакта. Срабатывает когда в Битрикс24 удаления контакт</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCURRENCYADD]" class="col-sm-2 control-label">Создание валюты</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCURRENCYADD]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCURRENCYADD'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCURRENCYADD'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для создания валюты. Срабатывает когда в Битрикс24 создаётся валюта</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCURRENCYUPDATE]" class="col-sm-2 control-label">Обновление валюты</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCURRENCYUPDATE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCURRENCYUPDATE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCURRENCYUPDATE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления валюты. Срабатывает когда в Битрикс24 обновляется валюта</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMCURRENCYDELETE]" class="col-sm-2 control-label">Удаление валюты</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMCURRENCYDELETE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMCURRENCYDELETE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMCURRENCYDELETE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для удаления валюты. Срабатывает когда в Битрикс24 удаляется валюта</div>
									</div>
								</div>
								<div class="col-sm-12"><legend>Вебхуки товаров</legend></div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMPRODUCTADD]" class="col-sm-2 control-label">Создание товара</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMPRODUCTADD]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMPRODUCTADD'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMPRODUCTADD'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для создания товара. Срабатывает когда в Битрикс24 создаётся товар</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMPRODUCTUPDATE]" class="col-sm-2 control-label">Обновление товара</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMPRODUCTUPDATE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMPRODUCTUPDATE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMPRODUCTUPDATE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления товара. Срабатывает когда в Битрикс24 обновляется товар</div>
									</div>
								</div>
								<div class="form-group">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMPRODUCTDELETE]" class="col-sm-2 control-label">Удаление товара</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMPRODUCTDELETE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMPRODUCTDELETE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMPRODUCTDELETE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для удаления товара. Срабатывает когда в Битрикс24 удаляется товар</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMACTIVITYADD]" class="col-sm-2 control-label">Создание дела</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMACTIVITYADD]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMACTIVITYADD'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMACTIVITYADD'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для создания дела. Срабатывает когда в Битрикс24 создаётся дело</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMACTIVITYUPDATE]" class="col-sm-2 control-label">Обновление дела</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMACTIVITYUPDATE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMACTIVITYUPDATE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMACTIVITYUPDATE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для обновления дела. Срабатывает когда в Битрикс24 обновляется дело</div>
									</div>
								</div>
								<div class="form-group hidden-xs hidden-sm hidden-md hidden-lg">
									<label for="b24_out_hooks[b24_out_hooks_ONCRMACTIVITYDELETE]" class="col-sm-2 control-label">Удаление дела</label>
									<div class="col-sm-3">
										<input type="text" name="b24_out_hooks[b24_out_hooks_ONCRMACTIVITYDELETE]" class="form-control" value="{{ b24_out_hooks['b24_out_hooks_ONCRMACTIVITYDELETE'] is defined ? b24_out_hooks['b24_out_hooks_ONCRMACTIVITYDELETE'] : '' }}" />
									</div>
									<div class="col-sm-7">
										<div class="bg-warning message">Вебхук для удаления дела. Срабатывает когда в Битрикс24 удаляется дело</div>
									</div>
								</div>
								<!-- Исходящие хуки -->
								<div class="form-group">
									<label for="save-hooks" class="col-sm-2 control-label"></label>
									<div class="col-sm-3">
										<input type="submit" value="Сохранить" class="btn btn-success" name="save-hooks">
									</div>
									<div class="col-sm-7 message">

									</div>
								</div>
							</div>
							<div class="tab-pane" id="out-hooks-tab">
								
							</div>
							<div class="tab-pane" id="statuses-b24-tab">
								{% if (b24_hook_key_api) %} 
									<legend>Статусы лидов</legend>
									{% for b24_status in b24_statuses %} 
										<div class="form-group">
												<label for="b24_out_hooks[b24_out_hooks_ONCRMACTIVITYDELETE]" class="col-sm-2 col-lg-2 control-label">{{ b24_status.NAME }}  (B24)</label>
											<div class="col-sm-3 col-lg-3">
												<select name="statuses[{{ b24_status.STATUS_ID }}]" id="status-{{ b24_status.STATUS_ID }}" class="form-control">
													{% for oc_status in oc_statuses %} 
														<option value="{{ oc_status.order_status_id }}" {{ statuses['statuses'][b24_status['STATUS_ID']|default(false)]|default(false) == oc_status['order_status_id']| default(-1) ? 'selected' : '' }}> {{ oc_status.name }}</option>
													{% endfor %} 
												</select>
											</div>
											<div class="col-sm-7 col-lg-7">
											</div>
										</div>
									{% endfor %} 
									<legend>Стадии сделки</legend>
									{% for b24_stage in b24_stages %} 
										<div class="form-group">
											<label for="b24_out_hooks[b24_out_hooks_ONCRMACTIVITYDELETE]" class="col-sm-2 col-lg-2 control-label">{{ b24_stage['NAME'] }}  (B24)</label>
											<div class="col-sm-3 col-lg-3">
												<select name="stages[{{ b24_stage.STATUS_ID }}]" id="stage-{{ b24_stage.STATUS_ID }}" class="form-control">
													{% for oc_status in oc_statuses %} 
														<option value="{{ oc_status.order_status_id }}" {{ statuses['stages'][b24_stage['STATUS_ID']|default(false)]|default(false) == oc_status['order_status_id']| default(-1) ? 'selected' : '' }}> {{ oc_status.name }}</option>
													{% endfor %} 
												</select>
											</div>
											<div class="col-sm-7 col-lg-7">
											</div>
										</div>
									{% endfor %} 
									<div class="form-group">
										<label for="save-hooks" class="col-sm-2 control-label"></label>
										<div class="col-sm-3">
											<input type="submit" value="Сохранить статусы" class="btn btn-success" name="save-statuses">
										</div>
										<div class="col-sm-7 message">
										</div>
								</div>
								{% endif %} 
							</div>
							<div class="tab-pane" id="customer-b24-tab">
								<div class="form-group">
									<label for="manager" class="col-sm-2 control-label">Менеджер по умолчанию</label>
									<div class="col-sm-3">
										<select name="manager" id="manager" class="form-control">
													{% for manager in user_list %}
													{% set name = manager['LAST_NAME'] ~' '~ manager['NAME'] %}
													{% set managerId = manager['ID'] %}
													{% set selected = managerId == manager_id ? 'selected' : '' %}
													<option value="{{ managerId }}" {{ selected }}>{{ name }}</option>
													{% endfor %}
										</select>
										<hr>
										<button type="submit" class="btn btn-success" name="refresh-user-list" value="refresh"><i class="fa fa-refresh"></i> Обновить список</button>
										<button type="submit" class="btn btn-success" name="set-manager" value="set-manager"><i class="fa fa-plug" aria-hidden="true"></i> Назначить менеджера</button>
									</div>
									<div class="col-sm-7 message">
										<p class="bg-warning">Выбранный менеджер будет получать нераспределённые лиды, сделки, клиенты.</p>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="product-b24-tab">
							<legend>Шаг 1. Категории и товары</legend>
								<div class="form-group">
										<div class="col-sm-3 message">
											<p><a class="btn btn-primary btn-block {{ getProductForSync != 0 and connectB24 is defined ? '' : 'disabled' }}" href="{{ button_synchronizationproducts }}"><i class="fa fa-refresh"></i> Добавить в Б24 ({{ getProductForSync }} товаров)</a></p>
											
											<p><a class="btn btn-warning btn-block" href="{{ button_updateproduct }}"><i class="fa fa-trash-o"></i> Обновить товары в Б24</a></p>
										
										</div>
										<div class="col-sm-9 message">
											<div class="bg-info message"><p>Кнопка <b>"Добавить в Б24"</b> добавляет товары в Битрикс 24 которых ещё нет в каталоге битрикса.</p><p>При этом используется информация из временной таблицы Opencart. </p><p>Товары добавляются со скоростью 30 шт в секунду. В случае превышения времени сервера возможна дозагрузка товаров повторным нажатием на кнопку не ранее чем через 5 минут после появления ошибки.</p>
											<p>Кнопка <b>"Обновить товары"</b> обновляет информацию в товарах которые добавлены в Битрикс 24. Товары обноляются со скоростью 45 шт в секунду.</p></div>
										</div>
								</div>
								
								<legend>Шаг 2. Клиенты</legend>
								<div class="form-group">
										<div class="col-sm-3 message">
											<a class="btn btn-primary btn-block {{ getContactForSync != 0 and connectB24 is defined ? '' : 'disabled' }}" href="{{button_synchronizationcontacts}}"><i class="fa fa-refresh"></i> Добавить ({{getContactForSync}} клиентов)</a>
											
										</div>
										<div class="col-sm-9 message">
											<div class="bg-info message">Функция синхронизирует всех клиентов из Opencart и Битрикс 24. Это необходимо сделать один раз в процессе настройки модуля.</div>
										</div>
								</div>
								
								<legend>Шаг 3. Заказы</legend>
								<div class="form-group">
										<div class="col-sm-3 message">
											<p><a class="btn btn-primary btn-block {{ getOrderForSync != 0 and connectB24 is defined ? '' : 'disabled' }}" href="{{SendOrderToBitrix}}"><i class="fa fa-refresh"></i> Добавить заказы в Б24</a></p>
										</div>
										<div class="col-sm-6 message">
											<div class="bg-warning"></div>
										</div>
								</div>
							</div>
							<div class="tab-pane" id="product-b24-support">
								<div class="col-sm-2 col-lg-2">
									<p><strong>Автор модуля</strong></p>
								</div>
								<div class="col-sm-10 col-lg-10">
									<p> @apipro</p>
								</div>
								<div class="col-sm-2 col-lg-2">
									<p><strong>Сайт</strong></p>
								</div>
								<div class="col-sm-10 col-lg-10">
									<p><a href="http://api-pro.ru" target="_blank">api-pro.ru</a></p>
								</div>
								<div class="col-sm-2 col-lg-2">
									<p><strong>Телеграмм</strong></p>
								</div>
								<div class="col-sm-10 col-lg-10">
									<p><a href="https://t.me/api4pro" target="_blank">https://t.me/api4pro</a></p>
								</div>
								<div class="col-sm-2 col-lg-2">
									<p><strong>Email</strong></p>
								</div>
								<div class="col-sm-10 col-lg-10">
									<p><a href="mailto:api2pro@yandex.ru" target="_blank">api2pro@yandex.ru</a></p>
								</div>
							</div>
							{# } #}
						</div>
					</div>
				</form>
				<style>
					.message{
					padding: 1em;
					border-radius: 3px;
					}
				</style>
			</div>
			
		</div>
		
	</div>
	
	<script type="text/javascript">
		
		$('#language a:first').tab('show');
		
		function selectedTab() {
			
			var tabId = localStorage.getItem('tab_b24_api_pro');
			
			if(!tabId)
			
			{
				tabId = $('#language a:first').attr('href');
			}
			
			return tabId;
			
		}
		
		$('#language a').click(function () {
			
			$this = $(this);
			
			var tabId = $this.attr('href');
			
			localStorage.setItem('tab_b24_api_pro', tabId);
			
		});
		
		$('#language a[href=' + selectedTab() +' ]').click();
		
	</script></div>{{ footer }}