{#
	/*
		Author: Igor Mirochnik
	    Site: http://im-cloud.ru
		Email: dev.imirochnik@gmail.com
		Type: commercial
	*/

#}

{% import "extension/module/IMDBOptimizer/TwigMacros/Html.twig" as imform %}

<!-- ------------ -->
<!-- DBOpt Log -->
<!-- ------------ -->
<div class="tab-pane" id="imdbopt-log">

	<form class="form IMDBOptimizer-form"
		action="" method="post"
		enctype="multipart/form-data"
		id="form_imdbo_log"
	>

		<div class="well">
			<div class="row">
				<div class="col-sm-6">
					{{
						imform.selectControl(
							'IMDBOptimizer[log][enable_log_slow_query]',
							list_on_off,
							module_label,
							'label_field_enable_log_slow_query',
							data_log['enable_log_slow_query']|default(0),
							''
						)
					}}
				</div>
				<div class="col-sm-6">
					{{
						imform.selectControl(
							'IMDBOptimizer[log][enable_log_slow_query_admin]',
							list_on_off,
							module_label,
							'label_field_enable_log_slow_query_admin',
							data_log['enable_log_slow_query_admin']|default(0),
							''
						)
					}}
				</div>
				<div class="col-sm-6">
					{{
						imform.inputControl(
							'IMDBOptimizer[log][log_slow_query_time]',
							module_label,
							'label_field_log_slow_query_time',
							data_log['log_slow_query_time']|default(1000),
							''
						)
					}}
				</div>
				<div class="col-sm-6">
					{{
						imform.selectControl(
							'IMDBOptimizer[log][log_slow_query_write_url]',
							list_on_off,
							module_label,
							'label_field_log_slow_query_write_url',
							data_log['log_slow_query_write_url']|default(0),
							''
						)
					}}
				</div>

				<div class="col-sm-12">
					<hr/>
				</div>

				<!-------------------------->
				<!-- Buttons -->
				<!-------------------------->

				<div class="col-sm-12">
					<div class="form-group">
						<div class="buttons">
							<a class="button btn-im-download btn btn-info pull-right"
								style="color:white">
								<i class="fa fa-download"></i> &nbsp;
								{{ imform.label(module_btn_label, 'button_download_log_file') }}
								({{ data_log_file_statistic['size_normal']|default('0 B')|trim }})
							</a>

							<a class="button btn-im-save btn btn-success"
								style="color:white">
								<i class="fa fa-save"></i> &nbsp;
								{{ imform.label(module_btn_label, 'button_save_log_settings') }}
							</a>
							&nbsp;&nbsp;&nbsp;
							<a class="button btn-im-clear-log btn btn-danger"
								style="color:white">
								<i class="fa fa-remove"></i> &nbsp;
								{{ imform.label(module_btn_label, 'button_clear_log') }}
							</a>
							&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;
							<span class="generate-status"></span>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<hr/>
				</div>

			</div>
		</div>

	</form>
</div>

<script type="text/javascript">

	function IMDBO_saveLogSettings(form, onLoad)
	{
		// Форма еще не выстроена
		if (form.serializeArray().length == 0)
			return;

		IMDBO_ajaxOperation({
			form: form,
			data: form.serializeArray(),
			url: module_links.saveLogSettings,
			status: {
				selector: '.generate-status',
				text: {
					action: module_texts.save,
					success: module_texts.saveSetOk,
					fail: module_texts.saveSetFail
				}
			},
			onLoad: function (json) {
				if (typeof(onLoad) === 'function') {
					onLoad(form, json);
				}
			}
		});
	}

	function IMDBO_clearLog(form, onLoad)
	{
		// Форма еще не выстроена
		if (form.serializeArray().length == 0)
			return;

		IMDBO_ajaxOperation({
			form: form,
			data: form.serializeArray(),
			url: module_links.clearLog,
			status: {
				selector: '.generate-status',
				text: {
					action: module_texts.removeLog,
					success: module_texts.removeLogOk,
					fail: module_texts.removeLogFail
				}
			},
			onLoad: function (json) {
				if (typeof(onLoad) === 'function') {
					onLoad(form, json);
				}
			}
		});
	}

	function IMDBO_downloadLog(form, onLoad)
	{
		var jq = jQuery,
			bodyIMDBOlog = jq('#imdbopt-log')
		;

		jq('#imdbopt-log #log-iframe').remove();

		bodyIMDBOlog.append(
			'<div id="log-iframe" style="height:1px;">'
				+ '<iframe src="' + module_links.downloadLog + '" width="1px" height="1px" '
					+ 'style="border:0px;" />'
			+ '</div>'
		);

		if (typeof(onLoad) === 'function') {
			onLoad(form);
		}
	}

	//////////////////////////////////////////////
	// Загрузка DOM
	//////////////////////////////////////////////
	jQuery(function () {
		jQuery('#imdbopt-log .btn-im-save').click(function () {
			IMDBO_saveLogSettings(jQuery(this).closest('form'));
		});

		jQuery('#imdbopt-log .btn-im-clear-log').click(function () {
			IMDBO_clearLog(jQuery(this).closest('form'));
		});

		jQuery('#imdbopt-log .btn-im-download').click(function () {
			IMDBO_downloadLog(jQuery(this).closest('form'));
		});
	});
</script>


<style type="text/css">
	.IMDBOptimizer .form-group
	{
	    padding-top: 15px;
	    padding-bottom: 15px;
	    margin-bottom: 0;
	}

	.IMDBOptimizer .form-group span.blue
	{
		color: #000042;
    	font-size: 15px;
	}

	.IMDBOptimizer .clear
	{
		clear: both;
	}

	.IMDBOptimizer .well .row .form-group
	{
	    padding-top: 5px;
	    padding-bottom: 8px;
	    margin-bottom: 0;
	}

	.IMDBOptimizer .hidden
	{
		display: none;
	}

	select.im-product-list-select
	{
	    height: 305px;
	}

	.IMDBOptimizer .iml-cursor
	{
		cursor: pointer;
	}

	.IMDBOptimizer .save-status.success,
	.IMDBOptimizer .generate-status.success,
	.IMDBOptimizer .generate-schema-status.success,
	.IMDBOptimizer .get-product-status.success,
	.IMDBOptimizer .get-delete-settings-status.success
	{
    	color: green;
	}

	.IMDBOptimizer .save-status.fail,
	.IMDBOptimizer .generate-status.fail,
	.IMDBOptimizer .generate-schema-status.fail,
	.IMDBOptimizer .get-product-status.fail,
	.IMDBOptimizer .get-delete-settings-status.fail
	{
    	color: red;
	}

	.IMDBOptimizer .textcontrol-min-height
	{
		min-height: 100px;
	}

</style>
