{#
	/*
		Author: Igor Mirochnik
	    Site: http://im-cloud.ru
		Email: dev.imirochnik@gmail.com
		Type: commercial
	*/

#}

{% import "extension/module/IMDBOptimizer/TwigMacros/Html.twig" as imform %}

<!-- ------------ -->
<!-- DBOpt Service -->
<!-- ------------ -->
<div class="tab-pane" id="imdbopt-cache">

	<form class="form IMDBOptimizer-form"
		action="" method="post"
		enctype="multipart/form-data"
		id="form_imdbo_cache"
	>

		<div class="well">
			<div class="row">
				<div class="col-sm-6">
					{{
						imform.selectControl(
							'IMDBOptimizer[cache][enable]',
							list_on_off,
							module_label,
							'label_field_cache_enable',
							data_cache['enable']|default(0),
							''
						)
					}}
				</div>
				<div class="col-sm-6">
					{{
						imform.selectControl(
							'IMDBOptimizer[cache][cache_table_type]',
							list_cache_table_type,
							module_label,
							'label_field_cache_table_type',
							data_cache['cache_table_type']|default(''),
							''
						)
					}}
				</div>
				<div class="col-sm-6">
					{{
						imform.inputControl(
							'IMDBOptimizer[cache][maxdblen]',
							module_label,
							'label_field_cache_maxdblen',
							data_cache['maxdblen']|default(20000),
							''
						)
					}}
				</div>
				<div class="col-sm-6">
					{{
						imform.inputControl(
							'IMDBOptimizer[cache][expire]',
							module_label,
							'label_field_cache_expire',
							data_cache['expire']|default(3600),
							''
						)
					}}
				</div>
				<div class="col-sm-6">
					{{
						imform.inputControl(
							'IMDBOptimizer[cache][mintime_to_cache]',
							module_label,
							'label_field_cache_mintime_to_cache',
							data_cache['mintime_to_cache']|default(20),
							''
						)
					}}
				</div>
				<div class="col-sm-12">
					{{
						imform.textAreaControl(
							'IMDBOptimizer[cache][filters]',
							module_label,
							'label_field_cache_filters',
							data_cache['filters']|default(''),
							''
						)
					}}
				</div>
				<div class="col-sm-12">
					{{
						imform.textAreaControl(
							'IMDBOptimizer[cache][urls]',
							module_label,
							'label_field_cache_urls',
							data_cache['urls']|default(''),
							''
						)
					}}
				</div>

				<!-------------------------->
				<!-- Buttons -->
				<!-------------------------->

				<div class="col-sm-12">
					<div class="form-group">
						<div class="buttons">
							<a class="button btn-im-save btn btn-success"
								style="color:white">
								<i class="fa fa-save"></i> &nbsp;
								{{ imform.label(module_btn_label, 'button_save_cache_settings') }}
							</a>
							&nbsp;&nbsp;&nbsp;
							<a class="button btn-im-clear-cache btn btn-danger"
								style="color:white">
								<i class="fa fa-remove"></i> &nbsp;
								{{ imform.label(module_btn_label, 'button_clear_cache') }}
							</a>
							&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;
							<span class="generate-status"></span>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<hr/>
				</div>

			</div>
		</div>

	</form>
</div>

<script type="text/javascript">

	function IMDBO_saveCacheSettings(form, onLoad)
	{
		// Форма еще не выстроена
		if (form.serializeArray().length == 0)
			return;

		IMDBO_ajaxOperation({
			form: form,
			data: form.serializeArray(),
			url: module_links.saveCacheSettings,
			status: {
				selector: '.generate-status',
				text: {
					action: module_texts.save,
					success: module_texts.saveSetOk,
					fail: module_texts.saveSetFail
				}
			},
			onLoad: function (json) {
				if (typeof(onLoad) === 'function') {
					onLoad(form, json);
				}
			}
		});
	}

	function IMDBO_clearCache(form, onLoad)
	{
		// Форма еще не выстроена
		if (form.serializeArray().length == 0)
			return;

		IMDBO_ajaxOperation({
			form: form,
			data: form.serializeArray(),
			url: module_links.clearCache,
			status: {
				selector: '.generate-status',
				text: {
					action: module_texts.removeCache,
					success: module_texts.removeCacheOk,
					fail: module_texts.removeCacheFail
				}
			},
			onLoad: function (json) {
				if (typeof(onLoad) === 'function') {
					onLoad(form, json);
				}
			}
		});
	}

	//////////////////////////////////////////////
	// Загрузка DOM
	//////////////////////////////////////////////
	jQuery(function () {
		jQuery('#imdbopt-cache .btn-im-save').click(function () {
			IMDBO_saveCacheSettings(jQuery(this).closest('form'));
		});

		jQuery('#imdbopt-cache .btn-im-clear-cache').click(function () {
			IMDBO_clearCache(jQuery(this).closest('form'));
		});
	});
</script>


<style type="text/css">
	.IMDBOptimizer .form-group
	{
	    padding-top: 15px;
	    padding-bottom: 15px;
	    margin-bottom: 0;
	}

	.IMDBOptimizer .form-group span.blue
	{
		color: #000042;
    	font-size: 15px;
	}

	.IMDBOptimizer .clear
	{
		clear: both;
	}

	.IMDBOptimizer .well .row .form-group
	{
	    padding-top: 5px;
	    padding-bottom: 8px;
	    margin-bottom: 0;
	}

	.IMDBOptimizer .hidden
	{
		display: none;
	}

	select.im-product-list-select
	{
	    height: 305px;
	}

	.IMDBOptimizer .iml-cursor
	{
		cursor: pointer;
	}

	.IMDBOptimizer .save-status.success,
	.IMDBOptimizer .generate-status.success,
	.IMDBOptimizer .generate-schema-status.success,
	.IMDBOptimizer .get-product-status.success,
	.IMDBOptimizer .get-delete-settings-status.success
	{
    	color: green;
	}

	.IMDBOptimizer .save-status.fail,
	.IMDBOptimizer .generate-status.fail,
	.IMDBOptimizer .generate-schema-status.fail,
	.IMDBOptimizer .get-product-status.fail,
	.IMDBOptimizer .get-delete-settings-status.fail
	{
    	color: red;
	}

	.IMDBOptimizer .textcontrol-min-height
	{
		min-height: 100px;
	}

</style>
