{{ header }} {{ column_left}}
{#
	/*
		Author: Igor Mirochnik
	    Site: http://im-cloud.ru
		Email: dev.imirochnik@gmail.com
		Type: commercial
	*/

#}

{% import "extension/module/IMDBOptimizer/TwigMacros/Html.twig" as imform %}

<div id="content">
	<div class="container-fluid page-header">
		<div class="breadcrumb">
			{% for bread in breadcrumbs %}
				{{ bread['separator'] }}
				<a href="{{ bread['href'] }}">
					{{ bread['text'] }}
				</a>
			{% endfor %}
		</div>
	</div>

	{% if error_messages is defined and error_messages|length > 0 %}
		{% for err in error_messages %}
			<div class="container-fluid">
				<div class="alert alert-danger">
					{{ err }}
				</div>
			</div>
		{% endfor %}
	{% endif %}

	{% if warning_messages is defined and warning_messages|length > 0 %}
		{% for err in warning_messages %}
			<div class="container-fluid">
				<div class="alert alert-warning">
					{{ err }}
				</div>
			</div>
		{% endfor %}
	{% endif %}

	<div class="box">
		<div class="container-fluid">
		  	<div class="heading">
				<h3>
					{{ h1_text }}
				</h3>
				<br/>
		  	</div>
		</div>
	  	<div style="clear:both;"></div>
		<div class="content IMDBOptimizer" >
			<!-- --------------------------------------------------- -->
			<!-- OpenCart Style Start -->
			<!-- --------------------------------------------------- -->
			<div class="container-fluid">
				<div class="panel panel-default">
					<div class="panel-body">
					<ul class="nav nav-pills" id="imdbo-tabs">
						<li>
							<a href="#imdbopt" data-toggle="tab">
								<i class="fa fa-share-alt"></i>
								{{ imform.label(module_label, 'label_tab_dbopt') }}
							</a>
						</li>
						<li>
							<a href="#imdbopt-service" data-toggle="tab">
								<i class="fa fa-laptop"></i>
								{{ imform.label(module_label, 'label_tab_service') }}
							</a>
						</li>
						<li>
							<a href="#imdbopt-cache" data-toggle="tab">
								<i class="fa fa-history"></i>
								{{ imform.label(module_label, 'label_tab_cache') }}
							</a>
						</li>
						<li>
							<a href="#imdbopt-log" data-toggle="tab">
								<i class="fa fa-book"></i>
								{{ imform.label(module_label, 'label_tab_log') }}
							</a>
						</li>
						<li>
							<a href="#imdbosettings" data-toggle="tab">
								<i class="fa fa-cog"></i>
								{{ imform.label(module_label, 'label_tab_settings') }}
							</a>
						</li>
					</ul>
					<div class="tab-content">
					<!-- ------------ -->
					<!-- DBOPT -->
					<!-- ------------ -->
					{{ imdbo_dbopt_view }}

					<!-- ------------ -->
					<!-- DBOPT Service -->
					<!-- ------------ -->
					{{ imdbo_service_view }}

					<!-- ------------ -->
					<!-- DBOPT Cache -->
					<!-- ------------ -->
					{{ imdbo_cache_view }}

					<!-- ------------ -->
					<!-- DBOPT Cache -->
					<!-- ------------ -->
					{{ imdbo_log_view }}

					<!-- ------------ -->
					<!-- Settings -->
					<!-- ------------ -->
					{{ imdbo_settings_view }}

					</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="panel panel-default">
					<div class="panel-body">
					Igor Mirochnik &copy; IMDBOptimizer {{ module_version }}
					| <a href="mailto:dev.imirochnik@gmail.com"><i class="fa fa-envelope-o fa-fw"></i> dev.imirochnik@gmail.com</a>
					| <a href="http://im-cloud.ru/" target="_blank"><i class="fa fa-cloud-download fa-fw"></i> IM-Cloud.ru</a>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				var module_links = {
					cancel:
						decodeURIComponent('{{ module_links["cancel"]|trim }}')
						.replace('&amp;', '&'),
					getDBData:
						decodeURIComponent('{{ module_links["getDBData"]|trim }}')
						.replace('&amp;', '&'),
					generateIndexForTable:
						decodeURIComponent('{{ module_links["generateIndexForTable"]|trim }}')
						.replace('&amp;', '&'),
					removeIndexForTable:
						decodeURIComponent('{{ module_links["removeIndexForTable"]|trim }}')
						.replace('&amp;', '&'),
					optimizeTable:
						decodeURIComponent('{{ module_links["optimizeTable"]|trim }}')
						.replace('&amp;', '&'),
					repairTable:
						decodeURIComponent('{{ module_links["repairTable"]|trim }}')
						.replace('&amp;', '&'),
					saveIMDBOSettings:
						decodeURIComponent('{{ module_links["saveIMDBOSettings"]|trim }}')
						.replace('&amp;', '&'),
					saveCacheSettings:
						decodeURIComponent('{{ module_links["saveCacheSettings"]|trim }}')
						.replace('&amp;', '&'),
					clearCache:
						decodeURIComponent('{{ module_links["clearCache"]|trim }}')
						.replace('&amp;', '&'),
					saveLogSettings:
						decodeURIComponent('{{ module_links["saveLogSettings"]|trim }}')
						.replace('&amp;', '&'),
					clearLog:
						decodeURIComponent('{{ module_links["clearLog"]|trim }}')
						.replace('&amp;', '&'),
					downloadLog:
						decodeURIComponent('{{ module_links["downloadLog"]|trim }}')
						.replace('&amp;', '&'),
					apiLink:
						decodeURIComponent('{{ module_links["apiLink"]|trim }}')
						.replace('&amp;', '&')
				};
				var module_label = {
					attrAdd: "{{ imform.label(module_btn_label, 'button_attr_add')|trim }}",
					optionAdd: "{{ imform.label(module_btn_label, 'button_option_add')|trim }}"
				};
			</script>
			<script type="text/javascript">
				var module_texts = {
					{{ imform.moduleJSText(module_js_texts)|trim }}
				};
			</script>
			<script type="text/javascript">
				var module_labels = {
				};
			</script>
			<script type="text/javascript">

				// Ajax-операция
				function IMDBO_ajaxOperation(options) {
					var form = options.form
					;

					if (jQuery(form).length == 0 || !options.form)
						return;

					if ((options.status || {}).selector) {
					    imdbo.setTextStatus(form, {
					        selector: options.status.selector,
					        inTable: !!options.status.inTable,
					        text: options.status.text.action
					    });
					}

					// Выполняем запрос
					jQuery.ajax({
						type: 'POST',
						url: options.url,
						data: (options.data ? options.data : form.serializeArray()),
						dataType: 'json',
						success: function(json) {
							if ((options.status || {}).selector) {
								if (json['success']) {
								    imdbo.setTextSuccess(form, {
								        selector: options.status.selector,
								        inTable: !!options.status.inTable,
								        text: options.status.text.success
								    });
								}
								else {
								    imdbo.setTextFail(form, {
								        selector: options.status.selector,
								        inTable: !!options.status.inTable,
								        text: options.status.text.fail
								    });
								}
							}
							if(typeof options.onLoad == 'function') {
								options.onLoad(json);
							}
						}
					});
				}

				function IMDBO_saveIMDBOSettings(form, isNoReload) {
					// Форма еще не выстроена
					if (form.serializeArray().length == 0)
						return;

				    imdbo.setTextStatus(form, {
				        selector: '.save-imdbo-settings-status',
				        text: module_texts.save
				    });

					// Сохраняем данные
					jQuery.ajax({
						type: 'POST',
						url: module_links.saveIMDBOSettings,
						data: form.serializeArray(),
						dataType: 'json',
						success: function(json) {
							if (json['success']) {
							    imdbo.setTextSuccess(form, {
							        selector: '.save-imdbo-settings-status',
							        text: module_texts.saveSetOk,
							        onAnimate: function () {
							        	if (!isNoReload) {
											window.location = window.location;
											if (window.location.reload) {
												window.location.reload();
											}
										}
									}
							    });
							} else {
							    imdbo.setTextFail(form, {
							        selector: '.save-imdbo-settings-status',
							        text: module_texts.saveSetFail
							    });
							}
						}
					});
				}

				// Получить данные таблиц
				function IMDBO_getDBData(form, onLoad)
				{
					// Форма еще не выстроена
					if (form.serializeArray().length == 0)
						return;

					var sendData = form.serializeArray(),
						tables = form.find('input[name="tables"]:checked')
					;

					tables.each(function () {
						sendData.push({
							name: 'IMDBOptimizer[tables][]',
							value: jQuery(this).val()
						});
					});

					IMDBO_ajaxOperation({
						form: form,
						data: sendData,
						url: module_links.getDBData,
						status: {
							selector: '.generate-status',
							text: {
								action: module_texts.load,
								success: module_texts.loadOk,
								fail: module_texts.loadFail
							}
						},
						onLoad: function (json) {
							if(json['success']) {
								var logTextArea = form.find('.imdbo-log-container')
								;

								logTextArea.val('');
								logTextArea[0].scrollTop = logTextArea[0].scrollHeight;

								logTextArea.val(json['report']);
							}

							if (typeof(onLoad) === 'function') {
								onLoad(form, json);
							}
						}
					});
				}

				jQuery(function () {

					jQuery('#imdbo-tabs a:first').tab('show');

					// Сохраняем настройки IMDBO
					jQuery('.IMDBOptimizer .btn-imdbo-settings-save').click(function () {
						IMDBO_saveIMDBOSettings(jQuery(this).closest('form'));
					});

					// Сохраняем настройки IMDBO без перезагрузки
					jQuery('.IMDBOptimizer .btn-imdbo-settings-save-no-reload').click(function () {
						IMDBO_saveIMDBOSettings(jQuery(this).closest('form'), true);
					});
				});
			</script>
			<!-- --------------------------------------------------- -->
			<!-- OpenCart Style End -->
			<!-- --------------------------------------------------- -->
		</div>

  	</div>
</div>

<style type="text/css">
	.IMDBOptimizer .form-group
	{
	    padding-top: 15px;
	    padding-bottom: 15px;
	    margin-bottom: 0;
	}

	.IMDBOptimizer .form-group span.blue
	{
		color: #000042;
    	font-size: 15px;
	}

	.IMDBOptimizer textarea.form-control
	{
		min-height: 120px;
	}

	.IMDBOptimizer textarea.form-control.imdbo-log-container
	{
		min-height: 250px;
	}

	.IMDBOptimizer .clear
	{
		clear: both;
	}

	.IMDBOptimizer .well .row .form-group
	{
	    padding-top: 5px;
	    padding-bottom: 8px;
	    margin-bottom: 0;
	}

	.IMDBOptimizer .hidden
	{
		display: none;
	}

	select.im-product-list-select
	{
	    height: 305px;
	}

	.IMDBOptimizer .imdbo-cursor
	{
		cursor: pointer;
	}

	.IMDBOptimizer .save-status.success,
	.IMDBOptimizer .generate-status.success,
	.IMDBOptimizer .generate-schema-status.success,
	.IMDBOptimizer .get-product-status.success,
	.IMDBOptimizer .get-delete-settings-status.success
	{
    	color: green;
	}

	.IMDBOptimizer .save-status.fail,
	.IMDBOptimizer .generate-status.fail,
	.IMDBOptimizer .generate-schema-status.fail,
	.IMDBOptimizer .get-product-status.fail,
	.IMDBOptimizer .get-delete-settings-status.fail
	{
    	color: red;
	}

	.IMDBOptimizer .textcontrol-min-height
	{
		min-height: 100px;
	}

	.IMDBOptimizer .imdbo-tables-select .checkbox
	{

	}

	.IMDBOptimizer .imdbo-tables-select .checkbox label
	{

	}

	.IMDBOptimizer .imdbo-tables-select .checkbox label input
	{

	}

	.IMDBOptimizer .imdbo-tables-select .checkbox label span
	{
		line-height: 18px;
		vertical-align: top;
	}

</style>

{{ footer }}
