{#
	/*
		Author: Igor Mirochnik
	    Site: http://im-cloud.ru
		Email: dev.imirochnik@gmail.com
		Type: commercial
	*/

#}

{% import "extension/module/IMDBOptimizer/TwigMacros/Html.twig" as imform %}

<!-- ------------ -->
<!-- DBOpt -->
<!-- ------------ -->
<div class="tab-pane" id="imdbopt">
		
	<form class="form IMDBOptimizer-form" 
		action="" method="post" 
		enctype="multipart/form-data" 
		id="form_inmdbo_index"
	>

		<div class="well">
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-danger">
						<label>
							{{ imform.label(module_label, 'label_dbopt_index_warning') }}
						</label>
					</div>
				</div>
				<!-------------------------->
				<!-- Filter -->
				<!-------------------------->
		
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">
							{{ imform.label(module_label, 'label_filter_tables') }}
						</label>
						{{
							imform.selectMany(
								'tables',
								list_tables,
								'imdbo-tables-select',
								label_multiselect_allclear|default([])
							)
						}}
					</div>
				</div>

				<div class="col-sm-6">
					{{
						imform.inputControl(
							'IMDBOptimizer[field_names]',
							module_label,
							'label_field_names',
							'',
							''
						)
					}}
					{{
						imform.inputControl(
							'IMDBOptimizer[field_starts]',
							module_label,
							'label_field_starts',
							'',
							''
						)
					}}
					{{
						imform.inputControl(
							'IMDBOptimizer[field_ends]',
							module_label,
							'label_field_ends',
							'_id',
							''
						)
					}}
				</div>
				
				<div class="col-sm-12">
					{% 
						set default_map_value = 
							'#product - model' ~ "\n"
							~ '#product - status' ~ "\n"
							~ '#product_to_category - main_category' ~ "\n"
							~ '#product_image - sort_order' ~ "\n"
							~ '#product_option_value - subtract' ~ "\n"
							~ '#product_option_value - quantity' ~ "\n"
							~ '#setting - code' ~ "\n"
							~ '#setting - key' ~ "\n"
							~ '#setting - serialized' ~ "\n"
					%}
					{{
						imform.textAreaControl(
							'IMDBOptimizer[table_index_map]',
							module_label,
							'label_field_table_index_map',
							default_map_value,
							''
						)
					}}
				</div>

				<div class="col-sm-12">
					<hr/>
				</div>
			
				<!-------------------------->
				<!-- Buttons -->
				<!-------------------------->
				
				<div class="col-sm-12">
					<div class="form-group">
						<div class="buttons">
							<a class="button btn-im-generate btn btn-success" 
								style="color:white">
								<i class="fa fa-save"></i> &nbsp; 
								{{ imform.label(module_btn_label, 'button_generate') }}
							</a>
							&nbsp;&nbsp;&nbsp;
							<a class="button btn-im-remove btn btn-danger" 
								style="color:white">
								<i class="fa fa-remove"></i> &nbsp; 
								{{ imform.label(module_btn_label, 'button_remove') }}
							</a>
							&nbsp;&nbsp;&nbsp;
							<a class="button btn-im-show-data btn btn-info" 
								style="color:white">
								<i class="fa fa-sliders"></i> &nbsp; 
								{{ imform.label(module_btn_label, 'button_show_data') }}
							</a>
							&nbsp;&nbsp;&nbsp;
							<span class="generate-status"></span>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<hr/>
				</div>

				<!-------------------------->
				<!-- Log -->
				<!-------------------------->

				<div class="col-sm-12">
					{{
						imform.textAreaControl(
							'log',
							module_label,
							'label_field_log',
							'',
							'imdbo-log-container'
						)
					}}
				</div>
				
				<div class="col-sm-12">
					<hr/>
				</div>
				
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	
	// Генерация индексов для одной таблицы в БД
	function IMDBO_generateIndexForTable(form, data, listTables, currNum, onLoad)
	{
		if (listTables.length <= currNum) {
			if (typeof(onLoad) === 'function') {
				onLoad(form);
				return;
			}
		}
		
		var sendData = [],
			logTextArea = form.find('.imdbo-log-container')
		;
		
		for(var cnt = 0; cnt < data.length; cnt++) {
			sendData.push(data[cnt]);
		}
		
		sendData.push({
			name: 'IMDBOptimizer[table]',
			value: listTables[currNum]
		});
		
		logTextArea.val(
			logTextArea.val()
			+ '\n------------------------\n'
			+ (currNum + 1) + '. ' + listTables[currNum]
			+ '\n------------------------\n'
			+ module_texts.startGen
		);
		
		logTextArea[0].scrollTop = logTextArea[0].scrollHeight; 
		
		IMDBO_ajaxOperation({
			form: form,
			data: sendData,
			url: module_links.generateIndexForTable,
			status: {
				selector: 'not-need',
				text: {
					action: '',
					success: '',
					fail: ''
				}
			},
			onLoad: function (json) {
				var logTextArea = form.find('.imdbo-log-container')
				;
				
				logTextArea.val(
					logTextArea.val() 
					+ '\n'
					+ json['report']
					+ '\n'
					+ (json['success'] ? module_texts.genOk : module_texts.genFail)
					+ '\n------------------------\n'
				);
				
				var count = parseInt(json['count']),
					error = parseInt(json['error']),
					currResults = form.data('results')
				;
				
				currResults.count += isNaN(count) ? 0 : count;
				currResults.error += isNaN(error) ? 0 : error;
				
				form.data('results', currResults);
				
				logTextArea[0].scrollTop = logTextArea[0].scrollHeight;
				
				IMDBO_generateIndexForTable(
					form, data, listTables, currNum + 1, onLoad
				)
			}
		});	
	}
	
	// Рекурсивный обход
	function IMDBO_generateIndexes(form, onLoad)
	{
		var logTextArea = form.find('.imdbo-log-container'),
			sendData = form.serializeArray(),
			tables = form.find('input[name="tables"]:checked'),
			listTables = []
		;
		
		tables.each(function () {
			listTables.push(jQuery(this).val());
		});
		
		logTextArea.val('');
		logTextArea[0].scrollTop = logTextArea[0].scrollHeight; 
		
		imdbo.setTextStatus(form, {
	        selector: '.generate-status',
	        text: module_texts.startGen
	    });
	    
	    form.data('results', {
	    	count: 0,
	    	error: 0
	    });
	    
	    IMDBO_generateIndexForTable(
	    	form, sendData, listTables, 0, function (form) {
				imdbo.setTextSuccess(form, {
			        selector: '.generate-status',
			        text: module_texts.genOk
			    });
			    
			    var currResults = form.data('results')
			    ;
			    
			    logTextArea.val(
			    	logTextArea.val()
			    	+ '\n------------------------------------------------\n'
			    	+ module_texts.genIndAll + currResults.count
			    	+ '\n'
			    	+ module_texts.genIndAllErr + currResults.error
			    	+ '\n'
			    	+ module_texts.genOk
			    );
			    logTextArea[0].scrollTop = logTextArea[0].scrollHeight;
			}
	    );
	}

	// Удаление индексов для одной таблицы в БД
	function IMDBO_removeIndexForTable(form, data, listTables, currNum, onLoad)
	{
		if (listTables.length <= currNum) {
			if (typeof(onLoad) === 'function') {
				onLoad(form);
				return;
			}
		}
		
		var sendData = [],
			logTextArea = form.find('.imdbo-log-container')
		;
		
		for(var cnt = 0; cnt < data.length; cnt++) {
			sendData.push(data[cnt]);
		}
		
		sendData.push({
			name: 'IMDBOptimizer[table]',
			value: listTables[currNum]
		});
		
		logTextArea.val(
			logTextArea.val()
			+ '\n------------------------\n'
			+ (currNum + 1) + '. ' + listTables[currNum]
			+ '\n------------------------\n'
			+ module_texts.startRemove
		);
		
		logTextArea[0].scrollTop = logTextArea[0].scrollHeight; 
		
		IMDBO_ajaxOperation({
			form: form,
			data: sendData,
			url: module_links.removeIndexForTable,
			status: {
				selector: 'not-need',
				text: {
					action: '',
					success: '',
					fail: ''
				}
			},
			onLoad: function (json) {
				var logTextArea = form.find('.imdbo-log-container')
				;
				
				logTextArea.val(
					logTextArea.val() 
					+ '\n'
					+ json['report']
					+ '\n'
					+ (json['success'] ? module_texts.removeOk : module_texts.removeFail)
					+ '\n------------------------\n'
				);
				
				var count = parseInt(json['count']),
					error = parseInt(json['error']),
					currResults = form.data('results')
				;
				
				currResults.count += isNaN(count) ? 0 : count;
				currResults.error += isNaN(error) ? 0 : error;
				
				form.data('results', currResults);
				
				logTextArea[0].scrollTop = logTextArea[0].scrollHeight;
				
				IMDBO_removeIndexForTable(
					form, data, listTables, currNum + 1, onLoad
				)
			}
		});	
	}
	
	// Рекурсивный обход
	function IMDBO_removeIndexes(form, onLoad)
	{
		var logTextArea = form.find('.imdbo-log-container'),
			sendData = form.serializeArray(),
			tables = form.find('input[name="tables"]:checked'),
			listTables = []
		;
		
		tables.each(function () {
			listTables.push(jQuery(this).val());
		});
		
		logTextArea.val('');
		logTextArea[0].scrollTop = logTextArea[0].scrollHeight; 
		
		imdbo.setTextStatus(form, {
	        selector: '.generate-status',
	        text: module_texts.startRemove
	    });
	    
	    form.data('results', {
	    	count: 0,
	    	error: 0
	    });
	    
	    IMDBO_removeIndexForTable(
	    	form, sendData, listTables, 0, function (form) {
				imdbo.setTextSuccess(form, {
			        selector: '.generate-status',
			        text: module_texts.removeOk
			    });
			    
			    var currResults = form.data('results')
			    ;
			    
			    logTextArea.val(
			    	logTextArea.val()
			    	+ '\n------------------------------------------------\n'
			    	+ module_texts.removeIndAll + currResults.count
			    	+ '\n'
			    	+ module_texts.removeIndAllErr + currResults.error
			    	+ '\n'
			    	+ module_texts.removeOk
			    );
			    logTextArea[0].scrollTop = logTextArea[0].scrollHeight;
			}
	    );
	}
	
	//////////////////////////////////////////////
	// Загрузка DOM
	//////////////////////////////////////////////
	jQuery(function () {
		jQuery('#imdbopt .btn-im-generate').click(function () {
			IMDBO_generateIndexes(jQuery(this).closest('form'));
		});

		jQuery('#imdbopt .btn-im-show-data').click(function () {
			IMDBO_getDBData(jQuery(this).closest('form'));
		});

		jQuery('#imdbopt .btn-im-remove').click(function () {
			IMDBO_removeIndexes(jQuery(this).closest('form'));
		});
	});
</script>


<style type="text/css">
	.IMDBOptimizer .form-group 
	{
	    padding-top: 15px;
	    padding-bottom: 15px;
	    margin-bottom: 0;
	}

	.IMDBOptimizer .form-group span.blue
	{
		color: #000042;
    	font-size: 15px;
	}

	.IMDBOptimizer .clear
	{
		clear: both;
	}

	.IMDBOptimizer .well .row .form-group
	{
	    padding-top: 5px;
	    padding-bottom: 8px;
	    margin-bottom: 0;
	}

	.IMDBOptimizer .hidden
	{
		display: none;
	}
	
	select.im-product-list-select 
	{
	    height: 305px;
	}

	.IMDBOptimizer .iml-cursor
	{
		cursor: pointer;
	}
	
	.IMDBOptimizer .save-status.success,
	.IMDBOptimizer .generate-status.success,
	.IMDBOptimizer .generate-schema-status.success,
	.IMDBOptimizer .get-product-status.success,
	.IMDBOptimizer .get-delete-settings-status.success
	{
    	color: green;
	}

	.IMDBOptimizer .save-status.fail,
	.IMDBOptimizer .generate-status.fail,
	.IMDBOptimizer .generate-schema-status.fail,
	.IMDBOptimizer .get-product-status.fail,
	.IMDBOptimizer .get-delete-settings-status.fail
	{
    	color: red;
	}

	.IMDBOptimizer .textcontrol-min-height
	{
		min-height: 100px;
	}

</style>
