{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">Основные</a></li>
            <li><a href="#tab-service" data-toggle="tab">Сервис</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-4">
                  <select name="module_impex_status" id="input-status" class="form-control">
                    {% if module_impex_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
                <label class="col-sm-2 control-label" for="input-password">{{ entry_base }}</label>
                <div class="col-sm-4">
                  <input type="text" name="module_impex_base" value="{{ module_impex_base }}" placeholder="{{ entry_base }}" id="input-password" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-login">{{ entry_login }}</label>
                <div class="col-sm-4">
                  <input type="text" name="module_impex_login" value="{{ module_impex_login }}" placeholder="{{ entry_login }}" id="input-login" class="form-control" />
                </div>
                <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
                <div class="col-sm-4">
                  <input type="text" name="module_impex_password" value="{{ module_impex_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Вести статистику</label>
                <div class="col-sm-4">
                  <label class="radio-inline"> {% if module_impex_stats %}
                    <input type="radio" name="module_impex_stats" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="module_impex_stats" value="1" />
                    {{ text_yes }}
                    {% endif %} </label>
                  <label class="radio-inline"> {% if not module_impex_stats %}
                    <input type="radio" name="module_impex_stats" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="module_impex_stats" value="0" />
                    {{ text_no }}
                    {% endif %} </label>
                </div>
                <label class="col-sm-2 control-label" for="input-temp-ttl">{{ entry_temp_ttl }}</label>
                <div class="col-sm-4">
                  <div class="input-group">
                  	<input type="text" name="module_impex_temp_ttl" value="{{ module_impex_temp_ttl }}" placeholder="{{ entry_temp_ttl }}" id="input-temp-ttl" class="form-control" />
                    <div class="input-group-addon"> минут </div>
                  </div>  
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">Хранить статистику</label>
                <div class="col-sm-4">
                  <div class="input-group">
                  	<input type="text" name="module_impex_stat_ttl" value="{{ module_impex_stat_ttl }}" placeholder="Хранить статистику" id="input-stat-ttl" class="form-control" />
                    <div class="input-group-addon"> дней </div>
                  </div>  
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">
                      <span data-toggle="tooltip" title="" data-original-title="Товары в выбранных категориях будут отображаться только в этих категориях (не в родительских)"> Специальные категории </span>
				</label>
                <div class="col-sm-10">
                    <div class="well well-sm" style="min-height: 150px;max-height:300px;overflow: auto;">
                        <table class="table table-striped">
                            {% for category in categories %}
                            <tr>
                                <td class="checkbox">
                                    <label>
                                    {% if category.category_id in module_impex_categories %}
                                    <input type="checkbox" name="module_impex_categories[]" value="{{ category.category_id }}" checked="checked" />
                                    {{ category.name }}
                                    {% else %}
                                    <input type="checkbox" name="module_impex_categories[]" value="{{ category.category_id }}" />
                                    {{ category.name }}
                                    {% endif %}
                                    </label>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                </div>
                </div>
              
              
            </div>
            <div class="tab-pane" id="tab-service">
              <div class="col-sm-12">
                <div class="form-group">
                  <button id="clear_to_impex" type="button" class="btn btn-danger btn-block" ><i class="fa fa-check-circle"></i> &nbsp; Проверить и оптимизировать таблицу соответствий справочников в 1С и на сайте </button>
                </div>
                <br>
                <div class="form-group">
                  <button id="show_to_impex" type="button" class="btn btn-primary btn-block" ><i class="fa fa-check-circle"></i> &nbsp; Вывести uid + наименование + статус всех товаров в журнал ошибок </button>
                </div>
                <br>
                <button type="button" id="button-show_product" class="btn btn-warning disabled" style="margin-left: 10px;"><i class="fa fa-check-circle"></i> &nbsp; Заголовок кнопки</button>
                <button type="button" id="button-show_product" class="btn btn-primary disabled" style="margin-left: 10px;"><i class="fa fa-eye"></i> &nbsp; Заголовок кнопки</button>
                <button type="button" id="button-show_product" class="btn btn-danger" disabled style="margin-left: 10px;"><i class="fa fa-eraser"></i> &nbsp; Заголовок кнопки</button>
                <button type="button" id="button-filter_product" class="btn btn-success" disabled style="margin-left: 10px;"><i class="fa fa-filter"></i> &nbsp; Заголовок кнопки</button>
                <button type="button" id="button-filter_product" class="btn btn-default" disabled style="margin-left: 10px;"><i class="fa fa-bar-chart"></i> &nbsp; Заголовок кнопки</button>
                
              </div>
            </div>
					</div>
          
          
          
				</form>
      </div>
    </div>
  </div>
  
<style>
	#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    text-align: center;
    opacity: 0;
    transition: all 1s;
    display: none;
	}
	#spinner i {
    font-size: 233px;
    color: #bbb;
    position: absolute;
    left: -30px;
    opacity: .99;
	}
	#spinner div {
    position: absolute;
    top: 75px;
    left: 0;
    width: 238px;
    text-align: center;
    font-size: 30px;
    /*font-weight: bold;*/
    color: #3c3;
    transform: rotate(5deg);
	}
</style>          
  
<script type="text/javascript"><!--
$('#clear_to_impex').on('click', function(){
	console.log('{{ user_token }}');
	
	$.ajax({
		url: 'index.php?route=extension/module/impex/clear_to_impex&user_token={{ user_token }}',
		type: 'post',
		data: '',
		dataType: 'json',
		beforeSend: function() {
			$('#spinner').css('display','block');
			$('#spinner').css('opacity','1');
		},
		complete: function() {
			$('#spinner').css('display','none');
			$('#spinner').css('opacity','0');
		},
		success: function(json) {
//			$('.alert').remove();
//			if (json['error']) {
//				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');			
//			}
			if (json['success']) {
				console.log(json['result']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#show_to_impex').on('click', function(){
	console.log('{{ user_token }}');
	
	$.ajax({
		url: 'index.php?route=extension/module/impex/show_to_impex&user_token={{ user_token }}',
		type: 'post',
		data: '',
		dataType: 'json',
		beforeSend: function() {
			$('#spinner').css('display','block');
			$('#spinner').css('opacity','1');
		},
		complete: function() {
			$('#spinner').css('display','none');
			$('#spinner').css('opacity','0');
		},
		success: function(json) {
//			$('.alert').remove();
//			if (json['error']) {
//				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');			
//			}
			if (json['success']) {
				console.log(json['result']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});
//--></script> 

<div id="spinner">
  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
  <div><strong>ПРОЦЕСС</strong><br><small>- идет -</small></div>
</div>

{{ footer }}
<!--<?php echo $footer; ?>-->

