{{ header }}
{{ column_left }}

<div id="content">

	<div class="page-header">	
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-popup" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
				
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
		
		
	<div class="container-fluid">
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
			</div>

			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-popup" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
							{% if (error_name) %}
								<div class="text-danger">
									<script>
										usNotify('warning', '{{ error_name }}');
									</script>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<div class="toggle-group">
								<input type="checkbox" name="status" {% if status %}checked="checked"{% endif %} id="input-status" tabindex="1">
								<label for="input-status"></label>
								<div class="onoffswitch pull-left" aria-hidden="true">
									<div class="onoffswitch-label">
										<div class="onoffswitch-inner"></div>
										<div class="onoffswitch-switch"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-is_carousel">Выводить каруселью</label>
						<div class="col-sm-10">
							<div class="toggle-group">
								<input type="checkbox" name="is_carousel" {% if is_carousel %}checked="checked"{% endif %} id="input-is_carousel" tabindex="1">
								<label for="input-is_carousel"></label>
								<div class="onoffswitch pull-left" aria-hidden="true">
									<div class="onoffswitch-label">
										<div class="onoffswitch-inner"></div>
										<div class="onoffswitch-switch"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="nav nav-tabs" id="language">
						{% for language in languages %}
							<li>
								<a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a>
							</li>
						{% endfor %}
					</ul>
					<div class="tab-content">
						{% for language in languages %}
							<div class="tab-pane" id="language{{ language.language_id }}">
								<div class="form-group required">
									<label class="col-sm-2 control-label">{{ entry_heading }}</label>
									<div class="col-sm-10">
										<input type="text" name="heading[{{ language.language_id }}]" value="{{ heading[language.language_id] is not empty ? heading[language.language_id] : '' }}" class="form-control" />
										{% if (error_heading[language.language_id] is defined) %}
											<div class="text-danger">
												<script>
													usNotify('warning', '{{ error_heading[language.language_id] }}');
												</script>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-quantity_view">{{ entry_quantity_view }}</label>
						<div class="col-sm-10">
							<div class="toggle-group">
								<input type="checkbox" name="quantity_view" {% if quantity_view %}checked="checked"{% endif %} id="input-quantity_view" tabindex="1">
								<label for="input-quantity_view"></label>
								<div class="onoffswitch pull-left" aria-hidden="true">
									<div class="onoffswitch-label">
										<div class="onoffswitch-inner"></div>
										<div class="onoffswitch-switch"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
						<div class="col-sm-10">
							<input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
						</div>
					</div>
					<div class="form-group required">
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-width">{{ entry_width }}</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
									<span class="input-group-addon">px</span>
								</div>
								{% if (error_width) %}
									<div class="text-danger">
										<script>
											usNotify('warning', '{{ error_width }}');
										</script>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<label class="col-sm-4 control-label" for="input-height">{{ entry_height }}</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
									<span class="input-group-addon">px</span>
								</div>
								{% if (error_height) %}
									<div class="text-danger">
										<script>
											usNotify('warning', '{{ error_height }}');
										</script>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-sort">{{ entry_sort }}</label>
						<div class="col-sm-5">
							<select name="sort" id="input-sort" class="form-control">
								<option value="pd.name"{% if (sort == 'pd.name') %} selected="selected"{% endif %}>{{ text_pdname }}</option>
								<option value="p.price"{% if (sort == 'p.price') %} selected="selected"{% endif %}>{{ text_pprice }}</option>
								<option value="p.model"{% if (sort == 'p.model') %} selected="selected"{% endif %}>{{ text_pmodel }}</option>
								<option value="p.quantity"{% if (sort == 'p.quantity') %} selected="selected"{% endif %}>{{ text_pquantity }}</option>
								<option value="rating"{% if (sort == 'rating') %} selected="selected"{% endif %}>{{ text_rating }}</option>
								<option value="p.viewed"{% if (sort == 'p.viewed') %} selected="selected"{% endif %}>{{ text_pviewed }}</option>
								<option value="p.sort_order"{% if (sort == 'p.sort_order') %} selected="selected"{% endif %}>{{ text_psort_order }}</option>
								<option value="p.date_added"{% if (sort == 'p.date_added') %} selected="selected"{% endif %}>{{ text_pdate_added }}</option>
							</select>
						</div>
						<div class="col-sm-5">
							<select name="order" id="input-order" class="form-control">
								<option value="ASC"{% if (order == 'ASC') %} selected="selected"{% endif %}>{{ text_order_asc }}</option>
								<option value="DESC"{% if (order == 'DESC') %} selected="selected"{% endif %}>{{ text_order_desc }}</option>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$('#language a:first').tab('show');
</script>
{{ footer }}