{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">

			</div>
			<h1>{{ heading_title_order }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="well">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">{{ text_posting_number }}</label>
						<input type="text" name="filter_posting_number" value="{% if filter_posting_number %} {{ filter_posting_number }}{% endif %}" placeholder="{{ text_posting_number }}" class="form-control" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">{{ entry_status }}</label>
						<select class="form-control" name="filter_status">
							<option value="*"></option>
							{% for key,status in statuses %}
							{% if (key == filter_status) %}
							<option value="{{ key }}" selected="selected">{{ status }}</option>
							{% else %}
							<option value="{{ key }}">{{ status }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<!-- <div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">{{ text_barcode }}</label>
						<input type="text" value="" placeholder="{{ text_barcode }}" id="filter_barcode" class="form-control" />
					</div>
				</div> -->
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">{{ entry_shipment_date }}</label>
						<div class="input-group date">
							<input type="text" name="filter_shipment_date" value="{% if filter_shipment_date %} {{ filter_shipment_date }}{% endif %}" placeholder="{{ entry_shipment_date }}" data-date-format="YYYY-MM-DD" class="form-control" />
							<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							</span></div>
					</div>
					<button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
				</div>
			</div>
		</div>
		<form id="ozon_order" action="" method="post">
		<table id="postings" class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
					<td style="width:240px;" class="text-left">{% if sort == 'posting_number' %}
					<a href="{{ sort_posting_number }}" class="{{ order|lower }}">{{ text_posting_number }}</a>
					{% else %}
					<a href="{{ sort_posting_number }}">{{ text_posting_number }}</a>
					{% endif %}</td>
					<td class="text-left">{% if sort == 'status' %}
					<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
					{% else %}
					<a href="{{ sort_status }}">{{ column_status }}</a>
					{% endif %}</td>
					<td style="width:150px;" class="text-left">{% if sort == 'shipment_date' %}
					<a href="{{ sort_shipment_date }}" class="{{ order|lower }}">{{ entry_shipment_date }}</a>
					{% else %}
					<a href="{{ sort_shipment_date }}">{{ entry_shipment_date }}</a>
					{% endif %}</td>
					<td style="width:190px;" class="text-right"></td>
				</tr>
			</thead>
			<tbody>

				{% if (postings) %}
					{% for posting in postings %}
						<tr id="{{ posting.posting_number }}">
						<td class="text-center">{% if posting.posting_number in selected %}
						<input type="checkbox" name="selected[]" value="{{ posting.posting_number }}" checked="checked" />
						{% else %}
						<input type="checkbox" name="selected[]" value="{{ posting.posting_number }}" />
						{% endif %}</td>
						<td class="text-left">{{ posting.posting_number }}</td>
						<td class="text-left">{{ posting.status }}</td>
						<td class="text-left">{{ posting.shipment_date }}</td>
						<td class="text-right">
							<button type="button" class="btn btn-primary btn-sm view" value="{{ posting.posting_number }}" style="width:40px;"><i class="fa fa-eye"></i></button>
							<button type="button" class="btn btn-success btn-sm packing{{ posting.status != 'Ожидает сборки' ? ' disabled' : constant('false') }}" value="{{ posting.posting_number }}" style="width:40px;" data-id-packing="{{ posting.posting_number }}"><i class="fa fa-cubes"></i></button>
							<a href="/index.php?route=extension/module/ozon_seller/printsticker&post={{ posting.posting_number }}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="{{ text_alert_ms_admin }}" style="width:40px;"><i class="fa fa-print"></i></a>
							<button type="button" class="btn btn-danger btn-sm delete{{ posting.status != 'Ожидает сборки' ? ' disabled' : constant('false') }}" value="{{ posting.posting_number }}" data-id-delete="{{ posting.posting_number }}" data-toggle="tooltip" title="{{ text_alert_ms_del }}"><i class="fa fa-trash"></i></button>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="8">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
		</form>
		<div class="row">
			<div class="col-sm-6 text-left">{{ pagination }}</div>
			<div class="col-sm-6 text-right">{{ results }}</div>
		</div>
	</div>
</div>

{{ footer }}

<script type="text/javascript"><!--

$('#button-filter').on('click', function() {
	var url = 'index.php?route=extension/module/ozon_seller/order&user_token={{ user_token }}';

	var filter_posting_number = $('input[name=\'filter_posting_number\']').val();

	if (filter_posting_number) {
		url += '&filter_posting_number=' + encodeURIComponent(filter_posting_number);
	}

	var filter_shipment_date = $('input[name=\'filter_shipment_date\']').val();

	if (filter_shipment_date) {
		url += '&filter_shipment_date=' + encodeURIComponent(filter_shipment_date);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = url;
});

$(document).on('click', '.view', function() {
	var posting_number = $(this).attr('value');
	if ($("tr[data-id=\'" + posting_number + "\']").data()) {
		$("tr[data-id=\'" + posting_number + "\']").remove();
	} else {
		$.ajax({
			url: '/index.php?route=extension/module/ozon_seller/getorderozonadmin&cron_pass={{ ozon_seller_cron_pass }}&posting=' + posting_number,
			success: function(respon) {
				var posting = $.parseJSON(respon);
				$.ajax({
					url: 'index.php?route=extension/module/ozon_seller/vieworder&user_token={{ user_token }}&postingnumber=' + posting_number,
					type: 'POST',
					data: { posting:posting },
					success: function(data) {
						$('#' + posting_number).after(data);
						init_magnificPopup();
					}
				});
			},
		  error: function(xhr, ajaxOptions, thrownError) {
		    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		  }
		});
	}
});

$(document).on('click', '.packing', function() {
	var posting_number = $(this).attr('value');
	$.ajax({
		url: '/index.php?route=extension/module/ozon_seller/packorderadmin&cron_pass={{ ozon_seller_cron_pass }}&posting=' + posting_number,
		success: function(respon) {
			$("button[data-id-packing=\'" + posting_number + "\']").addClass('disabled');
			$("button[data-id-delete=\'" + posting_number + "\']").addClass('disabled');
			console.log(respon);
			if (respon == 'Отправление уже было собрано') {
				alert('Отправление уже было собрано');
			}
		},
	  error: function(xhr, ajaxOptions, thrownError) {
	    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
	  }
	});
});

$(document).on('click', '.delete', function() {
	var posting_number = $(this).attr('value');
	$.ajax({
		url: '/index.php?route=extension/module/ozon_seller/deleteorder&cron_pass={{ ozon_seller_cron_pass }}&posting=' + posting_number,
		success: function(data) {
			$('#' + posting_number).remove();
		},
	  error: function(xhr, ajaxOptions, thrownError) {
	    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
	  }
	});
});

$(document).on('click', '#checkbox-update', function() {
	$.ajax({
		url: 'index.php?route=extension/module/ozon_seller/updateproductozon&user_token={{ user_token }}',
		type: "POST",
		data: $("#ozon_products").serialize(),
		success: function() {
			location.reload();
		}
	});
});

$('.date').datetimepicker({
	pickTime: false
});

function init_magnificPopup(){
	$('.image-popup').magnificPopup({
		type: 'image'
	});
}
//--></script>
