{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				{{ btn_update_status }}
				<button type="button" id="checkbox-update" data-toggle="tooltip" title="{{ update_products_ozon }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
				<button type="button" data-toggle="tooltip" title="{{ text_download_product }}" class="btn btn-primary download-product"><i class="fa fa-download"></i></button>
				<button type="button" class="btn btn-primary update-status-product" data-toggle="tooltip" title="{{ text_status_product }}"><i class="fa fa-exchange"></i></button>
			</div>
			<h1>{{ heading_title_my_product }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="log_process"></div>
		<div class="well">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label" for="input-name">{{ entry_name }}</label>
						<input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label" for="input-sku">{{ entry_sku }}</label>
						<input type="text" name="filter_sku" value="{{ filter_sku }}" placeholder="{{ entry_sku }}" id="input-sku" class="form-control" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label" for="input-model">{{ entry_model }}</label>
						<input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label" for="select-status">{{ entry_status }}</label>
						<select class="form-control" name="filter_status">
							<option value="*"></option>
							{% for key,status in statuses %}
							{% if key == filter_status %}
							<option value="{{ key }}" selected="selected">{{ status }}</option>
							{% else %}
							<option value="{{ key }}">{{ status }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					<button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
				</div>
			</div>
		</div>
		<form id="ozon_products" action="" method="post">
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
					<td class="text-left">
					{% if sort == 'pd.name' %}
					<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
					{% else %}
					<a href="{{ sort_name }}">{{ column_name }}</a>
					{% endif %}</td>
					<td class="text-left">
					{% if sort == 'p.model' %}
					<a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a>
					{% else %}
					<a href="{{ sort_model }}">{{ column_model }}</a>
					{% endif %}</td>
					<td class="text-left">
					{% if sort == 'p.sku' %}
					<a href="{{ sort_sku }}" class="{{ order|lower }}">{{ column_sku }}</a>
					{% else %}
					<a href="{{ sort_sku }}">{{ column_sku }}</a>
					{% endif %}</td>
					<td class="text-left">
					{% if sort == 'p.status' %}
					<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
					{% else %}
					<a href="{{ sort_status }}">{{ column_status }}</a>
					{% endif %}</td>
					<td class="text-left">
					{% if sort == 'p.date' %}
					<a href="{{ sort_date }}" class="{{ order|lower }}">{{ column_date }}</a>
					{% else %}
					<a href="{{ sort_date }}">{{ column_date }}</a>
					{% endif %}</td>
					<td class="text-left">{{ text_error }}</td>
					<td style="width:150px;" class="text-right"></td>
				</tr>
			</thead>
			<tbody>
				{% if products %}
				{% for product in products %}
				<tr id="{{ product.ozon_product_id }}">
				<td class="text-center">{% if product.product_id in selected %}
				<input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
				{% else %}
				<input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
				{% endif %}</td>
				<td class="text-left">{{ product.name }}</td>
				<td class="text-left">{{ product.model }}</td>
				<td class="text-left">{{ product.sku }}</td>
				<td class="text-left">{{ product.status }}</td>
				<td class="text-left">{{ product.date }}</td>
				<td class="text-left">{{ product.error }}</td>
				<td class="text-right">
					<button type="button" class="btn btn-primary btn-sm update" id="update{{ product.product_id }}" value="{{ product.product_id }}" data-toggle="tooltip" title="{{ button_update_ozon }}"><i class="fa fa-refresh"></i></button>
					<button type="button" class="btn btn-danger btn-sm archive" value="{{ product.ozon_product_id }}" data-toggle="tooltip" title="{{ button_delete_ozon }}"><i class="fa fa-trash-o"></i></button>
					{{ product.view_ozon }}
					<a href="index.php?route=catalog/product/edit&user_token={{ user_token }}&product_id={{ product.product_id }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-pencil"></i></a></td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
				<td class="text-center" colspan="8">{{ text_no_results }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		</form>
		<div class="row">
			<div class="col-sm-6 text-left">{{ pagination }}</div>
			<div class="col-sm-6 text-right">{{ results }}</div>
		</div>
	</div>
</div>

{{ footer }}

<script type="text/javascript"><!--

$('#button-filter').on('click', function() {
	var url = 'index.php?route=extension/module/ozon_seller/product&user_token={{ user_token }}';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_sku = $('input[name=\'filter_sku\']').val();

	if (filter_sku) {
		url += '&filter_sku=' + encodeURIComponent(filter_sku);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = url;
});

$(document).on('click', '.archive', function() {
	var product_id = $(this).attr('value');
	$.ajax({
		url: '/index.php?route=extension/module/ozon_seller/archive&cron_pass={{ ozon_seller_cron_pass }}&product_id=' + product_id,
		success: function(respon) {
			if (respon == true) {
				$('#' + product_id).remove();
			} else {
				alert(respon);
			}
		}
	});
});

$(document).on('click', '.update', function() {
	var product_id = $(this).attr('value');
	$.ajax({
		url: 'index.php?route=extension/module/ozon_seller/updateproductozon&user_token={{ user_token }}&product_shop_id=' + product_id,
		success: function() {
			$('#update' + product_id).removeClass('btn-primary');
			$('#update' + product_id).addClass('btn-success');
		}
	});

});

$(document).on('click', '#checkbox-update', function() {
	$.ajax({
		url: 'index.php?route=extension/module/ozon_seller/updateproductozon&user_token={{ user_token }}',
		type: "POST",
		data: $("#ozon_products").serialize(),
		success: function() {
			location.reload();
		}
	});
});

$(document).on('click', '.download-product', function() {
	$.ajax({
		url: '/index.php?route=extension/module/ozon_seller/downloadproduct&cron_pass={{ ozon_seller_cron_pass }}',
		beforeSend: function() {
			$('.download-product').button('loading');
		},
		success: function(html) {
			alert(html);
			location.reload();
		}
	});
});

//обновить статусы товара
$('.update-status-product').on('click', function() {
	$.ajax({
		url: '{{ url_update_status_product }}',
		beforeSend: function() {
			$('.update-status-product').button('loading');
		},
		success: function() {
			$('.update-status-product').button('reset');
            location.reload();
		}
	});
	var interval = 700;
	function doAjax() {
		$.ajax({
			url: "/system/ozon_seller_process.txt",
			cache: false,
			success: function(html){

				$(".log_process").empty();
				$(".log_process").append("<div class=\"alert alert-success\">" + html + "</div>");
			},
			complete: function (data) {
				setTimeout(doAjax, interval);
			}
		});
	}
	setTimeout(doAjax, interval);
});

//--></script>
