{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            {% if error_warning %}
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success alert-dismissible" role="alert"><i
                            class="fa fa-check-circle"></i> {{ success }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
            {% endif %}

            <div class="pull-right">
                <a href="{{ url_order }}" target="_blank" class="btn btn-default">{{ order_ozon }}</a>
                <a href="{{ url_product }}" target="_blank" class="btn btn-default">{{ product }}</a>
                {{ '&nbsp' ~ button_download_attr }}
                <button type="submit" form="form-ozon-seller" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a>
            </div>

            <h1>{{ heading_title }}</h1>

            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div class="log_process"></div>
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-ozon-seller"
                      class="form-horizontal">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-filter" data-toggle="tab">{{ tab_filter }}</a></li>
                        <li><a href="#tab-category" data-toggle="tab">{{ tab_category }}</a></li>
                        <li><a href="#tab-attribute" data-toggle="tab">{{ tab_attribute }}</a></li>
                        <li><a href="#tab-manufacturer" data-toggle="tab">{{ tab_manufacturer }}</a></li>
                        <li><a href="#tab-setting" data-toggle="tab">{{ tab_setting }}</a></li>
                        <li><a href="#tab-order" data-toggle="tab">{{ tab_order }}</a></li>
                        <li><a href="#tab-cron" data-toggle="tab">{{ tab_cron }}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-client">{{ entry_client_id }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="ozon_seller_client_id" value="{{ ozon_seller_client_id }}"
                                           id="input-client-id" class="form-control">
                                    {% if error_client_id %}
                                        <div class="text-danger">{{ error_client_id }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-api-key">{{ entry_api_key }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="ozon_seller_api_key" value="{{ ozon_seller_api_key }}"
                                           id="input_api_key" class="form-control">
                                    {% if error_api_key %}
                                        <div class="text-danger">{{ error_api_key }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-cron-pass">{{ cron_pass }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="ozon_seller_cron_pass" value="{{ ozon_seller_cron_pass }}"
                                           class="form-control">
                                    {% if error_cron_pass %}
                                        <div class="text-danger">{{ error_cron_pass }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_offer_id }}<span data-toggle="tooltip"
                                                                                                title="{{ help_entry_offer_id }}"></span></label>
                                <div class="col-sm-10">
                                    <select name="ozon_seller_entry_offer_id" class="form-control">
                                        {% if ozon_seller_entry_offer_id %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-weight-class">{{ entry_g }}</label>
                                <div class="col-sm-10">
                                    <select name="ozon_seller_weight" id="input-weight-class" class="form-control">
                                        {% for weight_class in weight_classes %}
                                            {% if weight_class.weight_class_id == ozon_seller_weight %}
                                                <option value="{{ ozon_seller_weight }}"
                                                        selected="selected">{{ weight_class.title }}</option>
                                            {% else %}
                                                <option value="{{ weight_class.weight_class_id }}">{{ weight_class.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-length-class">{{ entry_sm }}</label>
                                <div class="col-sm-10">
                                    <select name="ozon_seller_length" id="input-length-class" class="form-control">
                                        {% for length_class in length_classes %}
                                            {% if length_class.length_class_id == ozon_seller_length %}
                                                <option selected="selected"
                                                        value="{{ length_class.length_class_id }}">{{ length_class.title }}</option>
                                            {% else %}
                                                <option value="{{ length_class.length_class_id }}">{{ length_class.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_act }}<span data-toggle="tooltip"
                                                                                          title="{{ help_act }}"></span></label>
                                <div class="col-sm-10">
                                    <select name="ozon_seller_act" class="form-control">
                                        {% if ozon_seller_act %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="ozon_seller_status" id="input-status" class="form-control">
                                        {% if ozon_seller_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-file-text-o"></i> {{ text_log }}</h3>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea wrap="off" rows="15" readonly class="form-control">{{ log }}</textarea>
                                    <a href='{{ clear }}' data-toggle="tooltip" class="btn btn-danger btn-lg btn-block"><i
                                                class="fa fa-eraser"></i></a>
                                </div>
                            </div>

                        </div>
                        
                        <div class="tab-pane" id="tab-filter">
                            <div class="col-sm-12" id="autoSettings">
                                <div class="form-group">
                                    <div class="settings"></div>
                                    <a id="addFilterSetting"><i class="fa fa-2x fa-plus-circle"></i></a>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                              <div class="col-sm-6">
                                <h4>
                                  Дополнительные настройки и фильтры (элементы контроля)
                                </h4>
                                  <p class="bold">Основные</p>
                                  <div>
                                    <label>Производитель <input type="checkbox"{% if ozon_seller_additional_settings['manufacturer'] %} checked{% endif%} id="additionalManufacturer" name="ozon_seller_additional_settings[manufacturer]" value="1"></label>&nbsp;&nbsp;&nbsp;
                                    <label>SKU <input type="checkbox"{% if ozon_seller_additional_settings['sku'] %} checked{% endif%} id="additionalSku" name="ozon_seller_additional_settings[sku]" value="1"></label>&nbsp;&nbsp;&nbsp;
                                    <label>Габариты <input type="checkbox"{% if ozon_seller_additional_settings['dimensions'] %} checked{% endif%} id="additionalDimensions" name="ozon_seller_additional_settings[dimensions]" value="1"></label>&nbsp;&nbsp;&nbsp;
                                    <label>Вес <input type="checkbox"{% if ozon_seller_additional_settings['weight'] %} checked{% endif%} id="additionalWeight" name="ozon_seller_additional_settings[weight]" value="1"></label>
                                    <label>Спец. цена <input type="checkbox"{% if ozon_seller_additional_settings['spec_price'] %} checked{% endif%} id="additionalSpecPrice" name="ozon_seller_additional_settings[spec_price]" value="1"></label>
                                    <label>Акция <input type="checkbox"{% if ozon_seller_additional_settings['discount_price'] %} checked{% endif%} id="additionalDiscountPrice" name="ozon_seller_additional_settings[discount_price]" value="1"></label>
                                  </div>                                
                              </div>
                                <div class="col-sm-6">
                                  <p class="bold">Дополнительные на основе атрибутов</p>
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <input type="text" placeholder="Название атрибута" id="input-attributes" class="form-control" />
                                      <div id="product-attributes" class="well well-sm" style="height: 150px; overflow: auto;">
                                      {% for attribute in ozon_seller_additional_settings['attributes'] %}
                                          <div>
                                            <i class="fa fa-minus-circle"></i> {{ attribute['name'] }}
                                            <input type="hidden" name="ozon_seller_additional_settings[attributes][]" value="{{ attribute['attribute_id'] }}" />
                                          </div>
                                      {% endfor %}
                                      </div>
                                    </div>
                                  </div>
                                </div>                                                            
                            </div>
            
                          <div class="col-sm-12">
                            <div class="form-group" style="line-height: 30px">
                              <div class="row">
                                <div class="col-sm-2">
                                  <label class="col-sm-8 control-label">
                                    Расчет маржи
                                  </label>
                                  <div class="col-sm-4">
                                    <div class="toggle-group">
                                      <input type="checkbox"{% if ozon_seller_additional_settings['marginOn'] %} checked{% endif%} name="ozon_seller_additional_settings[marginOn]" value="1" id="marginOn" tabindex="1">
                                      <label for="marginOn"></label>
                                      <div class="onoffswitch pull-left" aria-hidden="true">
                                        <div class="onoffswitch-label">
                                          <div class="onoffswitch-inner"></div>
                                          <div class="onoffswitch-switch"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
        
                                <div class="col-sm-2 form-inline">
                                  <label class="control-label">
                                    процент маржи
                                  </label>
                                  <input class="form-control width100" type="number" value="{{ ozon_seller_additional_settings['marginPercent'] }}" name="ozon_seller_additional_settings[marginPercent]" id="marginPercent">
                                </div>
        
                                <div class="col-sm-4 form-inline">
                                  <label class="control-label">
                                    порог применения суммы от
                                  </label>
                                  <input class="form-control width100" type="number" value="{{ ozon_seller_additional_settings['marginSumStart'] }}" name="ozon_seller_additional_settings[marginSumStart]" id="marginSumStart">
                                  <label class="control-label">до</label>
                                  <input class="form-control width100" type="number" value="{{ ozon_seller_additional_settings['marginSumEnd'] }}" name="ozon_seller_additional_settings[marginSumEnd]" id="marginSumEnd">
                                </div>
        
                              </div>
                            </div>
                          </div>  

                            <div class="col-sm-12">
                                <div class="form-group" style="line-height: 30px">
                                    <div class="row">
                                        <label class="col-sm-2 control-label">{{ text_product_blacklist }}<span
                                                    data-toggle="tooltip"
                                                    title="{{ help_product_blacklist }}"></span></label>
                                        <div class="col-sm-8">
                                            <input type="text" value="" id="product-blacklist"
                                                   class="form-control"/>
                                        </div>                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-8">
                                            <div id="blacklist-product" class="well well-sm"
                                                 style="height: 465px; overflow: auto;">
                                                {% for product_bl in blacklist %}
                                                    <div id="blacklist-product{{ product_bl['product_id'] }}"><i
                                                                class="fa fa-minus-circle"></i> {{ product_bl['name'] }}
                                                        <input type="hidden" name="ozon_seller_product_blacklist[]"
                                                               value="{{ product_bl['product_id'] }}"/>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-category">

                            <div class="form-group">
                                <div class="table-responsive" style="padding:0 10px;">
                                    <table id="category" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td>{{ category_shop }}</td>
                                            <td>{{ category_ozon }}</td>
                                            <td></td>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% set category_row = 0 %}

                                        {% if ozon_seller_category %}
                                            {% for category_in in ozon_seller_category %}
                                                <tr id="category_row{{ category_row }}">
                                                    <td>
                                                        <div class="alert alert-info">
                                                            {% for category in categories %}
                                                                {% if category_in.shop == category.category_id %}
                                                                    {{ '(id ' ~ category_in.shop ~ ') ' ~ category.name }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <input type="hidden"
                                                               name="ozon_seller_category[{{ category_row }}][shop]"
                                                               value="{{ category_in.shop }}"/>

                                                        {% if dictionarys_ozon is not empty %}
                                                            <div class="input-group">
                                                                <span class="input-group-addon">{{ text_type }}</span>
                                                                <select name="ozon_seller_category[{{ category_row }}][type]"
                                                                        class="form-control">
                                                                    <option value="0"></option>
                                                                    {% for dictionary_ozon in dictionarys_ozon %}
                                                                        {% if dictionary_ozon.category_id == category_in.ozon %}
                                                                            {% if category_in.type is defined and category_in.type == dictionary_ozon.attribute_value_id %}
                                                                                <option selected="selected"
                                                                                        value="{{ category_in.type }}">{{ dictionary_ozon.text }}</option>
                                                                            {% else %}
                                                                                <option value="{{ dictionary_ozon.attribute_value_id }}">{{ dictionary_ozon.text }}</option>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    <option value="attr" {{ category_in.type is defined and category_in.type == 'attr' ? 'selected="selected"' : '' }}>{{ text_type_to_attr }}</option>
                                                                </select>
                                                            </div>
                                                            {% if category_in.type is defined and category_in.type == 'attr' %}
                                                                <div style="margin-top:5px;">
                                                                    <button class="btn btn-primary btn-sm btn-block modal-type"
                                                                            type="button"
                                                                            value="{{ category_in.ozon }}">{{ button_type_to_attr }}</button>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        <div class="alert alert-info">
                                                            {% for ozon_category in ozon_categories %}
                                                                {{ category_in.ozon == ozon_category.ozon_category_id ? '(id ' ~ category_in.ozon ~ ') ' ~ozon_category.title : constant('false') }}
                                                            {% endfor %}
                                                        </div>
                                                        <input type="hidden"
                                                               name="ozon_seller_category[{{ category_row }}][ozon]"
                                                               value="{{ category_in.ozon }}"/>

                                                        <label class="col-sm-2 control-label">{{ default_size_ozon }}
                                                            <span data-toggle="tooltip"
                                                                  title="{{ help_default_size_ozon }}"></span></label>

                                                        <div class="col-sm-2">
                                                            {{ text_length }}
                                                            <input class="form-control" type="text"
                                                                   name="ozon_seller_category[{{ category_row }}][length]"
                                                                   value="{{ category_in.length }}"/>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            {{ text_width }}
                                                            <input class="form-control" type="text"
                                                                   name="ozon_seller_category[{{ category_row }}][width]"
                                                                   value="{{ category_in.width }}"/>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            {{ text_height }}
                                                            <input class="form-control" type="text"
                                                                   name="ozon_seller_category[{{ category_row }}][height]"
                                                                   value="{{ category_in.height }}"/>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            {{ text_weight }}
                                                            <input class="form-control" type="text"
                                                                   name="ozon_seller_category[{{ category_row }}][weight]"
                                                                   value="{{ category_in.weight }}"/>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            {{ text_stop_export }}
                                                            <input type="checkbox" class="form-control"
                                                                   name="ozon_seller_category[{{ category_row }}][stop]" {% if category_in.stop is defined %} {{ 'checked' }}{% endif %} />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                                onclick="$('#category_row{{ category_row }}').remove();"
                                                                data-toggle="tooltip" title="{{ button_remove }}"
                                                                class="btn btn-danger"><i
                                                                    class="fa fa-minus-circle"></i></button>
                                                    </td>
                                                </tr>

                                                {% set category_row = category_row + 1 %}
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="text-left">
                                                <button type="button" id="addCategory" data-toggle="tooltip"
                                                        title="{{ button_add }}" class="btn btn-primary"><i
                                                            class="fa fa-plus-circle"></i></button>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ get_category_ozon }}<span data-toggle="tooltip"
                                                                                                   title="{{ help_get_category_ozony }}"></span></label>

                                <button type="button" class="btn btn-primary btn-sm" id="download_category"><i
                                            class="fa fa-download"></i> {{ button_download }}</button>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-attribute">

                            {% if attributes_ozon_description is not empty %}

                                <div class="form-group">
                                    {% if ozon_categories is not empty %}
                                        <div class="col-sm-8">
                                            <select id="table-attribute-filters" class="form-control">
                                                {% for filter_category in ozon_categories %}
                                                    <option value="{{ filter_category.ozon_category_id }}">{{ filter_category.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="button"
                                                class="btn btn-primary button-attribute-filter">{{ button_filter_att }}</button>
                                    {% endif %}
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td style="display:none;"></td>
                                            <td>{{ att_ozon }}</td>
                                            <td>{{ att_shop }}</td>
                                            <td>{{ dictionary }}</td>
                                        </tr>
                                        </thead>
                                        <tbody id="table-attribute">
                                        {% for description in attributes_ozon_description %}
                                            <tr>
                                                <td style="display:none;">
                                                    {% for attribute_ozon in attributes_ozon %}
                                                        {% if description.ozon_attribute_id == attribute_ozon.ozon_attribute_id %}
                                                            {{ attribute_ozon.ozon_category_id ~ ' ' }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    <label data-required="{{ description.ozon_attribute_id }}"
                                                           class="control-label">{{ description.ozon_attribute_name }}
                                                        {% if description.ozon_attribute_description %}
                                                            <span data-toggle="tooltip"
                                                                  title="{{ description.ozon_attribute_description }}"></span>
                                                        {% endif %}
                                                    </label>
                                                </td>
                                                <td>

                                                    {% set attribut_shop_name = '' %}
                                                    {% set attribut_shop_id = '' %}

                                                    {% for attribut_shop in attributes_shop %}
                                                        {% if ozon_seller_attribute[description.ozon_attribute_id] is defined and ozon_seller_attribute[description.ozon_attribute_id] == attribut_shop.attribute_id %}

                                                            {% set attribut_shop_name = attribut_shop.name %}
                                                            {% set attribut_shop_id = attribut_shop.attribute_id %}

                                                        {% endif %}
                                                    {% endfor %}

                                                    <input type="text" class="form-control attr-search"
                                                           data-id="{{ description.ozon_attribute_id }}"
                                                           value="{{ attribut_shop_name }}"/>

                                                    <input type="hidden"
                                                           name="ozon_seller_attribute[{{ description.ozon_attribute_id }}]"
                                                           value="{{ attribut_shop_id }}"/>
                                                </td>
                                                <td>
                                                    {% if description.ozon_dictionary_id %}
                                                        <button type="button"
                                                                class="btn btn-primary btn-block modal-dictionary-show"
                                                                value="{{ description.ozon_attribute_id ~ description.ozon_dictionary_id }}">{{ dictionary }}</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="alert alert-info">{{ help_attribute }}</div>
                                <button type="button"
                                        class="btn btn-danger btn-sm btn-block reload-attribute">{{ text_reload_attribute }}</button>
                            {% endif %}
                        </div>

                        <div class="tab-pane" id="tab-manufacturer">

                            <div class="form-group hidden">
                                <label class="col-sm-2 control-label">{{ manufacturer_stop }}</label>
                                <div class="col-sm-9">
                                    <div class="well well-sm" style="height:350px; overflow:auto;">
                                        {% for manufacturer in manufacturers %}
                                            <div class="checkbox">
                                                {% if manufacturer.manufacturer_id in ozon_seller_manufacturer_stop %}
                                                    <label><input type="checkbox" name="ozon_seller_manufacturer_stop[]"
                                                                  value="{{ manufacturer.manufacturer_id }}"
                                                                  checked="checked"/></label>
                                                {% else %}
                                                    <label><input type="checkbox" name="ozon_seller_manufacturer_stop[]"
                                                                  value="{{ manufacturer.manufacturer_id }}"/></label>
                                                {% endif %}
                                                {{ manufacturer.name }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="col-sm-6" style="padding-left:0">
                                        <select class="form-control" id="manufacturer-select">
                                            {% for ozon_categorie in ozon_categories %}
                                                <option value="{{ ozon_categorie.ozon_category_id }}">{{ ozon_categorie.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" id="manufacturer-download" class="btn btn-primary"
                                                target="_blank">{{ manufacturer_download }}</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button type="button" id="manufacturer-set"
                                            class="btn btn-primary">{{ manufacturer_compare }}</button>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-setting">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="test-export">{{ text_test }}</label>
                                <div class="col-sm-2">
                                    <select name="ozon_seller_test_export" id="test-export" class="form-control">
                                        {% if ozon_seller_test_export %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_stocks_null }}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="form-control"
                                           name="ozon_seller_stocks_null" {% if ozon_seller_stocks_null %} {{ 'checked' }}{% endif %} />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_limit }}<span data-toggle="tooltip"
                                                                                            title="{{ help_limit }}"></span></label>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" name="ozon_seller_limit"
                                           value="{{ ozon_seller_limit }}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_warehouse_ozon }}</label>
                                <div class="col-sm-2">
                                    <select name="ozon_seller_warehouse_ozon" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_nds }}<span data-toggle="tooltip"
                                                                                          title="{{ help_nds }}"></span></label>
                                <div class="col-sm-2">
                                    <select name="ozon_seller_nds" class="form-control">
                                        {% for key,nds in nalog_nds %}
                                            <option value="{{ key }}" {{ ozon_seller_nds == key ? 'selected="selected"' : '' }}>{{ nds }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_fictitious_price }}<span
                                            data-toggle="tooltip" title="{{ help_fictitious_price }}"></span></label>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" name="ozon_seller_fictitious_price"
                                           value="{{ ozon_seller_fictitious_price }}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_price }}<span data-toggle="tooltip"
                                                                                            title="{{ help_price }}"></span></label>
                                <div class="col-sm-2">
                                    {{ text_highway }}
                                    <input class="form-control" type="text" name="ozon_seller_highway"
                                           value="{{ ozon_seller_highway }}"/>
                                </div>
                                <div class="col-sm-2">
                                    {{ text_percent }}
                                    <input class="form-control" type="text" name="ozon_seller_percent"
                                           value="{{ ozon_seller_percent }}"/>
                                </div>
                                <div class="col-sm-2">
                                    {{ text_ruble }}
                                    <input class="form-control" type="text" name="ozon_seller_ruble"
                                           value="{{ ozon_seller_ruble }}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_last_mile }}<span data-toggle="tooltip"
                                                                                                title="{{ help_last_mile }}"></span></label>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-control"
                                           name="ozon_seller_last_mile" {% if ozon_seller_last_mile %} {{ 'checked' }}{% endif %} />
                                </div>

                                <div class="col-sm-2">
                                    {{ text_min_last_mile }}
                                    <input class="form-control" type="text" name="ozon_seller_min_last_mile"
                                           value="{{ ozon_seller_min_last_mile }}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_price_round }}</label>
                                <div class="col-sm-4">
                                    <select name="ozon_seller_price_round" class="form-control">
                                        {% for key,round_price in price_round %}
                                            <option value="{{ key }}" {{ ozon_seller_price_round == key ? 'selected="selected"' : '' }}>{{ round_price }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_description }}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="form-control"
                                           name="ozon_seller_description" {% if ozon_seller_description %} {{ 'checked' }}{% endif %} />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_atrribute }}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="form-control"
                                           name="ozon_seller_attribute_description" {% if ozon_seller_attribute_description %} {{ 'checked' }}{% endif %} />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_export_stock_null }}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="form-control"
                                           name="ozon_seller_export_stock_null" {% if ozon_seller_export_stock_null %} {{ 'checked' }}{% endif %} />
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-order">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_status_order_oc }}</label>
                                <div class="col-sm-3">
                                    <select name="ozon_seller_status_order_oc" class="form-control">
                                        {% if ozon_seller_status_order_oc %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_status_new }}</label>
                                <div class="col-sm-3">
                                    <select name="ozon_seller_status_new" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status['order_status_id'] == ozon_seller_status_new %}
                                                <option value="{{ order_status['order_status_id'] }}"
                                                        selected="selected">{{ order_status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ awaiting_deliver }}</label>
                                <div class="col-sm-3">
                                    <select name="ozon_seller_status_deliver" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status['order_status_id'] == ozon_seller_status_deliver %}
                                                <option value="{{ order_status['order_status_id'] }}"
                                                        selected="selected">{{ order_status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ cancelled }}</label>
                                <div class="col-sm-3">
                                    <select name="ozon_seller_status_cancel" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status['order_status_id'] == ozon_seller_status_cancel %}
                                                <option value="{{ order_status['order_status_id'] }}"
                                                        selected="selected">{{ order_status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ delivering }}</label>
                                <div class="col-sm-3">
                                    <select name="ozon_seller_status_shipping" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status['order_status_id'] == ozon_seller_status_shipping %}
                                                <option value="{{ order_status['order_status_id'] }}"
                                                        selected="selected">{{ order_status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ delivered }}</label>
                                <div class="col-sm-3">
                                    <select name="ozon_seller_status_delevered" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status['order_status_id'] == ozon_seller_status_delevered %}
                                                <option value="{{ order_status['order_status_id'] }}"
                                                        selected="selected">{{ order_status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ returned }}</label>
                                <div class="col-sm-3">
                                    <select name="ozon_seller_status_return" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status['order_status_id'] == ozon_seller_status_return %}
                                                <option value="{{ order_status['order_status_id'] }}"
                                                        selected="selected">{{ order_status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ text_product_price_oc }}</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="form-control"
                                           name="ozon_seller_product_price_oc" {% if ozon_seller_product_price_oc %} {{ 'checked' }}{% endif %} />
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="tab-cron">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ cron_url_update }}</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" value="{{ update_url }}" class="form-control"
                                           readonly="readonly"/>
                                    <span class="input-group-btn"><a href="{{ update_url }}" class="btn btn-success"
                                                                     target="_blank"><i
                                                    class="fa fa-arrow-right"></i></a></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ cron_url_import }}</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" value="{{ import_url }}" class="form-control"
                                           readonly="readonly"/>
                                    <span class="input-group-btn"><a href="{{ import_url }}" class="btn btn-success"
                                                                     target="_blank"><i
                                                    class="fa fa-arrow-right"></i></a></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ cron_url_order_in_ms }}</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" value="{{ url_order_in_ms }}" class="form-control"
                                           readonly="readonly"/>
                                    <span class="input-group-btn"><a href="{{ url_order_in_ms }}"
                                                                     class="btn btn-success" target="_blank"><i
                                                    class="fa fa-arrow-right"></i></a></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ cron_url_final_status }}</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" value="{{ url_final_status }}" class="form-control"
                                           readonly="readonly"/>
                                    <span class="input-group-btn"><a href="{{ url_final_status }}"
                                                                     class="btn btn-success" target="_blank"><i
                                                    class="fa fa-arrow-right"></i></a></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ cron_update_ozon_product_status }}</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" value="{{ url_update_ozon_product_status }}" class="form-control"
                                           readonly="readonly"/>
                                    <span class="input-group-btn"><a href="{{ url_update_ozon_product_status }}"
                                                                     class="btn btn-success" target="_blank"><i
                                                    class="fa fa-arrow-right"></i></a></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="alert alert-info" role="alert">{{ help_cron }}</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <input type="hidden" name="ozon_seller_version" value="{{ heading_title }}"/>
                </form>
            </div>
        </div>
    </div>
</div>

{{ footer }}

<script type="text/javascript"><!--
    let showLogProcess = function (interval) {
        $.ajax({
            url: "/system/ozon_seller_process.txt",
            cache: false,
            success: function (html) {
                $(".log_process").empty();
                $(".log_process").append("<div class=\"alert alert-success\">" + html + "</div>");
            },
            complete: function (data) {
                setTimeout(() => showLogProcess(interval), interval);
            }
        });
    }

    let category_row = {{ category_row }};

    $(document).delegate('#addCategory', 'click', function addCategory() {
        html = '<tr id="category_row' + category_row + '">';
        html += ' <td>';
        html += '	<input class="form-control" type="text" name="shopcatsearch' + category_row + '" />';
        html += '	<input type="hidden" name="ozon_seller_category[' + category_row + '][shop]" value="0" />';
        html += ' </td>';
        html += ' <td>';
        html += '	<input class="form-control" type="text" name="ozoncatsearch' + category_row + '" />';
        html += '	<input type="hidden" name="ozon_seller_category[' + category_row + '][ozon]" value="0" />';
        html += ' </td>';
        html += ' <input type="hidden" name="ozon_seller_category[' + category_row + '][length]" value="10" /> <input type="hidden" name="ozon_seller_category[' + category_row + '][width]" value="10" /> <input type="hidden" name="ozon_seller_category[' + category_row + '][height]" value="10" /> <input type="hidden" name="ozon_seller_category[' + category_row + '][weight]" value="900" />';
        html += ' <td class="text-left"><button type="button" onclick="$(\'#category_row' + category_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#category tbody').append(html);

        // +++ Живой поиск категорий +++
        let imputNameOzonView = 'ozoncatsearch' + category_row;
        let imputNameOzonHidden = 'ozon_seller_category[' + category_row + '][ozon]';

        $('input[name=\'' + imputNameOzonView + '\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=extension/module/ozon_seller/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['title'],
                                value: item['ozon_category_id']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('input[name=\'' + imputNameOzonView + '\']').val(item['label']);
                $('input[name=\'' + imputNameOzonHidden + '\']').val(item['value']);
            }
        });

        let imputNameShopView = 'shopcatsearch' + category_row;
        let imputNameShopHidden = 'ozon_seller_category[' + category_row + '][shop]';

        $('input[name=\'' + imputNameShopView + '\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['category_id']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('input[name=\'' + imputNameShopView + '\']').val(item['label']);
                $('input[name=\'' + imputNameShopHidden + '\']').val(item['value']);
            }
        });

        $('.dropdown-menu').addClass('scrollable');
        $('.scrollable').css({'height': 'auto', 'max-height': '30em', 'overflow-x': 'hidden'});

        category_row++;
    });

    $('#download_category').on('click', function () {
        $.ajax({
            url: '/index.php?route=extension/module/ozon_seller/getcategoryozon&cron_pass={{ ozon_seller_cron_pass }}',
            beforeSend: function () {
                $('#download_category').button('loading');
            },
            success: function () {
                $('#download_category').button('reset');
                document.location.reload();
            }
        });
        
        setTimeout(() => showLogProcess(1000), 1000);
    });

    $('#manufacturer-download').on('click', function () {
        let select = $('#manufacturer-select').val();
        $.ajax({
            url: '{{ url_manufacturer_download }}&category=' + select,
            beforeSend: function () {
                $('#manufacturer-download').button('loading');
            },
            success: function (html) {
                $('#manufacturer-download').button('reset');
                document.location.reload();
            }
        });

        setTimeout(() => showLogProcess(1000), 1000);
    });

    $('.load-attribute').on('click', function () {
        $.ajax({
            url: '/index.php?route=extension/module/ozon_seller/loadattributes&cron_pass={{ ozon_seller_cron_pass }}',
            beforeSend: function () {
                $('.load-attribute').button('loading');
            },
            success: function (data) {
                document.location.reload();
            }
        });
        
        setTimeout(() => showLogProcess(1000), 1000);
    });

    // Живой поиск атрибутов магазина
    $('.attr-search').focus(function () {
        ozonAttrId = $(this).attr('data-id');
    });

    $('.attr-search').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=catalog/attribute/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    json.unshift(
                        {
                            name: '-- очистить --',
                            attribute_id: null
                        }
                    );
                    json.push(
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'Артикул',
                            attribute_id: 'sku'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'Модель',
                            attribute_id: 'model'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'MPN',
                            attribute_id: 'mpn'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'ISBN',
                            attribute_id: 'isbn'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'EAN',
                            attribute_id: 'ean'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'JAN',
                            attribute_id: 'jan'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'UPC',
                            attribute_id: 'upc'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'Размеры, мм (ДхШхВ)',
                            attribute_id: 'product_dimensions'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'Вес товара, г',
                            attribute_id: 'product_weight'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'Длина товара, мм',
                            attribute_id: 'product_length'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'Ширина товара, мм',
                            attribute_id: 'product_width'
                        },
                        {
                            attribute_group: 'Поле Opencart',
                            name: 'Высота товара, мм',
                            attribute_id: 'product_height'
                        }
                    );
                    response($.map(json, function (item) {
                        return {
                            category: item.attribute_group,
                            label: item.name,
                            value: item.attribute_id
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[data-id=\'' + window.ozonAttrId + '\']').val(item['label']);
            $('input[name=\'ozon_seller_attribute[' + window.ozonAttrId + ']\']').val(item['value']);
        }
    });

    $(document).on('click', '.save-dictionary', function (e) {
        e.preventDefault();
        var dictionary = 'dictionary-form';
        $.ajax({
            url: 'index.php?route=extension/module/ozon_seller/savedictionary&user_token={{ user_token }}',
            type: 'POST',
            dataType: 'html',
            data: $("#" + dictionary).serialize(),
            success: function (response) {
                $(".modal").modal("hide");
            }
        });
    });

    $(document).on('click', '.save-type', function (e) {
        e.preventDefault();
        var type = 'type-form';
        $.ajax({
            url: 'index.php?route=extension/module/ozon_seller/savetype&user_token={{ user_token }}',
            type: 'POST',
            dataType: 'html',
            data: $("#" + type).serialize(),
            success: function (response) {
                $(".modal").modal("hide");
            }
        });
    });

    $(document).on('click', '.save-manufacturer', function (e) {
        e.preventDefault();
        var manufacturers = 'manufacturer-form';
        $.ajax({
            url: 'index.php?route=extension/module/ozon_seller/savemanufacturer&user_token={{ user_token }}',
            type: 'POST',
            dataType: 'html',
            data: $("#" + manufacturers).serialize(),
            success: function (response) {
                $(".modal").modal("hide");
            }
        });
    });

    let ModalApp = {};
    $(function () {
        const myModal = new ModalApp.ModalProcess({id: 'myModal'});
        myModal.init();

        $('.modal-dictionary-show').on('click', function (e) {
            e.preventDefault();
            var dictionary = $(this).attr('value');
            $.get('index.php?route=extension/module/ozon_seller/modaldictionary&user_token={{ user_token }}&dictionary=' + dictionary,
                function (json) {
                    let data = JSON.parse(json);
                    myModal.changeTitle(data['title']);
                    myModal.changeBody(data['body']);
                    myModal.changeFooter(data['footer']);
                    myModal.showModal();
                });
        });

        $('.modal-type').on('click', function (e) {
            e.preventDefault();
            var category_ozon = $(this).attr('value');
            $.get('index.php?route=extension/module/ozon_seller/modaltype&user_token={{ user_token }}&category_ozon=' + category_ozon,
                function (json) {
                    let data = JSON.parse(json);
                    myModal.changeTitle(data['title']);
                    myModal.changeBody(data['body']);
                    myModal.changeFooter(data['footer']);
                    myModal.showModal();
                });
        });

        $('#manufacturer-set').on('click', function (e) {
            e.preventDefault();
            $.get('index.php?route=extension/module/ozon_seller/manufacturerset&user_token={{ user_token }}',
                function (json) {
                    let data = JSON.parse(json);
                    myModal.changeTitle(data['title']);
                    myModal.changeBody(data['body']);
                    myModal.changeFooter(data['footer']);
                    myModal.showModal();
                });
        });
    });

    ModalApp.ModalProcess = function (parameters) {
        this.id = parameters['id'] || 'modal';
        this.selector = parameters['selector'] || '';
        this.title = parameters['title'] || 'Заголовок модального окна';
        this.body = parameters['body'] || 'Содержимое модального окна';
        this.footer = parameters['footer'] || '<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>';
        this.content = '<div id="' + this.id + '" class="modal fade" tabindex="-1" role="dialog">' +
            '<div class="modal-dialog" role="document">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
            '<h4 class="modal-title">' + this.title + '</h4>' +
            '</div>' +
            '<div class="modal-body">' + this.body + '</div>' +
            '<div class="modal-footer">' + this.footer + '</div>' +
            '</div>' +
            '</div>' +
            '</div>';
        this.init = function () {
            if ($('#' + this.id).length == 0) {
                $('body').prepend(this.content);
            }
            if (this.selector) {
                $(document).on('click', this.selector, $.proxy(this.showModal, this));
            }
        }
    }
    ModalApp.ModalProcess.prototype.changeTitle = function (content) {
        $('#' + this.id + ' .modal-title').html(content);
    };
    ModalApp.ModalProcess.prototype.changeBody = function (content) {
        $('#' + this.id + ' .modal-body').html(content);
    };
    ModalApp.ModalProcess.prototype.changeFooter = function (content) {
        $('#' + this.id + ' .modal-footer').html(content);
    };
    ModalApp.ModalProcess.prototype.showModal = function () {
        $('#' + this.id).modal('show');
    };
    ModalApp.ModalProcess.prototype.hideModal = function () {
        $('#' + this.id).modal('hide');
    };
    ModalApp.ModalProcess.prototype.updateModal = function () {
        $('#' + this.id).modal('handleUpdate');
    };

    $(document).ready(function () {
        $('.button-attribute-filter').on('click', function () {
            let value = $('#table-attribute-filters').val();
            let element = document.getElementsByClassName('required');
            while (element.length) {
                element[0].parentNode.removeChild(element[0]);
            }
            $('#table-attribute tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            
            $.ajax({
                url: 'index.php?route=extension/module/ozon_seller/getattributerequired&user_token={{ user_token }}&category=' + value,
                success: function (data) {
                    let attribute = $.parseJSON(data);
                    $.each(attribute, function (key, id) {
                        $.each(id, function (key, attribute_id) {
                            $("label[data-required=\'" + attribute_id + "\']").append('<div class="required" style="margin-left:3px;display:inline;padding:0.2em 0.6em 0.3em;font-size:75%;font-weight:bold;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.25em;background-color:#e3503e;">обязательный для этой категории</div>');
                        });
                    });
                }
            });
        });
    });

    $('.reload-attribute').on('click', function () {
        $.ajax({
            url: 'index.php?route=extension/module/ozon_seller/truncateattribute&user_token={{ user_token }}',
            beforeSend: function () {
                $('.reload_attribute').button('loading');
                $('html, body').animate({scrollTop: '0px'}, 1500);
            },
            success: function () {
                setTimeout(() => showLogProcess(1000), 1000);

                $.ajax({
                    url: '/index.php?route=extension/module/ozon_seller/loadattributes&cron_pass={{ ozon_seller_cron_pass }}',
                    success: function (data) {
                        document.location.reload();
                    }
                });
            }
        });
    });


    //Черный список
    $('#product-blacklist').autocomplete({
        delay: 0,
        source: function (request, response) {
            $.ajax({
                url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item.name,
                            value: item.product_id
                        }
                    }));
                }
            });
        },
        select: function (item) {
            $('#blacklist-product' + item.value).val('');
            $('#blacklist-product' + item.value).remove();

            $('#blacklist-product').append('<div id="blacklist-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="ozon_seller_product_blacklist[]" value="' + item['value'] + '" /></div>');

            $('input[name="ozon_seller_product_blacklist"]').val('');

            return false;
        }
    });

    $('#blacklist-product').on('click', 'i', function () {
        $(this).parent().remove();
    });

    $(window).on("load", function () {
        $.ajax({
            url: '{{ url_warehouse }}',
            success: function (json) {
                if (json != 'error') {
                    var warehouse = $.parseJSON(json);
                    $.each(warehouse, function (key, value) {
                        $('select[name="ozon_seller_warehouse_ozon"]').append('<option value="' + value['warehouse_id'] + '">' + value['name'] + '</option>');
                    });
                    $('select[name="ozon_seller_warehouse_ozon"] option[value="{{ ozon_seller_warehouse_ozon }}"]').attr('selected', 'selected');
                    ;
                }
            }
        });
    });
    
const initFilterSettings = () => {
    $('#autoSettings .settings').html('');    
    let countSetting = 0;
    let ozon_seller_filter = {{ ozon_seller_filter|json_encode() }}
    ozon_seller_filter.map(e => {
        $('#autoSettings .settings').append(addFilterSetting(countSetting, e));
        setCheckedFilterSetting(countSetting, e);
        countSetting++;
    });
    
    $('#addFilterSetting').on('click', () => {
        $('#autoSettings .settings').append(getFilterSettingTmpl(countSetting));
        countSetting++;
    });
};

const switchCheckboxes = (id, checked) => {
  $(`#${id} input[type=checkbox]`).attr('checked', checked);
  $(`#${id} input[type=checkbox]`).prop('checked', checked);
}

const setCheckedFilterSetting = (i, values) => {
  if (values.categories) {
    values.categories.map(category => {
      $(`#ozon_seller_filter_categories${i}${category.category_id}`).attr('checked', true);
    })
  }

  if (values.manufacturers) {
    values.manufacturers.map(manufacturer => {
      $(`#ozon_seller_filter_manufacturers${i}${manufacturer.manufacturer_id}`).attr('checked', true);
    })
  }

  if (values.suppliers) {
    values.suppliers.map(supplier => {
      $(`#ozon_seller_filter_suppliers${i}[value="${supplier}"]`).attr('checked', true);
    })
  }
}

const addFilterSetting = (i, values) => {
    let categoryHtml = '';
    let manufacturerHtml = '';
    let suppliersHtml = '';

    {% if allCategories %}
      {% set level = 0 %}
      {% for category in allCategories %}
        {% if category.level > level %}
          categoryHtml += '<ul>';
          {% elseif category.level < level %}
          {% for i in range(1, level - category.level) %}
          categoryHtml += '</li></ul>';
          {% endfor %}
        {% else %}
          categoryHtml += '</li>'
        {% endif %}
        categoryHtml += `<li>
        <input id="ozon_seller_filter_categories${i}{{ category.category_id }}" name="ozon_seller_filter[${i}][categories][]" value="{{ category.category_id }}" type="checkbox" />
        <div>{{ category.name }} ({{ category.product_count }})</div>`;
        {% set level = category.level %}
      {% endfor %}
    {% else %}
      categoryHtml += '<p>В каталоге нет категорий товаров</p>';
    {% endif %}

    {% if manufacturers %}
      manufacturerHtml += '<ul>';
      {% for manufacturer in manufacturers %}
        manufacturerHtml += 
                `<li>
                  <input id="ozon_seller_filter_manufacturers${i}{{ manufacturer.manufacturer_id }}" name="ozon_seller_filter[${i}][manufacturers][]" type="checkbox" value="{{ manufacturer.manufacturer_id }}" />
                  <div>
                    {% if manufacturer.name == '' %}
                    Без названия
                    {% else %}
                    {{ manufacturer.name }}
                    {% endif %}
                  </div>
                </li>`;
      {% endfor %}
      manufacturerHtml += '</ul>';
    {% else %}
      manufacturerHtml += '<p>В каталоге нет производителей</p>';
    {% endif %}
  

    {% if suppliers %}
      suppliersHtml += '<ul>';
      {% for supplier in suppliers %}
        suppliersHtml += 
                `<li>
                  <input id="ozon_seller_filter_suppliers${i}" name="ozon_seller_filter[${i}][suppliers][]" type="checkbox" value="{{ supplier.name }}" />
                  <div>{{ supplier.name }}</div>
                </li>`;
      {% endfor %}
      suppliersHtml += '</ul>';
    {% else %}
      suppliersHtml += '<p>В каталоге нет поставщиков</p>';
    {% endif %}
  
    
    return `
    <div class="row">
        <div class="col-sm-4 hidden">
          <div class="pull-left col-sm-3 h4">Категории</div>
          <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
              <a class="btn btn-default" onclick="switchCheckboxes('category_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
              <a class="btn btn-default" onclick="switchCheckboxes('category_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
          </div>
          <div class="col-sm-12">
              <div id="category_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
              ${categoryHtml}             
              </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-left col-sm-3 h4">Бренд</div>
            <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                <a class="btn btn-default" onclick="switchCheckboxes('manufacturer_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                <a class="btn btn-default" onclick="switchCheckboxes('manufacturer_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
            </div>
            <div class="col-sm-12">
                <div id="manufacturer_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                ${manufacturerHtml}             
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-left col-sm-3 h4">Поставщик</div>
            <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                <a class="btn btn-default" onclick="switchCheckboxes('suppliers_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                <a class="btn btn-default" onclick="switchCheckboxes('suppliers_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
            </div>
            <div class="col-sm-12">
              <div id="suppliers_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                ${suppliersHtml}
              </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-3">
            цена от <input type="number" value="${values.priceFrom}" name="ozon_seller_filter[${i}][priceFrom]" class="form-control width100" /> 
            до <input type="number" value="${values.priceTo}" name="ozon_seller_filter[${i}][priceTo]" class="form-control width100" />
        </div>
        <div class="col-sm-3">
            остаток от <input type="number" value="${values.quantityFrom}" name="ozon_seller_filter[${i}][quantityFrom]" class="form-control width100" /> 
            до <input type="number" value="${values.quantityTo}" name="ozon_seller_filter[${i}][quantityTo]" class="form-control width100" />
        </div>
        <a onclick="$(this).parent().remove();" class="delete"><i class="fa fa-trash"></i></a>
    </div>
`;
};

$('#input-attributes').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=catalog/attribute/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        category: item.attribute_group,
                        label: item.name,
                        value: item.attribute_id
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('#input-attributes').val('');

        $('#product-attributes').append(`<div><i class="fa fa-minus-circle"></i> ${item['label']}
            <input type="hidden" name="ozon_seller_additional_settings[attributes][]" value="${item['value']}" /> 
        </div>`);
    }
});

$('#product-attributes').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().remove();
});

const getFilterSettingTmpl = (i) => {
  let categoryHtml = '';
  let manufacturerHtml = '';
  let suppliersHtml = '';

  {% if allCategories %}
  {% set level = 0 %}
  {% for category in allCategories %}
  {% if category.level > level %}
  categoryHtml += '<ul>';
  {% elseif category.level < level %}
  {% for i in range(1, level - category.level) %}
  categoryHtml += '</li></ul>';
  {% endfor %}
  {% else %}
  categoryHtml += '</li>'
  {% endif %}
  categoryHtml += `<li>
        <input id="ozon_seller_filter_categories${i}{{ category.category_id }}" name="ozon_seller_filter[${i}][categories][]" value="{{ category.category_id }}" type="checkbox" />
        <div>{{ category.name }} ({{ category.product_count }})</div>`;
  {% set level = category.level %}
  {% endfor %}
  {% else %}
  categoryHtml += '<p>В каталоге нет категорий товаров</p>';
  {% endif %}

  {% if manufacturers %}
  manufacturerHtml += '<ul>';
  {% for manufacturer in manufacturers %}
  manufacturerHtml +=
          `<li>
                  <input id="ozon_seller_filter_manufacturers${i}{{ manufacturer.manufacturer_id }}" name="ozon_seller_filter[${i}][manufacturers][]" type="checkbox" value="{{ manufacturer.manufacturer_id }}" />
                  <div>
                    {% if manufacturer.name == '' %}
                    Без названия
                    {% else %}
                    {{ manufacturer.name }}
                    {% endif %}
                  </div>
                </li>`;
  {% endfor %}
  manufacturerHtml += '</ul>';
  {% else %}
  manufacturerHtml += '<p>В каталоге нет производителей</p>';
  {% endif %}


  {% if suppliers %}
  suppliersHtml += '<ul>';
  {% for supplier in suppliers %}
  suppliersHtml +=
          `<li>
                  <input id="ozon_seller_filter_suppliers${i}" name="ozon_seller_filter[${i}][suppliers][]" type="checkbox" value="{{ supplier.name }}" />
                  <div>{{ supplier.name }}</div>
                </li>`;
  {% endfor %}
  suppliersHtml += '</ul>';
  {% else %}
  suppliersHtml += '<p>В каталоге нет поставщиков</p>';
  {% endif %}
  
    return `
        <div class="row">
            <div class="col-sm-4 hidden">
              <div class="pull-left col-sm-3 h4">Категории</div>
              <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                  <a class="btn btn-default" onclick="switchCheckboxes('category_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                  <a class="btn btn-default" onclick="switchCheckboxes('category_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
              </div>
              <div class="col-sm-12">
                  <div id="category_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                  ${categoryHtml}             
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-left col-sm-3 h4">Бренд</div>
                <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                    <a class="btn btn-default" onclick="switchCheckboxes('manufacturer_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                    <a class="btn btn-default" onclick="switchCheckboxes('manufacturer_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
                </div>
                <div class="col-sm-12">
                    <div id="manufacturer_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                    ${manufacturerHtml}             
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-left col-sm-3 h4">Поставщик</div>
                <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                    <a class="btn btn-default" onclick="switchCheckboxes('suppliers_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                    <a class="btn btn-default" onclick="switchCheckboxes('suppliers_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
                </div>
                <div class="col-sm-12">
                  <div id="suppliers_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                    ${suppliersHtml}
                  </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-3">
                цена от <input type="number" name="ozon_seller_filter[${i}][priceFrom]" class="form-control width100" /> 
                до <input type="number" name="ozon_seller_filter[${i}][priceTo]" class="form-control width100" />
            </div>
            <div class="col-sm-3">
                остаток от <input type="number" name="ozon_seller_filter[${i}][quantityFrom]" class="form-control width100" /> 
                до <input type="number" name="ozon_seller_filter[${i}][quantityTo]" class="form-control width100" />
            </div>
            <a onclick="$(this).parent().remove();" class="delete"><i class="fa fa-trash"></i></a>
        </div>
    `;
}

initFilterSettings();
//--></script>
<style>
    #category_tree ul, #manufacturer_tree ul, .checkboxes_tree ul {
        padding: 0;
        margin: 0;
    }

    #category_tree li, #manufacturer_tree li, .checkboxes_tree li {
        list-style-type: none;
        line-height: 30px;
        padding-left: 25px;
    }

    #category_tree li input, #manufacturer_tree li input, .checkboxes_tree li input {
        float: left;
        height: 17px;
        width: 17px;
        margin: 6px 15px 0 0;
    }

    #category_tree li input[type="checkbox"]:checked::after,
    #manufacturer_tree li input[type="checkbox"]:checked::after,
    .checkboxes_tree li input[type="checkbox"]:checked::after {
        top: -3px;
        left: -4px;
    }

    #category_tree li div, #manufacturer_tree li div, .checkboxes_tree li div {
        line-height: 30px;
        font-size: 14px;
    }

    .fastmanufacturer.empty {
        color: darkgray;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .paginator {
        display: inline-block;
        padding-left: 0;
        margin: 0;
        border-radius: 3px;
    }

    .paginator > li {
        display: inline;
        position: relative;
    }

    .paginator > li:first-child {
        margin-left: 0;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .paginator > li:last-child {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .paginator .page {
        float: left;
        padding: 8px 13px;
        line-height: 1.42857;
        text-decoration: none;
        color: #1e91cf;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-left: -1px;
        cursor: pointer;
    }

    .paginator .page:hover {
        z-index: 2;
        color: #14628c;
        background-color: #eee;
        border-color: #ddd;
    }

    .paginator .active {
        float: left;
        padding: 8px 13px;
        line-height: 1.42857;
        text-decoration: none;
        border: 1px solid #1e91cf;
        margin-left: -1px;
        color: #fff;
        background-color: #1e91cf;
        cursor: default;
    }

    .width100 {
        max-width: 100px;
        display: inline-block;
    }

    .settings .row {
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px dashed #888
    }

    .settings .row .delete {
        position: absolute;
        top: 5px;
        right: 0;
        cursor: pointer;
        color: darkred;
    }
</style>