{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<script>
			usNotify('warning', '{{ error_warning }}');
		</script>
		{% endif %}
		{% if success %}
	    <script>
			usNotify('success', '{{ success }}');
		</script>
	    {% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#setting-tab" data-toggle="tab">{{ tab_setting }}</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="setting-tab">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
								<div class="col-sm-10">
									<div class="toggle-group">
										<input type="checkbox" name="popup_partner_status" {% if popup_partner_status %}checked="checked"{% endif %} id="popup_partner_status" tabindex="1">
										<label for="popup_partner_status"></label>
										<div class="onoffswitch pull-left" aria-hidden="true">
											<div class="onoffswitch-label">
												<div class="onoffswitch-inner"></div>
												<div class="onoffswitch-switch"></div>
											</div>
										</div>
									</div>
								</div>
		                    </div>
		                    <div id="all_settings" {% if (popup_partner_status is not defined or (popup_partner_status is defined and not popup_partner_status)) %}style="display:none"{% endif %}>
								<div class="form-group">
									<div class="col-sm-6">
										<label class="col-sm-4 control-label" for="input-notify_status">{{ entry_notify_status }}</label>
										<div class="col-sm-8">
											<div class="toggle-group">
												<input type="checkbox" name="popup_partner_data[notify_status]" {% if popup_partner_data.notify_status %}checked="checked"{% endif %} id="notify_status" tabindex="1">
												<label for="notify_status"></label>
												<div class="onoffswitch pull-left" aria-hidden="true">
													<div class="onoffswitch-label">
														<div class="onoffswitch-inner"></div>
														<div class="onoffswitch-switch"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-4 control-label" for="input-notify_email"><span data-toggle="tooltip" data-container="#setting-tab" title="{{ help_email }}">{{ entry_notify_email }}</span></label>
										<div class="col-sm-8">
											<input type="text" name="popup_partner_data[notify_email]" value="{{ popup_partner_data['notify_email'] }}" id="input-notify_email" class="form-control" />
											{% if error_notify_email %}
											<div class="text-danger">
												<script>
													usNotify('warning', '{{ error_notify_email }}');
												</script>
											</div>
											{% endif %}
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
$('#popup_partner_status').change(function() {
    var $input = $(this);

    if ($input.is(":checked")) {
        $("#all_settings").slideDown('slow');
    } else {
        $("#all_settings").slideUp('slow');
    }
})
</script>
{{ footer }}