{{ header }}
{{ column_left }}

<div id="content">

	<div class="page-header">	
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-popup" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
				
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
		
		
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger">
				<i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}

        {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
			</div>

			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-popup" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ t_status }}</label>
						<div class="col-sm-10">
							<select name="module_sdm_complaints_status" id="input-status" class="form-control">
								{% if module_sdm_complaints_status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>

					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-email">{{ t_email }}</label>
						<div class="col-sm-10">
							<input required name="module_sdm_complaints_email" id="input-email" class="form-control" value="{{ module_sdm_complaints_email }}">
							{% if error_email %}
								<div class="alert alert-danger">
									<i class="fa fa-exclamation-circle"></i> {{ error_email }}
									<button type="button" class="close" data-dismiss="alert">&times;</button>
								</div>
							{% endif %}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}