{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
        {% if name %}
        <li style="color:#090;">{{ name }}</li>
        {% else %}
        <li style="color:#f50;">Новый</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
        
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">WSlider&#8482;</a></li>
            <li><a href="#tab-bp" data-toggle="tab">Брейкпойнты</a></li>
            <li><a href="#tab-frames" data-toggle="tab">Слайды</a></li>
            <li><a href="#tab-css" data-toggle="tab">CSS</a></li>
          </ul>
          
          <div class="tab-content">
          
            <div class="tab-pane active" id="tab-general">
            
              <fieldset>
                <legend>Основные настройки</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                    {% if error_name %}
                    <div class="text-danger">{{ error_name }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                  <div class="col-sm-10">
                    <select name="status" id="input-status" class="form-control">
                      {% if status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </fieldset>              
              
              <fieldset>
                <legend>Настройки слайдера</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-autoplayTimeout"><span data-toggle="tooltip" title="autoplayTimeout">autoplayTimeout</span></label>
                  <div class="col-sm-2">
                    <input type="text" name="slider_setting[autoplayTimeout]" value="{{ slider_setting.autoplayTimeout }}" placeholder="autoplayTimeout" id="input-autoplayTimeout" class="form-control" />
                  </div>
                  <label class="col-sm-2 control-label" for="input-speed"><span data-toggle="tooltip" title="speed">speed</span></label>
                  <div class="col-sm-2">
                    <input type="text" name="slider_setting[speed]" value="{{ slider_setting.speed }}" placeholder="speed" id="input-speed" class="form-control" />
                  </div>
                  <label class="col-sm-2 control-label" for="input-navPosition"><span data-toggle="tooltip" title="navPosition">navPosition</span></label>
                  <div class="col-sm-2">
                    <select name="slider_setting[navPosition]" id="input-navPosition" class="form-control">
                      {% if slider_setting.navPosition == "top" %}
                      <option value="top" selected="selected">top</option>
                      <option value="bottom">bottom</option>
                      {% else %}
                      <option value="top">top</option>
                      <option value="bottom" selected="selected">bottom</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-autoplay"><span data-toggle="tooltip" title="autoplay">autoplay</span></label>
                  <div class="col-sm-2">
                    <div class="checkbox">
                      <label>
                        {% if slider_setting.autoplay %}
                        <input type="checkbox" name="slider_setting[autoplay]" value="1" checked="checked" id="input-autoplay" />
                        {% else %}
                        <input type="checkbox" name="slider_setting[autoplay]" value="1" id="input-autoplay" />
                        {% endif %}
                        &nbsp; </label>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label" for="input-mouseDrag"><span data-toggle="mouseDrag" title="mouseDrag">mouseDrag</span></label>
                  <div class="col-sm-2">
                    <div class="checkbox">
                      <label>
                        {% if slider_setting.mouseDrag %}
                        <input type="checkbox" name="slider_setting[mouseDrag]" value="1" checked="checked" id="input-mouseDrag" />
                        {% else %}
                        <input type="checkbox" name="slider_setting[mouseDrag]" value="1" id="input-mouseDrag" />
                        {% endif %}
                        &nbsp; </label>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label" for="input-autoplayButton"><span data-toggle="autoplayButton" title="autoplayButton">autoplayButton</span></label>
                  <div class="col-sm-2">
                    <div class="checkbox">
                      <label>
                        {% if slider_setting.autoplayButton %}
                        <input type="checkbox" name="slider_setting[autoplayButton]" value="1" checked="checked" id="input-autoplayButton" />
                        {% else %}
                        <input type="checkbox" name="slider_setting[autoplayButton]" value="1" id="input-autoplayButton" />
                        {% endif %}
                        &nbsp; </label>
                    </div>
                  </div>
                </div>
              </fieldset> 
              
              <fieldset>
                <legend> </legend>
                  <div class="col-sm-12 text-right">  
                    <a href="https://github.com/ganlanyuan/tiny-slider#options" target="_blank">tiny slider documentation</a>
                  </div>
              </fieldset> 

            </div>
            
            <div class="tab-pane" id="tab-bp">
              <div class="form-group">
              	<div class="col-sm-3">
                	<button type="button" id="add-show" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i> &nbsp; Добавить брейкпойнт</button>
                </div>
              	<div class="col-sm-2">
					  			<div class="input-group">
                		<input type="text" id="add-value" value="" placeholder="bp value" class="form-control hidden" />
										<div id="add-px" class="input-group-addon hidden"> px </div>
					  			</div>  
                </div>
              	<div class="col-sm-3">
                	<button type="button" id="add-breakpoint" class="btn btn-success btn-block hidden"><i class="fa fa-check"></i> &nbsp; Таки добавить уже</button>
                </div>
              	<div class="col-sm-4">
                	<button type="button" id="add-cancel" class="btn btn-danger hidden">Отмена</button>
                </div>
              </div>
              
              <table id="breakpoints" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-center" style="width: 10%;">breakpoint</td>
                    <td class="text-center" style="width: 20%;">screen from</td>
                    <td class="text-center" style="width: 20%;">screen to</td>
                    <td class="text-center" style="width: 20%;">image width</td>
                    <td class="text-center" style="width: 20%;">image height</td>
                    <td class="text-center" style="width: 20%;">ratio</td>
                    <td style="width: 1px;"></td>
                  </tr>
                </thead>
                <tbody>
                  {% for breakpoint in breakpoints %}
                  <tr id="bp-row-{{ breakpoint.value }}">
                    <td><input type="text" name="breakpoints[{{ breakpoint.value }}][value]" value="{{ breakpoint.value }}" placeholder="breakpoint value" class="form-control breakpoint-value" />
                    <td><input type="text" name="breakpoints[{{ breakpoint.value }}][from]" value="{{ breakpoint.from }}" placeholder="from px" class="form-control" /></td>
                    <td><input type="text" name="breakpoints[{{ breakpoint.value }}][to]" value="{{ breakpoint.to }}" placeholder="to px" class="form-control breakpoint-to" /></td>
                    <td><input type="text" name="breakpoints[{{ breakpoint.value }}][width]" value="{{ breakpoint.width }}" placeholder="width" class="form-control" /></td>
                    <td><input type="text" name="breakpoints[{{ breakpoint.value }}][height]" value="{{ breakpoint.height }}" placeholder="height" class="form-control" /></td>
                    <td><input type="text" name="breakpoints[{{ breakpoint.value }}][ratio]" value="{{ breakpoint.ratio }}" placeholder="ratio" class="form-control" /></td>
                    <td><button id="bp-remove-{{ breakpoint.value }}" type="button" class="btn btn-danger bp-remove"><i class="fa fa-minus-circle"></i></button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
            </div>
            <div class="tab-pane" id="tab-frames">
              
              <table id="frames" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
            				{% set title_width = 40 %}
            				{% set point_width = (100 - title_width)/(breakpoints|length) %}
                    <td class="text-center frame-title" style="width:{{ title_width }}%;">title / link</td>
                  	{% for breakpoint in breakpoints %}
                  	{% if breakpoint == breakpoints|last %}
                     <td class="text-center frame-point-{{ breakpoint.value }}" style="width:{{ point_width }}%;"> {{ breakpoint.from }} + </td>
                    {% else %}
                    <td class="text-center frame-point-{{ breakpoint.value }}" style="width:{{ point_width }}%;"> {{ breakpoint.value }} - {{ breakpoint.to }} </td>
                    {% endif %}
                    {% endfor %}
                    <td class="text-center frame-action" style="width: 1px;"></td>
                  </tr>
                </thead>
                
                <tbody>
                  {% set frame_row = 0 %}
                  {% for frame in frames %}
                  {% set frame_row = frame_row + 1 %}
									<tr id="frame-row-{{ frame_row }}">
										<td class="text-left">
                    	<input type="text" name="frames[{{ frame_row }}][title]" value="{{ frame.title }}" placeholder="Заголовок" class="form-control"><br>
											<input type="text" name="frames[{{ frame_row }}][link]" value="{{ frame.link }}" placeholder="Ссылка" class="form-control">
                    </td>
                  	{% for breakpoint in breakpoints %}
                  	{% if breakpoint.width >= breakpoint.height %}
                      {% set width = "100px" %}
                      {% set height = "auto" %}
                  	{% else %}
                      {% set height = "100px" %}
                      {% set width = "auto" %}
                  	{% endif %}
                  	{% if frame.image[breakpoint.value] is not empty %}
                      {% set src = img_path~frame.image[breakpoint.value] %}
                  	{% else %}
                      {% set src = placeholder %}
                  	{% endif %}
                    <td class="text-center frame-point-{{ breakpoint.value }}">
                    	<a href="" id="thumb-{{ frame_row }}-image-{{ breakpoint.value }}" data-toggle="image" class="img-thumbnail" style="height:110px;line-height:97px;width:110px;">
                      <!--<img src="{{ img_path }}{{ frame.image[breakpoint.value] }}" alt="" title="" data-placeholder="{{ placeholder }}" style="width:{{ width }};height:{{ height }};">-->
                      <img src="{{ src }}" alt="" title="" data-placeholder="{{ placeholder }}" style="width:{{ width }};height:{{ height }};">
                      <!--сделать тумбы в контроллере-->
                      <!--<img src="{{ frame.thumb[breakpoint.value] }}" alt="" title="" data-placeholder="{{ placeholder }}">-->
                      </a>
											<input type="hidden" class="input-image" name="frames[{{ frame_row }}][image][{{ breakpoint.value }}]" value="{{ frame.image[breakpoint.value] }}" id="input-{{ frame_row }}-image-{{ breakpoint.value }}">
                    </td>
                    {% endfor %}
                    <td class="text-center frame-action"><button id="frame-remove-{{ frame_row }}" type="button" class="btn btn-danger frame-remove"><i class="fa fa-minus-circle"></i></button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              
                <tfoot>
                  <tr>
                    <td id="frame-spacer" colspan="{{ breakpoints|length + 1 }}"></td>
                    <td><button type="button" id="add-frame" data-toggle="tooltip" title="Добавить слайд" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
              
            </div>
            
            <div class="tab-pane" id="tab-css">
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-style">&lt;style&gt;</label>
                <div class="col-sm-10">
                  <textarea name="style" rows="12" placeholder="set css text here" id="input-style" class="form-control">{{ style }}</textarea>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-css">.css file</label>
                <div class="col-sm-10">
                  <input disabled type="text" name="css" value="{{ css }}" placeholder=".css file relative path" id="input-css" class="form-control" />
                </div>
              </div>
              
            </div>
          
          </div>
        
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<style>
	.pink{background:#fcd !important;}
</style>

<script type="text/javascript"><!--

$('#add-show').on('click', function() {
	$('#add-show').attr('disabled', true);
	$('#add-show').removeClass('btn-primary');
	$('#add-show').addClass('btn-default');
	$('#add-value').removeClass('hidden');
	$('#add-px').removeClass('hidden');
	$('#add-breakpoint').removeClass('hidden');
	$('#add-cancel').removeClass('hidden');
});
$('#add-breakpoint').on('click', function() {
	if (Number($('#add-value').val()) > 0) {
		$('#add-show').attr('disabled', false);
		$('#add-show').removeClass('btn-default');
		$('#add-show').addClass('btn-primary');
		$('#add-value').addClass('hidden');
		$('#add-px').addClass('hidden');
		$('#add-breakpoint').addClass('hidden');
		$('#add-cancel').addClass('hidden');
		addBreakpoint($('#add-value').val());
		$('#add-value').val('');
	} else {
		alert('Введите корректное значение для нового брейка.');
	}
});
$('#add-cancel').on('click', function() {
	$('#add-show').attr('disabled', false);
	$('#add-show').removeClass('btn-default');
	$('#add-show').addClass('btn-primary');
	$('#add-value').val('');
	$('#add-value').addClass('hidden');
	$('#add-px').addClass('hidden');
	$('#add-breakpoint').addClass('hidden');
	$('#add-cancel').addClass('hidden');
});
$('#breakpoints').on('click','.bp-remove', function() {
	var breakpoint = $(this).attr('id').replace("bp-remove-", "");
	$('#bp-row-' + breakpoint).remove();
	removeBreakpoint(breakpoint);
});
$('#frames').on('click','.frame-remove', function() {
	var frame = $(this).attr('id').replace("frame-remove-", "");
	removeFrame(frame);
});
$('#add-frame').on('click', function() {
	addFrame();
});

function addBreakpoint(value) {
	var html;
	var rowCount = $('#breakpoints >tbody >tr').length;
	if (rowCount == 0) {
		html  = '<tr id="bp-row-0" class="pink">';
		html += '  <td><input type="text" name="breakpoints[0][value]" value="0" placeholder="breakpoint value" class="form-control breakpoint-value" /></td>';	
		html += '  <td><input type="text" name="breakpoints[0][from]" value="0" placeholder="from px" class="form-control" /></td>';	
		html += '  <td><input type="text" name="breakpoints[0][to]" value="" placeholder="to px" class="form-control breakpoint-to" /></td>';	
		html += '  <td><input type="text" name="breakpoints[0][width]" value="" placeholder="width" class="form-control" /></td>';	
		html += '  <td><input type="text" name="breakpoints[0][height]" value="" placeholder="height" class="form-control" /></td>';	
		html += '  <td><input type="text" name="breakpoints[0][ratio]" value="" placeholder="ratio" class="form-control" /></td>';	
		html += '  <td class="text-left"><button id="bp-remove-0" type="button" class="btn btn-danger bp-remove"><i class="fa fa-minus-circle"></i></button></td></td>';	
		html += '</tr>';
		$('#breakpoints tbody').append(html);
	}
	html  = '<tr id="bp-row-' + value + '" class="pink">';
  html += '  <td><input type="text" name="breakpoints['+value+'][value]" value="'+value+'" placeholder="breakpoint value" class="form-control breakpoint-value" /></td>';	
//	html += '  <td><input type="text" name="breakpoints['+value+'][from]" value="'+(Number(value)+1)+'" placeholder="from px" class="form-control" /></td>';	
	html += '  <td><input type="text" name="breakpoints['+value+'][from]" value="'+value+'" placeholder="from px" class="form-control" /></td>';	
	html += '  <td><input type="text" name="breakpoints['+value+'][to]" value="" placeholder="to px" class="form-control breakpoint-to" /></td>';	
	html += '  <td><input type="text" name="breakpoints['+value+'][width]" value="" placeholder="width" class="form-control" /></td>';	
	html += '  <td><input type="text" name="breakpoints['+value+'][height]" value="" placeholder="height" class="form-control" /></td>';	
	html += '  <td><input type="text" name="breakpoints['+value+'][ratio]" value="" placeholder="ratio" class="form-control" /></td>';	
	html += '  <td class="text-left"><button id="bp-remove-' + value + '" type="button" class="btn btn-danger bp-remove"><i class="fa fa-minus-circle"></i></button></td></td>';	
	html += '</tr>';
	var add = true;
	$('#breakpoints tbody tr').each(function() {
		$(this).removeClass('pink');
		if (add) {
			var breakpoint = $(this).attr('id').replace("bp-row-", "");
			if (breakpoint == value) {
				alert('Брейк ' + value + ' уже установлен.');
				add = false;
			}
			if (Number(breakpoint) > Number(value)) {
				console.log('Вставить перед ' + breakpoint);
				$(this).before(html);
				addFrameBreakpoint(breakpoint, value);
				add = false;
			}
		}
	});
	if (add) {
		$('#breakpoints tbody').append(html);
		addFrameBreakpoint('last', value);
	}
	setPoints();
	setStyle();
}

function addFrameBreakpoint(point, value) {
	var html;
	var frames = document.getElementById("frames").getElementsByTagName('tr');
	var head = frames[0];
	html  = '<td class="text-center frame-point-' + value + '" style="width:10%;"> ' + value + ' </td>';
	if (point == 'last') {
		$('#frames thead .frame-action').before(html);
	} else {
		$('#frames thead .frame-point-' + point).before(html);
	}
	$('#frames tbody tr').each(function() {
		var frame = $(this).attr('id').replace("frame-row-", "");
		html = '  <td class="text-center frame-point-' + value + '"><a href="" id="thumb-' + frame + '-image-' + value + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" class="input-image" name="frames[' + frame + '][image][' + value + ']" value="" id="input-' + frame + '-image-' + value + '"></td>';	
		if (point == 'last') {
			$('#frame-row-' + frame + ' .frame-action').before(html);
		} else {
			$('#frame-row-' + frame + ' .frame-point-' + point).before(html);
		}
	});
	setStyle();
}

function addFrame() {

	var frames = document.getElementById("frames").getElementsByTagName('tbody')[0].getElementsByTagName('tr');
	var num = frames.length + 1;
	
	var html;
	html  = '<tr id="frame-row-' + num + '">';
	html += '  <td><input type="text" name="frames[' + num + '][title]" value="" placeholder="Заголовок слайда" class="form-control"><br><input type="text" name="frames[' + num + '][link]" value="" placeholder="Ссылка" class="form-control"></td>';
	$('#breakpoints tbody tr').each(function() {
		var breakpoint = $(this).attr('id').replace("bp-row-", "");
		html += '  <td class="text-center frame-point-' + breakpoint + '"><a href="" id="thumb-' + num +'-image-' + breakpoint + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" class="input-image" name="frames[' + num + '][image][' + breakpoint + ']" value="" id="input-' + num + '-image-' + breakpoint + '"></td>';
	});
	
	html += '  <td class="text-center frame-action"><button id="frame-remove-' + num + '" type="button" class="btn btn-danger frame-remove"><i class="fa fa-minus-circle"></i></button></td>';
  html += '  </tr>';
	$('#frames tbody').append(html);
	
	{#
	var frames = document.getElementById("frames").getElementsByTagName('tbody')[0].getElementsByTagName('tr');
	for (let i = 0; i < frames.length; i++) {
		var frame = frames[i].id.replace("frame-row-", "");
		if (frame != i+1) {
			var html = document.getElementById('frame-row-'+frame).innerHTML;
			html = replaceAll(html, 'frames['+frame+']', 'frames['+(i+1)+']');
			html = replaceAll(html, 'thumb-'+frame+'-image', 'thumb-'+(i+1)+'-image');
			html = replaceAll(html, 'input-'+frame+'-image', 'input-'+(i+1)+'-image');
			html = replaceAll(html, 'frame-remove-'+frame, 'frame-remove-'+(i+1));
			document.getElementById('frame-row-'+frame).innerHTML = html;
			document.getElementById('frame-row-'+frame).id = 'frame-row-'+(i+1);
		}
	}
	#}
	setStyle();
	
}

function removeBreakpoint(value) {
	$('#frames thead .frame-point-' + value).remove();
	$('#frames tbody .frame-point-' + value).each(function() {
		$(this).remove();
	});
	setPoints();
	setStyle();
}

function removeFrame(value) {

	$('#frame-row-' + value).remove();
	var frames = document.getElementById("frames").getElementsByTagName('tbody')[0].getElementsByTagName('tr');
	for (let i = 0; i < frames.length; i++) {
		var frame = frames[i].id.replace("frame-row-", "");
		if (frame != i+1) {
			var html = document.getElementById('frame-row-'+frame).innerHTML;
			html = replaceAll(html, 'frames['+frame+']', 'frames['+(i+1)+']');
			html = replaceAll(html, 'thumb-'+frame+'-image', 'thumb-'+(i+1)+'-image');
			html = replaceAll(html, 'input-'+frame+'-image', 'input-'+(i+1)+'-image');
			html = replaceAll(html, 'frame-remove-'+frame, 'frame-remove-'+(i+1));
			document.getElementById('frame-row-'+frame).innerHTML = html;
			document.getElementById('frame-row-'+frame).id = 'frame-row-'+(i+1);
		}
	}
	setStyle();
	
}

function replaceAll(str, find, replace) {
  return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
}

function escapeRegExp(string) {
  return string.replace(/[.*+\-?^${}()|[\]\\]/g, '\\$&');
}

function setPoints() {
	var points = document.getElementById("breakpoints").getElementsByTagName('tr');
	var width = (100 - 40) / (points.length-1);
	for (var i=1; i<points.length-1; i++) {
		var curr = points[i].id.replace("bp-row-", "");
		var next = points[i+1].id.replace("bp-row-", "");
		//document.getElementsByName('breakpoints['+curr+'][to]')[0].value = next;
		document.getElementsByName('breakpoints['+curr+'][to]')[0].value = next-1;
		document.getElementsByName('breakpoints['+next+'][to]')[0].value = '+';
		document.getElementsByClassName('frame-point-'+curr)[0].style.width = width + '%';
		document.getElementsByClassName('frame-point-'+next)[0].style.width = width + '%';
		document.getElementsByClassName('frame-point-'+curr)[0].innerHTML = document.getElementsByName('breakpoints['+curr+'][from]')[0].value + ' - ' + document.getElementsByName('breakpoints['+curr+'][to]')[0].value;
		document.getElementsByClassName('frame-point-'+next)[0].innerHTML = document.getElementsByName('breakpoints['+next+'][from]')[0].value + ' + ';
	}
	document.getElementById("frame-spacer").setAttribute('colspan', points.length-1+1);
}

function setStyle() {
	$('#input-style').text('');
	var text = '';
	text += '.item .img {width:100%;background-position:100% 100%;background-repeat:no-repeat;background-size:cover;} \n';
	text += '.item .img a {display:block;width:100%;height:100%;line-height:100%;font-size:44px;font-weight:bold;color:#eee;} \n\n'; 
	
	var frames = document.getElementById("frames").getElementsByTagName('tbody')[0].getElementsByTagName('tr');
	var points = document.getElementById("breakpoints").getElementsByTagName('tr');
	for (let i=1; i < points.length; i++) {
		var point = points[i].id.replace("bp-row-", "");
		var from = document.getElementsByName('breakpoints['+point+'][from]')[0].value;
		var to = document.getElementsByName('breakpoints['+point+'][to]')[0].value;
		if (from == 0) {
			text += '@media (max-width: ' + to + 'px) { \n';
		} else if (to == '+') {
			text += '@media (min-width: ' + from + 'px) { \n';
		} else {
			text += '@media (min-width: ' + from + 'px) and (max-width: ' + to + 'px) { \n';
		}
		for (let n = 0; n < frames.length; n++) {
			let frame = frames[n].id.replace('frame-row-', '');
			let img = document.getElementById('input-'+frame+'-image-'+point).value;
//			text += '	.img-'+frame+' { \n';
//			text += '		background:url('+img+') 100% 100% no-repeat; \n';
//			text += '	} \n';
			text += '	.img-'+frame+'{background:url({{ img_path }}'+img+');} \n';
		}
		text += '} \n\n';
	}
	$('#input-style').text(text);
}

$('body').on('click','#button-clear', function() {
	console.log('button-clear');
	setStyle();
});
$('body').on('click','.thumbnail', function() {
	console.log('thumbnail');
	setStyle();
});
//--></script>
