.oct-version{font-size:12px;}
.oct-version span{color:#71BE00;font-weight:bold;font-size:16px;}
.onoffswitch {position: relative;width: 55px;display: inline-block;font-size: 80%;}
.onoffswitch .onoffswitch-label {display: block;overflow: hidden;cursor: pointer;border: 1px solid hsl(0, 0%, 90%);-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px;margin: 0;}
.onoffswitch .onoffswitch-inner {width: 200%;margin-left: -100%;-webkit-transition: margin 0.15s ease-in-out;-o-transition: margin 0.15s ease-in-out;-moz-transition: margin 0.15s ease-in-out;transition: margin 0.15s ease-in-out;}
.onoffswitch .onoffswitch-inner:before,
.onoffswitch .onoffswitch-inner:after {float: left;width: 50%;height: 24px;padding: 0;line-height: 24px;font-size: 80%;color: hsl(0, 0%, 100%);font-weight: normal;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.onoffswitch .onoffswitch-inner:before {content: "ON";padding-left: 10px;background-color: hsl(203, 100%, 39.1569%);color: hsl(0, 0%, 100%);}
.onoffswitch .onoffswitch-inner:after {content: "OFF";padding-right: 10px;background-color: hsl(0, 0%, 98%);color: hsl(0, 0%, 24%);text-align: right;}
.onoffswitch .onoffswitch-switch {width: 22px;height: 22px;margin: 0;background: hsl(0, 0%, 100%);box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);-moz-border-radius: 50%;-webkit-border-radius:50%;border-radius: 50%;position: absolute;top: 2px;bottom: 0;right: 35px;-webkit-transition: right 0.15s ease-in-out;-o-transition: right 0.15s ease-in-out;-moz-transition: right 0.15s ease-in-out;transition: right 0.15s ease-in-out;}
.toggle-group {position: relative;height: 27px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;padding-top:0;}
.toggle-group input[type=checkbox] {position: absolute;left: 10px;}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {right: 1px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);}
.toggle-group input[type=checkbox]:focus ~ .onoffswitch {outline: thin dotted #333;outline: 0;}
.toggle-group label {position: absolute;cursor: pointer;padding-left: 65px;display: inline-block;text-align: left;line-height: 24px;z-index: 1;height: 24px;font-weight: 200;left:0}
.delete-block-in{color:#cc0000;cursor:pointer;}
.form-horizontal .control-label{font-size:12px;padding-top:0;}
#tab-socials-settings .social_icone{width:45px;text-align:center;}
#tab-socials-settings .social_icone i{font-size:16px;}

.col-sm-2.payments{border: 1px solid #f6f6f6;padding-top: 15px;padding-bottom: 15px;height:122px;margin-bottom:15px;position: relative;}
.col-sm-2.payments .btnr{position: absolute;top: 5px;right: 5px;color: #ff0000;}
.col-sm-2.payments label{text-align:center;}
.col-sm-2.payments img{width:100%;max-width:80px;height:53px;}
.col-sm-2.payments .col-sm-6{margin-left:22%;margin-top:15px;}
.add_block_in{text-align: center;padding: 25px;}
.us-alert-block {margin: 20px;position: absolute;right: 0;top: 0;}
.us-alert-content{display:flex;align-items:center}
.us-alert {width: 300px;background: #FFF;float: right;border: none;border-radius: 1px;box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.55);padding: 0;margin-bottom: 20px;}
.us-alert-success {background: #71BE00;}
.us-alert-danger {background: #EB5757;}
.us-alert-warning {background: #FF9E2D;}
.us-alert-primary {background: #50A8FF;}
.us-alert-icon i {width: 60px;font-size: 20px;color: #fff;text-align: center;}
.us-alert-text {min-width: 240px;color: #666;font-size: 12px;padding: 15px;background: #FFF}
.us-alert-text a {color: #50A8FF;font-size: 12px;text-decoration: underline;}
.us-alert-text a:hover {text-decoration: none;}
.us-alert .us-alert-text {line-height: 17px;}
.us-alert-text-item:not(:last-child) {margin-bottom: 10px}
.animated {animation-duration: .5s;animation-fill-mode: both;}
@keyframes fadeInRight {from {opacity: 0;transform: translate3d(100%, 0, 0);}to {opacity: 1;transform: translate3d(0, 0, 0);}}
.fadeInRight {animation-name: fadeInRight;}
@keyframes fadeOutUp {from {opacity: 1;}to {opacity: 0;transform: translate3d(0, -100%, 0);}}
.fadeOutUp {animation-name: fadeOutUp;}
.alert2 {padding: 10px;margin-bottom: 18px;border: 1px solid transparent;border-radius: 3px;}
.alert-info2 {background-color: #d9edf7;border-color: #bce8f1;color: #214c61;}

.seo-variant {background: #f4f4f4;margin: 10px 0;border: 1px solid #f0f0f0;padding: 10px;font-weight: bold;}