.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.form-row > .col,
.form-row > [class*=col-] {
	padding-right: 5px;
	padding-left: 5px;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.col label{
	display: block;
}
#tab-fieldsets, #status-fieldsests {
/*	max-width: 600px;*/
	margin: 0 auto
}

#tab-fieldsets .panel-heading {
	font-size: 14px;
}

#tab-fieldsets select {
	background: #f6f6f6
}

#tab-fieldsets label {
	font-weight: normal;
}

.form-row.form-row {
	margin-top: 10px;
}

.field-group {
	border-bottom: 1px solid #dcdcdc;
}
.table td p.warning{
	background: #fce7c8;
	padding: 5px;
} 
.table td p.error{
	background: #f1a4a4;
	padding: 5px;
} 
.table td p.success{
	background: #e7ffe5;
	padding: 5px;
} 
.table td p>b{
	display: block;
}

.error{
	border-color: #e3503e;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: #e3503e;
}
.form-horizontal .control-label div{
	font-weight: normal
}

.filter_tab{
	min-width: 138px;
	
}

.nav .filter_tab a{
	display: inline-block;
}


@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);


.eye{
  width: 20px; height: 8px;
  background-color: rgba(240,220,220,1);
  border-radius:0px 0px 20px 20px;
  position: relative;
  left: 10px; top: 40px;
  box-shadow:  40px 0px 0px 0px rgba(240,220,220,1);              
}

.head{
  -webkit-backface-visibility: hidden;
  position: relative;
  margin: -250px auto;
  width: 80px; height: 80px;
  background-color: #111;
  border-radius:50px;
  box-shadow: inset -4px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:headAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.body{ 
  position: relative;
  margin: 90px auto;
  width: 140px; height: 120px;
  background-color: #111;
  border-radius: 50px/25px ;
  box-shadow: inset -5px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;  
}

  @-webkit-keyframes headAnim{
         0%{ top:0px; }
         50%{ top:10px; }
         100% { top:0px;} 
  }

  @-webkit-keyframes bodyAnim{
         0%{ top:-5px; }
         50%{ top:10px; }
         100% { top:-5px;} 
  }

.circ{
  z-index: 100;
  -webkit-backface-visibility: hidden;
  margin: 60px auto;
  width: 180px; height: 180px;
  background-color: #111;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  z-index: -1;  
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.hands{
  -webkit-backface-visibility: hidden;
  margin-top: 140px;
  width: 120px;height: 120px;
  position: absolute;
  background-color: #111;
  border-radius:20px;
  box-shadow:-1px -4px 0px 0px rgba(240,220,220,1);
  -webkit-transform:rotate(45deg);
  top:75%;left: 16%;
  z-index: 1;
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.load{  
  position: absolute;
  width: 7ch; height: 32px;
  text-align: left;
  line-height: 32px;
  margin: 13px auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Julius Sans One', sans-serif;
  font-size:28px;
  font-weight:400;
  color:rgba(240,220,220,1);
  left: 2%; top: 5%;
  -webkit-animation:fontAnim 3.75s infinite;
  -webkit-animation-timing-function:ease-out;
  word-wrap: break-word;
  display:block;
  overflow: hidden;
}

@-webkit-keyframes fontAnim{
        0%{ width:7ch; }
       16%{ width:8ch; }
       32%{ width:9ch; }
       48%{ width:10ch; }
       64%{ width:11ch; }
       80%{ width:12ch; }
     100% { width:13ch;} 
}

.shipping_nav {
	display: none;
}

.shipping_nav.active{
	display: block
}

.text_center{
    height: 37px;
    display: flex;
    align-items: center;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

select.datepick-month-year:nth-of-type(2) {
    display: none;
}

.tooltip-container:after {
    font-family: FontAwesome;
    color: #1E91CF;
    content: "\f059";
    margin-left: 4px;
}