#back-top, #us_fixed_contact_button, .us-fixed-contact-pulsation, .us-module-item:hover .us-module-cart-btn, .us-module-btn:hover, .us-module-btn-green, .us-footer-form-top-buttton, .oct-fixed-bar-link:hover, .oct-fixed-bar-quantity, .pagination li.active span, .pagination li a:hover, .us-product-btn-active, .us-product-btn:hover, .us-product-quantity-btn:hover, .us-categories-wall-item:hover hr, .compare-wishlist-btn:hover, .image-additional-box .owl-carousel .owl-nav button:hover, #us_livesearch_close, .us-product-option .radio label.selected,.simplecheckout-cart-buttons .button,.simplecheckout-button-right .button,#simplecheckout_button_login, .us-news-stickers-date {background:rgb(24, 184, 209);}
nav .dropdown-menu button:hover, .user-dropdown-menu .us-dropdown-item:hover, .us-categories-wall-top-link:hover .us-categories-wall-title, .us-module-item:hover .us-module-title a, .us-module-buttons-link:hover i, .us-reviews-block:hover .us-reviews-block-title, .subcat-item:hover .subcat-item-title, .us-breadcrumb-item:last-child, .us-category-appearance-btn.active, .us-category-appearance-btn:hover, .us-product-advantages-item:hover .us-product-advantages-icon i, .us-breadcrumb-item a:hover, .us-column-link:hover, .us-blog-search-btn:hover, .us-blog-post-info-item i, .us-news-block:hover .us-news-block-title, .us-product-tags, .us-product-tags a, .us-categories-wall-link:hover {color:rgb(24, 184, 209);}
.us-carousel-brands-box, .us-product-nav-item-active a:after, .us-product-nav-item a:hover:after, .us-page-main-title:after {border-color:rgb(24, 184, 209);}
body {background-color:rgb(255, 255, 255);}
#top {background:rgb(243, 244, 246);}
.btn-link {color:#E5E5E5;}
.btn-link:hover, .btn-link:focus {color:#E5E5E5;}
.us-phone-link, .us-cart-link {color:rgb(9, 157, 180);}
.top-phone-btn, .us-cart-text {color:#333333;}
.menu-row {background-color:#353e48;}
.oct-ultra-menu {background:rgb(24, 184, 209);}
#oct-menu-box:hover .oct-ultra-menu {background-color:#4a5663;}
.oct-ultra-menu {color:#ffffff;}
.oct-menu-li {background:#ffffff;}
.oct-menu-li:hover {background:#F7F7F7;}
.oct-menu-li > a, .oct-menu-li > div > a {color:#333333;}
.oct-menu-li:hover > a, .oct-menu-li:hover > div > a {color:rgb(9, 157, 180);}
.menu-row {color:#E5E5E5;}
.oct-mm-link:hover > a, .oct-mm-simple-link:hover > a {background:rgb(9, 157, 180);}
.oct-mm-parent-title, .oct-mm-child a {color:#333333;}
.oct-mm-child a:hover, .oct-mm-parent-link:hover .oct-mm-parent-title {color:rgb(9, 157, 180);}
/*footer {background-color:#353e48;}*/
.us-footer-subscribe-text-text, /*footer,*/ .us-footer-text, .us-footer-form-bottom label, .us-footer-bottom-credits {color:#DEDEDE;}
.us-footer-link, .us-footer-phone-btn, .us-footer-mail {color:#CBCFD4;}
.us-footer-link:hover, .us-footer-phone-btn:hover, .us-footer-mail:hover {color:rgb(9, 157, 180);}
.us-footer-form-top-input {background:#656c73;}
.us-categories-box {background:#F3F5FB;}
.us-categories-item {color:#666666;}
.us-categories-item.active > span a, .us-categories-item a:hover {color:rgb(9, 157, 180);}
.modal-header {background:rgb(24, 184, 209);}
.modal-title {color:#ffffff;}
button.us-close {background:rgba(9, 157, 180, 0.82);}
button.us-close:hover {background:rgb(9, 157, 180);}
.us-modal-close-icon {border-color:#ffffff;}
@media screen and (max-width: 991px) {#top {background:rgb(53, 61, 70);}}
@media screen and (max-width: 991px) {.us-menu-mobile {background:rgb(24, 184, 209);}}
.us-logo-img {max-width: 100%!important;}
.no-price {color:#c00;}
.us-no-stock {-webkit-filter: none; filter: none;}
.us-main-shop-title a:hover {text-decoration: underline;color:rgba(9, 157, 180, 0.82);}
.us-product-attr-item {color: #30363D; font-size: 16px; font-weight: 300; position: relative;}
.us-product-attributes-cont .us-product-attr-item {color: #30363D;}
.us-product-description-cont {color: #30363D; font-size: 16px; padding: 0 30px 30px;}
.product-grid .us-module-title {height: 85px; overflow-y: hidden;}
.us-module-title {height: 85px; overflow-y: hidden;}
.product-grid .us-product-list-description { display: none;}
.us-breadcrumb-item {color: #30363D;}
.tag__item a {border: 1px solid rgba(228, 227, 227, 0.47)!important; border-radius: 5px!important;}
.tag__item {margin-right: 10px; display: inline-block;}
.us-slideshow-plus-item_1 .us-slideshow-plus-item-title {font-size: 20px;}
.us-slideshow-plus-item_3 .us-slideshow-plus-item-title {font-size: 20px;}
.product-slideshow.default-slideshow .owl-nav button span{font-size: 90px}
.product-slideshow.default-slideshow .owl-nav button{top:35%;}
.row.product-slideshow{margin: 0;}
@media screen and (min-width: 760px) {
.product-slideshow.default-slideshow .owl-nav .owl-next{right:-25px;}
.product-slideshow.default-slideshow .owl-nav .owl-prev{left:-25px;}
}
.tag .us-category-description-cont{max-height: 70px !important;}
.tag .us-category-description-cont.expanded{max-height: 100% !important;}
.tag .us-category-description-opacity{top: 35px;}

.us-category-description-text h1{font-size: 1.2rem;}
.us-category-description-text h2{font-size: 1.2rem;}
.us-category-description-text h3{font-size: 1.0rem;}
.us-category-description-text h4{font-size: 1.0rem;}
.dropdown-item {white-space: normal;}
.foreign img {width: 110px; margin-right:15px;}
.foreign > div {margin-top:15px;}

.product-list .us-product-btn.one_click_on_list.button-one-click {
    margin-left: 0;
    width: 175px;
}
.product-grid .us-module-title{
    height: auto;
}
.us-cat-product-attr-cont{
    margin-top: 15px;
    text-align: left;
}
.us-cat-product-attr-cont ul, .us-cat-product-attr-cont .us-product-attr-item{
    list-style: none;
    font-size: 12px;
}
.us-cat-product-attr-cont ul{
  padding: 0 20px;
}
.us-category-sort-block {
    background-color: #353e48;
    padding: 10px;
}

.sort-limit {
    display: inline-block;
}

.us-category-sort-block .sort-limit select {
    border-radius: 4px;
      background-color: #FFF;
      color: #000000;
}

.us-category-appearance-btn {
    color: #c6c6c6;
}

.sna_icons ul{margin: 0;padding:0;}
.sna_icons li{display:inline-block;}
#socnetauth2box{
  padding: 0 !important;
}
#socnetauth2box > a{
color:#fff;
top: 5px !important;
right: 10px !important;
}
.h_link {
    color: rgb(9,157,180);
}
.h_link:hover {
    color: #71BE00;
}
.roistat-lh-pulsator-phone { bottom: 0%!important; right: 1%!important;}
