.search-suggest-hidden {overflow:hidden;clip:rect(0 0 0 0);clip:rect(0, 0, 0, 0);}
span.out-of-sale {color:#888;}
div.out-of-sale {color:#888;text-transform:uppercase;margin:0 15px 10px;padding:7px 0;border:1px dashed #888;}
.us-module-cart-btn.button-call_price,.us-module-cart-btn.button-call_stock,.us-module-cart-btn.button-call_analog {background:#18b8d1;padding:9px 0;}
.product_detail__buttons .out-of-sale {color:#888;text-transform:uppercase;margin:0 0 12px;padding:8px 0;border:1px dashed #888; font-size:16px;}
.product_detail__buttons .us-module-cart-btn {background:#18b8d1;color:white;text-transform:uppercase;margin:0;padding:9px 0;font-size:16px;}

.us-livesearch-list-item-price .us-module-price.out-of-sale {
color: #888;
	margin: 0; 
	padding: 1px 5px 0; 
	font-size: 12px;
}
.no-price {color:#c00;}
.us-no-stock {-webkit-filter: none; filter: none;}
.us-main-shop-title a:hover {text-decoration: underline;color:rgba(9, 157, 180, 0.82);}
.us-product-attr-item {color: #30363D; font-size: 16px; font-weight: 300; position: relative;}
.us-product-attributes-cont .us-product-attr-item {color: #30363D;}
.us-product-description-cont {color: #30363D; font-size: 16px; padding: 0 30px 30px;}
.product-grid .us-module-title {height: 85px; overflow-y: hidden;}
.us-module-title {height: 85px; overflow-y: hidden;}
.product-grid .us-product-list-description { display: none;}
.us-breadcrumb-item {color: #30363D;}
.tag__item a {border: 1px solid #969696; border-radius: 20px; color: #30363D; padding: 5px; margin-bottom: 15px;}
.tag__item {margin-right: 10px; display: inline-block;}
.us-slideshow-plus-item_1 .us-slideshow-plus-item-title {font-size: 20px;}
.us-slideshow-plus-item_3 .us-slideshow-plus-item-title {font-size: 20px;}
.product-slideshow.default-slideshow .owl-nav button span{font-size: 90px}
.product-slideshow.default-slideshow .owl-nav button{top:35%;}
.row.product-slideshow{margin: 0;}
@media screen and (min-width: 760px) {
    .product-slideshow.default-slideshow .owl-nav .owl-next{right:-25px;}
    .product-slideshow.default-slideshow .owl-nav .owl-prev{left:-25px;}
}
.tag .us-category-description-cont{max-height: 70px !important;}
.tag .us-category-description-cont.expanded{max-height: 100% !important;}
.tag .us-category-description-opacity{top: 35px;}

.us-module-item:hover .us-module-cart-btn{background: #ff3a28;}

.us-categories-3>.us-categories-item.active{font-weight: bold}
.oct-menu-li.active {background: #F7F7F7;}
.oct-menu-li.active > a, .oct-menu-li.active > div > a{color: rgb(9,157,180)}
.oct-mm-link a.active, .oct-mm-simple-link a.active {background: rgb(9, 157, 180);}
.oct-mm-link a.active.oct-menu-a {background: initial; color: rgb(9, 157, 180);}
.button-installments {background: #f7b209}

#installments-modal .modal-dialog {
    max-width: 940px;
}
#installments-modal .us-cart-item-link {
    margin-bottom: 20px;
}

#installments-modal .control-label-quantity {
    margin-right: 18px;
}

.us-module-caption.d-flex.flex-column{
    flex-grow: 1;
}

.product-slideshow .owl-stage {
    display: flex;
}
.product-slideshow .owl-item {
    display: flex;
    flex: 1;
}

/* @group jQuery countdown */
.is-countdown {
    background: rgba(237,237,237,0.90);
    font-size: 12px;
    color: #232323;
    overflow: hidden;
    margin: 0 15px 20px;
}

.countdown-holding span {
    color: #888;
}

.countdown-row {
    clear: both;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.countdown-show1 .countdown-section {
    width: 98%;
}

.countdown-show2 .countdown-section {
    width: 48%;
}

.countdown-show3 .countdown-section {
    width: 32.5%;
}

.countdown-show4 .countdown-section {
    width: 24.5%;
}

.countdown-show5 .countdown-section {
    width: 19.5%;
}

.countdown-show6 .countdown-section {
    width: 16.25%;
}

.countdown-show7 .countdown-section {
    width: 14%;
}

.countdown-section {
    display: block;
    float: left;
    font-size: 100%;
    text-align: center;
    position: relative;
    padding: 12px 0px 6px 0px;
}

.countdown-amount {
    font-size: 14px;
    font-weight: 600;
    display: block;
    position: relative;
    margin-bottom: -5px;
}

.countdown-period {
    display: block;
}

.countdown-descr {
    display: block;
    width: 100%;
}
.prod_category--wrap .us-category-sort-block{
    padding: 5px 10px;
}
.us-category-sort-block {
    background-color: #f8f8f8 !important;
    padding: 10px;
    border: 1px solid #f2f2f2 !important;
}
.us-category-appearance-btn{
    color: #c6c6c6;
}
.sort-limit .btn{
    font-size: 14px;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
}
.btn-sort{
    color: #18b8d1;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
}
.btn-sort.active{
    background: #18b8d1;
    color: #fff !important;
}
#dropdownLimit{
    font-size: 14px !important;    
    display: inline-block;
    margin-left: 20px;
}
#dropdownLimit .dropdown-menu{
    min-width: auto;
}
#dropdownLimit .dropdown-item{
    padding: 2px 19px;
    text-align: center;
}
#dropdownLimit .dropdown-item:focus, #dropdownLimit .dropdown-item:hover{
    background: #18b8d1;
    color: #fff;
}
#dropdownLimit .btn{
    background: #18b8d1;
    color: #fff;
    text-align: center;
    border: transparent;
    width: 66px;
    height: 30px;
    line-height: 30px;
    padding: 0;
}
@media screen and (max-width: 767px){
    .sort-limit {
        flex-direction: column;
        text-align: center;
    }
    #dropdownLimit{
        margin: 5px 0 0;
    }
    #dropdownLimit .btn, #dropdownLimit .dropdown-menu {
        width: 100%;
    }
}