
/*  mystyle */

.banner__image {
	padding: 40px;
	background-size: cover !important;
}

.oplata .banner__image {
	background: url('../image/pictures/oplata/bg-oplata.jpg') no-repeat;
}

.about .banner__image {
	background: url('../image/pictures/about/about-bg.jpg') no-repeat;
}

.tenko .banner__image {
	background: url('../image/pictures/tenko/tenko-bg.jpg') no-repeat;
}

.warranty .banner__image {
	background: url('../image/pictures/warranty/bg-warranty.jpg') no-repeat;
}

.delivery .banner__image {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../image/pictures/delivery/bg-delivery.jpg);
}

.credit .banner__image {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../image/pictures/credit/credit-bg.jpg);
}

.delivery .banner__second {
	    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../image/pictures/delivery/bg-delivery2.jpg);
}

.delivery .banner__third {
	background: url('../image/pictures/delivery/bg-delivery3.jpg') no-repeat;
}

.cheaper .banner__image {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../image/pictures/cheaper/cheaper-bg.jpg);
}

.company__item--1 {
    background: url(../image/pictures/about/bg_1.png) no-repeat center top 30px;
}
.company__item--2 {
    background: url(../image/pictures/about/bg_2.png) no-repeat center top 30px;
}
.company__item--3 {
    background: url(../image/pictures/about/bg_3.png) no-repeat center top 30px;
}
.company__item--4 {
    background: url(../image/pictures/about/bg_4.png) no-repeat center top 30px;
}
.company__item--5 {
    background: url(../image/pictures/about/bg_5.png) no-repeat center top 30px;
}
.company__item--6 {
    background: url(../image/pictures/about/bg_6.png) no-repeat center top 30px;
}

.company__item {
    min-height: 360px;
    margin-bottom: 40px;
}

.company__item img {
	margin-top: 70px;
}

.company__item p {
	padding-top: 38px;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.normat-dok a {
    font-size: 26px;
    color: #23a1d1;
}

.owl-carousel .nav-btn{
  height: 32px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 140px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}

.owl-carousel .prev-slide{
  background: url(../image/pictures/about/back.png) no-repeat;
  left: -33px;
}
.owl-carousel .next-slide{
  background: url(../image/pictures/about/next.png) no-repeat;
  right: -27px;
}

.question-center {
	padding-top: 20px;
	padding-bottom: 20px;
}

.about .banner .oplata__h1,
.about .banner .banner__description p,
.banner-right__text {
	color: #000;
}

.banner-right__text {
	display: inline-block;
	margin-top: 10px;
}

.about .banner-right .col-sm-6 {
	margin-bottom: 20px;
}

.question-center .question__span {
	margin-top: 20px;
	display: inline-block;
}

.padding--need {
	padding: 10px 0;
	display: inline-block;
}

.normat-dok {
	margin: 20px 0;
}

.banner__info {
	color: #fff;
	line-height: 1.333;
}

.oplata__h1 {
	font-size: 36px;
	margin-bottom: 30px;
}

.banner__description p {
	font-size: 18px;
}

.banner__description,
.oplataFooter,
.blueBackground {
	margin-top: 40px;
}

.variant,
.delivery {
	line-height: 1.333;
}

.variant__title {
	margin-top: 50px;
	margin-bottom: 50px;
	background: #28B8CF;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.credit-title {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;	
}

.oplata__h2 {
	font-size: 21px;
	color: #fff;
}

.oplataFooter .oplata__h2,
.payment .oplata__h2,
.delivery-rules__title .oplata__h2,
.credit-title .oplata__h2,
.advantages__title .oplata__h2 {
	color: #000;
}

.delivery .advantages__image {
	min-height: 121px;
	padding: 10px 0px;
    display: flex;
    align-items: center;
}

.delivery-rules__pre-icon {
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}

.delivery-rules__item,
.delivery .payment-wrapper {
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.oplataFooter__right .oplataFooter__name,
.delivery-rules__description,
.delivery-rules__title,
.delivery-rules__item .us-show-more,
.payment {
	text-align: center;
}

.delivery-rules__description {
    padding: 0 20px;
}

.payment-button {
	display: inline-block;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
}

.payment-button a {
	background-color: #11c5e1;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

.delivery-rules__item {
	padding-bottom: 20px;
}

.delivery-rules__description {
	margin-top: 20px;
}

.oplataFooter__name {
	margin-top: 20px;
}

.oplata__h3 {
	font-size: 24px;
    color: #333333;
}

.variant__name {
	margin-bottom: 40px;
}

.variant__description p {
	line-height: 2.3333;
}

.variant__item,
.delivery-rules__title,
.delivery-rules__item {
	margin-bottom: 30px;
}

.credit .variant__item {
	font-weight: 700;
}

.delivery span.delivery-rules__value1 {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.delivery span.delivery-rules__value2 {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.col-sm-55 {
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	-ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.delivery .advantages,
.delivery .payment__title,
.delivery .delivery-rules {
	margin-top: 30px;
	margin-bottom: 30px;
}

.advantages__item {
	text-align: center;
}

.advantages__title {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.advantages__description {
    min-height: 42px;
}



.advantages__description span {
	font-weight: 600;
    font-size: 16px;
}

.blueBackground {
	padding: 45px;
	line-height: 2.333;
	text-align: center;
}

.bgblue {
	background: rgba(40, 184, 207, 0.15);
}

.mb30 {
	margin-bottom: 30px;
}

.variant .variant__image img {
    max-width: 80%;
}

.oplataFooter  p{
    font-size: 16px;
    color: #333333;
}

.padding15 {
	padding: 15px;
}

.delivery-rules__name {
	background: #56CCF2;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.delivery-rules__icon {
	color: #fff;
	position: relative;
}

.delivery .advantages__image img {
	max-width: 90%;
}

.delivery .icon-1:before,
.delivery .icon-2:before,
.delivery .icon-3:before,
.delivery .icon-4:before {
	content: '';
	position: absolute;
}

.delivery .icon-1:before {
	width: 35px;
	height: 35px;
	background: url(../image/pictures/delivery/delivery-icon1.svg) no-repeat;
	top: calc(50% - 17.5px);
    left: -40px;
}
.delivery .icon-2:before {
	width: 42px;
    height: 42px;
	background: url(../image/pictures/delivery/delivery-icon2.svg) no-repeat;
	top: calc(50% - 22px);
	left: -50px;
}
.delivery .icon-3:before {
	width: 69px;
    height: 55px;
	background: url(../image/pictures/delivery/delivery-icon3.svg) no-repeat;
	top: calc(50% - 32.5px);
	left: -79px;
}
.delivery .icon-4:before {
	width: 32px;
	height: 32px;
	background: url(../image/pictures/delivery/delivery-icon4.svg) no-repeat;
	top: calc(50% - 16px);
	left: -42px;
}

.special .special__item .special__image {
    background-color: #28B8CF;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.special .special__name {
	text-align: center;
	margin-top: 20px;
}

.special .special__name span {
	font-size: 16px;
}

.special__small p {
	font-weight: 700;
    font-size: 18px;
}

.special .special__item .special__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.special__footer {
	padding: 40px 10px;
	background: rgba(40, 184, 207, 0.3);
}

.special__footer p {
	font-size: 24px;
	font-weight: 700;
}

.steps,
.special__small,
.step__small,
.cheaper .specialm,
.special .oplata__h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.steps .oplata__h1 {
	color: #4F4F4F;
}

.steps p {
	font-size: 24px;
	color: #4F4F4F;
	font-weight: 700;
}

.step__image {
	margin-bottom: 20px;
}

.step__image img,
.about img,
.warranty img {
	max-width: 100%;
}

.company_review_bott a:hover {
    opacity: .8;
}

.duties img {
	width: 100%;
}

.step__name,
.special__footer {
	text-align: center;
}

.step__name span {
	color: #333333;
	font-weight: 700;
}

.step__small p {
	font-size: 24px;
	color: #4F4F4F;
}

.special .special__item {
	margin-bottom: 50px;
}

.warranty-talon,
.duties,
.return,
.question,
.service,
.company,
.dealer {
	text-align: center;
	padding: 40px 0
}

.duties,
.return {
	background: rgba(242, 242, 242, 0.7);
}

.warranty-talon .oplata__h1,
.question .oplata__h1,
.dealer .oplata__h1,
.service .oplata__h1 {
	margin-bottom: 20px;
}

.warranty-talon p {
	font-size: 21px;
}

.warranty-talon__item,
.duties__item {
	margin: 20px 0;
}

.dealer__bottom {
	margin-top: 20px;
}

.dealer__bottom span {
	font-size: 24px;
	font-weight: 700;
}

.service__map a {
	background: #28B6CD;
    display: block;
    margin: 60px auto 0;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    line-height: 67px;
}

.service__map a:hover {
	opacity: .8;
}

.service__image {
	border-radius: 50%;
    width: 105px;
    height: 105px;
    background: #fff;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    align-items: center;
}

.service__image img {
	width: 90%;
	margin: 0 auto; 
}

.service__second img {
	width: 80%;
}

.service__second {
    background: #67b734;
}

.service__item,
.return__item {
	margin-bottom: 20px;
}

.service__item span {
    font-size: 24px;
    color: #000;
    font-weight: 700;
}

.return__item span {
	display: block;
    width: 111px;
    height: 111px;
    line-height: 108px;
    background: #E0E0E0;
    border-radius: 50%;
    font-size: 66px;
    color: #000000;
    margin: 0 auto 28px;
    text-align: center;
}

.question p,
.question .question__phone span,
.question .question__phone a {
	font-size: 16px;
    color: #333333;
}

.warranty .service__map {
	display: none;
}

.warranty .service__items {
	max-width: 100%;
    flex: 0 0 100%;
}

.question .question__phone a.blue_link {
	color: #23a1d1;
}

.question .question__p,
.question .question__phone span,
.question .question__phone a {
	font-weight: 700;
}

.warranty-talon__name {
	margin-top: 10px;
}

.services__addinfo_item_image img {
	width: 100%;
}

.services__addinfo_item_point {
	margin-bottom: 20px;
}

.banner__icon-item {
	margin-bottom: 10px;
}

.visible-xs {
	display: none;
}

.visible-xs ul {
	padding-left: 0;
}

.credits_calc_top label:hover, .credits_calc_top input[type="radio"]:checked + label {
    color: #fff;
    background: #28B6CD;
}

.credits_calc_top {
    margin: 0 auto;
    padding-bottom: 85px;
    overflow: hidden;
}
.credits_calc_center {
    width: 100%;
    overflow: hidden;
}
.credits_calc_top label {
    width: 343px;
    height: 67px;
    line-height: 67px;
    border: 1px solid #28B6CD;
    display: block;
    font-size: 24px;
    text-align: center;
    color: #28B6CD;
    float: left;
    font-family: 'OpenSans-Bold';
    cursor: pointer;
}
.credits_calc_center li #srock_mes, .credits_calc_center li #summa {
    background: #28B6CD;
    border: 0;
    height: 10px;
    margin-top: 22px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.credits_calc_center li p {
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: #000000;
    padding-bottom: 24px;
}
.credits_calc_center li #procent {
    width: 240px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #828282;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: #4F4F4F;
    padding: 0 16px;
}
.credits_calc_bott {
    padding: 86px 0 0;
}
.credits_calc_bott button {
    width: 361px;
    height: 50px;
    line-height: 48px;
    background: #28B6CD;
    font-size: 21px;
    color: #FFFFFF;
    border: 1px solid #28B6CD;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.credits_calc {
    width: 100%;
    overflow: hidden;
    background: #F2F2F2;
}
.credits_calc_top input[type="radio"] {
    display: none;
}

.credits_calc_center li #srock_mes span.ui-slider-handle.ui-corner-all.ui-state-default, .credits_calc_center li #summa span.ui-slider-handle.ui-corner-all.ui-state-default {
    width: 38px;
    height: 38px;
    background: #28B6CD;
    border: 0;
    margin: -9px 0 0;
}
.credits_calc_top label[for="ch2"] {
    float: right;
}

.credits_calc_center li:nth-child(1) {
    width: 356px;
}
.credits_calc_center li:nth-child(2) {
    margin: 0 42px 0 70px;
}
.credits_calc_center li:nth-child(3) {
    width: 273px;
}
.credits_calc_center li {
    float: left;
}
.credits_calc_center li #srock_mes span.ui-slider-handle.ui-corner-all.ui-state-default, .credits_calc_center li #summa span.ui-slider-handle.ui-corner-all.ui-state-default {
    width: 38px;
    height: 38px;
    background: #28B6CD;
    border: 0;
    margin: -9px 0 0;
}
.credits_calc_bott {
    overflow: hidden;
    padding: 65px 0 0;
    text-align: center;
}

.variant__item img {
	max-width: 100%
}

.banner__icon-item {
	text-align: center;
}

.simple-step__image {
	text-align: center;
}

.simple-step__image img {
	max-width: 100%;
}

.simple-step {
	background: rgba(39, 179, 201, 0.25);
	padding-bottom: 40px;
}

.bank {
	text-align: center;
}

.bank img {
    margin-bottom: 53px;
    background: #FFFFFF;
    border: 1px solid rgba(40, 181, 204, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
}

.bank a {
	color: #23a1d1;
    font-size: 18px;
    margin-bottom: 10px;
}

.bank a:hover {
	color: #007bff;
}

.fw700 {
	font-weight: 700;
}

.credit-analiz__cell--head-cell {
	background: #28B6CD;
	color: #fff;
}

.credit-analiz__cell {
    border: 1px solid #28B6CD;
    margin-bottom: 8px;
    text-align: center;
	font-weight: 700;
	display: flex;
    align-items: center;
    min-height: 70px;
}

.credit-analiz__cell span {
    display: inline-block;
    line-height: 1.333;
    padding: 16px 10px;
    width: 100%;
}

.credit-title .oplata__h1 + p {
	margin-top: 10px;
}

.credit .advantages__description {
	margin-top: 10px;
}

.credit-faq__question ul {
	list-style-type: none;
}

.credit-faq__question ul li {
    padding-bottom: 20px;
}

.credit-faq__question ul li p {
	color: #333333;
    background: rgba(40, 182, 205, 0.5);
    padding: 47px 65px;
    display: none;
    font-size: 18px;
    font-weight: 700;
}

.credit-faq__question ul li.active p {
	display: block;
}

.credit-faq__question ul li.active h3 {
    background: #28B6CD url(../image/pictures/credit/arrow_top.png) no-repeat center right 39px;
    background-size: 34px;
}

.credit-faq__question ul li h3 {
	color: #fff;
    padding: 33px 80px 33px 55px;
    background: #28B6CD url(../image/pictures/credit/arrow_bott.png) no-repeat center right 39px;
    background-size: 34px;
    font-size: 21px;
}

.__faq {
	padding-left: 0;
}


.tenko .banner__info .backWhite {
	background: #fff;
	padding: 20px;
}

.banner__bottom p {
	padding: 0 20px;
}

.banner__bottom {
	background: #4F4F4F;
	text-align: center;
	padding: 15px 0;
}

.banner__bottom p {
	color: #fff;
}

.tenko .tenko-partners {
	background: url(../image/pictures/tenko/tenko-map-bg.jpg) no-repeat;
	background-size: cover;
}

.tenko .credit-analiz .col-sm-4 {
	margin-bottom: 20px;
} 

.tenko .credit-analiz .align-items-center,
.tenko .simple-step .simple-step__block {
	max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.tenko .banner__title .oplata__h1,
.tenko .banner__description p {
	color: #000;
}

.tenko .simple-step__item {
	margin-bottom: 20px;
}

.tenko .simple-step__item span {
	display: inline-block;
}

.tenko .simple-step__item img {
	min-height: 59px;
	margin-bottom: 15px;
}

.tenko .simple-step {
	background: transparent;
}

.tenko .ban__img {
	float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}

.tenko-partners .oplata__h1 {
	color: #fff;
}

.tenko-partners ul {
	list-style-type: none;
}

.tenko-partners ul li {
	position: relative;
}

.pad40 {
	padding: 40px 15px;
}

.tenko-partners ul li:before {
	content: '';
	background: url(../image/pictures/tenko/check-mark.png) no-repeat;
	position: absolute;
	width: 30px;
	height: 20px;
	top: 5px;
	left: -33px;
}

.tac {
	text-align: center;
}

.tenko-partners ul li,
.tenko-partners span {
	color: #fff;
}

.tenko-partners ul li {
	text-align: left;
}

.tenko-partners .credit-title {
	margin-bottom: 0;
	padding-bottom: 0;
}

.tenko-partners span {
	margin-top: 15px;
	display: inline-block;
}

.tenko .devices .devices__title {
	font-size: 24px;
    color: #D13838;
    margin: 10px 0; 
    display: inline-block;
}

.tenko .devices span {
	font-size: 18px;
}

.tenko .devices .col-sm-4 {
	margin-bottom: 20px;
}

.tenko-partners img {
	max-width: 100%;
}

.credit-title.mb50,
.credit-title.mb40 {
	margin-bottom: 0;
}

.company_review_bott a {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 53px;
    line-height: 52px;
    background: #4daec1 url(../image/pictures/about/strela.png) no-repeat center right 46px;
    color: #fff;
    font-size: 18px;
    padding-left: 35px;
}

.text--blue {
	color: #4daec1;
}

.js--audio-wrap .js--audio-play span.glyphicon-pause {
    background: url(../image/pictures/about/pause.png) no-repeat center center;
}

.banner .tar {
	text-align: right;
}

.banner .tal {
	text-align: left;
}

.js--audio-wrap {
    width: 100%;
    height: 74px;
    background: #f5f5f5;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(32, 79, 85, 0.1);
    -moz-box-shadow: 0px 10px 30px 0px rgba(32, 79, 85, 0.1);
    box-shadow: 0px 10px 30px 0px rgba(32, 79, 85, 0.1);
    margin: 0 auto 30px;
}

.js--audio-wrap {
    height: 68px;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(32, 79, 85, 0.1);
    -moz-box-shadow: 10px 0px 30px 0px rgba(32, 79, 85, 0.1);
    box-shadow: 10px 0px 30px 0px rgba(32, 79, 85, 0.1);
}

.js--audio-wrap .js--audio-play {
    float: left;
    width: 74px;
    height: 74px;
    background: #4daec1;
}

.js--audio-wrap .js--audio-play span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../image/pictures/about/play.png) no-repeat center center;
}

.js--audio-wrap .js--audio-play {
    width: 68px;
    height: 68px;
}

.js--audio-wrap .js--timeline {
    height: 3px;
    width: calc(100% - 134px);
    float: right;
    background: #d0d0d0;
    margin: 35px 30px 0;
    border: 0;
    position: relative;
}

.bg-grey {
	background: #f5f5f5;
}

.question__small--italic {
    font-style: italic;
}

.js--audio-wrap .js--timeline {
    width: calc(100% - 128px);
}

@media (min-width: 768px) {
	.hidden-md {
		display: none;
	}
}

@media (max-width: 768px) {
	.company_review_bott a {
		text-align: left;
	}
	.tenko .credit-title {
		padding: 30px 15px;
	}
	.variant__item ul {
		padding-left: 20px;
	}
	.__faq,
	.credit-faq__question ul li h3,
	.credit-faq__question ul li p {
		margin-left: 0;
		margin-right: 0;
	}
	.simple-step ul {
		list-style-type: none;
	}
	.simple-step__image li p {
		margin-top: 10px;
	}
	.visible-xs {
		display: block;
	}
	.wrapper.info_wrapper {
		padding-top: 0;
	}
	.variant {
		text-align: center;
	}
	.advantages .col-sm-55 {
	    -ms-flex: 0 0 33.3333%;
	    flex: 0 0 33.3333%;
	    max-width: 33.3333%;
	}
	.advantages .advantages__item,
	.tenko .point__item {
		margin-bottom: 20px;
	}
	.advantages .advantages__item:nth-child(4),
	.advantages .advantages__item:nth-child(5) {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.delivery .advantages .advantages__item:nth-child(4) {
		-ms-flex: 0 0 33.3333%;
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	.delivery .advantages .advantages__item:nth-child(5),
	.delivery .advantages .advantages__item:nth-child(6) {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.delivery .advantages .advantages__item:nth-child(5) svg {
		margin: 0 auto;
	}
	.oplata__h1,
	.mistakes_section .oplata__h1 {
		font-size: 3vw;
	}

	.special__block .special__name {
		padding: 0 10px;
	}
	.mistakes_section .oplata__h1,
	.addinfo .oplata__h1 {
		margin-bottom: 20px;
	}
	.addinfo .oplata__h1 {
		padding-top: 20px;
	}
	.blueBackground {
		text-align: left;
	}
	.delivery-rules__name {
		padding: 30px 20px;
	}
	.delivery .icon-1:before,
	.delivery .icon-2:before,
	.delivery .icon-3:before,
	.delivery .icon-4:before {
		display: none;
	}
	.return__item p {
	    min-height: 105px;
	}
	.us-content-inform p, .us-content-inform ul, .us-content-inform ol {
	    margin-bottom: 20px;
	    margin-left: 10px;
	    margin-right: 10px;
	}


	.variant__name {
		padding: 0 10px;
	}
	.variant__image {
		text-align: center;
	}
	.blueBackground {
		padding: 10px;
	}
	.us-content.us-content-inform {
		padding: 0;
	}
	.advantages {
		padding: 0 20px;
	}
	.hidden-xs {
		display: none;
	}

	.bank .col-sm-6 {
		margin-top: 20px;
	}
	.tenko .question .col-sm-12 {
		margin-bottom: 20px
	}
	.question img {
		max-width: 100%;
	}
	.tenko .question {
		padding: 40px 10px;
	}
	.tenko .point__number {
		display: inline-block;
	    padding: 26px;
	    border-radius: 100%;
	    width: 90px;
	    height: 90px;
	    font-size: 28px;
    	color: #fff;
	}
	.tenko .point__item:nth-child(1) .point__number {
		background-color: #89DDF8;
	}
	.tenko .point__item:nth-child(3) .point__number {
		background-color: #90EAB5;
	}
	.tenko .point__item:nth-child(5) .point__number {
		background-color: #9681D2;
	}
	.tenko .point__item:nth-child(7) .point__number {
		background-color: #F27D7D;
	}
	.tenko .point__item:nth-child(9) .point__number {
		background-color: #FDDE61;
	}

}

@media (max-width: 576px) {
	.CRM__item {
		margin-bottom: 20px;
	}
	.about .question-center .col-sm-6 {
		margin-bottom: 20px;
	}
	.tenko .ban__img {
		margin-bottom: 15px;
	}
	.credit-faq__question ul li h3 {
	    color: #fff;
	    padding: 25px 30px 22px 5px;
	    background: #28B6CD url(../image/pictures/credit/arrow_bott.png) no-repeat center right 10px;
	    background-size: 18px;
	    font-size: 21px;
	}
	.credit-faq__question ul li.active h3 {
	    color: #fff;
	    padding: 25px 30px 22px 5px;
	    background: #28B6CD url(../image/pictures/credit/arrow_top.png) no-repeat center right 10px;
	    background-size: 18px;
	}
	.simple-step .oplata__h1 {
		padding: 0 10px;
	}
	.oplata__h1 {
		padding-left: 15px; 
		padding-right: 15px; 
	}
	.credit-faq .oplata__h1 {
		font-size: 7vw;
	}
	.credit-title {
		margin-top: 20px;
	    margin-bottom: 20px;
	    text-align: center;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.credit-faq__question ul li p {
		padding: 20px;
	}
	.credit-faq__question ul li h3,
	.credit-faq__question ul li p {
		font-size: 4vw;
	}
	.mounting_info .oplata__h2,
	.time_section .oplata__h2 {
		font-size: 5.5vw;
	}
	.time_section .info_text,
	.bank a {
		font-size: 4vw;
	}
	.duties__name,
	.services__addinfo_item_text {
		margin-top: 10px;
	}
	.dealer__part--right img {
		max-width: 90%;
	}
	.service__map a {
		line-height: 1.6333;
	}
	.banner__description p,
	.sub_wrapper p,
	.mistakes_section .info_text, .mistakes_section .info_subtitle,
	.cheaper p,
	.question p,
	.warranty-talon p {
    	font-size: 5vw;
	}
	.oplata__h1,
	.dealer__bottom span {
		font-size: 5vw;
	}
	.return .oplata__h1 {
		font-size: 6vw;
	}
	.sub_wrapper .info_subtitle {
		text-align: left;
	}
	.banner__description p {
		font-size: 5vw;
	}
	.oplata__h2 {
		padding: 0 10px;
		font-size: 4.5vw;
	}
	.info_text,
	.services__addinfo_item_text span {
		font-size: 4vw;
	}
	.info_point_text {
		font-size: 4vw;
	}

	.title_devider a {
		font-size: 6vw;
	}
	.mistakes_section .mistakes_item_text {
		font-size: 4vw;
	}
	.warranty-talon__item .warranty-talon__name {
		padding: 0 10px;
	}
	.warranty-talon__small,
	.duties__name,
	.dealer .oplata__h1,
	.dealer__bottom,
	.service .oplata__h1,
	.question {
		padding: 0 20px;
	}
	.duties {
		padding: 40px 20px;
	}
	.duties__image img {
		max-width: 100%;
	}
	.banner__image {
		padding: 30px 10px 20px 10px;
	}
	.services_additional_info .info_subtitle {
		margin-bottom: 60px;
	}
	.info_subtitle {
		font-size: 4vw;
	}
	.services_info__head_image {
		padding: 50px 0;
		background-size: cover;
	}
	.services_item_name span {
	    font-size: 16px;
	}
	.duties .oplata__h1 {
		margin-bottom: 20px;
	}
	.service__items {
		margin-top: 30px;
	}
	.question .oplata__h1 {
		padding: 20px 0;
	}
	.question .question__phone span, .question .question__phone a {
		font-size: 5vw;
	}
	.advantages .col-sm-55 {
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.advantages .advantages__item:nth-child(4),
	.advantages .advantages__item:nth-child(5) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.delivery .advantages .advantages__item:nth-child(4),
	.delivery .advantages .advantages__item:nth-child(5),
	.delivery .advantages .advantages__item:nth-child(6) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.delivery span.delivery-rules__value1,
	.delivery span.delivery-rules__value2 {
		min-height: 36px;
	}
	.payment__item,
	.return .oplata__h1 {
		margin-bottom: 20px;
	}
	.delivery-rules__name .oplata__h3 {
		font-size: 6vw;
	}
	.about .owl-carousel .prev-slide {
		left: -6px;
	}
	.about .owl-carousel .next-slide {
		right: 0;
	}
	.about .owl-item {
	    padding: 20px;
	}
}
.num_item {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.images_with_numeric {
    font-size: 0;
    line-height: 0;
        margin-top: 41px;
}

.num_item .num_item_text {
    color: #5c5c5c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 11px;
    width: 50%;
    display: inline-block;
}

.num_item_image {
    display: inline-block;
    width: 44%;
    vertical-align: top;
}

.num_item {
    font-size: 0;
    line-height: 0;
    padding-bottom: 62px;
}

span.num_item_number {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #353e48;
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    left: 100%;
    bottom: 100%;
    transform: translate(-50%,50%);
}

.image-container {
    position: relative;
    display: inline-block;
}

.num_item.num-item-last {
    width: 100%;
}

.num_item.num-item-last .num_item_image {
    width: 22%;
}

.num_item.num-item-last .num_item_text {
    width: 66%;
}
.image-container img {
    max-width: 100%;
}
@media screen and (max-width: 1200px)
{
  .num_item {
    width: 100%;
  }

  .num_item_image {
      width: 30%;
  }

  .num_item .num_item_text {
      width: 70%;
  }

  .num_item.num-item-last .num_item_image {
      width: 30%;
  }

  .num_item.num-item-last .num_item_text {
      width: 70%;
  }
}

@media screen and (max-width: 992px)
{
  .num_item.num-item-last .num_item_image,.num_item_image {
    max-width: 219px;
    display: block;
    margin: 0 auto;
        width: auto;
}
.num_item_image img
{
  width: 219px;
}
.num_item.num-item-last .num_item_text
,.num_item .num_item_text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
}