/*  Extra large devices (xl) */
@media screen and (min-width: 1200px) {
	#top .dropdown .dropdown-menu,
	#top .nav-dropdown-menu,
	.us-phone-content .dropdown-menu,
	.us-footer-contact-box .dropdown-menu {
		transition: margin-top 0.3s ease, opacity 0.3s ease;
		margin-top: 20px;
		display: block;
		overflow: hidden;
		opacity: 0;
		z-index: -1;
	}

	#top .dropdown.show .dropdown-menu,
	#top .nav-dropdown-menu.show,
	.us-phone-content.show .dropdown-menu,
	.us-footer-contact-box.show .dropdown-menu {
		opacity: 1;
		margin-top: 0px;
		z-index: 1021;
	}

	.us-module-buttons-list {
		transition: opacity .15s ease .05s;
	}

	.us-module-btn {
		transition: all .15s ease .05s;
	}

	#us_livesearch_close {
		transition: background .3s ease .05s, opacity .3s ease .1s;
	}

	.us-module-buttons-link i {
		transition: color .15s ease .05s;
	}

	.subcat-item {
		transition: all .15s ease;
	}

	.flex-container {
		min-height: 400px;
	}

}

/*  Large devices (lg) */
@media screen and (max-width: 1199px) {
	.header-input {
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	.product_detail__left{
		width: 46.8%;
	}
	.product_detail__price .us-price-new{
		font-size: 33px;
	}
	.product_detail_top{
		margin-bottom: 39px;
	}
	.product_detail__right{
		width: 53.2%;
		padding-left: 25px;
		padding-right: 22px;
	}
	#product-product.container{
		max-width: 1070px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-box{
		padding-top: 23px;
		padding-bottom: 7px;
		padding-right: 68px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-info{
		width: calc(100% - 348px);
		padding-right: 15px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-img{
		width: 348px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-text p{
		margin-bottom: 9px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-box:after{
		width: 564px;
		right: -92px;
	}
	.inline_block_list+.btn_bordered{
		margin-bottom: 12px;
		margin-left: 44px;
	}
	.btn_bordered{
		font-size: 14px;
		line-height: 34px;
		height: 38px;
		width: 154px;
	}
	.header-input-group {
		padding-left: 0;
		z-index: 1000;
	}
	.us-phone-img,
	.us-cart-link,
	.us-module-buttons-quickview {
		display: none;
	}
	.us-cart-img {
		margin-right: 10px;
	}
	.oct-mm-full-width {
		max-width: 930px;
	}
	.us-banner-text {
		height: 62px;
		font-size: 14px;
		line-height: 21px;
	}
	.oct-ultra-menu {
		font-size: 14px;
	}
	.us-category-description-cont {
		max-height: 150px !important;
	}
	.us-product-action-left {
		max-width: 199px;
	}
	.us-product-btn {
		width: 181px;
	}
	.options-box .radio {
		display: inline-block;
		margin-bottom: 13px;
	}
	.us-product-action .form-group {
		padding-right: 15px;
	}
	.us-product-action .radio label {
		margin-right: 9px;
	}
	.us-manufacturer-card {
		width: calc(25% - 34px);
	}
	.oct-mm-dropdown-sm {
		width: 240px;
	}
	.us-module-buttons-list {
		opacity: 1;
	}
	.oct-mm-link > a, .oct-mm-simple-link > a {
		padding: 0 10px;
	}
	.oct-mm-link > a {
		pointer-events: none;
	}
	.info-comp {
		margin-top: -70px;
	}
	.info-comp__block-left,
	.info-comp__block-right {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.info-comp__numbers {
		justify-content: center;
		margin-top: 20px;
	}
}

/* Medium devices (md) */
@media screen and (max-width: 991px) {
	.us-banner-plus-wrap-full-width .us-banner-plus-title{
		font-size: 18px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-img img,
	.banner_big_image{
		max-width: 348px;
		max-height: 214px;
	}
	.product_detail__top{
		/*overflow: hidden;*/
		clear: both;
		display: block;
	}
	.product_detail__left{
		width: 50%;
		float: left;
		border-bottom: 1px solid #F6F6F6;
	}
	.product_detail__right-advantages{
		margin-top: 24px;
		padding-left: 20px;
	}
	.product_detail__right-inner{
		margin-left: 53%;
	}
	.product_detail__right{
		width: auto;
	}
	.product_detail_top{

		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.product_detail__controls .us-product-compare-wishlist__btn{
		width: 55px;
	}
	.product_detail__buttons{
		width: 187px;
	}
	.product_detail__price>:first-child{
		margin-bottom: 13px;
	}
	.product_detail__actions .us-product-quantity input{
		width: 45px;
	}
	.product_detail__right{
		padding-top: 6px;
	}
	.product_detail__price .us-price-block~.us-price-block{
		width: 100%;
	}
	.product_detail__price{
		display: block;
		margin-bottom: 6px;
	}
	.product_detail__price .us-price-block~.us-price-block:before{
		margin-bottom: 9px;
	}
	.product_detail_top{
		margin-bottom: 14px;
	}
	.product_detail_top__detail{
		width: 100%;
		padding-right: 0;
	}
	.product_detail_top__reviews{
		width: auto;
		padding-left: 0;
		text-align: left;
		margin-bottom: 16px;
	}
	.payment_methods__item{
		max-width: 33.33333%;
	}
	.payment_methods > :nth-child(4),
	.payment_methods > :nth-child(5){
		max-width: none;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-box{
		padding-top: 34px !important;
		padding-left: 28px !important;
		padding-bottom: 15px !important;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-box:after{
		width: 529px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-text{
		margin-top: 0;
		margin-bottom: 0 !important;
	}
	.inline_block_list+.btn_bordered{
		display: block;
		margin-left: 0;
		margin-top: 11px;
		margin-bottom: 0;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-text ul li{
		margin-bottom: 2px;
	}
	.menu-row,
	#cart,
	.us-product-action-right,
	#collapse-coupon label,
	#collapse-voucher label,
	#top-links #language,
	#top-links #currency,
	#top-left,
	.btn-user i,
	#us_info_mobile .dropdown-toggle,
	.oct-fixed-bar,
	.us-phone-img,
	.btn-user .hidden-xs,
	.us-fixed-contact-viber-desktop,
	.time-work {
		display: none !important;
	}
	.us-breadcrumb-item a,
	.us-module-cart-btn,
	.us-module-item {
		transition: unset !important;
	}
	.modal{
		-webkit-overflow-scrolling: touch;
	}
	body {
		padding-top: 46px;
	}
	body.no-scroll {
		height: 100%;
		overflow: hidden;
	}
	#top {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1001;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		height: 50px;
	}
	#top .container {
		padding: 0;
		position: relative;
		max-width: 100%;
	}
	.us-menu-mobile {
		line-height: 50px;
		background: #71be00;
		width: 16.6666%;
		text-align: center;
	}
	.us-top-mobile-item {
		width: 16.6666%;
		text-align: center;
	}
	.us-top-mobile-item-info {
		position: unset;
		line-height: 50px;
	}
	.us-top-mobile-item-info img,
	.us-navbar-account {
		width: 26px;
	}
	.oct-menu-li {
		padding-left: 30px;
	}
	#us_info_mobile {
		top: 0;
		bottom: 0;
		left: -140%;
		padding: 0;
		position: fixed;
		transition: left .6s ease-in-out;
		width: 100%;
		text-align: left;
		z-index: 1000;
		line-height: normal
	}
	#us_info_mobile.expanded {
		left: 0;
	}
	#us_info_mobile .nav-dropdown-menu-content {
		padding: 10px 30px;
		height: calc(100vh - 150px);
		overflow-y: auto;
	}
	.mobile-info-title,
	#us_info_mobile .us-dropdown-item,
	#us_info_mobile button,
	.mobile-information-box li {
		padding: 5px 0;
	}
	.mobile-information-box {
		padding: 0 0 10px;
		border-bottom: 1px solid #e5e5e5;
		margin: 0 0 10px;
	}
	.mobile-info-title {
		font-size: 14px;
		color: #353e48;
	}
	#us_info_mobile a {
		text-decoration: underline;
		color: #50A8FF;
	}
	#us_info_mobile .dropdown-menu button {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		align-items: center;
		position: relative;
		color: #57565C;
		font-size: 12px;
		position: relative;
		margin-bottom: 0;
		text-decoration: none !important;
	}
	#us_info_mobile .dropdown-menu button:before {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #E6E6E6;
		position: absolute;
		left: -25px;
		top: 6px;
	}
	#us_info_mobile .dropdown-menu button:after {
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: transparent;
		position: absolute;
		left: -21px;
		top: 10px;
	}
	#us_info_mobile .dropdown-menu button.active-item:before {
		border-color: #71be00;
	}
	#us_info_mobile .dropdown-menu button.active-item:after {
		background: #71be00;
	}
	#us_info_mobile .dropdown-menu {
		margin-left: 24px !important;
	}
	.language-select img {
		width: 20px;
	}
	#top .dropdown-item.active, #top .dropdown-item:active {
		color: #000;
	}
	#top .dropdown-item:focus {
		outline: none;
	}
	.us-mobile-map-box iframe {
		width: 100% !important;
	}
	.btn-link,
	.btn-link .fa-chevron-down {
		color: #202428;
	}
	#us_info_mobile .dropdown-menu,
	#us_info_mobile .mobile-shedule-box {
		display: block;
		position: relative;
		box-shadow: none;
		width: 100%;
	}
	#language,
	#currency,
	#us_info_mobile .mobile-shedule-box {
		border-bottom: 1px solid #e5e5e5;
		padding: 0 0 10px;
		margin: 0 0 10px;
	}
	#us_info_mobile .btn-group {
		width: 100%;
	}
	#us_menu_mobile_box {
		position: fixed;
		width: 100%;
		top: 0;
		left: -140%;
		bottom: 0;
		background: #FFFFFF;
		transition: left .6s ease-in-out;
		overflow: hidden;
		z-index: 10002;
		height: 100%;
	}
	#us_menu_mobile_box.expanded {
		left: 0;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
	}
	#us_menu_mobile_content {
		height: calc(100vh - 150px);
		overflow-y: auto;
	}
	#us_menu_mobile_content.opened {
		overflow: hidden;
		max-width: 100%;
	}
	.oct-menu-li:last-child {
		margin-bottom: 30px;
	}
	.oct-menu-li > a, .oct-menu-li > div > a {
		font-size: 14px;
	}
	#oct-menu-ul {
		transition: transform .3s cubic-bezier(1,.39,.41,1) .1s;
		-webkit-transition: transform .3s cubic-bezier(1,.39,.41,1) .1s;
		-moz-transition: transform .3s cubic-bezier(1,.39,.41,1) .1s;
		-ms-transition: transform .3s cubic-bezier(1,.39,.41,1) .1s;
		overflow: hidden;
		overflow-y: auto;
	}
	#oct-menu-ul.second-toggled,
	#oct-menu-ul.third-toggled {
		overflow: visible;
	}
	.oct-menu-child-ul {
		width: 100%;
		border-left: 0;
		height: calc(100vh - 90px);
		box-shadow: none;
		visibility: hidden;
		opacity: 1;
	}
	.oct-menu-child-ul.oct-menu-child-ul-active {
		visibility: visible;
	}
	.oct-menu-child-ul > ul {
		height: 100%;
		background: #fff;
	}
	.oct-menu-third-child-ul {
		height: calc(100vh - 102px);
	}
	.oct-menu-back,
	.oct-childmenu-back {
		padding: 15px 30px;
		font-size: 14px;
		border-bottom: 1px solid #f7f7f7;
		font-weight: 600;
	}
	.oct-menu-back i,
	.oct-childmenu-back i {
		margin-right: 6px;
	}
	.oct-mm-simple-link > a {
		padding: 0;
	}
	#top-links {
		margin-left: 0 !important;
		width: 16.6666%;
	}
	.btn-user {
		padding: 0;
		line-height: 50px;
		margin-right: 0 !important;
		border: 0;
		background-color: transparent;
		display: block !important;
	}
	.btn-link[aria-expanded="true"] {
		background-color: transparent;
	}
	#us-account-dropdown {
		width: 100%;
	}
	.us-mobile-top-btn {
		display: block;
		line-height: 50px;
		border-left: 1px solid rgba(255,255,255,.1);
		width: 16.6666%;
		text-align: center;
	}
	.us-mobile-top-btn img {
		width: 26px;
	}
	.us-mobile-top-btn-item {
		position: relative;
		z-index: 1;
	}
	.mobile-header-index {
		position: absolute;
		top: -16px;
		right: -14px;
		min-width: 20px;
		height: 20px;
		background: #71be00;
		border-radius: 100%;
		color: #fff;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		font-weight: 400;
		padding: 0 4px;
		display: inline-block;
		margin-top: 8px;
	}
	.us-mobile-top-btn-cart .mobile-header-index {
		background: #EB5757;
	}
	header {
		padding-bottom: 0;
	}
	.us-slideshow-plus-blocks {
		display: flex;
		margin-top: 30px;
	}
	.us-slideshow-plus-block {
		width: calc(50% - 15px);
		height: 100%;
	}
	.us-slideshow-plus-block:nth-child(2) {
		margin-top: 0;
		margin-left: 30px;
	}
	.us-banner-btn {
		margin-bottom: 80px;
	}
	.us-advantages-item {
		margin-bottom: 30px;
	}
	.us-product-attr-title + a {
		font-size: 11px;
	}
	.us-product-action-left {
		max-width: 100%;
	}
	#column-left,
	#column-right {
		display: none;
	}
	#content,
	.us-blog-category-content {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.us-manufacturer-card {
		width: calc(25% - 30px);
	}
	.us-acc-info-left .us-acc-info-text {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.us-cart-item-right .us-product-quantity,
	.us-cart-item-img {
		margin-right: 15px;
		margin-left: 15px;
	}
	.us-table-compare-product .us-table-product-name {
		padding: 0;
	}
	.us-phone-box {
		justify-content: flex-end !important;
	}
	.us-phone-link {
		display: block;
		text-align: right;
		margin-right: 15px;
	}
	#logo {
		text-align: left !important;
	}
	.us-logo-img {
		max-width: 140px;
	}
	input[type=text],
	input[type=email],
	input[type=password],tel
	input[type=tel]
	textarea,
	.error_style {
		-webkit-appearance: none !important;
		appearance: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;

	}
	.ocfilter-mobile #ocfilter {
		padding-top: 46px!important;
	}
	.us-mobile-map-box {
		margin-top: 10px;
	}
	.us-banner-plus-box {
		padding: 20px !important;
	}
	.us-banner-plus-wrap-second {
		margin-top: 30px;
	}
	.us-banner-plus-box:before {
		display: none;
	}
	.us-footer-subscribe-form {
		margin-top: 30px;
	}
	.us-footer-box:first-child {
		margin-bottom: 30px;
	}
	.us-footer-bottom {
		flex-direction: column;
	}
	.us-footer-bottom-credits {
		margin-bottom: 15px;
		text-align: center;
	}
	/*!!!*/
	.services_item_point {
		margin: 0 0 30px;
	}
	.yandex-reviews {
		margin: 0 auto;
	}
	.info-comp {
		padding-top: 100px;
	}
}

/* Small devices (sm) */
@media screen and (max-width: 767px) {
	.us-pagination-cont {
		padding: 15px 15px 0;
		margin-bottom: 30px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-img img,
	.banner_big_image{
		max-width: 272px;
		max-height: 167px;
	}
	.banner_big_image{
		bottom: 15px;
		top: auto;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.product_detail__controls{
		margin-right: 11px;
	}
	.product_detail__actions-top{
		-webkit-justify-content: flex-start;
		-moz-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.product_detail__left .us-product-photo-main img{
		/*max-height: 50px;*/
	}
	.product_detail__left .us-product-stickers{
		left: -8px;
	}
	.product_detail__right .us-product-action{
		padding: 0;
	}
	.product_detail__advantages{
		display: block;
	}
	.product_detail__advantages-image{
		width: 60px;
	}
	.product_detail__advantages-text br{
		display: none;
	}
	.product_detail__right-advantages{
		padding-left: 14px;
	}
	.product_detail__top_attr .us-product-link{
		font-size: 14px;
	}
	.product_detail__buttons .us-product-btn{
		font-size: 14px;
	}
	.product_detail__top_attr .us-product-attr-top{
		display: block !important;
	}
	.product_detail__buttons{
		width: 138px;
	}
	.product_detail__buttons .us-product-btn.us-product-btn-active,
	.product_detail__buttons .us-product-btn.button-one-click{
		height: 42px;
	}
	.product_detail__buttons .us-product-btn+.us-product-btn{
		margin-top: 14px;
	}
	.product_detail__buttons .us-product-btn.button-installments{
		font-size: 13px;
		margin-top: 22px;
	}
	.product_detail__right{
		width: 100%;
		padding-left: 8px;
		padding-right: 8px;
	}
	.product_detail__advantages > :last-child{
		margin-bottom: 0;
	}
	.product_detail__advantages-item{
		width: 100%;
		margin-bottom: 22px;
	}
	.product_detail__top .product_detail__left{
		float: none;
		width: auto;
		margin: 8px;
	}
	.product_detail__right-inner{
		margin-left: 0;
	}
	.product_detail__tab-content .us-reviews-top{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.payment_methods__item{
		max-width: none;
		width: 100%;
	}
	.us-pagination-cont .pagination {
		justify-content: center;
	}
	.us-blog-article-content {
		margin-bottom: 30px;
	}
	.blog-no-comments {
		padding: 10px 15px;
	}
	#us-blog-comments .us-module-btn {
		display: block;
		margin-bottom: 15px;
	}
	.us-blog-post-info-item:not(:last-child) {
		margin-bottom: 10px;
	}
	.us-blog-post-info-list {
		margin-left: 0;
	}
	.us-blog-category-row #column-left,
	.us-blog-category-row #column-right {
		display: block !important;
	}
	.us-search-box {
		order: 1;
		margin-top: 20px;
	}
	header {
		padding-top: 20px;
	}
	nav[aria-label="breadcrumb"] {
		width: 100%;
		overflow-x: auto;
	}
	.us-breadcrumb {
		display: block;
		flex-wrap: unset;
		width: auto;
	}
	.us-breadcrumb-item+.us-breadcrumb-item::before {
		display: inline;
	}
	.us-breadcrumb-item:last-child a {
		padding-left: .5rem;
		display: inline-block;
	}
	.us-breadcrumb-item {
		display: inline;
	}
	.us-breadcrumb-item + .us-breadcrumb-item {
		padding-left: .5rem;
	}
	.us-breadcrumb-item+.us-breadcrumb-item::before {
		padding-right: .5rem;
	}
	.hidden-xs {
		display: none;
	}
	.us-reviews-block {
		flex-direction: column-reverse;
		text-align: center;
		padding: 20px;
	}
	.us-reviews-block-date {
		text-align: left;
	}
	.us-reviews-block-title {
		margin-top: 20px;
		width: auto;
	}
	.us-reviews-block-right {
		margin: 0 auto;
	}
	.us-reviews-block-rating {
		margin-top: 20px;
	}
	.header-dropdown-menu a {
		font-size: 14px;
		padding: 5px 10px;
		display: inline-block;
	}
	.top-phone-btn .fa-chevron-down {
		position: relative;
		top: -1px;
	}
	#top-left .dropdown-toggle span {
		display: none;
	}
	.btn-shedule {
		padding-left: 15px !important;
		padding-right: 4px !important;
	}
	.address-dropdown-menu {
		left: 10px !important;
		width: calc(100vw - 30px);
		max-height: 400px;
		overflow-y: auto;
	}
	.address-dropdown-menu .us-dropdown-item {
		white-space: normal;
	}
	.user-dropdown-menu {
		margin-right: 15px;
	}
	img.lang {
		margin-right: 0;
	}
	.btn-lang {
		border-right: 0 !important;
	}
	.us-slideshow-plus-item {
		padding: 30px 20px 70px;
		flex-direction: column;
	}
	.us-slideshow-plus-item-info {
		order: 2;
	}
	.us-slideshow-plus-item-title {
		font-size: 24px;
		line-height: 33px;
	}
	.us-slideshow-plus-item-text {
		padding-right: 0;
		font-size: 14px;
		line-height: 22px;
	}
	.us-slideshow-plus-item-img {
		order: 1;
	}
	.us-slideshow-plus-item-img img {
		max-width: 80%;
		margin: 0 auto 20px;
	}
	.us-slideshow-plus-box .owl-dots {
		left: 15px;
	}
	.us-slideshow-plus-blocks {
		display: block;
	}
	.us-slideshow-plus-block {
		width: 100%;
		height: auto;
	}
	.us-slideshow-plus-block:nth-child(2) {
		margin-left: 0;
		margin-top: 30px;
	}
	.us-carousel-title {
		margin-top: 0;
	}
	.header-input-group {
		padding-right: 0;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
	}
	#us_livesearch_close {
		top: 45px;
		/*left: 0;*/
		right: 5px;
		border-radius: 100%;
		z-index: 1022;
	}
	.us-carousel-title {
		font-size: 26px;
		margin-bottom: 20px;
	}
	.us-carousel-text {
		font-size: 16px;
		line-height: 24px;
	}
	.us-carousel-item {
		padding: 30px;
	}
	.us-banner-plus-inner {
		flex-direction: column;
	}
	us-banner-plus-img-single {
		order: 1;
	}
	.us-banner-plus-img-single img {
		margin-bottom: 20px;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-box:after{
		display: none;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-box{
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-bottom: 0 !important;
		padding-top: 24px !important;
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-info{
		padding-right: 19px;
		padding-left: 19px;
		width: 100%;
		padding-bottom: 20px;
	}
	.us-banner-plus-img-single img{
		margin-bottom: 0;
		max-height: 167px
	}
	.us-banner-plus-wrap-full-width .us-banner-plus-img{
		width: 100%;
		background-color: #435366;
		margin-bottom: 0 !important;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.us-banner-plus-info-single .us-banner-plus-text {
		margin-right: 0;
	}
	.us-banner-plus-img-narrow img {
		max-width: 120px;
	}
	.us-category-description-img {
		margin-right: 0;
		text-align: center;
		margin-bottom: 20px;
	}
	.us-category-description div:first-child {
		flex-direction: column;
	}
	.us-category-description-cont {
		text-align: justify;
	}
	.us-category-description .us-show-more {
		margin-left: 0;
		text-align: center;
	}
	.subcat-row .us-item {
		display: none;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.pagination {
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.pagination li:not(:last-child) {
		margin-bottom: 15px;
	}
	.us-product-top {
		display: block !important;
	}
	.us-product-left,
	.us-product-right,
	.us-blog-category-cont .us-news-block {
		width: 100%;
	}
	.us-product-rating-wishlist {
		border-top: 1px solid #f6f6f6;
	}
	.compare-wishlist-btn {
		font-size: 16px;
	}
	.us-product-action {
		padding: 0 20px 30px 20px;
	}
	.us-product-description-nav {
		padding: 24px 10px 10px 10px;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.us-product-nav-item-active:after, .us-product-nav-item:hover:after{
		bottom: -4px;
	}
	.us-product-nav-item{
		margin-right: 10px;
		margin-left: 10px;
	}
	.us-product-nav-item a {
		position: relative;
	}
	.us-product-description-cont {
		padding: 0 15px 30px;
	}
	.us-product-attributes {
		padding: 30px 15px;
	}
	.us-reviews-top {
		padding: 0 15px;
	}
	.no-product-reviews {
		padding: 30px 15px;
	}
	#one_click_input {
		max-width: initial;
	}
	.us-product-btn {
		width: 100%;
		font-size: 18px;
	}
	.us-product-attributes-cont {
		width: 100%;
	}
	.us-review-info {
		margin-bottom: 20px;
	}
	.us-product-review-block {
		margin: 0 30px;
	}
	.product_detail__tab-content .us-product-review-block{
		margin: 0;
	}
	.us-review-text,
	.us-admin-answer {
		padding: 20px;
	}
	.us-main-shop-title {
		font-size: 20px;
		line-height: 30px;
	}
	.us-review-text-title + p {
		margin-left: -24px;
	}
	.oct-popup-found-cheaper-link {
		font-size: 12px;
	}
	.us-category-appearance {
		display: none;
	}
	#us_fixed_contact_button {
		z-index: 10;
		right: 15px;
		bottom: 15px;
	}
	#back-top {
		right: 25px;
		bottom: 100px;
	}
	footer {
		padding-top: 10px;
	}
	.us-footer-subscribe-text-icon {
		margin-right: 15px;
	}
	.us-footer-subscribe-text-text {
		font-size: 12px;
	}
	.us-footer-subscribe-text-text div + div {
		font-size: 14px;
	}
	.us-footer-subscribe-text {
		margin-top: 15px;
	}
	.us-foooter-subscribe-row {
		padding-bottom: 15px;
		margin-bottom: 0;
	}
	.us-foooter-subscribe-row:after {
		right: 0;
		left: 0;
	}
	.us-footer-form-top-buttton {
		padding-left: 28px;
		padding-right: 28px;
	}
	.us-footer-box:first-child {
		margin-bottom: 0;
	}
	.us-footer-title {
		margin-bottom: 0;
		margin-top: 15px;
		padding-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.us-footer-title i {
		transition: transform .3s ease;
		font-size: 14px;
	}
	.us-footer-title.open i {
		transform: rotate(180deg);
	}
	.us-footer-box {
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
	.us-footer-list {
		display: none;
		margin-bottom: 1rem !important;
	}
	.us-footer-list,
	.us-footer-contact-list {
		margin-bottom: 0;
	}
	.us-footer-shedule {
		margin-bottom: 15px;
	}
	.us-footer-social {
		margin-top: 10px;
	}
	.us-footer-social-list {
		margin-bottom: 16px;
	}
	.us-footer-item:last-child {
		margin-bottom: 0;
	}
	.us-footer-bottom {
		border-top: 0;
		padding-top: 0;
	}
	.us-content-contact,
	.us-content {
		flex-wrap: wrap;
	}
	.us-contact-form-box, .us-content-contact-offer,
	.us-acc-info-left, .us-acc-info-right,
	#account-wishlist .us-acc-info-block-img,
	#account-wishlist .us-acc-info-block-desc {
		width: 100%;
	}
	.us-content-border {
		display: none;
	}
	.us-contact-form-box {
		margin-bottom: 30px;
	}
	.us-manufacturer-card {
		width: calc(33% - 30px);
	}
	.sort-limit {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.us-form-checkbox-group label {
		align-items: flex-start !important;
	}
	.us-form-checkbox-group label:before {
		margin-top: 5px;
	}
	.product_detail__tab-content{
		padding: 15px;
	}
	.prod_payment__item-content{
		padding-left: 11px;
		padding-right: 11px;
	}
	.modal-body .us-form-checkbox-group label:before {
		margin-top: 0;
	}
	#content {
		flex: 0 0 100%;
		max-width: initial;
	}
	.us-acc-info-left .us-acc-info-text {
		margin-bottom: 0;
	}
	.us-acc-info-left-desc + .btn-group,
	.buttons {
		margin-top: 1.5rem!important;
	}
	#account-account #column-right {
		display: block;
		margin-top: 30px;
	}
	#account-wishlist .us-content-title-wishlist {
		font-size: 18px;
		margin-top: 20px;
		text-align: center;
	}
	#account-wishlist .us-acc-info-block-img {
		margin-right: 0;
		text-align: center;
	}
	#account-wishlist .us-acc-info-block-wishlist,
	#account-wishlist .us-acc-info-block-left {
		flex-direction: column;
	}
	#account-wishlist .us-acc-info-block-right {
		flex-direction: row !important;
		margin-top: 20px;
		align-items: center !important;
	}
	#account-wishlist .us-acc-del-btn {
		order: 1;
	}
	#account-wishlist .us-acc-product-btn {
		order: 0
	}
	#account-wishlist .us-acc-info-text {
		font-size: 14px;
	}
	#account-wishlist .us-acc-info-text:not(:last-child) {
		margin-bottom: 8px;
	}
	.us-module-price-new,
	.us-module-price-actual {
		font-size: 22px;
	}
	.product-grid .us-module-title,
	.product-grid .us-product-list-description {
		height: auto;
	}
	.product-grid .us-product-list-description {
		padding: 0 15px;
	}
	.us-content-reviews-top {
		flex-direction: column;
	}
	.us-content-reviews-top-left {
		order: 1;
	}
	.us-content-reviews-list {
		order: 0;
		padding-left: 0;
	}
	.us-content-reviews-item {
		justify-content: flex-start !important;
	}
	.us-content-reviews-item-name {
		order: 2;
		margin-left: 10px;
	}
	.us-content-reviews-quantity {
		order: 0;
		margin-left: 0;
	}
	.us-review-block {
		margin: 0 15px;
	}
	.us-content-reviews .us-review-text {
		padding: 20px;
	}
	.us-content-reviews .us-review-item {
		padding: 0 0 20px;
	}
	.us-content-reviews .us-admin-answer-title {
		margin: 20px 5px;
	}
	.us-review-text:before {
		left: calc(50% - 10px);
		top: -15px;
		transform: rotate(90deg);
	}
	.us-product-attr-item span:last-child {
		text-align: right;
	}
	#checkout-cart .us-cart-item {
		flex-direction: column;
		position: relative;
	}
	#checkout-cart .us-cart-item-right {
		flex-direction: column;
		align-items: start !important;
		width: 100%;
	}
	#checkout-cart .us-cart-item-desc {
		width: 100%;
	}
	#checkout-cart .us-cart-item-right .us-product-quantity {
		margin: 10px 0
	}
	#checkout-cart .us-content {
		padding-left: 15px;
		padding-right: 15px;
	}
	#checkout-cart .us-cart-item-right-desc {
		min-width: unset;
	}
	#checkout-cart .us-cart-item-link {
		margin: 20px 0;
		text-align: center;
		width: 100%;
		font-size: 16px;
	}
	#checkout-cart .us-cart-item-left {
		flex-wrap: wrap;
	}
	#checkout-cart .us-cart-item-left .us-cart-del {
		position: absolute;
		top: 65%;
		right: 15px;
	}
	#checkout-cart .us-cart-item-img-link {
		margin: 0 auto;
	}
	#checkout-cart .us-cart-block-total-wrapper {
		flex-direction: column;
		align-items: start !important;
	}
	#checkout-cart .us-product-one-click {
		width: 100%;
	}
	#checkout-cart .us-cart-block-total-right {
		margin-top: 20px;
	}
	#checkout-cart .us-cart-block-total,
	#checkout-cart .cart-btn-group {
		text-align: left !important;
	}
	#checkout-cart .cart-btn-group {
		padding-top: 20px;
	}
	.us-modal-body-one-click,
	#oct_purchase_form,
	#form-review {
		flex-direction: column;
	}
	.us-modal-body-one-click-left {
		width: 100%;
		border: 0;
	}
	.us-modal-body-one-click-left .product_title {
		margin-top: 20px;
	}
	.us-modal-body-one-click-left .owl-carousel .owl-item img,
	.us-modal-body-one-click-left .us-modal-body-img,
	#form-review .us-modal-body-img {
		width: 130px;
	}
	.us-modal-body-one-click-right {
		width: 100%;
		padding: 0 30px 30px;
	}
	#rc-imageselect, .g-recaptcha {
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	.us-acc-info-left-desc {
		margin-top: 30px;
	}
	.us-slideshow-plus-block-btn {
		font-size: 16px;
		padding: 10px 17px;
	}
	.us-modal-body-cart .us-cart-item {
		padding: 0 0 20px 0;
	}
	.us-reviews-blog .modal-title {
		font-size: 16px;
	}
	.us-reviews-blog .modal-body {
		padding-top: 30px;
	}
	/*!!!*/
	.title {
		font-weight: bold;
		font-size: 24px;
	}
	.mounting_info .info_wrapper,
	.mounting_info .info_sub_wrapper {
		padding: 10px 0;
	}
	.services_item_point {
		padding:  0 0 115px;
	}
	.mistakes_section .title {
		font-size: 24px;
	}
	.mistaes_item_point {
		margin: 0;
	}
	.services_info__head_image {
		padding: 150px 0;
	}
	.time_section .row1 {
		display: block;
		text-align: center;
	}
	.info-comp__numbers {
		flex-flow: column;
	}
	.info-comp__number {
		margin: 0 auto;
		flex-flow: column;
	}
	.info-comp__number-numeric {
		margin: 0 0 5px;
	}
	.info-comp__number:first-child {
		margin-right: auto;
		margin-bottom: 20px;
	}
	.info-comp__block-left, .info-comp__block-right {
		padding: 0;
	}
	.info-comp__number {
		width: 100%;
	}
	.slider .slick-slide img {
		margin: 0 !important;
	}
	#common-home .slider .slick-slide {
		height: 500px !important;
	}
	#common-home .slider .slick-slide img {
		height: 100% !important;
	}
	.slider .slick-slide img {
		margin: 0 !important;
	}
	#common-home .slider .slick-slide {
		height: 300px !important;
	}
	#common-home .slider .slick-slide img {
		height: 100% !important;
	}
}

@media screen and  (max-width: 480px) {
	.us-advantages-box {
		padding: 30px 15px;
	}
	.us-price-block {
		flex-wrap: wrap;
	}
	.us-price-old + .oct-popup-found-cheaper-link {
		margin-top: 15px;
	}
	#collapse-coupon input[type="text"],
	#collapse-voucher input[type="text"] {
		width: 100%;
	}
	#collapse-coupon .us-cart-block-btn,
	#collapse-voucher .us-cart-block-btn {
		margin: 10px auto;
		max-width: 100%;
	}
	#collapse-coupon input,
	#collapse-voucher input {
		padding-right: 20px;
	}
	#collapse-shipping input {
		padding-right: 20px;
	}
	#collapse-shipping input[type="text"],
	#collapse-shipping select {
		width: 100%;
	}
	.us-modal-body-cart {
		padding: 10px 0 0;
		max-height: 290px;
		margin-bottom: 20px;
	}
	#us-cart-modal .us-product-one-click {
		margin-top: 20px;
		padding-top: 10px
	}
	#us-cart-modal .us-cart-item-last {
		padding-bottom: 10px
	}
	/*!!!*/
	.title {
		font-size: 20px;
	}
	.addinfo p {
		font-size: 18px;
	}
	.services_item_point {
		padding: 0 0 55px;
	}
	.services_item_image img {
		width: 100%;
	}
	.services_item_name {
		margin: 0 auto 60px;
	}
	.services_item_more_button {
		left: calc(50% - 72px);
	}
	a.call_button {
		font-size: 15px;
	}
	.services_item_more_button a {
		padding: 10px 20px;
	}
}

/* Extra small devices*/
@media screen and  (max-width: 380px) {
	.us-bottom-banner-img img {
		max-width: 150px;
	}
	.sort-select {
		max-width: 180px;
	}
	.us-modal-body-cart {
		padding: 20px 0 0;
		max-height: 270px;
	}
}

@media screen and  (max-width: 320px) {
	.us-fixed-contact-item-icon {
		width: 35px;
		height: 35px;
	}
	.us-product-top-reviews {
		display: none;
	}
	.us-fixed-contact-dropdown {
		bottom: 85px;
		right: 10px;
	}
	.us-mobile-top-btn img,
	.us-top-mobile-item-info img,
	.us-navbar-account {
		width: 22px;
	}
	.dropdown-item {
		white-space: normal;
	}
	.us-reviews-top {
		flex-direction: column;
	}
	.us-content-reviews-quantity {
		flex: 0 0 40px;
	}
	.us-modal-body-cart {
		max-height: 160px;
		padding-top: 10px;
	}
	.us-cart-text-modal {
		font-size: 12px;
	}
}

@media screen and (min-width: 992px) {
	#us_menu_mobile_box,
	.oct-menu-back,
	.oct-childmenu-back,
	.us-navbar-account {
		display: none;
	}
	.us-fixed-contact-viber-mobile {
		display: none !important;
	}
	.oct-mm-link:hover > a,
	.oct-mm-simple-link:hover > a {
		color: #FFF;
		background: #71BE00;
	}
	#top-links .btn-link{
		border-left: 0 !important;
	}
	.time-work__title {
		line-height: 1;
		color: #000;
	}
	#top-left .btn-link{
		border-left: 0 !important;
	}
	#top-links .btn-user{
		padding-left: 22px;
		padding-top: 11px;
		padding-bottom: 12px;
		font-size: 12px;
		color: #000;
		line-height: 1.9;
	}
	#top-links .btn-user .fa-user-alt{
		margin-right: 20px;
		color: #18b8d1;
	}
	.header_top__map_toggler_wrap .btn-link {
		color: #40a9b6;
		padding-top: 11px;
		padding-bottom: 12px;
	}
	.header_top__map_toggler_wrap .btn-link:hover {
		color: #143e65;
	}.header_top__map_toggler_wrap .btn-link:hover span {
		 border-bottom: 1px dashed #143e65;
	 }
	.header_top__map_toggler_wrap .btn-link span{
		/* text-decoration: underline; */
		margin-right: 0;
		font-size: 12px;
		border-bottom: 1px dashed #18b8d1;
	}
}
@media screen and (min-width: 768px) {
	#us-account-dropdown .fa-user {
		display: none;
	}
	.us-footer-list {
		display: block !important
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#us-blog-article .us-item {
		width: 50%
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.us-product-info .us-price-block {
		flex-direction: column;
		align-items: start !important;
	}
	.us-product-info .us-price-block.us-price-block-not-special {
		flex-direction: row;
		align-items: center !important;
	}
	.us-product-info .us-price-block > div {
		margin-bottom: 10px;
	}
	.us-product-info .us-price-block.us-price-block-not-special > div {
		margin-bottom: 0;
	}
	.us-product-btn {
		width: 100%;
	}
	.us-product-attributes-cont {
		width: 100%;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.us-slideshow-plus-block-text {
		font-size: 15px;
	}
	.oct-mm-price {
		display: flex;
		flex-direction: column;
	}
}
