

/* Дизайн каталожной страницы  prod_category--wrap */

/* Дизайн каталожной страницы - топ */

.prod_category--wrap .tag__item a {
	border-radius: 4px;
	border: 1px solid #f2f2f2;
	margin-bottom: 10px;
}

.prod_category--wrap .tag .us-category-description-cont {
	max-height: 34px !important;
	padding-right:100px;
}

.prod_category--wrap .tag {
	position: relative;
	border: none;
	margin-bottom: 15px;
}

.prod_category--wrap .tag .us-show-more {
	position: absolute;
	margin: 0;
	right: 0;
	top: 50%;
	margin-top: -11px;
	width: 90px;
}

.prod_category--wrap .us-show-more-link {
	text-decoration: none;
}

.prod_category--wrap .us-show-more-link span {
	text-decoration: underline;
}
.prod_category--wrap .us-show-more-link:hover span {
	text-decoration: none;
}

/* Дизайн каталожной страницы - карт товара */

.prod_category--wrap  .us-category-sort-block {
	padding: 10px;
	background: #353e48;
	border: none;
	margin-bottom: 28px;
}

.prod_category--wrap .sort-limit select {
	color: #535353;
}

.prod_category--wrap .us-category-content .product-grid .us-module-item {
	border: 1px solid #f2f2f2;
	padding-top: 5px;
}

.prod_category--wrap .us-category-content .product-list .us-module-item {
	border: 1px solid #f2f2f2;
	padding: 10px 30px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.09);
	justify-content: space-between;
}

.prod_category--wrap .us-category-content .product-list .us-module-img {
	width: 30%;
	padding: 0;
	margin: 0;
}
.prod_category--wrap .us-category-content .product-list .us-module-caption  {
	width: 64%;
	padding: 0;
	margin: 0;
	flex-grow: 0;
	justify-content: space-between;
	flex-direction: row !important;
	align-items: center;
}

.prod_category--wrap  .product-list .us-module-caption--first {
	flex-grow: 1;
	margin: 0;
	margin-right: 30px;
	min-height: 150px;
}

.prod_category--wrap .product-list .us-module-title {
	height: auto;
}

.prod_category--wrap  .product-list .us-module-caption--second {
	width: 190px;
	flex-shrink: 0;
}

.prod_category--wrap .product-layout.product-list .us-module-price {
	padding: 0;
}

.prod_category--wrap .product-layout.product-list .us-module-price-new{
	display: block;
	margin-left: 0;
}

.prod_category--wrap .product-list .is-countdown {
	display: none;
}

.prod_category--wrap  .product-list .us-module-caption--second .us-module-cart-btn,
.prod_category--wrap  .product-list .us-module-caption--second .us-product-btn {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.prod_category--wrap .product-grid .us-module-img {
	height: auto;
	width: 100%;
}

.prod_category--wrap .us-module-img a {
	display: block;
}

.prod_category--wrap .us-module-img a img {
	height: auto;
	max-width: 100%;
}

.prod_category--wrap .product-grid .us-module-title {
	padding: 0 25px;
	margin: 0 0 18px;
	height: auto;
}

.prod_category--wrap .us-module-title a {
	color: #535353;
	font-weight: 300;
	text-align: left;
	display: block;
}

.prod_category--wrap .product-grid .us-cat-product-attr-cont {
	padding: 0 25px;
	margin: 0 0 18px;
}

.prod_category--wrap .us-cat-product-attr-cont ul {
	margin: 0;
	padding: 0;
}

.prod_category--wrap .us-cat-product-attr-cont ul li {
	list-style-type: none;
}

.prod_category--wrap .us-cat-product-attr-cont .us-product-attr-item {
	justify-content: flex-start !important;
	color: #484848;
	font-size: 12px;
}

.prod_category--wrap .us-cat-product-attr-cont .us-product-attr-item:after {
	display: none;
}

.prod_category--wrap .us-cat-product-attr-cont .us-product-attr-item span:last-child {
	padding-left: 0;
}

.prod_category--wrap .product-layout .us-module-rating {
	display: none !important;
}

.prod_category--wrap .product-layout .us-module-price {
	text-align: left;
	padding: 0 25px;
}

.prod_category--wrap .product-layout .us-module-price-actual {
	color: #151515;
	font-size: 24px;
	font-weight: 700;
}

.prod_category--wrap .us-module-cart-btn {
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	background: #18b8d1;
	border: 2px solid #18b8d1;
	padding: 10px;
	position: relative;
}

.prod_category--wrap .us-product-btn  {
	color: #18b8d1;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	background-color: #fff !important;
	border: 2px solid #18b8d1;
	padding: 8px;
	box-sizing: border-box;
	/* width: auto; */
}

.prod_category--wrap .us-module-cart-btn:hover  {
	color: #18b8d1 !important;
	background: #fff !important;
}

.prod_category--wrap .us-product-btn:hover {
	color: #ffffff;
	background-color: #18b8d1 !important;
}

.prod_category--wrap .us-module-item:hover .us-module-cart-btn {
	color: #18b8d1 !important;
	background: #fff !important;
}

.prod_category--wrap .product-grid .us-module-cart-btn {
	margin: 0 25px 10px;
}

.prod_category--wrap .product-layout .us-module-price.out-of-sale {
	margin: 0 25px 10px;
	padding: 9px 0;
	text-align: center;
}


.prod_category--wrap .us-module-cart-btn:before {
	content: '';
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 5px;
	background: url(../img/i_cart.svg) no-repeat 50%;
	/* margin-top: -5px; */
}
.prod_category--wrap .us-module-item:hover .us-module-cart-btn:before {
	background: url(../img/i_cart-h.svg) no-repeat 50%;
}

.prod_category--wrap .product-grid .us-product-btn {
	/* margin: 0 25px 10px !important; */
}

.prod_category--wrap .product-grid .is-countdown {
	display: none;
}

.prod_category--wrap .product-layout  .us-module-price-old {
	font-size: 14px;
	margin-right: 5px;
}

.prod_category--wrap .product-layout .us-module-price-new {
	font-size: 24px;
}

.prod_category--wrap .product-grid .us-module-caption--first {
	flex-grow: 1;
}

.prod_category--wrap .product-layout.product-grid .us-module-price-old {
	font-size: 12px;
	margin-right: 0;
	display: block;
}

.prod_category--wrap .product-layout.product-grid .us-module-price-old + .us-module-price-new {
	line-height: 25px;
}

.prod_category--wrap .product-grid .us-module-img a {
	min-height: 228px;
}

.prod_category--wrap .product-list .us-module-cart-btn.button-call_analog {
	font-size: 15px;
}

.prod_category--wrap .product-layout.product-list .us-module-price.out-of-sale {
	margin: 0 0px 10px
}

.prod_category--wrap #us-pv-0 .us-module-rating {
	display: none !important;
}

.prod_category--wrap #us-pv-0 .is-countdown{
	display: none;
}

.prod_category--wrap #us-pv-0 .us-module-item {
	padding-top: 0;
}

.prod_category--wrap #us-pv-0 .us-module-title {
	margin-top: 0;
	margin-bottom: 18px;
	height: auto;
}

.prod_category--wrap #us-pv-0 .us-module-price {
	text-align: left;
	margin-bottom: 18px;
	padding: 0 20px;
}

.leftside--wrap .us-categories-3 > .us-categories-item.active > a {
	color: #18b8d1;
	text-decoration: underline;
}

.leftside--wrap .active .us-categories-2>.us-categories-item.active>span {
	background-color: #fff;
	color: #18b8d1;
	text-decoration: underline;
}

.leftside--wrap .us-categories-2 > .us-categories-item.active > span > a {
	color: #18b8d1;
}

/* Дизайн каталожной страницы - фильтр */

.leftside--wrap .ocfilter .panel-heading,
#column-left.leftside--wrap .panel-heading,
.ocfilter-mobile .ocfilter .panel-heading {
	background-color: #eeeeee !important;
}


.leftside--wrap .list-group-item.ocfilter-option,
.ocfilter-mobile .list-group-item.ocfilter-option {
	background: #f4f4f4 !important;
}

.leftside--wrap .ocf-option-name,
.ocfilter-mobile .ocf-option-name,
#column-left.leftside--wrap .list-group-item.list-group-item-name {
	background-color: #f4f4f4 !important;
}

.leftside--wrap .ocfilter-option .ocf-option-values,
.ocfilter-mobile .ocfilter-option .ocf-option-values {
	padding: 0 15px;
}

.leftside--wrap .ocfilter-option .ocf-option-name,
.ocfilter-mobile .ocfilter-option .ocf-option-name{
	color: #333333 !important;
	font-size: 14px !important ;
	font-weight: 700 !important;
	word-break: break-word;
}

/*.leftside--wrap .ocfilter-option #price-to,
.leftside--wrap .ocfilter-option #price-from {
	color: #535353;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
}*/

.leftside--wrap .ocfilter .noUi-connect,
.ocfilter-mobile .ocfilter .noUi-connect {
	background: #18b8d1;
}

.leftside--wrap .ocfilter .list-group > .btn-block,
.ocfilter-mobile .ocfilter .list-group > .btn-block {
	background-color: #dfdfdf;
	margin-top: 8px;
	border-radius: 0;
}

.leftside--wrap .ocfilter-option .ocf-option-values label,
.ocfilter-mobile .ocfilter-option .ocf-option-values label {
	line-height: 20px;
	padding: 0;
	margin-bottom: 11px;
}

.leftside--wrap .ocfilter-option .ocf-option-values label span,
.ocfilter-mobile .ocfilter-option .ocf-option-values label span{
	color: #535353;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}

.leftside--wrap .ocfilter-option .ocf-option-values label small,
.ocfilter-mobile .ocfilter-option .ocf-option-values label small {
	float: none;
	border-radius: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	background-color: transparent;
	color: #535353 !important;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	opacity: 1;
}

.leftside--wrap  .ocfilter-option label.ocf-selected,
.ocfilter-mobile  .ocfilter-option label.ocf-selected {
	color: #535353 ;
}

.leftside--wrap  .collapse-value .btn,
.ocfilter-mobile .collapse-value .btn{
	color: #535353;
	font-size: 12px;
	font-weight: 300;
}


.ocf-option-values label input[type="checkbox"]:checked,
.ocf-option-values label input[type="checkbox"]:not(:checked),
.ocf-option-values label input[type="radio"]:checked,
.ocf-option-values label input[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
}

.ocf-option-values label input[type="checkbox"]:checked + span,
.ocf-option-values label input[type="checkbox"]:not(:checked) + span,
.ocf-option-values label input[type="radio"]:checked + span,
.ocf-option-values label input[type="radio"]:not(:checked) + span {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
	padding-left: 30px;
	line-height: 20px;
	cursor: pointer;
	text-align: left;
	font-size: 14px;
	text-indent: 0;
}

.ocf-option-values label input[type="checkbox"]:checked + span:before,
.ocf-option-values label input[type="checkbox"]:not(:checked) + span:before,
.ocf-option-values label input[type="radio"]:checked + span:before,
.ocf-option-values label input[type="radio"]:not(:checked) + span:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	background-color: #fff;
}

.ocf-option-values label input[type="checkbox"]:checked + span:before,
.ocf-option-values label input[type="checkbox"]:not(:checked) + span:before {
	border-radius: 4px;
}

.ocf-option-values label input[type="radio"]:checked + span:before,
.ocf-option-values label input[type="radio"]:not(:checked) + span:before {
	border-radius: 4px;
}

.ocf-option-values label input[type="checkbox"]:checked + span:after,
.ocf-option-values label input[type="checkbox"]:not(:checked) + span:after,
.ocf-option-values label input[type="radio"]:checked + span:after,
.ocf-option-values label input[type="radio"]:not(:checked) + span:after {
	content: "";
	position: absolute;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.ocf-option-values label input[type="checkbox"]:checked + span:after{
	left: 5px;
	top: 50%;
	margin-top: -5px;
	width: 11px;
	height: 7px;
	border-bottom: 3px solid #18b8d1;
	border-left: 3px solid #18b8d1;
	border-radius: 1px;
	transform-origin: 50% 50%;
	transform: rotate(-45deg);
	padding: 0;
}

.ocf-option-values label input[type="radio"]:checked + span:after {
	left: 4px;
	top: 50%;
	margin-top: -6px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #18b8d1;
}

.ocfilter-option-popover button,
.ocfilter-option-popover button:hover {
	background: #18b8d1;
}

.ocfilter-btn-wrapper .btn {
	width: 100%;
	height: 38px;
	line-height: 18px;
	font-size: 14px;
	font-weight: 600;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	text-align: center;
	-ms-align-items: center;
	align-items: center;
	border: 2px solid transparent;
	margin-top: 8px;
	border-radius: 0;
}

.ocfilter-btn-wrapper .btn.btn-gray {
	color: #333333;
	background-color: #c6c6c6;
	border: 2px solid #c6c6c6;
}

.ocfilter-btn-wrapper .btn.btn-gray:not(:disabled):hover {
	background-color: #ffffff;
	opacity: 1;
}

.ocfilter-btn-wrapper .btn.disabled,
.ocfilter-btn-wrapper .btn:disabled {
	opacity: 1;
	cursor: default;
}

.ocfilter-btn-wrapper .btn.btn-blue {
	color: #ffffff;
	background-color: #18b8d1;
	border: 2px solid #18b8d1;
}

.ocfilter-btn-wrapper .btn.btn-blue:not(.disabled):hover {
	color: #18b8d1;
	background-color: #ffffff;
	opacity: 1;
}

.ocfilter .selected-options .btn-danger,
.ocfilter .selected-options .btn-danger {
	background-color: #c6c6c6;
	color: #333;
}

.ocfilter .selected-options .btn-block.btn-danger {
	height: 38px;
	font-size: 14px;
	font-weight: 600;
}

.ocfilter .selected-options .btn-block.btn-danger .fa-times-circle {
	display: none;
}

.ocfilter .selected-options .btn-sm.btn-danger i {
	vertical-align: middle;
}

/*   */

.ocfilter-option--simple .ocf-option-name {
	position: relative;
	cursor: pointer;
	padding-right: 30px !important;
}

.ocfilter-option--simple .ocf-option-name:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	right: 15px;
	transition: 0.3s;
	background: url(../img/i_arr_down.svg) no-repeat 50% 50%;
	transform-origin: 50% 50%;
}

.ocfilter-option--simple .js--option_act.ocf-option-name:after {
	transform: rotate(180deg);
}

.ocfilter-option--simple .ocf-option-name + .ocf-option-values {
	display: none;
	margin-bottom: 15px;
}

.leftside--wrap .ocfilter-option .ocf-option-name,
.ocfilter-mobile .ocfilter-option .ocf-option-name {
	margin-bottom: 0;
}

.ocfilter .list-group-item.ocfilter-option--simple,
#column-left .list-group-item.ocfilter-option--simple {
	padding: 0 !important;
}

/* Дизайн каталожной страницы - лев меню */

.leftside--wrap .us-categories-box {
	padding: 0;
	background: #ffffff;
}

.leftside--wrap .us-categories-box > .us-categories-item {
	margin-bottom: 1px;
}

.leftside--wrap .us-categories-box > .us-categories-item  > span {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding: 15px 15px;
	color: #676767;
	background-color: #f3f5fb;
}

.leftside--wrap .us-categories-box > .us-categories-item  > span > a {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #676767;
	display: inline-block;
}

.leftside--wrap .us-categories-box > .us-categories-item  > span:hover > a {
	color: #18b8d1;
}

.leftside--wrap .us-categories-box > .us-categories-item.active  > span {
	color: #ffffff;
	background-color: #18b8d1;
}

.leftside--wrap .us-categories-box > .us-categories-item.active  > span > a {
	color: #ffffff;
}

.leftside--wrap .us-categories-2 > .us-categories-item  {
	margin: 0 0 1px;
	padding: 0;
}

.leftside--wrap .us-categories-2 > .us-categories-item  > span {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	padding: 15px 15px;
	padding-left: 30px;
	color: #676767;
	background-color: #e9ebf1;
}

.leftside--wrap .us-categories-2 > .us-categories-item  > span > a {
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #676767;
	display: inline-block;
	vertical-align: top;
}

.leftside--wrap .us-categories-2 > .us-categories-item  > span:hover > a {
	color: #18b8d1;
}

.leftside--wrap .us-categories-toggle i {
	font-size: 12px;
}

.leftside--wrap .us-categories-3 > .us-categories-item {
	margin: 0;
	padding: 0;
}

.leftside--wrap .us-categories-3 > .us-categories-item > a {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	padding: 10px 15px;
	padding-left: 42px;
	color: #676767;
	display: inline-block;
	vertical-align: top;
}

.leftside--wrap .us-categories-3 > .us-categories-item > a:hover {
	color: #18b8d1;
}

/* Дизайн каталожной страницы - Slider */

.prod_category--wrap .us-subcategory {
	margin-bottom: 10px;
	border: none;
}

#us-subcat {
	padding-right: 100px;
	position: relative;
}

#us-subcat .us-item {
	border-radius: 4px;
	border: 1px solid #18b8d1;
}

#us-subcat .subcat-item {
	padding: 5px 8px;
	box-shadow: none;
	height: auto;
	flex-direction: row !important;
	justify-content: flex-start;
}

#us-subcat .subcat-item img {
	max-width: 30px;
	max-height: 30px;
	margin: 0;
	margin-right: 8px;
}

#us-subcat .subcat-item .subcat-item-title {
	color: #18b8d1;
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	flex-grow: 1;
	display: flex;
}

#us-subcat .owl-nav {
	position: absolute;
	width: 90px;
	right: 0;
	top: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

#us-subcat .owl-nav button.owl-next,
#us-subcat .owl-nav button.owl-prev{
	border-radius: 4px;
	width: 40px;
	height: 40px;
	position: static;
	margin: 0;
	transform: none;
	background: #eaecf1 url(../img/slide_r.svg) no-repeat 50% 50%;
}

#us-subcat .owl-nav button.owl-prev {
	transform-origin: 50% 50%;
	transform: rotate(-180deg);
}

#us-subcat .owl-nav button.owl-next.disabled,
#us-subcat .owl-nav button.owl-prev.disabled {
	opacity: 0.5;
}

.prod_category--wrap #us-subcat + .us-subcat-show-more {
	display: none !important;
}



@media (max-width: 1199px) {

	.prod_category--wrap .us-category-content .product-list .us-module-item {
		padding: 10px 15px;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-img {
		width: 25%;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-caption {
		width: 70%;
		flex-direction: row !important;
	}

	.prod_category--wrap .product-list .us-module-caption--first {
		min-height: 150px;
		margin-right: 30px;
	}

	.prod_category--wrap .product-list .us-module-caption--second {
		width: 190px;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-img {
		min-width: 0;
	}

	.ocfilter-option--simple .ocf-option-name:after {
		right: 10px;
	}
}


@media (max-width: 991px) {

	.prod_category--wrap .us-subcategory .us-category-description-text {
		text-align: left;
	}

	.prod_category--wrap .tag .us-category-description-cont {
		padding-right: 80px;
	}

}

@media (max-width: 767px) {
	.prod_category--wrap .product-grid .us-module-img {
		width: calc(100% - 30px);
		margin: 0 15px;
	}

	.prod_category--wrap .product-grid .us-module-title {
		padding: 0 15px;
	}

	.prod_category--wrap .product-layout .us-module-price {
		padding: 0 15px;
	}

	.prod_category--wrap .product-grid .us-module-cart-btn {
		margin: 0 15px 10px;
	}

	.prod_category--wrap .product-grid .us-product-btn {
		/* margin: 0 15px 10px !important;	 */
	}

	.prod_category--wrap .product-layout.product-grid .us-module-price-new {
		display: block;
		margin: 0;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-item {
		padding: 10px 10px;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-img {
		width: 40%;
	}

	.prod_category--wrap .product-list .us-module-title a {
		font-size: 15px;
		line-height: 20px;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-caption {
		width: 55%;
		flex-direction: column !important;
	}

	.prod_category--wrap .product-list .us-module-caption--first {
		min-height: 0;
		margin-right: 0;
		width: 100%;
	}

	.prod_category--wrap .product-list .us-module-caption--second {
		width: 100%;
	}

	.prod_category--wrap .product-layout .us-module-price.out-of-sale {
		margin: 0 15px 10px;
	}

	.prod_category--wrap .product-grid .us-module-cart-btn.button-call_analog {
		font-size: 15px;
	}

	.prod_category--wrap .product-layout.product-list .us-module-price.out-of-sale {
		margin: 0 0 10px;
	}
}

@media (max-width: 575px) {
	.prod_category--wrap .us-category-content .product-list .us-module-item {
		flex-direction: column !important;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-img {
		width: 200px;
		min-width: 0;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-caption {
		width: 100%;
		max-width: 300px;
		flex-direction: column !important;
	}

	.prod_category--wrap .product-list .us-module-caption--first {
		min-height: 0;
		margin-right: 0;
		width: 100%;
	}

	.prod_category--wrap .product-list .us-module-caption--second {
		width: 100%;
	}

	.prod_category--wrap .us-category-content .product-list .us-module-item {
		padding: 10px 15px;
	}

	.prod_category--wrap .tag .us-category-description-cont {
		padding-right: 0px;
		margin-bottom: 40px;
	}

	.prod_category--wrap .tag .us-show-more {
		top:auto;
		bottom: -28px;
		margin-top: 0;
		right: 50%;
		margin-right: -45px;
	}

	.tag .us-category-description-opacity {
		display: none;
	}

	.prod_category--wrap .us-category-sort-block {
		padding: 10px 5px;
	}

	.prod_category--wrap .tag__item {
		margin-right: 0;
	}

	.prod_category--wrap .tag__item a {
		margin-bottom: 0;
	}

}

@media (max-width: 500px) {

	#us-subcat .owl-nav {
		display: none;
	}

	#us-subcat {
		padding-right: 0;
	}

}