{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-uds" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
			<br>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
		
			{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}
			{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_setting }}</h3>
            </div>
            
			<div class="panel-body">
			<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-uds" class="form-horizontal">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
					<li><a href="#tab-html-block" data-toggle="tab">{{ text_html_block }}</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-general">
                    
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-license-server"><span data-toggle="tooltip" title="{{ help_license_server }}">{{ entry_license_server }}</span></label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_license_server" value="{{ total_uds_license_server }}" placeholder="{{ entry_license_server }}" id="input-license-server" class="form-control" />
                            </div>

                            <label class="col-sm-2 control-label" for="input-license-key"><span data-toggle="tooltip" title="{{ help_license_key }}">{{ entry_license_key }}</span></label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_license_key" value="{{ total_uds_license_key }}" placeholder="{{ entry_license_key }}" id="input-license-key" class="form-control" />
                            </div>
                        </div>
                    
                        <div class="form-group" style="border-bottom:1px solid #2ad;">
                            <div class="col-sm-9">
                            	<i class="fa fa-check-square alert-success"></i> &nbsp; Укажите актуальный сервер лицензирования и действующий ключ лицензии. &nbsp;
                                <br>
                                Загрузить модуль UDS для Opencart и приобрести лицензию &nbsp; <a href="http://uds3020/" target="_blank"> на сайте модуля &nbsp; <i class="fa fa-external-link-square "></i></a>                			
                            </div>											
                            <div class="col-sm-3">                			
                                <button id="set_license" type="button" data-toggle="tooltip" title="Активировать модуль" class="btn btn-success btn-block"><i class="fa fa-check"></i> Активировать модуль</button>
                                <button id="check_license" type="button" data-toggle="tooltip" title="Проверить лицензию" class="btn btn-primary btn-block" style="margin-top:0;"><i class="fa fa-question-circle"></i> Проверить лицензию</button>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                            <div class="col-sm-4">
                                <select name="total_uds_status" id="input-status" class="form-control">
                                    {% if total_uds_status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                </select>
                            </div>

                            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_sort_order" value="{{ total_uds_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">{{ entry_company_id }}</label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_company_id" value="{{ total_uds_company_id }}" class="form-control" />
                            </div>
                        <!--</div>
    
                        <div class="form-group">-->
                            <label class="col-sm-2 control-label" for="">
                                {{ entry_api_key }}
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_api_key" value="{{ total_uds_api_key }}" class="form-control" />
                            </div>
                        </div>
                                    
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">
                                ID кассира
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_cashier_id" value="{{ total_uds_cashier_id }}" class="form-control" />
                            </div>
                        <!--</div>
                                    
                        <div class="form-group">-->
                            <label class="col-sm-2 control-label" for="">
                                Имя кассира
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_cashier_name" value="{{ total_uds_cashier_name }}" class="form-control" />
                            </div>
                        </div>
                                    
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">
                                Страница в UDS
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_app_link" value="{{ total_uds_app_link }}" class="form-control" />
                            </div>
                            
                            <label class="col-sm-2 control-label" for="">
                                Витрина в в UDS
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="total_uds_shop_link" value="{{ total_uds_shop_link }}" class="form-control" />
                            </div>
                        </div>
                                            
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="{{ help_shipping_status }}">{{ entry_shipping_status }}</span></label>
                            <div class="col-sm-3">
                              <label class="radio-inline"> {% if total_uds_shipping_status %}
                                <input type="radio" name="total_uds_shipping_status" value="1" checked="checked" />
                                {{ text_yes }}
                                {% else %}
                                <input type="radio" name="total_uds_shipping_status" value="1" />
                                {{ text_yes }}
                                {% endif %} </label>
                              <label class="radio-inline"> {% if not total_uds_shipping_status %}
                                <input type="radio" name="total_uds_shipping_status" value="0" checked="checked" />
                                {{ text_no }}
                                {% else %}
                                <input type="radio" name="total_uds_shipping_status" value="0" />
                                {{ text_no }}
                                {% endif %} </label>
                            </div>
                            <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="{{ help_discount_status }}">{{ entry_discount_status }}</span></label>
                            
                            <div class="col-sm-3">
                              <label class="radio-inline"> {% if total_uds_discount_status %}
                                <input type="radio" name="total_uds_discount_status" value="1" checked="checked" />
                                {{ text_yes }}
                                {% else %}
                                <input type="radio" name="total_uds_discount_status" value="1" />
                                {{ text_yes }}
                                {% endif %} </label>
                              <label class="radio-inline"> {% if not total_uds_discount_status %}
                                <input type="radio" name="total_uds_discount_status" value="0" checked="checked" />
                                {{ text_no }}
                                {% else %}
                                <input type="radio" name="total_uds_discount_status" value="0" />
                                {{ text_no }}
                                {% endif %} </label>
                            </div>
                          </div>
                                            
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-complete-status"><span data-toggle="tooltip" title="{{ help_complete_status }}">{{ entry_complete_status }}</span></label>
                            <div class="col-sm-4">
                                <div class="well well-sm" style="height: 180px; overflow: auto;"> {% for order_status in order_statuses %}
                                    <div class="checkbox">
                                        <label> {% if order_status.order_status_id in total_uds_complete_status %}
                                  <input type="checkbox" name="total_uds_complete_status[]" value="{{ order_status.order_status_id }}" checked="checked" />
                                  {{ order_status.name }}
                                  {% else %}
                                  <input type="checkbox" name="total_uds_complete_status[]" value="{{ order_status.order_status_id }}" />
                                  {{ order_status.name }}
                                  {% endif %} </label>
                              </div>
                              {% endfor %} </div>
                            {% if error_complete_status %}
                            <div class="text-danger">{{ error_complete_status }}</div>
                            {% endif %} </div>
                        <!--</div>
                                    
                        <div class="form-group">-->
                          <label class="col-sm-2 control-label" for="input-refund-status"><span data-toggle="tooltip" title="{{ help_refund_status }}">{{ entry_refund_status }}</span></label>
                          <div class="col-sm-4">
                            <div class="well well-sm" style="height: 180px; overflow: auto;"> {% for order_status in order_statuses %}
                              <div class="checkbox">
                                <label> {% if order_status.order_status_id in total_uds_refund_status %}
                                  <input type="checkbox" name="total_uds_refund_status[]" value="{{ order_status.order_status_id }}" checked="checked" />
                                  {{ order_status.name }}
                                  {% else %}
                                  <input type="checkbox" name="total_uds_refund_status[]" value="{{ order_status.order_status_id }}" />
                                  {{ order_status.name }}
                                  {% endif %} </label>
                              </div>
                              {% endfor %} </div>
                            {% if error_refund_status %}
                            <div class="text-danger">{{ error_refund_status }}</div>
                            {% endif %} </div>
                        </div>
                                        
                        <div class="form-group">
                            <div class="col-sm-9">                			
                            </div>											
                            <div class="col-sm-3">                			
                                <button id="check_setting" type="button" data-toggle="tooltip" title="Проверить магазин" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Проверить настройки магазина</button>
                            </div>
                        </div>
                        
                        <div class="form-group result_uds hidden">
							<i class="fa fa-times-circle close_uds"></i>
                           	<div id="result"></div>											
                        </div>
                    
					</div>
                    
					<div class="tab-pane" id="tab-html-block">
                    
            <div class="row" style="margin-bottom:20px; padding:0 15px;">                			
				{{ view_block_html }}
            </div>                			
                    
                        <div class="form-group">
							<label class="col-sm-2 control-label" for=""><span data-toggle="tooltip" title="{{ help_encryption }}">{{ entry_block_html }}</span></label>
							<div class="col-sm-10">
                            	&lt;div id="uds_info"&gt;
								<textarea name="total_uds_block_html" rows="5" placeholder="{{ entry_encryption }}" id="input-block-html" class="form-control" style="resize:vertical;min-height:100px;">{{ total_uds_block_html }}</textarea>
                                &lt;/div&gt;
							</div>
                        </div>
    
                        <div class="form-group">
							<label class="col-sm-2 control-label" for=""><span data-toggle="tooltip" title="{{ help_encryption }}">{{ entry_block_css }}</span></label>
							<div class="col-sm-10">
								<textarea name="total_uds_block_css" rows="5" placeholder="{{ entry_encryption }}" id="input-block-html" class="form-control" style="resize:vertical;min-height:100px;">{{ total_uds_block_css }}</textarea>
							</div>
                        </div>
    
					</div>
				</div>
            </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
<style>
.alert {overflow: initial;}
.result_uds {position:relative;padding:15px;border:none;}
.close_uds {position:absolute;top:25px;right:25px;font-size:18px;cursor:pointer;}
#result { width:100%; padding:15px;border:1px solid #ccc;border-radius:3px;}
{{ view_block_css }}
</style>

<script type="text/javascript"><!--

$(document).ready(function() {
	if ($('input[name=\'total_uds_license_server\']').val() && $('input[name=\'total_uds_license_key\']').val()) { 
		$('#set_license').addClass('hidden'); 
		$('#check_license').removeClass('hidden'); 
	} else {
		$('#set_license').removeClass('hidden'); 
		$('#check_license').addClass('hidden'); 
	}
});

$('.close_uds').on('click', function() {
	$('.result_uds').addClass('hidden');	
	$('#result').html('');	
});

$('input[name=\'total_uds_license_server\'], input[name=\'total_uds_license_key\']').on('change', function() {
	$('#set_license').removeClass('hidden'); 
	$('#check_license').addClass('hidden');
	//$('.alert-dismissible').remove();
});

$('#set_license').on('click', function() {
	if (!$('input[name=\'total_uds_license_server\']').val() || !$('input[name=\'total_uds_license_key\']').val()) { 
		alert('Ошибка. Заполните поля "Сервер лицензирования" и "Ключ лицензии модуля"');
		return;
	}
	$.ajax({
		url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
		type: 'post',
		data: 'query=license&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val(),		
		dataType: 'json',
		beforeSend: function() {
			$('.alert-dismissible').remove();
			$('.result_uds').addClass('hidden');	
			$('#result').html('');	
		},	
		complete: function() {

		},
		success: function(json) {
			if (json['error']) {
				
				if (json['error']['alert']) {
					$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['alert'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('html, body').animate({ scrollTop: 0 }, 'slow');
					
					$('#set_license').removeClass('hidden'); 
					$('#check_license').addClass('hidden'); 
				}
				
				$('#result').html(json['license_status']);
				$('.result_uds').removeClass('hidden');
			}
			if (json['success']) {
				
				$.ajax({
					url: 'index.php?route=extension/total/uds/setLicense&user_token={{ user_token }}',
					type: 'post',
					data: 'query=license&total_uds_license_server=' + $('input[name=\'total_uds_license_server\']').val() + '&total_uds_license_key=' + $('input[name=\'total_uds_license_key\']').val(),		
					dataType: 'json',
					beforeSend: function() {

					},	
					complete: function() {

					},
					success: function() {
						
						$('#set_license').addClass('hidden'); 
						$('#check_license').removeClass('hidden'); 

					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});	

				if (json['success']['alert']) {
					$('.breadcrumb').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success']['alert'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}

				$('#result').html(json['license_status'] + '<br>' + json['success']['arr']);
				$('.result_uds').removeClass('hidden');

			}		
		},
//		error: function(xhr, ajaxOptions, thrownError) {
//			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//		}
		error: function() {
			$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + ' Указанный сервер лицензирования ' + $('input[name=\'total_uds_license_server\']').val() + ' недоступен. Проверьте ввод данных.' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			
			$('html, body').animate({ scrollTop: 0 }, 'slow');
		}
	});	
});

$('#check_license').on('click', function(){
	if (!$('input[name=\'total_uds_license_server\']').val() || !$('input[name=\'total_uds_license_key\']').val()) { 
		alert('Ошибка. Заполните поля "Сервер лицензирования" и "Ключ лицензии модуля"');
		return;
	}
	$.ajax({
		url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
		type: 'post',
		data: 'query=license&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val(),		
		dataType: 'json',
		beforeSend: function() {
			$('.alert-dismissible').remove();
			$('.result_uds').addClass('hidden');	
			$('#result').html('');
		},	
		complete: function() {

		},
		success: function(json) {
			console.log(json);
			if (json['error']) {
				if (json['error']['alert']) {
					$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['alert'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('html, body').animate({ scrollTop: 0 }, 'slow');
					
					$('#set_license').removeClass('hidden'); 
					$('#check_license').addClass('hidden'); 
				}
				$('#result').html(json['license_status']);
				$('.result_uds').removeClass('hidden');
			}
			if (json['success']) {

				if (json['success']['alert']) {
					$('.breadcrumb').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success']['alert'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}

				$('#result').html(json['license_status'] + '<br>' + json['success']['arr']);
				$('.result_uds').removeClass('hidden');
			}		
		},
//		error: function(xhr, ajaxOptions, thrownError) {
//			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//		}
		error: function() {
			$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + ' Указанный сервер лицензирования ' + $('input[name=\'total_uds_license_server\']').val() + ' недоступен. Проверьте ввод данных.' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			
			$('html, body').animate({ scrollTop: 0 }, 'slow');
		}
	});	
});

$('#check_setting').on('click', function(){
	$.ajax({
		url: $('input[name=\'total_uds_license_server\']').val() + '/uds/',
		type: 'post',
		data: 'query=setting&uds_license_key=' + $('input[name=\'total_uds_license_key\']').val() + '&uds_company_id=' + $('input[name=\'total_uds_company_id\']').val() + '&uds_api_key=' + $('input[name=\'total_uds_api_key\']').val(),		
		dataType: 'json',
		beforeSend: function() {
			$('.alert-dismissible').remove();
			$('.result_uds').addClass('hidden');	
			$('#result').html('');
		},	
		complete: function() {

		},
		success: function(json) {
			if (json['error']) {
				if (json['error']['alert']) {
					$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['alert'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}
				$('#result').html(json['error']['text'] + '<br>' + json['error']['errorCode'] + '<br>' + json['error']['message']);
				$('.result_uds').removeClass('hidden');
			}
			if (json['success']) {
				if (json['success']['alert']) {
					$('.breadcrumb').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success']['alert'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}
				$('#result').html(json['success']['text'] + '<br>' + json['success']['id'] + '<br>' + json['success']['name'] + '<br>' + json['success']['arr']);
				$('.result_uds').removeClass('hidden');
			}		
		},
//		error: function(xhr, ajaxOptions, thrownError) {
//			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//		}
		error: function() {
			$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + ' Указанный сервер лицензирования ' + $('input[name=\'total_uds_license_server\']').val() + ' недоступен. Проверьте ввод данных.' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			
			$('html, body').animate({ scrollTop: 0 }, 'slow');
		}
	});	
});

//--></script>

