{% macro products(display_type, products) %}
  {% if display_type == "list" %}
    <div class="catalogue__products catalogue__products--list products">
      {% for product in products %}
        {{ _self.productCardList(product) }}
      {% endfor %}
    </div>
  {% else %}
    <div class="catalogue__products products">
      {% for product in products %}
        {{ _self.productCardGrid(product) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro productCardGrid(product) %}
  <div class="products__product-item product-item">
    <div class="product-item__wrap">
      <div class="product-item__header">
        {{ _self.component_tags(product) }}

        {{ _self.component_buttons(product) }}
      </div>

      {{ _self.component_linkedImage(product) }}

      <a href="{{ product.href }}" class="product-item__title">{{ product.name }}</a>


      <div class="product-item__footer">
        <div class="product-item__price">
          {% if product.special %}
            {{ product.special }}
            <s class="product-item__old-price">{{ product.price }}</s>
          {% else %}
            {{ product.price }}
          {% endif %}
        </div>
          {% if product.special %}
            <div class="product-item__benefit">
              Выгода {{ product.benefit }}
            </div>
          {% endif %}
          {{ _self.component_rating(product) }}
        {{ _self.component_cartButton(product) }}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro productCardList(product) %}
  <div class="products__product-item product-item product-item--list">
    <div class="product-item__wrap">
      <div class="row">
        <div class="col-xl-3">
          {{ _self.component_tags(product) }}

          {{ _self.component_linkedImage(product) }}
        </div>

        <div class="col-xl-6">
          <a href="{{ product.href }}" class="product-item__title">{{ product.name }}</a>

          {{ _self.component_rating(product) }}
        </div>

        <div class="col-xl-3">
          <div class="product-item__actions">
            {{ _self.component_buttons(product) }}
          </div>

          <div class="product-item__discount-info">
            {% if product.special %}
              <div class="product-item__old-price">
                {{ product.price }}
              </div>
              <div class="product-item__benefit">
                Выгода {{ product.benefit }}
              </div>
            {% endif %}
          </div>

          <div class="product-item__price">
            {{ product.special ?: product.price }}
          </div>

          {{ _self.component_cartButton(product) }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro productsTab(products, id, is_first = false) %}
  <div class="tabs__pane js-tab-content" data-tab-id="{{ id }}" {% if is_first %}style="display: block;"{% endif %}
       role="tabpanel">
    <div class="featured-products__products products">
      {% for product in products %}
        {{ _self.productCardGrid(product) }}
      {% endfor %}

      <div class="featured-products__controls">
        <button class="featured-products__control featured-products__control--prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="9" viewBox="0 0 26 9">
            <path
              d="M21.8 0v0l3.3 3.6v0l0 0v0l0.8 0.9v0l-4.2 4.5v0l-0.8-0.9v0l3.3-3.6v0l-3.3-3.6v0z"/>
            <path d="M0 4v0 1 0h25v0 -1 0z"/>
          </svg>
        </button>
        <button class="featured-products__control featured-products__control--next">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="9" viewBox="0 0 26 9">
            <path
              d="M21.8 0v0l3.3 3.6v0l0 0v0l0.8 0.9v0l-4.2 4.5v0l-0.8-0.9v0l3.3-3.6v0l-3.3-3.6v0z"/>
            <path d="M0 4v0 1 0h25v0 -1 0z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro sort(sorts, defauleSort, defauleOrder) %}
  <div class="catalogue__sort-by sort-by">
    <label for="sortby" class="sort-by__label">Сортировать по:</label>
    <select name="sortby" id="sortby" class="sort-by__control" onchange="location.assign(this.value)">
      {% for sort in sorts %}
        {% if sort.value == '%s-%s'|format(defauleSort, defauleOrder) %}
          <option value="{{ sort.href }}" selected="selected">{{ sort.text }}</option>
        {% else %}
          <option value="{{ sort.href }}">{{ sort.text }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro component_tags(product) %}
  <div class="product-item__tags">
    {% if product.benefit_percent %}
      <div class="product-item__tag product-item__tag--discount">Скидка {{ product.benefit_percent }}%</div>
    {% else %}
      {% for sticker in product.stickers %}
        <div class="product-item__tag product-item__tag--installment">
          {{ sticker.title }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro component_linkedImage(product) %}
  <a href="{{ product.href }}" class="product-item__img-link">
    <picture class="product-item__img">
      <img loading="lazy" src="{{ product.image }}" alt="{{ product.name }}" width="240" height="220">
    </picture>
  </a>
{% endmacro %}

{% macro component_rating(product) %}
  <div class="product-item__meta">
    <div class="product-item__rating">
      {% for rating in range(1, 5) %}
        {% if rating <= product.rating %}
          <svg width="12" height="12" class="product-item__star product-item__star--filled">
            <use xlink:href='/assets/svg/sprite.svg#star'></use>
          </svg>
        {% else %}
          <svg width="12" height="12" class="product-item__star">
            <use xlink:href='/assets/svg/sprite.svg#star'></use>
          </svg>
        {% endif %}
      {% endfor %}
    </div>
    {% if product.reviews > 0 %}
      <div class="product-item__comments">
        {{ product.reviews }} отзывов
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro component_buttons(product) %}
  <button onclick="wishlist.add({{ product.product_id }})" data-toggle="tooltip" data-original-title="В избранное"
          class="product-item__btn product-item__btn--wishlist">
    <svg width="23" height="22"><use xlink:href='/assets/svg/sprite.svg#heart'></use></svg>
  </button>

  <button onclick="compare.add({{ product.product_id }})" data-toggle="tooltip" data-original-title="В сравнение"
          class="product-item__btn product-item__btn--compare">
    <svg width="22" height="22" ><use xlink:href='/assets/svg/sprite.svg#bar-chart-2'></use></svg>
  </button>
{% endmacro %}

{% macro component_cartButton(product) %}
  <button class="product-item__cart-btn"
    {% if product.quantity == 0 %}
      onclick="octPopupCallStock({{ product.product_id }})"
      title="Предзаказ"
    {% elseif product.price != "Цена по запросу" %}
      onclick="cart.add({{ product.product_id }})"
      title="Добавить в корзину"
    {% else %}
      onclick="octPopupCallPrice({{ product.product_id }})"
      title="Запросить цену"
    {% endif %}
  >
    <svg width="20" height="20" class="product-item__cart-icon">
      <use xlink:href='/assets/svg/sprite.svg#shopping-cart'></use>
    </svg>
    <span>В корзину</span>
  </button>
{% endmacro %}

{% macro viewButtons(display_type) %}
  <div class="catalogue__products-view products-view">
    <button class="products-view__btn {% if display_type == "grid" %}products-view__btn--active{% endif %}"
            onclick="location.assign(location.toString() + '&display_type=grid')">
      <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" version="1.1"
           xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18">
        <path
          d="M-0.00005,0.00002h8.00006v7.99984h-8.00006zM10.00002,0.00002h7.99995v7.99984h-7.99995zM-0.00005,9.99999h8.00006v8.00016h-8.00006zM10.00002,9.99999h7.99995v8.00016h-7.99995z">
        </path>
      </svg>
    </button>
    <button class="products-view__btn {% if display_type == "list" %}products-view__btn--active{% endif %}"
            onclick="location.assign(location.toString() + '&display_type=list')">
      <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" version="1.1"
           xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18">
        <path
          d="M0.00004,0.00002h17.99991v7.99984h-17.99991zM0.00004,9.99999h17.99991v8.00016h-17.99991z"
          fill="#000000"></path>
      </svg>
    </button>
  </div>
{% endmacro %}
