.review-product {
  &__modal {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }

  &__header {
    font-size: 16px;
  }

  &__body {
    padding: 10px 37px 43px 65px;
  }

  &__title {
    font-weight: 375;
  }

  &__form {
    flex-direction: column;
  }

  &__top, &__bottom {
    width: 100%;
    padding: 0;
    border: none;
  }

  &__bottom {
    margin-top: 25px;
  }

  &__rating.us-review-block  {
    margin-top: 25px;
    margin-right: 0;
  }

  @media (max-width: 767px) {
    &__body {
      padding-left: 37px;
    }

    &__img {
      object-fit: cover;
    }
  }
}
