.social-account {
  display: flex;
  grid-gap: 10px;
  align-items: center;

  &__header {
    font-weight: bold;
    text-align: left;
  }

  @media (max-width: 530px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
