$container-max-widths: (
  sm: 540px,
  md: 760px,
  lg: 960px,
  xl: 1400px,
);

$grid-gutter-width: 22px;

$accent: #3962b4;
$primary: #0e55f5;

@import '~bootstrap';
@import '~sass-rem/rem';
@import '~flickity';
@import 'base/fonts';
@import 'base/base';
@import 'base/keyframes';
@import 'vendors/flickity';
@import 'mixins/utility';
@import 'components/submenu';
@import 'components/tags';
@import 'components/pagination';
@import 'components/sidebar';
@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/modals';
@import 'components/forms';
@import 'components/portfolio';
@import 'components/daily-promo';
@import 'components/product-item';
@import 'components/tabs';
@import 'components/choice-helper';
@import 'components/socials';
@import 'components/messengers';
@import 'components/reviews';
@import 'components/subcategories';
@import 'components/installment-banner';
@import 'components/search-form';
@import 'components/review-form-stars';
@import 'layout/header';
@import 'layout/footer';
@import 'blocks/company-rules';
@import 'blocks/testimonials';
@import 'blocks/services';
@import 'blocks/maintenance';
@import 'blocks/quote';
@import 'blocks/about-company';
@import 'blocks/discounts';
@import 'blocks/brands';
@import 'blocks/seo';
@import 'blocks/related-products';
@import 'blocks/discounted-products';
@import 'blocks/featured-products';
@import 'blocks/delivery-bg';
@import 'pages/frontpage';
@import 'pages/about-us';
@import 'pages/catalogue';
@import 'pages/portfolio-page';
@import 'pages/portfolio-project';
@import 'pages/reviews-page';
@import 'pages/services-page';
@import 'pages/discounts-page';
@import 'pages/installation-page';
@import 'pages/partnership';
@import 'pages/cart';
@import 'pages/promo-cheaper';
@import 'pages/error';
@import 'pages/guarantee';
@import 'pages/credit';
@import 'pages/delivery-page';
@import 'pages/payment';
@import 'pages/faq';
@import 'pages/brands';
@import 'pages/article';
@import 'pages/installment';
@import 'pages/promo-page';
@import 'pages/account/account';
@import 'pages/account/account-order';
@import 'pages/account/account-adress';
@import 'pages/account/account-orders';
@import 'pages/account/account-wishlist';
@import 'pages/account/account-subscriptions';
@import 'pages/account/account-bonuses';
@import 'pages/product-page';
@import 'pages/helper-page';
@import 'pages/contacts-page';
@import 'pages/pickup-points';
@import 'pages/checkout';
@import 'pages/order-received';
@import 'pages/comparison';
@import 'pages/sitemap';
@import 'pages/bonus';
@import 'pages/page';
@import 'blocks/promo-banner';
@import 'blocks/promo-banners';
@import 'blocks/account-login';
@import "blocks/main-carousel";
@import "base/base-checkbox";
