{% if logged %}
  <div class="account__account-menu account-menu">
    <div class="account-menu__user">
      <div class="account-menu__name">{{ user_name }}</div>
      <div class="account-menu__mail">{{ user_email }}</div>
      {#<div class="account-menu__bonuses">
        <picture class="account-menu__icon">
          <source srcset="/image/static/img/icon/points-icon.webp" type="image/webp">
          <img src="/image/static/img/icon/points-icon.png" alt="">
        </picture>
        12 532
      </div>#}
    </div>

    <ul class="account-menu__list">
      <li class="account-menu__item">
        <a href="{{ account }}" class="account-menu__link {% if route == 'account/edit' %}account-menu__link--active{% endif %}">Ваши данные</a>
      </li>
      <li class="account-menu__item">
        <a href="{{ address }}" class="account-menu__link {% if route == 'account/address' %}account-menu__link--active{% endif %}">Адреса доставки</a>
      </li>
      <li class="account-menu__item">
        <a href="{{ wishlist }}" class="account-menu__link {% if route == 'account/wishlist' %}account-menu__link--active{% endif %}">Избранное</a>
      </li>
      <li class="account-menu__item">
        <a href="{{ order }}" class="account-menu__link {% if route == 'account/order' %}account-menu__link--active{% endif %}">История заказов</a>
      </li>
      {#<li class="account-menu__item">
        <a href="" class="account-menu__link {% if route == 'account/bonus' %}account-menu__link--active{% endif %}">Мои бонусы</a>
      </li>#}
      <li class="account-menu__item">
        <a href="{{ newsletter }}" class="account-menu__link {% if route == 'account/newsletter' %}account-menu__link--active{% endif %}">Настройка рассылок</a>
      </li>
      <li class="account-menu__item">
        <a href="{{ logout }}" class="account-menu__link">Выход</a>
      </li>
    </ul>
  </div>
{% endif %}
