<section class="frontpage__testimonials testimonials">
  <div class="container">
    <div class="testimonials__list">
      {% for banner in banners %}
        <div class="testimonials__item">
          <a href="{{ banner.large_image }}" data-fancybox="testimonials">
            <picture class="testimonials__img">
              <img width="247" height="355" src='{{ banner.image }}' alt=''>
            </picture>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
