{% if position == 'column_left' or position == 'column_right' %}
<div  class="us-module-column-box">
	<div class="panel-heading">{{ heading_title }}</div>
	<div id="us-column-bestseller{{ module }}" class="d-flex us-module-column-box-content">
		{% for product in products %}
		<div class="us-module-item us-module-column-item us-item">
			<ul class="us-module-buttons-list">
				<li class="us-module-buttons-item">
					<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="far fa-heart"></i></a>
				</li>
				<li class="us-module-buttons-item">
					<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-sliders-h"></i></a>
				</li>
			</ul>
		  <div class="us-module-img">
		  	<a href="{{ product.href }}">
		  		<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
		  	</a>
		  </div>
		  <div class="us-module-title us-module-column-title">
				<a href="{{ product.href }}">{{ product.name }}</a>
			</div>
			{% if product.rating is not same as(false) %}
		    <div class="us-module-rating d-flex align-items-center justify-content-center">
		        <div class="us-module-rating-stars d-flex align-items-center">
		          {% for i in 1..5 %}
		          {% if product.rating < i %}
		          <span class="us-module-rating-star"></span>
		          {% else %}
		          <span class="us-module-rating-star us-module-rating-star-is"></span>
		          {% endif %}
		          {% endfor %}
		        </div>
				<div class="us-module-reviews">
					<i class="fas fa-comment">
						<span>{{ product.reviews }}</span>
					</i>
				</div>
		    </div>
		    {% endif %}
		    {% if product.price %}
		    <div class="us-module-price">
		      {% if not product.special %}
		      <span class="us-module-price-actual">{{ product.price }}</span>
		      {% else %}
		      <span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
		      {% endif %}
		      {% if product.tax %}
		      <div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
		      {% endif %}
		    </div>
		    {% endif %}
		    <a href="javascript:void(0);" onclick="cart.add('{{ product.product_id }}');" class="us-module-cart-btn button-cart">{{ button_cart }}</a>
		</div>
		{% endfor %}
	</div>
	<button type="button" id="us-bestseller-button-prev{{ module }}" class="us-column-module-btn us-column-module-prev"><i class="fas fa-chevron-left"></i></button>
	<button type="button" id="us-bestseller-button-next{{ module }}" class="us-column-module-btn us-column-module-next"><i class="fas fa-chevron-right"></i></button>
	<script>
	octShowColumnProducts("us-bestseller-button-prev{{ module }}", "us-bestseller-button-next{{ module }}", "us-column-bestseller{{ module }}");
	</script>
</div>
{% else %}
<div class="row row-padding-top">
	<div class="col-lg-12">
		<div class="us-main-shop-title">{{ heading_title }}</div>
	</div>
</div>
<div id="us-bestseller_{{ module }}" class="row">
 {% for product in products %}
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 us-item">
    <div class="us-module-item d-flex flex-column">
		<ul class="us-module-buttons-list">
			<li class="us-module-buttons-item">
				<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="far fa-heart"></i></a>
			</li>
			<li class="us-module-buttons-item">
				<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-sliders-h"></i></a>
			</li>
		</ul>
      <div class="us-module-img">
      	<a href="{{ product.href }}">
      		<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
      	</a>
      </div>
      <div class="us-module-title flex-grow-1">
			<a href="{{ product.href }}">{{ product.name }}</a>
		</div>
		{% if product.rating is not same as(false) %}
        <div class="us-module-rating d-flex align-items-center justify-content-center">
	        <div class="us-module-rating-stars d-flex align-items-center">
	          {% for i in 1..5 %}
	          {% if product.rating < i %}
	          <span class="us-module-rating-star"></span>
	          {% else %}
	          <span class="us-module-rating-star us-module-rating-star-is"></span>
	          {% endif %}
	          {% endfor %}
	        </div>
			<div class="us-module-reviews">
				<i class="fas fa-comment">
					<span>{{ product.reviews }}</span>
				</i>
			</div>
        </div>
        	{% endif %}
        {% if product.price %}
        <div class="us-module-price">
          {% if not product.special %}
          <span class="us-module-price-actual">{{ product.price }}</span>
          {% else %}
          <span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
          {% endif %}
          {% if product.tax %}
          <div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
          {% endif %}
        </div>
        {% endif %}
        <a href="javascript:void(0);" onclick="cart.add('{{ product.product_id }}');" class="us-module-cart-btn button-cart">{{ button_cart }}</a>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="us-module-button">
			<button id="us-bestseller-button{{ module }}" class="us-module-btn">{{ oct_show_more }}</button>
		</div>
	</div>
</div>
<script>
octShowProducts("us-bestseller-button{{ module }}", "us-bestseller_{{ module }}", "8", "{{ products|length }}");
</script>
{% endif %}