<div class="row row-padding-top">
	<div class="col-lg-12">
	  <div id="us-carousel-brands-{{ module }}" class="owl-carousel us-carousel-brands-box">
	    {% for banner in banners %}
	      <div class="us-carousel-brands-item">
		      {% if banner.link %}
		      <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" /></a>
		      {% else %}
		      <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
		      {% endif %}
		      </div>
		{% endfor %}
	  </div>
	</div>
</div>
<script><!--
$( document ).ready(function() {
    $('#us-carousel-brands-{{ module }}').owlCarousel({
	    loop:true,
	    margin:10,
	    nav:false,
	    dots: false,
	    autoplay: true,
	    autoplayHoverPause: true,
	    autoplayTimeout: 3000,
	    responsive:{
	        0:{
	            items:2
	        },
	        600:{
	            items:3
	        },
	        1000:{
	            items:6
	        }
	    }
	})
});
--></script>