<section class="{{ class }} categories">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="categories__content">
          <div class="categories__small">НАШ АССОРТИМЕНТ</div>
          <h2 class="categories__heading">Более 20 000 товаров с доставкой
            в 10 000 пунктов выдачи <br>
            по всей России</h2>
          <p class="categories__subheading">Мы гарантируем оригинальность и качество продаваемой продукции
          </p>
        </div>
      </div>
      {% for category in categories %}
        <div class="col-lg-3 col-6">
          <a href="{{ category.href }}" class="categories__category-item">
            <picture class="category-item__img">
              <img loading="lazy" width="240" height="220" src='{{ category.image }}' alt='{{ category.name }}'>
            </picture>
            {{ category.name }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
