{% if banner_certeficates %}
	<link href="catalog/view/theme/oct_ultrastore/js/fancybox/jquery.fancybox.min.css" type="text/css" rel="stylesheet" media="screen">
	<script src="catalog/view/theme/oct_ultrastore/js/fancybox/jquery.fancybox.min.js"></script>
	<div class="our-certifications">
		<div class="our-certifications__header">
			<div class="our-certifications__title">Сертификаты и отзывы</div>
			<a href="/certificate" class="our-certifications__link">Смотреть все сертификаты
				<i class="fas fa-angle-right"></i>
			</a>
		</div>
		<div class="our-certifications__inner owl-carousel owl-theme new-slider">
			{% for banner in banner_certeficates %}
				<div class="our-certifications__block">
					<a href="{{banner.image}}" data-fancybox="images">
						<img src="{{banner.image}}" class="img-fluid" alt="{{banner.alt}}">
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

{% endif %}
