{% if position == 'column_left' or position == 'column_right' %}
    <div  class="us-module-column-box">
        <div class="panel-heading">{{ heading_title }}</div>
        <div id="us-column-pfc-{{ module }}" class="d-flex us-module-column-box-content">

            {% if sticker_colors is not empty %}
                <style>
                    {% for key, sticker_color in sticker_colors %}
                    .us-module-stickers-sticker-{{ key }} {
                        color:{{ sticker_color.text_color }};
                        background:{{ sticker_color.fon_color }};
                    }
                    {% endfor %}
                </style>
            {% endif %}

            {% for product in products %}
                <div class="us-module-item us-module-column-item us-item">

                    {% if product.oct_stickers is not empty%}
                        <div class="us-module-stickers">
                            {% if oct_sticker_you_save and product.you_save %}
                                <div class="us-module-stickers-sticker us-module-stickers-sticker-discount">{{ product.you_save }}</div>
                            {% endif %}
                            {% for key, oct_sticker in product.oct_stickers %}
                                {% if oct_sticker is not empty %}
                                    <div class="us-module-stickers-sticker us-module-stickers-sticker-{{ key }}">
                                        {{ oct_sticker }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <ul class="us-module-buttons-list">
                        <li class="us-module-buttons-item">
                            <a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="far fa-heart"></i></a>
                        </li>
                        <li class="us-module-buttons-item">
                            <a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-sliders-h"></i></a>
                        </li>

                        {% if oct_popup_view_status %}
                            <li class="us-module-buttons-item">
                                <a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-quickview" title="Быстрый просмотр" onclick="octPopUpView('{{ product.product_id }}')"><i class="far fa-eye"></i></a>
                            </li>
                        {% endif %}

                    </ul>
                    <div class="us-module-img">
                        <a href="{{ product.href }}">
                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
                        </a>
											{% if product.options %}
											<div class="gift-icon2"></div>
											{% endif %}
                    </div>
                    <div class="us-module-title us-module-column-title">
                        <a href="{{ product.href }}">{{ product.name }}</a>
                    </div>
                    {% if product.rating is not same as(false) %}
                        <div class="us-module-rating d-flex align-items-center justify-content-center">
                            <div class="us-module-rating-stars d-flex align-items-center">
                                {% for i in 1..5 %}
                                    {% if product.rating < i %}
                                        <span class="us-module-rating-star"></span>
                                    {% else %}
                                        <span class="us-module-rating-star us-module-rating-star-is"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="us-module-reviews">
                                <i class="fas fa-comment">
                                    <span>{{ product.reviews }}</span>
                                </i>
                            </div>
                        </div>
                    {% endif %}
                    {% if product.deviant %}
                        {% if product.deviant == 'call_price' %}
                            <div class="us-module-price">
                                <span class="us-module-price-actual no-price"> {{ entry_call_price }} </span>
                            </div>
                            <a href="javascript:void(0);" onclick="octPopupCallPrice('{{ product.product_id }}');" class="us-module-cart-btn button-cart"> {{ button_call_price }} </a>
                        {% elseif product.deviant == 'call_analog' %}
                            <div class="us-module-price">
                                <span class="us-module-price-actual no-price"> {{ entry_call_analog }} </span>
                            </div>
                            <a href="javascript:void(0);" onclick="octPopupCallAnalog('{{ product.product_id }}');" class="us-module-cart-btn button-cart"> {{ button_call_analog }} </a>
                        {% elseif product.deviant == 'call_stock' %}
                            <div class="us-module-price">
                                {% if not product.special %}
                                    <span class="us-module-price-actual">{{ product.price }}</span>
                                {% else %}
                                    <span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
                                {% endif %}
                                {% if product.tax %}
                                    <div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
                                {% endif %}
                            </div>
                            <a href="javascript:void(0);" onclick="octPopupCallStock('{{ product.product_id }}');" class="us-module-cart-btn button-cart"> {{ button_call_stock }} </a>
                        {% endif %}
                    {% else %}
                        <div class="us-module-price">
                            {% if not product.special %}
                                <span class="us-module-price-actual">{{ product.price }}</span>
                            {% else %}
                                <span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
                            {% endif %}
                            {% if product.tax %}
                                <div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
                            {% endif %}
                        </div>
                        <a href="javascript:void(0);" onclick="cart.add('{{ product.product_id }}');" class="us-module-cart-btn button-cart">{{ button_cart }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="button" id="us-pfi-{{ module }}-button-prev" class="us-column-module-btn us-column-module-prev"><i class="fas fa-chevron-left"></i></button>
        <button type="button" id="us-pfi-{{ module }}-button-next" class="us-column-module-btn us-column-module-next"><i class="fas fa-chevron-right"></i></button>
        <script>
            octShowColumnProducts("us-pfi-{{ module }}-button-prev", "us-pfi-{{ module }}-button-next", "us-column-pfc-{{ module }}");
        </script>
    </div>
{% else %}
    <div class="row row-padding-top">
        <div class="col-lg-12">
            <div class="us-main-shop-title">
                {% if link %}
                    <a href="{{ link }}">{{ heading_title }}</a>
                {% else %}
                    {{ heading_title }}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="us-pfi-{{ module }}" class="row {% if is_carousel %}owl-carousel product-slideshow default-slideshow{% endif %}">


        {% if sticker_colors is not empty %}
            <style>
                {% for key, sticker_color in sticker_colors %}
                .us-module-stickers-sticker-{{ key }} {
                    color:{{ sticker_color.text_color }};
                    background:{{ sticker_color.fon_color }};
                }
                {% endfor %}
            </style>
        {% endif %}

        {% for product in products %}

            <div class="{% if is_carousel %}col{% else %}col-sm-12 col-md-6 col-lg-4 col-xl-3 us-item{% endif %}">

                <div class="us-module-item d-flex flex-column">

                    {% if product.oct_stickers is not empty%}
                        <div class="us-module-stickers">
                            {% if oct_sticker_you_save and product.you_save %}
                                <div class="us-module-stickers-sticker us-module-stickers-sticker-discount">{{ product.you_save }}</div>
                            {% endif %}
                            {% for key, oct_sticker in product.oct_stickers %}
                                {% if oct_sticker is not empty %}
                                    <div class="us-module-stickers-sticker us-module-stickers-sticker-{{ key }}">
                                        {{ oct_sticker }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <ul class="us-module-buttons-list">
                        <li class="us-module-buttons-item">
                            <a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="far fa-heart"></i></a>
                        </li>
                        <li class="us-module-buttons-item">
                            <a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-sliders-h"></i></a>
                        </li>

                        {% if oct_popup_view_status %}
                            <li class="us-module-buttons-item">
                                <a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-quickview" title="Быстрый просмотр" onclick="octPopUpView('{{ product.product_id }}')"><i class="far fa-eye"></i></a>
                            </li>
                        {% endif %}

                    </ul>
                    <div class="us-module-img">
                        <a href="{{ product.href }}">
                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
                        </a>
											{% if product.options %}
											<div class="gift-icon2"></div>
											{% endif %}
                    </div>
                    <div class="us-module-title flex-grow-1">
                        <a href="{{ product.href }}">{{ product.name }}</a>
                    </div>
                    {% if product.rating is not same as(false) %}
                        <div class="us-module-rating d-flex align-items-center justify-content-center">
                            <div class="us-module-rating-stars d-flex align-items-center">
                                {% for i in 1..5 %}
                                    {% if product.rating < i %}
                                        <span class="us-module-rating-star"></span>
                                    {% else %}
                                        <span class="us-module-rating-star us-module-rating-star-is"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="us-module-reviews">
                                <i class="fas fa-comment">
                                    <span>{{ product.reviews }}</span>
                                </i>
                            </div>
                        </div>
                    {% endif %}
                    {% if product.deviant %}
                        {% if product.deviant == 'call_price' %}
                            <div class="us-module-price">
                                <span class="us-module-price-actual no-price"> {{ entry_call_price }} </span>
                            </div>
                            <a href="javascript:void(0);" onclick="octPopupCallPrice('{{ product.product_id }}');" class="us-module-cart-btn button-cart"> {{ button_call_price }} </a>
                        {% elseif product.deviant == 'call_analog' %}
                            <div class="us-module-price">
                                <span class="us-module-price-actual no-price"> {{ entry_call_analog }} </span>
                            </div>
                            <a href="javascript:void(0);" onclick="octPopupCallAnalog('{{ product.product_id }}');" class="us-module-cart-btn button-cart"> {{ button_call_analog }} </a>
                        {% elseif product.deviant == 'call_stock' %}
                            <div class="us-module-price">
                                {% if not product.special %}
                                    <span class="us-module-price-actual">{{ product.price }}</span>
                                {% else %}
                                    <span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
                                {% endif %}
                                {% if product.tax %}
                                    <div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
                                {% endif %}
                            </div>
                            <a href="javascript:void(0);" onclick="octPopupCallStock('{{ product.product_id }}');" class="us-module-cart-btn button-cart"> {{ button_call_stock }} </a>
                        {% endif %}
                    {% else %}
                        <div class="us-module-price">
                            {% if not product.special %}
                                <span class="us-module-price-actual">{{ product.price }}</span>
                            {% else %}
                                <span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
                            {% endif %}
                            {% if product.tax %}
                                <div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
                            {% endif %}
                        </div>
                        <a href="javascript:void(0);" onclick="cart.add('{{ product.product_id }}');" class="us-module-cart-btn button-cart">{{ button_cart }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="us-module-button">

                {% if is_carousel == false %}
                    <button id="us-pfi-button-{{ module }}" class="us-module-btn">{{ oct_show_more }}</button>
                {% endif %}

            </div>
        </div>
    </div>
    <script>

        {% if is_carousel %}
        $('#us-pfi-{{ module }}').owlCarousel({
            items: 4,
            loop: true,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 500,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:1
                },
                768:{
                    items:2
                },
                990:{
                    items:3
                },
                1200:{
                    items:4
                }
            }
        });
        {% else %}
        octShowProducts("us-pfi-button-{{ module }}", "us-pfi-{{ module }}", 8, "{{ products|length }}");
        {% endif %}

    </script>
{% endif %}