<div class="modal show" id="us-callback-modal" tabindex="-1" role="dialog" aria-labelledby="us-callback" style="display: block; padding-left: 0px;">
	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	        <div class="modal-header">
	            <h5 class="modal-title" id="us-callback">{{ heading_title }}</h5>
	            <button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
	                <span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
	            </button>
	        </div>
			<div class="modal-body">
				<form action="" id="popup-partner-form">
					<input type="hidden" name="type" value="{{ type }}">
					<div class="form-group-20">
						<input type="text" id="InputName" name="name" value="{{ name }}" required class="form-control" placeholder="{{ enter_name }}*">
					</div>
					<div class="form-group-20">
						<input type="tel" id="InputPhone" name="telephone" value="{{ telephone }}" required class="form-control" placeholder="{{ enter_telephone }}*">
					</div>
					<div class="form-group-20">
						<input type="text" name="city" class="form-control" placeholder="{{ enter_city }}">
					</div>
					<div class="form-group-20">
						<input type="url" name="site" class="form-control" placeholder="{{ enter_site }}">
					</div>
					<div class="form-group-20">
						<input type="text" name="activity" class="form-control" placeholder="{{ enter_activity }}">
					</div>
					<div class="form-group-20">
						<textarea type="text" name="comment" class="form-control" placeholder="{{ enter_comment }}"></textarea>
					</div>
					<div class="btn-group">
						<button type="submit" class="us-module-btn us-module-btn-green">Отправить</button>
					</div>
				</form>
			</div>
	    </div>
	</div>
<script>
$("#InputName, #InputPhone").on("change paste keyup", function() {
	$(this).removeClass('error_style');
});

$('#popup-partner-form').on('submit', function( event ) {
	event.preventDefault();
	$.ajax({
		type: 'post',
		url:  'index.php?route=extension/module/popup_partner/send',
		dataType: 'json',
		data: $('#popup-partner-form').serialize(),
		success: function(json) {
			if (json['error']) {
				$('#us-callback-modal .text-danger').remove();
				let errorOption = '';

				$.each(json['error'], function(i, val) {
					$('#us-callback-modal [name="' + i + '"]').addClass('error_style');
					errorOption += '<div class="alert-text-item">' + val + '</div>';
				});

				usNotify('danger', errorOption);
			} else {
				if (json['output']) {
					$('.us-module-btn').attr( "disabled", "disabled" );
					$('#us-callback-modal .modal-body').html(json['output']);
				}
			}
		}
	});
});
</script>
{% if mask is defined and mask is not empty %}
{# <script src="catalog/view/theme/oct_ultrastore/js/jquery.inputmask.bundle.min.js"></script> #}
<script>
usInputMask('#InputPhone','{{ mask }}');
</script>
{% endif %}
</div>
