{% import '/oct_ultrastore/template/macroses/index.twig' as macroses %}

{% if categories %}
  <section class="frontpage__featured-products featured-products">
    <div class="container">
      <h2 class="featured-products__heading">{{ heading_title }}</h2>

      <div class="featured-products__tabs">
        <ul class="tabs__list" role="tablist">
          {% if sales_products %}
            <li class="tabs__item">
              <button data-tab-id="sales" class="tabs__link js-tab-button active" role="tab">
                Акции
                <span class="tabs__item-count">{{ sales_products|length }}</span>
              </button>
            </li>
          {% endif %}
          {% for category in categories %}
            <li class="tabs__item">
              <button data-tab-id="tab-{{ loop.index }}"
                      class="tabs__link js-tab-button {{ category.active ? 'active' : '' }}" role="tab">
                {{ category.name }}
                <span class="tabs__item-count">{{ category.products|length }}</span>
              </button>
            </li>
          {% endfor %}
        </ul>

        <div class="tabs__content">
          {% if sales_products %}
            {{ macroses.productsTab(sales_products, 'sales', true) }}
          {% endif %}
          {% for category in categories %}
            {{ macroses.productsTab(category.products, 'tab-' ~ loop.index, category.active) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
