<div class="row row-padding-top">
	<div class="col-lg-12">
		  <div id="slideshow{{ module }}" class="owl-carousel default-slideshow">
		   {% for banner in banners %}
		      <div class="item text-center">
		      {% if banner.link %}
		      <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" /></a>
		      {% else %}
		      <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
		      {% endif %}
		      </div>
		    {% endfor %}
		  </div>
	</div>
</div>
<script type="text/javascript"><!--
$('#slideshow{{ module }}').owlCarousel({
	items: 1,
	loop: true,
	autoplay: true,
	autoplayHoverPause: true,
	autoplayTimeout: 5000,
	autoplaySpeed: 500,
	nav: true,
	pagination: true 
});
--></script>