{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
				<button id="btn-module-setting" data-toggle="tooltip" title="Общие настройки модуля" class="btn btn-warning"><i class="fa fa-eye"></i><i class="fa fa-eye-slash hidden"></i> &nbsp; Настройки модуля</button>     
				<button type="submit" form="form-multifastfeed" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
	  <br>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="main" class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-multifastfeed" class="form-horizontal">
        
          <div id="module-setting" class="well hidden">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="input-status">Статус модуля</label>
                  <div class="col-sm-6">
                    <select name="feed_multifastfeed_status" id="input-status" class="form-control">
                      {% if feed_multifastfeed_status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="col-sm-6 control-label" style="padding-top:0;">Временные файлы хранить </label>
                  <div class="col-sm-6" style="margin-bottom:6px;">
                    <div class="input-group">
                      <input type="text" name="feed_multifastfeed_temp_ttl" id="input-feed_multifastfeed_temp_ttl" value="{{ feed_multifastfeed_temp_ttl }}" class="form-control">
                      <div class="input-group-addon" style="padding:8px 5px;"> минут </div>
                    </div>  
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="col-sm-6 control-label" style="padding-top:0;">Обрабатывать порциями по </label>
                  <div class="col-sm-6" style="margin-bottom:6px;">
                      <div class="input-group">
                      <input type="text" name="feed_multifastfeed_batch" id="feed_multifastfeed_batch" value="{{ feed_multifastfeed_batch }}" class="form-control">
                      <div class="input-group-addon" style="padding:8px 5px;"> товаров </div>
                      </div>  
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right">
								<button onclick="$('#apply').val('1'); $('#form-multifastfeed').submit();" data-toggle="tooltip" title="Записать и продолжить (не закрывать форму)" class="btn btn-success"><i class="fa fa-check"></i> &nbsp; Сохранить настройки</button>        
              </div>
            </div>
          </div>
          
    			<input type="hidden" name="apply" id="apply" value="0" respect-to="krotek">
				</form>
          
        <div class="well">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <select name="setting" id="setting" class="form-control">
                  <option value="0">Выберите настройку фида</option>
                  {% for setting in settings %}
                  <option value="{{ setting.setting_id }}">
                  {{ setting.name }}
                  </option> 
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="setting_info" class="form-group"></div>
            </div>
            <div class="col-sm-3 text-right form-group">
              <button type="button" id="button-add_setting" class="btn btn-primary"><i class="fa fa-plus"></i> &nbsp; Создать настройку</button>
            </div>
          </div>
        </div>
        
				<div id="setting-content" class="hidden">
        
          <ul class="nav nav-tabs">
            <li class="active"><a id="tab-set" href="#tab-settings" data-toggle="tab">Настройки фида</a></li>
            <li><a id="tab-ym" href="#tab-sales_notes" data-toggle="tab">Товары к выгрузке</a></li>
            <li><a id="tab-sn" href="#tab-sales_notes" data-toggle="tab">Условия продаж</a></li>
            <li><a id="tab-do" href="#tab-sales_notes" data-toggle="tab">Условия доставки</a></li>
            <li><a href="#tab-generator" data-toggle="tab">Генератор фида</a></li>
          </ul>
          
          <div class="tab-content">
          
            <div class="tab-pane active" id="tab-settings">
							<h3>Основные настройки фида <span id="feed-name"></span></h3> 
              
							<div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4 control-label">
                      <span data-toggle="tooltip" title="" data-original-title="Уникальное наименование фида - одно слово на латинице без пробелов и спецсимволов"> Наименование </span>
                    </label>
                    <div class="col-sm-6" style="padding-right: 7px; margin-left: 5px;">
                      <input type="text" id="setting-name" class="form-control">
                    </div>
                  </div>
                </div> 
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4 control-label">
                      <span data-toggle="tooltip" title="" data-original-title="Тип генерируемого файла"> Тип файла YML </span>
                    </label>
                    <div class="col-sm-6">
                        <select id="setting-yml-type" class="form-control">
                            <option value="1">Yandex.Market стандарт</option>
                            <option value="2">Yandex.Market витрина</option>
                            <option value="3">M50</option>
                            <option value="4">ALLITEMS</option>
                            <option value="5">Yandex.DBS.version1</option>
                            <option value="6">Aliexpress</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">
                      <span data-toggle="tooltip" title="" data-original-title="При автоматическом режиме используются настройки для автоматического режима"> Режим генерации фида </span>
                    </label>
                    <div class="col-sm-3">
                        <select id="setting-type" class="form-control">
                            <option value="1">ручное управление</option>
                            <option value="2">автоматическая генерация</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 hidden" id="autoSettings">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Настройки для автоматического режима
                        </label>
                        <div class="col-sm-10">
                            <div class="settings"></div>
                            <a id="addAutoSetting"><i class="fa fa-2x fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" id="additionalSettings">
                  <div class="col-sm-4">
                    <h4>
                      Дополнительные настройки и фильтры (элементы контроля)
                    </h4>
                    <div>
                      <p class="bold">Основные</p>
                      <div>
                        <label>Производитель <input type="checkbox" id="additionalManufacturer" name="additional_settings[manufacturer]" value="1"></label>&nbsp;&nbsp;&nbsp;
                        <label>SKU <input type="checkbox" id="additionalSku" name="additional_settings[sku]" value="1"></label>&nbsp;&nbsp;&nbsp;
                        <label>Габариты <input type="checkbox" id="additionalDimensions" name="additional_settings[dimensions]" value="1"></label>&nbsp;&nbsp;&nbsp;
                        <label>Вес <input type="checkbox" id="additionalWeight" name="additional_settings[weight]" value="1"></label>
                        <label>Спец. цена <input type="checkbox" id="additionalSpecPrice" name="additional_settings[spec_price]" value="1"></label>
                        <label>Акция <input type="checkbox" id="additionalDiscountPrice" name="additional_settings[discount_price]" value="1"></label>
                      </div>
                    </div>
                    <div>
                      <p class="bold">Дополнительные на основе атрибутов</p>
                      <div class="row">
                        <div class="col-sm-10">
                          <input type="text" placeholder="Название атрибута" id="input-attributes" class="form-control" />
                          <div id="product-attributes" class="well well-sm" style="height: 150px; overflow: auto;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <h4>
                      Соответствия полей
                    </h4>
                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="vendorCodeField">&#x3C;vendorCode/&#x3E;</label>
                      <div class="col-sm-8">
                        <input type="text" name="additional_settings[vendorCodeField]" id="vendorCodeField" placeholder="vendor_code" class="form-control" style="margin-top:-6px;">
                      </div>
                      <div class="clearfix"></div>
                      <div style="margin-top: 20px">
                        <label class="col-sm-4 control-label" for="countryAttribute">&#x3C;country_of_origin/&#x3E;</label>
                        <div class="col-sm-8">
                          <input type="text" name="additional_settings[countryAttributeName]" id="countryAttributeName" placeholder="атрибут Страна производства" class="form-control" style="margin-top:-6px;">
                          <input type="hidden" name="additional_settings[countryAttributeId]" id="countryAttributeId">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="h4">Замена спец символов:</div>
                    <div class="form-group mt-2">
                      <label class="control-label">
                        <input type="checkbox" name="additional_settings[htmlCleanTitle]" id="htmlCleanTitle" value="1"> Заголовок
                      </label>
                    </div>
                    <div class="form-group mt-2">
                      <label class="control-label">
                        <input type="checkbox" name="additional_settings[htmlCleanAttrTitle]" id="htmlCleanAttrTitle" value="1"> Название атрибутов (характеристик)
                      </label>
                    </div>
                    <div class="form-group mt-2">
                      <label class="control-label">
                        <input type="checkbox" name="additional_settings[htmlCleanAttrValue]" id="htmlCleanAttrValue" value="1"> Значения атрибутов
                      </label>
                    </div>
                    <div class="form-group mt-2">
                      <label class="control-label">
                        <input type="checkbox" name="additional_settings[htmlCleanManufacturer]" id="htmlCleanManufacturer" value="1"> Производитель
                      </label>
                    </div>
                    <div class="form-group mt-2">
                      <label class="control-label">
                        <input type="checkbox" name="additional_settings[htmlCleanCategoryTitle]" id="htmlCleanCategoryTitle" value="1"> Категория
                      </label>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group" style="line-height: 30px">
                      <div class="row">
                        <div class="col-sm-2">
                          <label class="col-sm-8 control-label">
                            Расчет маржи
                          </label>
                          <div class="col-sm-4">
                            <div class="toggle-group">
                              <input type="checkbox" name="additional_settings[marginOn]" value="1" id="marginOn" tabindex="1">
                              <label for="marginOn"></label>
                              <div class="onoffswitch pull-left" aria-hidden="true">
                                <div class="onoffswitch-label">
                                  <div class="onoffswitch-inner"></div>
                                  <div class="onoffswitch-switch"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-2 form-inline">
                          <label class="control-label">
                            процент маржи
                          </label>
                          <input class="form-control width100" type="number" name="additional_settings[marginPercent]" id="marginPercent">
                        </div>

                        <div class="col-sm-4 form-inline">
                          <label class="control-label">
                            порог применения суммы от
                          </label>
                          <input class="form-control width100" type="number" name="additional_settings[marginSumStart]" id="marginSumStart">
                          <label class="control-label">до</label>
                          <input class="form-control width100" type="number" name="additional_settings[marginSumEnd]" id="marginSumEnd">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Shop name</label>
                      <div class="col-sm-10">
                        <input type="text" id="shopName" name="additional_settings[shopName]" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Company name</label>
                      <div class="col-sm-10">
                        <input type="text" id="companyName" name="additional_settings[companyName]" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Описание</label>
                    <div class="col-sm-10">
                      <input type="text" id="setting-description" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Статус фида</label>
                    <div class="col-sm-3">
                      <select id="setting-status" class="form-control">
                        <option value="0">{{ text_disabled }}</option>
                        <option value="1">{{ text_enabled }}</option>
                      </select>
                    </div>
                    <label class="col-sm-7 control-label"> <input type="checkbox" value="" id="setting-is_default" /> &nbsp; Использовать по умолчанию</label>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Токен </label>
                    <div class="col-sm-3" style="margin-bottom:6px;">
                      <div class="input-group">
                        <div class="input-group-addon"> token= </div>
                        <input type="text" id="setting-token" value="" class="form-control">
                      </div>  
                    </div>
                    <label class="col-sm-1 control-label">Ссылка </label>
                    <div class="col-sm-6" style="padding-top: 9px;">
                      <span id="manual_url">{{ manual_url }}</span>
                      <span id="clipboard_manual_url_wrapper"> 
                      <i id="clipboard_manual_url" class="fa fa-clipboard text-primary clipboard_manual_url" data-clipboard-target="#manual_url" data-toggle="tooltip" data-trigger="manual" title="Скопировать в буфер" style="cursor:pointer;margin-left:10px;font-size:14px;"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Имя файла </label>
                    <div class="col-sm-3" style="margin-bottom:6px;">
                      <div class="input-group">
                        <input type="text" id="setting-filename" value="" class="form-control">
                        <div class="input-group-addon"> .xml </div>
                      </div>  
                    </div>
                    <label class="col-sm-1 control-label">Ссылка </label>
                    <div class="col-sm-6" style="padding-top: 9px;">
                      <span id="feed_url">{{ feed_url }}</span>
                      <span id="clipboard_feed_url_wrapper"> 
                      <i id="clipboard_feed_url" class="fa fa-clipboard text-primary clipboard_feed_url" data-clipboard-target="#feed_url" data-toggle="tooltip" data-trigger="manual" title="Скопировать в буфер" style="cursor:pointer;margin-left:10px;font-size:14px;"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">              
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-12 control-label">
                    	<span data-toggle="tooltip" title="" data-original-title="Значения по умолчанию - будут подставлены если товару не назначены конкретные значения. Можно оставить пустым."> Значения по умолчанию </span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Sales Note</label>
                    <div class="col-sm-10">
                      <input type="text" id="setting-sales_note" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Delivery Option</label>
                    <div class="col-sm-10">
                      <input type="text" id="setting-delivery_option" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Выводить UTM метку</label>
                    <div class="col-sm-10">
                      <input type="checkbox" name="additional_settings[utmOn]" id="utmOn" value="1">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" id="showCountBlock">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Вывести остаток</label>
                    <div class="col-sm-10">
                      <input type="checkbox" name="additional_settings[showCount]" id="showCount" value="1">
                    </div>
                  </div>
                </div> 
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="sanitizeDesc">Санация описания для товара (оставить только p и br)</label>
                    <div class="col-sm-10">
                      <input type="checkbox" name="additional_settings[sanitizeDesc]" id="sanitizeDesc" value="1">
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-sm-12 text-right" style="margin-top: 20px;">
                  <button type="button" id="button-delete_setting" class="btn btn-danger" style="margin-right: 10px;"><i class="fa fa-times"></i> &nbsp; Удалить настройку</button>
                  <button type="button" id="button-save_setting" class="btn btn-success"><i class="fa fa-check"></i> &nbsp; Сохранить настройку</button>
                </div>
              </div>
            
						</div>
            
            <div class="tab-pane" id="tab-sales_notes">
            
							<h3 class="ym">Менеджер товаров к выгрузке на Маркет</h3>  
							<h3 class="sn">Менеджер условий продажи (sales notes)</h3>  
							<h3 class="do">Менеджер условий доставки (delivery options)</h3>  
              <br>
              
              <div class="row panel-body">
                <div class="col-sm-12">
                  <button type="button" id="button-show_product" class="btn btn-primary"><i class="fa fa-eye"></i> &nbsp; Показать товары фида</button>
                  <button type="button" id="button-filter_product" class="btn btn-success" style="margin-left: 10px;"><i class="fa fa-filter"></i> &nbsp; Подобрать с фильтром</button>
                </div>
              </div>
              
							<div id="filter-content" class="panel-body hidden">

                <div class="well">
                
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Наименование</label>
                        <input type="text" id="filter_name" placeholder="Наименование" class="form-control" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Категория</label>
                        <select name="filter_category" id="filter_category" class="form-control">
                          <option value="*">Все категории</option>
                          {% for category in categories %}
                          <option value="{{ category.category_id }}">
                          {% for i in range(1, category.level) %}
                          &nbsp;&nbsp;&nbsp;
                          {% endfor %}
                          {{ category.name }}
                          </option> 
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Производитель</label>
                        <select name="filter_manufacturer" id="filter_manufacturer" class="form-control">
                          <option value="*">Все производители</option>
                          {% for manufacturer in manufacturers %}
                          <option value="{{ manufacturer.manufacturer_id }}">
                          {% if manufacturer.name == '' %}
                            &nbsp;&nbsp;&nbsp; - Без названия
                          {% else %}
                            {{ manufacturer.name }}
                          {% endif %}
                          </option> 
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Диапазон цен</label>
                        <div class="col-sm-6" style="padding-left: 0;">
                          <div class="input-group">
                            <div class="input-group-addon"> от </div>
                            <input type="text" id="filter_price_from" value="" placeholder="Цена от:" class="form-control" />
                          </div>  
                        </div>
                        <div class="col-sm-6" style="padding-right: 0;">
                          <div class="input-group">
                            <div class="input-group-addon"> до </div>
                            <input type="text" id="filter_price_to" value="" placeholder="Цена до:" class="form-control" />
                          </div>  
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Количество</label>
                        <div class="col-sm-6" style="padding-left: 0;">
                          <div class="input-group">
                            <div class="input-group-addon"> от </div>
                            <input type="text" id="filter_quantity_from" value="" placeholder="Кол-во от:" class="form-control" />
                          </div>  
                        </div>
                        <div class="col-sm-6" style="padding-right: 0;">
                          <div class="input-group">
                            <div class="input-group-addon"> до </div>
                            <input type="text" id="filter_quantity_to" value="" placeholder="Кол-во до:" class="form-control" />
                          </div>  
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Статус товара</label>
                        <select class="col-sm-6 form-control" name="filter_status" id="filter_status" class="form-control">
                          <option value="*">Все статусы</option>
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                  <div id="feed-filter" class="row hidden">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Sales Note</label>
                        <select class="col-sm-6 form-control" name="filter_sales_note" id="filter_sales_note" class="form-control">
                          <option value="*">Любые (все)</option>
                          <option value="1">Только заполненные &nbsp;&nbsp;&nbsp;</option>
                          <option value="0">Только пустые</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Delivery option</label>
                        <select class="col-sm-6 form-control" name="filter_delivery_option" id="filter_delivery_option" class="form-control">
                          <option value="*">Любые (все)</option>
                          <option value="1">Только заполненные &nbsp;&nbsp;&nbsp;</option>
                          <option value="0">Только пустые</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Статус на Маркете</label>
                        <select class="col-sm-6 form-control" name="filter_yam_status" id="filter_yam_status" class="form-control">
                          <option value="*">Все статусы</option>
                          <option value="1">Выгружать</option>
                          <option value="0">Не выгружать</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                  {#
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                    4-1
                      </div>
                    </div>
                    <div class="col-sm-4">
                    4-2
                    </div>
                    <div class="col-sm-4">
                    4-3
                    </div>
                  </div>
                  #}
                  
                  <div class="row">
                    <div class="col-sm-4" style="margin-top: 20px;">
                      <br>
                    </div>
                    <div class="col-sm-8" style="margin-top: 20px;">
                      <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> &nbsp; Применить фильтр</button>
                      <button type="button" id="button-filter_clear" class="btn btn-danger pull-right" style="margin-right: 10px;"><i class="fa fa-times"></i> &nbsp; Очистить фильтр</button>
                    </div>
                  </div>
                
                </div>
              
              </div>
              
							<div id="action-content" class="panel-body hidden">

                <div class="well ym">
                  <div class="row">
                    <label class="col-sm-4 control-label" style="text-align:center;"> 
                      <span data-toggle="tooltip" title="" data-original-title="Пакетная установка нового значения статуса К выгрузке на Маркет всем отмеченным товарам"> Статус К выгрузке на Маркет </span>
                    </label>
                    <div class="col-sm-4">
                      <button type="button" id="onYamStatuses" class="btn btn-success btn-block"><i class="fa fa-edit"></i> &nbsp; Включить статус К выгрузке на Маркет</button>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" id="offYamStatuses" class="btn btn-danger btn-block"><i class="fa fa-edit"></i> &nbsp; Отключить статус К выгрузке на Маркет</button>
                    </div>
                  </div>
                </div>
  
                <div class="well sn">
                  <div class="row">
                    <label class="col-sm-3 control-label"> 
                    <span data-toggle="tooltip" title="" data-original-title="Пакетная установка нового значения sales_note всем отмеченным товарам"> Установка Sales Notes </span></label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <div class="input-group-addon"> до 50 симв. </div>
                        <input type="text" id="new_sales_note" value="" class="form-control">
                      </div>  
                    </div>
                    <div class="col-sm-3">
                      <button type="button" id="setSalesNotes" class="btn btn-success btn-block"><i class="fa fa-edit"></i> &nbsp; Установить Sales Notes</button>
                    </div>
                  </div>
                </div>
  
                <div class="well do">
                  <div class="row">
                    <label class="col-sm-3 control-label"> 
                    <span data-toggle="tooltip" title="" data-original-title="Пакетная установка нового значения delivery_option всем отмеченным товарам"> Установка Delivery Option </span></label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <div class="input-group-addon"> до 128 симв. </div>
                        <input type="text" id="new_delivery_option" value="" class="form-control">
                      </div>  
                    </div>
                    <div class="col-sm-3">
                      <button type="button" id="setDeliveryOptions" class="btn btn-success btn-block"><i class="fa fa-edit"></i> &nbsp; Установить Delivery Options</button>
                    </div>
                  </div>
                </div>

              </div>
              
							<div class="form-group hidden">
								<div class="col-sm-12">
									<textarea rows="15" id="page_products" class="form-control" style="color:#006"></textarea>
								</div>
							</div>
							
		  				<div class="table-responsive">
            		<table class="table table-bordered table-hover">
              		<thead>
                		<tr>
                  		<td style="width: 1px;" class="text-center"><input type="checkbox" id="masterbox" /></td>
                  		<td style="max-width: 100px;" class="text-left">Модель</td>
                  		<td class="text-left">Наименование</td>
                  		<td style="width: 1px;" class="text-center ym">Маркет статус</td>
                  		<td class="text-left sn">Sales Note</td>
                  		<td class="text-left do">Delivery option</td>
                  		<td style="width: 1px;" class="text-right">Цена</td>
                  		<td style="width: 1px;" class="text-right">Количество</td>
                  		<td style="width: 1px;" class="text-center">Статус</td>
                		</tr>
              		</thead>
              		<tbody id="tbody">
									{% if products %}
										{% for product in products %}
                		<tr>
											<td class="text-center">
												<input type="checkbox" id="product-{{ product.product_id }}" class="fastproduct" value="" />
											</td>
                  		<td style="max-width: 100px;" class="text-left">
												{{ product.model }}
											</td>
                  		<td style="max-width: 100px;" class="text-left">
												{{ product.name }}
											</td>
											<td id="yam_status-td-{{ product.product_id }}" class="text-center ym">
                      <input type="hidden" id="yam_status-{{ product.product_id }}" value="{{ product.yam_status }}">
											{% if product.yam_status == 0 %}
												<span id="yam_status-label-{{ product.product_id }}" class="yam_status label label-danger">не&nbsp;выгружать</span>			
											{% else %}
												<span id="yam_status-label-{{ product.product_id }}" class="yam_status label label-success">выгружать</span>
											{% endif %}
											</td>
                  		<td style="max-width: 100px;" class="text-left sn">
												{{ product.sales_note }}
											</td>
                  		<td style="max-width: 100px;" class="text-left do">
												{{ product.delivery_option }}
											</td>
											<td class="text-right">
											{% if product.special %}
												<span style="text-decoration: line-through;">{{ product.price }}</span><br/>
												<div class="text-danger">{{ product.special }}</div>			
											{% else %}
												{{ product.price }}
											{% endif %}
											</td>
											<td class="text-right">
											{% if product.quantity <= 0 %}
												<span class="label label-danger">{{ product.quantity }}</span>
											{% elseif product.quantity <= 100 %}
												<span class="label label-warning">{{ product.quantity }}</span>
											{% else %}
												<span class="label label-success">{{ product.quantity }}</span>
											{% endif %}
											</td>
											<td class="text-center">
											{% if product.status == 0 %}
												<span class="label label-danger">откл</span>			
											{% else %}
												<span class="label label-success">вкл</span>
											{% endif %}
											</td>
                		</tr>
										{% endfor %}
									{% else %}
										<tr>
                  		<td colspan="8" class="text-center">
												Нет товаров, соответствующих условиям отбора.
                  		</td>
										</tr>
									{% endif %}
									</tbody>
								</table>
							</div>

							<div class="row">
									<div id="pagination" class="col-sm-6 text-left">{{ pagination }}</div>
									<div id="results" class="col-sm-6 text-right">{{ results }}</div>
							</div>

						</div>
						
            <div class="tab-pane" id="tab-generator">
							<h3>Генератор фида</h3> 
							<div class="form-group">
							{% if feed_multifastfeed_batch is defined %}							
								{% if feed_multifastfeed_batch == '' %}
									{% set feed_multifastfeed_batch = 100 %}
								{% endif %}
							{% else %}
								{% set feed_multifastfeed_batch = 100 %}
							{% endif %}
							
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-6 control-label">Выгружать порциями по </label>
										<div class="col-sm-6" style="margin-bottom:6px;">
												<div class="input-group">
												<input type="text" name="feed_multifastfeed_batch1" id="feed_multifastfeed_batch1" value="{{ feed_multifastfeed_batch }}" class="form-control">
												<div class="input-group-addon"> товаров </div>
												</div>  
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-6" style="margin-bottom:6px;">
												<button id="getStats" type="button" class="btn btn-primary btn-block" ><i class="fa fa-bar-chart"></i> &nbsp; Анализ данных к выгрузке </button>  
										</div>
										<div class="col-sm-6" style="margin-bottom:6px;">
												<button id="createFeed" type="button" class="btn btn-danger btn-block" ><i class="fa fa-check-circle"></i> &nbsp; Генерировать фид </button>  
										</div>
									</div>
									<div id="result_file" class="form-group hidden">
										<label class="col-sm-3 control-label">Путь к файлу </label>
										<div class="col-sm-9" style="padding-top: 9px;">
											<span id="file_path"></span>
										</div>
										<label class="col-sm-3 control-label">URL файла </label>
										<div class="col-sm-9" style="padding-top: 9px;">
											<span id="file_url"></span>
											<span id="clipboard_file_url_wrapper"> 
											<i id="clipboard_file_url" class="fa fa-clipboard text-primary clipboard_file_url" data-clipboard-target="#file_url" data-toggle="tooltip" data-trigger="manual" title="Скопировать в буфер" style="cursor:pointer;margin-left:10px;font-size:14px;"></i>
											</span>
										</div>
									</div>
								</div>

							<div class="col-sm-6">
								<div class="col-sm-6" style="margin-bottom:10px;">
									<h3>Журнал событий</h3>
								</div>	
								<div class="col-sm-6 text-right" style="margin-bottom:10px; padding-right: 0;">
									<a class="btn btn-danger" onclick="$('#process_log').html('');"><i class="fa fa-eraser"></i> &nbsp; Очистить журнал</a>
								</div>	
								<div class="col-sm-12" style="padding-right: 0;">
									<div id="process_log" class="well well-sm" style="min-height: 150px;max-height: 500px;overflow: auto;">
									</div>
								</div>
							</div>
							
						</div>

					</div>
						
					</div>

					<input type="hidden" id="multifastfeed_products" value="">
          <input type="hidden" id="by_setting" value="">

      	</div>

      </div>
    </div>
  </div>
</div>


<style>

	#category_tree {
		
	}

	#manufacturer_tree {
		
	}

	#category_tree ul,#manufacturer_tree ul, .checkboxes_tree ul {
		padding: 0;
		margin: 0;
	}

	#category_tree li,#manufacturer_tree li, .checkboxes_tree li {
		list-style-type: none;
		line-height: 30px;
		padding-left: 25px;
	}

	#category_tree li input,#manufacturer_tree li input, .checkboxes_tree li input {
		float: left;
		height: 17px;
		width: 17px;
		margin: 6px 15px 0 0;
	}
	
	#category_tree li input[type="checkbox"]:checked::after,
    #manufacturer_tree li input[type="checkbox"]:checked::after,
    .checkboxes_tree li input[type="checkbox"]:checked::after {
    	top: -3px;
    	left: -4px;
	}

	#category_tree li div, #manufacturer_tree li div, .checkboxes_tree li div {
		line-height: 30px;
		font-size: 14px;
	}
	
	.fastmanufacturer.empty {
		color: darkgray;
	}
	
	.form-horizontal .form-group {
     	margin-left: 0; 
     	margin-right: 0; 
	}
	
	.paginator {
			display: inline-block;
    	padding-left: 0;
    	margin: 0;
    	border-radius: 3px;
	}
	
	.paginator > li {
    	display: inline;
			position: relative;
	}	
	
	.paginator > li:first-child {
			margin-left: 0;
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
	}
	
	.paginator > li:last-child {
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
	}
	
	.paginator .page {
    float: left;
    padding: 8px 13px;
    line-height: 1.42857;
    text-decoration: none;
    color: #1e91cf; 
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
		cursor: pointer;
	}
	
	.paginator .page:hover {
		z-index: 2;
    color: #14628c;
    background-color: #eee;
    border-color: #ddd;	
	}

	.paginator .active {
			float: left;
			padding: 8px 13px;
			line-height: 1.42857;
			text-decoration: none;
			border: 1px solid #1e91cf;
			margin-left: -1px;
			color: #fff;
			background-color: #1e91cf;
			cursor: default;
	}

    .width100{
        max-width: 100px;
        display: inline-block;
    }
    .settings .row {
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px dashed #888
    }
    .settings .row .delete{
        position: absolute;
        top: 5px;
        right: 0;
        cursor: pointer;
        color: darkred;
    }
</style>

<script src="view/javascript/fastcart/clipboard.min.js"></script>

<script type="text/javascript"><!--

$('#button-show_product').on('click', function(){
	$('#tbody').html('<tr><td colspan="9" class="text-center">Товары не выбраны.</td></tr>');
	$('#button-filter_clear').click();
	$('#multifastfeed_products').val('');
	$('#feed-filter').removeClass('hidden');
	$('#filter-content').removeClass('hidden');
	$('#action-content').removeClass('hidden');
	$('#by_setting').val(1);
	$('#tab-ym').click();
	
	$('#pagination').html('');
	$('#results').html('');

	getPage(1);
});	

$('#button-filter_product').on('click', function(){
	$('#tbody').html('<tr><td colspan="9" class="text-center">Товары не выбраны.</td></tr>');
	$('#button-filter_clear').click();
	$('#multifastfeed_products').val('');
	$('#filter_sales_note').val('*');
	$('#filter_delivery_option').val('*');
	$('#filter_yam_status').val('*');
	$('#feed-filter').addClass('hidden');
	$('#filter-content').removeClass('hidden');
	$('#action-content').removeClass('hidden');
	$('#pagination').html('');
	$('#results').html('');
	$('#by_setting').val(0);
});	

$('#setting').on('change', function(){
	getSettingInfo();
	$('#tbody').html('<tr><td colspan="9" class="text-center">Товары не выбраны.</td></tr>');
	$('#button-filter_clear').click();
	if ($("[name='setting']").val() == 0) {
		$('#setting-content').addClass('hidden');
	} else {
		$('#setting-content').removeClass('hidden');
	}
	$('#pagination').html('');
	$('#results').html('');
});

$('#setting-is_default').on('change', function(){
	if ($('#setting-is_default').prop('checked')) {
		$('#setting-is_default').val(1);
	} else {
		$('#setting-is_default').val(0);
	}
});

$('#button-add_setting').on('click', function(){
	$('#setting').val(0);
	$('#setting-name').val('');
	$('#setting-description').val('');
	$('#setting-status').val(0);
	$('#setting-is_default').val(0);
	$('#setting-is_default').prop('checked', false);
	$('#setting-token').val('');
	$('#setting-filename').val('');
	$('#setting-sales_note').val('');
	$('#setting-delivery_option').val('');
	$('#manual_url').html('{{ manual_url }}');
	$('#feed_url').html('{{ feed_url }}');
	$('#setting_info').html('Создание новой настройки фида.');
	$('#feed-name').html('<strong> <u>новая настройка *</u> </strong>');
	$('#setting-content').removeClass('hidden');
	
	initAutoSettings(1, []);
	
	$('#tab-set').click();
});	

$('#button-delete_setting').on('click', function(){
	
		$.ajax({
			url: 'index.php?route=extension/feed/multifastfeed/deleteSetting&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			data: 'setting=' + $("[name='setting']").val(),
			beforeSend: function() {
			},	
			complete: function() {
			},
			success: function(json) {
				$('.alert').remove();
				if (json['error']) {
					$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				if (json['success']) {
					$('#main').prepend('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('#setting option[value=' + $("[name='setting']").val() + ']').remove();
					
					$('#setting').val(0);
					$('#setting-name').val('');
					$('#setting-description').val('');
					$('#setting-status').val(0);
					$('#setting-is_default').val(0);
					$('#setting-is_default').prop('checked', false);
					$('#setting-token').val('');
					$('#setting-filename').val('');
					$('#setting-sales_note').val('');
					$('#setting-delivery_option').val('');
					$('#manual_url').html('{{ manual_url }}');
					$('#feed_url').html('{{ feed_url }}');
					$('#feed-name').html('');
					
					$('#setting_info').html('Настройка удалена');
					$('#setting-content').addClass('hidden');
				}		
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	

	
});	

$('#button-save_setting').on('click', function(){
	if ($('#setting-name').val() == '') {
		alert('Укажите наименование настройки фида.');
	} else {
	    
        let auto_settings = $("#autoSettings input").map(function(){
          if(this.type === 'checkbox' && !this.checked){
            return;
          }
          return this.name+'='+this.value;
        }).get();
        let additional_settings = $("#additionalSettings input").map(function(){
          if(this.type === 'checkbox' && !this.checked){
              return;
          }
          return this.name+'='+this.value;
        }).get();
        
        let utmSetting = ($('#utmOn').prop('checked') ? '&additional_settings[utmOn]=1' : '');
        let showCountSetting = ($('#showCount').prop('checked') ? '&additional_settings[showCount]=1' : '');
        let sanitizeDescSetting = ($('#sanitizeDesc').prop('checked') ? '&additional_settings[sanitizeDesc]=1' : '');
        
		$.ajax({
			url: 'index.php?route=extension/feed/multifastfeed/saveSetting&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			data: 'setting=' + $("[name='setting']").val() + '&name=' + $('#setting-name').val() + '&description=' + $('#setting-description').val() + '&status=' + $('#setting-status').val() + '&is_default=' + $('#setting-is_default').val() + '&filename=' + $('#setting-filename').val() + '&token=' + $('#setting-token').val() + '&sales_note=' + $('#setting-sales_note').val() + '&delivery_option=' + $('#setting-delivery_option').val() + '&type=' + $('#setting-type').val() + (auto_settings.length > 0 ? '&'+ auto_settings.join('&') : '') + (additional_settings.length > 0 ? '&'+ additional_settings.join('&') : '') + '&additional_settings[yml_type]=' + $('#setting-yml-type').val() + utmSetting + showCountSetting + sanitizeDescSetting,
			beforeSend: function() {
			},	
			complete: function() {
			},
			success: function(json) {
				$('.alert').remove();
				if (json['error']) {
					$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				if (json['success']) {
					$('#main').prepend('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('#setting').append($('<option>', {
						value: json['setting'],
						text: $('#setting-name').val()
					}));
					
					$('#setting').val(json['setting']);
					
					getSettingInfo();
				}		
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
	
	}
	
});	

function getSettingInfo(){
	var setting = $("[name='setting']").val();
	//switchCategories(false);
	$('#setting_info').html('');
	if (setting == 0) {
	} else {
		$.ajax({
			url: 'index.php?route=extension/feed/multifastfeed/getSetting&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			data: 'setting=' + setting,
			beforeSend: function() {
			},	
			complete: function() {
			},
			success: function(json) {
				$('.alert').remove();
				if (json['error']) {
					$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				if (json['success']) {
					
					var name = json['setting_info']['name'];
					var description = json['setting_info']['description'];
					var is_default = json['setting_info']['is_default'];
					var filename = json['setting_info']['filename'];
					var token = json['setting_info']['token'];
					var url = json['setting_info']['url'];
					var status = json['setting_info']['status'];
					let type = json['setting_info']['type'] || 1;
					
					$('#setting-name').val(json['setting_info']['name']);
					$('#setting-type').val(type);
					$('#setting-description').val(json['setting_info']['description']);
					$('#setting-status').val(json['setting_info']['status']);
					$('#setting-is_default').val(json['setting_info']['is_default']);
					if (json['setting_info']['is_default'] == 1) {
						$('#setting-is_default').prop('checked', true);
					} else {
						$('#setting-is_default').prop('checked', false);
					}
					$('#setting-token').val(json['setting_info']['token']);
					$('#setting-filename').val(json['setting_info']['filename']);
					$('#setting-sales_note').val(json['setting_info']['sales_note']);
					$('#setting-delivery_option').val(json['setting_info']['delivery_option']);
					
					var total_setting_products = json['total_setting_products'];
					var html = '';
					html += 'Настройка фида : <strong>' + name + '</strong> &nbsp; ( <strong>' + description + '</strong> ). <br>';
					html += 'Всего товаров к выгрузке : <strong>' + total_setting_products + '</strong>.';
					$('#setting_info').html(html);
					$('#feed-name').html('<strong> <u>' + name + '</u> </strong>');
					
					$('#manual_url').html('{{ manual_url }}' + '?set=' + json['setting_info']['name'] + '&token=' + json['setting_info']['token']);
					$('#feed_url').html('{{ feed_url }}' + json['setting_info']['filename'] + '.xml');
					initAutoSettings(type, json['setting_info']['auto_settings']);

                    initAdditionalSettings(json['setting_info']['additional_settings']);
				}		
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
	}
}

const initAutoSettings = (type, auto_settings) => {
    $('#autoSettings .settings').html('');
    
    if(type === 2){
      $('#autoSettings').removeClass('hidden');
    }

    $('#setting-type').unbind('change');
    $('#addAutoSetting').unbind('click');
    $('#setting-type').on('change', () => {
        $('#autoSettings').toggleClass('hidden');
    });
    
    let countSetting = 0;
    auto_settings.map(e => {
        $('#autoSettings .settings').append(addAutoSetting(countSetting, e));
        setCheckedAutoSetting(countSetting, e);
        countSetting++;
    });
    
    $('#addAutoSetting').on('click', () => {
        $('#autoSettings .settings').append(getAutoSettingTmpl(countSetting));
        countSetting++;
    });
};

const switchCheckboxes = (id, checked) => {
  $(`#${id} input[type=checkbox]`).attr('checked', checked);
  $(`#${id} input[type=checkbox]`).prop('checked', checked);
}

const setCheckedAutoSetting = (i, values) => {
  if (values.categories) {
    values.categories.map(category => {
      $(`#auto_settings_categories${i}${category.category_id}`).attr('checked', true);
    })
  }

  if (values.manufacturers) {
    values.manufacturers.map(manufacturer => {
      $(`#auto_settings_manufacturers${i}${manufacturer.manufacturer_id}`).attr('checked', true);
    })
  }

  if (values.suppliers) {
    values.suppliers.map(supplier => {
      $(`#auto_settings_suppliers${i}[value="${supplier}"]`).attr('checked', true);
    })
  }
}

const addAutoSetting = (i, values) => {
    let categoryHtml = '';
    let manufacturerHtml = '';
    let suppliersHtml = '';

    {% if categories %}
      {% set level = 0 %}
      {% for category in categories %}
        {% if category.level > level %}
          categoryHtml += '<ul>';
          {% elseif category.level < level %}
          {% for i in range(1, level - category.level) %}
          categoryHtml += '</li></ul>';
          {% endfor %}
        {% else %}
          categoryHtml += '</li>'
        {% endif %}
        categoryHtml += `<li>
        <input id="auto_settings_categories${i}{{ category.category_id }}" name="auto_settings[${i}][categories][]" value="{{ category.category_id }}" type="checkbox" />
        <div>{{ category.name }} ({{ category.product_count }})</div>`;
        {% set level = category.level %}
      {% endfor %}
    {% else %}
      categoryHtml += '<p>В каталоге нет категорий товаров</p>';
    {% endif %}

    {% if manufacturers %}
      manufacturerHtml += '<ul>';
      {% for manufacturer in manufacturers %}
        manufacturerHtml += 
                `<li>
                  <input id="auto_settings_manufacturers${i}{{ manufacturer.manufacturer_id }}" name="auto_settings[${i}][manufacturers][]" type="checkbox" value="{{ manufacturer.manufacturer_id }}" />
                  <div>
                    {% if manufacturer.name == '' %}
                    Без названия
                    {% else %}
                    {{ manufacturer.name }}
                    {% endif %}
                  </div>
                </li>`;
      {% endfor %}
      manufacturerHtml += '</ul>';
    {% else %}
      manufacturerHtml += '<p>В каталоге нет производителей</p>';
    {% endif %}
  

    {% if suppliers %}
      suppliersHtml += '<ul>';
      {% for supplier in suppliers %}
        suppliersHtml += 
                `<li>
                  <input id="auto_settings_suppliers${i}" name="auto_settings[${i}][suppliers][]" type="checkbox" value="{{ supplier.name }}" />
                  <div>{{ supplier.name }}</div>
                </li>`;
      {% endfor %}
      suppliersHtml += '</ul>';
    {% else %}
      suppliersHtml += '<p>В каталоге нет поставщиков</p>';
    {% endif %}
  
    
    return `
    <div class="row">
        <div class="col-sm-4">
          <div class="pull-left col-sm-3 h4">Категории</div>
          <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
              <a class="btn btn-default" onclick="switchCheckboxes('category_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
              <a class="btn btn-default" onclick="switchCheckboxes('category_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
          </div>
          <div class="col-sm-12">
              <div id="category_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
              ${categoryHtml}             
              </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-left col-sm-3 h4">Бренд</div>
            <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                <a class="btn btn-default" onclick="switchCheckboxes('manufacturer_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                <a class="btn btn-default" onclick="switchCheckboxes('manufacturer_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
            </div>
            <div class="col-sm-12">
                <div id="manufacturer_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                ${manufacturerHtml}             
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-left col-sm-3 h4">Поставщик</div>
            <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                <a class="btn btn-default" onclick="switchCheckboxes('suppliers_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                <a class="btn btn-default" onclick="switchCheckboxes('suppliers_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
            </div>
            <div class="col-sm-12">
              <div id="suppliers_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                ${suppliersHtml}
              </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-3">
            цена от <input type="number" value="${values.priceFrom}" name="auto_settings[${i}][priceFrom]" class="form-control width100" /> 
            до <input type="number" value="${values.priceTo}" name="auto_settings[${i}][priceTo]" class="form-control width100" />
        </div>
        <div class="col-sm-3">
            остаток от <input type="number" value="${values.quantityFrom}" name="auto_settings[${i}][quantityFrom]" class="form-control width100" /> 
            до <input type="number" value="${values.quantityTo}" name="auto_settings[${i}][quantityTo]" class="form-control width100" />
        </div>
        <div class="col-sm-3">
            <input class="form-control" value='${values.delivery_option}' name="auto_settings[${i}][delivery_option]" placeholder="Delivery Option" /> 
        </div>
        <div class="col-sm-3">
            <input class="form-control" value='${values.sales_note}' name="auto_settings[${i}][sales_note]" placeholder="Sales Note" /> 
        </div>
        <a onclick="$(this).parent().remove();" class="delete"><i class="fa fa-trash"></i></a>
    </div>
`;
};

const getAutoSettingTmpl = (i) => {
  let categoryHtml = '';
  let manufacturerHtml = '';
  let suppliersHtml = '';

  {% if categories %}
  {% set level = 0 %}
  {% for category in categories %}
  {% if category.level > level %}
  categoryHtml += '<ul>';
  {% elseif category.level < level %}
  {% for i in range(1, level - category.level) %}
  categoryHtml += '</li></ul>';
  {% endfor %}
  {% else %}
  categoryHtml += '</li>'
  {% endif %}
  categoryHtml += `<li>
        <input id="auto_settings_categories${i}{{ category.category_id }}" name="auto_settings[${i}][categories][]" value="{{ category.category_id }}" type="checkbox" />
        <div>{{ category.name }} ({{ category.product_count }})</div>`;
  {% set level = category.level %}
  {% endfor %}
  {% else %}
  categoryHtml += '<p>В каталоге нет категорий товаров</p>';
  {% endif %}

  {% if manufacturers %}
  manufacturerHtml += '<ul>';
  {% for manufacturer in manufacturers %}
  manufacturerHtml +=
          `<li>
                  <input id="auto_settings_manufacturers${i}{{ manufacturer.manufacturer_id }}" name="auto_settings[${i}][manufacturers][]" type="checkbox" value="{{ manufacturer.manufacturer_id }}" />
                  <div>
                    {% if manufacturer.name == '' %}
                    Без названия
                    {% else %}
                    {{ manufacturer.name }}
                    {% endif %}
                  </div>
                </li>`;
  {% endfor %}
  manufacturerHtml += '</ul>';
  {% else %}
  manufacturerHtml += '<p>В каталоге нет производителей</p>';
  {% endif %}


  {% if suppliers %}
  suppliersHtml += '<ul>';
  {% for supplier in suppliers %}
  suppliersHtml +=
          `<li>
                  <input id="auto_settings_suppliers${i}" name="auto_settings[${i}][suppliers][]" type="checkbox" value="{{ supplier.name }}" />
                  <div>{{ supplier.name }}</div>
                </li>`;
  {% endfor %}
  suppliersHtml += '</ul>';
  {% else %}
  suppliersHtml += '<p>В каталоге нет поставщиков</p>';
  {% endif %}
  
    return `
        <div class="row">
            <div class="col-sm-4">
              <div class="pull-left col-sm-3 h4">Категории</div>
              <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                  <a class="btn btn-default" onclick="switchCheckboxes('category_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                  <a class="btn btn-default" onclick="switchCheckboxes('category_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
              </div>
              <div class="col-sm-12">
                  <div id="category_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                  ${categoryHtml}             
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-left col-sm-3 h4">Бренд</div>
                <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                    <a class="btn btn-default" onclick="switchCheckboxes('manufacturer_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                    <a class="btn btn-default" onclick="switchCheckboxes('manufacturer_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
                </div>
                <div class="col-sm-12">
                    <div id="manufacturer_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                    ${manufacturerHtml}             
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-left col-sm-3 h4">Поставщик</div>
                <div class="col-sm-9 pull-right" style="margin-bottom:10px;"> 
                    <a class="btn btn-default" onclick="switchCheckboxes('suppliers_tree${i}', true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                    <a class="btn btn-default" onclick="switchCheckboxes('suppliers_tree${i}', false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
                </div>
                <div class="col-sm-12">
                  <div id="suppliers_tree${i}" class="well well-sm checkboxes_tree" style="min-height: 150px;max-height: 310px;overflow: auto;">
                    ${suppliersHtml}
                  </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-3">
                цена от <input type="number" name="auto_settings[${i}][priceFrom]" class="form-control width100" /> 
                до <input type="number" name="auto_settings[${i}][priceTo]" class="form-control width100" />
            </div>
            <div class="col-sm-3">
                остаток от <input type="number" name="auto_settings[${i}][quantityFrom]" class="form-control width100" /> 
                до <input type="number" name="auto_settings[${i}][quantityTo]" class="form-control width100" />
            </div>
            <div class="col-sm-3">
                <input class="form-control" name="auto_settings[${i}][delivery_option]" placeholder="Delivery Option" /> 
            </div>
            <div class="col-sm-3">
                <input class="form-control" name="auto_settings[${i}][sales_note]" placeholder="Sales Note" /> 
            </div>
            <a onclick="$(this).parent().remove();" class="delete"><i class="fa fa-trash"></i></a>
        </div>
    `;
}

const initAdditionalSettings = (values) => {
    let attributesHtml = '';
    $('#product-attributes').html('');
    
    if(values.attributes){
      values.attributes.map(attribute => {
        attributesHtml += `<div><i class="fa fa-minus-circle"></i> ${attribute.name}
                    <input type="hidden" name="additional_settings[attributes][]" value="${attribute.attribute_id}" />
                  </div>`;
      })

      $('#product-attributes').append(attributesHtml);
    }
    
    $('#utmOn').prop('checked', '');
    $('#showCount').prop('checked', '');
    $('#sanitizeDesc').prop('checked', '');

    for (const [key, value] of Object.entries(values)) {
      switch (key){
        case 'manufacturer':
          $('#additionalManufacturer').prop('checked', 'checked');
          break;
        case 'sku':
          $('#additionalSku').prop('checked', 'checked');
          break;
        case 'dimensions':
          $('#additionalDimensions').prop('checked', 'checked');
          break;
        case 'weight':
          $('#additionalWeight').prop('checked', 'checked');
          break;
        case 'spec_price':
          $('#additionalSpecPrice').prop('checked', 'checked');
          break;
        case 'discount_price':
          $('#additionalDiscountPrice').prop('checked', 'checked');
          break;
        case 'htmlCleanTitle':
          $('#htmlCleanTitle').prop('checked', 'checked');
          break;
        case 'htmlCleanAttrTitle':
          $('#htmlCleanAttrTitle').prop('checked', 'checked');
          break;
        case 'htmlCleanAttrValue':
          $('#htmlCleanAttrValue').prop('checked', 'checked');
          break;
        case 'htmlCleanManufacturer':
          $('#htmlCleanManufacturer').prop('checked', 'checked');
          break;
        case 'htmlCleanCategoryTitle':
          $('#htmlCleanCategoryTitle').prop('checked', 'checked');
          break;
        case 'marginOn':
          $('#marginOn').prop('checked', 'checked');
          break;
        case 'vendorCodeField':
        case 'countryAttributeId':
        case 'countryAttributeName':
        case 'shopName':
        case 'companyName':
        case 'marginPercent':
        case 'marginSumStart':
        case 'marginSumEnd':
          $(`#${key}`).val(`${value}`);
          break;
        case 'yml_type':
          $('#setting-yml-type').find(`option[value="${value}"]`).prop('selected', 'selected');
          break;
        case 'utmOn':
          $('#utmOn').prop('checked', 'checked');
          break;
        case 'showCount':
          $('#showCount').prop('checked', 'checked');
          break;
        case 'sanitizeDesc':
          $('#sanitizeDesc').prop('checked', 'checked');
          break;
      }
    }
    
    $('#input-attributes').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/attribute/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            category: item.attribute_group,
                            label: item.name,
                            value: item.attribute_id
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('#input-attributes').val('');

            $('#product-attributes').append(`<div><i class="fa fa-minus-circle"></i> ${item['label']}
                <input type="hidden" name="additional_settings[attributes][]" value="${item['value']}" /> 
            </div>`);
        }
    });

  $('#countryAttributeName').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=catalog/attribute/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              category: item.attribute_group,
              label: item.name,
              value: item.attribute_id
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('#countryAttributeName').unbind('autocomplete');
      $('#countryAttributeName').val(`${item['label']}`);
      $('#countryAttributeId').val(`${item['value']}`);
    }
  });

  $('#product-attributes').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().remove();
  });
  
    let ymlType = parseInt($('#setting-yml-type').val());    
    switch (ymlType){
        case 5:
            $('#showCountBlock').show();
            break;
        default:
            $('#showCountBlock').hide();
            $('#showCount').prop('checked', null);
            break;
    }
}

$('#onYamStatuses').on('click', function(){
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/setStatus&user_token={{ user_token }}',
		type: 'post',
		data: 'multifastfeed_products=' + $('#multifastfeed_products').val() + '&setting_id=' + $('#setting').val() + '&mode=1',
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			getPage(curr_page);
		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success']['text'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#process_log').append('<p>' + showTime() + ' - ' + json['success']['text'] + '.</p>');
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});
	
$('#offYamStatuses').on('click', function(){
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/setStatus&user_token={{ user_token }}',
		type: 'post',
		data: 'multifastfeed_products=' + $('#multifastfeed_products').val() + '&setting_id=' + $('#setting').val() + '&mode=0',
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			getPage(curr_page);
		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success']['text'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#process_log').append('<p>' + showTime() + ' - ' + json['success']['text'] + '.</p>');
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});
	
$('#setSalesNotes').on('click', function(){
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/setSalesNotes&user_token={{ user_token }}',
		type: 'post',
		data: 'multifastfeed_products=' + $('#multifastfeed_products').val() + '&setting_id=' + $('#setting').val() + '&sales_note=' + $('#new_sales_note').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			getPage(curr_page);
		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success']['text'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#process_log').append('<p>' + showTime() + ' - ' + json['success']['text'] + '.</p>');
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#setDeliveryOptions').on('click', function(){
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/setDeliveryOptions&user_token={{ user_token }}',
		type: 'post',
		data: 'multifastfeed_products=' + $('#multifastfeed_products').val() + '&setting_id=' + $('#setting').val() + '&delivery_option=' + $('#new_delivery_option').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			getPage(curr_page);
		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success']['text'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#process_log').append('<p>' + showTime() + ' - ' + json['success']['text'] + '.</p>');
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});




	var tab = '';

	$(document).ready(function() {

	});


	var count,batch,current,step;
	var curr_page = 1;

	var clipboard_manual_url = new ClipboardJS('#clipboard_manual_url');
	var clipboard_cron_url = new ClipboardJS('#clipboard_cron_url');
	var clipboard_feed_url = new ClipboardJS('#clipboard_feed_url');
	var clipboard_file_url = new ClipboardJS('#clipboard_file_url');

	clipboard_manual_url.on('success', function(e){e.clearSelection();});
	$('#clipboard_manual_url').on('mouseenter', function(){
		$('#clipboard_manual_url').tooltip('show');
	});
	$('#clipboard_manual_url').on('mouseleave', function(){
		$('#clipboard_manual_url').tooltip('hide');
	});
	$('#clipboard_manual_url_wrapper').on('click', function(){
		$('#clipboard_manual_url').removeClass('text-primary').addClass('text-success');
		$('#clipboard_manual_url').tooltip('hide');
		$('#clipboard_manual_url').attr('data-original-title', 'Скопировано');
		setTimeout(function() {
			$('#clipboard_manual_url').tooltip('show');
		}, 300);
	});
	$('#clipboard_manual_url_wrapper').on('mouseleave', function(){
		setTimeout(function() {
			$('#clipboard_manual_url').removeClass('text-success').addClass('text-primary');
			$('#clipboard_manual_url').attr('data-original-title', 'Скопировать в буфер');
		}, 500);
	});
	
	clipboard_cron_url.on('success', function(e){e.clearSelection();});
	$('#clipboard_cron_url').on('mouseenter', function(){
		$('#clipboard_cron_url').tooltip('show');
	});
	$('#clipboard_cron_url').on('mouseleave', function(){
		$('#clipboard_cron_url').tooltip('hide');
	});
	$('#clipboard_cron_url_wrapper').on('click', function(){
		$('#clipboard_cron_url').removeClass('text-primary').addClass('text-success');
		$('#clipboard_cron_url').tooltip('hide');
		$('#clipboard_cron_url').attr('data-original-title', 'Скопировано');
		setTimeout(function() {
			$('#clipboard_cron_url').tooltip('show');
		}, 300);
	});
	$('#clipboard_cron_url_wrapper').on('mouseleave', function(){
		setTimeout(function() {
			$('#clipboard_cron_url').removeClass('text-success').addClass('text-primary');
			$('#clipboard_cron_url').attr('data-original-title', 'Скопировать в буфер');
		}, 500);
	});

	clipboard_feed_url.on('success', function(e){e.clearSelection();});
	$('#clipboard_feed_url').on('mouseenter', function(){
		$('#clipboard_feed_url').tooltip('show');
	});
	$('#clipboard_feed_url').on('mouseleave', function(){
		$('#clipboard_feed_url').tooltip('hide');
	});
	$('#clipboard_feed_url_wrapper').on('click', function(){
		$('#clipboard_feed_url').removeClass('text-primary').addClass('text-success');
		$('#clipboard_feed_url').tooltip('hide');
		$('#clipboard_feed_url').attr('data-original-title', 'Скопировано');
		setTimeout(function() {
			$('#clipboard_feed_url').tooltip('show');
		}, 300);
	});
	$('#clipboard_feed_url_wrapper').on('mouseleave', function(){
		setTimeout(function() {
			$('#clipboard_feed_url').removeClass('text-success').addClass('text-primary');
			$('#clipboard_feed_url').attr('data-original-title', 'Скопировать в буфер');
		}, 500);
	});

	clipboard_file_url.on('success', function(e){e.clearSelection();});
	$('#clipboard_file_url').on('mouseenter', function(){
		$('#clipboard_file_url').tooltip('show');
	});
	$('#clipboard_file_url').on('mouseleave', function(){
		$('#clipboard_file_url').tooltip('hide');
	});
	$('#clipboard_file_url_wrapper').on('click', function(){
		$('#clipboard_file_url').removeClass('text-primary').addClass('text-success');
		$('#clipboard_file_url').tooltip('hide');
		$('#clipboard_file_url').attr('data-original-title', 'Скопировано');
		setTimeout(function() {
			$('#clipboard_file_url').tooltip('show');
		}, 300);
	});
	$('#clipboard_file_url_wrapper').on('mouseleave', function(){
		setTimeout(function() {
			$('#clipboard_file_url').removeClass('text-success').addClass('text-primary');
			$('#clipboard_file_url').attr('data-original-title', 'Скопировать в буфер');
		}, 500);
	});

	$('#input-feed_multifastfeed_manual_token').on('change', function(){
		var token = $('#input-feed_multifastfeed_manual_token').val();
		var url = $('#manual_url').html().split('token=')[0];
		$('#manual_url').html(url + 'token=' + token);
	});
	$('#input-feed_multifastfeed_cron_token').on('change', function(){
		var token = $('#input-feed_multifastfeed_cron_token').val();
		var url = $('#cron_url').html().split('token=')[0];
		$('#cron_url').html(url + 'token=' + token);
	});
	$('#input-feed_multifastfeed_feed_url').on('change', function(){
		var name = $('#input-feed_multifastfeed_feed_url').val();
		$('#feed_url').html('{{ catalog_url }}' + name + '.xml');
	});
	
	function updateProducts(){
		var prodarr = [], prodstr = '';
		$('#tbody').find('input[type=checkbox]:checked').each(function() {
			prodarr.push($(this).attr('id').split('-')[1]);
		});
		prodarr.sort(function(a,b){return a-b;});
		prodstr = prodarr.join(',');
		$('#multifastfeed_products').val(prodstr);
	}
	
	function switchProducts(mode){
		$('#tbody').find('input[type=checkbox]').each(function() {
			$(this).prop('checked', mode); 
			$(this).attr('checked', mode); 
			$(this).val(mode); 
		});
		updateProducts();
	}
	
	$('#masterbox').on('click', function(){
		switchProducts($(this).prop('checked'));
	});	
	
	$('#btn-module-setting').on('click', function(){
		$('#module-setting').toggleClass('hidden');
		$('.fa-eye, .fa-eye-slash').toggleClass('hidden');
		
	});	
	
	
	
	$('body').on('click', '.fastproduct', function(){
		var product_id = $(this).attr('id').split('-')[1];
		if($('#product-'+product_id).attr('checked')){
			$('#product-'+product_id).prop('checked', false);
			$('#product-'+product_id).attr('checked', false);
			$('#product-'+product_id).val(0);
		} else {
			$('#product-'+product_id).prop('checked', true);
			$('#product-'+product_id).attr('checked', true);
			$('#product-'+product_id).val(1);
		}
		updateProducts();
	});		
	

$('#getStats').on('click', function(){
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/getStats&user_token={{ user_token }}',
		type: 'post',
		data: 'setting_id=' + $('#setting').val(),
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success']['text'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#process_log').append('<p>' + showTime() + ' - ' + json['success']['text'] + '.</p>');
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

$('#createFeed').on('click', function(){
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/startFeed&user_token={{ user_token }}',
		type: 'post',
		data: 'setting_id=' + $('#setting').val(),
		dataType: 'json',
		beforeSend: function() {
			$('#result_file').addClass('hidden');
		},	
		complete: function() {
			//$('#process-delete').addClass('hidden');
		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');			
			}
			if (json['success']) {
				count = json['count'];
				batch = $('#feed_multifastfeed_batch').val();
				
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> Записан файл ' + json['file_name'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');				
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> Будем записыать товары пачками по ' + batch + ' шт <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				$('#process_log').append('<p>' + showTime() + ' - Записан файл ' + json['file_name'] + '.</p>');
				$('#process_log').append('<p>' + showTime() + ' - Всего товаров: ' + count + '.</p>');
				$('#file_path').html(json['filepath']);
				$('#file_url').html(json['fileurl']);
				
				current = 0;
				step = 1;
				fillBatch(step);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});

function fillBatch(n) {
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/fillBatch&user_token={{ user_token }}',
		type: 'post',
		dataType: 'json',
		data: 'setting_id=' + $('#setting').val() + '&start=' + current + '&limit=' + batch,
		beforeSend: function() {

		},	
		complete: function() {
			if (current < count) {
				fillBatch(step);
			} else {
				closeFeed();
			}
		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> Записали пачку № ' + step + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#process_log').append('<p>' + showTime() + ' - Записано ' + json['count'] + ' товаров (' + (Number(current) + Number(json['count'])) + ' из ' + count + ').</p>');
				current = Number(current) + Number(batch);
				step++;
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
}

function closeFeed() {
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/closeFeed&user_token={{ user_token }}',
		type: 'post',
		dataType: 'json',
		data: 'setting_id=' + $('#setting').val(),
		beforeSend: function() {

		},	
		complete: function() {

		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
		
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> Записан фид ' + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#process_log').append('<p>' + showTime() + ' - Записано ' + count + ' товаров. Конец.</p>');
				$('#result_file').removeClass('hidden');
				$('#file_path').html(json['filepath']);
				$('#file_url').html(json['fileurl']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
}

$('#button-filter_clear').on('click', function(){
	$('#filter_name').val('');
	$('#filter_price_from').val('');
	$('#filter_price_to').val('');
	$('#filter_quantity_from').val('');
	$('#filter_quantity_to').val('');
	$('#filter_category').val('*').trigger("chosen:updated");
	$('#filter_manufacturer').val('*').trigger("chosen:updated");
	$('#filter_sales_note').val('*').trigger("chosen:updated");
	$('#filter_delivery_option').val('*').trigger("chosen:updated");
	$('#filter_status').val('*').trigger("chosen:updated");
	$('#filter_yam_status').val('*').trigger("chosen:updated");
	$('#tbody').html('<tr><td colspan="9" class="text-center">Товары не выбраны.</td></tr>');
	$('#pagination').html('');
	$('#results').html('');
});	

$('#button-filter').on('click', function(){
	getPage(1);
});

$('body').on('click', '.page', function(){
	var page = $(this).attr('id').split('-')[1];
	getPage(page);
});

function getPage(page) {

	curr_page = page;
	$('#masterbox').prop('checked', false).attr('checked', false).val(0);
	
//	var setting_id = 0;
//	if ($('#by_setting').val() == 1) {
//		setting_id = $('#setting').val();	
//	}

	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/getProducts&user_token={{ user_token }}',
		type: 'post',
		data: 'by_setting=' + $('#by_setting').val() + '&setting_id=' + $('#setting').val() + '&filter_name=' + $('#filter_name').val() + '&filter_category=' + $('#filter_category').val() + '&filter_manufacturer=' + $('#filter_manufacturer').val() + '&filter_price_from=' + $('#filter_price_from').val() + '&filter_price_to=' + $('#filter_price_to').val() + '&filter_quantity_from=' + $('#filter_quantity_from').val() + '&filter_quantity_to=' + $('#filter_quantity_to').val() + '&filter_sales_note=' + $('#filter_sales_note').val() + '&filter_delivery_option=' + $('#filter_delivery_option').val() + '&filter_status=' + $('#filter_status').val() + '&filter_yam_status=' + $('#filter_yam_status').val() + '&page=' + page,
		dataType: 'json',
		beforeSend: function() {
			$('#tbody').html('<tr><td colspan="9" class="text-center"><i class="fa fa-spinner fa-spin fa-2x fa-fw text-primary"></i><span class="sr-only">Загрузка...</span></td></tr>');
		},	
		complete: function() {
	
			showTabs();
	
		},
		success: function(json) {
			
			console.info('json = ', json)
			
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');			
			}
			if (json['success']) {
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i>' + json['success']['text'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');				
				
				$('#page_products').text(json['success']['page_products']);
				// это для последующей сортировки
				
				//$('#any_textarea').text(JSON.stringify(any_textarea_object));
				var page_products_object=JSON.parse(json['success']['page_products']);
				
				var html = '';
				if (json['success']['count'] == 0) {
					html += '<tr><td colspan="9" class="text-center">Нет товаров, отвечающих условиям отбора.</td></tr>';
				} else {
					$.each(page_products_object, function(index, product) {
						html += '<tr>';
						html += '<td class="text-center">';
						html += '<input type="checkbox" id="product-' + product.product_id + '" class="fastproduct" value="" />';
						html += '</td>';
						html += '<td style="max-width: 100px;" class="text-left">';
						html += product.model;
						html += '</td>';
						html += '<td style="max-width: 100px;" class="text-left">';
						html += product.name;
						html += '</td>';
						html += '<td id="yam_status-td-' + product.product_id + '" class="text-center ym">';
						html += '<input type="hidden" id="yam_status-' + product.product_id + '" value="' + product.yam_status + '">';
						if (product.yam_status == 0) {
						html += '<span id="yam_status-label-' + product.product_id + '" class="yam_status label label-danger">не&nbsp;выгружать</span>';
						} else {
						html += '<span id="yam_status-label-' + product.product_id + '" class="yam_status label label-success">выгружать</span>';
						}
						html += '</td>';
						html += '<td style="max-width: 100px;" class="text-left sn">';
						html += product.sales_note;
						html += '</td>';
						html += '<td style="max-width: 100px;" class="text-left do">';
						html += product.delivery_option;
						html += '</td>';
						html += '<td class="text-right">';
						if (product.special == '') {
							html += product.price;
						} else {
							html += '<span style="text-decoration: line-through;">' + product.price + '</span><br/>';
							html += '<div class="text-danger">' + product.special + '</div>';
						}
						html += '</td>';
						html += '<td class="text-right">';
						if (product.quantity <= 0) {
							html += '<span class="label label-danger">' + product.quantity + '</span>';
						} else if (product.quantity <= 100) {
							html += '<span class="label label-warning">' + product.quantity + '</span>';
						} else {
							html += '<span class="label label-success">' + product.quantity + '</span>';
						}
						html += '</td>';
						html += '<td class="text-center">';
						if (product.status == 0) {
							html += '<span class="label label-danger">откл</span>';
						} else {
							html += '<span class="label label-success">вкл</span>';
						}
						html += '</td>';
						html += '</tr>';
					}); 
				}
				
				$('#tbody').html(html);
				$('#pagination').html(json['success']['pagination']);
				$('#results').html(json['success']['results']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
}

$('#new_sales_note').on('change', function(){
	limitText($(this), 50);
})

$('body').on('click', '.yam_status', function(){
	var product_id = $(this).attr('id').split('-')[2];
	var mode = $('#yam_status-' + product_id).val() == 1 ? 0 : 1;
	$.ajax({
		url: 'index.php?route=extension/feed/multifastfeed/setYamStatus&user_token={{ user_token }}',
		type: 'post',
		data: 'product_id=' + product_id + '&mode=' + mode,
		dataType: 'json',
		beforeSend: function() {
			//$('#process-delete').removeClass('hidden');
		},	
		complete: function() {
			getPage(curr_page);
		},
		success: function(json) {
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				$('#main').prepend('<div class="alert alert-success"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success']['text'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#process_log').append('<p>' + showTime() + ' - ' + json['success']['text'] + '.</p>');
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
	
	
});

function limitText(limitField, limitNum) {
    if (limitField.value.length > limitNum) {
        limitField.value = limitField.value.substring(0, limitNum);
    }
}	

function showTime() {
//  var months = ["Января", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря"];
//  var days = ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"];
  var months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];

  var dateObj = new Date();

  var year = dateObj.getFullYear();
  var month = dateObj.getMonth();
  var date = dateObj.getDate();
  var day = dateObj.getDay();
  var hour = dateObj.getHours();
  var minute = dateObj.getMinutes();
  var second = dateObj.getSeconds();

  if (date < 10) date = "0" + date;
  if (hour < 10) hour = "0" + hour;
  if (minute < 10) minute = "0" + minute;
  if (second < 10) second = "0" + second;

  //var out = days[day] + ", " + date + " " + months[month] + " " + year + ", " + hour + ":" + minute + ":" + second;
  var out = date + "." + months[month] + "." + year + " " + hour + ":" + minute + ":" + second;

  return out;
}	

function showTabs() {
//	var mode = $('#input-mode').val();
//	if (mode == 'category') {
//		$('#tab-ym').addClass('hidden');
//		$('#tab-cat').removeClass('hidden');
//	} else {
//		$('#tab-ym').removeClass('hidden');
//		$('#tab-cat').addClass('hidden');
//	}
	if (tab == 'sn') {
		$('.ym').addClass('hidden');
		$('.sn').removeClass('hidden');
		$('.do').addClass('hidden');
	}
	if (tab == 'ym') {
		$('.ym').removeClass('hidden');
		$('.sn').addClass('hidden');
		$('.do').addClass('hidden');
	}
	if (tab == 'do') {
		$('.ym').addClass('hidden');
		$('.sn').addClass('hidden');
		$('.do').removeClass('hidden');
	}
}

//$('#input-mode').on('change', function(){
//	showTabs();
//});

$('#tab-ym').on('click', function(){
	tab = 'ym';
	showTabs();
});	

$('#tab-sn').on('click', function(){
	tab = 'sn';
	showTabs();
});	

$('#tab-do').on('click', function(){
	tab = 'do';
	showTabs();
});	

$(function() {
	showTabs();
});

$('#setting-yml-type').on('change', function (){
    let type = parseInt($(this).val());
    
    switch (type){
        case 5:
            $('#showCountBlock').show();
            break;
        default:
            $('#showCountBlock').hide();
            break;
    }
});



//--></script> 

{{ footer }}
