{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="settings-form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="settings-form" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            {% if setting_id %}
            <li><a id="tab-prod" href="#tab-products" data-toggle="tab">Товары</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-setting_name"><span data-toggle="tooltip" title="{{ help_type }}">Имя настройки</span></label>
                <div class="col-sm-10">
                  <input type="text" name="setting_name" value="{{ setting_name }}" placeholder="Введите наименование настройки" id="input-setting_name" class="form-control" />
                  {% if error_setting_name %}
                  <div class="text-danger">{{ error_setting_name }}</div>
                  {% endif %}
								</div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-option_id"><span data-toggle="tooltip" title="Опция - категория подарков">Опция</span></label>
                <div class="col-sm-4">
									<select name="option_id" id="option_id" class="form-control">
										<option value="0">Выберите опцию</option>
										{% for option in options %}
										<option value="{{ option.option_id }}" {% if option.option_id == option_id %}selected{% endif %}>
										{{ option.name }}
										</option> 
										{% endfor %}
									</select>
                  {% if error_option_id %}
                  <div class="text-danger">{{ error_option_id }}</div>
                  {% endif %}
                </div>
							</div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-option_value_id"><span data-toggle="tooltip" title="Выберите подарок. Доступно после выбора опции">Подарок</span></label>
                <div class="col-sm-4">
									<select name="option_value_id" id="option_value_id" class="form-control">
										<option value="0" parent="0">Выберите подарок</option>
										{% for optionvalue in optionvalues %}
										<option value="{{ optionvalue.option_value_id }}" parent="{{ optionvalue.option_id }}" {% if optionvalue.option_value_id == option_value_id %}selected{% endif %} {% if optionvalue.option_id != option_id %}class="hidden"{% endif %}>
										{{ optionvalue.name }}
										</option> 
                  	{% if optionvalue.option_id == option_id %}
                  	{% endif %}
										{% endfor %}
									</select>
                  {% if error_option_value_id %}
                  <div class="text-danger">{{ error_option_value_id }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Количество</label>
								<div class="col-sm-2">
									<div class="input-group">
										<div class="input-group-addon"> от </div>
										<input type="text" name="stock_from" id="stock_from" value="{{ stock_from }}" placeholder="Кол-во от:" class="form-control" />
									</div>  
								</div>
								<div class="col-sm-2">
									<div class="input-group">
										<div class="input-group-addon"> до </div>
										<input type="text" name="stock_to" id="stock_to" value="{{ stock_to }}" placeholder="Кол-во до:" class="form-control" />
									</div>  
								</div>
                <label class="col-sm-2 control-label">Цена</label>
								<div class="col-sm-2">
									<div class="input-group">
										<div class="input-group-addon"> от </div>
										<input type="text" name="price_from" id="price_from" value="{{ price_from }}" placeholder="Цена от:" class="form-control" />
									</div>  
								</div>
								<div class="col-sm-2">
									<div class="input-group">
										<div class="input-group-addon"> до </div>
										<input type="text" name="price_to" id="price_to" value="{{ price_to }}" placeholder="Цена до:" class="form-control" />
									</div>  
								</div>
              </div>
              <div class="form-group">
								<div class="col-sm-6" style="padding:0;">
									<h4 style="padding-left: 15px; font-weight:bold;">Категории</h4>
									<div class="col-sm-12">
										Всего категорий в каталоге: {{ categories|length }}
									</div>	
									<div class="col-sm-12 text-right" style="margin-bottom:10px;">
										<a class="btn btn-default" onclick="switchCategories(true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
										<a class="btn btn-default" onclick="switchCategories(false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
									</div>	
									<div class="col-sm-12">
										<div id="category_tree" class="well well-sm" style="min-height: 150px;max-height: 310px;overflow: auto;">
										{% if categories %}
											{% set level = 0 %}
											{% for category in categories %}
												{#{% set counter = ( counter | default(0) ) + 1 %}#}
												{% if category.level > level %}
													<ul>
												{% elseif category.level < level %}
													{% for i in range(1, level - category.level) %}
															</li></ul>
													{% endfor %}
												{% else %}
													</li>
												{% endif %}
												<li id="category-{{ category.category_id }}">
													<input id="catcheck-{{ category.category_id }}" name="catcheck-{{ category.category_id }}" class="fastcategory" type="checkbox" value="" />
													<div id="catname-{{ category.category_id }}" class="fastcategory" parent="{{ category.parent_id }}">
														{{ category.name }} ({{ category.product_count }})
													</div>
												{% set level = category.level %}
											{% endfor %}
										{% else %}
											<p>В каталоге нет категорий товаров</p>
										{% endif %}
										</div>
									</div>
								</div>
								<div class="col-sm-6" style="padding:0;">
									<h4 style="padding-left: 15px; font-weight:bold;">Производители</h4>
									<div class="col-sm-12">
										Всего производителей: {{ manufacturers|length }}
									</div>	
									<div class="col-sm-12 text-right" style="margin-bottom:10px;">
										<a class="btn btn-default" onclick="switchManufacturers(true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
										<a class="btn btn-default" onclick="switchManufacturers(false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
									</div>	
									<div class="col-sm-12">
										<div id="manufacturer_tree" class="well well-sm" style="min-height: 150px;max-height: 310px;overflow: auto;">
										{% if manufacturers %}
											<ul>
											{% for manufacturer in manufacturers %}
												<li id="manufacturer-{{ manufacturer.manufacturer_id }}">
													<input id="mancheck-{{ manufacturer.manufacturer_id }}" name="mancheck-{{ manufacturer.manufacturer_id }}" class="fastmanufacturer" type="checkbox" value="" />
													<div id="manname-{{ manufacturer.manufacturer_id }}" class="fastmanufacturer{% if manufacturer.name == '' %} empty{% endif %}">
														{% if manufacturer.name == '' %}
															Без названия
														{% else %}
															{{ manufacturer.name }}
														{% endif %}
													</div>
												</li>
											{% endfor %}
											</ul>
										{% else %}
											<p>В каталоге нет производителей</p>
										{% endif %}
										</div>	
									</div>	
								</div>
							</div>
              <div class="form-group">
								<div class="col-sm-12" style="padding:0;">
									<h4 style="padding-left: 15px; font-weight:bold;">Складские статусы</h4>
									<div class="col-sm-12">
										<div id="status_tree" class="well well-sm" style="overflow: auto;">
										{% if statuses %}
											<ul>
											{% for status in statuses %}
												<li id="status-{{ status.stock_status_id }}">
													<input id="statuscheck-{{ status.stock_status_id }}" name="statuscheck-{{ status.stock_status_id }}" class="faststatus" type="checkbox" value="" />
													<div id="statusname-{{ status.stock_status_id }}" class="faststatus{% if status.name == '' %} empty{% endif %}">
														{% if status.name == '' %}
															Без названия
														{% else %}
															{{ status.name }}
														{% endif %}
													</div>
												</li>
											{% endfor %}
											</ul>
										{% else %}
											<p>В каталоге нет складских статусов</p>
										{% endif %}
										</div>	
									</div>	
								</div>
							</div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Количество подарков. Вычисляется (корректируется) динамически.">Кол-во подарков</span></label>
                <div class="col-sm-4">
                  <input type="text" name="gift_quantity" value="{{ gift_quantity }}" placeholder="Кол-во подарков" id="gift_quantity" class="form-control" />
                </div>
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Количество товаров,<br>соответствующих настройке.<br>Не редактируется.">Кол-во товаров</span></label>
                <div class="col-sm-4">
                  <input type="text" name="product_quantity" value="{{ product_quantity }}" placeholder="Кол-во товаров" id="product_quantity" class="form-control" disabled />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            {% if setting_id %}
            <div class="tab-pane" id="tab-products">
              <fieldset>
                <legend>Товары с подарками</legend>
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<td style="width:15%;" class="text-left">
												{% if sort == 'p.model' %}
												<a href="{{ sort_model }}" class="{{ order|lower }}">Модель</a>
												{% else %}
												<a href="{{ sort_model }}">Модель</a>
												{% endif %}
												</td>
												<td style="width:40%;" class="text-left">
												{% if sort == 'pd.name' %}
												<a href="{{ sort_name }}" class="{{ order|lower }}">Наименование</a>
												{% else %}
												<a href="{{ sort_name }}">Наименование</a>
												{% endif %}
												</td>
												<td style="width:15%;" class="text-right">
												{% if sort == 'p.price' %}
												<a href="{{ sort_price }}" class="{{ order|lower }}">Цена</a>
												{% else %}
												<a href="{{ sort_price }}">Цена</a>
												{% endif %}
												</td>
												<td style="width:15%;" class="text-right">
												{% if sort == 'p.quantity' %}
												<a href="{{ sort_quantity }}" class="{{ order|lower }}">Количество</a>
												{% else %}
												<a href="{{ sort_quantity }}">Количество</a>
												{% endif %}
												</td>
												<td style="width:15%;" class="text-center">
												{% if sort == 'p.stock_status_id' %}
												<a href="{{ sort_stock_status_id }}" class="{{ order|lower }}">Склад. статус</a>
												{% else %}
												<a href="{{ sort_stock_status_id }}">Склад. статус</a>
												{% endif %}
												</td>
											</tr>
										</thead>
										<tbody id="tbody">
										{% if products %}
											{% for product in products %}
											<tr>
												<td class="text-left">
													{{ product.model }}
												</td>
												<td class="text-left">
													{{ product.name }}
												</td>
												<td class="text-right">
												{% if product.special %}
													<span style="text-decoration: line-through;">{{ product.price }}</span><br/>
													<div class="text-danger">{{ product.special }}</div>			
												{% else %}
													{{ product.price }}
												{% endif %}
												</td>
												<td class="text-right">
												{% if product.quantity <= 0 %}
													<span class="label label-danger">{{ product.quantity }}</span>
												{% elseif product.quantity <= 100 %}
													<span class="label label-warning">{{ product.quantity }}</span>
												{% else %}
													<span class="label label-success">{{ product.quantity }}</span>
												{% endif %}
												</td>
												<td class="text-center">
												{{ product.status }}
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td colspan="5" class="text-center">
													Нет товаров, соответствующих условиям отбора.
												</td>
											</tr>
										{% endif %}
										</tbody>
									</table>
								</div>
              </fieldset>
							<div class="row">
								<div id="pagination" class="col-sm-6 text-left">{{ pagination }}</div>
								<div id="results" class="col-sm-6 text-right">{{ results }}</div>
							</div>
            </div>
            {% endif %} 
					</div>
						
					<input type="hidden" name="setting_categories" id="setting_categories" value="{{ setting_categories }}">
					<input type="hidden" name="setting_manufacturers" id="setting_manufacturers" value="{{ setting_manufacturers }}">
					<input type="hidden" name="setting_statuses" id="setting_statuses" value="{{ setting_statuses }}">

        </form>
      </div>
    </div>
  </div>

<style>

	#category_tree {
		
	}

	#manufacturer_tree {
		
	}

	#status_tree {
		
	}

	#category_tree ul,#manufacturer_tree ul,#status_tree ul {
		padding: 0;
		margin: 0;
	}

	#category_tree li,#manufacturer_tree li,#status_tree li {
		list-style-type: none;
		line-height: 30px;
		padding-left: 25px;
	}

	#status_tree li {
		display:inline;
	}

	#category_tree li input,#manufacturer_tree li input,#status_tree li input {
		float: left;
		height: 17px;
		width: 17px;
		margin: 6px 15px 0 0;
	}
	
	#status_tree li input {
		float: none;
		height: 17px;
		width: 17px;
		margin: 6px 15px 0 0;
	}
	
	#category_tree li input[type="checkbox"]:checked::after,#manufacturer_tree li input[type="checkbox"]:checked::after,#status_tree li input[type="checkbox"]:checked::after {
    	top: -3px;
    	left: -4px;
	}

	#category_tree li div,#manufacturer_tree li div,#status_tree li div {
		line-height: 30px;
		font-size: 14px;
	}
	
	#status_tree li div {
		display:inline;
	}
	
	.fastmanufacturer.empty {
		color: darkgray;
	}

</style>
	
<script type="text/javascript"><!--

	$(document).ready(function() {
	
		if (document.location.href.indexOf('#tab-products') + 1) {
			$('#tab-prod').click();
		}

		$.each($('#setting_categories').val().split(','),function(ind,val){
			$('#catcheck-'+val).val(1);
			$('#catcheck-'+val).prop('checked', true);
			$('#catcheck-'+val).attr('checked', true);
		});

		$.each($('#setting_manufacturers').val().split(','),function(ind,val){
			$('#mancheck-'+val).val(1);
			$('#mancheck-'+val).prop('checked', true);
			$('#mancheck-'+val).attr('checked', true);
		});

		$.each($('#setting_statuses').val().split(','),function(ind,val){
			$('#statuscheck-'+val).val(1);
			$('#statuscheck-'+val).prop('checked', true);
			$('#statuscheck-'+val).attr('checked', true);
		});

	});

	function switchCategories(mode){
		$('#category_tree').find('input[type=checkbox]').each(function() {
			$(this).prop('checked', mode); 
			$(this).attr('checked', mode); 
			$(this).val(mode); 
		});
		updateCategories();
	}
	
	function switchManufacturers(mode){
		$('#manufacturer_tree').find('input[type=checkbox]').each(function() {
			$(this).prop('checked', mode); 
			$(this).attr('checked', mode); 
			$(this).val(mode); 
		});
		updateManufacturers();
	}

	$('.fastcategory').on('click', function(){
		var category_id = $(this).attr('id').split('-')[1];
		if($('#catcheck-'+category_id).attr('checked')){
			$('#catcheck-'+category_id).prop('checked', false);
			$('#catcheck-'+category_id).attr('checked', false);
			$('#catcheck-'+category_id).val(0);
			$('#category-'+category_id).find('input[type=checkbox]').each(function() {
				$(this).prop('checked', false); 
				$(this).attr('checked', false); 
				$(this).val(0); 
			});
		} else {
			$('#catcheck-'+category_id).val(1);
			$('#catcheck-'+category_id).prop('checked', true);
			$('#catcheck-'+category_id).attr('checked', true);
			$('#category-'+category_id).find('input[type=checkbox]').each(function() {
				$(this).prop('checked', true); 
				$(this).attr('checked', true); 
				$(this).val(1); 
			});
		}
		updateCategories();
	});	
	
	$('.fastmanufacturer').on('click', function(){
		var manufacturer_id = $(this).attr('id').split('-')[1];
		if($('#mancheck-'+manufacturer_id).attr('checked')){
			$('#mancheck-'+manufacturer_id).prop('checked', false);
			$('#mancheck-'+manufacturer_id).attr('checked', false);
			$('#mancheck-'+manufacturer_id).val(0);
		} else {
			$('#mancheck-'+manufacturer_id).val(1);
			$('#mancheck-'+manufacturer_id).prop('checked', true);
			$('#mancheck-'+manufacturer_id).attr('checked', true);
		}
		updateManufacturers();
	});		

	$('.faststatus').on('click', function(){
		var stock_status_id = $(this).attr('id').split('-')[1];
		if($('#statuscheck-'+stock_status_id).attr('checked')){
			$('#statuscheck-'+stock_status_id).prop('checked', false);
			$('#statuscheck-'+stock_status_id).attr('checked', false);
			$('#statuscheck-'+stock_status_id).val(0);
		} else {
			$('#statuscheck-'+stock_status_id).val(1);
			$('#statuscheck-'+stock_status_id).prop('checked', true);
			$('#statuscheck-'+stock_status_id).attr('checked', true);
		}
		updateStatuses();
	});		

	function updateCategories(){
		var catarr = [], catstr = '';
		$('#category_tree').find('input[type=checkbox]:checked').each(function() {
			catarr.push($(this).attr('id').split('-')[1]);
		});
		catarr.sort(function(a,b){return a-b;});
		catstr = catarr.join(',');
		if (catstr.charAt(0) == ',') catstr = catstr.substr(1); 
		$('#setting_categories').val(catstr);
	}

	function updateManufacturers(){
		var manarr = [], manstr = '';
		$('#manufacturer_tree').find('input[type=checkbox]:checked').each(function() {
			manarr.push($(this).attr('id').split('-')[1]);
		});
		manarr.sort(function(a,b){return a-b;});
		manstr = manarr.join(',');
		$('#setting_manufacturers').val(manstr);
	}

	function updateStatuses(){
		var statusarr = [], statusstr = '';
		$('#status_tree').find('input[type=checkbox]:checked').each(function() {
			statusarr.push($(this).attr('id').split('-')[1]);
		});
		statusarr.sort(function(a,b){return a-b;});
		statusstr = statusarr.join(',');
		$('#setting_statuses').val(statusarr);
	}
	
	$('#option_id').on('change', function(){
		$('#option_value_id option:first').prop('selected', true);
		$("#option_value_id > option").each(function(i) {
			if($(this).attr('parent') != '0') {
				if($(this).attr('parent') == $('#option_id').val()) {
					$(this).removeClass('hidden');
				} else {
					$(this).addClass('hidden');
				}
			}
    	//console.log($(this).text() + ' ' + $(this).val() + ' ' + $(this).attr('parent'));
		});
	});

//--></script> 

{{ footer }}