{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      	<a href="{{ refresh }}" data-toggle="tooltip" title="{{ button_refresh }}" class="btn btn-success" style="margin-right:1px;"><i class="fa fa-refresh"></i></a>
      	<a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-coupon').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-coupon">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'setting_name' %}
                    <a href="{{ sort_setting_name }}" class="{{ order|lower }}">Имя настройки</a>
                    {% else %}
                    <a href="{{ sort_setting_name }}">Имя настройки</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'option_name' %}
                    <a href="{{ sort_option_name }}" class="{{ order|lower }}">Опция</a>
                    {% else %}
                    <a href="{{ sort_option_name }}">Опция</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'option_value_name' %}
                    <a href="{{ sort_option_value_name }}" class="{{ order|lower }}">Значение опции</a>
                    {% else %}
                    <a href="{{ sort_option_value_name }}">Значение опции</a>
                    {% endif %}</td>
                  <td class="text-center">{% if sort == 'gift_quantity' %}
                    <a href="{{ sort_gift_quantity }}" class="{{ order|lower }}">Кол-во подарков</a>
                    {% else %}
                    <a href="{{ sort_gift_quantity }}">Кол-во подарков</a>
                    {% endif %}</td>
                  <td class="text-center">{% if sort == 'product_quantity' %}
                    <a href="{{ sort_product_quantity }}" class="{{ order|lower }}">Кол-во товаров</a>
                    {% else %}
                    <a href="{{ sort_product_quantity }}">Кол-во товаров</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'status' %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if settings %}
                {% for setting in settings %}
                <tr>
                  <td class="text-center">{% if setting.setting_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ setting.setting_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ setting.setting_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ setting.setting_name }}</td>
                  <td class="text-left">{{ setting.option_name }}</td>
                  <td class="text-left">{{ setting.option_value_name }}</td>
                  <td class="text-center">{{ setting.gift_quantity }}</td>
                  <td class="text-center">{{ setting.product_quantity }}</td>
                  <td class="text-left">{{ setting.status }}</td>
                  <td class="text-right"><a href="{{ setting.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
