{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
				<button type="submit" form="form-fastfeed" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
	  <br>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="main" class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-fastfeed" class="form-horizontal">
        
          <h3>Пакетное назначение промо-кодов товарам и категориям</h3>  
          <div class="panel-body">
            <div class="well">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <select name="promo" id="promo" class="form-control">
                      <option value="0">Выберите промо-код</option>
                      {% for promo in promos %}
                      <option value="{{ promo.coupon_id }}"{% if promo.status == 0 %} disabled{% endif %}>
                      {{ promo.code }}
                      </option> 
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div id="promo_info" class="form-group"> </div>
                </div>
              </div>
            </div>
          </div>
          
          <div id="promo-content" class="hidden">
        
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-products" data-toggle="tab">Товары</a></li>
              <li><a href="#tab-categories" data-toggle="tab">Категории</a></li>
            </ul>
            
            <div class="tab-content">
              
              <div class="tab-pane active" id="tab-products">
                <h4>Выбор товаров для промо <span class="current-promo"></span></h4>  
                
                <div class="row panel-body">
                  <div class="col-sm-12">
                    <button type="button" id="button-show_product" class="btn btn-primary"><i class="fa fa-eye"></i> &nbsp; Показать промо товары</button>
                    <button type="button" id="button-filter_product" class="btn btn-success" style="margin-left: 10px;"><i class="fa fa-filter"></i> &nbsp; Подобрать с фильтром</button>
                  </div>
                </div>
                
                <div id="filter-content" class="panel-body hidden">
                  <div class="well">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Наименование</label>
                          <input type="text" id="filter_name" placeholder="Наименование" class="form-control" />
                        </div>
                        <div class="form-group">
                          <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Диапазон цен</label>
                          <div class="col-sm-6" style="padding-left: 0;">
                            <div class="input-group">
                              <div class="input-group-addon"> от </div>
                              <input type="text" id="filter_price_from" value="" placeholder="Цена от:" class="form-control" />
                            </div>  
                          </div>
                          <div class="col-sm-6" style="padding-right: 0;">
                            <div class="input-group">
                              <div class="input-group-addon"> до </div>
                              <input type="text" id="filter_price_to" value="" placeholder="Цена до:" class="form-control" />
                            </div>  
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Категория</label>
                          <select name="filter_category" id="filter_category" class="form-control">
                            <option value="*">Все категории</option>
                            {% for category in categories %}
                            <option value="{{ category.category_id }}">
                            {% for i in range(1, category.level) %}
                            &nbsp;&nbsp;&nbsp;
                            {% endfor %}
                            {{ category.name }}
                            </option> 
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Количество</label>
                          <div class="col-sm-6" style="padding-left: 0;">
                            <div class="input-group">
                              <div class="input-group-addon"> от </div>
                              <input type="text" id="filter_quantity_from" value="" placeholder="Кол-во от:" class="form-control" />
                            </div>  
                          </div>
                          <div class="col-sm-6" style="padding-right: 0;">
                            <div class="input-group">
                              <div class="input-group-addon"> до </div>
                              <input type="text" id="filter_quantity_to" value="" placeholder="Кол-во до:" class="form-control" />
                            </div>  
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Производитель</label>
                          <select name="filter_manufacturer" id="filter_manufacturer" class="form-control">
                            <option value="*">Все производители</option>
                            {% for manufacturer in manufacturers %}
                            <option value="{{ manufacturer.manufacturer_id }}">
                            {% if manufacturer.name == '' %}
                              &nbsp;&nbsp;&nbsp; - Без названия
                            {% else %}
                              {{ manufacturer.name }}
                            {% endif %}
                            </option> 
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-12" style="margin-bottom: 7px; padding-left: 0;">Статус товара</label>
                          <select class="form-control" name="filter_status" id="filter_status" class="form-control">
                            <option value="*">Все статусы</option>
                            <option value="1">{{ text_enabled }}</option>
                            <option value="0">{{ text_disabled }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6" style="margin-top: 20px;">
                        <br>
                      </div>
                      <div class="col-sm-6" style="margin-top: 20px;">
                        <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> &nbsp; Применить фильтр</button>
                        <button type="button" id="button-filter_clear" class="btn btn-danger pull-right" style="margin-right: 10px;"><i class="fa fa-times"></i> &nbsp; Очистить фильтр</button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div id="action-content" class="panel-body hidden">
                  <div class="well">
                    <div class="row">
                      <label class="col-sm-6 control-label" style="text-align:left;"> 
                      <span data-toggle="tooltip" title="" data-original-title="Пакетное назначение промо-кода всем отмеченным товарам"> Установка / Отмена промо-кодов для товаров </span></label>
                      <div class="col-sm-3">
                        <button type="button" id="update-products" class="btn btn-success btn-block"><i class="fa fa-check"></i> &nbsp; Установить промо</button>
                      </div>
                      <div class="col-sm-3">
                        <button type="button" id="clear-products" class="btn btn-danger btn-block"><i class="fa fa-times"></i> &nbsp; Отменить промо</button>
                      </div>
                    </div>
                  </div>
                </div>
                    
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <td style="width: 1px;" class="text-center"><input type="checkbox" id="masterbox" /></td>
                        <td style="width: 1px;" class="text-left">
                          Модель
                        </td>
                        <td class="text-left">
                          Наименование
                        </td>
                        <td class="text-left sn">
                          Промо
                        </td>
                        <td style="width: 120px;" class="text-right">
                          Цена
                        </td>
                        <td style="width: 1px;" class="text-right">
                          Количество
                        </td>
                        <td style="width: 1px;" class="text-center">
                          Статус
                        </td>
                      </tr>
                    </thead>
                    <tbody id="tbody">
                      <tr>
                        <td colspan="7" class="text-center">
                          Товары не выбраны.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
  
                <div class="row">
                    <div id="pagination" class="col-sm-6 text-left">{{ pagination }}</div>
                    <div id="results" class="col-sm-6 text-right">{{ results }}</div>
                </div>
  
              </div>
              
              <div class="tab-pane" id="tab-categories">
                <h4>Выбор категорий для промо <span class="current-promo"></span></h4>  
                <div class="form-group">
                  <div class="col-sm-6" style="padding:0;">
                    <div class="col-sm-12">
                      Всего категорий в каталоге: {{ categories|length }}
                    </div>	
                    <div class="col-sm-12 text-right" style="margin-bottom:10px;">
                      <a class="btn btn-default" onclick="switchCategories(true)"><i class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Выбрать все</a>
                      <a class="btn btn-default" onclick="switchCategories(false)"><i class="fa fa-square-o" aria-hidden="true"></i> &nbsp; Отменить все</a>
                    </div>	
                    <div class="col-sm-12">
                      <div id="category_tree" class="well well-sm" style="min-height: 150px;max-height: 500px;overflow: auto;">
                      {% if categories %}
                        {% set level = 0 %}
                        {% for category in categories %}
                          {#{% set counter = ( counter | default(0) ) + 1 %}#}
                          {% if category.level > level %}
                            <ul>
                          {% elseif category.level < level %}
                            {% for i in range(1, level - category.level) %}
                                </li></ul>
                            {% endfor %}
                          {% else %}
                            </li>
                          {% endif %}
                          <li id="category-{{ category.category_id }}">
                            <input id="catcheck-{{ category.category_id }}" name="catcheck-{{ category.category_id }}" class="fastcategory" type="checkbox" value="" />
                            <div id="catname-{{ category.category_id }}" class="fastcategory" parent="{{ category.parent_id }}">
                              {{ category.name }} ({{ category.product_count }})
                            </div>
                          {% set level = category.level %}
                        {% endfor %}
                      {% else %}
                        <p>В каталоге нет категорий товаров</p>
                      {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6" style="padding:0;">
  
                    <div class="col-sm-12 text-center">
                      
                      <br><br><br>
                    
                      <button type="button" id="update-categories" title="Записать список категорий для промо" class="btn btn-success"><i class="fa fa-check"></i> &nbsp; Записать список категорий для промо</button>
                      
                      <br><br>
                    
                      <button type="button" id="clear-categories" title="Очистить список категорий для промо" class="btn btn-danger"><i class="fa fa-times"></i> &nbsp; Очистить список категорий для промо</button>
                    
                    </div>	
                  </div>
                </div>
              </div>
              
            </div>
          
          </div>
          
                
          <div class="form-group hidden">
          <input type="text" name="by_promo" id="by_promo" value="">
          </div>
          <div class="form-group hidden">
          <input type="text" name="promo_products" id="promo_products" value="" style="width:100%">
          </div>
          <div class="form-group hidden">
          <input type="text" name="promo_categories" id="promo_categories" value="" style="width:100%">
          </div>
          <div class="form-group hidden">
          <textarea rows="15" id="page_products" class="form-control" style="color:#006"></textarea>
          </div>
          

				</form>
      </div>
    </div>
  </div>
</div>


<style>

	#category_tree {
		
	}

	#manufacturer_tree {
		
	}

	#category_tree ul,#manufacturer_tree ul {
		padding: 0;
		margin: 0;
	}

	#category_tree li,#manufacturer_tree li {
		list-style-type: none;
		line-height: 30px;
		padding-left: 25px;
	}

	#category_tree li input,#manufacturer_tree li input {
		float: left;
		height: 17px;
		width: 17px;
		margin: 6px 15px 0 0;
	}
	
	#category_tree li input[type="checkbox"]:checked::after,#manufacturer_tree li input[type="checkbox"]:checked::after {
    	top: -3px;
    	left: -4px;
	}

	#category_tree li div,#manufacturer_tree li div {
		line-height: 30px;
		font-size: 14px;
	}
	
	.fastmanufacturer.empty {
		color: darkgray;
	}
	
	.form-horizontal .form-group {
     	margin-left: 0; 
     	margin-right: 0; 
	}
	
	.paginator {
			display: inline-block;
    	padding-left: 0;
    	margin: 0;
    	border-radius: 3px;
	}
	
	.paginator > li {
    	display: inline;
			position: relative;
	}	
	
	.paginator > li:first-child {
			margin-left: 0;
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
	}
	
	.paginator > li:last-child {
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
	}
	
	.paginator .page {
    float: left;
    padding: 8px 13px;
    line-height: 1.42857;
    text-decoration: none;
    color: #1e91cf; 
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
		cursor: pointer;
	}
	
	.paginator .page:hover {
		z-index: 2;
    color: #14628c;
    background-color: #eee;
    border-color: #ddd;	
	}

	.paginator .active {
			float: left;
			padding: 8px 13px;
			line-height: 1.42857;
			text-decoration: none;
			border: 1px solid #1e91cf;
			margin-left: -1px;
			color: #fff;
			background-color: #1e91cf;
			cursor: default;
	}

</style>

<script src="view/javascript/fastcart/clipboard.min.js"></script>

<script type="text/javascript"><!--

$('#promo').on('change', function(){
	$('.alert').remove();
	getPromoInfo();
	$('#tbody').html('<tr><td colspan="7" class="text-center">Товары не выбраны.</td></tr>');
	$('#button-filter_clear').click();
	$('#promo_products').val('');
	switchCategories(false);
	$('#promo_categories').val();
	if ($("[name='promo']").val() == 0) {
		$('#promo-content').addClass('hidden');
	} else {
		$('#promo-content').removeClass('hidden');
	}
	$('#pagination').html('');
	$('#results').html('');
});

$('#button-show_product').on('click', function(){
	$('#tbody').html('<tr><td colspan="7" class="text-center">Товары не выбраны.</td></tr>');
	$('#button-filter_clear').click();
	$('#promo_products').val('');
	$('#filter-content').addClass('hidden');
	$('#action-content').removeClass('hidden');
	$('#by_promo').val('1');
	
	getPage(1);
});	

$('#button-filter_product').on('click', function(){
	$('#tbody').html('<tr><td colspan="7" class="text-center">Товары не выбраны.</td></tr>');
	$('#button-filter_clear').click();
	$('#promo_products').val('');
	$('#filter-content').removeClass('hidden');
	$('#action-content').removeClass('hidden');
	$('#pagination').html('');
	$('#results').html('');
});	




function getPromoInfo(){
	var coupon_id = $("[name='promo']").val();
	switchCategories(false);
	$('#promo_info').html('');
	if (coupon_id == 0) {
	} else {
		$.ajax({
			url: 'index.php?route=marketing/promo_product/selectPromo&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			data: 'coupon_id=' + coupon_id,
			beforeSend: function() {
			},	
			complete: function() {
			},
			success: function(json) {
				$('.alert').remove();
				if (json['error']) {
					$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				if (json['success']) {
					var code = json['promo_info']['code'];
					var name = json['promo_info']['name'];
					var type = json['promo_info']['type']; // == 'F' ? 'суммой' : 'процентом';
					var total = parseFloat(json['promo_info']['total']);
					var discount = parseFloat(json['promo_info']['discount']);
					var date_start = json['promo_info']['date_start'];
					var date_end = json['promo_info']['date_end'];
					var total_promo_products = json['total_promo_products'];
					var total_promo_categories = json['total_promo_categories'];
					var html = '';
					html += 'Промо-код : <strong>' + code + '</strong> &nbsp; ( <strong>' + name + '</strong> ). &nbsp; ';
					if (type == 'F') {
						html += 'Скидка суммой : <strong>' + discount + ' руб</strong> &nbsp; ';
					} else if (type == 'P') {
						html += 'Скидка процентом : <strong>' + discount + ' %</strong> &nbsp; ';
					}
					html += ' на товары дороже : <strong>' + total + ' руб</strong>.<br>';
					html += 'Действует &nbsp; с &nbsp; <strong>' + date_start + '</strong> &nbsp; по &nbsp; <strong>' + date_end + '</strong>. &nbsp; Категорий : <strong>' + total_promo_categories + '</strong>&nbsp;, &nbsp;Товаров : <strong>' + total_promo_products + '</strong>.';
					$('#promo_info').html(html);
					$('.current-promo').html(' &nbsp; <u>' + code + '</u> &nbsp; ( ' + name + ' )');
					$('#promo_categories').val(json['promo_categories']);
					checkCategories();
				}		
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
	}
}

function checkCategories(){
	$.each($('#promo_categories').val().split(','),function(ind,val){
		$('#catcheck-'+val).val(1);
		$('#catcheck-'+val).prop('checked', true);
		$('#catcheck-'+val).attr('checked', true);
	});
}

function updateCategories(){
	var catarr = [], catstr = '';
	$('#category_tree').find('input[type=checkbox]:checked').each(function() {
		catarr.push($(this).attr('id').split('-')[1]);
	});
	catarr.sort(function(a,b){return a-b;});
	catstr = catarr.join(',');
	if (catstr.charAt(0) == ',') catstr = catstr.substr(1); 
	$('#promo_categories').val(catstr);
}

function setCategories(){
	
	var coupon_id = $("[name='promo']").val();
	var coupon_code = $("[name='promo'] option:selected").text();
	var coupon_categories = $("#promo_categories").val();

	$.ajax({
		url: 'index.php?route=marketing/promo_product/setCategories&user_token={{ user_token }}',
		type: 'post',
		dataType: 'json',
		data: 'coupon_id=' + coupon_id + '&coupon_code=' + coupon_code + '&coupon_categories=' + coupon_categories,
		beforeSend: function() {

		},	
		complete: function() {

		},
		success: function(json) {
			
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				
				$('#main').prepend('<div class="alert alert-' + json['style'] + '"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				getPromoInfo();
				
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	

}

$('#update-categories').on('click', function(){
	setCategories();
});	

$('#clear-categories').on('click', function(){
	switchCategories(false);
	setCategories();
});	

$('#update-products').on('click', function(){
	setProducts(1);
});
	
$('#clear-products').on('click', function(){
	setProducts(0);
});

function setProducts(mode){
	
	var coupon_id = $("[name='promo']").val();
	var coupon_code = $("[name='promo'] option:selected").text();
	var coupon_products = $("#promo_products").val();

	$.ajax({
		url: 'index.php?route=marketing/promo_product/setProducts&user_token={{ user_token }}',
		type: 'post',
		dataType: 'json',
		data: 'coupon_id=' + coupon_id + '&coupon_code=' + coupon_code + '&coupon_products=' + coupon_products + '&mode=' + mode,
		beforeSend: function() {

		},	
		complete: function() {

		},
		success: function(json) {
			
			$('.alert').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
			if (json['success']) {
				
				$('#main').prepend('<div class="alert alert-' + json['style'] + '"><i class="fa fa-check-circle" style="margin-right:15px;"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				getPromoInfo();
				getPage(curr_page);
				
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	

}






	var tab = '';

	$(document).ready(function() {


	});


	var count,batch,current,step;
	var curr_page = 1;


	function updateProducts(){
		var prodarr = [], prodstr = '';
		$('#tbody').find('input[type=checkbox]:checked').each(function() {
			prodarr.push($(this).attr('id').split('-')[1]);
		});
		prodarr.sort(function(a,b){return a-b;});
		prodstr = prodarr.join(',');
		$('#promo_products').val(prodstr);
	}
	
	function switchCategories(mode){
		$('#category_tree').find('input[type=checkbox]').each(function() {
			$(this).prop('checked', mode); 
			$(this).attr('checked', mode); 
			$(this).val(mode); 
		});
		updateCategories();
	}
	
	function switchManufacturers(mode){
		$('#manufacturer_tree').find('input[type=checkbox]').each(function() {
			$(this).prop('checked', mode); 
			$(this).attr('checked', mode); 
			$(this).val(mode); 
		});
		updateManufacturers();
	}
	
	function switchProducts(mode){
		$('#tbody').find('input[type=checkbox]').each(function() {
			$(this).prop('checked', mode); 
			$(this).attr('checked', mode); 
			$(this).val(mode); 
		});
		updateProducts();
	}
	
	$('#masterbox').on('click', function(){
		switchProducts($(this).prop('checked'));
	});	
	
	$('.fastcategory').on('click', function(){
		var category_id = $(this).attr('id').split('-')[1];
		if($('#catcheck-'+category_id).attr('checked')){
			$('#catcheck-'+category_id).prop('checked', false);
			$('#catcheck-'+category_id).attr('checked', false);
			$('#catcheck-'+category_id).val(0);
			$('#category-'+category_id).find('input[type=checkbox]').each(function() {
				$(this).prop('checked', false); 
				$(this).attr('checked', false); 
				$(this).val(0); 
			});
		} else {
			$('#catcheck-'+category_id).val(1);
			$('#catcheck-'+category_id).prop('checked', true);
			$('#catcheck-'+category_id).attr('checked', true);
			$('#category-'+category_id).find('input[type=checkbox]').each(function() {
				$(this).prop('checked', true); 
				$(this).attr('checked', true); 
				$(this).val(1); 
			});
		}
		updateCategories();
	});	
	
	$('body').on('click', '.fastproduct', function(){
		var product_id = $(this).attr('id').split('-')[1];
		if($('#product-'+product_id).attr('checked')){
			$('#product-'+product_id).prop('checked', false);
			$('#product-'+product_id).attr('checked', false);
			$('#product-'+product_id).val(0);
		} else {
			$('#product-'+product_id).prop('checked', true);
			$('#product-'+product_id).attr('checked', true);
			$('#product-'+product_id).val(1);
		}
		updateProducts();
	});		
	
$('#button-filter_clear').on('click', function(){

	$('#filter_name').val('');
	$('#filter_price_from').val('');
	$('#filter_price_to').val('');
	$('#filter_quantity_from').val('');
	$('#filter_quantity_to').val('');
	$('#filter_category').val('*').trigger("chosen:updated");
	$('#filter_manufacturer').val('*').trigger("chosen:updated");
	$('#filter_status').val('*').trigger("chosen:updated");
	
	//getPage(1);
});	

$('#button-filter').on('click', function(){
	$('#by_promo').val('0');
	getPage(1);
});

$('body').on('click', '.page', function(){
	var page = $(this).attr('id').split('-')[1];
	getPage(page);
});

function getPage(page) {

	var coupon_id = 0;
	curr_page = page;
	
	if ($('#by_promo').val() == 1) {
		coupon_id = $("[name='promo']").val();	
	}

	$('#masterbox').prop('checked', false).attr('checked', false).val(0);

	$.ajax({
		url: 'index.php?route=marketing/promo_product/getProducts&user_token={{ user_token }}',
		type: 'post',
		data: 'coupon_id=' + coupon_id + '&filter_name=' + $('#filter_name').val() + '&filter_category=' + $('#filter_category').val() + '&filter_manufacturer=' + $('#filter_manufacturer').val() + '&filter_price_from=' + $('#filter_price_from').val() + '&filter_price_to=' + $('#filter_price_to').val() + '&filter_quantity_from=' + $('#filter_quantity_from').val() + '&filter_quantity_to=' + $('#filter_quantity_to').val() + '&filter_status=' + $('#filter_status').val() + '&page=' + page,
		dataType: 'json',
		beforeSend: function() {
			$('#tbody').html('<tr><td colspan="7" class="text-center"><i class="fa fa-spinner fa-spin fa-2x fa-fw text-primary"></i><span class="sr-only">Загрузка...</span></td></tr>');
		},	
		complete: function() {
	
		},
		success: function(json) {
			
			$('.alert-page').remove();
			if (json['error']) {
				$('#main').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');			
			}
			if (json['success']) {
				$('#page_products').text(json['success']['page_products']);
				
				//$('#any_textarea').text(JSON.stringify(any_textarea_object));
				var page_products_object=JSON.parse(json['success']['page_products']);
				
				var promos = '';
				var html = '';
				if (json['success']['count'] == 0) {
					html += '<tr><td colspan="7" class="text-center">Нет товаров, отвечающих условиям отбора.</td></tr>';
				} else {
					$.each(page_products_object, function(index, product) {
						html += '<tr>';
						html += '<td class="text-center">';
						html += '<input type="checkbox" id="product-' + product.product_id + '" class="fastproduct" value="" />';
						html += '</td>';
						html += '<td style="max-width: 100px;" class="text-left">';
						html += product.model;
						html += '</td>';
						html += '<td style="max-width: 100px;" class="text-left">';
						html += product.name;
						html += '</td>';
						html += '<td style="max-width: 100px;" class="text-left">';
						$.each(product.promos.split(','),function(ind,val){
							html += '<span class="label label-primary">' + val + '</span> &nbsp; ';
						});
						html += '</td>';
						html += '<td class="text-right">';
						if (product.special == '') {
							html += product.price;
						} else {
							html += '<span style="text-decoration: line-through;">' + product.price + '</span><br/>';
							html += '<div class="text-danger">' + product.special + '</div>';
						}
						html += '</td>';
						html += '<td class="text-right">';
						if (product.quantity <= 0) {
							html += '<span class="label label-danger">' + product.quantity + '</span>';
						} else if (product.quantity <= 100) {
							html += '<span class="label label-warning">' + product.quantity + '</span>';
						} else {
							html += '<span class="label label-success">' + product.quantity + '</span>';
						}
						html += '</td>';
						html += '<td class="text-center">';
						if (product.status == 0) {
							html += '<span class="label label-danger">откл</span>';
						} else {
							html += '<span class="label label-success">вкл</span>';
						}
						html += '</td>';
						html += '</tr>';
					}); 
				}
				
				$('#tbody').html(html);
				$('#pagination').html(json['success']['pagination']);
				$('#results').html(json['success']['results']);
			}		
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
}

//--></script> 

{{ footer }}
