.base-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    position: relative;
    padding-left: 28px;

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #0033cc;
      content: '';
    }
  }
}
