.btn-montazh {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: inherit;
  border: none;
  cursor: pointer;

  &__primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #00f;
    border-radius: 6px;

    &:hover {
      color: #fff;
      background-color: #0606bd;
    }
  }
}
