.container-montazh {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;

  p {
    &:first-child {
      margin-top: 0;
    }
  }

  @media (max-width: 1024px) {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }
}
