.title {
  font-weight: 600;
  font-size: 16px;

  &_type {
    &_primary {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 600px;
      margin: 40px auto;
      padding: 0 0 20px;
      font-weight: 600;
      font-size: 22px;
      line-height: 1.42;
      text-align: center;

      a {
        cursor: inherit;
      }

      &::after {
        position: absolute;
        bottom: 0;
        width: 100px;
        border-bottom: 2px solid #ccc;
        content: '';
      }
    }

    &_secondary {
      margin-top: 15px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
  }
}
