.breadcrumbs {
  &__list {
    @include unlist;

    display: flex;
    flex-wrap: wrap;
    margin-top: rem(42px);
    margin-bottom: rem(20px);
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      margin-top: rem(20px);
    }
  }

  &__link {
    margin-right: rem(60px);
    color: #000;

    @include media-breakpoint-down(md) {
      margin-right: 30px;
    }

    &::after {
      position: absolute;
      width: 5px;
      height: 5px;
      margin-left: rem(30px);
      color: #000;
      content: '-';

      @include media-breakpoint-down(md) {
        margin-left: 15px;
      }
    }
  }
}
