%btn-accent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(16px 33px);
  color: #fff !important;
  background-color: $accent !important;
  border: 1px solid transparent;
  border-radius: 1px;
  transition: 250ms;

  &:hover:not(:disabled) {
    color: $accent !important;
    text-decoration: none;
    background-color: #fff !important;
    border-color: $accent;
    transition: 250ms;
  }
}

%btn-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(16px 33px);
  color: $accent;
  font-size: rem(18px);
  border: 1px solid $accent;
  border-radius: 3px;
  transition: 250ms;

  @include media-breakpoint-down(md) {
    padding: rem(8px 22px);
    font-size: rem(14px);
    border: 2px solid $accent;
  }

  &--white {
    color: #fff;
    border: 1px solid #fff;
  }

  &:hover:not(:disabled) {
    color: #fff;
    text-decoration: none;
    background-color: $accent;
    transition: 250ms;
  }
}

%link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid #dadfea;
  border-radius: 4px;
  transition: 250ms;

  svg path {
    transition: 250ms;
  }

  &:hover:not(:disabled) {
    background: $accent;
    border: 1px solid $accent;
    transition: 250ms;

    svg path {
      transition: 250ms;
      fill: #fff;
    }
  }
}

%btn-green {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(16px 33px);
  color: #fff;
  background-color: #36a809;
  border: 1px solid #36a809;
  border-radius: 3px;
  transition: 250ms;

  &:hover:not(:disabled) {
    color: #36a809;
    text-decoration: none;
    background: #fff;
    transition: 250ms;
  }
}

%back-link {
  position: absolute;
  top: 0;
  left: 0;
}
