.choice-helper {
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: rem(46px 36px);
    background-color: $accent;
    background-image: url(~@/img/img/choice-helper.png);
    background-repeat: no-repeat;
    background-position: right 35px;

    @include media-breakpoint-down(md) {
      height: 100%;
      padding: rem(20px 30px);
      background-image: url(~@/img/bg/choice-helper-sm.png);
    }
  }

  &__title {
    margin-bottom: rem(16px);
    color: #fff;
    font-weight: 400;
    font-size: rem(30px);
    line-height: 1;

    @include media-breakpoint-down(md) {
      font-size: rem(24px);
    }
  }

  &__text {
    margin-bottom: rem(24px);
    color: #fff;
    font-size: rem(20px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
      font-size: rem(14px);
    }
  }

  &__btn {
    @extend %btn-outline;
    @extend %btn-outline--white;

    width: max-content;
    padding: rem(14px 16px);
    font-size: rem(16px);

    @include media-breakpoint-down(md) {
      font-size: rem(13px);
    }
  }

  &--list {
    height: auto !important;

    .choice-helper__wrap {
      flex-direction: row;
      align-items: center;
      background-image: url(~@/img/bg/choice-helper-sm.png);
      background-position: left -30px;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: flex-end;
        background-position: left;
      }
    }

    .choice-helper__title {
      margin: auto;
      margin-right: rem(80px);

      @include media-breakpoint-down(lg) {
        margin-right: 0;
        margin-bottom: rem(16px);
        text-align: right;
      }
    }
  }
}
