.daily-promo {
  &__wrap {
    max-width: 330px;
    margin-left: auto;
    padding: rem(36px 30px);
    background: #fff;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(36px);
  }

  &__heading {
    font-size: rem(20px);
  }

  &__countdown {
    display: flex;
    align-items: center;
    min-width: 130px;
    margin-right: rem(-30px);
    margin-left: auto;
    padding: rem(12px 18px);
    line-height: 1;
    background-color: #f4f7ff;
    border-radius: 10px 0 0 10px;

    svg {
      margin-right: rem(12px);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 112px;
    margin-bottom: rem(26px);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__product-cat {
    margin-bottom: rem(18px);
    color: #717171;
    font-size: rem(14px);
    line-height: 1;
  }

  &__product-title {
    margin-bottom: rem(18px);
    font-size: rem(18px);
    line-height: 115%;
  }

  &__meta {
    display: flex;
    align-items: center;
    max-width: 170px;
    margin-bottom: rem(44px);
  }

  &__rating {
    display: flex;
    align-items: center;

    svg.filled path {
      fill: #f6705a;
    }
  }

  &__comments {
    margin-left: auto;

    svg {
      margin-right: 8px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__price {
    position: relative;
    font-size: rem(22px);
    line-height: 1;
  }

  &__old-price {
    position: absolute;
    top: -26px;
    left: 0;
    color: #5b5b5b;
    font-size: rem(14px);
    text-decoration: line-through;
  }

  &__benefit {
    margin: auto;
    padding: rem(8px);
    color: #fff;
    font-size: rem(12px);
    line-height: 1;
    background-color: #d20000;
    border-radius: 2px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 43px;
    background-color: #fff;
    border: 2px solid $accent;
    border-radius: 3px;
    transition: 250ms;

    svg path {
      transition: 250ms;
    }

    &:hover {
      text-decoration: none;
      background: $accent;
      transition: 250ms;

      svg path {
        transition: 250ms;
        fill: #fff;
      }
    }
  }
}
