.form {
  [class*='col-'] {
    padding: 0 5px;
  }

  .row {
    margin: 0 -5px;
  }

  &-group > .col-sm-8 {
    padding: 0 !important;
  }

  &__group,
  &-group {
    margin-bottom: rem(8px);

    .control-label {
      display: none !important;
    }

    &--radio {
      position: relative;

      .form__control,
      .form-control {
        position: absolute;
        z-index: -999;
        opacity: 0;
        appearance: none;

        &:checked {
          ~ .form__label {
            &::before {
              border-color: $accent;
              transition: 250ms;
            }

            &::after {
              opacity: 1;
              transition: 250ms;
            }
          }
        }
      }

      .form__label {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: rem(35px);
        font-size: rem(16px);
        cursor: pointer;

        &::before {
          position: absolute;
          top: 2px;
          left: 0;
          width: 20px;
          height: 20px;
          margin: auto 0;
          background: #fff;
          border: 1px solid #ced2df;
          border-radius: 50%;
          transition: 250ms;
          content: '';
        }

        &::after {
          position: absolute;
          top: 7px;
          left: 5px;
          width: 10px;
          height: 10px;
          color: #03214d;
          background-color: $accent;
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 50%;
          opacity: 0;
          transition: 250ms;
          content: '';
        }
      }
    }

    &--checkbox {
      position: relative;

      .form__control,
      .form-control {
        position: absolute;
        z-index: -999;
        opacity: 0;
        appearance: none;

        &:checked {
          ~ .form__label {
            &::before {
              background-color: $accent;
              border-color: $accent;
              transition: 250ms;
            }

            &::after {
              opacity: 1;
              transition: 250ms;
            }
          }
        }
      }

      .form__label {
        position: relative;
        min-height: 22px;
        padding-left: rem(25px);
        cursor: pointer;

        &::before {
          position: absolute;
          top: 2px;
          left: 0;
          width: 16px;
          height: 16px;
          margin: auto 0;
          background: #fff;
          border: 1px solid #ced2df;
          transition: 250ms;
          content: '';
        }

        &::after {
          position: absolute;
          top: 5px;
          left: 3px;
          width: 10px;
          height: 10px;
          color: #03214d;
          background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          opacity: 0;
          transition: 250ms;
          content: '';
        }

        &--bonus {
          padding-left: rem(33px);

          span {
            display: contents;
            font-weight: 700;
          }

          &::after {
            top: 3px;
          }
        }
      }
    }
  }

  &__control,
  &-control {
    width: 100%;
    padding: rem(12px 16px);
    border: 1px solid #ced2df;
    border-radius: 0;

    &::placeholder {
      font-size: rem(14px);
    }
  }

  &__label {
    color: #000;
    font-weight: 300;
    font-size: rem(15px);

    &--policy {
      margin-top: rem(20px);
      font-size: rem(12px);
    }
  }

  &__btn {
    @extend %btn-accent;

    width: 100%;
    padding: rem(12px 33px);
  }

  &__title {
    margin-bottom: rem(20px);
    font-size: rem(26px);
  }

  &__notice {
    display: block;
    margin-top: rem(10px);
    color: #727272;
    font-size: rem(13px);

    &--big {
      color: #000;
      font-size: rem(15px);
    }
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 18px;
    margin-left: rem(11px);
    color: #8ea3c1;
    font-weight: 300;
    font-size: 11px;
    border: 1px solid #bfcfe6;
    border-radius: 2px;
  }

  &--blue {
    .form__control,
    .form-control {
      background-color: #f9fbfd;
    }
  }
}

select.form-control {
  padding: rem(0 16px);
}
