.installment-banner {
  &__wrap {
    display: flex;
    align-items: center;
    padding: rem(20px 55px);
    color: #fff;
    background-color: #3962b4;
    border-radius: 6px;

    @include media-breakpoint-down(lg) {
      padding: rem(30px);
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
      padding: rem(25px 20px);
    }
  }

  &__heading {
    margin-bottom: rem(18px);
    font-weight: 500;
    font-size: rem(30px);
    line-height: 1;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(16px);
      font-size: rem(22px);
    }
  }

  &__subheading {
    font-weight: 400;
    font-size: rem(18px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(16px);
      font-size: rem(18px);
    }
  }

  &__img {
    display: block;
    margin: auto;
    mix-blend-mode: color-dodge;

    @include media-breakpoint-down(lg) {
      margin-right: rem(30px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include media-breakpoint-down(md) {
      max-width: 135px;
      margin-right: 0;
      margin-bottom: rem(25px);
      margin-left: 0;
    }
  }

  &__btn {
    @extend %btn-outline;

    width: 100%;
    max-width: 315px;
    color: #fff;
    border-color: #fff;

    @include media-breakpoint-down(lg) {
      max-width: 268px;
      padding: rem(15px 10px);
    }

    @include media-breakpoint-down(md) {
      padding: rem(8px 15px);
      font-size: rem(18px);
    }

    &:hover {
      color: #3962b4;
      background-color: #fff;
    }
  }
}
