.messengers {
  &__list {
    @include unlist;

    display: flex;
    align-items: center;
  }

  &__item {
    margin: rem(0 5px);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
