.pagination {
  &__list {
    @include unlist;

    display: flex;
    align-items: center;
    width: max-content;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }

  &__item {
    margin: rem(0 15px);

    &:first-of-type {
      margin-left: rem(0);
    }

    &:last-of-type {
      margin-right: rem(0);
    }
  }

  &__link {
    color: #000;

    &:hover {
      color: $accent;
      text-decoration: none;
    }

    &--active {
      color: $accent;
    }
  }

  &__browsed {
    margin-left: auto;
    color: #717171;
    font-size: rem(14px);

    @include media-breakpoint-down(md) {
      margin: auto;
      margin-top: rem(20px);
      font-size: rem(16px);
    }
  }
}
