.portfolio {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(36px);
  }

  &__heading {
    margin: 0;
    margin-right: rem(130px);
  }

  &__btn {
    @extend %link-btn;
  }

  &__list {
    @include unlist;

    display: grid;
    grid-gap: 22px;
    grid-template-columns: repeat(4, 1fr);

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-gap: 5px;
    }
  }

  &__btn-more {
    width: 100%;
    margin: rem(30px 0);
    padding: rem(14px 20px);
    color: #2074e3;
    font-weight: 500;
    font-size: rem(24px);
    background-color: #ecf1f7;
  }

  &__pagination {
    margin-bottom: rem(56px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__portfolio-item {
    @include media-breakpoint-down(lg) {
      &:nth-of-type(n + 4) {
        display: none;
      }
    }

    @include media-breakpoint-down(md) {
      &:nth-of-type(n + 3) {
        display: none;
      }
    }
  }
}

.portfolio-item {
  &__img {
    display: block;
    width: 100%;
    height: 270px;
    margin-bottom: rem(28px);

    @include autoImg;

    @include media-breakpoint-down(lg) {
      height: 180px;
    }

    @include media-breakpoint-down(sm) {
      height: 120px;
      margin-bottom: rem(15px);
    }

    &--no-margin {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: rem(30px);
    font-size: rem(24px);

    @include media-breakpoint-down(sm) {
      font-weight: 400;
      font-size: rem(15px);
    }

    a {
      color: #000;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__description {
    font-weight: 300;
    font-size: rem(16px);

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__date {
    display: block;
    margin-top: rem(36px);
    margin-bottom: rem(24px);
    font-weight: 300;
    font-size: rem(14px);
  }

  &__wrap {
    padding: rem(0 20px 38px 20px);
    border: 1px solid #dadfea;
  }
}
