.product-item {
  display: flex;
  min-height: 100%;

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: rem(20px 20px 24px);
    background-color: #fff;
    border: 1px solid #dadfea;
    border-radius: 2px;
    transition: 250ms;
    width: 100%;

    &:hover {
      z-index: 10;
      text-decoration: none;
      box-shadow: 0 2px 43px rgba(0, 0, 0, 0.15);
      transition: 250ms;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
  }

  &__tags {
    margin-right: auto;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-bottom: 4px;
    padding: rem(12px);
    color: #fff;
    font-size: rem(14px);
    line-height: 1;
    border-radius: 3px;

    &--installment {
      padding: rem(6px 12px);
      background-color: #3962b4;
    }

    &--new {
      background-color: #37b389;
    }

    &--top {
      background-color: #d20000;
    }

    &--discount {
      padding: 5px 8px 4px;
      font-weight: normal;
      background: #EE4949;
      border-radius: 30px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 185px;
    margin-bottom: rem(20px);

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    display: block;
    flex-grow: 1;
    margin-bottom: rem(8px);
    overflow-x: auto;
    color: #000;
    font-weight: normal;
    font-size: rem(16px);
    line-height: 120%;
    word-break: break-word;


    &:hover {
      text-decoration: none;
    }
  }


  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__price {
    position: relative;
    color: #EE4949;
    font-weight: 500;
    font-size: rem(18px);
    line-height: 120%;
  }

  &__old-price {
    color: #727272;
    font-weight: 300;
    font-size: rem(14px);
    line-height: 120%;
    text-decoration: line-through;
  }

  &__benefit {
    margin-top: rem(4px);
    padding: rem(2px 6px);
    color: #fff;
    font-weight: 300;
    font-size: rem(12px);
    line-height: 120%;
    background: #EE4949;
    border-radius: 4px;
  }

  &__meta {
    display: flex;
    margin-top: rem(7px);
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__star {
    margin: rem(0 2px);
    color: #EBEBEB;
    fill: currentColor;

    &--filled {
      color: #FF7324;
    }
  }

  &__comments {
    margin-left: rem(10px);
    color: #B1B1B1;
    font-size: rem(12px);
  }

  &__btn {
    margin-left: rem(6px);
    transition: 250ms;

    svg path {
      transition: 250ms;
    }

    &:hover {
      svg path {
        transition: 250ms;
        fill: $accent;
      }
    }

    &--wishlist, &--compare {
      color: #606060;
    }
  }

  &__cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 13px 30px 13px 25px;
    color: white;
    background-color: $accent;
    border: solid 2px $accent;
    border-radius: 3px;
    transition: 0.25s color, 0.25s background-color;


    &:hover {
      color: $accent;
      background-color: white;
    }
  }

  &__cart-icon {
    margin-right: 10px;
    fill: currentColor;
  }


  &__with-gift {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 43px;
    margin-right: rem(12px);
    border: 1px solid #dadfea;
    border-radius: 3px;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -7px;
      width: 16px;
      height: 16px;
      margin: auto;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cdesc%3E Generated with Avocode.%3C/desc%3E%3Ctitle%3E Прямоугольник 3 копия 7%3C/title%3E%3Cpath d='M3.2 0h1.6l0 3.2h3.2v1.6h-3.2v3.2h-1.6v-3.2h-3.2v-1.6l3.2 0z' fill='%23083da8'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 8px;
      border: 1px solid #dadfea;
      border-radius: 50%;
      content: '';
    }
  }

  &--list {
    .product-item {
      &__wrap {
        padding: rem(20px 30px);
      }

      &__cat {
        margin-bottom: rem(12px);
      }

      &__meta {
        max-width: 150px;
        margin-bottom: rem(30px);
      }

      &__title {
        max-width: 400px;
        height: auto;
        margin-bottom: rem(16px);
        font-weight: 400;
      }

      &__actions {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }

      &__discount-info {
        display: flex;
        align-items: center;
        margin-bottom: rem(12px);
      }

      &__old-price {
        position: static;
        font-weight: 400;
      }

      &__benefit {
        margin-left: rem(16px);
        padding: rem(6px);
      }

      &__price {
        margin-bottom: rem(20px);
      }

      &__form {
        margin-bottom: rem(20px);

        .form__label {
          white-space: nowrap;
        }
      }

      &__product-shipping {
        .product-shipping__info {
          margin-left: auto;
        }
      }

      &__btn {
        &--cart {
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
          width: 100%;
          max-width: 220px;
          height: auto;
          margin: 0;
          margin-bottom: rem(36px);
          padding: rem(15px 30px);
          color: #fff;
          font-weight: 300;
          font-size: rem(19px);
          background-color: $accent;
          border: 1px solid $accent;
          border-radius: 3px;
          transition: 250ms;

          svg {
            margin-right: rem(16px);

            path {
              fill: #fff;
            }
          }

          &:hover {
            text-decoration: none;
            background-color: #3c73e1;
            border-color: #3c73e1;
            transition: 250ms;
          }
        }
      }
    }
  }



  @include media-breakpoint-down(lg) {

  }

  @include media-breakpoint-down(md) {

  }

  @include media-breakpoint-down(sm) {

  }
}
