.reviews {
  &__list {
    @include unlist;
  }

  &__review-item {
    display: flex;
    flex-wrap: wrap;
    padding: rem(46px 0);
    border-bottom: 1px solid #dadfea;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border: none;
    }
  }

  &__btn {
    width: 100%;
    margin: rem(30px 0);
    padding: rem(14px 20px);
    color: #2074e3;
    font-weight: 500;
    font-size: rem(24px);
    background-color: #ecf1f7;
  }

  &__pagination {
    margin-bottom: rem(56px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-bottom: rem(30px);
    }
  }
}

.review-item {
  &__img {
    display: block;
    flex: 0 1 15%;
    min-width: 65px;
    max-width: 65px;
    margin-right: rem(14px);

    @include media-breakpoint-down(md) {
      min-width: 54px;
      max-width: 54px;
    }

    img {
      width: 100%;
      height: 65px;
      object-fit: cover;
      border-radius: 50%;

      @include media-breakpoint-down(md) {
        height: 54px;
      }
    }
  }

  &__meta {
    flex: 0 1 15%;
  }

  &__author {
    max-width: 110px;
    margin-bottom: rem(10px);
    font-weight: 500;
    font-size: rem(18px);
  }

  &__date {
    font-size: rem(13px);
  }

  &__text {
    position: relative;
    flex: 1 1 40%;
    max-width: 630px;
    margin-left: auto;

    @include media-breakpoint-down(lg) {
      flex: 0 1 58%;
    }

    @include media-breakpoint-down(md) {
      flex: 0 1 80%;
      margin-top: rem(24px);
    }

    &::before {
      position: absolute;
      top: 0;
      left: -55px;
      display: block;
      width: 62px;
      height: 54px;
      background-image: url(~@/img/bg/reviews-bg.png);
      background-size: cover;
      content: '';
    }
  }
}
