.review-form-stars {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 5px;

  &__item {
    ///
  }

  &__icon {
    fill: #d7d9e6;
  }

  :checked ~ &__item &__icon {
    fill: #FF7324;
  }
}
