.search-form {
  margin: 0 40px;

  @include media-breakpoint-down(lg) {
    position: fixed;
    left: 46%;
    display: none;
    width: 280px;
    margin: 0;
    background-color: white;
    transform: translateX(-49%);

    &.active {
      display: block;
    }
  }

  @media (max-width: 992px) {
    top: rem(6px);
    transform: translateX(-35%);
  }

  @media (max-width: 767px) {
    top: rem(26px);
  }

  @media (max-width: 425px) {
    width: 225px;
    transform: translateX(-40%);
  }

  &__group {
    position: relative;
  }

  &__control {
    width: 100%;
    height: 50px;
    padding: rem(12px 18px);
    padding-right: rem(40px);
    font-size: rem(14px);
    background: none;
    border: 1px solid #ced2df;
    border-radius: 1px;

    &::placeholder {
      color: #a4a4a4;
    }
  }

  &__btn {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    color: #FFF;
    background: #1259A6;
    border-radius: 2px;

    svg {
      fill: currentColor;
    }
  }
}
