.sidebar {
  &__filters {
    @include unlist;

    width: 100%;
  }

  &__wrap {
    position: relative;
    padding: rem(16px 14px);
    padding-bottom: rem(24px);
    background-color: #f5f6f7;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      padding-top: rem(10px);
    }
  }

  &__btn {
    padding: rem(20px 10px);
    color: #fff;
    background-color: #144da4;
    border-radius: 1px 1px 8px 8px;
  }

  &__close {
    position: absolute;
    top: -5px;
    right: 10px;
    display: none;
    font-size: rem(36px);
    transform: rotate(45deg);

    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}

.filters {
  &__group {
    padding-bottom: rem(30px);

    @include media-breakpoint-down(md) {
      padding-bottom: rem(20px);
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    &--expanded {
      .filters__group-title {
        &::after {
          transform: none;
          transition: 250ms;
        }
      }
    }
  }

  &__input-group {
    margin-bottom: rem(24px);

    &-title {
      margin-bottom: rem(12px);
      font-weight: 500;
      font-size: rem(14px);
    }
  }

  &__more-filters {
    display: none;
  }

  &__form {
    &--range-input {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(2, 1fr);

      .form__group {
        position: relative;
      }

      .form__control {
        position: relative;
        padding: rem(16px 32px);
        font-size: rem(14px);
        background: #fff;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          margin: 0;
          -webkit-appearance: none;
        }
      }

      .form__label {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        z-index: 10;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        color: #a4a4a4;
        font-weight: 400;
        font-size: rem(14px);
      }
    }

    &--tags {
      .form__group--checkbox {
        display: inline-flex;
        flex-wrap: wrap;
        margin-right: auto;
        padding: rem(12px 6px);
        background: #fff;

        .form__count {
          margin-left: rem(5px);
          color: #999;
          font-size: rem(12px);
        }

        .form__label {
          display: flex;
          align-items: center;
          margin: 0;
          padding-left: rem(22px);
          font-size: 14px;
        }
      }
    }
  }

  &__group-title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: rem(20px);
    padding-right: rem(30px);
    text-align: left;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 10px;
      height: 5px;
      margin: auto;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='9' height='5' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 9 5'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EArrow 43 - Shapes4FREE 1 копия 7%3C/title%3E%3Cpath d='M8.99529,4.07228v0l-3.5985,-3.26537v0h0.00022v0l-0.89941,-0.8166v0l-4.4979,4.08128v0l0.89962,0.81626v0l3.59785,-3.26469v0l3.5986,3.26503v0z' fill='%23000000' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(180deg);
      transition: 250ms;
      content: '';
    }
  }

  &__btn-more {
    display: flex;
    align-items: center;
    margin-top: rem(20px);
    color: $accent;

    &::after {
      display: block;
      width: 10px;
      height: 5px;
      margin-left: 10px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='9' height='5' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 9 5'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EArrow 43 - Shapes4FREE 1 копия 4%3C/title%3E%3Cpath d='M8.80784,0.86827v0l-3.52349,3.26331v0h0.00022v0l-0.88066,0.81557v0l-4.40426,-4.0782v0l0.88087,-0.81557v0l3.52295,3.26194v0l3.5236,-3.26263v0z' fill='%232074e3' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }
  }
}
