.socials {
  &__list {
    @include unlist;

    display: flex;
    align-items: center;
  }

  &__item {
    margin: rem(0 8px);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    svg path {
      transition: 250ms;
    }

    &:hover {
      svg path {
        transition: 250ms;
        fill: $accent;
      }
    }
  }
}
