.submenu {
  margin-left: auto;

  &__list {
    @include unlist;

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
      margin-top: rem(25px);
    }
  }

  &__item {
    margin-bottom: 2px;
  }

  &__link {
    display: block;
    padding: rem(16px 28px);
    color: #000;
    font-weight: 300;
    font-size: rem(18px);
    background-color: #ecf1f7;
    border: 1px #ecf1f7 solid;
    border-radius: 1px;
    transition: 250ms;

    &--active {
      background-color: #fff;
      border: 1px solid #dadfea;
    }

    &:hover {
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #dadfea;
      border-radius: 1px;
      transition: 250ms;
    }
  }

  &__title {
    margin-top: rem(40px);
    margin-bottom: rem(14px);
    font-weight: 400;
    font-size: rem(24px);
  }
}
