.subcategories {
  &__list {
    @include unlist;

    &--installation {
      grid-template-columns: repeat(3, 1fr);
      width: 83.5%;
    }

    .flickity-button {
      color: #3962B2;
      box-shadow: 0 5px 24px 0 rgba(34, 60, 80, 0.2);

      &:disabled {
        display: none;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .flickity-button-icon {
      top: 40%;
      left: 45%;
      width: 5px;
      height: 8px;
    }

    .flickity-prev-next-button.next {
      right: -22px;
    }

    .flickity-prev-next-button.previous {
      left: -22px;
    }
  }

  &__item {
    display: flex;
    box-sizing: border-box;
    width: 180px;
    min-width: 0;
    min-height: 100%;
    margin-right: 24px;
    padding: 0 11px;
    font-weight: 400;
    font-size: rem(18px);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    &-link {
      display: flex;
      flex-direction: column;
      //height: 100%;

      &:hover {
        text-decoration: none;
      }
    }

    &-title {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 5px;
      color: #000;
      font-weight: normal;
      font-size: rem(14px);
      line-height: 110%;
      text-align: center;

      @include media-breakpoint-down(md) {
        font-size: rem(14px);
      }
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        object-fit: contain;

        @include media-breakpoint-down(sm) {
          object-position: left;
        }
      }
    }

    &:hover {
      color: #fff;
      background-color: #144ca2;
    }

    &:hover &-title {
      color: #fff;
    }
  }
}
