.tabs {
  &__list {
    @include unlist;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: max-content;
    border-bottom: 1px solid #dadfea;

    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
      width: auto;
      margin: 0 -15px;
      padding-left: 15px;
      overflow: scroll;
      border: none;
    }
  }

  &__item {
    margin: rem(0 25px);

    @include media-breakpoint-down(md) {
      margin: rem(0 auto);
    }

    @include media-breakpoint-down(md) {
      flex: 1 1 50%;
      margin-right: rem(20px);
    }

    &:first-of-type {
      margin-left: 0;

      @include media-breakpoint-down(md) {
        margin-left: auto;
      }
    }

    &:last-of-type {
      margin-right: 0;

      @include media-breakpoint-down(md) {
        margin-right: rem(25px);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: rem(18px 0);
    color: #000;
    font-weight: 400;
    border-bottom: 1px solid transparent;

    @include media-breakpoint-down(md) {
      padding: rem(10px 0);
      font-size: rem(15px);
      white-space: nowrap;
    }

    &--active,
    &.active {
      color: $accent;
      border-bottom: 1px solid $accent;
    }

    &-info {
      display: block;
      flex-basis: 100%;
      margin-top: rem(6px);
      color: #000;
      font-weight: 300;
      font-size: rem(14px);
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    height: 16px;
    margin-left: rem(12px);
    color: $accent;
    font-size: 12px;
    border: 1px solid rgba($accent, 0.25);
    border-radius: 8px;
  }

  &__pane {
    display: none;
  }
}
