.tags {
  &__wrap {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    &--blue {
      padding: rem(12px 30px);
      background-color: rgba(#ecf1f7, 0.8);
      border-radius: 1px;

      @include media-breakpoint-down(md) {
        padding: 0;
        background: transparent;
      }

      .tags__item {
        margin-right: rem(10px);

        @include media-breakpoint-down(lg) {
          margin-right: rem(5px);
        }
      }

      .tags__link {
        padding: rem(5px 20px);
        font-size: rem(16px);
        border: 1px solid #144da4;
        border-radius: 3px;

        @include media-breakpoint-down(lg) {
          font-size: rem(14px);
        }
      }
    }
  }

  &__heading {
    margin-right: rem(36px);
    font-weight: 400;
    font-size: rem(18px);

    @include media-breakpoint-down(md) {
      margin: 0;
      margin-bottom: rem(12px);
    }
  }

  &__action-link {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #2074e3;
    font-weight: 400;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
      margin-top: 5px;
      margin-left: 0;
    }

    &::after {
      top: 0;
      right: 0;
      display: block;
      width: 9px;
      height: 5px;
      margin-left: 8px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'%3E%3Cdesc%3E Generated with Avocode.%3C/desc%3E%3Ctitle%3E Arrow 43 - Shapes4FREE 1 копия 2%3C/title%3E%3Cpath d='M8.8 0.9v0l-3.5 3.3v0h0v0l-0.9 0.8v0l-4.4-4.1v0l0.9-0.8v0l3.5 3.3v0l3.5-3.3v0z' fill='%232074e3'/%3E%3C/svg%3E");
      background-size: contain;
      content: '';
    }
  }

  &__list {
    @include unlist;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-height: 46px;
    overflow: hidden;

    &.expanded {
      max-height: 1000px;
    }

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      max-height: 44px;
    }

    @include media-breakpoint-down(md) {
      max-height: 30px;
    }

    @include media-breakpoint-down(sm) {
      max-height: 34px;
    }
  }

  &__list.expanded + &__action-link::after {
    transform: rotate(180deg);
  }

  &__item {
    margin-right: 8px;
    margin-bottom: 16px;
  }

  &__link {
    display: block;
    padding: rem(16px 24px);
    color: #555;
    font-weight: 500;
    font-size: rem(14px);
    line-height: 100%;
    background: #F4F4F4;
    border-radius: 73px;
    transition: 250ms;

    @include media-breakpoint-down(md) {
      padding: rem(4px 8px);
    }

    &--active {
      color: #fff;
      text-decoration: none;
      background-color: #144da4;
      border-color: #144da4;
      transition: 250ms;

      &::after {
        display: inline-block;
        margin-left: rem(15px);
        color: #fff;
        font-weight: 400;
        font-size: rem(13px);
        transform: rotate(45deg);
        content: '+';
      }
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #3962B2;
      transition: 250ms;
    }
  }
}
