.account {
  &__heading {
    margin-bottom: rem(36px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__subheading {
    font-size: rem(24px);
    margin-bottom: rem(24px);

    @include media-breakpoint-down(md) {
      font-size: rem(20px);
    }
  }

  &__title {
    margin-bottom: rem(27px);
    font-size: rem(24px);
  }

  &__wrap {
    margin-bottom: rem(36px);
  }

  &__account-menu {
    max-width: 400px;

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
      max-width: none;
    }
  }

  &__form {
    &--name {
      margin-bottom: rem(68px);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(40px);
      }

      .form__btn {
        max-width: 150px;
        margin-top: 10px;
      }
    }

    &--pw {
      max-width: 280px;
      .form__btn {
        max-width: 210px;
        margin-top: 10px;
      }
    }
  }

  &__content {
    @include media-breakpoint-down(md) {
      margin-top: rem(20px);
    }
  }
}

.account-menu {
  &__user {
    padding: rem(25px);
    background-color: #ecf1f7;
    border-radius: 1px;
    margin-bottom: rem(6px);
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  &__name {
    font-size: rem(19px);
    font-weight: 500;
    max-width: rem(153px);
    margin-bottom: rem(15px);
  }

  &__mail {
    color: #0e55f5;
    font-weight: 400;
  }

  &__bonuses {
    display: flex;
    align-items: center;
    padding: rem(10px);
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__icon {
    margin-right: rem(10px);
  }

  &__list {
    @include unlist;
    font-size: rem(17px);
    font-weight: 400;
  }

  &__item {
    margin-bottom: 1px;
  }

  &__link {
    padding: rem(15px 25px);
    background: #ecf1f7;
    transition: 250ms;
    display: block;
    color: #000000;

    &:hover {
      transition: 250ms;
      background: rgba(236, 241, 247, 0.29);
      text-decoration: none;
      color: #000000;
    }

    &--active {
      background: rgba(236, 241, 247, 0.29);
      color: #000000;
    }
  }
}
