.account-order {
  &__link {
    display: flex;
    align-items: center;
    margin-bottom: rem(50px);
    font-weight: 400;

    svg {
      margin-right: rem(16px);
    }
  }

  &__title {
    font-size: rem(24px);
    margin-bottom: rem(36px);
  }

  &__order-list {
    @include unlist;

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(50px);
    }
  }

  &__order-content {
    max-width: 600px;
    height: 100%;
    padding-right: rem(50px);
    border-right: 1px solid #dadfea;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
      padding-bottom: rem(40px);
      margin-bottom: rem(30px);
      border: none;
      border-bottom: 1px solid #dadfea;
      max-width: 100%;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      max-width: none;
      border: none;
    }
  }

  &__order-info {
    padding-left: rem(12px);
    height: 100%;

    @include media-breakpoint-down(md) {
      height: auto;
      padding-left: 0;
      margin-top: rem(54px);
    }
  }

  &__order-totals {
    max-width: 410px;
  }
}

.order-list {
  &__order-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(36px);

    &:last-of-type {
      margin-bottom: 0;

      @include media-breakpoint-down(md) {
        margin-bottom: rem(36px);
      }
    }
  }
}

.order-item {
  &__img {
    flex: 0 1 13%;
    height: 70px;
    margin-right: rem(30px);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include media-breakpoint-down(md) {
      flex: 0 1 40%;
      order: 1;
    }
  }

  &__body {
    flex: 0 1 50%;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      order: 3;
      margin-top: rem(20px);
    }
  }

  &__title {
    font-size: rem(17px);
    font-weight: 400;
    color: #000;
    display: block;
    margin-bottom: rem(8px);
    line-height: rem(23px);

    &:hover {
      text-decoration: none;
    }
  }

  &__quantity {
    font-size: rem(14px);
    margin-left: auto;
    flex: 0 1 30%;
    text-align: right;

    @include media-breakpoint-down(md) {
      flex: 0 1 45%;
      order: 2;
      align-self: center;
    }
  }

  &__price {
    font-size: rem(21px);
    font-weight: 500;
    margin-left: rem(13px);
  }

  &__option {
    display: flex;
    align-items: center;
    font-size: rem(15px);

    &--gift {
      font-size: rem(13px);
      font-weight: 500;
      margin-top: rem(10px);
      text-transform: uppercase;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #f3f6fa;
    margin-right: rem(10px);
  }
}

.order-totals {
  &__list {
    @include unlist;
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      font-size: rem(18px);
    }
  }

  &__item {
    display: flex;
    margin-bottom: rem(8px);

    &:last-of-type {
      margin-bottom: 0;
    }

    span {
      margin-left: auto;
      font-size: rem(21px);
      font-weight: 500;
      white-space: nowrap;

      @include media-breakpoint-down(md) {
        font-size: rem(20px);
      }
    }

    img {
      margin-right: rem(10px);
    }

    &--small {
      align-items: center;
      font-size: rem(13px);
      font-weight: 300;

      span {
        font-size: rem(19px);
        position: relative;
        font-weight: 300;
      }
    }
  }
}

.order-info {
  &__name,
  &__address {
    margin-bottom: rem(40px);
    font-size: rem(21px);

    span {
      margin-bottom: rem(12px);
      display: block;
      font-size: rem(15px);
    }
  }

  &__title {
    font-size: rem(24px);
    margin-bottom: rem(26px);
  }

  &__list {
    @include unlist;
    padding-left: rem(42px);
    font-size: rem(15px);
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: calc(100% - 15px);
      background-color: #dadfea;
      left: 15px;
      top: 10px;
    }
  }

  &__item {
    position: relative;
    color: rgba(0, 0, 0, 0.52);
    margin-bottom: rem(36px);

    span {
      display: block;
      font-size: rem(17px);
      font-weight: 400;
    }

    &::before {
      content: '';
      left: -34px;
      width: 15px;
      height: 15px;
      z-index: -10;
      content: '';
      background-color: #dadfea;
      position: absolute;
      border-radius: 50%;
      z-index: 1;
      top: 5px;
    }

    &:last-child {
      margin-bottom: 0;

      &::before {
        top: unset;
        bottom: 0;
      }
    }

    &--finished {
      color: #000000;
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9' viewBox='0 0 11 9'%3E%3Cdesc%3E .%3C/desc%3E%3Ctitle%3E Shape 3%3C/title%3E%3Cpath d='M4.7 8.9c-0.1 0.1-0.3 0.1-0.4 0l-4.1-3.9c-0.1-0.1-0.1-0.3 0-0.4l1.3-1.4c0.1-0.1 0.3-0.1 0.4 0l2.3 2.1c0.1 0.1 0.3 0.1 0.4 0l4.4-5.2c0.1-0.1 0.3-0.1 0.4 0l1.5 1.3c0.1 0.1 0.1 0.3 0 0.4z' fill='%23144da4'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        width: 27px;
        height: 27px;
        background-color: #dadfea;
        left: -40px;
        z-index: 10;
        top: 1px;
      }
    }

    &--current {
      color: #000000;
      &::before {
        content: '';
        background-image: none;
        width: 27px;
        height: 27px;
        left: -40px;
        border: 3px solid #dadfea;
        background-color: #ffffff;
        top: 1px;
      }
    }
  }
}
