.account-orders {
  &__list {
    @include unlist;
  }

  &__order {
    display: flex;
    flex-wrap: wrap;
    padding: rem(25px);
    border: 3px solid #dadfea;
    border-radius: 1px;
    position: relative;
    margin-bottom: rem(23px);
  }
}

.order {
  &__meta {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-only(lg) {
      flex: 0 1 100%;
      flex-direction: row;
      padding-bottom: 75px;
    }

    @include media-breakpoint-down(md) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      flex: 0 1 100%;
    }
  }

  &__number {
    font-size: rem(20px);
    font-weight: 400;

    @include media-breakpoint-down(md) {
      flex: 0 1 50%;
    }

    a {
      color: #000;
    }
  }

  &__date {
    font-size: rem(14px);
    font-weight: 400;

    @include media-breakpoint-only(lg) {
      position: absolute;
      top: 50px;
    }

    @include media-breakpoint-down(md) {
      flex: 0 1 50%;
      text-align: right;
    }
  }

  &__price-wrap {
    display: flex;
    align-items: center;
    margin-top: auto;

    &--opacity {
      opacity: 0.39;
    }

    @include media-breakpoint-only(lg) {
      margin-left: auto;
    }

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
    }
  }

  &__price {
    font-size: rem(20px);
    font-weight: 400;
    margin-right: rem(25px);
  }

  &__bunus-points {
    font-size: rem(19px);
  }

  &__info {
    @include unlist;
    flex: 0 1 70%;

    @include media-breakpoint-down(lg) {
      flex: 0 1 100%;
    }

    @include media-breakpoint-down(md) {
      margin-top: rem(30px);
    }

    &-item {
      display: flex;
      flex-wrap: wrap;
      font-size: rem(14px);
      line-height: rem(20px);
      margin-bottom: rem(15px);
      font-weight: 400;

      span {
        margin-left: auto;
        flex: 0 1 72.5%;
        font-size: rem(17px);
        @include media-breakpoint-down(md) {
          margin-left: 0;
          flex: 0 1 100%;
        }

        &.small {
          font-size: rem(14px);
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__products-count {
    color: #144da4;
    margin-left: 0.75rem;
    font-size: 12px;
    min-width: 24px;
    max-width: max-content;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid rgba(20, 77, 164, 0.25);

    @include media-breakpoint-down(md) {
      flex: 0 1 auto;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: rem(17px);

    @include media-breakpoint-down(lg) {
      bottom: 22px;
    }

    @include media-breakpoint-down(md) {
      position: static;
      margin-top: rem(30px);
    }

    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      margin-right: rem(12px);
      border-radius: 50%;
    }

    &--in-process {
      &::before {
        background-color: #00b211;
      }
    }

    &--completed {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11' viewBox='0 0 13 11'%3E%3Cpath d='M5.6 10.2c-0.1 0.1-0.3 0.1-0.4 0l-4.5-4.2c-0.1-0.1-0.1-0.3 0-0.4l1.4-1.5c0.1-0.1 0.3-0.1 0.4 0l2.4 2.3c0.1 0.1 0.3 0.1 0.4 0l4.8-5.6c0.1-0.1 0.3-0.1 0.4 0l1.6 1.4c0.1 0.1 0.1 0.3 0 0.4z' fill='%23144da4'/%3E%3C/svg%3E");
      }
    }

    &--canceled {
      &::before {
        background-color: #d20000;
      }
    }

    &--pending {
      &::before {
        background-color: #9e9e9e;
      }
    }

    &--processing {
      &::before {
        background-color: #ffc107;
      }
    }
  }
}
