.account-subscriptions {
  &__form {
    .form__group {
      margin-bottom: rem(32px);
    }

    .form__label {
      font-size: rem(18px);
      font-weight: 400;
      display: block;
      padding-left: rem(35px);

      &-info {
        font-size: rem(15px);
        font-weight: 300;
        display: block;
      }
    }

    .form__btn {
      width: max-content;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}
