.account-bonuses {
  &__bonuses-info {
    margin-bottom: rem(16px);
    max-width: 690px;

    @include media-breakpoint-down(lg) {
      min-width: 100%;
    }
  }

  &__link {
    display: flex;
    margin-bottom: rem(32px);
    font-size: rem(14px);
    text-decoration: underline;

    svg {
      margin-right: 10px;
    }
  }

  &__transactions-table {
    overflow-x: auto;
  }
}

.bonuses-info {
  &__list {
    padding: rem(16px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    border: 1px solid #ced2df;
  }

  &__item {
    display: flex;
    align-items: center;

    &-title {
      font-size: rem(14px);
      max-width: 125px;
    }

    &-value {
      font-size: rem(36px);
      font-weight: 700;
    }
  }

  &__icon {
    margin-left: rem(10px);
  }

  &__expiration-date {
    font-weight: 700;
  }
}

.transactions-table {
  &__table {
    width: 100%;
    margin-bottom: 10px;

    th,
    td {
      border: 1px solid #ced2df;
      padding: rem(16px);

      @include media-breakpoint-down(sm) {
        padding: rem(8px);
        font-size: rem(14px);
      }

      @include media-breakpoint-down(xs) {
        font-size: rem(12px);
      }
    }

    th {
      font-weight: 500;
      background: #ecf1f7;
    }
  }

  &__btn-more {
    width: 100%;
    margin-bottom: rem(30px);
    padding: rem(10px 20px);
    background-color: #ecf1f7;
    color: #2074e3;
    font-size: rem(18px);
    font-weight: 500;
  }

  &__pagination {
    margin-bottom: rem(56px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
}
