.account-addresses {
  &__list {
    @include unlist;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(15px);

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(20px);
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: rem(20px);
    }
  }

  &__item {
    padding: rem(20px);
    border: 1px solid #dadfea;
    border-radius: 1px;
    position: relative;

    &--active {
      &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9' viewBox='0 0 11 9'%3E%3Cdesc%3E Generated with Avocode.%3C/desc%3E%3Ctitle%3E Shape 3%3C/title%3E%3Cpath d='M4.7 8.9c-0.1 0.1-0.3 0.1-0.4 0l-4.1-3.9c-0.1-0.1-0.1-0.3 0-0.4l1.3-1.4c0.1-0.1 0.3-0.1 0.4 0l2.3 2.1c0.1 0.1 0.3 0.1 0.4 0l4.4-5.2c0.1-0.1 0.3-0.1 0.4 0l1.5 1.3c0.1 0.1 0.1 0.3 0 0.4z' fill='%23fff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 17px;
        height: 17px;
        background-color: #00b211;
        border-radius: 50%;
      }
    }

    &--add-new {
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-down(lg) {
        height: 130px;
      }

      @include media-breakpoint-down(md) {
        height: 150px;
      }
    }

    &-item-postal {
      font-size: rem(14px);
      margin-bottom: rem(10px);
    }

    &-address {
      font-size: rem(14px);
      font-weight: 400;
      height: 40px;
      margin-bottom: rem(20px);
    }

    &-footer {
      display: flex;
      align-items: center;
    }

    &-link {
      color: $accent;
      font-size: rem(14px);

      &--new {
        display: flex;
        align-items: center;
        color: $accent;
        font-size: rem(14px);

        &::before {
          content: '+';
          font-size: rem(15px);
          font-weight: 500;
          color: #ffffff;
          width: 17px;
          height: 17px;
          background-color: #0e55f5;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-right: rem(6px);
        }
      }
    }

    &-delete {
      margin-left: auto;
    }
  }
}
