.account-wishlist {
  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }
  }
}
