.footer {
  &__wrap {
    &--blue {
      margin-bottom: rem(20px);
      padding-top: rem(20px);
      background-color: #ecf1f7;
    }
  }

  &__top {
    padding-top: rem(45px);
    padding-bottom: rem(35px);
    border-bottom: 3px solid #e9e5e5;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-bottom: rem(20px);
      border: none;
    }
  }

  &__logo {
    display: block;
    margin-bottom: rem(26px);

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__footer-menu {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__adress {
    max-width: 220px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: rem(14px);

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(18px);
    }
  }

  &__tel {
    display: block;
    margin-top: rem(28px);
    color: #000;
    font-weight: 500;
    font-size: rem(24px);

    @include media-breakpoint-down(sm) {
      margin-top: rem(15px);
    }
  }

  &__link {
    display: block;
    font-weight: 300;
    font-size: rem(15px);

    @include media-breakpoint-down(xs) {
      margin-bottom: 0;
    }
  }

  &__heading {
    display: flex;
    margin-bottom: rem(20px);
    font-weight: 500;
    font-size: rem(16px);
  }

  &__form {
    max-width: 275px;
    margin-bottom: rem(32px);

    @include media-breakpoint-down(xs) {
      max-width: none;
    }
  }

  &__bottom {
    padding-top: rem(40px);
    padding-bottom: rem(20px);

    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-bottom: rem(10px);
    }
  }

  &__copyright {
    font-weight: 300;
    font-size: rem(14px);
  }

  &__yandex-rating {
    transform: translateY(-20px);

    @include media-breakpoint-down(sm) {
      display: none;
      transform: none;
    }
  }

  &__payment-systems {
    img {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(30px);
    }
  }

  &__messengers {
    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__menu-toggler {
    display: none;
    margin-left: auto;

    svg {
      transition: 250ms;
    }

    &--expanded {
      svg {
        transform: rotate(180deg);
        transition: 250ms;
      }
    }

    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}

.yandex-rating {
  &__wrap {
    max-width: 160px;
    padding: rem(24px 18px);
    border: 1px solid #e9e5e5;
    border-radius: 3px;

    @include media-breakpoint-down(sm) {
      margin: rem(20px auto);
    }
  }

  &__title {
    margin-bottom: rem(10px);
    font-size: rem(14px);
  }

  &__stars {
    display: flex;
    align-items: center;
    margin-bottom: rem(10px);
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 125px;

    img {
      max-width: 100%;
    }
  }
}

.footer-menu {
  &__list {
    @include unlist;

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(10px);
    }
  }

  &__item {
    margin-bottom: rem(10px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    color: #000;
    font-weight: 300;
    font-size: rem(15px);
  }
}
