.header {
  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
  }

  &__search-form {
    flex-grow: 1;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: rem(30px 0);
    //(max-width: 991.98px)
    @include media-breakpoint-down(md) {
      justify-content: center;
      padding: rem(10px 0 0);
    }
  }

  &__header-menu {
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      display: none;
      width: 100%;
      height: 100%;
    }
  }

  &__toggler {
    display: none;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #144da4;
    border-radius: 5px;

    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  &__logo {
    width: 100%;
    max-width: 230px;

    @include media-breakpoint-down(md) {
      max-width: 160px;
      margin: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__tel {
    margin-right: 59px;

    &-inner {
      display: flex;
    }

    &-link {
      color: #000;
      font-weight: 500;
      font-size: rem(20px);
      line-height: 1;

      &:hover {
        text-decoration: none;
      }
    }

    &-callback {
      padding-left: 30px;
      color: #3961B0;
      font-weight: 500;
      font-size: rem(15px);
      line-height: 100%;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__pickup {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: rem(15px);

    &-counter {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      height: 16px;
      margin-left: rem(12px);
      color: $accent;
      font-size: 12px;
      border: 1px solid rgba($accent, 0.25);
      border-radius: 8px;
    }
  }

  &__now-buying {
    font-size: rem(15px);

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__city-select {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__header-actions {
    display: flex;

    @include media-breakpoint-down(md) {
      justify-content: space-between;
      width: calc(100% + 10%);
      margin: 0 -10px;
      margin-top: rem(10px);
      padding: 14px 10px;
      border-top: 1px solid rgba(#afb7cf, 0.4);
      border-bottom: 1px solid rgba(#afb7cf, 0.4);
    }
  }
}

.city-select {
  &__dropdown {
    position: relative;
    margin-bottom: rem(3px);

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    width: 100%;
    color: $accent;
    font-size: rem(15px);
    text-align: left;
    background: none;
    border: none;

    svg {
      margin-left: rem(8px);
    }
  }

  &__dropdown {
    &-list {
      @include unlist;

      position: absolute;
      top: 100%;
      left: rem(-15px);
      z-index: 100;
      display: none;
      width: 100%;
      padding: rem(10px 15px);
      background: #fff;

      @include media-breakpoint-down(md) {
        width: max-content;
      }
    }

    &-item {
      margin-bottom: rem(8px);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-link {
      color: #000;

      &:hover {
        color: $accent;
        text-decoration: none;
      }
    }
  }
}

.now-buying {
  &__title {
    margin-bottom: rem(12px);
    line-height: 1;
  }

  &__number {
    line-height: 1;
  }
}

.header-actions {
  &__action {
    position: relative;
    margin-right: 26px;
    color: #858585;
    font-size: rem(14px);
    line-height: 1;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--search {
      display: none;

      @include media-breakpoint-down(lg) {
        display: block;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }

      &-xs {
        display: none;

        @include media-breakpoint-down(md) {
          display: block;
        }
      }
    }

    &--tel {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:hover {
      color: $primary;
      text-decoration: none;
    }

    @include media-breakpoint-down(md) {
      font-size: 0;
    }

    &-icon {
      display: block;
      height: 23px;
      margin-bottom: 8px;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }

    &-counter {
      position: absolute;
      top: -9px;
      right:9px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 18px;
      height: 16px;
      padding: 2px 4px;
      color: #fff;
      font-size: 12px;
      background: #1259A6;
      border-radius: 30px;
    }

    &.empty &-counter {
      display: none;
    }

    &.empty &-icon {
      opacity: 0.3;
    }
  }
}

.header-menu {
  &__mburger {
    display: none;
    padding: 10px;

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &__list {
    @include unlist;

    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      background-color: #fff;
    }
  }

  &__item {
    position: relative;
    margin: auto;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &--parent {
      .header-menu__link {
        display: flex;
        align-items: center;
        color: #2074e3;

        @include media-breakpoint-down(md) {
          color: #000;

          &::after {
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10px;
            height: 10px;
            margin: auto;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='9' viewBox='0 0 5 9'%3E%3Cpath d='M0.8 0.1v0l3.3 3.5v0l0 0v0l0.8 0.9v0l-4.1 4.4v0l-0.8-0.9v0l3.3-3.5v0l-3.3-3.5v0z' fill='%23afb7cf'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            border: 1px solid transparent;
            border-radius: 5px;
            transition: 250ms;
            content: '';
          }
        }
      }
    }

    &--catalogue {
      background-color: $accent;
      border-top-left-radius: 8px;

      @include media-breakpoint-down(md) {
        border-radius: 0;
      }

      .header-menu__link {
        min-width: 260px;
        color: #fff;
        font-size: rem(17px);

        svg {
          margin-right: rem(24px);
        }

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      .header-menu__sublink {
        padding: rem(18px 26px);
        padding-right: rem(34px);

        &::after {
          position: absolute;
          top: 0;
          right: 6px;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          margin: auto;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='9' viewBox='0 0 5 9'%3E%3Cpath d='M0.8 0.1v0l3.3 3.5v0l0 0v0l0.8 0.9v0l-4.1 4.4v0l-0.8-0.9v0l3.3-3.5v0l-3.3-3.5v0z' fill='%23afb7cf'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          border: 1px solid transparent;
          border-radius: 5px;
          transition: 250ms;
          content: '';
        }

        &:hover {
          color: $accent;
          text-decoration: none;
          transition: 250ms;

          &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='9' viewBox='0 0 5 9'%3E%3Cpath d='M0.8 0.1v0l3.3 3.5v0l0 0v0l0.8 0.9v0l-4.1 4.4v0l-0.8-0.9v0l3.3-3.5v0l-3.3-3.5v0z' fill='%23144da4'/%3E%3C/svg%3E");
            border: 1px solid $accent;
            transition: 250ms;
          }
        }
      }
    }
  }

  &__link {
    display: block;
    padding: rem(15px 20px);
    color: #575757;
    font-weight: normal;

    @include media-breakpoint-down(md) {
      padding: rem(9px 20px);
      font-weight: 400;

      &::after {
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        height: 10px;
        margin: auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='9' viewBox='0 0 5 9'%3E%3Cpath d='M0.8 0.1v0l3.3 3.5v0l0 0v0l0.8 0.9v0l-4.1 4.4v0l-0.8-0.9v0l3.3-3.5v0l-3.3-3.5v0z' fill='%23afb7cf'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: 250ms;
        content: '';
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__sublist {
    @include unlist;

    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 43px rgba(0, 0, 0, 0.15);

    @include media-breakpoint-down(lg) {
      display: none !important;
    }

    &--visible {
      display: block;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &_level-2,
    &_level-3 {
      top: 0;
      left: 100%;
      min-height: 100%;
    }
  }

  &__item:hover > &__sublist {
    display: block;
  }

  &__subitem {
    display: flex;
    align-items: center;
    min-width: 260px;
    color: #656565;
    border-bottom: 1px solid #dadfea;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__subitem:hover > &__sublist_level-2 {
    display: block;
  }

  &__subitem_level-2:hover > &__sublist_level-3 {
    display: block;
  }

  &__sublink {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    color: inherit;
    transition: 250ms;

    svg {
      margin-right: 10px;
    }

    &:hover {
      color: $accent;
      text-decoration: none;
      transition: 250ms;
    }

    &_empty {
      &::after {
        display: none !important;
      }
    }
  }

  &__tel {
    display: none;
    padding: rem(16px 20px);
    background: #fff;

    &-link {
      display: block;
      margin-bottom: rem(8px);
      color: #000 !important;
      font-weight: 500;
      font-size: rem(26px);
      line-height: 1;

      &:hover {
        text-decoration: none;
      }
    }

    &-callback {
      color: $accent !important;
      font-size: rem(15px);
    }

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &__bottom {
    display: none;
    background: #fff;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__city-select {
    display: flex;
    align-items: center;
    padding: rem(15px 20px);
    border-top: 1px solid rgba(#e6e6e6, 0.6);
    border-bottom: 1px solid rgba(#e6e6e6, 0.6);

    .header__pickup {
      margin-left: rem(36px);
    }
  }

  &__account-link {
    display: flex;
    align-items: center;
    padding: rem(15px 20px);
    color: #252525 !important;
    font-weight: 400;
    font-size: rem(15px);
    border-bottom: 1px solid rgba(#e6e6e6, 0.6);

    svg {
      margin-right: 10px;
    }
  }

  &__close {
    display: none;

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 15px;
      right: 15px;
      display: block;
      font-weight: 400;
      font-size: rem(38px);
      line-height: 1;
      transform: rotate(45deg);
    }
  }
}

.header-menu__item--catalogue.mm-listitem {
  border-radius: 0;

  > .mm-btn {
    color: white;

    &::after {
      border-color: white;
    }
  }
}
