<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="#collapse-uds" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ module_title }} <i class="fa fa-caret-down"></i></a></h4>
  </div>
  <div id="collapse-uds" class="panel-collapse collapse">
    <div class="panel-body">
            <div class="row" style="margin-bottom:20px; padding:0 15px;">                			
				{{ total_uds_block_html }}
            </div>                			
			<div class="row" style="margin-bottom:12px;">                			
				<div class="col-xs-12 col-sm-12">                			
					<div class="input-group">
						<input type="text" name="uds_code_phone" value="{{ uds_code_phone }}" placeholder="{{ entry_uds_code }}" id="input-uds-code" class="form-control" />
						<span class="input-group-btn">
						<input type="button" value="{{ button_uds_code }}" id="button-uds-code-phone" data-loading-text="{{ text_loading }}"  class="btn btn-primary" />
						</span>
					</div>
				</div>
			</div>
		
			<div class="row">                			
                <div id="message" class="col-sm-12"> 
                    {{ message }}
                </div>											
			</div>
		
			<div id="uds-code-action" class="row hidden" style="margin-top:15px;">                			
				<div class="form-group">
                    <label class="col-sm-2 control-label" for="">
                            Введите количество баллов UDS
                    </label>
                    <div class="col-sm-2">
                            <input type="text" name="uds_points" id="uds_points" value="{{ uds_points }}" class="form-control" />
                    </div>
                    <div class="col-sm-2">                			
                        <button id="button-uds" data-loading-text="{{ text_loading }}"type="button" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> Применить</button>
                    </div>											
                    <div class="col-sm-6">                			

                    </div>											
				</div>
			</div>
            
			<div class="row" style="display:none;">                			
            
                <div class="form-group">
                     <label class="col-sm-3 control-label" for="">
                         uds_cashback_rate
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_cashback_rate" name="uds_cashback_rate" value="{{ uds_cashback_rate }}" class="form-control" />
                     </div>
                     <label class="col-sm-3 control-label" for="">
                         uds_cash
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_cash" name="uds_cash" value="{{ uds_cash }}" class="form-control" />
                     </div>
                </div>
                
                <div class="form-group">
                     <label class="col-sm-3 control-label" for="">
                         uds_cashback
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_cashback" name="uds_cashback" value="{{ uds_cashback }}" class="form-control" />
                     </div>
                     <label class="col-sm-3 control-label" for="">
                         uds_order_total
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_order_total" name="uds_order_total" value="{{ uds_order_total }}" class="form-control" />
                     </div>
                </div>
                
                <div class="form-group">
                     <label class="col-sm-3 control-label" for="">
                         type
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_type" name="uds_type" value="{{ uds_type }}" class="form-control" />
                     </div>
                     <label class="col-sm-3 control-label" for="">
                         uds_total_points
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_total_points" name="uds_total_points" value="{{ uds_total_points }}" class="form-control" />
                     </div>
                </div>
                
                <div class="form-group">
                     <label class="col-sm-3 control-label" for="">
                         uds_operation_code
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_operation_code" name="uds_operation_code" value="{{ uds_operation_code }}" class="form-control" />
                     </div>
                     <label class="col-sm-3 control-label" for="">
                         uds_operation_id
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_operation_id" name="uds_operation_id" value="{{ uds_operation_id }}" class="form-control" />
                     </div>
                </div>
                
                <div class="form-group">
                     <label class="col-sm-3 control-label" for="">
                         uds_display_name
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_display_name" name="uds_display_name" value="{{ uds_display_name }}" class="form-control" />
                     </div>
                     <label class="col-sm-3 control-label" for="">
                         uds_phone
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_phone" name="uds_phone" value="{{ uds_phone }}" class="form-control" />
                     </div>
                </div>
                
                <div class="form-group">
                     <label class="col-sm-3 control-label" for="">
                         uds_customer_id
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_customer_id" name="uds_customer_id" value="{{ uds_customer_id }}" class="form-control" />
                     </div>
                     <label class="col-sm-3 control-label" for="">
                         uds_max_points
                     </label>
                     <div class="col-sm-3">
                         <input type="text" id="uds_max_points" name="uds_max_points" value="{{ uds_max_points }}" class="form-control" />
                     </div>
                </div>
                
			</div>                			
				
<script type="text/javascript"><!--
$('#button-uds-code-phone').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/uds/udsCodePhone',
		type: 'post',
		data: 'uds_code_phone=' + encodeURIComponent($('input[name=\'uds_code_phone\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-uds-code-phone').button('loading');
		},
		complete: function() {
			$('#button-uds-code-phone').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();
			
			console.log(json);

			if (json['error']) {
				$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				$('html, body').animate({ scrollTop: 0 }, 'slow');
			}

			if (json['success']) {
				console.log(json['success']);
			}

			if (json['redirect']) {
				location = json['redirect'];
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#button-uds').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/uds/uds',
		type: 'post',
		data: 'uds_operation_code=' + $('#uds_operation_code').val() + '&uds_customer_id=' + $('#uds_customer_id').val() + '&uds_points=' + $('#uds_points').val() + '&uds_order_total=' + $('#uds_order_total').val(),
		dataType: 'json',
		beforeSend: function() {
			$('#button-uds').button('loading');
		},
		complete: function() {
			$('#button-uds').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();
			
			if (json['error']) {
				$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				$('html, body').animate({ scrollTop: 0 }, 'slow');
			}
			
			if (json['redirect']) {
				location = json['redirect'];
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#uds_points').on('change', function(){

	console.log($('#uds_points').val());
	console.log($('#uds_max_points').val());

	if (Number($('#uds_points').val()) > Number($('#uds_max_points').val())) {
		$('#uds_points').val($('#uds_max_points').val());
	}
	if (Number($('#uds_points').val()) < 0) {
		$('#uds_points').val(0);
	}
	// вывести/скрыть предупреждение
});

$(document).ready(function() {
	if ($('#uds_type').val() == 'code') { $('#uds-code-action').removeClass('hidden'); }
});
//--></script>
<style>
{{ total_uds_block_css }}
</style>
    </div>
  </div>
</div>
