
.visually-hidden {
  position: fixed;
  left: -10000px;
  opacity: 0;
}

.tns-controls { text-align: center; margin-bottom: 10px; }
.tns-controls [aria-controls] {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 1em;
  height: 2.5em;
  color: #000;
  background: #66CCFF;
  border-radius: 3px;
  border: 0;
}
.lt-ie9 .tns-controls > [aria-controls] {
  line-height: 2.5em;
}
[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}
.tns-controls [disabled] { 
  color: #999999;
  background: #B3B3B3; 
  cursor: not-allowed !important;
}
.tns-nav {
  /*text-align: center;*/
  margin: 10px 0;
	padding-left:15px;
}
.tns-nav > [aria-controls] {
  width: 11px;
  height: 11px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ccc;
  border: 0;
}
.tns-nav > [aria-controls]:hover {
  background: #18b8d1;
}
.tns-nav > .tns-nav-active { background: #18b8d1; }
.playbutton-wrapper { text-align: center; }
.playbutton-wrapper button { height: 34px; padding: 0 10px; font-size: 14px; background: #fff; border-radius: 3px; border: 1px solid  #ccc; cursor: pointer; }
.wrapper { padding: 0 5em; }
.suite-container .title, 
.suite-container .subtitle, 
.suite-container li { padding: 5px 10px; }
.suite-container li {
  font-size: 12px;
  line-height: 1.4;
  background: #f5f5f5;
}
.suite-container .title { font-size: 14px; font-weight: bold; background: #8acac6; text-transform: capitalize; }
.suite-container .subtitle { font-size: 13px; font-weight: bold; background: #dedede; text-transform: capitalize; }
.suite-container .fail { background: #FFADE2; }

/* go to */
.goto-controls {
  margin-bottom: 10px;
  text-align: center;
}
.goto-controls input,
.goto-controls .button {
  display: inline-block;
  font-size: 14px;
  height: 2.6em;
  line-height: 2.6;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.goto-controls input {
  border: 1px solid  #ccc;
}
.goto-controls .button {
  min-width: 4em;
  border: none;
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

