.about-us {
  &__heading {
    position: relative;
    margin-bottom: rem(42px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(22px);
      text-align: center;
    }
  }

  &__banner {
    width: 100%;
    max-width: 945px;
    height: 400px;
    margin-bottom: rem(60px);
    padding: rem(72px 80px);
    background-repeat: no-repeat;
    background-size: cover;

    &-title {
      position: relative;
      max-width: 480px;
      font-size: rem(41px);

      @include media-breakpoint-down(md) {
        max-width: 50vw;
        font-size: rem(14px);
      }
    }

    @include media-breakpoint-down(md) {
      width: auto;
      max-width: none;
      height: 150px;
      margin: 0 -15px;
      padding: 30px 15px;
    }
  }

  &__about-company {
    padding-bottom: rem(20px);
    //background-image: url(~@/img/bg/about-company1.png);
    color: #fff;
    background-color: #07429a;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
    }
  }

  &__quote {
    overflow: hidden;
    background-color: #ecf1f7;
  }

  &__testimonials {
    margin-top: rem(60px);
    margin-bottom: rem(130px);

    @include media-breakpoint-down(sm) {
      margin-top: rem(50px);
      margin-bottom: rem(100px);
    }
  }

  &__company-rules {
    margin-top: rem(110px);
    margin-bottom: rem(150px);

    .container {
      position: relative;
    }

    @include media-breakpoint-down(md) {
      margin: rem(30px 0);
      margin-bottom: rem(85px);
    }
  }
}

.modernizr {
  &_webp {
    .about-us__banner {
      background-image: url(/webp-images/about-usbg.webp);
    }
  }

  &_no-webp {
    .about-us__banner {
      background-image: url(~@/img/bg/about-usbg.jpg);
    }
  }
}
