.article-page {
  &__wrap {
    max-width: 945px;
  }

  &__heading {
    margin-bottom: rem(35px);
  }

  &__content {
    h2 {
      max-width: 810px;
      margin-top: rem(70px);
      margin-bottom: rem(30px);

      @include media-breakpoint-down(md) {
        margin: rem(30px 0);
        font-size: rem(20px);
      }
    }

    &-title {
      font-size: rem(19px);

      @include media-breakpoint-down(md) {
        font-size: rem(16px);
      }
    }

    blockquote {
      max-width: 657px;
      margin-top: rem(55px);
      margin-bottom: rem(42px);
      padding: rem(12px 40px);
      border-left: 3px solid $accent;

      @include media-breakpoint-down(md) {
        margin: rem(42px 0);
        padding: 0;
        padding-left: rem(26px);
      }
    }

    ol {
      @include unlist;

      counter-reset: counter;

      li {
        position: relative;
        margin-bottom: rem(42px);
        padding-left: rem(75px);

        @include media-breakpoint-down(md) {
          margin-bottom: rem(30px);
          padding-left: rem(50px);
          font-size: rem(15px);
        }

        &::before {
          position: absolute;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          border: 1px solid #144da4;
          border-radius: 50%;
          content: counter(counter);
          counter-increment: counter;

          @include media-breakpoint-down(md) {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  &__subtitle {
    margin-bottom: rem(26px);
    font-weight: 400;
    font-size: rem(20px);
  }

  &__summary {
    margin-bottom: rem(24px);
    padding: rem(46px);
    padding-bottom: rem(56px);
    background-color: #ecf1f7;

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
      margin-bottom: rem(30px);
      padding: rem(30px 15px);
    }

    &-title {
      margin-bottom: rem(30px);
      font-size: rem(24px);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(14px);
        font-size: rem(20px);
      }
    }

    &-list {
      @include unlist;
    }

    &-item {
      margin-bottom: rem(8px);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(16px);
        font-size: rem(15px);
      }

      &::before {
        content: '- ';
      }

      &-link {
        color: #000;
      }
    }
  }
}

.sidebar-articles {
  &__heading {
    margin-bottom: rem(30px);
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: rem(54px);
    color: $accent;
    font-weight: 400;
    font-size: rem(15px);

    svg {
      margin-right: rem(18px);
    }
  }

  &__list {
    @include unlist;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__item {
    max-width: 295px;
    margin-bottom: rem(80px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }

    &-title {
      margin-bottom: rem(26px);
      font-weight: 400;
      font-size: rem(20px);
    }

    &-link {
      color: #000;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.article-products {
  &__heading {
    margin-bottom: rem(30px);
  }

  &__related-products {
    @include unlist;

    margin-bottom: rem(110px);

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }
}
