.bonus-page {
  &__heading {
    margin-bottom: rem(22px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(32px);
    }
  }

  &__subheading {
    margin-bottom: rem(44px);
    font-size: rem(24px);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(32px);
      font-size: rem(20px);
    }
  }

  &__info {
    max-width: 598px;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
      margin-bottom: rem(40px);
    }
  }

  &__files {
    @include unlist;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(52px);
    }
  }

  &__file-link {
    position: relative;
    display: block;
    margin-bottom: rem(15px);
    padding-left: rem(24px);
    font-weight: 400;
    font-size: rem(16px);

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }

    &-info {
      display: block;
      margin-top: rem(15px);
      color: #6c6c6c;
      font-weight: 300;
    }
  }

  &__credit-advantages {
    margin-bottom: rem(64px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(45px);
    }
  }

  &__how-to-gain {
    margin: rem(50px 0);
  }

  &__how-to-use {
    margin: rem(50px 0);
  }

  &__img {
    img {
      max-width: 100%;
    }
  }
}

.installment-conditions {
  &__list {
    @include unlist;
  }

  &__item {
    &::before {
      content: '- ';
    }
  }

  &__title {
    margin-bottom: rem(20px);
    font-weight: 400;
  }

  &__content {
    margin-bottom: rem(36px);
  }

  &__notice {
    display: block;
    max-width: 820px;
    font-size: rem(16px);
  }
}

.bonus-advantages {
  &__list {
    @include unlist;

    display: grid;
    grid-column-gap: rem(20px);
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(md) {
      grid-gap: rem(15px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    padding: rem(36px 25px);
    border: 1px solid #dde3eb;
    border-radius: 5px;

    @include media-breakpoint-down(md) {
      height: 180px;
      padding: rem(25px);
    }

    &-icon {
      width: 52px;
      height: 52px;
      margin-bottom: rem(22px);

      svg {
        width: 52px;
        height: 52px;
      }

      @include media-breakpoint-down(lg) {
        margin-bottom: rem(16px);
      }

      @include media-breakpoint-down(md) {
        margin-bottom: rem(14px);
      }
    }
  }
}
