.brands-page {
  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__brands-sidebar {
    position: relative;
    flex: 1 1 18%;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      margin-bottom: rem(30px);
    }
  }

  &__brands-list {
    //flex: 0 1 80%;
    position: relative;
    padding-left: 22px;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      padding-left: 0;
    }
  }

  &__seo {
    padding-top: rem(125px);
    padding-bottom: rem(145px);
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      padding: rem(50px 0);
    }

    .seo__content {
      max-width: 780px;
    }
  }
}

.modernizr {
  &_webp {
    .brands-page__seo {
      background-image: url(/webp-images/seo.webp);
    }
  }

  &_no-webp {
    .brands-page__seo {
      background-image: url(~@/img/bg/seo.jpg);
    }
  }
}

.brands-alphabet {
  &__content {
    margin-bottom: rem(30px);
    padding: rem(24px);
    background-color: #f5f6f7;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      padding: 0;
      background-color: transparent;
    }
  }

  &__list {
    @include unlist;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__alphabet-list {
    @include unlist;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      justify-content: flex-start;
    }
  }

  &__item {
    margin: rem(0 12px);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__alphabet-item {
    margin: rem(0 8px);

    @include media-breakpoint-down(md) {
      margin: 0;
      margin-right: rem(16px);
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    color: #000;
    font-weight: 400;

    &--active {
      color: $accent;
    }
  }
}

.brands-sidebar {
  &__content {
    background-color: #f5f6f7;
    border-radius: 10px;
  }

  &__list {
    @include unlist;
  }

  &__item {
    display: flex;
    border-bottom: 1px solid #d3d7dc;

    &:last-of-type {
      border: none;
    }

    &-link {
      display: flex;
      align-items: center;
      width: 100%;
      padding: rem(25px 15px);
      color: #000;
      font-weight: 400;

      &:hover {
        text-decoration: none;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      height: 16px;
      margin-left: auto;
      color: #3962b4;
      font-size: rem(12px);
      border: 1px solid rgba(57, 98, 180, 0.25);
      border-radius: 8px;
    }
  }
}

.brands-list {
  &__list {
    @include unlist;
  }

  &__item {
    margin-bottom: rem(78px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: rem(38px);
    font-weight: 400;
    font-size: rem(24px);

    &::after {
      display: block;
      flex-grow: 1;
      height: 1px;
      margin-left: rem(25px);
      background-color: #d3d7dc;
      content: '';
    }
  }

  &__brands {
    @include unlist;

    display: grid;
    grid-gap: rem(15px);
    grid-template-columns: repeat(5, 1fr);

    @include media-breakpoint-down(md) {
      grid-gap: rem(5px);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__brand {
    padding: rem(25px 40px);
    text-align: center;
    border: 1px solid #e6ebf2;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      padding: rem(20px);
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 125px;
      height: 90px;
      margin-bottom: rem(20px);

      @include media-breakpoint-down(md) {
        height: 45px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-name {
      font-weight: 400;
    }
  }
}
