.cart {
  &__products {
    @include unlist;
  }

  &__cart-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: rem(40px 20px);
    border: 1px solid #dadfea;
  }

  &__bonus-points {
    margin-bottom: rem(22px);
    padding: rem(30px 25px);
    border: 1px solid #dadfea;
    border-radius: 3px;

    @include media-breakpoint-down(lg) {
      padding: rem(30px 15px);
    }

    @include media-breakpoint-down(md) {
      margin-top: rem(22px);
      margin-bottom: rem(55px);
      padding: 0;
      border: none;
    }
  }

  &__content {
    margin-bottom: rem(93px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(44px);
    }
  }

  &__featured-products {
    margin-bottom: rem(78px);
  }

  &__forgotten-products {
    margin-bottom: rem(100px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(50px);
    }
  }

  &__installation-errors {
    margin-bottom: rem(92px);

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }
}

.cart-item {
  &__img {
    flex: 0 1 27%;
    max-width: 230px;
    height: 150px;
    margin-right: rem(30px);

    @include media-breakpoint-down(lg) {
      flex: 0 1 18%;
    }

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      max-width: 50%;
      height: 80px;
      margin-bottom: rem(30px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    flex: 0 1 34%;

    @include media-breakpoint-down(lg) {
      flex: 0 1 37%;
    }

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
    }
  }

  &__category {
    margin-bottom: rem(18px);
    color: #717171;
    font-size: rem(14px);
    line-height: 1;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(12px);
    }
  }

  &__title {
    max-width: 280px;
    margin-bottom: rem(35px);
    font-size: rem(17px);

    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin-bottom: rem(20px);
      font-size: rem(17px);
    }
  }

  &__old-price {
    color: #5b5b5b;
    font-size: rem(14px);
    text-decoration: line-through;
  }

  &__qty {
    display: flex;
    flex: 0 1 12%;
    align-items: center;
    max-width: max-content;
    height: 36px;
    border: 1px solid #bfcfe6;
  }

  &__prices {
    flex: 0 1 14%;
    margin-left: auto;
  }

  &__price {
    font-weight: 400;
    font-size: rem(20px);
  }

  &__list {
    @include unlist;
  }

  &__delete {
    display: flex;
    align-items: center;
    margin-top: rem(55px);
    font-weight: 300;
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      margin-top: rem(10px);
    }

    svg {
      margin-right: rem(10px);
    }
  }

  &__form {
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(26px);
    }

    .form__group {
      margin: 0;
    }

    .form__label {
      margin: 0;
    }
  }

  &__notice {
    position: absolute;
    top: 35px;
    left: 0;
    display: block;
    width: max-content;
    max-width: 200%;
    padding: rem(20px);
    font-size: rem(14px);
    background-color: #ecf1f7;

    @include media-breakpoint-down(lg) {
      top: 50px;
      max-width: 380px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    &::before {
      position: absolute;
      top: -8px;
      left: 0;
      display: inline-block;
      width: 0;
      height: 0;
      border-color: transparent transparent #ecf1f7 transparent;
      border-style: solid;
      border-width: 0 7px 8px 7px;
      content: '';
    }
  }

  &__cart-gift {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-top: rem(110px);

    @include media-breakpoint-down(md) {
      padding-top: rem(30px);
    }
  }
}

.qty {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 100%;

    &:hover {
      background: $accent;
      border: 1px solid $accent;
      transition: 250ms;

      svg path {
        transition: 250ms;
        fill: #fff;
      }
    }
  }

  &__control {
    max-width: 44px;
    height: 100%;
    text-align: center;
    border: 1px solid #bfcfe6;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
}

.cart-gift {
  &__img {
    @extend .cart-item__img;

    position: relative;

    &::before {
      position: absolute;
      top: 31px;
      left: 0;
      width: 45px;
      height: 45px;
      background-color: #f3f6fa;
      background-image: url('~@/img/icon/gift.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      content: '';
    }

    &::after {
      position: absolute;
      top: 40px;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='8' height='8' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 8 8'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EПрямоугольник 3 копия 3%3C/title%3E%3Cpath d='M3.19997,-0.00024h1.59999l0,3.19983h3.19987v1.60073h-3.19987v3.19983h-1.59999l0,-3.19983h-3.19998v-1.60073h3.19998z' fill='%23083da8' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      content: '';
    }
  }

  &__title {
    @extend .cart-item__title;

    margin-bottom: 0;
  }

  &__description {
    display: flex;
    flex: 0 1 18%;
    align-items: flex-start;
    font-weight: 500;
    font-size: rem(13px);
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      margin: rem(15px 0);
    }

    img {
      margin-right: rem(15px);
    }
  }

  &__info {
    @extend .cart-item__info;
  }

  &__prices {
    @extend .cart-item__prices;

    position: relative;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
    }
  }

  &__price {
    @extend .cart-item__price;
  }

  &__old-price {
    @extend .cart-item__old-price;
  }

  &__delete {
    @extend .cart-item__delete;

    position: absolute;
    bottom: -50px;
    left: 0;
    margin-top: 0;

    @include media-breakpoint-down(md) {
      position: static;
    }
  }
}

.bonus-points {
  &__toggle {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__group {
    display: flex;
    align-items: center;
    width: 100%;

    &--radio {
      .bonus-points__control {
        position: absolute;
        z-index: -999;
        opacity: 0;
        appearance: none;

        &:checked {
          ~ label {
            &::after {
              opacity: 1;
            }
          }
        }
      }

      .bonus-points__label {
        position: relative;
        padding: rem(20px 25px);
        padding-left: rem(55px);
        font-weight: 400;
        background-color: #ecf1f7;
        border-radius: 3px;
        cursor: pointer;

        @include media-breakpoint-down(md) {
          padding-left: rem(32px);
          font-size: rem(14px);
        }

        &::before {
          position: absolute;
          top: 20px;
          left: 20px;
          width: 21px;
          height: 21px;
          margin: auto 0;
          background: #fff;
          border: 1px solid #bfcfe6;
          border-radius: 50%;
          transition: 250ms;
          content: '';

          @include media-breakpoint-down(md) {
            left: 7px;
          }
        }

        &::after {
          position: absolute;
          top: 24px;
          left: 24px;
          width: 13px;
          height: 13px;
          background-color: $accent;
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 50%;
          opacity: 0;
          transition: 250ms;
          content: '';

          @include media-breakpoint-down(md) {
            left: 11px;
          }
        }
      }
    }

    &--checkbox {
      .bonus-points__control {
        position: absolute;
        z-index: -999;
        opacity: 0;
        appearance: none;

        &:checked {
          ~ label {
            &::after {
              opacity: 1;
            }
          }
        }
      }

      .bonus-points__label {
        position: relative;
        padding-left: rem(32px);
        font-weight: 400;
        cursor: pointer;

        @include media-breakpoint-down(md) {
          font-size: rem(15px);
        }

        span {
          font-weight: 700;
        }

        &::before {
          position: absolute;
          top: 2px;
          left: 0;
          width: 21px;
          height: 21px;
          margin: auto 0;
          background: #fff;
          border: 1px solid #bfcfe6;
          transition: 250ms;
          content: '';
        }

        &::after {
          position: absolute;
          top: 7px;
          left: 5px;
          width: 11px;
          height: 11px;
          color: #03214d;
          background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23144da4' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          opacity: 0;
          transition: 250ms;
          content: '';
        }
      }
    }
  }

  &__btn {
    @extend %btn-accent;

    width: 100%;
    padding: rem(10px 15px);
  }

  &__control {
    width: 100%;
    padding: rem(12px 16px);
    border: 1px solid #ced2df;

    &::placeholder {
      font-size: rem(14px);
    }
  }

  &__helper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 18px;
    margin-left: 10px;
    color: #8ea3c1;
    font-size: 11px;
    border: 1px solid #bfcfe6;
    border-radius: 2px;
  }

  &__label {
    margin-bottom: 0;
  }

  &__pane {
    display: none;
    margin-top: rem(20px);

    &--active {
      display: block;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin-top: rem(24px);
    font-weight: 400;
    font-size: rem(17px);

    &-icon {
      display: flex;
      margin-right: rem(17px);
    }
  }
}

.cart-totals {
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: rem(44px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(25px);
    }
  }

  &__summary {
    margin-left: rem(20px);
    margin-left: rem(21px);
    padding: rem(8px 12px);
    color: #144da4;
    font-size: 12px;
    border: 1px solid rgba(20, 77, 164, 0.25);
    border-radius: 14px;

    @include media-breakpoint-down(md) {
      margin-left: auto;
    }
  }

  &__list {
    @include unlist;

    font-size: rem(19px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(25px);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    span {
      margin-left: auto;
      font-weight: 400;
    }

    &--big {
      margin-bottom: rem(10px);
      font-weight: 400;
      font-size: rem(24px);

      @include media-breakpoint-down(md) {
        font-size: rem(20px);
      }

      span {
        font-weight: 500;

        @include media-breakpoint-down(md) {
          font-size: rem(24px);
        }
      }
    }

    &--small {
      font-size: rem(13px);

      span {
        font-size: rem(19px);
      }
    }
  }

  &__wrap {
    padding: rem(30px);
    padding-bottom: rem(50px);
    border: 1px solid #dadfea;
    border-radius: 3px;

    @include media-breakpoint-down(md) {
      padding: 0;
      border: none;
    }
  }

  &__footer {
    margin-bottom: 10px;
    padding: rem(20px 30px);
    background-color: #ecf1f7;
    border: 1px solid #dadfea;

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
      padding: 20px 15px;
    }
  }

  &__total {
    margin-bottom: rem(14px);
    font-size: rem(24px);
  }

  &__received {
    font-weight: 500;
    font-size: rem(13px);
  }

  &__sum {
    margin-bottom: rem(14px);
    font-size: rem(24px);
  }

  &__bonus {
    font-weight: 300;
    font-size: rem(19px);
  }

  &__right {
    margin-left: auto;
    text-align: right;
  }

  &__btn {
    @extend %btn-accent;

    width: 100%;
    margin-top: rem(20px);

    @include media-breakpoint-down(md) {
      font-size: rem(19px);
    }
  }
}

.forgotten-products {
  &__heading {
    margin-bottom: rem(73px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(32px);
    }
  }

  &__list {
    @include unlist;

    display: grid;
    grid-gap: rem(70px);
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(lg) {
      grid-gap: rem(30px);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    min-width: 0;
    height: 120px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      height: auto;
    }

    &-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &-img {
      display: flex;
      flex: 1 1 50%;
      align-items: center;
      justify-content: center;
      max-width: 150px;
      height: 100%;
      margin-right: rem(30px);

      @include media-breakpoint-down(md) {
        height: 60px;
        margin-bottom: rem(20px);
      }

      picture {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      max-width: 220px;
      font-size: rem(17px);
      line-height: 1.2;

      @include media-breakpoint-down(md) {
        max-width: none;
        margin-bottom: rem(16px);
        font-size: rem(13px);
      }

      a {
        color: #000;
        word-break: break-all;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-prices {
      margin-top: auto;
    }

    &-price {
      font-weight: 400;
      font-size: rem(20px);
    }

    &-old-price {
      font-size: 14px;
      text-decoration: line-through;
    }
  }
}
