.catalogue {
  &__item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 16px;
    margin-left: 0.75rem;
    padding: rem(4px 7px);
    color: #144da4;
    font-size: 12px;
    white-space: nowrap;
    border: 1px solid rgba(20, 77, 164, 0.25);
    border-radius: 8px;
  }

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: rem(45px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(16px);
      padding-bottom: rem(16px);
      border-bottom: 1px solid rgba(#afb7cf, 0.4);
    }
  }

  &__togglers {
    display: none;
    width: 100%;

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(25px);
    }
  }

  &__filter-toggler {
    @extend %btn-outline;

    flex: 0 1 49%;
    border-color: rgba($accent, 0.5);
  }

  &__subcategories {
    margin-bottom: rem(40px);

    @include media-breakpoint-down(md) {
      padding: rem(15px 0);
    }
  }

  &__tags {
    margin-bottom: rem(62px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__related-products {
    margin-bottom: rem(80px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(40px);
    }
  }

  &__installment-banner {
    margin-bottom: rem(36px);
  }

  &__wrap {
    display: flex;
    margin-bottom: rem(90px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__discounts {
    margin: rem(60px 0);

    @include media-breakpoint-down(md) {
      margin: rem(30px 0);
    }
  }

  &__content {
    flex: 1 1 80%;
    padding-left: rem(25px);

    @include media-breakpoint-down(lg) {
      flex: 1 1 70%;
      padding-left: rem(10px);
    }

    @include media-breakpoint-down(md) {
      flex: 1 1 100%;
      width: 100%;
      padding-left: 0;
    }

    &-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: rem(42px);

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }

  &__sort-by {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: -200px;
      flex-direction: column;
      width: 100%;
      padding: rem(10px 15px);
      background: #fff;
      border-bottom: 1px solid #afb7cf;
      transition: 300ms;
    }

    &--expanded {
      top: 140px;
      left: 0;
      transition: 300ms;
    }
  }

  &__products-view {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media (max-width: 1380px) {
      display: none;
    }
  }

  &__products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    & > * {
      min-width: 0;
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-gap: 15px;
      grid-template-columns: repeat(1, 1fr);
    }

    &--list {
      grid-template-columns: repeat(1, 1fr);

      .products__banner {
        grid-column: span 1;
      }

      .products__choice-helper {
        margin-bottom: rem(40px);
      }
    }

    &--5 {
      grid-template-columns: repeat(5, 1fr);

      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media-breakpoint-down(sm) {
        grid-gap: 15px;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__sidebar {
    display: flex;
    flex: 0 1 20%;
    flex-direction: column;
    min-width: 20%;

    @include media-breakpoint-down(lg) {
      flex: 0 1 25%;
    }

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 120px;
      bottom: 0;
      left: -100vw;
      z-index: 100;
      flex: 0 1 100%;
      width: 100%;
      padding: 10px 0;
      overflow: scroll;
      background: white;
      transition: 300ms;
    }

    &--expanded {
      left: 0;
      transition: 300ms;
    }
  }

  &__calculator {
    display: flex;
    align-items: center;
    margin-bottom: rem(25px);
    padding: rem(12px 0 13px 16px);
    color: #FFF;
    font-weight: normal;
    font-size: rem(16px);
    line-height: 130%;
    background: #528CFF;
    border-radius: rem(4px);

    svg {
      margin-right: rem(9px);
    }
  }

  &__btn-more {
    width: 100%;
    margin: rem(30px 0);
    padding: rem(14px 20px);
    color: #2074e3;
    font-weight: 500;
    font-size: rem(24px);
    background-color: #ecf1f7;
  }

  &__pagination {
    margin-top: 30px;
    margin-bottom: rem(56px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__brands {
    margin-bottom: rem(56px);
  }

  &__seo {
    margin: rem(50px 0);
  }
}

.products {
  &__choice-helper {
    height: 100%;

    @include media-breakpoint-down(md) {
      height: 350px;
    }
  }

  &__banner {
    grid-column: span 4;
    margin: rem(15px 0);

    @include media-breakpoint-down(lg) {
      grid-column: span 2;
    }

    @include media-breakpoint-down(md) {
      grid-column: span 1;
      height: 150px;
      margin: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }
}

.sort-by {
  &__label {
    margin-bottom: 0;
    font-weight: 400;
  }

  &__control {
    display: block;
    margin-left: rem(16px);
    padding: 0 25px 0 10px;
    color: #2074e3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'%3E%3Cdesc%3E Generated with Avocode.%3C/desc%3E%3Ctitle%3E Arrow 43 - Shapes4FREE 1 копия 2%3C/title%3E%3Cpath d='M8.8 0.9v0l-3.5 3.3v0h0v0l-0.9 0.8v0l-4.4-4.1v0l0.9-0.8v0l3.5 3.3v0l3.5-3.3v0z' fill='%232074e3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px 5px;
    border: none;
    appearance: none;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }
}

.products-view {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-left: rem(16px);
    opacity: 0.3;

    &--active {
      opacity: 1;
    }
  }
}
