.checkout-page {
  &_position {
    &_sticky {
      position: sticky;
      top: 20px;

      @include media-breakpoint-down(md) {
        top: 120px;
      }
    }
  }

  &__checkout-block {
    margin-bottom: rem(30px);
  }

  &__btn {
    @extend %btn-accent;

    width: 100%;
    font-size: rem(19px);

    @include media-breakpoint-down(md) {
      padding: rem(16px 5px);
      font-size: rem(16px);
    }
  }
}
.input-group.date .input-group-btn {
    position: absolute;
    right: 0;
}
.sna_bline_ul{
  img{
    max-width: 30px;
  }
}
.simple-content .form-group h3{
    margin-top: 30px;
}
.suggestions-input{
    max-width: 66.6666666667%;
    @media (max-width:575x) {
      max-width: 100%;
    }
}
.checkout-block {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(36px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-link {
    margin-left: rem(32px);
    font-weight: 400;
    font-size: rem(17px);

    @include media-breakpoint-down(md) {
      margin-left: rem(0);
      font-size: rem(14px);
    }
  }

  &__heading {
    margin-bottom: 0;
  }

  &__wrap {
    padding: rem(40px 30px);
    border: 1px solid #dadfea;

    @include media-breakpoint-down(md) {
      padding: rem(20px);
    }
  }

  &__form {
    max-width: 515px;

    &--payment-method {
      .form__group {
        margin-bottom: rem(32px);
      }

      .form__label {
        flex-wrap: wrap;

        img {
          margin-left: rem(12px);

          @include media-breakpoint-down(m) {
            margin-left: 0;
            object-fit: contain;
            object-position: left;
          }
        }
      }
    }
  }

  &__tabs {
    .tabs__list {
      width: 100%;
      margin-bottom: rem(40px);
    }

    .tabs__item {
      flex-grow: 1;
      margin: 0;
    }

    .tabs__link {
      display: block;
      width: max-content;
    }
  }

  &__pickup-points {
    .pickup-points__search-form {
      margin-bottom: rem(20px);
    }

    .pickup-points__map {
      height: 520px;

      @include media-breakpoint-down(md) {
        height: 275px;
      }
    }
  }

  &__order-list {
    @include unlist;

    .order-item {
      &__body {
        flex-grow: 1;
      }

      &__quantity {
        flex-basis: 100%;
      }
    }
  }

  .row-shipping_address_delivery_date {
    .form-control {
      padding-left: 40px;
    }

    .input-group-btn {
      position: absolute;
      z-index: 3;
    }
  }
}

.us-module-btn {
  @extend %btn-accent;
}
