.promo-cheaper {
  &__heading {
    margin-bottom: rem(26px);
  }

  &__cheaper-content {
    margin-bottom: rem(81px);
  }

  &__cheaper-steps {
    margin-bottom: rem(82px);
    padding-bottom: rem(100px);
  }
}

.cheaper-content {
  &__content {
    background-color: #ecf1f7;
  }

  &__title {
    max-width: 680px;
    margin-bottom: rem(35px);
    font-weight: 300;
    font-size: rem(24px);
  }

  &__desc {
    max-width: 785px;
    font-weight: 300;
  }

  &__right {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: rem(50px 46px 50px 36px);
    background-color: #f0f4f9;
  }

  &__left {
    padding: rem(50px 46px 50px 36px);

    @include media-breakpoint-down(sm) {
      padding: rem(35px 10px 14px 10px);
    }
  }

  &__download {
    position: relative;
    display: block;
    margin-bottom: rem(15px);

    &::before {
      position: absolute;
      top: 5px;
      left: -22px;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15'%3E%3Cdesc%3E Generated with Avocode.%3C/desc%3E%3Ctitle%3E Download Icon%3C/title%3E%3Cpath d='M13.5 14.8h-11.5c-0.9 0-1.6-0.7-1.6-1.6v-3.3c0 0 0.2 0 0.8 0l0.8 0.8c0 0.9 0.7 2.5 1.6 2.5h8.2c0.9 0 1.6-1.6 1.6-2.5l0.8-0.8c0.9 0 0.8 0 0.8 0v3.3c0 0.9-0.7 1.6-1.6 1.6zM8.7 10.7c-0.6 0.6-1.4 0.6-2 0l-1.5-1.7c-0.4-0.4-0.5-1-0.3-1.6h2.1v-7.4h1.6v7.4h1.9c0.1 0.5 0 1.1-0.3 1.6z' fill='%232352b1'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }
  }

  &__file-info {
    color: #6c6c6c;
    font-weight: 300;
  }

  &__wrap {
    max-width: 322px;
    margin: auto;
  }

  .container {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}

.cheaper-steps {
  &__img {
    display: block;
    padding: rem(17px);
    background: #fff;
    box-shadow: 0 13px 70px rgba(0, 0, 0, 0.05);
  }

  &__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    margin-bottom: rem(15px);
    color: #fff;
    font-size: rem(19px);
    background-color: #144da4;
    border-radius: 50%;

    &--first {
      &::before {
        position: absolute;
        top: 3px;
        left: -44px;
        display: block;
        width: 47px;
        height: 24px;
        background-image: url(~@/img/icon/steps-arrow1.png);
        content: '';
      }
    }

    &--second {
      &::before {
        position: absolute;
        top: -7px;
        left: 50px;
        display: block;
        width: 47px;
        height: 24px;
        background-image: url(~@/img/icon/steps-arrow1.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: scale(-1, 1);
        content: '';
      }
    }

    &--third {
      &::before {
        position: absolute;
        top: -37px;
        left: 25px;
        display: block;
        width: 15px;
        height: 40px;
        background-image: url(~@/img/icon/steps-arrow2.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
      }
    }
  }

  &__description {
    font-weight: 300;
    font-size: rem(15px);

    &--first {
      max-width: 195px;
    }

    &--second {
      max-width: 233px;
    }

    &--thied {
      max-width: 289px;
    }
  }

  &__text {
    position: absolute;

    &--first {
      top: 126px;
      right: 91px;
    }

    &--second {
      top: 370px;
      left: -85px;
    }

    &--third {
      bottom: -199px;
      left: 10px;
    }
  }

  &__item {
    position: relative;
  }
}
