.comparison {
  &__comparison-table {
    position: relative;
  }

  &__item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 16px;
    margin-left: 0.75rem;
    padding: rem(0 7px);
    color: #144da4;
    font-size: 12px;
    white-space: nowrap;
    border: 1px solid rgba(20, 77, 164, 0.25);
    border-radius: 8px;
  }

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: rem(40px);
  }
}

.comparison-table {
  .product-item__title {
    min-height: 80px;
    max-height: 80px;
  }

  .product-item__price {
    min-height: 34px;
    max-height: 34px;
  }
  .product-item__meta{
    min-height: 20px;
  }
  &__wrap {
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 28% 72%;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__tabs {
    .tabs__list {
      margin-bottom: rem(45px);

      @include media-breakpoint-down(sm) {
        margin-bottom: rem(20px);
      }
    }
  }

  &__products {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      height: 11px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #bfcfe6;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
      border: 1px solid #dadfea;
      border-top: none;
    }
  }

  &__form {
    margin-bottom: rem(30px);

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(20px);
    }

    .form__label {
      font-weight: 400;
      font-size: rem(14px);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    height: 470px;

    @include media-breakpoint-down(sm) {
      height: auto !important;
    }
  }

  &__cross-category {
    margin-top: auto;
    margin-bottom: rem(36px);
    font-weight: 400;

    @include media-breakpoint-down(sm) {
      margin: rem(20px 0);
    }
  }

  &__product {
    width: auto;

    .product-item {
      &__benefit {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      &__title {
        @include media-breakpoint-down(sm) {
          font-size: rem(13px);
        }
      }

      &__footer {
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      &__price {
        @include media-breakpoint-down(sm) {
          margin-bottom: rem(14px);
        }
      }

      &__old-price {
        @include media-breakpoint-down(sm) {
          position: static;
        }
      }

      &__btn--cart {
        @include media-breakpoint-down(xs) {
          margin-left: 0;
        }
      }
    }
  }

  &__attributes {
    &-list {
      @include unlist;

      position: relative;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &-item {
      padding: rem(16px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border: 1px solid #dadfea;

      @include media-breakpoint-down(sm) {
        white-space: normal;
      }

      &[data-popup] {
        &::after {
          position: absolute;
          left: 0;
          z-index: 10;
          width: max-content;
          min-width: 100%;
          max-width: 100%;
          padding: rem(16px);
          white-space: normal;
          background: #fff;
          border: 1px solid #dadfea;
          transform: translateY(rem(-17px));
          opacity: 0;
          transition: 250ms;
          content: attr(data-popup);
        }

        &:hover {
          &::after {
            opacity: 1;
            transition: 250ms;
          }
        }
      }

      &[data-title-sm] {
        @include media-breakpoint-down(sm) {
          &::before {
            display: block;
            color: #575757;
            font-weight: 300;
            font-size: 12px;
            content: attr(data-title-sm);
          }
        }
      }
    }
  }

  &__product-attributes {
    @include unlist;
  }

  &__products-list {
    @include unlist;

    display: flex;
  }

  &__btn {
    width: 100%;
    max-width: 230px;
    padding: rem(16px 20px);
    color: #2074e3;
    font-weight: 500;
    background-color: #ecf1f7;

    &:hover {
      text-decoration: none;
    }
  }
}
