.contacts-page {
  &__heading {
    margin-bottom: rem(40px);
  }

  &__contacts-blocks {
    @include unlist;

    display: grid;
    grid-gap: rem(25px);
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: rem(35px);

    @include media-breakpoint-down(lg) {
      grid-gap: 0;
    }

    @include media-breakpoint-down(md) {
      grid-gap: rem(5px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__contacts-block {
    padding: rem(30px);
    border: 1px solid #dadfea;
    border-radius: 2px;
  }

  &__map-wrap {
    position: relative;
    height: 570px;
    background: $accent;

    @include media-breakpoint-down(sm) {
      height: 170px;
      margin: 0 -15px;
      margin-bottom: rem(410px);
    }
  }

  &__map {
    height: 100%;
  }

  &__address-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7%;
    z-index: 10;
    max-width: 315px;
    height: max-content;
    margin: auto;
    padding: rem(40px);
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 18px rgba(0, 60, 255, 0.09);

    @include media-breakpoint-down(sm) {
      top: 100%;
      left: 0;
      max-width: none;
      margin: 0;
    }
  }

  &__address {
    margin-bottom: rem(20px);
    font-size: rem(22px);
  }

  &__nearest-metro {
    margin-bottom: rem(48px);
    font-size: rem(15px);
  }

  &__tel {
    display: block;
    margin-bottom: rem(10px);
    color: #000;
    font-weight: 400;
    font-size: rem(25px);

    &:hover {
      text-decoration: none;
    }
  }

  &__link {
    display: block;
    margin-bottom: rem(42px);
    font-size: rem(18px);
  }

  &__opening-hours {
    font-size: rem(15px);
  }

  &__submenu {
    margin-bottom: rem(55px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__form {
    padding: rem(35px);
    border-radius: 1px;
    box-shadow: 0 2px 18px rgba(0, 60, 255, 0.09);

    @include media-breakpoint-down(lg) {
      padding: rem(20px);
    }

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
    }
  }
}

.contacts-block {
  &__title {
    margin-bottom: rem(12px);
    font-size: rem(18px);
  }

  &__tel {
    display: block;
    margin-bottom: rem(36px);
    color: #000;
    font-weight: 400;
    font-size: rem(25px);

    @include media-breakpoint-down(lg) {
      font-size: rem(21px);
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__link {
    font-weight: 400;
    font-size: rem(15px);

    &-info {
      color: #aaa;
      font-weight: 300;
    }
  }

  &__list {
    @include unlist;

    margin-bottom: rem(20px);
  }
}
