.credit-page {
  &__info {
    margin-bottom: rem(60px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(34px);
    }
  }

  &__subheading {
    margin-bottom: rem(44px);
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
      font-size: rem(20px);
    }
  }

  &__credit-advantages {
    margin-bottom: rem(64px);
  }

  &__credit-steps {
    margin-bottom: rem(60px);
  }
}

.credit-advantages {
  &__list {
    @include unlist;

    display: grid;
    grid-column-gap: rem(20px);
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(md) {
      grid-gap: rem(15px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    padding: rem(36px 25px);
    border: 1px solid #144da4;
    border-radius: 5px;

    @include media-breakpoint-down(md) {
      height: 180px;
      padding: rem(25px);
    }

    &-title {
      height: 60px;
      margin-bottom: rem(22px);
      color: $accent;
      font-weight: 700;
      font-size: rem(30px);
      line-height: 1;

      @include media-breakpoint-down(lg) {
        height: 40px;
        margin-bottom: rem(16px);
        font-size: rem(20px);
      }

      @include media-breakpoint-down(md) {
        height: auto;
        margin-bottom: rem(14px);
        font-size: rem(21px);
      }
    }
  }
}

.credit-steps {
  &__list {
    @include unlist;

    display: grid;
    grid-gap: rem(70px);
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(md) {
      grid-gap: rem(30px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 60px;
    margin-right: rem(16px);
    color: #fff;
    font-weight: 500;
    background-color: #3962b4;
    border-radius: 50%;
  }

  &__description {
    font-weight: 400;
  }
}

.banks-partners {
  &__list {
    @include unlist;

    display: grid;
    grid-gap: rem(34px);
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(md) {
      grid-gap: rem(20px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(30px 40px);
    padding: rem(25px 20px);
    border-radius: 5px;
    box-shadow: 0 13px 70px rgba(0, 0, 0, 0.05);

    &-logo {
      width: 100%;
      max-width: 250px;
      height: 125px;
      margin-bottom: rem(44px);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-limit {
      max-width: 206px;
      margin-bottom: rem(34px);
      font-weight: 400;
      font-size: rem(20px);
    }

    &-rate {
      margin-bottom: rem(48px);
      text-align: center;

      @include media-breakpoint-down(md) {
        margin-bottom: rem(34px);
      }

      b {
        display: block;
        font-weight: 700;
        font-size: rem(20px);
      }
    }

    &-footer {
      display: flex;
      width: 100%;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    &-support {
      @include media-breakpoint-down(md) {
        margin: auto;
        margin-bottom: rem(16px);
        text-align: center;
      }
    }

    &-tel {
      display: block;
      color: #000;
      font-weight: 400;
      font-size: rem(20px);

      &:hover {
        color: #000;
      }
    }

    &-detailed {
      margin-left: auto;

      @include media-breakpoint-down(md) {
        margin: auto;
        text-align: center;
      }
    }

    &-link {
      display: block;
      font-weight: 400;
      font-size: rem(20px);
    }
  }

  &__advantages-list {
    @include unlist;

    max-width: 300px;
    margin-bottom: rem(60px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__advantages-item {
    position: relative;
    margin-bottom: rem(15px);
    padding-left: rem(30px);

    &::before {
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      width: 14px;
      height: 11px;
      background-image: url("data:image/svg+xml,%3Csvg fill='%2314a432' height='11' viewBox='0 -46 417.81333 417' width='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0'/%3E%3C/svg%3E");
      content: '';
    }
  }
}
