.delivery-page {
  &__heading {
    margin-bottom: rem(24px);
    font-weight: 400;
    font-size: rem(40px);
  }

  &__subheading {
    margin-bottom: rem(90px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(32px);
    }
  }

  &__banner {
    display: block;
    width: 100%;
    height: 290px;
    margin-bottom: rem(30px);
    padding: rem(30px 20px);
    background-color: #3962b4;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 1px;

    &-heading {
      max-width: 180px;
      color: #fff;
      font-weight: 500;
      font-size: rem(20px);
      line-height: 1.3;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__additional-services {
    margin-bottom: rem(24px);
    padding: rem(25px 15px);
    border: 1px solid #dde3eb;
    border-radius: 1px;

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
    }
  }

  &__btn {
    @extend %btn-accent;

    width: 100%;
    text-align: center;
  }
}

.modernizr {
  &_webp {
    .delivery-page__banner {
      background-image: url(/webp-images/delivery-banner1.webp);
    }
  }

  &_no-webp {
    .delivery-page__banner {
      background-image: url(~@/img/placeholder/delivery-banner1.png);
    }
  }
}

.delivery-methods {
  &__list {
    @include unlist;
  }

  &__delivery-method {
    position: relative;
    padding: rem(40px 50px);
    border: 1px solid #dde3eb;
    border-radius: 1px;

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
      padding: rem(30px 15px);
    }
  }
}

.delivery-method {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(15px);
  }

  &__img {
    width: 54px;
    height: 60px;

    svg {
      fill: $accent;
    }
  }

  &__text-wrap {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }

  &__period {
    margin-right: rem(24px);
    font-size: rem(15px);
  }

  &__price {
    font-weight: 400;
    font-size: rem(36px);
    line-height: 1;
  }

  &__heading {
    margin-bottom: rem(20px);
    font-weight: 400;
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      font-size: rem(20px);
    }
  }

  &__tags {
    @include unlist;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: rem(26px);
  }

  &__tag {
    margin-right: rem(10px);
    padding: rem(10px 15px);
    font-size: rem(15px);
    border: 1px solid #dde3eb;
    border-radius: 3px;

    @include media-breakpoint-down(md) {
      margin-right: rem(2px);
      margin-bottom: rem(2px);
    }

    &:last-of-type {
      margin: 0;
    }
  }

  &__pricing {
    display: grid;
    grid-gap: rem(50px);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: rem(36px);

    @include media-breakpoint-down(md) {
      grid-gap: 0;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__list {
    @include unlist;

    font-size: rem(15px);
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__secondary-price {
    margin-left: auto;
  }

  &__additional-info {
    margin-bottom: rem(16px);
    font-weight: 400;
    font-size: rem(15px);
  }

  &__info {
    margin-bottom: rem(34px);
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(22px);
    }
  }

  &__link {
    font-weight: 400;
    font-size: rem(18px);
  }

  &__transport-companies {
    max-width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.additional-services {
  &__heading {
    max-width: 155px;
    margin-bottom: rem(25px);
    font-weight: 500;
    font-size: rem(20px);
  }

  &__subheading {
    margin-bottom: rem(30px);
    font-weight: 400;
  }

  &__table {
    width: 100%;
    margin-bottom: rem(48px);

    thead {
      font-size: rem(15px);

      tr {
        border-top: none;
      }

      th {
        &:last-of-type {
          text-align: right;
        }
      }
    }

    tr {
      border-top: 1px solid #dde3eb;
      border-bottom: 1px solid #dde3eb;

      &:last-of-type {
        border-bottom: none;
      }

      td {
        text-align: right;
      }
    }

    th {
      font-weight: 500;
      font-size: rem(14px);
    }

    td {
      padding: rem(6px 0);
      padding-left: rem(15px);
      font-weight: 300;
      font-size: rem(14px);
    }
  }

  &__info {
    font-size: rem(14px);
  }
}
