.discounts-page {
  &__heading {
    margin-bottom: rem(42px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(16px);
      padding-bottom: rem(16px);
      border-bottom: 1px solid rgba(#afb7cf, 0.4);
    }
  }

  &__btn-more {
    width: 100%;
    margin: rem(30px 0);
    padding: rem(14px 20px);
    color: #2074e3;
    font-weight: 500;
    font-size: rem(24px);
    background-color: #ecf1f7;
  }
}
