.error {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 540px;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-down(lg) {
      height: 480px;
      background-size: 120%;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
      padding-top: rem(72px);
      padding-bottom: rem(240px);
      background-image: url(~@/img/bg/error-bg-sm.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: auto;
    }
  }

  &__content {
    width: 100%;
    max-width: 750px;
    margin: auto;
  }

  &__heading {
    margin-bottom: rem(52px);
    font-size: rem(45px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(32px);
      font-size: rem(25px);
    }
  }

  &__number {
    font-weight: 700;
    font-size: rem(172px);
    line-height: 1;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(22px);
      font-size: rem(122px);
    }
  }
}

.modernizr {
  &_webp {
    .error__wrap {
      background-image: url(/webp-images/error-bg.webp);
    }
  }

  &_no-webp {
    .error__wrap {
      background-image: url(~@/img/bg/error-bg.jpg);
    }
  }
}
