.faq-page {
  &__heading {
    margin-bottom: rem(46px);
  }

  &__faq-tabs {
    margin-bottom: rem(66px);
  }

  &__pane {
    display: none;
  }
}

.faq-tabs {
  &__list {
    @include unlist;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: max-content;
    border-bottom: 1px solid #dadfea;

    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
      width: auto;
      margin: 0 -15px;
      padding-left: 15px;
      overflow: scroll;
    }
  }

  &__tab {
    margin-right: rem(52px);
    color: #000;
    font-weight: 400;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding-bottom: rem(17px);
    color: #000;
    border-bottom: 1px solid transparent;

    @include media-breakpoint-down(md) {
      white-space: nowrap;
    }

    &--active {
      color: $accent;
      border-bottom-color: $accent;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.faq-questions {
  &__list {
    @include unlist;
  }

  &__question-item {
    max-width: 765px;
    margin-bottom: rem(30px);

    &--expanded {
      margin-bottom: rem(70px);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(50px);
      }

      .question-item__content {
        display: block;
      }

      .question-item__toggle {
        &::before {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='16' height='2' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 16 2'%3E%3Cdefs%3E%3CclipPath id='ClipPath1038'%3E%3Cpath d='M0.00005,1.99997v0v-1.99999v0h15.9999v0v1.99999v0z' fill='%23ffffff'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath d='M0.00005,1.99997v0v-1.99999v0h15.9999v0v1.99999v0z' fill='%23ffffff' fill-opacity='1'%3E%3C/path%3E%3Cpath d='M0.00005,1.99997v0v-1.99999v0h15.9999v0v1.99999v0z' fill-opacity='0' fill='%23ffffff' stroke-dashoffset='0' stroke-dasharray='' stroke-linejoin='miter' stroke-linecap='butt' stroke-opacity='1' stroke='%233962b4' stroke-miterlimit='20' stroke-width='2' clip-path='url(&quot;%23ClipPath1038&quot;)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }
  }
}

.question-item {
  &__content {
    display: none;
    padding-left: rem(70px);

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: rem(30px);
    font-weight: 400;
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      font-size: rem(20px);
    }
  }

  &__toggle {
    position: relative;
    padding-left: rem(70px);
    text-align: left;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 39px;
      height: 39px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='16' height='16' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 16 16'%3E%3Cdefs%3E%3CclipPath id='ClipPath1017'%3E%3Cpath d='M0.00005,9.00002v0v-1.99999v0h15.9999v0v1.99999v0z' fill='%23ffffff'%3E%3C/path%3E%3C/clipPath%3E%3CclipPath id='ClipPath1025'%3E%3Cpath d='M7.00004,-0.00006v0h1.99991v0v16.00004v0h-1.99991v0z' fill='%23ffffff'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath d='M0.00005,9.00002v0v-1.99999v0h15.9999v0v1.99999v0z' fill='%23ffffff' fill-opacity='1'%3E%3C/path%3E%3Cpath d='M0.00005,9.00002v0v-1.99999v0h15.9999v0v1.99999v0z' fill-opacity='0' fill='%23ffffff' stroke-dashoffset='0' stroke-dasharray='' stroke-linejoin='miter' stroke-linecap='butt' stroke-opacity='1' stroke='%233962b4' stroke-miterlimit='20' stroke-width='2' clip-path='url(&quot;%23ClipPath1017&quot;)'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Ctitle%3EФигура 7 копия 2%3C/title%3E%3Cpath d='M7.00004,-0.00006v0h1.99991v0v16.00004v0h-1.99991v0z' fill='%23ffffff' fill-opacity='1'%3E%3C/path%3E%3Cpath d='M7.00004,-0.00006v0h1.99991v0v16.00004v0h-1.99991v0z' fill-opacity='0' fill='%23ffffff' stroke-dashoffset='0' stroke-dasharray='' stroke-linejoin='miter' stroke-linecap='butt' stroke-opacity='1' stroke='%233962b4' stroke-miterlimit='20' stroke-width='2' clip-path='url(&quot;%23ClipPath1025&quot;)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $accent;
      border-radius: 50%;
      content: '';
    }
  }

  &__text {
    margin-bottom: rem(26px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__list {
    @include unlist;
  }

  &__list-item {
    position: relative;
    margin-bottom: rem(34px);
    padding-left: rem(34px);

    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      width: 24px;
      height: 1px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='1' viewBox='0 0 18 1'%3E%3Cpath d='M18 0v0 1 0h-18v0 -1 0z' fill='%233962b4'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }
  }
}
