.frontpage {
  &__featured-products {
    margin: rem(100px 0);

    @include media-breakpoint-down(sm) {
      margin-top: rem(30px);
      margin-bottom: rem(80px);
    }
  }

  &__promo-advantages {
    padding-top: rem(75px);
    padding-bottom: rem(75px);
    background-color: #f5f6f7;

    @include media-breakpoint-down(sm) {
      padding: rem(30px 0);
    }
  }

  &__discounted-products {
    margin: rem(100px 0);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(75px);
    }

    @include media-breakpoint-down(sm) {
      margin: rem(30px 0);
      margin-bottom: rem(80px);
    }
  }

  &__installation-banner {
    margin: rem(60px 0);

    @include media-breakpoint-down(sm) {
      margin: rem(30px 0);
    }
  }

  &__testimonials {
    margin-top: rem(60px);
    margin-bottom: rem(130px);

    @include media-breakpoint-down(sm) {
      margin-top: rem(30px);
      margin-bottom: rem(85px);
    }
  }

  &__portfolio {
    margin: rem(100px 0);

    @include media-breakpoint-down(sm) {
      margin: rem(30px 0);
    }
  }

  &__seo {
    padding-top: rem(50px);
    padding-bottom: rem(50px);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      padding: rem(30px 0);
      padding-bottom: rem(80px);
      background-position: 80%;
    }

    .seo__content {
      max-width: 780px;
    }

    [data-target='show_more'] {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

.modernizr {
  &_webp {
    .frontpage__seo {
      background-image: url(/webp-images/seo.webp);
    }
  }

  &_no-webp {
    .frontpage__seo {
      background-image: url(~@/img/bg/seo.jpg);
    }
  }

  &_webp,
  &_no-webp {
    @include media-breakpoint-down(xs) {
      .frontpage__seo {
        background-color: #f4f4f4;
        background-image: unset;
      }
    }
  }
  &_no-image {
    .frontpage__seo {
      background-color: #f4f4f4;
      background-image: unset;
    }
  }
}

.installation-banner {
  &__content {
    padding: rem(70px 90px);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @include media-breakpoint-down(lg) {
      padding: rem(60px);
    }

    @include media-breakpoint-down(sm) {
      margin: 0 -15px;
      padding: 25px 15px;
    }
  }

  &__heading {
    max-width: 480px;
    margin-bottom: rem(30px);

    @include media-breakpoint-down(md) {
      max-width: 200px;
      font-weight: 500;
      font-size: rem(18px);
    }
  }

  &__btn {
    @extend %btn-outline;

    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.modernizr {
  &_webp {
    .installation-banner__content {
      background-image: url(/webp-images/installation-bg.webp);

      @include media-breakpoint-down(xs) {
        background-color: #e8e8e8;
        background-image: unset;
      }
    }
  }

  &_no-webp {
    .installation-banner__content {
      background-image: url(~@/img/bg/installation-bg.jpg);

      @include media-breakpoint-down(xs) {
        background-image: url(~@/img/bg/installation-bg-sm.jpg);
      }
    }
  }
}

.promo-advantages {
  &__list {
    @include unlist;

    display: grid;
    grid-gap: rem(32px);
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(sm) {
      grid-gap: rem(10px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    position: relative;
    position: relative;
    width: 100%;
    padding: rem(50px);
    color: #fff;
    background-color: #3962b4;
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.23);

    @include media-breakpoint-down(lg) {
      background-size: 50%;
    }

    @include media-breakpoint-down(md) {
      padding: rem(30px 15px);
    }

    &-title {
      margin-bottom: rem(30px);
      color: #fff;
      font-weight: 500;
      font-size: rem(30px);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(12px);
        font-size: rem(21px);
      }
    }

    &-description {
      max-width: 190px;
      margin-bottom: rem(30px);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(15px);
        font-size: rem(14px);
      }
    }

    &-btn {
      padding: rem(16px 38px);
      color: #fff;
      font-weight: 500;
      font-size: rem(18px);
      border: 1px solid #fff;
      border-radius: 3px;

      &:hover {
        text-decoration: none;
        background-color: white;
      }

      @include media-breakpoint-down(md) {
        padding: rem(8px 20px);
        font-size: rem(13px);
      }
    }
  }
}

.categories {
  padding-top: rem(73px);
  padding-bottom: rem(65px);
  background-color: #ecf1f7;

  @include media-breakpoint-down(sm) {
    padding: rem(30px 0);
  }

  &__content {
    text-align: left;
  }

  &__category-item {
    display: block;
    margin-bottom: rem(30px);
    padding: rem(30px);
    color: #000;
    font-weight: 400;
    background: #fff;

    @include media-breakpoint-down(lg) {
      padding: rem(15px);
      font-size: rem(14px);
    }

    @include media-breakpoint-down(sm) {
      height: 160px;
      padding: rem(15px);
      font-size: rem(14px);
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #144ca2;
    }
  }

  &__small {
    margin-bottom: rem(38px);
    color: #878787;
    font-weight: 400;
    font-size: rem(14px);
    text-align: left;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(24px);
    }
  }

  &__heading {
    max-width: 540px;
    margin-bottom: rem(55px);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(28px);
    }

    @include media-breakpoint-down(md) {
      max-width: none;
      margin-bottom: rem(20px);
    }
  }

  &__subheading {
    max-width: 405px;

    @include media-breakpoint-down(md) {
      max-width: none;
      margin-bottom: rem(20px);
    }
  }
}

.category-item {
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 220px;
    margin: auto;
    margin-bottom: rem(20px);
    text-align: center;

    @include media-breakpoint-down(lg) {
      height: 145px;
    }

    @include media-breakpoint-down(xs) {
      height: 90px;
      margin-bottom: rem(10px);
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
