.guarantee-page {
  &__content {
    h2 {
      margin-top: rem(50px);
      margin-bottom: rem(30px);
      font-size: rem(24px);

      @include media-breakpoint-down(md) {
        margin-bottom: rem(20px);
        font-size: rem(20px);
      }
    }

    ul {
      @include unlist;

      margin-bottom: rem(43px);

      li {
        position: relative;
        margin-bottom: rem(25px);
        padding-left: rem(50px);

        &:last-of-type {
          margin-bottom: 0;
        }

        &::before {
          position: absolute;
          top: 10px;
          left: 0;
          display: block;
          width: 24px;
          height: 1px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='1' viewBox='0 0 24 1'%3E%3Cdesc%3E%3C/desc%3E%3Cpath d='M24 0v0 1 0h-24v0 -1 0z' fill='%23144da4'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
        }
      }
    }

    &--blue {
      margin-bottom: rem(44px);
      padding: rem(44px 34px);
      background-color: #ecf1f7;
      border: 1px solid #dde3eb;
      border-radius: 1px;

      @include media-breakpoint-down(md) {
        padding: 0;
        background: transparent;
        border: none;
      }

      h2 {
        margin-top: 0;
      }
    }
  }

  &__text {
    max-width: 604px;
    margin-bottom: rem(50px);
    font-size: rem(18px);
  }

  &__col {
    height: 100%;
    margin: 0;
    padding-left: rem(10px);
    border-left: 1px solid #e0e8f3;

    @include media-breakpoint-down(md) {
      height: auto;
      margin-bottom: rem(30px);
    }
  }

  &__ask-specialist {
    position: relative;
    padding: rem(44px 34px);
    border: 1px solid #144da4;
    border-radius: 1px;

    @include media-breakpoint-down(md) {
      padding: rem(20px);
    }
  }

  &__submenu {
    position: sticky;
    top: 20px;

    @media (max-width: 992px) {
      display: none;
    }
  }
}

.ask-specialist {
  &__title {
    margin-bottom: rem(123px);
    font-size: rem(24px);
  }

  &__img {
    position: absolute;
    top: 120px;
    right: 28px;
    z-index: -10;
    display: block;
    width: 270px;
    height: 230px;

    @include media-breakpoint-down(md) {
      top: 150px;
      right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    display: block;
    max-width: 150px;
    margin-bottom: rem(20px);
    font-size: rem(20px);
  }

  &__rank {
    max-width: 224px;
    margin-bottom: rem(22px);
  }

  &__btn {
    @extend %btn-accent;

    width: 100%;
  }
}
