.helper-page {
  &__catalogue {
    .catalogue__heading {
      margin-bottom: rem(20px);
    }

    .catalogue__tags {
      margin-bottom: rem(42px);
    }

    .catalogue__content {
      flex: unset;
      padding-left: 0;
    }
  }

  &__brands {
    margin: rem(50px 0);
  }

  &__seo {
    margin: rem(50px 0);
  }
}
