.installment-page {
  &__heading {
    margin-bottom: rem(22px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(32px);
    }
  }

  &__subheading {
    margin-bottom: rem(44px);
    font-size: rem(24px);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(32px);
      font-size: rem(20px);
    }
  }

  &__info {
    max-width: 598px;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
      margin-bottom: rem(40px);
    }
  }

  &__files {
    @include unlist;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(52px);
    }
  }

  &__file-link {
    position: relative;
    display: block;
    margin-bottom: rem(15px);
    padding-left: rem(24px);
    font-weight: 400;
    font-size: rem(16px);

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }

    &-info {
      display: block;
      margin-top: rem(15px);
      color: #6c6c6c;
      font-weight: 300;
    }
  }

  &__credit-advantages {
    margin-bottom: rem(64px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(45px);
    }
  }
}

.installment-conditions {
  &__list {
    @include unlist;
  }

  &__item {
    &::before {
      content: '- ';
    }
  }

  &__title {
    margin-bottom: rem(20px);
    font-weight: 400;
  }

  &__content {
    margin-bottom: rem(36px);
  }

  &__notice {
    display: block;
    max-width: 820px;
    font-size: rem(16px);
  }
}
