.installation {
  &__heading {
    margin-bottom: rem(28px);
  }

  &__install-request {
    padding: rem(36px 30px);
    border: 1px solid #dde3eb;
    border-radius: 1px;

    @include media-breakpoint-down(md) {
      margin: 20px -15px;
      padding: rem(32px 15px);
    }
  }

  &__subheading {
    max-width: 530px;
    margin-bottom: rem(40px);
    font-weight: 400;
    font-size: rem(19px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(24px);
    }
  }

  &__categories {
    margin-bottom: rem(88px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(44px);
    }

    &-heading {
      margin-bottom: 0;
    }

    &-subheading {
      margin: 20px 0 10px;
      font-size: rem(20px);
    }

    &-wrap {
      position: relative;
      padding: 30px;
      background-color: #ecf1f7;

      @include media-breakpoint-down(md) {
        margin: 0 -30px;
        padding-left: 30px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: -45vw;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #ecf1f7;
        content: '';

        @include media-breakpoint-down(md) {
          left: 0;
        }
      }
    }

    &-ebaniilist {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__portfolio {
    margin-top: rem(85px);
    margin-bottom: rem(65px);

    @include media-breakpoint-down(md) {
      margin: rem(50px 0);
    }
  }

  &__submenu {
    position: sticky;
    top: 20px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.install-request {
  &__heading {
    max-width: 200px;
    margin-bottom: rem(20px);
    font-weight: 400;
    font-size: rem(24px);
    line-height: 1.2;
  }

  &__list {
    @include unlist;
  }

  &__item {
    display: flex;
    margin-bottom: rem(20px);
  }

  &__hours {
    width: 70px;
    margin-right: rem(20px);
    font-weight: 400;
    font-size: rem(18px);
  }

  &__info {
    max-width: 140px;
  }

  &__btn {
    @extend %btn-accent;

    width: 100%;
    padding: rem(16px);
    font-size: rem(18px);
  }
}

.installation-errors {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(45px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(25px);
    }
  }

  &__heading {
    margin: 0;
    margin-right: rem(30px);

    @include media-breakpoint-down(md) {
      margin-right: 0;
      font-size: rem(20px);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    height: 45px;
    border: 2px solid #144da4;
    border-radius: 3px;
    transition: 250ms;

    svg path {
      transition: 250ms;
    }

    &:hover {
      background-color: #144da4;

      svg path {
        fill: #fff;
      }
    }
  }

  &__list {
    @include unlist;

    display: grid;
    grid-row-gap: rem(36px);
    grid-column-gap: rem(10px);
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(lg) {
      grid-row-gap: rem(36px);
      grid-column-gap: rem(10px);
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(md) {
      grid-gap: rem(24px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    height: 250px;

    @include media-breakpoint-down(md) {
      height: 190px;
    }

    &-desc {
      flex: 0 1 50%;
      padding: rem(30px);
      font-size: rem(16px);
      line-height: 1.4;
      border: 1px solid #dadfea;

      @include media-breakpoint-down(md) {
        padding: rem(20px);
        font-size: rem(11px);
      }
    }

    &-img {
      flex: 0 1 50%;
      height: 100%;

      @include autoImg;
    }
  }
}
