.order-received {
  &__heading {
    margin-bottom: rem(54px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(37px);
    }
  }

  &__content {
    max-width: 600px;

    @include media-breakpoint-down(md) {
      max-width: none;
    }
  }

  &__order-number {
    margin-bottom: rem(36px);
    color: $accent;
    font-size: rem(30px);

    @include media-breakpoint-down(md) {
      font-size: rem(22px);
    }
  }

  &__subheading {
    margin-bottom: rem(30px);
    font-weight: 500;
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__text {
    margin-bottom: rem(48px);
  }

  &__cart-totals {
    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }

    .cart-totals__item--standart {
      font-weight: 300;

      span {
        font-weight: 500;
        font-size: rem(21px);
      }
    }
  }

  &__order-list {
    @include unlist;

    padding: rem(40px);
    border: 1px solid #dadfea;

    @include media-breakpoint-down(lg) {
      padding: rem(25px);
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      border: none;
    }
  }
}
