.page {
  &__heading {
    margin-bottom: rem(26px);
  }

  &__content {
    h2 {
      margin-top: rem(52px);
      margin-bottom: rem(32px);
    }

    ul {
      list-style: none;
    }

    li {
      margin-bottom: rem(20px);
    }
  }
}
