.partnership {
  &__heading {
    margin-bottom: rem(40px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__subheading {
    margin-bottom: rem(24px);

    @include media-breakpoint-down(md) {
      font-size: rem(20px);
    }
  }

  &__content {
    max-width: 615px;
    margin-bottom: rem(62px);
  }

  &__form {
    padding: rem(35px);
    border-radius: 1px;
    box-shadow: 0 2px 18px rgba(0, 60, 255, 0.09);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(30px);
    }

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
      padding: 35px 15px;
    }
  }

  &__benefits {
    padding: rem(70px 0);
    background: $accent;
  }

  &__partnership-form {
    padding: rem(50px 0);
    padding-bottom: rem(0);

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  &__list {
    @include unlist;

    display: grid;
    grid-gap: rem(40px 20px);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: rem(40px);

    @include media-breakpoint-down(md) {
      grid-gap: rem(30px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 38px;
      height: 38px;
      margin-right: rem(20px);
      border: 1px solid #144da3;
      border-radius: 50%;
    }

    &-info {
      max-width: 275px;
    }
  }

  &__partners-number {
    max-width: 370px;
    font-weight: 500;
    font-size: rem(21px);
  }

  &__wrap {
    margin-bottom: rem(72px);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(30px);
    }

    @include media-breakpoint-down(md) {
      margin-bottom: rem(32px);
    }
  }
}

.benefits {
  &__heading {
    margin-bottom: rem(37px);
    color: #fff;

    @include media-breakpoint-down(md) {
      max-width: 230px;
      margin-bottom: rem(32px);
      font-size: rem(20px);
    }
  }

  &__content {
    position: relative;
  }

  &__list {
    @include unlist;

    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: rem(10px);
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(md) {
      display: block;
    }

    .flickity-page-dots {
      bottom: -40px;

      .dot {
        background-color: #fff;

        &.is-selected {
          &::after {
            position: absolute;
            top: 1px;
            left: 1px;
            width: 70%;
            height: 70%;
            background: $accent;
            border-radius: 50%;
            content: '';
          }
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: rem(40px 35px);
    background: #fff;

    @include media-breakpoint-down(md) {
      height: 170px;
      padding: rem(30px 25px);
    }
  }

  &__description {
    max-width: 255px;
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: -45px;
    left: 0;
    display: none;
    justify-content: space-between;
    width: 100%;
    max-width: 325px;
    margin: auto;

    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  &__control {
    z-index: 10;
    width: 26px;
    height: 26px;

    &--prev svg {
      transform: rotate(180deg);
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: rem(20px);
  }
}

.partnership-form {
  &__wrap {
    padding: rem(60px);
    text-align: center;
    background-color: rgba(#dadfea, 0.2);
    border-radius: 1px;

    @include media-breakpoint-down(md) {
      padding: rem(30px 0);
      background: transparent;
    }
  }

  &__form {
    max-width: 550px;
    margin: auto;

    [class*='col-'] {
      padding: 0 5px;
    }

    .row {
      margin: 0 -5px;
    }

    .form__btn {
      margin-bottom: rem(20px);
    }
  }

  &__content {
    max-width: 720px;
    margin: auto;
  }

  &__subheading {
    margin-bottom: rem(32px);
    font-weight: 300;
    font-size: rem(18px);
  }

  &__policy {
    display: block;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
