.payment-page {
  &__subheading {
    max-width: 780px;
    margin-bottom: rem(66px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(24px);
    }
  }
}

.payment-methods {
  &__list {
    @include unlist;
  }

  &__payment-method {
    padding: rem(30px 50px);
    padding: rem(35px 25px);
    padding-bottom: rem(60px);
    border: 1px solid #dde3eb;
    border-radius: 1px;
  }
}

.payment-method {
  &__content {
    max-width: 775px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(28px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(18px);
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;

    svg {
      fill: $accent;
    }
  }

  &__heading {
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      font-size: rem(20px);
    }
  }

  &__list {
    @include unlist;

    display: grid;
    grid-row-gap: rem(60px);
    grid-column-gap: rem(50px);
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint-down(md) {
      grid-gap: rem(42px);
      grid-template-columns: repeat(1, 1fr);
    }

    &--two-columns {
      grid-template-columns: repeat(2, 1fr);

      @include media-breakpoint-down(md) {
        grid-gap: rem(42px);
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__title {
    margin-bottom: rem(24px);
    font-size: rem(18px);
  }

  &__info {
    font-size: (15px);
  }

  &--last {
    .payment-method__content {
      max-width: 464px;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-top: rem(38px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: rem(25px);
    }
  }

  &__link {
    display: block;
    font-size: rem(18px);
    font-size: 400;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(10px);
    }
  }
}
