.pickup-points {
  &__heading {
    margin-bottom: rem(20px);
  }

  &__city-dropdown {
    display: flex;
    align-items: center;
    margin-bottom: rem(37px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__search-form {
    margin-bottom: rem(30px);

    .search-form__group {
      display: block;
    }
  }

  &__map {
    height: 100%;
  }

  &__points-list {
    @include unlist;

    height: 645px;
    overflow: scroll;
    border: 1px solid #dde3eb;

    @include media-breakpoint-down(md) {
      height: 375px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #144da4;
      border-radius: 2px;
    }

    &--small {
      height: 455px;
      border: none;

      @include media-breakpoint-down(md) {
        height: 375px;
      }

      .points-list__pickup-point {
        position: relative;
        height: 185px;
        padding: rem(25px);
        font-size: rem(14px);
      }

      .pickup-point {
        &__title {
          margin-bottom: 0;
          color: $accent;
          font-size: rem(16px);
        }

        &__address {
          margin-bottom: rem(10px);
        }

        &__price {
          position: absolute;
          top: rem(25px);
          right: rem(25px);
        }

        &__metro {
          margin-bottom: rem(14px);
          font-weight: 500;
          font-size: rem(16px);
        }
      }
    }
  }
}

.city-dropdown {
  &__label {
    margin-bottom: 0;
    font-weight: 400;
  }

  &__control {
    display: block;
    margin-left: rem(16px);
    padding-right: rem(16px);
    color: #2074e3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'%3E%3Cdesc%3E Generated with Avocode.%3C/desc%3E%3Ctitle%3E Arrow 43 - Shapes4FREE 1 копия 2%3C/title%3E%3Cpath d='M8.8 0.9v0l-3.5 3.3v0h0v0l-0.9 0.8v0l-4.4-4.1v0l0.9-0.8v0l3.5 3.3v0l3.5-3.3v0z' fill='%232074e3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 10px 5px;
    border: none;
    appearance: none;
  }
}

.points-list {
  &__pickup-point {
    height: 215px;
    padding: rem(30px);
    font-size: rem(15px);
    border-bottom: 1px solid #dde3eb;
    border-left-color: 1px solid transparent;
    border-radius: 1px;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      height: 185px;
      padding: rem(20px);
    }

    &:last-of-type {
      border-bottom: none;
    }

    &--selected {
      background-color: #ecf1f7;
      border-left-color: $accent;
    }
  }
}

.pickup-point {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(15px);

    @include media-breakpoint-only(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    font-weight: 400;
    font-size: rem(18px);
  }

  &__price {
    margin-left: auto;
    font-weight: 700;
    font-size: rem(20px);

    @include media-breakpoint-only(lg) {
      margin-left: 0;
    }
  }

  &__address {
    margin-bottom: rem(5px);
  }

  &__metro {
    display: flex;
    align-items: center;
    margin-bottom: rem(20px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(10px);
    }

    &::before {
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: rem(8px);
      background-color: #0e55f5;
      border-radius: 50%;
      content: '';
    }
  }

  &__delivery-date {
    font-size: rem(14px);
  }
}
