.portfolio-project {
  &__heading {
    margin-bottom: rem(50px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: rem(20px);
    font-weight: 400;
    font-size: rem(15px);

    svg {
      margin-right: rem(24px);
    }
  }

  &__content {
    margin-bottom: rem(70px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(34px);
    }
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 850px;
    height: 475px;
    margin-bottom: rem(24px);

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }

    @include media-breakpoint-down(md) {
      height: 165px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    width: 100%;
    max-width: 850px;
    margin-bottom: rem(30px);

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  &__project-info {
    margin-bottom: rem(56px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(32px);
    }
  }

  &__sidebar {
    @include media-breakpoint-only(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.project-info {
  &__heading {
    margin-bottom: rem(30px);
    font-weight: 400;
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
      font-size: rem(20px);
    }
  }

  &__text {
    margin-bottom: rem(44px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(26px);
    }
  }

  &__subheading {
    margin-bottom: rem(20px);
    font-weight: 500;
  }

  &__list {
    @include unlist;
  }

  &__item {
    position: relative;
    padding-left: rem(12px);

    &::before {
      position: absolute;
      left: 0;
      content: '-';
    }
  }
}

.portfolio-form {
  &__content {
    padding: rem(30px 25px);
    padding-bottom: rem(38px);
    border: 2px solid #ecf1f7;
  }

  &__title {
    margin-bottom: rem(30px);
    font-weight: 400;
    font-size: rem(24px);
  }

  &__form {
    [class*='col-'] {
      padding: 0 5px;
    }
  }
}
