.portfolio-page {
  &__tags {
    margin-bottom: rem(50px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(12px);
    }
  }

  &__heading {
    margin-bottom: rem(20px);
  }

  &__portfolio {
    .portfolio__list {
      .portfolio__portfolio-item:nth-of-type(n + 3) {
        display: list-item;
      }
    }
  }
}
