.product-page {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(32px);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__left-col {
    display: flex;
    flex: 1 1 60%;
    flex-wrap: wrap;

    @include media-breakpoint-down(lg) {
      flex: 1 1 100%;
    }
  }

  &__right-col {
    flex: 0 1 40%;
    max-width: 510px;
    margin-left: auto;

    @include media-breakpoint-down(lg) {
      flex: 0 1 100%;
      max-width: none;
      margin-top: rem(50px);
    }

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  &__product-gallery {
    position: relative;
    display: flex;
    flex: 0 1 70%;
    height: 420px;

    @include media-breakpoint-down(lg) {
      flex: 0 1 55%;
    }

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      height: 230px;
    }
  }

  &__meta {
    display: flex;
    flex: 1 1 10%;
    flex-direction: column;
    max-width: 200px;
    margin-left: rem(10px);

    @include media-breakpoint-down(lg) {
      flex: 0 1 40%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      align-self: flex-start;
      max-width: none;
      margin-left: auto;
    }

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      margin-top: rem(15px);
    }
  }

  &__sku-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rem(20px);

    @include media-breakpoint-down(lg) {
      flex: 1 1 auto;
      margin: 0;
    }

    @include media-breakpoint-down(xs) {
      flex: 0 1 50%;
    }
  }

  &__sku {
    font-size: rem(15px);
    line-height: 1.1;
  }

  &__availability {
    font-size: rem(17px);

    @include media-breakpoint-down(lg) {
      flex: 1 1 100%;
      margin-left: 0;
      text-align: left;
    }

    @include media-breakpoint-down(xs) {
      flex: 0 1 50%;
      text-align: right;
    }

    &--in-stock {
      color: #37b389;
    }

    &--unavailable {
      opacity: 0.5;
    }
  }

  &__product-shipping {
    margin: rem(45px 0);

    @include media-breakpoint-only(lg) {
      flex: 0 1 50%;
      flex-direction: column;
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: rem(30px 0);
    }

    @include media-breakpoint-down(sm) {
      width: 70%;
    }
  }

  &__rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: rem(30px);

    @include media-breakpoint-only(lg) {
      flex: 0 1 50%;
      align-self: flex-start;
      justify-content: flex-end;
      margin: rem(45px 0);
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-end;
      width: 30%;
      margin-top: rem(30px);
      text-align: right;
    }

    &-wrap {
      display: flex;
      align-items: center;

      svg.filled {
        path {
          fill: #f6705a;
        }
      }
    }
  }

  &__comments {
    margin-left: auto;
    font-size: rem(14px);

    @include media-breakpoint-down(lg) {
      margin-left: 15px;
    }
  }

  &__review-link {
    display: block;
    flex-basis: 100%;
    margin-top: rem(14px);
    font-size: rem(17px);

    @include media-breakpoint-only(lg) {
      margin-top: rem(10px);
      text-align: right;
    }
  }

  &__reviews {
    .review-item__text {
      flex-grow: 1;

      @include media-breakpoint-down(sm) {
        flex-grow: 0;
      }
    }
  }

  &__product-info {
    margin-bottom: rem(30px);
    padding: rem(35px);
    background-color: rgba(#ecf1f7, 0.6);

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
      margin-bottom: rem(30px);
      padding: rem(20px 15px);
    }

    &--secondary {
      margin-bottom: 0;
      padding: rem(25px);
      background: transparent;
      border: 1px solid #dadfea;

      @include media-breakpoint-down(lg) {
        margin-bottom: rem(30px);
      }

      @include media-breakpoint-down(md) {
        padding: rem(25px 15px);
      }

      .product-info__price-old {
        margin-right: rem(10px);
        font-size: rem(14px);
      }

      .product-info__benefit {
        height: 24px;
        font-size: rem(14px);

        &-percentage {
          padding: 0 5px;
        }

        &-text {
          padding: 0 5px;
        }
      }

      .product-info__header {
        margin-bottom: rem(32px);

        @include media-breakpoint-down(md) {
          flex-direction: row;
          margin-bottom: rem(0);
        }
      }

      .product-info__credit {
        margin-bottom: rem(34px);

        @include media-breakpoint-down(md) {
          margin-top: rem(10px);
          margin-bottom: rem(30px);
        }
      }

      .product-info__credit-hint {
        margin-left: rem(6px);
      }

      .product-page__product-shipping {
        justify-content: space-around;
        margin: 0;

        @include media-breakpoint-down(md) {
          justify-content: flex-start;
          margin-top: rem(20px);
        }
      }

      .product-info__btn {
        padding: rem(10px 15px);
        font-size: rem(17px);

        @include media-breakpoint-down(md) {
          padding: rem(10px 5px);
          font-size: rem(16px);
        }
      }

      .product-shipping {
        &__region {
          font-size: rem(17px);
        }

        &__info {
          font-size: rem(15px);

          @include media-breakpoint-down(md) {
            margin: 0;
          }
        }

        &__link {
          font-size: rem(15px);

          @include media-breakpoint-down(md) {
            margin: rem(10px 0);
          }
        }
      }
    }
  }

  &__now-viewing {
    position: absolute;
    bottom: -40px;
    flex-basis: 100%;
    width: 100%;
    font-size: rem(15px);
    text-align: center;

    @include media-breakpoint-down(md) {
      display: none;
    }

    svg {
      margin-right: rem(16px);
    }
  }

  &__related-products {
    margin: rem(80px 0);

    @include media-breakpoint-down(md) {
      margin: rem(40px 0);
      margin-bottom: rem(0);
    }
  }

  &__tabs {
    margin: rem(80px 0);

    .tabs__list {
      margin-bottom: rem(48px);
    }

    @include media-breakpoint-down(md) {
      margin: rem(40px 0);
    }
  }

  &__subheading {
    &--pane-heading {
      margin-top: rem(48px);
      margin-bottom: rem(36px);

      @include media-breakpoint-down(md) {
        margin: rem(20px 0);
      }
    }
  }

  &__pane-content {
    max-width: 880px;
  }

  &__features {
    @include unlist;

    display: grid;
    grid-gap: rem(30px 70px);
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(md) {
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__feature {
    width: 100%;
    margin: 0;
    padding: rem(25px 35px);
    line-height: 1.4;
    background-color: #f5f6f7;
    border-left: 4px solid #144da3;
    border-radius: 0 0 0 10px;

    @include media-breakpoint-down(md) {
      padding: rem(25px);
    }
  }

  &__specifications {
    display: grid;
    grid-gap: rem(40px);
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(lg) {
      grid-gap: 0;
      grid-template-columns: repeat(1, 1fr);
    }

    &-table {
      width: 100%;

      tr {
        border-bottom: 1px solid rgba(#8f8f8f, 0.3);

        &:last-of-type {
          border: none;

          @include media-breakpoint-down(md) {
            border-bottom: 1px solid rgba(#8f8f8f, 0.3);
          }
        }
      }

      td,
      th {
        width: 50%;
        padding: rem(20px 0);
        font-weight: 300;
        font-size: rem(17px);

        @include media-breakpoint-down(md) {
          padding: rem(10px 0);
          font-size: rem(13px);
        }
      }
    }

    &-link {
      display: block;
      margin-bottom: rem(46px);
      font-weight: 400;
      font-size: rem(17px);

      @include media-breakpoint-down(lg) {
        margin-top: rem(30px);
      }

      @include media-breakpoint-down(md) {
        margin-top: rem(20px);
        margin-bottom: rem(30px);
      }
    }
  }

  &__choice-helper {
    width: 100%;
    height: 435px;
    margin-bottom: rem(46px);

    .choice-helper__wrap {
      background-image: url(~@/img/bg/choice-helper-product.png);
      background-position: 30px 40px;
      background-size: 455px 171px;

      @include media-breakpoint-only(lg) {
        background-position: right;
      }
    }

    @include media-breakpoint-down(lg) {
      height: 235px;
    }

    @include media-breakpoint-down(md) {
      height: 290px;
      margin-bottom: rem(15px);

      .choice-helper__title {
        margin-bottom: 0;
        font-size: rem(19px);
      }

      .choice-helper__wrap {
        background-size: 270px 100px;
      }
    }
  }

  &__files {
    @include unlist;

    margin-bottom: rem(30px);
  }

  &__file {
    margin-bottom: rem(20px);

    &-link {
      display: flex;
      align-items: center;
      padding: rem(25px 30px);
      border: 1px solid #dadfea;

      @include media-breakpoint-down(md) {
        padding: rem(20px);
      }

      &:hover {
        text-decoration: none;
      }
    }

    &-icon {
      width: 40px;
      height: 40px;
      margin-right: rem(30px);
    }

    &-title {
      color: #000;
      font-size: rem(22px);

      @include media-breakpoint-down(md) {
        font-size: rem(16px);
      }
    }

    &-info {
      color: #7d7d7d;
      font-size: rem(12px);
    }
  }

  &__featured-products {
    margin: rem(50px 0);
    margin-bottom: rem(100px);
  }

  &__help-form {
    margin: rem(50px 0);
  }

  &__forgotten-products {
    margin: rem(50px 0);
  }

  &__about-company {
    .about-company__heading {
      margin-bottom: 0;
    }

    .about-company__company-advantages {
      margin-top: rem(50px);

      @include media-breakpoint-down(md) {
        margin-top: rem(20px);
      }
    }
  }

  &__countdown-timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(13px 35px);
    border: 1px solid #e6ebf2;

    @include media-breakpoint-down(lg) {
      padding: rem(15px);
    }

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
    }
  }

  &__subheading {
    margin-bottom: rem(20px);
  }
}

.product-gallery {
  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 427px;
    height: 105px;
    transform: rotate(90deg) translate(-5px, -100%);
    transform-origin: left top;

    @include media-breakpoint-down(md) {
      top: 3px;
      width: 230px;
      height: 60px;
    }

    .flickity-prev-next-button {
      width: 30px;
      height: 30px;

      &.previous {
        left: 5px;
      }

      &.next {
        right: 5px;
      }
    }
  }

  &__main {
    flex: 0 1 80%;
    max-width: 515px;
    height: 420px;
    margin-left: 110px;
    border: 1px solid #dadfea;

    @include media-breakpoint-down(md) {
      height: 230px;
      margin-left: rem(70px);
    }
  }

  &__img {
    display: block;

    &--thumbnail {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 101px;
      margin-bottom: rem(4px);
      transform: rotate(-90deg);
      cursor: pointer;

      @include media-breakpoint-down(md) {
        height: 60px;
      }

      &::before {
        position: absolute;
        top: 3px;
        left: 0;
        width: 97%;
        height: 98%;
        border: 1px solid #dadfea;
        content: '';

        @include media-breakpoint-down(md) {
          height: 94%;
        }
      }

      img {
        padding: rem(8px 12px);
        opacity: 0.2;
        transition: 250ms;
      }

      &.is-nav-selected {
        img {
          opacity: 1;
          transition: 250ms;
        }
      }
    }

    &--full {
      width: 100%;
      height: 100%;
      padding: rem(30px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.product-shipping {
  &__heading {
    margin-bottom: rem(8px);
    font-size: rem(22px);

    @include media-breakpoint-down(md) {
      flex: 0 1 auto;
      margin-bottom: 0;
      font-size: rem(17px);
    }
  }

  &__region {
    margin-bottom: rem(24px);
    color: #0e55f5;
    font-weight: 400;
    font-size: rem(17px);

    @include media-breakpoint-down(md) {
      flex: 0 1 50%;
      margin-bottom: 0;
      margin-left: 5px;
    }
  }

  &__info {
    margin-bottom: rem(12px);
    color: #000;
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      margin-top: rem(15px);
    }
  }

  &__link {
    color: #8e8e8e;
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      margin-top: rem(15px);
      margin-left: 5px;
    }
  }
}

.product-info {
  &__header {
    display: flex;
    align-items: center;
    min-height: 40px;
    margin-bottom: rem(20px);

    @include media-breakpoint-down(md) {
      position: relative;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  &__old-price {
    margin-right: rem(18px);
    color: #5b5b5b;
    font-weight: 400;
    text-decoration: line-through;

    @include media-breakpoint-down(md) {
      font-size: rem(20px);
    }
  }

  &__benefit {
    display: flex;
    align-items: center;
    height: 30px;
    font-weight: 400;
    font-size: rem(14px);
    border: 1px solid #d20000;
    border-radius: 2px;

    &-percentage {
      display: flex;
      align-items: center;
      height: 100%;
      padding: rem(0 8px);
      color: #fff;
      background: #d20000;
    }

    &-text {
      padding: rem(0 8px);
      color: #d20000;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 5px;
    }
  }

  &__high-price {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: auto;
    padding: rem(0 12px);
    color: #000;
    font-size: rem(14px);
    border: 1px solid #bfcfe6;
    border-radius: 2px;
    transition: 250ms;

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 0;
      right: -5px;
      margin-bottom: 5px;
      margin-left: 0;
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: $accent;
      border-color: $accent;
      transition: 250ms;
    }
  }

  &__price-wrap {
    display: flex;
    align-items: center;
    margin-bottom: rem(16px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__price {
    font-weight: 500;
    font-size: rem(42px);
    line-height: 1;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &__credit {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: rem(15px);

    &-hint {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin-left: rem(12px);
      color: #8ea3c1;
      font-size: 11px;
      border: 1px solid #bfcfe6;
      border-radius: 2px;
    }
  }

  &__bonuses {
    display: flex;
    align-items: center;
    margin-bottom: rem(35px);
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }

    &-img {
      display: block;
      margin-right: rem(10px);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(21px);
  }

  &__btn {
    display: flex;
    flex: 0 1 49%;
    align-items: center;
    justify-content: center;
    padding: rem(15px 30px);
    font-size: rem(19px);
    border: 1px solid $accent;
    border-radius: 3px;
    transition: 250ms;

    @include media-breakpoint-down(md) {
      padding: rem(10px 5px);
      font-size: rem(16px);
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #3c73e1;
      border-color: #3c73e1;
      transition: 250ms;
    }

    svg {
      margin-right: rem(16px);
    }

    &--add-to-cart {
      color: #fff;
      background-color: $accent;

      &::before {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        background-image: url(~@/img/icon/product-button-1.svg);
        background-repeat: no-repeat;
        content: '';
      }
    }

    &--one-click {
      color: #000;
      border: 1px solid $accent;
    }

    &--gift {
      position: relative;

      &::before {
        position: absolute;
        top: -15px;
        right: -5px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        background-image: url('~@/img/icon/gift.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px 18px;
        border-radius: 50%;
        content: '';
      }
    }
  }
}

.product-attributes {
  &__heading {
    margin-bottom: rem(20px);
    font-size: rem(22px);

    @include media-breakpoint-down(md) {
      font-size: rem(20px);
    }
  }

  &__list {
    @include unlist;

    display: grid;
    grid-gap: rem(20px 75px);
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(md) {
      grid-gap: rem(12px);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    color: #000;
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      font-size: rem(13px);
    }

    span {
      color: #939393;
    }
  }
}

.cheaper-product {
  &__wrap {
    padding: rem(25px);
    border: 1px solid #dadfea;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(24px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__img {
    display: block;
    flex: 0 1 45%;
    max-width: 230px;
    height: 115px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    flex: 0 1 45%;
    margin-left: auto;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      margin-left: 0;
    }
  }

  &__status {
    margin-bottom: rem(4px);
    font-weight: 500;
    font-size: rem(19px);
  }

  &__variants {
    @include unlist;
  }

  &__variant {
    &::before {
      content: '-';
    }
  }

  &__cat {
    margin-bottom: rem(20px);
    color: #717171;
    font-size: rem(14px);
    line-height: 1;
  }

  &__title {
    margin-bottom: rem(34px);
    color: #000;
    font-size: rem(17px);
    line-height: 115%;
  }

  &__footer {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  &__price {
    position: relative;
    color: #000;
    font-size: rem(20px);
    line-height: 1;
  }

  &__benefit {
    margin: auto;
    padding: rem(7px 10px);
    color: #d20000;
    font-size: rem(14px);
    line-height: 1;
    border: 1px solid #d20000;
    border-radius: 2px;

    @include media-breakpoint-down(lg) {
      margin-left: rem(20px);
    }
  }

  &__btn {
    @extend %btn-accent;

    margin: 0;
    margin-left: auto;
    padding: rem(5px 15px);
    font-size: rem(19px);
    border-radius: 3px;
    transition: 250ms;

    @include media-breakpoint-down(md) {
      flex: 0 1 80%;
      margin-top: rem(20px);
      margin-left: 0;
    }

    svg path {
      transition: 250ms;
    }
  }
}

.help-form {
  &__wrap {
    padding: rem(50px 25px);
    text-align: center;
    background-color: rgba(#dadfea, 0.2);
    border-radius: 1px;

    @include media-breakpoint-down(md) {
      padding: rem(35px 25px);
      border-radius: 10px;
    }
  }

  &__form {
    [class*='col-'] {
      padding: 0 5px;
    }

    .row {
      margin: 0 -5px;
    }

    .form__btn {
      margin-bottom: rem(20px);
    }

    .form__notice {
      display: block;
      max-width: 540px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__heading {
    margin-bottom: rem(30px);
  }

  &__content {
    max-width: 850px;
    margin: auto;
  }

  &__subheading {
    margin-bottom: rem(45px);
  }
}

.gift-product {
  &__wrap {
    position: relative;
    padding: rem(22px);
    padding-top: rem(72px);
    border: 1px solid #36a809;
  }

  &__heading {
    position: absolute;
    top: -15px;
    left: -1px;
    max-width: 150px;
    padding: rem(8px);
    padding-left: rem(42px);
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    background: #fff;

    &::before {
      position: absolute;
      top: 0;
      left: -10px;
      width: 45px;
      height: 45px;
      background-color: #f3f6fa;
      background-image: url('~@/img/icon/gift.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      left: -10px;
      display: block;
      width: 8px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='8' height='8' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 8 8'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EПрямоугольник 3 копия 3%3C/title%3E%3Cpath d='M3.19997,-0.00024h1.59999l0,3.19983h3.19987v1.60073h-3.19987v3.19983h-1.59999l0,-3.19983h-3.19998v-1.60073h3.19998z' fill='%23083da8' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      content: '';
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(10px);
  }

  &__img {
    display: block;
    flex: 0 1 40%;
    max-width: 100%;
    height: 70px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__price-wrap {
    flex: 1 1 60%;
  }

  &__old-price {
    color: #7b7b7b;
    text-decoration: line-through;
  }

  &__title {
    margin-bottom: rem(16px);
    line-height: rem(18px);
  }

  &__price {
    font-weight: 400;
    font-size: rem(20px);
  }

  &__link {
    display: block;
    color: #000;

    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  &__btn {
    @extend %btn-green;

    padding: rem(8px 8px);
  }
}

.countdown-timer {
  &__title {
    font-size: rem(15px);
  }

  &__timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 125px;
    padding: rem(7px 10px);
    color: #fff;
    font-weight: 400;
    font-size: rem(15px);
    background-color: #36a809;
    border-radius: 2px;

    @include media-breakpoint-down(md) {
      min-width: 115px;
      padding: rem(5px);
    }

    &::before {
      width: 15px;
      height: 15px;
      margin-right: rem(10px);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath d='M7.3 14.6c-4 0-7.2-3.2-7.2-7.2 0-4 3.2-7.2 7.2-7.2 4 0 7.2 3.2 7.2 7.2 0 4-3.2 7.2-7.2 7.2zM7.3 1.8c-3.1 0-5.6 2.5-5.6 5.6 0 3.1 2.5 5.6 5.6 5.6 3.1 0 5.6-2.5 5.6-5.6 0-3.1-2.5-5.6-5.6-5.6zM9.2 9.7l-2.3-1.4c-0.3-0.2-0.5-0.6-0.4-0.9v-2.4c0-0.4 0.4-0.8 0.8-0.8 0.4 0 0.8 0.4 0.8 0.8v1.9l2 1.2c0.4 0.3 0.6 0.8 0.3 1.3 -0.2 0.4-0.8 0.6-1.2 0.3z' fill='%23fff'/%3E%3C/svg%3E");
      background-size: contain;
      content: '';
    }
  }
}
