.promo-page {
  &__heading {
    margin-bottom: rem(40px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(14px);
    }
  }

  &__subheading {
    margin-bottom: rem(40px);
  }

  &__page-banner {
    margin-bottom: rem(64px);
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__btn-more {
    width: 100%;
    margin: rem(30px 0);
    padding: rem(14px 20px);
    color: #2074e3;
    font-weight: 500;
    font-size: rem(24px);
    background-color: #ecf1f7;
  }

  &__pagintaion {
    margin-bottom: rem(88px);
  }

  &__discounts {
    margin-bottom: rem(64px);
  }
}

.page-banner {
  &__wrap {
    padding: rem(55px 45px);
    background-image: url(~@/img/bg/promopage-bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(md) {
      height: 670px;
      margin: 0 -15px;
      padding: rem(35px 15px);
      background-color: #edeef2;
      background-position: left bottom;
      background-size: 400%;
    }
  }

  &__text {
    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__content {
    max-width: 465px;
    margin-right: rem(30px);
    margin-left: auto;

    @include media-breakpoint-down(md) {
      max-width: none;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__title {
    margin-bottom: rem(22px);
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(36px);
      font-size: rem(19px);
    }
  }

  &__meta {
    margin-left: auto;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 0;
    }
  }

  &__status {
    display: inline-block;
    margin-bottom: rem(32px);
    padding: rem(12px 20px);
    color: #fff;
    font-weight: 400;
    font-size: rem(17px);
    border-radius: 5px;

    @include media-breakpoint-down(md) {
      flex: 0 1 40%;
      margin-bottom: 0;
    }

    &--active {
      background-color: #45a11c;
    }

    &--inactive {
      background-color: #717171;
    }
  }

  &__duration {
    margin-bottom: rem(55px);

    @include media-breakpoint-down(md) {
      flex: 0 1 50%;
      margin-bottom: 0;
      margin-left: auto;
    }
  }

  &__attachment {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      margin-top: rem(30px);
    }

    &-link {
      position: relative;
      display: block;
      margin-bottom: rem(15px);
      padding-left: rem(24px);
      font-size: rem(16px);

      &::before {
        position: absolute;
        top: 5px;
        left: 0;
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15'%3E%3Cdesc%3E Generated with Avocode.%3C/desc%3E%3Ctitle%3E Download Icon%3C/title%3E%3Cpath d='M13.5 14.8h-11.5c-0.9 0-1.6-0.7-1.6-1.6v-3.3c0 0 0.2 0 0.8 0l0.8 0.8c0 0.9 0.7 2.5 1.6 2.5h8.2c0.9 0 1.6-1.6 1.6-2.5l0.8-0.8c0.9 0 0.8 0 0.8 0v3.3c0 0.9-0.7 1.6-1.6 1.6zM8.7 10.7c-0.6 0.6-1.4 0.6-2 0l-1.5-1.7c-0.4-0.4-0.5-1-0.3-1.6h2.1v-7.4h1.6v7.4h1.9c0.1 0.5 0 1.1-0.3 1.6z' fill='%232352b1'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
      }
    }

    &-info {
      margin-left: rem(3px);
      color: #6c6c6c;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }
}
