.promo-cheaper {
  &__heading {
    margin-bottom: rem(26px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20px);
    }
  }

  &__wrap {
    margin-bottom: rem(80px);
    background-color: rgba(#ecf1f7, 0.5);

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
    }
  }

  &__info {
    padding: rem(50px 40px);

    @include media-breakpoint-down(m) {
      padding: rem(35px 15px);
    }
  }

  &__title {
    max-width: 700px;
    margin-bottom: rem(35px);
    font-size: rem(24px);

    @include media-breakpoint-down(md) {
      font-size: rem(22px);
    }
  }

  &__desc {
    max-width: 785px;

    @include media-breakpoint-down(md) {
      font-size: rem(15px);
    }
  }

  &__files {
    @include unlist;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: rem(50px 40px);
    background-color: rgba(#ecf1f7, 0.5);

    @include media-breakpoint-down(md) {
      padding: rem(35px 15px);
      padding-top: 0;
      background: transparent;
    }
  }

  &__link {
    position: relative;
    display: block;
    margin-bottom: rem(15px);
    padding-left: rem(24px);

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15'%3E%3Cdesc%3E Generated with Avocode.%3C/desc%3E%3Ctitle%3E Download Icon%3C/title%3E%3Cpath d='M13.5 14.8h-11.5c-0.9 0-1.6-0.7-1.6-1.6v-3.3c0 0 0.2 0 0.8 0l0.8 0.8c0 0.9 0.7 2.5 1.6 2.5h8.2c0.9 0 1.6-1.6 1.6-2.5l0.8-0.8c0.9 0 0.8 0 0.8 0v3.3c0 0.9-0.7 1.6-1.6 1.6zM8.7 10.7c-0.6 0.6-1.4 0.6-2 0l-1.5-1.7c-0.4-0.4-0.5-1-0.3-1.6h2.1v-7.4h1.6v7.4h1.9c0.1 0.5 0 1.1-0.3 1.6z' fill='%232352b1'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }

    &-info {
      display: block;
      margin-top: rem(20px);
      color: #6c6c6c;
      font-weight: 300;
    }
  }

  &__cheaper-content {
    margin-bottom: rem(81px);
  }

  &__cheaper-steps {
    padding-bottom: rem(180px);

    @include media-breakpoint-down(lg) {
      padding-bottom: rem(240px);
    }

    @include media-breakpoint-down(md) {
      padding-bottom: rem(0);
    }
  }
}

.cheaper-steps {
  &__img {
    display: block;
    max-width: 360px;
    padding: rem(17px);
    background: #fff;
    box-shadow: 0 13px 70px rgba(0, 0, 0, 0.05);

    @include media-breakpoint-down(md) {
      margin: auto;
    }

    img {
      max-width: 100%;
    }
  }

  &__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    margin-bottom: rem(15px);
    color: #fff;
    font-size: rem(19px);
    background-color: #144da4;
    border-radius: 50%;

    &::before {
      position: absolute;
      display: block;
      width: 47px;
      height: 24px;
      background-image: url(~@/img/icon/steps-arrow1.png);
      background-repeat: no-repeat;
      background-size: contain;
      content: '';

      @include media-breakpoint-down(md) {
        content: none;
      }
    }
  }

  &__description {
    font-weight: 300;
    font-size: rem(15px);

    @include media-breakpoint-down(md) {
      margin-left: rem(16px);
    }
  }

  &__text {
    position: absolute;

    @include media-breakpoint-down(md) {
      position: static;
      display: flex;
      justify-content: center;
      margin: rem(30px 0);
    }
  }

  &__item {
    position: relative;

    &--first {
      .cheaper-steps__description {
        max-width: 195px;
      }

      .cheaper-steps__number {
        &::before {
          top: -7px;
          left: -40px;
        }
      }

      .cheaper-steps__text {
        top: 126px;
        right: 91px;

        @include media-breakpoint-down(lg) {
          right: -129px;
        }
      }
    }

    &--second {
      .cheaper-steps__description {
        max-width: 233px;
      }

      .cheaper-steps__number {
        &::before {
          top: -7px;
          left: 50px;
          transform: scale(-1, 1);
        }
      }

      .cheaper-steps__text {
        top: 370px;
        left: -85px;
      }
    }

    &--third {
      @include media-breakpoint-down(lg) {
        margin-top: rem(35px);
      }

      .cheaper-steps__description {
        max-width: 289px;
      }

      .cheaper-steps__number {
        &::before {
          top: -25px;
          left: 15px;
          transform: scale(-1, 1) rotate(45deg);
        }
      }

      .cheaper-steps__text {
        bottom: -199px;
        left: 10px;
      }
    }
  }
}

.discount-conditions {
  &__heading {
    margin-bottom: rem(50px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(24px);
    }
  }

  &__wrap {
    padding-top: rem(75px);
    padding-bottom: rem(50px);
    color: #fff;
    background-color: #07429a;
    background-image: url(~@/img/bg/about-company1.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(md) {
      padding: rem(40px 0);
      padding-bottom: rem(55px);
    }
  }

  &__list {
    @include unlist;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-down(md) {
      display: block;
    }

    .flickity-page-dots {
      bottom: -30px;

      .dot {
        background-color: #fff;

        &.is-selected {
          &::after {
            position: absolute;
            top: 1px;
            left: 1px;
            width: 70%;
            height: 70%;
            background: $accent;
            border-radius: 50%;
            content: '';
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    padding: rem(0 30px);
    padding-top: rem(150px);
    padding-bottom: rem(60px);
    color: #000;
    font-size: rem(19px);
    background: #fff;
    background-repeat: no-repeat;
    background-position: -15px 0;
    background-size: 130px 125px;
    border: 1px solid #dadfea;
    border-radius: 3px;

    @include media-breakpoint-down(md) {
      width: 50%;
      height: 250px;
      padding: rem(20px 15px);
      padding-top: rem(80px);
      background-position: 0 0;
      background-size: 70px 70px;
    }

    &-wrap {
      font-weight: 400;
      font-size: rem(19px);
      line-height: 1.3;

      @include media-breakpoint-down(md) {
        font-size: rem(13px);
      }
    }
  }
}
