.reviews-page {
  &__heading {
    margin-bottom: rem(25px);
  }

  &__reviews {
    width: 100%;
    max-width: 950px;
  }

  &__submenu {
    margin-bottom: rem(80px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__about-company {
    .about-company__wrap {
      padding: rem(60px 0);
    }

    .about-company__company-advantages {
      margin-top: 0;
    }
  }
}
