.services-page {
  &__heading {
    margin-bottom: rem(22px);
  }

  &__info {
    max-width: 670px;
    margin-bottom: rem(70px);
    font-weight: 300;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__services {
    margin-bottom: rem(75px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(30px);
    }
  }

  &__content {
    margin-bottom: rem(120px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(0);
    }
  }

  &__submenu {
    position: sticky;
    top: 20px;
  }
}
