.sitemap {
  &__heading {
    margin-bottom: rem(44px);
  }

  &__list {
    @include unlist;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(70px);

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__sublist {
    @include unlist;

    padding-top: rem(32px);
    padding-left: rem(32px);
    border-left: 3px solid #dadfea;
  }

  &__subsublist {
    @include unlist;

    margin-bottom: rem(42px);
    padding-top: rem(20px);
    padding-left: rem(20px);
  }

  &__item {
    &-title {
      margin-bottom: 0;
      font-weight: 400;
      font-size: rem(30px);
    }

    &-link {
      color: #0e55f5;
    }
  }

  &__subitem {
    &-title {
      position: relative;
      font-weight: 400;
      font-size: rem(24px);

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: rem(-32px);
        width: 18px;
        height: 1px;
        margin: auto;
        background-color: #dadfea;
        content: '';
      }
    }

    &-link {
      color: #000;
    }
  }

  &__subsubitem {
    &-title {
      font-weight: 300;
      font-size: rem(18px);
    }

    &-link {
      color: #000;
    }
  }
}
