{% if show_price %}
{#    <div>#}
{#        <div class="ocf-option-name">#}
{#            {{ text_price }}&nbsp;{{ symbol_left }}#}
{#            <span id="price-from">{{ min_price_get }}</span>&nbsp;-&nbsp;<span#}
{#                    id="price-to">{{ max_price_get }}</span>{{ symbol_right }}#}
{#        </div>#}

{#        <div class="ocf-option-values">#}
{#            <div id="scale-price" class="scale ocf-target" data-option-id="p"#}
{#                 data-start-min="{{ min_price_get }}"#}
{#                 data-start-max="{{ max_price_get }}"#}
{#                 data-range-min="{{ min_price }}"#}
{#                 data-range-max="{{ max_price }}"#}
{#                 data-element-min="#price-from"#}
{#                 data-element-max="#price-to"#}
{#                 data-control-min="#min-price-value"#}
{#                 data-control-max="#max-price-value"#}
{#            ></div>#}
{#        </div>#}
{#    </div>#}
    {% set priceOption = {
        'option_id': 'p',
        'slide_value_min': min_price,
        'slide_value_max': max_price,
        'slide_value_min_get': min_price_get,
        'slide_value_max_get': max_price_get,
        'type': 'slide_dual',
        'name': text_price
    } %}
    {% include "default/template/extension/module/ocfilter/filter_item.twig" with {'option': priceOption} %}
{% endif %}
