<div class="filters__form filters__form--range-input form ocf-range" data-option-id="{{ option.option_id }}">
    <div class="form__group">
        <input type="number" id="filter-from-{{ option.option_id }}" min="{{ option.slide_value_min }}"
               class="form__control" data-type="min" value="{{ option.slide_value_min_get }}">
        <label for="filter-from-{{ option.option_id }}" class="form__label">от</label>
    </div>
    <div class="form__group">
        <input type="number" id="filter-to-{{ option.option_id }}" max="{{ option.slide_value_max }}"
               class="form__control" data-type="max" value="{{ option.slide_value_max_get }}">
        <label for="filter-to-{{ option.option_id }}" class="form__label">до</label>
    </div>
</div>
