{% if options or show_price %}

    <div class="ocf-offcanvas ocfilter-mobile d-lg-none">

        <div class="ocfilter-mobile-handle">

            {#<button type="button" class="us-module-btn us-module-btn-green" data-toggle="offcanvas"><i
                        class="fa fa-filter"></i></button>#}

        </div>
        <div class="ocf-offcanvas-body"></div>
    </div>
    <aside class="catalogue__sidebar" id="ocfilter">
      <div class='catalogue__calculator'>
        <svg width="14" height="14"><use xlink:href='assets/svg/sprite.svg#sliders'></use></svg>
        Калькулятор подбора
      </div>

        <div class="sidebar__wrap">
            <div class="mb-2 text-right ocfilter-close-btn">
                <button class="btn btn-danger" type="button" data-toggle="filters">Закрыть</button>
            </div>
            <div class="sidebar__filters filters">
                {% include 'default/template/extension/module/ocfilter/selected_filter.twig' %}

                {% include 'default/template/extension/module/ocfilter/filter_price.twig' %}

                {% include 'default/template/extension/module/ocfilter/filter_list.twig' %}

                <div class="ocfilter-btn-wrapper ocfilter-btn--clear">
                    <button type="button" {% if not selecteds %} disabled {% endif %} onclick="location = '{{ link }}';"
                            class="btn btn-gray">{{ text_cancel_all }}</button>
                </div>
            </div>
        </div>
        <button class="sidebar__btn" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Загрузка.."
                id="ocfilter-button">
            Показать
        </button>
    </aside>
    <script src="/assets/js/page-with-filter.js" defer></script>
    <script type="text/javascript"><!--
      document.addEventListener('DOMContentLoaded', () => {
        var options = {
          php: {
            searchButton: {{ search_button ? 'true' : 'false' }},
            showPrice: {{ show_price ? 'true' : 'false' }},
            showCounter: {{ show_counter ? 'true' : 'false' }},
            manualPrice: {{ manual_price ? 'true' : 'false' }},
            link: '{{ link }}',
            path: '{{ path }}',
            params: '{{ params }}',
            index: '{{ index }}'
          },
          text: {
            show_all: '{{ text_show_all }}',
            hide: '{{ text_hide }}',
            load: '{{ text_load }}',
            any: '{{ text_any }}',
            select: '{{ button_select }}'
          }
        }

        window.initFilter(options)
      })
    //--></script>
{% endif %}
