<div class="form__group form__group--checkbox">
{% if option.color %}
  <div class="ocf-color" style="background-color: #{{ value.color }};"></div>
{% endif %}

{% if option.image %}
  <div class="ocf-image" style="background-image: url({{ value.image }});"></div>
{% endif %}

{% if value.selected %}
  <label id="v-{{ value.id }}" class="ocf-selected" data-option-id="{{ option.option_id }}">
    <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" checked="checked" class="form__control ocf-target"/>

    <span class="form__label">{{ value.name }}</span>

    {% if show_counter %}
      <small></small>
    {% endif %}
  </label>
{% elseif value.count %}
  <label id="v-{{ value.id }}" data-option-id="{{ option.option_id }}">
    <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" class="form__control ocf-target"/>

    <span class="form__label">{{ value.name }}</span>

    {% if show_counter %}
      (<small>{{ value.count }}</small>)
    {% endif %}
  </label>
{% else %}
  <label id="v-{{ value.id }}" class="disabled" data-option-id="{{ option.option_id }}">
    <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="" disabled="disabled" class="form__control ocf-target"/>

    <span class="form__label">{{ value.name }}</span>

    {% if show_counter %}
      (<small>0</small>)
    {% endif %}
  </label>
{% endif %}
</div>
