{% if show_values_limit > 0 and option.values|length > show_values_limit %}
    {% set hidden_values = option.values[show_values_limit:] %}
    {% set values = option.values[:show_values_limit] %}
{% else %}
    {% set hidden_values = [] %}
    {% set values = option.values %}
{% endif %}

{% for value in values %}
    {% include 'default/template/extension/module/ocfilter/value_item.twig' %}
{% endfor %}
{% if hidden_values|length > 0 %}
    <button class="filters__btn-more" data-action="show_more">
        Еще {{ hidden_values|length }}
    </button>
    <div class="filters__more-filters" data-target="show_more">
        {% for value in hidden_values %}
            {% include 'default/template/extension/module/ocfilter/value_item.twig' %}
        {% endfor %}
    </div>
{% endif %}
