{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" form="form-product" formaction="{{ action_save }}" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary" onclick="$('#form-product').submit()"><i class="fa fa-save"></i></button>
      </div>
      <h1>{{ text_form }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <form action="{{ action_save }}" method="post" enctype="multipart/form-data" id="form-product">
      <div class="row">
        <div id="filter-product" class="col-md-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
            </div>
            <div class="panel-body">
              <div class="form-group col-md-6">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
				  <div id="featured-product" class="well well-sm" style="height: 150px; overflow: auto;">
					{% for filter_product in filter_products %}
					<div id="featured-product{{ filter_product.product_id }}"><i class="fa fa-minus-circle"></i> {{ filter_product.name }}
					  <input type="hidden" name="filter_product[]" value="{{ filter_product.product_id }}" />
					</div>
					{% endfor %}
				</div>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label" for="input-model">{{ entry_model }}</label>
                <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <div class="row"><label class="col-md-12 control-label" for="input-category">{{ entry_category }}</label></div>
                  <select name="filter_category[]" id="input-category" class="form-control"  multiple="multiple">
                    {% for category in categories %}
                    <option value="{{ category.category_id }}">{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <div class="row"><label class="col-md-12 control-label" for="input-option">{{ entry_option }}</label></div>
                  <select name="filter_option[]" id="input-option" class="form-control"  multiple="multiple">
                    {% for option in options %}
                    <option value="{{ option.option_id }}">{{ option.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="row">
                  <label class="col-md-12 control-label" for="input-price-from">{{ entry_price }}</label>
                </div>
                <div class="row">
                  <div class="col-md-6"><input type="text" name="filter_price_from" value="{{ filter_price_from }}" placeholder="{{ entry_from }}" id="input-price-from" class="form-control" /></div>
                  <div class="col-md-6"><input type="text" name="filter_price_to" value="{{ filter_price_to }}" placeholder="{{ entry_to }}" id="input-price-to" class="form-control" /></div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="row">
                  <label class="col-md-12 control-label" for="input-quantity">{{ entry_quantity }}</label>
                </div>
                <div class="row">
                  <div class="col-md-6"><input type="text" name="filter_quantity_from" value="{{ filter_quantity_from }}" placeholder="{{ entry_from }}" id="input-quantity-from" class="form-control" /></div>
                  <div class="col-md-6"><input type="text" name="filter_quantity_to" value="{{ filter_quantity_to }}" placeholder="{{ entry_to }}" id="input-quantity-to" class="form-control" /></div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value=""></option>
                  <option value="1" {% if filter_status == '1' %} selected="selected" {% endif %}>{{ text_enabled }}</option>
                  <option value="0" {% if filter_status == '0' %} selected="selected" {% endif %}>{{ text_disabled }}</option>
                </select>
              </div>
              <div class="form-group text-right">
                <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="row form-group required">
            <label class="col-sm-4 control-label" for="input-name">{{ entry_group_name }}</label>
            <div class="col-sm-8">
              <input type="text" name="name" value="{{ name ? name }}" placeholder="{{ entry_group_name }}" id="input-group-name" class="form-control" form="form-product" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_group_products }}</h3>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-center">{{ column_image }}</td>
                      <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}</td>
                      <td class="text-right">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}</td>
                      <td class="text-right">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantity }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'p.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% if products %}
                  {% for product in products %}
                  <tr>
                    <td class="text-center">{% if product.image %} <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                    <td class="text-left">{{ product.name }}</td>
                    <td class="text-left">{{ product.model }}</td>
                    <td class="text-right">{% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                      <div class="text-danger">{{ product.special }}</div>
                      {% else %}
                      {{ product.price }}
                      {% endif %}</td>
                    <td class="text-right">{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>
                    <td class="text-left">{{ product.status }}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-sm-6 text-left">{{ pagination }}</div>
                <div class="col-sm-6 text-right">{{ results }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript"><!--
$(document).ready(function() {
  var $category_select = $('#input-category').select2({
    width: '100%',
    closeOnSelect: false,
    placeholder: '{{ select_category_placeholder }}',
    language: {
       'noResults': function(){
           return '{{ select_no_results }}';
       }
    }
  });

  var filterCategory = {{ filter_category }};
  $category_select.val(filterCategory).trigger('change');

  var $option_select = $('#input-option').select2({
    width: '100%',
    closeOnSelect: false,
    placeholder: '{{ select_option_placeholder }}',
    language: {
       'noResults': function(){
           return '{{ select_no_results }}';
       }
    }
  });

  var filterOption = {{ filter_option }};
  $option_select.val(filterOption).trigger('change');

});
//--></script>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

  var group_id = '{{ group_id }}';

  if (group_id) {
    url += '&group_id=' + encodeURIComponent(group_id);
  }

  var group_name = $('input#input-group-name').val();

  if (group_name) {
    url += '&group_name=' + encodeURIComponent(group_name);
  }

	var filter_name = $('input#input-name').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input#input-model').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_product = $('input[name="filter_product[]"]');

	if (filter_product) {
		var products_combine = '';

		filter_product.each(function(){
			products_combine += $(this).val() + '-';
		});

		products_combine = products_combine.slice(0, -1);
		url += '&filter_product=' + encodeURIComponent(products_combine);
	}

  var filter_category = $('select#input-category').val();

  if (filter_category) {
    var categories_combine = '';
    filter_category.forEach(cat => categories_combine += cat + '-');
    categories_combine = categories_combine.slice(0, -1);
    url += '&filter_category=' + encodeURIComponent(categories_combine);
  }

  var filter_option = $('select#input-option').val();

  if (filter_option) {
    var options_combine = '';
    filter_option.forEach(opt => options_combine += opt + '-');
    options_combine = options_combine.slice(0, -1);
    url += '&filter_option=' + encodeURIComponent(options_combine);
  }

	var filter_price_from = $('input#input-price-from').val();

	if (filter_price_from) {
		url += '&filter_price_from=' + encodeURIComponent(filter_price_from);
	}

    var filter_price_to = $('input#input-price-to').val();

  if (filter_price_to) {
    url += '&filter_price_to=' + encodeURIComponent(filter_price_to);
  }


	var filter_quantity_from = $('input#input-quantity-from').val();

	if (filter_quantity_from) {
		url += '&filter_quantity_from=' + encodeURIComponent(filter_quantity_from);
	}

    var filter_quantity_to = $('input#input-quantity-to').val();

  if (filter_quantity_to) {
    url += '&filter_quantity_to=' + encodeURIComponent(filter_quantity_to);
  }

	var filter_status = $('select#input-status').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}
	location = 'index.php?route=extension/module/yandex_marketplace/product_group/{{ mode }}&user_token={{ user_token }}' + url;
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
$('input#input-name').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
//		$('input#input-name').val(item['label']);
		$('input[name=\'product_name\']').val('');
		
		$('#featured-product' + item['value']).remove();
		
		$('#featured-product').append('<div id="featured-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="filter_product[]" value="' + item['value'] + '" /></div>');	
	}
});

$('input#input-model').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input#input-model').val(item['label']);
	}
});
	  
$('#featured-product').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
</div>
{{ footer }} 