{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title_status }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-list"></i>{{ text_product_list }}</h3>
					</div>
					<div class="panel-body">
						<form action="{{ action_status_refresh }}" method="post" enctype="multipart/form-data" id="form-statuses">
							<div class="container-fluid">
								<div class="row">
									<div id="filter-offers" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
										<div class="panel panel-default">
											<div class="panel-body">
												<div class="form-group">
													<label class="control-label" for="input-marketSkuName">{{ entry_product_name }}</label>
													<input type="text" name="filter_marketSkuName" value="{{ filter_marketSkuName }}" placeholder="{{ entry_product_name }}" id="input-marketSkuName" class="form-control" autocomplete="off">
												</div>
												<div class="form-group">
													<label class="control-label" for="input-shopSku">{{ entry_shopSku }}</label>
													<input type="text" name="filter_shopSku" value="{{ filter_shopSku }}" placeholder="{{ entry_shopSku }}" id="input-shopSku" class="form-control" autocomplete="off">
												</div>
												<div class="form-group">
													<label class="control-label" for="input-status">{{ entry_status }}</label>
													<select name="filter_status" id="input-status" class="form-control">
														{% for publicationStatus in publicationStatuses %}
															{% if publicationStatus == filter_status %}
																<option value="{{ publicationStatus.value }}" selected="selected">{{ publicationStatus.text }}</option>
															{% else %}
																<option value="{{ publicationStatus.value }}">{{ publicationStatus.text }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
												<div class="form-group text-right">
													<button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i>&nbsp;{{ text_filter }}</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-9 col-md-pull-3 col-sm-12">
										<div class="panel panel-default">
											<div class="panel-body">
												<div class="button-group" style="margin-bottom: 10px;">
													<button type="submit" class="btn btn-success" data-original-title="{{ text_add }}"><i class="fa fa-link" aria-hidden="true"></i> {{ button_refresh }}</button>
												</div>
												<div class="table-responsive">
													<table class="table table-bordered table-hover table-striped">
														<thead>
															<tr>
																<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'shopSkus\']').prop('checked', this.checked);"></td>
																<td class="text-center">{{ column_image }}</td>
																<td class="text-left">{{ column_name }}</td>
																<td class="text-left">{{ column_marketSkuName }}</td>
																<td class="text-left">{{ column_status }}</td>
															</tr>
														</thead>
														<tbody>
															{% for product in checked_products %}
															<tr>
																<td class="text-center"> <input type="checkbox" name="shopSkus[]" value="{{ product.shopSku }}">
																</td>
																<td class="text-center"> <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail"> </td>
																<td class="text-left">
																	<a href="{{ product.edit }}" target="_blank">{{ product.name }}</a>
																	<p>{{ entry_sku_short }}: {{ product.shopSku }}</p>
																</td>
																<td class="text-left"><a href="{{ product.beru_link }}" target="_blank">{{ product.marketSkuName }}</a></td>
																<td class="text-center">{{ product.beru_status }}</td>
															</tr>
															{% endfor %}
														</tbody>
													</table>
												</div>
												<div class="row">
													<div class="col-sm-6 text-left">{{ pagination }}</div>
													<div class="col-sm-6 text-right">{{ results }}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var filter_marketSkuName = $('input[name=\'filter_marketSkuName\']').val();

	if (filter_marketSkuName) {
		url += '&filter_marketSkuName=' + encodeURIComponent(filter_marketSkuName);
	}

	var filter_shopSku = $('input[name=\'filter_shopSku\']').val();

	if (filter_shopSku) {
		url += '&filter_shopSku=' + encodeURIComponent(filter_shopSku);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=extension/module/yandex_marketplace/offer_status&user_token={{ user_token }}' + url;
});
//--></script>
{{ footer }}