{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        <a href="{{ updateRecomendPrice }}" data-toggle="tooltip" title="{{ button_updateRecomendPrice }}" class="btn btn-primary">{{ button_updateRecomendPrice }}</a>
        <a href="{{ updateOfferPrice }}" data-toggle="tooltip" title="{{ button_updateOfferPrice }}" class="btn btn-primary">{{ button_updateOfferPrice }}</a>
         <a href="{{ log }}" data-toggle="tooltip" title="{{ button_log }}" class="btn btn-primary">{{ button_log }}</a>
        </div>
      <h1>{{ heading_title_prices }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_message %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success_message %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success_message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="row">

      <div id="filter-product" class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group col-sm-6">
              <label class="control-label" for="input-marketSkuName">{{ entry_name_offer }}</label>
              <input type="text" name="filter_marketSkuName" value="{{ filter_marketSkuName }}" placeholder="{{ entry_name_offer }}" id="input-marketSkuName" class="form-control" autocomplete="off">

            </div>
            <div class="form-group col-sm-6">
              <label class="control-label" for="input-shopSku">{{ entry_shopSku }}</label>
              <input type="text" name="filter_shopSku" value="{{ filter_shopSku }}" placeholder="{{ entry_shopSku }}" id="input-shopSku" class="form-control" autocomplete="off">
              <ul class="dropdown-menu"></ul>
            </div>
            <div class="form-group col-sm-6">
              <label class="control-label col-sm-12">{{ entry_price }}</label>
                <div class="col-sm-6">
                  <input type="text" name="filter_price_from" value="{{ filter_price_from }}" placeholder="{{ entry_from }}" id="input-price" class="form-control" autocomplete="off">
                </div>
                <div class="col-sm-6">
                  <input type="text" name="filter_price_to" value="{{ filter_price_to }}" placeholder="{{ entry_to }}" id="input-price" class="form-control" autocomplete="off">
                </div>  
            </div>
            <div class="form-group col-sm-6">
              <label class="control-label col-sm-12">{{ entry_noPrice }}</label>
              <div class="col-sm-12">
                <input type="checkbox" name="filter_price_zero" id="input-price_zero" class="form-control" {% if filter_price_zero != '' %} checked {% endif %}> 
              </div> 
            </div> 
            <div class="form-group text-right col-sm-12">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ text_filter }}</button>
            </div>
          </div>
        </div>
      </div>



      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ entry_listProducts }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ insrall_offer_prices }}" method="post" enctype="multipart/form-data" id="offer_prices">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'suggestion_keys\']').prop('checked', this.checked);"></td>
                      <td class="text-left">{{ entry_name_offer }}</td>
                      <td class="text-left">{{ entry_minPriceOnBeru }}</td>
                      <td class="text-left">{{ entry_byboxPriceOnBeru }}</td>
                      <td class="text-left">{{ entry_defaultPriceOnBeru }}</td>
                      <td class="text-left">{{ entry_maxPriceOnBeru }}</td>
                      <td class="text-left">{{ entry_outlierPrice }}</td>
                      <td class="text-left">{{ entry_price }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in check_products %}
                    <tr>
                      <td class="text-center">
                         <input type="checkbox" name="suggestion_keys[{{ product.marketSkuName }}][check]">
                      </td>
                       <td class="text-left"><a href="https://pokupki.market.yandex.ru/product/{{ product.marketSkuName }}" target="_blank">{{ product.name }}</a>
                        <p>{{ entry_marketSkuName }}: {{ product.marketSkuName }}</p>
                      </td>
                      <input type="hidden" name="suggestion_keys[{{ product.marketSkuName }}][marketSkuName]]" value="{{ product.marketSkuName }}">
                      </td>
                      <td class="text-left">{{ product.minPriceOnBeru }}</td>
                      <td class="text-left">{{ product.byboxPriceOnBeru }}</td>
                      <td class="text-left">{{ product.defaultPriceOnBeru }}</td>
                      <td class="text-left">{{ product.maxPriceOnBeru }}</td>
                      <td class="text-left">{{ product.outlierPrice }}</td>
                      <td class="text-left"><input type="text" name="suggestion_keys[{{ product.marketSkuName }}][price]" value="{{ product.price }}"></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
             <div class="row">
								<div class="col-sm-6 text-left">{{ pagination }}</div>
								<div class="col-sm-6 text-right">{{ results }}</div>
							</div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-sm-12">
                  <div class="pull-right">
                    <button type="submit" form="offer_prices" data-toggle="tooltip" title="" class="btn btn-primary"><i class="fa fa-link" aria-hidden="true"></i> {{button_setPrice}} </button>
                  </div>
                </div>
              </div>
            </form>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#button-filter').on('click', function() {
    var url = '';

	var filter_marketSkuName = $('input[name=\'filter_marketSkuName\']').val();

	if (filter_marketSkuName) {
		url += '&filter_marketSkuName=' + encodeURIComponent(filter_marketSkuName);
	}

	var filter_shopSku = $('input[name=\'filter_shopSku\']').val();

	if (filter_shopSku) {
		url += '&filter_shopSku=' + encodeURIComponent(filter_shopSku);
	}

	var filter_price_from = $('input[name=\'filter_price_from\']').val();

	if (filter_price_from !== '') {
		url += '&filter_price_from=' + encodeURIComponent(filter_price_from);
	}

	var filter_price_to = $('input[name=\'filter_price_to\']').val();

	if (filter_price_to !== '') {
		url += '&filter_price_to=' + encodeURIComponent(filter_price_to);
	}


	var filter_price_zero = $('input[name=\'filter_price_zero\']:checked').val();

	if (filter_price_zero) {
		url += '&filter_price_zero=' + encodeURIComponent(filter_price_zero);
	}

    location = 'index.php?route=extension/module/yandex_marketplace/offer_prices&user_token={{ user_token }}' + url;
  });
</script>


{{ footer }}