{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}

		<div class="row" id="cancellation_container">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
					</div>
					<div class="panel-body">
						<form method="post" action="" enctype="multipart/form-data" id="form-order">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
											<td class="text-right">{{ column_order_id }}</td>
											<td class="text-left">{{ column_customer }}</td>
											<td class="text-left">{{ column_status }}</td>
											<td class="text-right">{{ column_total }}</td>
											<td class="text-left">{{ column_cancellation_time }}</td>
											<td class="text-right">{{ column_cancel_reason }}</td>
											<td class="text-right">{{ column_action }}</td>
										</tr>
									</thead>
									<tbody>
										 {% if orders %}
											{% for order in orders %}
											<tr class='order_{{ order.order_id }}'>
											  <td class="text-center"> {% if order.order_id in selected %}
												<input type="checkbox" name="selected[]" value="{{ order.order_id }}" checked="checked" />
												{% else %}
												<input type="checkbox" name="selected[]" value="{{ order.order_id }}" />
												{% endif %}
												<input type="hidden" name="shipping_code[]" value="{{ order.shipping_code }}" /></td>
											  <td class="text-right">{{ order.order_id }}</td>
											  <td class="text-left">{{ order.customer }}</td>
											  <td class="text-left">{{ order.order_status }}</td>
											  <td class="text-right">{{ order.total }}</td>
											  <td class="text-left">{{ order.time_to_cancel }}</td>
											  <td class="text-left">{{ order.cancel_status}}</td>
											  <td class="text-right"><div style="min-width: 120px;">
												  <div style="min-width: 120px;">
													<a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
													<button type="button" class="btn btn-success accept_cancellation" data-original-title="{{text_confirm}}" data-order_id="{{ order.order_id }}"><i class="fa fa-check" aria-hidden="true"></i></button>
													<button type="button" class="btn btn-danger reject_cancellation" data-original-title="{{text_reject}}" data-order_id="{{ order.order_id }}"><i class="fa fa-times" aria-hidden="true"></i></button>
												</div>
											</div></td>
											</tr>
											{% endfor %}
											{% else %}
											<tr>
											  <td class="text-center" colspan="8">{{ text_no_results }}</td>
											</tr>
											{% endif %}
									</tbody>

								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
	$('.reject_cancellation').on('click', function() {
		var order_id = $(this).data('order_id');
		
		$.ajax({
			method: "POST",
			url: 'index.php?route=extension/module/yandex_marketplace/orders_cancellation/reject&user_token={{ user_token }}',
			data:{
				order_id : order_id,
			},
			success: function(json) {
				$('.alert').remove();
				
				if(json['success_message']){
					$('#cancellation_container').before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success_message'] + '</div>');
					$('.order_'+order_id).remove();
				}
				
				if(json['error_message']){
					$('#cancellation_container').before('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error_message'] + '</div>');
				}
			}
		});
		
		$('#cancellation_modal').modal('hide');
	});
	
	$('.accept_cancellation').on('click', function() {
		var order_id = $(this).data('order_id');
		console.log(order_id);
		$.ajax({
			method: "POST",
			url: 'index.php?route=extension/module/yandex_marketplace/orders_cancellation/accept&user_token={{ user_token }}',
			data:{
				order_id : order_id,
			},
			success: function(json) {
				$('.alert').remove();
				
				if(json['success_message']){
					$('#cancellation_container').before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success_message'] + '</div>');
					$('.order_'+order_id).remove();
				}
				
				if(json['error_message']){
					$('#cancellation_container').before('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error_message'] + '</div>');
				}
			}
		});
		
		$('#cancellation_modal').modal('hide');
	});
</script>
{{ footer }}