{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ heading_title_shipments }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="container-fluid">
			<div class="row">
				<div id="filter-shipments" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label class="control-label" for="input-order-id">№ Заказа</label>
								<input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="№ Заказа" id="input-order-id" class="form-control">
							</div>

							<div class="form-group">
								<label class="control-label" for="input-shipment-status">Статус отгрузки</label>
								<div class="well well-sm">
									{% for value,status_name in shipment_statuses %}
									{% if value in filter_statuses %}
									<div class="checkbox">
										<label><input type="checkbox" name="filter_statuses[]" value="{{ value }}" checked="checked"> {{ status_name }}</label>
									</div>
									{% else %}
									<div class="checkbox">
										<label><input type="checkbox" name="filter_statuses[]" value="{{ value }}"> {{ status_name }}</label>
									</div>
									{% endif %}
									{% endfor %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label" for="input-dateFrom">Начальная дата</label>
								<div class="input-group date">
									<input type="text" name="dateFrom" value="{{ dateFrom }}" placeholder="Начальная дата" data-date-format="DD-MM-YYYY" id="input-dateFrom" class="form-control">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
									</span> </div>
							</div>
							
							<div class="form-group">
								<label class="control-label" for="input-dateTo">Конечная дата</label>
								<div class="input-group date">
									<input type="text" name="dateTo" value="{{ dateTo }}" placeholder="Конечная дата" data-date-format="DD-MM-YYYY" id="input-dateTo" class="form-control">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
									</span> </div>
							</div>
							<div class="form-group text-right">
								<button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> Фильтр</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-md-pull-3 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="fa fa-list"></i> Список отгрузок</h3>
						</div>
						<div class="panel-body">
							<form method="post" action="" enctype="multipart/form-data" id="form-order">
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												
												<td class="text-right">№ отгрузки</td>
												<td class="text-left">Способ отгрузки заказов</td>
												<td class="text-left">Статус отгрузки</td>
												<td class="text-left">Дата отгрузки</td>
												<td class="text-left">Кол-во заказов</td>
												<td class="text-right">Действие</td>
											</tr>
										</thead>
										<tbody>
											{% for shipment in shipments %}
											<tr>
												<td class="text-right">{{ shipment.id }}</td>
												<td class="text-left">{{ shipment.type }}</td>
												<td class="text-left">{{ shipment.status }}</td>
												<td class="text-left">{{ shipment.date }}</td>
												<td class="text-left">{{ shipment.draftCount }}</td>
												<td class="text-right">
													<button type="button" data-toggle="tooltip" title="Посмотреть" class="btn btn-primary show_shipping" data-shipment-id="{{ shipment.id }}" data-original-title="Посмотреть">
														<i class="fa fa-eye"></i>
													</button>	
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	$('.show_shipping').click(function(e) {
		var shipment_id = $(this).data('shipment-id');
		
		$.ajax({
			url: 'index.php?route=extension/module/yandex_marketplace/shipments_fbs/shipmentModal&user_token={{ user_token }}&shipment_id=' + shipment_id,
			type: 'post',
			dataType: 'json',
			
			success: function(json) {
				$('.alert-dismissible').remove();
				console.log(json['test']);
				console.log(json['test2']);
				if (json['error']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
				}

				if (json['success']) {
					$('#modal').html(json['success']);
					$('#modal').modal();
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
<div id="modal" class="modal" style="display: none;"></div>
<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<script>
$('#button-filter').on('click', function() {
	var url = '';

	var filter_dateFrom = $('input[name=\'dateFrom\']').val();

	if (filter_dateFrom) {
		url += '&dateFrom=' + encodeURIComponent(filter_dateFrom);
	}

	var filter_dateTo = $('input[name=\'dateTo\']').val();

	if (filter_dateTo) {
		url += '&dateTo=' + encodeURIComponent(filter_dateTo);
	}
	
	$('input[name=\'filter_statuses[]\']:checked').each(function(){
		url += '&filter_statuses[]=' + encodeURIComponent($(this).val());
	});
	
	var filter_orderId = $('input[name=\'filter_order_id\']').val();
	
	if (filter_orderId) {
		url += '&filter_order_id=' + encodeURIComponent(filter_orderId);
	}
	
	location = 'index.php?route=extension/module/yandex_marketplace/shipments_fbs&user_token={{ user_token }}' + url;
});

$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
</script>
{{ footer }}