<form id="alipaysubmit" name="alipaysubmit" action="{{ action }}" method="POST">
    {% for key, value in form_params %}
        <input type="hidden" name="{{ key }}" value="{{ value }}"/>
    {% endfor %}
</form>
<div class="buttons">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" class="us-module-btn us-module-btn-green" />
</div>
<script type="text/javascript"><!--
    $('#button-confirm').bind('click', function() {
        $('#alipaysubmit').submit();
    });
//--></script>
