{% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ header }}</h5>
    </div>
    <div class="modal-body">
        <p>{{ success }}</p>
    </div>
</div>
<script>
    setTimeout(function(){ parent.location.reload(); }, 2000);
</script>
<style>
    body{
        background: #fff;
    }
    .modal-content{
        box-shadow: none;
    }
</style>
