{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">{{ confirmform_header }}</h5>
	</div>
	<div class="modal-body">
		<p>{{ confirmform_message }}</p>
		<form action="{{ action }}" method="POST" id="socnetauth2_frame_confirmation"
		 onsubmit="return socnetauthFrameConfirmation();">
		{% for key,val in data %}
			<input type="hidden" name="data[{{ key }}]" value='{{ val }}'>
		{% endfor %}
		
		<table>
		<tr>
			<td>{{ confirmform_entry_code }}*</td>
			<td><input type="text" name="code" required class="form-control" value="">{% if error_code %}<span class="text-danger">{{ error_code }}</span>{% endif %}</td>
		</tr>
		<tr>
			<td width=80></td>
			{% if is_noiframe %} 
				<td><input type="button" class="us-module-btn us-module-btn-green" onclick="socnetauthFrameConfirmation();" value="{{ confirmform_button }}"></td>
			{% else %}
				<td><input type="submit" class="us-module-btn us-module-btn-green" value="{{ confirmform_button }}"></td>
			{% endif %}
		</tr>
		</table>
		</form>
	</div>
</div>
<style>
	body{
		background: #fff;
	}
	.modal-content{
		box-shadow: none;
	}
</style>