<div class="form-group">
  <label class="col-sm-2 control-label" for="input-products"><span data-toggle="tooltip" title="работает автодополнение">Добавить товар</span></label>
  <div class="col-sm-10">
    <input type="text" name="products" value="" placeholder="название товара" id="input-products" class="form-control" />
  </div>
</div>

<div class="text-center hidden" id="productAddLoader"><i class="fa fa-2x fa-spinner fa-spin"></i></div>

<div id="ajaxResult">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <td class="text-center">Изображение</td>
        <td class="text-left">Название товара</td>
        <td class="text-left">Модель</td>
        <td class="text-right">Цена на сайте</td>
        <td class="text-right">Количество</td>
        <td class="text-left">Статус</td>
        <td class="text-right">{{ column_action }}</td>
      </tr>
      </thead>
      <tbody id="productListBody">
  
      {% if products %}
        {% for product in products %}
          <tr id="product{{ product.product_id }}">
            <td class="text-center">{% if product.image %} <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
            <td class="text-left">{{ product.name }}</td>
            <td class="text-left">{{ product.model }}</td>
            <td class="text-right">{% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                <div class="text-danger">{{ product.special }}</div>
              {% else %}
                {{ product.price }}
              {% endif %}</td>
            <td class="text-right">{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>
            <td class="text-left">{{ product.status }}</td>
            <td class="text-right"><a data-product_id="{{ product.product_id }}" data-toggle="tooltip" title="Удалить товар из тега" class="btn btn-danger delProduct"><i class="fa fa-trash-o"></i></a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
      {% endif %}
      </tbody>
  
    </table>
  </div>
  
  <div class="row">
    <div class="col-sm-6 text-left ajaxPagination">{{ pagination }}</div>
    <div class="col-sm-6 text-right">{{ results }}</div>
  </div>
</div>

<script type="text/javascript"><!--
  (function ($) {
    $('input[name=\'products\']').autocomplete({
      'source': function(request, response) {
        $.ajax({
          url: 'index.php?route=catalog/tags/autocompleteProducts&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
            response($.map(json, function(item) {

              let label_class = 'label-success';
              if (item['quantity'] <= 0)
                label_class = 'label-warning';
              else if (item['quantity'] <= 5)
                label_class = 'label-danger';

              return {
                label: item['name'],
                model: item['model'],
                price: item['price'],
                quantity: '<span class="label '+ label_class +'">'+ item['quantity'] +'</span>',
                status: item['status'],
                image: item['image'],
                value: item['product_id']
              }
            }));
          }
        });
      },
      'select': function(item) {
        $('input[name=\'products\']').val('');
        
        addProductToTag(item);
      }
    });

    $('#products').delegate('.fa-minus-circle', 'click', function() {
      $(this).parent().remove();
    });

    const initAjaxPagination = function () {
      $('.ajaxPagination a').unbind('click');
      $('.ajaxPagination a').on('click', function (e) {
        e.preventDefault();
        const url = $(this).attr('href');
        const that = $(this);

        $.ajax({
          url: url,
          dataType: 'html',
          beforeSend: function(){
            that.append('<i class="fa fa-spinner fa-spin"></i>');
          },
          success: function(html) {
            const doc = new DOMParser().parseFromString(html, "text/html");
            let products = doc.getElementById('ajaxResult');
            if(products !== null) {
              $('#ajaxResult').html(products.innerHTML);
              $('body, html').animate({scrollTop: $('#tab-products').offset().top}, 500);
              initAjaxPagination();
              initDeleteProduct();
            }else{
              alert('Произошла ошибка при загрузке списка товаров, попробуйте еще раз.');
              that.find('.fa-spinner').remove();
            }
          }
        });
      });
    };
    
    const initDeleteProduct = function(){
      $('.delProduct').unbind('click');
      $('.delProduct').on('click', function (e) {
        e.preventDefault();
        const product_id = $(this).data('product_id');
        const that = $(this);
        
        $.ajax({
          url: 'index.php?route=catalog/tags/delProductFromTag&user_token={{ user_token }}',
          data: {product_id: product_id, tag_id: {{ tag_id }}},
          dataType: 'json',
          type: 'POST',
          beforeSend: function(){
            that.attr('disabled', 'disabled');
            that.find('.fa').addClass('fa-spin');
          },
          success: function(json) {            
            if(json.success) {
              $('#product' + product_id).remove();
            }else{
              alert(json.msg);
            }
          },
          complete: function(){
            that.removeAttr('disabled');
            that.find('.fa').removeClass('fa-spin');
          }
        });
      });
    };
    
    const addProductToTag = function(item){
      const product_id = item['value'];
      $.ajax({
        url: 'index.php?route=catalog/tags/addProductToTag&user_token={{ user_token }}',
        data: {product_id: product_id, tag_id: {{ tag_id }}},
        dataType: 'json',
        type: 'POST',
        beforeSend: function(){
          $('#productAddLoader').toggleClass('hidden');
        },
        success: function(json) {
          if(json.success) {
            $('#product' + item['value']).remove();

            $('#productListBody').prepend(
                    '<tr id="product'+ item['value']+'">\n' +
                    '          <td class="text-center"><img src="' + item['image'] + '" alt="' + item['label'] + '" class="img-thumbnail" /></td>\n' +
                    '          <td class="text-left">' + item['label'] + '</td>\n' +
                    '          <td class="text-left">' + item['model'] + '</td>\n' +
                    '          <td class="text-right">' + item['price'] + '</td>\n' +
                    '          <td class="text-right">' + item['quantity'] + '</td>\n' +
                    '          <td class="text-left">' + item['status'] + '</td>\n' +
                    '          <td class="text-right"><a data-product_id="'+ item['value'] +'" data-toggle="tooltip" title="Удалить товар из тега" class="btn btn-danger delProduct"><i class="fa fa-trash-o"></i></a></td>\n' +
                    '        </tr>'
            );


            initDeleteProduct();            
          }else{
            alert(json.msg);
          }
        },
        complete: function(){
          $('#productAddLoader').toggleClass('hidden');
        }
      });
    };



    initAjaxPagination();
    initDeleteProduct();
  })(jQuery);
  
  
  //--></script> 