<div class="modal show" id="us-product-gallery" tabindex="-1" role="dialog" aria-labelledby="us-product-gallery" style="display: block;">
	<div class="all-wrapper">
		<div id="preloader" class="loaded masked">
			<div class="masked_loading"></div>
		</div>
		<div id="slider-wrapper" class="is-opacity">
			<span class="slider-close" data-dismiss="modal" aria-label="Close"></span>
			{% if images %}
				<div class="slider main-photos">
					{% for image in images %}
					<div>
						<img src="{{ image.popup }}" alt="{{ heading_title }}" class="no-display" style="display:none;">
					</div>
					{% endfor %}
				</div>
				{% if images|length > 1 %}
				<div class="additional-wrapper">
					<div class="slider additional">
						{% for image in images %}
						<div>
							<img src="{{ image.thumb }}" alt="{{ heading_title }}" class="no-display" style="display:none;">
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
			{% endif %}
			<div class="info-wrapper">
				<div class="slider-header no-display" style="display:none">
					<span>{{ heading_title }}</span>
				</div>
				{% if price %}
					<div class="price no-display" style="display:none">
					{% if special %}
						<span class="us-price-new">{{ special }}</span>
						<span class="us-price-old">{{ price }}</span>
					{% else %}
						<span class="us-price-actual">{{ price }}</span>
					{% endif %}
					</div>
					{% if oct_popup_purchase_status is defined and oct_popup_purchase_status %}
					<div class="buttons mt-4 no-display" style="display:none">
						<a href="javascript:;" class="us-module-btn us-module-btn-green d-inline-block button-one-click" onclick="octPopPurchase('{{ product_id }}')">{{ oct_product_quickbuy }}</a>
					</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/oct_ultrastore/js/slick/slick.min.css">
<script src="catalog/view/theme/oct_ultrastore/js/slick/slick.min.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/oct_ultrastore/stylesheet/oct-images-gallery.css">
<script>
function closeGallery() {
	$('#us-product-gallery').remove();
	$('.modal-backdrop').remove();
	$('body').removeClass('modal-open');
	$('body, .menu-row').removeAttr('style');
	$('.main-photos,.additional').slick('unslick');
}

$(document).ready(function() {

	$('.main-photos').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		fade: true,
		centerMode: true,
		asNavFor: '.additional',
		autoplay: false,
		arrows: false
	});

	$('.additional').slick({
		slidesToShow: 4,
		slidesToScroll: 1,
		asNavFor: '.main-photos',
		focusOnSelect: true,
		arrows: true,
		responsive: [{
 			breakpoint: 480,
 			settings: {
	 			slidesToShow: 1,
 				arrows: true
 			}
 		}]
	});

	$('.slider-close').on('click',function(){
	    closeGallery();
	});

	setTimeout(function() {
		$('#preloader').removeClass('loaded');
		$('#slider-wrapper').removeClass('is-opacity');
		$('#slider-wrapper').addClass('loaded');
		$('.no-display').removeAttr('style');
		$('.main-photos').slick('refresh');
		$('.additional').slick('refresh');
	}, 1800);

});

$(document).keyup(function(e) {
    if (e.key === "Escape") {
        closeGallery();
    }
});
</script>
</div>