<div class="row{% if position == 'column_left' or position == 'column_right' %}  us-module-column-box{% else %} row-padding-top{% endif %}">
	{% set key = 0 %}
	{% for banner in oct_banner_pluss %}
	{% set key = key + 1 %}
	{% if oct_banner_pluss|length == 1 %}
	<div id="oct_banner_plus_{{ module }}_{{ key }}" class="us-banner-plus-wrap us-banner-plus-wrap-full-width col-sm-12">
		<a href="{{ banner.link }}" class="us-banner-plus-box h-100">
			<div class="us-banner-plus-inner d-flex align-items-center justify-content-between{% if position == 'column_left' or position == 'column_right' %} text-center{% endif %}">
				<div class="us-banner-plus-info us-banner-plus-info-single d-flex flex-column h-100 justify-content-between">
					<div class="us-banner-plus-title mb-3">{{ banner.title }}</div>
					{% if position == 'column_left' or position == 'column_right' %}
					<div class="us-banner-plus-img my-4">
						<img src="{{ banner.image }}" alt="{{ banner.title }}" title="{{ banner.title }}"/>
					</div>
					{% endif %}
					<div class="us-banner-plus-text mb-4">{{ banner.description }}</div>
					{% if banner.button != '-' %}
						<span class="us-banner-plus-btn">{{ banner.button }}</span>
					{% endif %}
				</div>
				{% if position == 'content_top' or position == 'content_bottom' %}
				<div class="us-banner-plus-img us-banner-plus-img-single my-2">
					<img src="{{ banner.image }}" alt="{{ banner.title }}" title="{{ banner.title }}"/>
				</div>
				{% endif %}
			</div>
		</a>
	</div>
	
	{% elseif oct_banner_pluss|length == 2 %}
	<div id="oct_banner_plus_{{ module }}_{{ key }}" class="us-banner-plus-wrap{% if loop.index == 2 %} us-banner-plus-wrap-second{% endif %} col-md-12 col-lg-6">
		<div class="us-banner-plus-box h-100">
			{% if position == 'content_top' or position == 'content_bottom' %}
			<div class="us-banner-plus-title mb-2">{{ banner.title }}</div>
			{% endif %}
			<div class="d-flex{% if position == 'column_left' or position == 'column_right' %}-column text-center{% endif %} align-items-center justify-content-between">
				{% if position == 'column_left' or position == 'column_right' %}
				<div class="us-banner-plus-title mb-2">{{ banner.title }}</div>
				<div class="us-banner-plus-img my-4">
					<img src="{{ banner.image }}" alt="{{ banner.title }}" title="{{ banner.title }}"/>
				</div>
				{% endif %}
				<div class="us-banner-plus-info d-flex flex-column h-100 justify-content-between">
					<div class="us-banner-plus-text mb-{% if position == 'column_left' or position == 'column_right' %}4{% else %}5{% endif %}">{{ banner.description }}</div>
					<a href="{{ banner.link }}" class="us-banner-plus-btn">{{ banner.button }}</a>
				</div>
				{% if position == 'content_top' or position == 'content_bottom' %}
				<div class="us-banner-plus-img us-banner-plus-img-narrow">
					<img src="{{ banner.image }}" alt="{{ banner.title }}" title="{{ banner.title }}"/>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
	<style>
		#oct_banner_plus_{{ module }}_{{ key }} .us-banner-plus-box {background: {{ banner.background_color }};} /* banner background */
		#oct_banner_plus_{{ module }}_{{ key }} .us-banner-plus-title {color: {{ banner.title_color }};} /* banner title color */
		#oct_banner_plus_{{ module }}_{{ key }} .us-banner-plus-text {color: {{ banner.text_color }};} /* banner text color */
		#oct_banner_plus_{{ module }}_{{ key }} .us-banner-plus-btn {color: {{ banner.button_color }}; background: {{ banner.button_background }};} /* banner button colors */
		#oct_banner_plus_{{ module }}_{{ key }} .us-banner-plus-btn:hover {color: {{ banner.button_text_hover }}; background: {{ banner.button_background_hover }};} /* banner buttons hover color */
	</style>
	{% endfor %}
</div>