<div class="modal" id="us-quickview-modal" tabindex="-1" role="dialog" aria-labelledby="us-quickview" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title" id="us-quickview">{{ product_name }}</div>
				<button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
				<span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
				</button>
			</div>
			<div class="modal-body modal-body-quickview">
				<div id="content" class="row">
					<div class="col-12">
						<div class="us-product">
							<div class="us-product-top d-flex">
								{% if image_view %}
								<div class="us-product-left product_detail__left">
									{% if image_view and thumb %}
									<div class="us-product-photo-main popup-product-photo mb-4">
										<img src="{{ thumb }}" alt="{{ product_name }}" title="{{ product_name }}">
									</div>
									{% endif %}
									{% if additional_image_view %}
									<div class="image-additional-box">
										<div id="popup-image-additional" class="owl-carousel">
											{% for key,image in images %}
											{% set i = key + 1 %}
											<div class="image-additional-item">
												<a class="popup-additional-gallery-item{% if key == 0 %} active{% endif %}" href="javascript:;" data-href="{{ image.popup }}" rel="{{ i }} ">
												<img src="{{ image.thumb }}" alt="{{ product_name }}" title="{{ product_name }}">
												</a>
											</div>
											{% endfor %}
										</div>
										<script>
										$(function () {
											$('.popup-additional-gallery-item').on('click', function () {

												$('.popup-additional-gallery-item').removeClass('active');
												$(this).addClass('active');

												let src = $(this).attr('data-href');
												let srcMainPhoto = $('.popup-product-photo img').attr('src');

												if(src === srcMainPhoto) return false;

												$('.popup-product-photo img').attr('src', src);

											});

											setTimeout(function(){
										        $('.image-additional-box').fadeIn('fast');
										    },500);

										    $('#popup-image-additional').owlCarousel({
											    loop:false,
											    margin:15,
											    nav:true,
											    dots: false,
											    autoplay: false,
											    responsive:{
											        0:{
											            items:1
											        },
											        600:{
											            items:3
											        },
											        1000:{
											            items:5
											        }
											    }
											})

										});
										</script>
									</div>
									{% endif %}
								</div>
								{% endif %}
								<div class="us-product-right product_detail__right">
						<div class="product_detail__right-inner">
							<div class="product_detail_top">
								<ul class="us-product-info-list list-unstyled product_detail_top__detail">
									{% if manufacturer %}
									<li class="us-product-info-item us-product-info-item-manufacturer">{{ text_manufacturer }} <a href="{{ manufacturers }}" class="us-product-link us-product-info-item-link">{{ manufacturer }}</a></li>
									{% endif %}
									{% if oct_ultrastore_data.product_model is defined and oct_ultrastore_data.product_model == 'on' %}
									<li class="us-product-info-item us-product-info-item-model">{{ text_model }} <span class="us-product-info-code">{{ model }}</span></li>
									{% endif %}
									{% if sku and (oct_ultrastore_data.product_sku is defined and oct_ultrastore_data.product_sku == 'on') %}
									<li class="us-product-info-item us-product-info-item-sku">{{ oct_live_search_sku }} <span class="us-product-info-code">{{ sku }}</span></li>
									{% endif %}
									{% if reward %}
									<li class="us-product-info-item us-product-info-item-reward">{{ text_reward }} <span class="us-product-info-code">{{ reward }}</span></li>
									{% endif %}
								</ul>
								{% if review_status %}
								<div class="product_detail_top__reviews">
									<div class="product_detail_top__reviews-stars">
										{% for i in 1..5 %}
										{% if rating < i %}
										<span class="us-module-rating-star"></span>
										{% else %}
										<span class="us-module-rating-star us-module-rating-star-is"></span>
										{% endif %}
										{% endfor %}
									</div>
									<!--div class="product_detail_top__reviews-info">
										{{ oct_product_reviews }} {{ total_reviews }} /
										<a href="#" class="product_detail_top__reviews-modal_toggle">{{ text_write }}</a>
									</div-->
								</div>
								{% endif %}
							</div>
							<div class="product_detail__price">
								{% if price %}
								<div class="us-price-block{% if not special %} us-price-block-not-special{% endif %} d-flex align-items-center">
									{% if not special %}
									<div class="us-price-actual">{{ price }}</div>
									{% else %}
									<div class="us-price-new">{{ special }}</div>
									<div class="us-price-old">{{ price }}</div>
									{% endif %}
								</div>
								{% if tax %}
								<div class="us-product-points">{{ text_tax }} {{ tax }}</div>
								{% endif %}
								{% if points %}
								<div class="us-product-points">{{ text_points }} {{ points }}</div>
								{% endif %}
								{% if discounts %}
								{% for discount in discounts %}
								<div class="us-product-points">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</div>
								{% endfor %}
								{% endif %}
								{% endif %}						
							</div>
							<div id="product" class="us-product-action product_detail__actions">
								<div class="product_detail__actions-top">
									{#
									{% if options %}
									<div class="us-product-option" id="us-product-options-box">
										<div class="us-product-option-title">{{ text_option }}</div>
										{% for option in options %}
										{% if option.type == 'select' %}
										<div class="form-group">
											<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
											<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="us-acc-select">
												<option value="">{{ text_select }}</option>
												{% for option_value in option.product_option_value %}
												<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
													{% if option_value.price %}
													({{ option_value.price_prefix }}{{ option_value.price }})
													{% endif %}
												</option>
												{% endfor %}
											</select>
										</div>
										{% endif %}
										{% if option.type == 'radio' %}
										<div class="form-group">
											<label class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
											<div id="input-option{{ option.product_option_id }}" class="options-box d-xl-flex flex-wrap align-items-center">
												{% for option_value in option.product_option_value %}
												<div class="radio">
													<label data-toggle="tooltip" data-trigger="hover" class="optid {{ option.product_option_id }} not-selected{% if option_value.image %} radio-img{% endif %}" {% if option_value.price %}title="{{ option_value.price_prefix }}{{ option_value.price }}"{% endif %}>
														<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" class="d-none" />
														{% if option_value.image %}
														<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"  />
														{% else %}
														{{ option_value.name }}
														{% endif %}
													</label>
													<script>
														$(document).ready(function() {
															$('label.optid.{{ option.product_option_id }}').click(function(){
																$('label.optid.{{ option.product_option_id }}').removeClass('selected').addClass('not-selected');
																$(this).removeClass('not-selected').addClass('selected');
															});
														});
													</script>
												</div>
												{% endfor %}
											</div>
										</div>
										{% endif %}
										{% if option.type == 'checkbox' %}
										<div class="us-form-checkbox-group">
											<div class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</div>
											<div id="input-option{{ option.product_option_id }}">
												{% for option_value in option.product_option_value %}
												<div class="checkbox">
													<input type="checkbox" id="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" class="us-form-checkbox-input" />
													<label for="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" class="d-flex align-items-center">{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
														<span>{{ option_value.name }}
															{% if option_value.price %}
															({{ option_value.price_prefix }}{{ option_value.price }})
														{% endif %}</span></label>
													</div>
													{% endfor %}
												</div>
											</div>
											{% endif %}
											{% if option.type == 'text' %}
											<div class="form-group">
												<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
												<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
											</div>
											{% endif %}
											{% if option.type == 'textarea' %}
											<div class="form-group">
												<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
												<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
											</div>
											{% endif %}
											{% if option.type == 'file' %}
											<div class="form-group">
												<label class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
												<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="us-module-btn"><i class="fa fa-upload"></i> {{ button_upload }}</button>
												<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
											</div>
											{% endif %}
											{% if option.type == 'date' %}
											<div class="form-group">
												<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
												<div class="input-group date">
													<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
													<span class="input-group-btn">
														<button class="us-module-btn" type="button"><i class="fa fa-calendar"></i></button>
													</span>
												</div>
											</div>
											{% endif %}
											{% if option.type == 'datetime' %}
											<div class="form-group">
												<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
												<div class="input-group datetime">
													<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
													<span class="input-group-btn">
														<button type="button" class="us-module-btn"><i class="fa fa-calendar"></i></button>
													</span>
												</div>
											</div>
											{% endif %}
											{% if option.type == 'time' %}
											<div class="form-group">
												<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
												<div class="input-group time">
													<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
													<span class="input-group-btn">
														<button type="button" class="us-module-btn"><i class="fa fa-calendar"></i></button>
													</span>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
										{% endif %}
										#}
										{% if recurrings %}
										<div class="us-product-option">
											<div class="us-product-option-title">{{ text_payment_recurring }}</div>
											<div class="form-group required">
												<select name="recurring_id" class="form-control">
													<option value="">{{ text_select }}</option>
													{% for recurring in recurrings %}
													<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
													{% endfor %}
												</select>
												<div class="help-block" id="recurring-description"></div>
											</div>
										</div>
										{% endif %}
										<div class="product_detail__controls">
											{# villarasa #}
											{% if deviant == '' %}
											<div class="us-product-quantity">
												<label class="control-label product-quantity-label" for="input-quantity">{{ entry_qty }}:</label>
												<div class="btn-group us-product-quantity" role="group">
													<button type="button" class="us-product-quantity-btn" onclick="updateValueProduct(true, false, false);">-</button>
													<input type="text" class="form-control" name="quantity" value="{{ minimum }}" id="input-quantity" />
													<input type="hidden" name="product_id" value="{{ product_id }}" />
													<button type="button" class="us-product-quantity-btn" onclick="updateValueProduct(false, true, false);">+</button>
													<input type="hidden" id="min-product-quantity" value="{{ minimum }}" name="min_quantity">
													<input type="hidden" id="max-product-quantity" value="{{ max_quantity }}" name="max_quantity">
												</div>
												{% if minimum > 1 %}
												<div class="us-product-minimum"><i class="fas fa-info-circle"></i> {{ text_minimum }}</div>
												{% endif %}
											</div>
											{% endif %}
											{# villarasa. #}
											{% if oct_ultrastore_data.product_wishlist is defined or oct_ultrastore_data.product_compare is defined %}
											<div class="btn-group us-product-compare-wishlist">
												{% if oct_ultrastore_data.product_compare is defined and oct_ultrastore_data.product_compare == 'on' %}
												<button type="button" data-toggle="tooltip" class="us-product-compare-wishlist__btn" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fas fa-sliders-h"></i></button>
												{% endif %}
												{% if oct_ultrastore_data.product_wishlist is defined and oct_ultrastore_data.product_wishlist == 'on' %}
												<button type="button" data-toggle="tooltip" class="us-product-compare-wishlist__btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fas fa-heart"></i></button>
												{% endif %}
											</div>
											{% endif %}
											<div class="us-product-info-item-stock{% if out_of_stock %} us-out-of-stock{% endif %}">
												<span class="us-product-info-is">{{ stock }}</span>
											</div>
										</div>
										<div class="product_detail__buttons">
											{# villarasa #}
											{% if deviant == '' %}
												<button type="button" id="oct-popup-button-cart" data-loading-text="{{ text_loading }}" class="us-product-btn us-product-btn-active">{{ button_cart }}</button>
												
												<button type="button" class="us-product-btn button-one-click" onclick="octPopPurchase('{{ product_id }}')">{{ oct_product_quickbuy }}</button>
												{#
												{% if oct_popup_purchase_status is defined %}
												<button type="button" class="us-product-btn button-one-click" onclick="octPopPurchase('{{ product_id }}')">{{ oct_product_quickbuy }}</button>
												{% endif %}
												{% if installments_purchase_status is defined %}
												<button type="button" class="us-product-btn button-installments" onclick="installmentsPurchase('{{ product_id }}')">Купить в рассрочку</button>
												{% endif %}
												#}
											{% endif %}
											{% if deviant == 'call_stock' %}
												<div class="us-module-price out-of-sale">
													Нет в наличии
												</div>
												<a href="javascript:void(0);" onclick="octPopupCallStock('{{ product_id }}');" class="us-module-cart-btn button-call_stock"> {{ button_call_stock }} </a>
											{% endif %}
											{% if deviant == 'call_price' %}
												<div class="us-module-price out-of-sale">
													Цена по запросу
												</div>
												<a href="javascript:void(0);" onclick="octPopupCallPrice('{{ product_id }}');" class="us-module-cart-btn button-call_price"> {{ button_call_price }} </a>
											{% endif %}
											{% if deviant == 'call_analog' %}
												<div class="us-module-price out-of-sale">
                      		{{ entry_call_analog }}
												</div>
												<a href="javascript:void(0);" onclick="octPopupCallAnalog('{{ product_id }}');" class="us-module-cart-btn button-call_analog"> {{ button_call_analog }} </a>
											{% endif %}
											{# villarasa. #}
											{% if product_js_button is defined and product_js_button %}
											<div class="us-product-social-buttons">{{ product_js_button }}</div>
											{% endif %}
										</div>
									</div>
									{% if (oct_ultrastore_data.product_advantage is defined and oct_ultrastore_data.product_advantage == 'on') and (oct_product_advantages is defined and oct_product_advantages is not empty) %}
									<div class="product_detail__actions-bottom">
										{% for advantage in oct_product_advantages %}
										<div class="us-product-advantages-item d-flex justify-content-between align-items-center">
											<div class="us-product-advantages-icon">
												<i class="{{ advantage.icone }}"></i>
											</div>
											<div class="us-product-advantages-cont">
												<a href="{{ advantage.link }}" {% if advantage.information_id and advantage.popup %}data-rel="{{ advantage.information_id }}"{% else %}target="_blank"{% endif %} class="us-product-advantages-link{% if advantage.popup %} agree{% endif %}" >{{ advantage.title }}</a>
												<p class="us-product-advantages-text">{{ advantage.text }}</p>
											</div>
										</div>
										{% endfor %}
									</div>
									{% endif %}
								</div>

								<div class="product_detail__cheaper"></div>
								
								<div style="position:relative; float:left; width:100%">
								{% if options %}
								<div class="popup_product_detail__gift">
									<span class="show-gift">Выберите подарок</span>
								</div> 
								<div id="popup_select-gift" class="popup_select-gift hidden">
									<i class="fas fa-times gift-close"></i>
									{% for option in options %}
									{% if option.type == 'select' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="us-acc-select">
											<option value="">{{ text_select }}</option>
											{% for option_value in option.product_option_value %}
											<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
												{% if option_value.price %}
												({{ option_value.price_prefix }}{{ option_value.price }})
												{% endif %}
											</option>
											{% endfor %}
										</select>
									</div>
									{% endif %}
									{% if option.type == 'radio' %}
									<div class="form-group" style="margin:0;text-align:center;">
										{#
										<label class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										#}
										<div id="input-option{{ option.product_option_id }}" class="options-box d-xl-flex flex-wrap align-items-center">
											{% for option_value in option.product_option_value %}
											<div class="radio" style="margin:0 15px;width:100px;">
												<label data-toggle="tooltip" data-trigger="hover" class="optid {{ option.product_option_id }} not-selected{% if option_value.image %} radio-img{% endif %}" {% if option_value.price %}title="{{ option_value.price_prefix }}{{ option_value.price }}"{% endif %}>
													<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" class="d-none" />
													{% if option_value.image %}
													<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"  />
													<div class="title-gift">{{ option_value.name }}</div>
													{% else %}
													{{ option_value.name }}
													{% endif %}
												</label>
												<script>
													$(document).ready(function() {
														$('label.optid.{{ option.product_option_id }}').click(function(){
															$('label.optid.{{ option.product_option_id }}').removeClass('selected').addClass('not-selected');
															$(this).removeClass('not-selected').addClass('selected');
														});
													});
												</script>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
									{% if option.type == 'checkbox' %}
									<div class="us-form-checkbox-group">
										<div class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</div>
										<div id="input-option{{ option.product_option_id }}">
											{% for option_value in option.product_option_value %}
											<div class="checkbox">
												<input type="checkbox" id="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" class="us-form-checkbox-input" />
												<label for="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" class="d-flex align-items-center">{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
													<span>{{ option_value.name }}
														{% if option_value.price %}
														({{ option_value.price_prefix }}{{ option_value.price }})
													{% endif %}</span></label>
												</div>
												{% endfor %}
											</div>
										</div>
										{% endif %}
										{% endfor %}
										<div class="gift-selected hidden">ВЫБРАТЬ</div>
								</div>
								{% endif %}
								</div>
								
								<div style="position:relative; float:left; width:100%">
								{% if attribute_groups and (oct_ultrastore_data.product_atributes is defined and oct_ultrastore_data.product_atributes == 'on') %}
								<div class="product_detail__top_attr us-product-attr">
									<div class="us-product-attr-top d-flex justify-content-between align-items-center">
										<div class="us-product-attr-title">{{ oct_product_attributes }}</div>
										<!--a href="javascript:;" onclick="goToFullAttrs()" class="us-product-link">{{ oct_product_all_attributes }}</a-->
									</div>
									<div class="us-product-attr-cont product_detail__top_attr-items_list">
										{% set break = 1 %}
										{% for attribute_group in attribute_groups %}
										{% for attribute in attribute_group.attribute if break != 6 %}
										<div class="product_detail__top_attr-item">
											<span>{{ attribute.name }}:</span>
											<span>{{ attribute.text }}</span>
										</div>
										{% set break = break + 1 %}
										{% endfor %}
										{% endfor %}
									</div>
								</div>
								{% endif %}
								</div>
							</div>
							<div class="product_detail__right-advantages" style="position:relative; float:left; width:100%">
								<div class="product_detail__advantages">
									<div class="product_detail__advantages-item">
										<div class="product_detail__advantages-image">
											<img src="/catalog/view/theme/oct_ultrastore/img/prod_det_advantage1.svg" alt="">
										</div>
										<div class="product_detail__advantages-text">
											Гарантия от <br>
											производителя
										</div>
									</div>
									<div class="product_detail__advantages-item">
										<div class="product_detail__advantages-image">
											<img src="/catalog/view/theme/oct_ultrastore/img/prod_det_advantage2.svg" alt="">
										</div>
										<div class="product_detail__advantages-text">
											Доставка <br>
											день в день 
										</div>
									</div>
									<div class="product_detail__advantages-item">
										<div class="product_detail__advantages-image">
											<img src="/catalog/view/theme/oct_ultrastore/img/prod_det_advantage3.svg" alt="">
										</div>
										<div class="product_detail__advantages-text">
											Возможна <br>
											оплата в кредит
										</div>
									</div>
								</div>
							</div>
						</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="catalog/view/theme/oct_ultrastore/js/owl.carousel.min.js"></script>
<link href="catalog/view/theme/oct_ultrastore/stylesheet/owl.carousel.min.css" rel="stylesheet" />
<script>
	$(".show-gift").click(function(){
		$(".popup_select-gift").toggleClass('hidden');
	});
	$(".gift-close").click(function(){
		$(".popup_select-gift").addClass('hidden');
	});
	$(".gift-selected").click(function(){
		$(".popup_select-gift").addClass('hidden');
	});
	$(".options-box").click(function(){
		$(".gift-selected").removeClass('hidden');
	});

$('#oct_popup_review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#oct_popup_review').fadeOut('slow');

    $('#oct_popup_review').load(this.href);

    $('#oct_popup_review').fadeIn('slow');
});

//$('#oct_popup_review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#oct_popup_button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $('#form-review').serialize(),
		beforeSend: function() {
			$('#oct_popup_button-review').button('loading');
		},
		complete: function() {
			$('#oct_popup_button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#oct_popup_form-review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#oct_popup_form-review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});


$('button[id^=\'popup-button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

$('#us-show-popup-link').on('click', function () {
	$(this).css('display','none');
	$('.us-category-description-cont').toggleClass('expanded');
	$('.us-category-description-opacity').toggleClass('hidden');
});

$('#oct-popup-button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#us-quickview-modal input[type=\'text\'], #us-quickview-modal input[type=\'hidden\'], #us-quickview-modal input[type=\'radio\']:checked, #us-quickview-modal input[type=\'checkbox\']:checked, #us-quickview-modal select, #us-quickview-modal textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#oct-popup-button-cart').button('loading');
		},
		complete: function() {
			$('#oct-popup-button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					let errorOption = '';
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
						errorOption += '<div class="alert-text-item">' + json['error']['option'][i] + '</div>';
					}
					usNotify('danger', errorOption);
				}

				if (json['error']['error_warning']) {
					usNotify('danger', json['error']['error_warning']);
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				usNotify('success', json['success']);

				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('#oct-cart-quantity').html(json['total_products']);
					$('.header-cart-index').html(json['total_products']);
					$('.us-cart-text').html(json['total_amount']);
				}, 100);
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});

$('#us-options-box input, #us-options-box select ').on('change', function() {
	updateViewPrice();
});

$.each($('#us-options-box .options-box'), function(i, val) {
	$(val).find('label').filter(':first').click();
	$(val).find('label').filter(':first').removeClass('not-selected');
	$(val).find('label').filter(':first').addClass('selected');
});

function updateViewPrice() {
	$.ajax({
		type: 'post',
		url:  'index.php?route=product/product/updatePrices',
		data: $('#us-quickview-modal input[type=\'text\'], #us-quickview-modal input[type=\'hidden\'], #us-quickview-modal input[type=\'radio\']:checked, #us-quickview-modal input[type=\'checkbox\']:checked, #us-quickview-modal select'),
		dataType: 'json',
		success: function(json) {
			{% if special %}
			$('#us-quickview-modal .us-price-old').html(json['price']);
			$('#us-quickview-modal .us-price-new').html(json['special']);
			{% else %}
			$('#us-quickview-modal .us-price-actual').html(json['price']);
			{% endif %}

			{% if tax %}
			$('#us-product-modal-tax').html(json['tax']);
			{% endif %}
		}
	});
}

$('#popup-input-quantity').on('input',function(e){
		updateValuePopUpView(false, false, true);
});

function updateValuePopUpView(minus, plus, manual) {
	let min = parseInt($('#popup-input-quantity').val());
	let currentMinimum = parseInt($('#min_quantity').val());
	let max = parseInt($('#max_view_quantity').val());

	if(max === 0) return;

	if (minus && min > 1) {

		if (min <= currentMinimum) {
			$('#popup-input-quantity').val(currentMinimum);
			updateViewPrice();
			return;
		} else if (min > max) {
			$('#popup-input-quantity').val(max);
			updateViewPrice();
			return;
		}

		$('#popup-input-quantity').val(~~$('#popup-input-quantity').val()-1);
	}

	if (plus) {

		if(max && min > max-1) {
			$('#popup-input-quantity').val(max);
			updateViewPrice();
			return;
		} else if (min < currentMinimum) {
			$('#popup-input-quantity').val(currentMinimum);
			updateViewPrice();
			return;
		}

		$('#popup-input-quantity').val(~~$('#popup-input-quantity').val()+1);
	}

	if (manual) {

		if (min <= currentMinimum) {
			$('#popup-input-quantity').val(currentMinimum);
			updateViewPrice();
			return;
		} else if (min > max) {
			$('#popup-input-quantity').val(max);
			updateViewPrice();
			return;
		}

	}

	updateViewPrice();
}
{% if minimum > 1 %}
updateViewPrice();
{% endif %}
</script>

{% for option in options %}
{% if option.type == 'date' or option.type == 'datetime'  or option.type == 'time' %}
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"></script>
<script src="catalog/view/theme/oct_ultrastore/js/bootstrap-datetimepicker.min.js"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script>
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});
</script>
{% endif %}
{% endfor %}