
<div class="container">
	<nav class="breadcrumbs" aria-label="breadcrumbs" itemprop="breadcrumbs">
		<ul class="breadcrumbs__list">
			{% for breadcrumb in breadcrumbs %}
				{% if loop.last %}
					<li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
				{% else %}
					<li class="breadcrumbs__item">
						<a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</div>

{% if oct_ultrastore_data.micro is defined and oct_ultrastore_data.micro %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement":
	[
		{% for breadcrumb in breadcrumbs %}
			{% if loop.first %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ loop.index -1 }},
				"item":
				{
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}{% if not loop.last %},{% endif %}
			{% endif %}
		{% endfor %}
	]
}
</script>
{% endif %}
