<div class="modal show" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{ heading_title }}</h5>
				<button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
				<span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" enctype="multipart/form-data" id="popup-login-form">
					<div class="form-group popup-login-form-group">
						<input type="email" class="form-control" id="emailLoginInput" aria-describedby="emailHelp" placeholder="{{ entry_email }}" name="email" />
					</div>
					<div class="form-group popup-login-form-group">
						<input type="password" class="form-control" id="passwordLoginInput" placeholder="{{ entry_password }}" name="password" />
						{% if redirect %}
						<input type="hidden" name="redirect" value="{{ redirect }}" />
						{% endif %}
					</div>
					<div class="login-popup-links d-flex align-items-center justify-content-between"><a class="login-popup-forgotten" href="{{ forgotten_url }}">{{ button_forgotten }}</a><a class="login-popup-register" href="{{ register_url }}">{{ button_register }}</a></div>
					<button id="popup-login-button" type="button" class="us-module-btn us-module-btn-green">{{ button_login }}</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#popup-login-button').on('click', function() {
	masked('body', true);
    $.ajax({
		type: 'post',
		url:  'index.php?route=octemplates/module/oct_popup_login/login',
		dataType: 'json',
		data: $('#popup-login-form').serialize(),
		success: function(json) {
	        if (json['warning']) {
	        		masked('body', false);
				usNotify('danger', json['warning']);
	        } else {
				masked('body', false);
				
				if (json['redirect']) {
					location = json['redirect'];
				} else {
					location = '{{ account_url }}';
				}
	        }
	    }
    });
});
</script>