{% if oct_byoneclick_status is defined and oct_byoneclick_status %}
<div class="us-product-one-click">
	<form action="javascript:;" id="oct_purchase_byoneclick_form{{ oct_byoneclick_page }}" method="post">
		<div class="us-product-one-click-top d-flex align-items-center">
			<div class="us-product-one-click-icon"><i class="fas fa-mobile-alt"></i></div>
			<div class="us-product-one-click-info">
				<div class="us-product-attr-title">{{ oct_product_oneclick }}</div>
				<div class="us-product-one-click-text">{{ oct_product_oneclick_enter }}</div>
			</div>
		</div>
		<div class="us-product-one-click-bottom">
			<div class="input-group">
				<input type="tel" name="telephone" placeholder="{{ oct_product_oneclick_placeholder }}" id="one_click_input" class="one_click_input form-control">
				{% if oct_byoneclick_product_id is defined and oct_byoneclick_product_id %}
				<input type="hidden" name="product_id" value="{{ oct_byoneclick_product_id }}" />
				{% endif %}
				<input type="hidden" name="oct_byoneclick" value="1" />
				{% if oct_cart_in is defined and oct_cart_in %}
				<input type="hidden" name="oct_cart_in" value="1" />
				{% endif %}
				<span class="input-group-btn">
					<button class="us-module-btn us-product-one-click-btn" type="button">{{ oct_product_oneclickbuy }}</button>
				</span>
			</div>
		</div>
	</form>
</div>
{% if oct_byoneclick_mask is defined and oct_byoneclick_mask %}
{# <script src="catalog/view/theme/oct_ultrastore/js/jquery.inputmask.bundle.min.js"></script> #}
<script>
usInputMask ('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .one_click_input', '{{ oct_byoneclick_mask }}');
</script>
{% endif %}
<script>
$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .us-product-one-click-btn').on('click', function() {
	$.ajax({
        type: 'post',
        dataType: 'json',
        url: 'index.php?route=octemplates/module/oct_popup_purchase/makeorder',
        data: $('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }}').serialize(),
        success: function(json) {
	        if (json['error']) {
				let errorOption = '';

				$.each(json['error'], function(i, val) {
					if (val) {
						$('#oct_purchase_byoneclick_form [name="' + i + '"]').addClass('error_style');
						errorOption += '<div class="alert-text-item">' + val + '</div>';
					}
				});

				usNotify('danger', errorOption);
			} else {
				if (json['success']) {
					$(this).attr( "disabled", "disabled" );
					successOption = '<div class="alert-text-item">' + json['success'] + '</div>';

					usNotify('success', successOption);
					$('#oct_purchase_byoneclick_form #one_click_input').val('');

					{% if oct_cart_in is defined and oct_cart_in %}
						{% if oct_popup_cart is defined and oct_popup_cart %}
						octPopupCart();
						{% endif %}

						setTimeout(function () {
							$('#oct-cart-quantity, .header-cart-index, .mobile-header-index').html(0);
							$('.us-cart-text').html('{{ total_amount }}');
						}, 100);
					{% endif %}
				}
			}
        }
    });
});
</script>
{% endif %}
