@import '~mburger-css/dist/mburger.css';

.mburger {
  color: white !important;

  --mb-button-size: 35px;
  --mb-bar-width: 0.8;
  --mb-bar-height: 2px;
  --mb-bar-spacing: 7px;
  --mb-animate-timeout: 0;

  &:hover {
    color: white !important;
  }

  b {
    &:nth-child(2) {
      width: calc(var(--mb-button-size) * var(--mb-bar-width) - 20%);
    }
  }
}
