@import '~mmenu-js/dist/mmenu.css';

.mm-menu {
  --mm-color-background: white;
}

.mm-wrapper_dropdown .mm-menu_dropdown {
  z-index: 102;
}

.mm-wrapper__blocker.mm-slideout {
  z-index: 101;
}

.mm-wrapper_blocking .mm-slideout {
  overflow: hidden;
}
