<div class="about-company__company-advantages company-advantages">
    <ul class="company-advantages__list">
        <li class="company-advantages__item">
             <img src="/image/static/img/company1.svg" class="company-advantages__image" height="90" width="90" loading="lazy" alt="Сертифицированные надежные товары">
            <div class="company-advantages__item-wrap">
                <h3 class="company-advantages__item-title">Сертифицированные надежные товары</h3>
                <p class="company-advantages__item-description">Гарантируем нашим покупателям
                    оригинальность
                    и
                    высокое
                    качество продаваемой продукции
                </p>
                <a href="{{ certificate_link }}" class="company-advantages__item-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                        <path
                                d="M1.8 0.5v0l5.3 6v0l0 0v0l1.3 1.5v0l-6.7 7.5v0l-1.3-1.5v0l5.3-6v0l-5.3-6v0z"
                                fill="#bdc2ce"/>
                    </svg>
                </a>
            </div>
        </li>

        {#<li class="company-advantages__item">
         <img src="/static/img/company2.svg">
            <div class="company-advantages__item-wrap">
                <h3 class="company-advantages__item-title">772 пункта самовывоза в Москве</h3>
                <p class="company-advantages__item-description">Забирайте покупки в удобном для вас
                    месте
                </p>
                <a href="" class="company-advantages__item-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                        <path
                                d="M1.8 0.5v0l5.3 6v0l0 0v0l1.3 1.5v0l-6.7 7.5v0l-1.3-1.5v0l5.3-6v0l-5.3-6v0z"
                                fill="#bdc2ce"/>
                    </svg>
                </a>
            </div>
        </li>#}

        <li class="company-advantages__item">
             <img src="/image/static/img/company3.svg" class="company-advantages__image" height="90" width="90" loading="lazy" alt="Профессиональный
                    монтаж">
            <div class="company-advantages__item-wrap">
                <h3 class="company-advantages__item-title">Профессиональный
                    монтаж</h3>
                <p class="company-advantages__item-description">Установка оборудования нашими
                    специалистам –
                    гарантия
                    длительной и бесперебойной работы
                </p>
                <a href="{{ installation_link }}" class="company-advantages__item-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                        <path
                                d="M1.8 0.5v0l5.3 6v0l0 0v0l1.3 1.5v0l-6.7 7.5v0l-1.3-1.5v0l5.3-6v0l-5.3-6v0z"
                                fill="#bdc2ce"/>
                    </svg>
                </a>
            </div>
        </li>

        <li class="company-advantages__item">
             <img src="/image/static/img/company4.svg" class="company-advantages__image" height="90" width="90" loading="lazy" alt="Выгодные кредитные программы и рассрочка">
            <div class="company-advantages__item-wrap">
                <h3 class="company-advantages__item-title">Выгодные кредитные программы и рассрочка</h3>
                <p class="company-advantages__item-description">Быстро и удобно.
                    От вас нужен только паспорт
                </p>
                <a href="{{ credit_program_link }}" class="company-advantages__item-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                        <path
                                d="M1.8 0.5v0l5.3 6v0l0 0v0l1.3 1.5v0l-6.7 7.5v0l-1.3-1.5v0l5.3-6v0l-5.3-6v0z"
                                fill="#bdc2ce"/>
                    </svg>
                </a>
            </div>
        </li>

        <li class="company-advantages__item">
             <img src="/image/static/img/company5.svg" class="company-advantages__image" height="90" width="90" loading="lazy" alt="Качественное гарантийное обслуживание">
            <div class="company-advantages__item-wrap">
                <h3 class="company-advantages__item-title">Качественное гарантийное обслуживание</h3>
                <p class="company-advantages__item-description">Поможем с ремонтом товара. Сделаем
                    максимально
                    быстро.
                </p>
                <a href="{{ warranty_link }}" class="company-advantages__item-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
                        <path
                                d="M1.8 0.5v0l5.3 6v0l0 0v0l1.3 1.5v0l-6.7 7.5v0l-1.3-1.5v0l5.3-6v0l-5.3-6v0z"
                                fill="#bdc2ce"/>
                    </svg>
                </a>
            </div>
        </li>
    </ul>
</div>
