    <footer class="footer">
        <div class="footer__wrap">
            <div class="container">
                <div class="footer__top">

                    <div class="row">
                        <div class="col-lg col-sm-6 mb-4 mb-lg-0 order-lg-1 order-1">
                            <a href="{{ home }}" class="footer__logo">
                                <picture>
                                    <img loading="lazy" width="250" height="67" src='/webp-images/logo.svg' alt='SDM Climate'>
                                </picture>
                            </a>

                            <div class="footer__adress" itemscope itemtype="http://schema.org/Organization">
                                <span class="sr-only" itemprop="name">SDM Climate</span>
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="postalCode">125040</span>,
                                    <span itemprop="addressLocality">Москва</span>,
                                    <span itemprop="streetAddress">улица Нижняя, д.14, строение 1, подъезд 1, офис 1</span>

                                </div>
                                <a href="tel:{{ telephone_number }}" itemprop="telephone" class="footer__tel">{{ telephone_text }}</a>
                            </div>

                            <a href="{{ contact }}" class="footer__link">Все контакты</a>
                        </div>

                        <div class="col-lg col-sm-6 mb-4 mb-lg-0 order-lg-2 order-5">
                            <h4 class="footer__heading">Больше выгоды в социальных сетях</h4>
                            <div class="footer__socials socials">
                                <ul class="socials__list">
                                    <li class="socials__item">
                                        <a href="{{ social.instagram }}" class="socials__link" target="_blank">
                                            <svg enable-background="new 0 0 24 24" height="19" viewBox="0 0 24 24"
                                                 width="19" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                        d="m12.004 5.838c-3.403 0-6.158 2.758-6.158 6.158 0 3.403 2.758 6.158 6.158 6.158 3.403 0 6.158-2.758 6.158-6.158 0-3.403-2.758-6.158-6.158-6.158zm0 10.155c-2.209 0-3.997-1.789-3.997-3.997s1.789-3.997 3.997-3.997 3.997 1.789 3.997 3.997c.001 2.208-1.788 3.997-3.997 3.997z"/>
                                                <path
                                                        d="m16.948.076c-2.208-.103-7.677-.098-9.887 0-1.942.091-3.655.56-5.036 1.941-2.308 2.308-2.013 5.418-2.013 9.979 0 4.668-.26 7.706 2.013 9.979 2.317 2.316 5.472 2.013 9.979 2.013 4.624 0 6.22.003 7.855-.63 2.223-.863 3.901-2.85 4.065-6.419.104-2.209.098-7.677 0-9.887-.198-4.213-2.459-6.768-6.976-6.976zm3.495 20.372c-1.513 1.513-3.612 1.378-8.468 1.378-5 0-7.005.074-8.468-1.393-1.685-1.677-1.38-4.37-1.38-8.453 0-5.525-.567-9.504 4.978-9.788 1.274-.045 1.649-.06 4.856-.06l.045.03c5.329 0 9.51-.558 9.761 4.986.057 1.265.07 1.645.07 4.847-.001 4.942.093 6.959-1.394 8.453z"/>
                                                <circle cx="18.406" cy="5.595" r="1.439"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="socials__item">
                                        <a href="{{ social.youtube }}" class="socials__link"  target="_blank">
                                            <svg enable-background="new 0 0 24 24" height="19" viewBox="0 0 24 24"
                                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                        d="m23.469 5.929.03.196c-.29-1.029-1.073-1.823-2.068-2.112l-.021-.005c-1.871-.508-9.4-.508-9.4-.508s-7.51-.01-9.4.508c-1.014.294-1.798 1.088-2.083 2.096l-.005.021c-.699 3.651-.704 8.038.031 11.947l-.031-.198c.29 1.029 1.073 1.823 2.068 2.112l.021.005c1.869.509 9.4.509 9.4.509s7.509 0 9.4-.509c1.015-.294 1.799-1.088 2.084-2.096l.005-.021c.318-1.698.5-3.652.5-5.648 0-.073 0-.147-.001-.221.001-.068.001-.149.001-.23 0-1.997-.182-3.951-.531-5.846zm-13.861 9.722v-7.293l6.266 3.652z"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="socials__item">
                                        <a href="{{ social.vk }}" class="socials__link" target="_blank">

                                            <svg height="19" width="27" viewBox="1 -104 511.99902 511"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                        d="m456.738281 202.101562-.277343-.257812c-4.371094-4.035156-17.761719-17.066406-22.277344-22.761719-5.300782-7.105469-4.078125-11.761719-.105469-18.738281 5.019531-8.816406 15.078125-22.339844 25.722656-36.660156 34.09375-45.851563 56.105469-77.59375 51.574219-100.140625l-2.441406-12.042969-125.910156.054688c-.441407 1.1875-7.011719 30.050781-34.738282 79.199218-20.105468 35.636719-33.292968 46.832032-37.9375 48.808594l-.71875-.21875c-1.511718-1.867188-4.152344-6.90625-5.238281-19.894531-1.132813-13.605469-.128906-30.078125.84375-46.007813 1.136719-18.679687 2.117187-34.8125-.230469-46.355468l-3.824218-18.804688c-4.621094-.738281-21.539063-7.265625-68.675782-7.761719-40.808594-.417969-52.796875 5.476563-58.683594 10.671875l-19.472656 17.183594 24.613282 8.28125c9.367187 3.152344 12.476562 6.789062 15.027343 24.816406 1.664063 11.75 2.535157 31.496094.738281 49.125-2.582031 25.277344-8.773437 29.980469-9.09375 30.230469-1.066406-.363281-10.109374-4.320313-25.808593-37.511719-10.890625-23.019531-20.4375-50.25-27.414063-70.132812-7.984375-22.769532-6.546875-17.921875-10.597656-28.679688l-121.8125-.003906 7.882812 20.390625c32.863282 85.089844 63.015626 151.539063 103.367188 199.265625 44.582031 52.730469 99.988281 80.339844 174.621094 80.339844h15v-15c0-14.023438 1.160156-24.121094 3.648437-31.777344 1.519531-4.664062 3.539063-8.519531 5.660157-12.5625 3.148437-5.953125 6.226562-8.503906 7.90625-8.882812 1.523437-.347657 4.203124.769531 7.171874 2.984374 8.523438 6.355469 15.289063 14.707032 22.453126 23.550782 10.335937 12.761718 21.023437 25.953125 37.980468 34.589844 9.265625 4.71875 26.25 7.101562 35.597656 7.101562 2.472657 0 90.601563-.003906 90.710938-.003906l-.644531-15.617188c-.960938-23.351562-19.339844-52.550781-54.617188-86.777344zm-34.867187 72.394532h-.242188c-6.445312.105468-18.746094-2.007813-22.324218-3.828125-11.273438-5.742188-19.152344-15.472657-28.28125-26.738281-8.011719-9.894532-16.296876-20.125-27.832032-28.722657-9.328125-6.957031-17.800781-8.992187-24.527344-8.992187-2.6875 0-5.101562.324218-7.171874.792968-7.808594 1.757813-18.976563 7.375-27.855469 24.167969-2.503907 4.777344-5.34375 10.1875-7.644531 17.265625-2.410157 7.40625-3.910157 15.636719-4.625 25.648438-56.242188-3.195313-100.128907-25.445313-137.207032-69.300782-34.472656-40.777343-61.59375-97.8125-90.316406-170.300781 2.078125 0 54.152344.007813 57.226562.007813.941407 2.644531 1.957032 5.542968 3.035157 8.613281 7.519531 21.449219 17.820312 50.820313 29.957031 75.867187 17.378906 35.867188 33.25 51.863282 51.457031 51.863282 9.089844 0 17.242188-3.851563 23.574219-11.144532 9.027344-10.394531 14.269531-27.550781 16.027344-52.453124 1.386718-19.636719.097656-39.195313-1.425782-49.972657-1.257812-8.867187-3.050781-18.175781-7.425781-26.515625 18.644531-.839844 43.609375.488282 59.425781 2.757813 1.4375 7.828125.5 23.214843-.40625 38.101562-2.191406 35.960938-4.453124 73.070313 14.582032 90.433594 3.347656 3.054687 6.898437 4.691406 7 4.757813l9.6875 2.972656c3.738281-1.152344 25.390625 9.832031 66.390625-61.71875 13.136719-22.925782 25.367187-49.34375 31.953125-66.597656 15.273437-.03125 67.308594.027343 73.421875.035156-8.660157 19.058594-29.183594 46.242187-42.597657 64.285156-11.695312 15.726562-21.792968 29.308594-27.71875 39.714844-11.007812 19.332031-9.15625 36.5625 2.308594 51.761718l.179688.234376c6.398437 8.144531 22.199218 23.222656 25.476562 26.261718 23.742188 23.050782 35.183594 39.609375 40.628906 50.738282h-54.730468zm0 0"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="socials__item">
                                        <a href="{{ social.fb }}" class="socials__link" target="_blank">
                                            <svg enable-background="new 0 0 24 24" height="25" viewBox="0 0 24 24"
                                                 width="15" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                        d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-12 col-6 order-lg-3 order-2">
                            <h4 class="footer__heading">
                                Интернет-магазин

                                <button class="footer__menu-toggler">
                                    <svg width="12" height="6" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 6">
                                        <path d="M11.99963,0.99959v0l-4.80026,4.00041v0l0.00042,0.00037v0l-1.20001,1.00001v0l-6.00004,-5.00005v0l1.20001,-1.00001v0l4.79961,3.99967v0l4.80026,-4.00004v0z" fill="#144da4" fill-opacity="1"></path>
                                    </svg>
                                </button>
                            </h4>

                            <div class="footer__footer-menu">
                                <ul class="footer-menu__list">
                                    {% for link in menu_links[0] %}
                                        <li class="footer-menu__item">
                                            <a href="{{ link.href }}" class="footer-menu__link">
                                                {{ link.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-12 order-lg-4 order-3">

                            <h4 class="footer__heading">
                                Уголок покупателя
                                <button class="footer__menu-toggler">
                                    <svg width="12" height="6" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 6">
                                        <path d="M11.99963,0.99959v0l-4.80026,4.00041v0l0.00042,0.00037v0l-1.20001,1.00001v0l-6.00004,-5.00005v0l1.20001,-1.00001v0l4.79961,3.99967v0l4.80026,-4.00004v0z" fill="#144da4" fill-opacity="1"></path>
                                    </svg>
                                </button>
                            </h4>

                            <div class="footer__footer-menu">
                                <ul class="footer-menu__list">
                                    {% for link in menu_links[1] %}
                                        <li class="footer-menu__item">
                                            <a href="{{ link.href }}" class="footer-menu__link">
                                                {{ link.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-12 order-lg-5 order-4">
                            <h4 class="footer__heading">
                                Компания
                                <button class="footer__menu-toggler">
                                    <svg width="12" height="6" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 6">
                                        <path d="M11.99963,0.99959v0l-4.80026,4.00041v0l0.00042,0.00037v0l-1.20001,1.00001v0l-6.00004,-5.00005v0l1.20001,-1.00001v0l4.79961,3.99967v0l4.80026,-4.00004v0z" fill="#144da4" fill-opacity="1"></path>
                                    </svg>
                                </button>
                            </h4>

                            <div class="footer__footer-menu">
                                <ul class="footer-menu__list">
                                    {% for link in menu_links[2] %}
                                        <li class="footer-menu__item">
                                            <a href="{{ link.href }}" class="footer-menu__link">
                                                {{ link.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="footer__bottom">
                <div class="row">
                    <div class="col-md-3 order-lg-1 order-3">
                        <div class="footer__copyright">
                            © 2015-{{ "now"|date('Y') }} <br>
                            Официальный интернет-магазин климатической компании "SDM Climate"<br><br>
                            Все права защищены.<br>
                        </div>
                    </div>

                    <div class="col-md-3 order-lg-2">
                        <!--noindex--><a rel='nofollow' target="_blank" href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=dynamic.150x101/*https://market.yandex.ru/shop--sdm-climate/410230/reviews"> <img rel='nofollow' loading="lazy" width="150" height="101" src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73581/path=dynamic.150x101/*https://grade.market.yandex.ru/?id=410230&action=image&size=2" alt="Читайте отзывы покупателей и оценивайте качество магазина SDM Climate на Яндекс.Маркете" /> </a><!--/noindex-->
                    </div>

                    <div class="col-md-4 order-lg-3 order-1">
                        <div class="footer__payment-systems">
                            <h4 class="footer__heading">Принимаем к оплате</h4>

                            <picture>
                                <source srcset='/image/static/img/payments.webp' type='image/webp'>
                                <img loading="lazy" src='/image/static/img/payments.jpg' alt='Принимаем к оплате' width="323" height="33">
                            </picture>
                        </div>
                    </div>

                    <div class="col-md-2 order-lg-4 order-2">
                        <h4 class="footer__heading">Напишите нам</h4>

                        <div class="footer__messengers messengers">
                            <ul class="messengers__list">
                                <li class="messengers__item">
                                    <a rel='nofollow' href="https://wa.me/79295922890" target="_blank" class="messengers__link">
                                        <img loading="lazy" width="30" height="30" src="/catalog/view/theme/oct_ultrastore/image/whatsapp.svg" alt="WhatsApp">
                                    </a>
                                </li>
                                <li class="messengers__item">
                                    <a rel='nofollow' href="" class="messengers__link messengers__link_type_online-chat">
                                        <img loading="lazy" width="30" height="30" src="/catalog/view/theme/oct_ultrastore/image/chat-bubbles.svg" alt="Chat Bubbles">
                                    </a>
                                </li>
                                <li class="messengers__item">
                                    <a rel='nofollow' href="https://t.me/sdmclimatebot" target="_blank" class="messengers__link">
                                        <img loading="lazy" width="30" height="30" src="/img/socials/telegram.svg" alt="Telegram">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div> <!-- page id -->

<script src="{{ mix.getBuildAsset('/js/main.js') }}" defer></script>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript" defer></script>
{% endfor %}
<div class="modal-holder"></div>

{% if analytics is defined and analytics is not empty %}
    {{ analytics }}
{% endif %}

{{ prmn_cmngr_cities }}
{{_ocm_script}}

{#<script src="/catalog/view/theme/oct_ultrastore/js/jquery.inputmask.bundle.min.js" defer></script>#}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('input[type="tel"]').forEach(el => {
      window.initInputMask(el)
    })
    // usInputMask('input[type="tel"]', '8 (999) 999-99-99');

    setTimeout(() => {
      (function (document, url) {
        var script = document.createElement('script');
        script.async = true;
        script.src = url + '?' + (Math.ceil(Date.now() / (60 * 60 * 1000)) | 0);
        var allScripts = document.getElementsByTagName('script');
        var lastScript = allScripts[allScripts.length - 1]
        lastScript.parentNode.insertBefore(script, lastScript);
      })(document, 'https://cdn-ru.bitrix24.ru/b11290212/crm/site_button/loader_2_u4f5ce.js');

      (function(w, d, s, h, id) {    w.roistatProjectId = id; w.roistatHost = h;    var p = d.location.protocol == "https:" ? "https://" : "http://";    var u = /^.roistat_visit=[^;]+(.)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init?referrer="+encodeURIComponent(d.location.href);    var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);})(window, document, 'script', 'cloud.roistat.com', 'a0cede0e864374eeb4162631bfb63297');

      $('.oct-menu-li a[href="#showSubmenu"]').on('click', function (e) {
        e.preventDefault;
        $(this).parent().find('.oct-menu-toggle').trigger('click');
      });

      $(".ocfilter-option--simple").find('.ocf-option-name').on("click", function () {
        if (window.matchMedia("(max-width: 991px)").matches) {
          $(this).toggleClass("js--option_act");
          $(this).next(".ocf-option-values").slideToggle(300);
        }
      });
    }, 100)
  });
</script>

    <!-- Pixel -->
    <script type="text/javascript">
      (function (d, w) {
        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://qoopler.ru/index.php?ref="+d.referrer+"&cookie=" + encodeURIComponent(document.cookie);

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window);
    </script>
    <!-- /Pixel -->



<!-- BEGIN WHATSAPP INTEGRATION WITH ROISTAT -->
<script type="bogus" class="js-whatsapp-message-container">Здравствуйте! Мы приняли Вашу заявку. В ближайшее время наш менеджер с Вами свяжется: {roistat_visit}</script>
<script>
    (function() {
        if (window.roistat !== undefined) {
            handler();
        } else {
            var pastCallback = typeof window.onRoistatAllModulesLoaded === "function" ? window.onRoistatAllModulesLoaded : null;
            window.onRoistatAllModulesLoaded = function () {
                if (pastCallback !== null) {
                    pastCallback();
                }
                handler();
            };
        }

        function handler() {
            function init() {
                appendMessageToLinks();

                var delays = [1000, 5000, 15000];
                setTimeout(function func(i) {
                    if (i === undefined) {
                        i = 0;
                    }
                    appendMessageToLinks();
                    i++;
                    if (typeof delays[i] !== 'undefined') {
                        setTimeout(func, delays[i], i);
                    }
                }, delays[0]);
            }

            function replaceQueryParam(url, param, value) {
                var explodedUrl = url.split('?');
                var baseUrl = explodedUrl[0] || '';
                var query = '?' + (explodedUrl[1] || '');
                var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
                var queryWithoutParameter = query.replace(regex, "$1").replace(/&$/, '');
                return baseUrl + (queryWithoutParameter.length > 2 ? queryWithoutParameter  + '&' : '?') + (value ? param + "=" + value : '');
            }

            function appendMessageToLinks() {
                var message = document.querySelector('.js-whatsapp-message-container').text;
                var text = message.replace(/{roistat_visit}/g, window.roistatGetCookie('roistat_visit'));
                text = encodeURI(text);
                var linkElements = document.querySelectorAll('[href*="//wa.me"], [href*="//api.whatsapp.com/send"], [href*="//web.whatsapp.com/send"], [href^="whatsapp://send"]');
                for (var elementKey in linkElements) {
                    if (linkElements.hasOwnProperty(elementKey)) {
                        var element = linkElements[elementKey];
                        element.href = replaceQueryParam(element.href, 'text', text);
                    }
                }
            }
            if (document.readyState === 'loading') {
                document.addEventListener('DOMContentLoaded', init);
            } else {
                init();
            }
        };
    })();
</script>
<!-- END WHATSAPP INTEGRATION WITH ROISTAT -->


<!-- Вставьте этот скрипт перед закрывающим тегом </body> -->
<!-- Токен {wz_metric} используется для подстановки кода аналитики. Убедитесь, чтобы токен и текст, в котором он прописан, были разделены как минимум одним символом пробела. -->
<script>
  (function () {
    function ChangeLinkWA() {
      this.text = "Здравствуйте! Мы приняли Вашу заявку. В ближайшее время наш менеджер с Вами свяжется: {wz_metric}";
      this.cookieSource = "roistat_visit";
    }

    ChangeLinkWA.prototype.editLink = function (url, id) {
      if (
        decodeURIComponent(url.split("text=")[1]) ===
        this.text.replace(/{wz_metric}/gi, id)
      )
        return;
      var regexNumberPhone = /\d+/;
      if (!regexNumberPhone.test(url)) return;
      var phone = url.match(regexNumberPhone)[0];
      var host = url.split(phone)[0];
      var newUrl =
        host === "https://wa.me/"
          ? host.toString()+phone.toString()+"?text="+(this.text.replace(/{wz_metric}/gi, id))
          : host.toString()+phone.toString()+"&text="+(this.text.replace(/{wz_metric}/gi, id));
      return newUrl;
    };

    ChangeLinkWA.prototype.getCookie = function (name) {
      var cookie = document.cookie;
      var matches = cookie.match(
        new RegExp(
          "(?:^|; )"+(name.replace(/([.$?*|{}()[]\/+^])/g, "\\$1"))+"=([^;]*)"
        )
      );
      return matches ? decodeURIComponent(matches[1]) : undefined;
    };

    ChangeLinkWA.prototype.censusLinks = function () {
      var links = document.querySelectorAll(
        '[href*="//wa.me"], [href*="//api.whatsapp.com/send"], [href*="//web.whatsapp.com/send"], [href^="whatsapp://send"]'
      );
      var id = this.getCookie(this.cookieSource);
      var that = this;
      links.forEach(function (link) {
        var newLink = that.editLink(link.href, id);
        if (newLink) link.href = newLink;
      });
    };

    window.addEventListener("DOMContentLoaded", function () {
      if (!(window.__wz_scripts && window.__wz_scripts.scriptsChangeLinkWA)) {
        if (!window.__wz_scripts) window.__wz_scripts = {};
        window.__wz_scripts.scriptsChangeLinkWA = new ChangeLinkWA();
        var interval = setInterval(function () {
          var id = window.__wz_scripts.scriptsChangeLinkWA.getCookie(
            window.__wz_scripts.scriptsChangeLinkWA.cookieSource
          );
          if (id) {
            clearInterval(interval);
            window.__wz_scripts.scriptsChangeLinkWA.censusLinks();
          }
        }, 200);
      }
    });
  })();
</script>




{% if oct_ultrastore_data.footer_totop is defined and oct_ultrastore_data.footer_totop %}
    <div id="back-top">
        <a href="#top"><i class="fas fa-chevron-up"></i></a>
    </div>

    <style>
        #back-top {
            position: fixed;
            bottom: 50px;
            left: 50px;
            width: 50px;
            height: 50px;
            border: 2px solid #0e55f5;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            z-index: 1;
            background-color: white;
        }
    </style>
{% endif %}

</body>
</html>
