<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir='{{ direction }}' lang='{{ lang }}' class='ie8'><![endif]-->
<!--[if IE 9 ]><html dir='{{ direction }}' lang='{{ lang }}' class='ie9'><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# product:http://ogp.me/ns/product#">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if oct_analytics_google_webmaster_code is defined and oct_analytics_google_webmaster_code is not empty %}
    <meta name="google-site-verification" content="{{ oct_analytics_google_webmaster_code }}" />
  {% endif %}

  {% if oct_analytics_yandex_webmaster_code is defined and oct_analytics_yandex_webmaster_code is not empty %}
    <meta name="yandex-verification" content="{{ oct_analytics_yandex_webmaster_code }}" />
  {% endif %}

  <title>{{ title }}</title>

  {% if noindex %}
    <!-- OCFilter Start -->
    <meta name="robots" content="noindex,nofollow" />
    <!-- OCFilter End -->
  {% endif %}

  <base href="{{ base }}" />
  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  {% for style in styles %}
    <link href="{{ style.href }}?v=1" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}

  <script src="/catalog/view/theme/oct_ultrastore/js/jquery-3.3.1.min.js" {{ defer_scripts ? 'defer' : '' }}></script>
  <script src="/catalog/view/theme/oct_ultrastore/js/popper.min.js" {{ defer_scripts ? 'defer' : '' }}></script>
  <script src="/catalog/view/theme/oct_ultrastore/js/bootstrap.min.js" {{ defer_scripts ? 'defer' : '' }}></script>
  <script
    src="/catalog/view/theme/oct_ultrastore/js/bootstrap-notify/bootstrap-notify.js" {{ defer_scripts ? 'defer' : '' }}></script>
  <script src="/catalog/view/theme/oct_ultrastore/js/main.js?v=4" {{ defer_scripts ? 'defer' : '' }}></script>
  <script src="/catalog/view/theme/oct_ultrastore/js/common.js?v=4" {{ defer_scripts ? 'defer' : '' }}></script>

  {% for script in scripts %}
    <script src="{{ script }}" {{ defer_scripts ? 'defer' : '' }}></script>
  {% endfor %}

  {{ mlseo_meta }}

  {% if route and route == 'checkout' %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=870358b4-a4e1-4dfe-b7c1-6cdffe2fcd30" async></script>
    <link rel="stylesheet" type="text/css" href="dadayama/dadayama.css">{% endif %}

  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}

  <meta name="yandex-verification" content="3a22b763f454421d" />
  <meta name="yandex-verification" content="fe4701f884e5d9fb" />
  <meta name="yandex-verification" content="a73a8f78cb765366" />
  <meta name="google-site-verification" content="LqkGI4MhE4eblN0IUo3PFMBJni6D9wJg9jy9ZutjYFk" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <style>.compensate-for-scrollbar {
      margin-right: 0 !important;
    }</style>

  <link href="{{ mix.getBuildAsset('/css/main.css') }}" rel="stylesheet">

  <script src="{{ mix.getBuildAsset('/js/top.js') }}" {{ defer_scripts ? 'defer' : '' }}></script>

  <script type="text/javascript">
  var __cs = __cs || [];
  __cs.push(["setCsAccount", "11ZngLx56a4zSngYlaEViBAS8ehGxi42"]);
  </script>
  <script type="text/javascript" async src="https://app.uiscom.ru/static/cs.min.js"></script>
  <script src="https://lib.admon.pro/adsalesfree.js" async></script>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKSF7BH');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKSF7BH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="page">
  <header class="header">
    <div class="container">
      <div class="header__top">
        <!-- mobile -->
        <div class="header__toggler">
          <a class="mburger mburger--collapse" href="#mmenu">
            <b></b>
            <b></b>
            <b></b>
          </a>
        </div>

        <a href="{{ home }}" class="header__logo">
          <img loading="lazy" width="230" height="62" src="/webp-images/logo.svg" alt="SDM Climate">
        </a>

        <!-- mobile -->
        <button
          class="header-actions__action header-actions__action--search header-actions__action--search-xs js-header-search-mobile-button">
          <div class="header-actions__action-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
              <path
                d="M21.6 21.6c-0.2 0.2-0.4 0.3-0.7 0.3 -0.3 0-0.5-0.1-0.7-0.3l-5.6-5.6c-1.5 1.2-3.5 2-5.6 2 -4.9 0-8.9-4-8.9-8.9 0-4.9 4-8.9 8.9-8.9 4.9 0 8.9 4 8.9 8.9 0 2.1-0.7 4.1-2 5.6l5.6 5.6c0.4 0.4 0.4 1 0 1.4zM16 9c0-3.8-3.1-7-7-7 -3.8 0-7 3.1-7 7 0 3.8 3.1 7 7 7 3.8 0 7-3.1 7-7z" />
            </svg>
          </div>
        </button>

        <!-- main search form -->
        <div class="header__search-form search-form js-search" data-search-link="{{ search_link }}">
          <div class="search-form__group">
            <input type="text" name="search" class="search-form__control js-search-value"
                   placeholder="Искать на SDM CLIMATE"
                   value="{{ search }}">
            <button class="search-form__btn js-search-button">
              <svg width="16" height="16">
                <use xlink:href="/assets/svg/sprite.svg#search"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="header__tel">
          <div class="header__tel-inner">
            <svg width='30' height='20'>
              <use xlink:href='/assets/svg/sprite.svg#phone-call'></use>
            </svg>
            <a href="tel:{{ telephone_number }}" class="header__tel-link">{{ telephone_text }}</a></div>
          <a href="javascript:" onclick="octPopupCallPhone()" class="header__tel-callback">Перезвоните мне</a>
        </div>

        <div class="header__header-actions header-actions">
          <!-- mobile -->
          <a href="tel:84953200044" class="header-actions__action header-actions__action--tel">
            <svg xmlns="http://www.w3.org/2000/svg" height="23" viewBox="0 0 512 512" width="23">
              <path
                d="m368 512c-16.5 0-32.9-2.9-48.9-8.7-70.6-25.6-136.1-67.4-189.5-120.8s-95.1-118.9-120.8-189.5c-8.2-22.7-10.7-46.1-7.2-69.6 3.2-22 11.8-43.4 24.7-61.8 13-18.5 30.2-33.9 50-44.5 21-11.3 44-17.1 68.3-17.1 7.5 0 14.1 5.3 15.6 12.6l25.1 117.2c1.1 5.3-0.5 10.8-4.3 14.7l-42.9 42.9c40.5 80.5 106.2 146.2 186.7 186.7l42.9-42.9c3.8-3.8 9.4-5.5 14.7-4.3l117.2 25.1c7.4 1.6 12.6 8.1 12.6 15.6 0 24.3-5.7 47.2-17.1 68.3-10.6 19.7-26 37-44.5 50-18.4 12.9-39.8 21.4-61.8 24.7-6.9 1-13.8 1.5-20.7 1.5zm-236.3-479.3c-32 3.5-60.4 20.3-79.3 47.2-21.2 30.3-26.2 67.5-13.6 102.1 49.3 135.7 155.4 241.8 291.2 291.2 34.6 12.6 71.9 7.6 102.1-13.6 26.9-18.9 43.7-47.3 47.2-79.3l-95.3-20.4-44.8 44.8c-4.8 4.8-12 6-18.1 3.2-95.2-44.7-172.2-121.8-217-217-2.9-6.1-1.6-13.3 3.2-18.1l44.8-44.8z" />
            </svg>
          </a>

          <!-- tablet -->
          <button class="header-actions__action header-actions__action--search js-header-search-mobile-button">
            <span class="header-actions__action-icon">
              <svg width="22" height="22">
                <use xlink:href="/assets/svg/sprite.svg#search"></use>
              </svg>
            </span>
            Поиск
          </button>

          <a href="{{ login }}" class="header-actions__action">
            <span class="header-actions__action-icon"><svg width="23" height="22"><use xlink:href='/assets/svg/sprite.svg#user'></use></svg></span>
            {% if logged %}{{ user_name }}{% else %}Войти{% endif %}
          </a>

          <a href="{{ wishlist }}"
             class="header-actions__action {% if wishlist_total == 0 %}empty{% endif %} js-header-wishlist">
            <div class="header-actions__action-icon">
              <svg width="23" height="22"><use xlink:href='/assets/svg/sprite.svg#heart'></use></svg>
            </div>
            Избранное
            <span class="header-actions__action-counter js-header-wishlist-quantity">{{ wishlist_total }}</span>
          </a>

          <a href="{{ compare_link }}"
             class="header-actions__action {% if compare_total == 0 %}empty{% endif %} js-header-compare">
            <div class="header-actions__action-icon">
              <svg width="22" height="22" ><use xlink:href='/assets/svg/sprite.svg#bar-chart-2'></use></svg>
            </div>
            Сравнение
            <span class="header-actions__action-counter js-header-compare-quantity">{{ compare_total }}</span>
          </a>

          <a href="{{ cart.link }}"
             class="header-actions__action {% if cart.quantity == 0 %}empty{% endif %} js-header-cart">
            <div class="header-actions__action-icon">
              <svg width="22" height="22"><use xlink:href='/assets/svg/sprite.svg#shopping-cart'></use></svg>
            </div>
            <span class="js-header-cart-total">{{ cart.total }}</span>
            <span class="header-actions__action-counter js-header-cart-quantity">{{ cart.quantity }}</span>
          </a>
        </div>
      </div>

      <nav class="header__header-menu header-menu">
        <ul class="header-menu__list">
          <li class="header-menu__item header-menu__item--parent header-menu__item--catalogue">
            <button class="header-menu__link">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="11" viewBox="0 0 17 11">
                <path d="M0 0v0h17v0 1 0h-17v0z" fill="#fff" />
                <path d="M0 5v0h11v0 1 0h-11v0z" fill="#fff" />
                <path d="M0 10v0h17v0 1 0h-17v0z" fill="#fff" />
              </svg>
              Каталог товаров
            </button>

            <div class="header-menu__mburger">
              <a class="mburger mburger--collapse" href="#mmenu">
                <b></b>
                <b></b>
                <b></b>
              </a>
            </div>

            <ul class="header-menu__sublist ">
              {{ menu }}
            </ul>
          </li>
          {% for menu_link in menu_links %}
            <li class="header-menu__item">
              <a href="{{ menu_link.href }}" class="header-menu__link">
                {{ menu_link.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      {{ mmenu }}
    </div>
  </header>
  <template data-template-item>
    <div class="header-menu__tel">
      <a href="tel:{{ telephone_number }}" class="header-menu__tel-link">{{ telephone_text }}</a>
      <a href="javascript:" onclick="octPopupCallPhone()" class="header-menu__tel-callback">Перезвоните мне</a>
    </div>
  </template>
