{{ header }}

{% import '/oct_ultrastore/template/macroses/index.twig' as macroses %}

<main class="frontpage">
  <div class="frontpage__promo-banners promo-banners">
    <div class="container">
      <div class="promo-banners__wrap">
        <div class="promo-banners__carousel">
          <div class='main-carousel'>
            <div class='swiper main-carousel__swiper'>
              <div class='swiper-wrapper'>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-01.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-01.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-01.jpg' alt='Бережная доставка'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Бережная доставка<br> в любой регион<br> России</div>
                      <a href='/delivery' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-02.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-02.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-02.jpg' alt='Широкий выбор кондиционеров'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Широкий выбор<br> кондиционеров</div>
                      <div class='main-carousel__desc'>Наши специалисты помогут подобрать
                        кондиционер<br> и дополнительное оборудование для монтажа,<br> вы только скажите
                        свой бюджет
                      </div>
                      <a href='/kondicionery' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-03.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-03.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-03.jpg' alt='Монтаж, демонтаж и установка'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Монтаж, демонтаж и установка<br> кондиционеров, систем
                        вентиляции<br> и отопления по Москве и Московской области
                      </div>
                      <a href='/stoimost-montazha-konditsionerov/' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-04.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-04.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-04.jpg' alt='Водонагреватели под любой кошелёк'>
                    </picture>
                    <div class='main-carousel__content main-carousel__content_right'>
                      <div class='main-carousel__title'>Водонагреватели<br> под любой кошелёк</div>
                      <a href='/vodonagrevateli' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-05.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-05.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-05.jpg' alt='Инженерия и монтаж в B2B-проектах'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Инженерия и монтаж<br> в B2B-проектах</div>
                      <div class='main-carousel__desc'>Рассчитайте предварительную стоимость монтажа и получите<br>
                        предварительное коммерческое предложение по выгодной цене
                      </div>
                      <a href='/stoimost-montazha-konditsionerov/#calcelztormontazh' class='main-carousel__btn'>Калькулятор</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-06.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-06.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-06.jpg' alt='Качественное сервисное обслуживание'>
                    </picture>
                    <div class='main-carousel__content main-carousel__content_right'>
                      <div class='main-carousel__title'>Качественное сервисное<br> обслуживание</div>
                      <div class='main-carousel__desc'>3 года гарантии на кондиционеры для дома или офиса.<br> Поможем с
                        ремонтом максимально быстро
                      </div>
                      <a href='/kondicionery' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-07.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-07.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-07.jpg' alt='Подбор оборудования и монтаж под любой ремонт'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Подбор оборудования<br> и монтаж под любой ремонт</div>
                      <div class='main-carousel__desc'>Сезонные скидки и акции от 10% до 50% на весь ассортимент,<br>
                        включая допоборудование и запчасти
                      </div>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-08.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-08.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-08.jpg' alt='Удобная покупка в рассрочку'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Удобная покупка<br> в рассрочку</div>
                      <div class='main-carousel__desc'>Три удобных программы 0-0-6, 0-0-10, 0-0-18</div>
                      <a href='/kondicionery' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-09.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-09.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-09.jpg' alt='Радиаторы отопления и обогреватели'>
                    </picture>
                    <div class='main-carousel__content main-carousel__content_right'>
                      <div class='main-carousel__title'>Радиаторы отопления и обогреватели<br> в офис, квартиру или на
                        дачу
                      </div>
                      <div class='main-carousel__desc'>Наши специалисты помогут подобрать систему отопления<br> и
                        дополнительное оборудование для монтажа,<br> вы только скажите свой бюджет
                      </div>
                      <a href='/obogrevateli' class='main-carousel__btn'>Узнать больше</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-10.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-10.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-10.jpg' alt='Комплектация и монтаж климатического оборудования'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Комплектация и монтаж<br> климатического оборудования<br> на
                        объектах под ключ с подбором<br> аналогов под бюджет
                      </div>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-11.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-11.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-11.jpg' alt='Выезд специалиста для оценки'>
                    </picture>
                    <div class='main-carousel__content main-carousel__content_right'>
                      <div class='main-carousel__title'>Выезд специалиста для оценки<br> стоимости подбора и монтажа<br>
                        оборудования
                      </div>
                      <div class='main-carousel__desc'>Экспертный подбор оборудования, сроки поставки и монтажа,<br>
                        выгодные скидки и оптовые цены
                      </div>
                      <a href='/stoimost-montazha-konditsionerov/#calcelztormontazh'
                         class='main-carousel__btn'>Заказать</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-12.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-12.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-12.jpg' alt='Проектирование, монтаж '>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Проектирование, монтаж <br>и обслуживание климатического<br>
                        оборудования под ключ
                      </div>
                      <div class='main-carousel__desc'>5 лет на рынке B2G | E-com | Частный сектор<br> 10 лет опыт
                        проектной работы под ключ<br> 50+ реализованных проектов
                      </div>
                      <a href='/stoimost-montazha-konditsionerov' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-13.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-13.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-13.jpg' alt='Покупка любого оборудования в кредит'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Покупка любого<br> оборудования в кредит</div>
                      <div class='main-carousel__desc'>Кредитные программы от разных банков, выберите ту,<br> которая
                        лучше подходит по ставке и срокам
                      </div>
                      <a href='/credit-programm' class='main-carousel__btn'>Узнать больше</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-14.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-14.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-14.jpg' alt='Сантехника, полотенцесушители'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Сантехника, полотенцесушители,<br> арматура, сушилки для рук
                      </div>
                      <div class='main-carousel__desc'>Наши специалисты помогут подобрать бренды или аналоги,<br>
                        дополнительное оборудование по самым выгодным ценам<br> от поставщиков под ваш бюджет
                      </div>
                      <a href='/santehnika' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-15.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-15.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-15.jpg' alt='Микроклимат и уют'>
                    </picture>
                    <div class='main-carousel__content main-carousel__content_right'>
                      <div class='main-carousel__title'>Микроклимат и уют<br> в вашем доме от СДМ КЛИМАТ</div>
                      <div class='main-carousel__desc'>Наши специалисты помогут подобрать систему микроклимата<br> под
                        ваш размер квартиры или дома, вы только скажите свой бюджет
                      </div>
                      <a href='/mikroklimat' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-16.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-16.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-16.jpg' alt='Подбор и монтаж вентиляционного оборудования в офис'>
                    </picture>
                    <div class='main-carousel__content'>
                      <div class='main-carousel__title'>Подбор и монтаж вентиляционного<br> оборудования в офис</div>
                      <div class='main-carousel__desc'>Наши специалисты подберут аналоговое или брендовое<br>
                        оборудование, рассчитают стоимость монтажа и предложат<br> качественное гарантийное обслуживание
                        на 3 года
                      </div>
                      <a href='/ventilyaciya' class='main-carousel__btn'>В магазин</a>
                    </div>
                  </div>
                </div>

                <div class='swiper-slide'>
                  <div class='main-carousel__item'>
                    <picture class='main-carousel__image-wrapper'>
                      <source media='(max-width: 449px)' srcset='/img/home-slider/mobile/slider-17.jpg' />
                      <source media='(min-width: 450px)' srcset='/img/home-slider/slider-17.jpg'>
                      <img width='1120' height='535' src='/img/home-slider/slider-17.jpg' alt='Покупайте электрические камины и печи в рассрочку'>
                    </picture>
                    <div class='main-carousel__content main-carousel__content_right'>
                      <div class='main-carousel__title'>Покупайте электрические<br> камины и печи в рассрочку</div>
                      <div class='main-carousel__desc'>Три удобных программы 0-0-6, 0-0-10, 0-0-18</div>
                      <a href='/kaminy-i-pechi' class='main-carousel__btn'>Подробнее</a>
                    </div>
                  </div>
                </div>


              </div>
              <div class="swiper-pagination"></div>
            </div>
            <button class='main-carousel__arrow main-carousel__arrow_prev'>
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="9" viewBox="0 0 26 9">
                <path d="M21.8 0v0l3.3 3.6v0l0 0v0l0.8 0.9v0l-4.2 4.5v0l-0.8-0.9v0l3.3-3.6v0l-3.3-3.6v0z" />
                <path d="M0 4v0 1 0h25v0 -1 0z" />
              </svg>
            </button>
            <button class='main-carousel__arrow main-carousel__arrow_next'>
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="9" viewBox="0 0 26 9">
                <path d="M21.8 0v0l3.3 3.6v0l0 0v0l0.8 0.9v0l-4.2 4.5v0l-0.8-0.9v0l3.3-3.6v0l-3.3-3.6v0z" />
                <path d="M0 4v0 1 0h25v0 -1 0z" />
              </svg>
            </button>
          </div>
        </div>

        <div class="promo-banners__brands brands">
          <div class="brands__brands-carousel">
            <button class="brands__control brands__control--prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="9" viewBox="0 0 26 9">
                <path
                  d="M21.8 0v0l3.3 3.6v0l0 0v0l0.8 0.9v0l-4.2 4.5v0l-0.8-0.9v0l3.3-3.6v0l-3.3-3.6v0z" />
                <path d="M0 4v0 1 0h25v0 -1 0z" />
              </svg>
            </button>

            {% for banner in manufacturers_banners %}
              <div class="brands__item">
                <a href="{{ banner.href }}" class="brands__link">
                  <picture>
                    <img loading="lazy" src='{{ banner.image }}' alt='Логотип' width="180" height="50">
                  </picture>
                </a>
              </div>
            {% endfor %}

            <button class="brands__control brands__control--next">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="9" viewBox="0 0 26 9">
                <path
                  d="M21.8 0v0l3.3 3.6v0l0 0v0l0.8 0.9v0l-4.2 4.5v0l-0.8-0.9v0l3.3-3.6v0l-3.3-3.6v0z" />
                <path d="M0 4v0 1 0h25v0 -1 0z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if product_specials %}
    <section class="frontpage__discounted-products discounted-products">
      <div class="container">
        <div class="discounted-products__header">
          <h2 class="discounted-products__heading">
            Товары со скидками
          </h2>

          <a href="{{ discounted_link }}" class="discounted-products__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16">
              <path d="M1.8 0.5v0l5.3 6v0l0 0v0l1.3 1.5v0l-6.7 7.5v0l-1.3-1.5v0l5.3-6v0l-5.3-6v0z"
                    fill="#bdc2ce" />
            </svg>
          </a>
        </div>
        <div class="discounted-products__products products">
          {% for product in product_specials %}
            {{ macroses.productCardGrid(product) }}
          {% endfor %}

          <div class="discounted-products__controls">
            <button class="discounted-products__control discounted-products__control--prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="9" viewBox="0 0 26 9">
                <path d="M21.8 0v0l3.3 3.6v0l0 0v0l0.8 0.9v0l-4.2 4.5v0l-0.8-0.9v0l3.3-3.6v0l-3.3-3.6v0z" />
                <path d="M0 4v0 1 0h25v0 -1 0z" />
              </svg>
            </button>
            <button class="discounted-products__control discounted-products__control--next">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="9" viewBox="0 0 26 9">
                <path d="M21.8 0v0l3.3 3.6v0l0 0v0l0.8 0.9v0l-4.2 4.5v0l-0.8-0.9v0l3.3-3.6v0l-3.3-3.6v0z" />
                <path d="M0 4v0 1 0h25v0 -1 0z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="frontpage__promo-advantages promo-advantages">
    <div class="container">
      <ul class="promo-advantages__list">
        <li class="promo-advantages__item delivery-bg_1">
          <h2 class="promo-advantages__item-title">Покупки в рассрочку</h2>
          <div class="promo-advantages__item-description">Три удобных программы
            0-0-6, 0-0-10, 0-0-18
          </div>
          <a href="{{ installment_link }}" class="promo-advantages__item-btn">Как оформить</a>
        </li>
        <li class="promo-advantages__item delivery-bg_2">
          <h2 class="promo-advantages__item-title">Доставка по всей России</h2>
          <div class="promo-advantages__item-description">Более 10 000 пунктов самовывоза</div>
          <a href="{{ delivery_link }}" class="promo-advantages__item-btn">Подробнее</a>
        </li>
      </ul>
    </div>
  </section>

  {{ products_tab }}

  {{ categories_block }}

  <section class="frontpage__installation-banner installation-banner">
    <div class="container">
      <div class="installation-banner__content">
        <h2 class="installation-banner__heading">Установка и монтаж оборудования в Вашем городе</h2>
        <a href="{{ installation_link }}" class="installation-banner__btn">Подробнее</a>
      </div>
    </div>
  </section>

  <section class="frontpage__about-company about-company">
    <div class="about-company__wrap">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">

            <div class="about-company__content">
              <div class="about-company__small">
                НАША КОМПАНИЯ
              </div>
              <h2 class="about-company__heading">SDM Climate – компания
                с интенсивным развитием</h2>
              <p class="about-company__info">
                За короткое время мы смогли завоевать доверие тысяч покупателей в Москве и по всей
                России.
                Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии
                обслуживания
                клиентов и новейшие достижения в сфере высококачественных услуг.
              </p>
            </div>
          </div>
          <div class="col-xl-7">
            <ul class="about-company__list">
              <li class="about-company__achievment">
                <div class="row">
                  <div class="col-12 d-flex d-lg-block mb-3 mb-lg-0">
                    <a target="_blank" rel='nofollow'
                       href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=dynamic.150x101/*https://market.yandex.ru/shop--sdm-climate/410230/reviews">
                      <img loading="lazy" width="150" height="101" rel='nofollow'
                           src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73581/path=dynamic.150x101/*https://grade.market.yandex.ru/?id=410230&action=image&size=5"
                           alt="Читайте отзывы покупателей и оценивайте качество магазина SDM Climate на Яндекс.Маркете" />
                    </a>
                  </div>
                  <div class="col-12 d-flex d-lg-block">
                    <a target="_blank"
                       href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=dynamic.150x101/*https://market.yandex.ru/shop--sdm-climate/410230/reviews"
                       class="about-company__achievment-link">Читать все отзывы</a>
                  </div>
                </div>
              </li>
              <li class="about-company__achievment">
                <div class="row h-100 align-items-center">
                  <div class="col-5 col-md-12">
                    <div class="about-company__achievment-count">
                      120+
                    </div>
                    <div class="about-company__achievment-title">
                      проектов
                    </div>
                  </div>
                  <div class="col-6 col-md-12">
                    <div class="about-company__achievment-description">
                      Выполнено нашими специалистами
                    </div>
                  </div>
                </div>
              </li>
              <li class="about-company__achievment">
                <div class="row h-100 align-items-center">
                  <div class="col-5 col-md-12">
                    <div class="about-company__achievment-count">
                      4000+
                    </div>
                    <div class="about-company__achievment-title">
                      клиентов
                    </div>
                  </div>
                  <div class="col-6 col-md-12">
                    <div class="about-company__achievment-description">
                      По всей России, многие обращаются к нам неоднократно
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>
  {{ content_bottom }}
</main>

{{ footer }}
