{% if languages|length > 1 %}
<div id="language" class="language">
	<div class="mobile-info-title d-lg-none"><strong>{{ text_language }}</strong></div>
	<form action="{{ action }}" class="h-100" method="post" enctype="multipart/form-data" id="form-language">
		<div class="btn-group h-100">
			<button class="btn btn-lang btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{% for language in languages %}
			    {% if language.code == code %} 
			    <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" class="lang">
			    <span>{{ text_language }}</span>
			    <i class="fas fa-chevron-down"></i>
			    {% endif %}
			    {% endfor %}
			</button>
			<div class="dropdown-menu nav-dropdown-menu dropdown-menu-right">
				{% for language in languages %}
		          <button class="btn btn-block language-select{% if language.code == code %} active-item{% endif %}" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
		        {% endfor %}
			</div>
		</div>
	    <input type="hidden" name="code" value="" />
	    <input type="hidden" name="redirect" value="{{ redirect }}" />
	</form>
</div>
{% endif %}
