{% for category in categories %}
	<li class="header-menu__subitem">
		{% if category.children %}
			<a href="{{ category.href }}" class="header-menu__sublink">{{ category.name }}</a>
			<ul class="header-menu__sublist header-menu__sublist_level-2">
				{% for child in category.children %}
					<li class="header-menu__subitem header-menu__subitem_level-2">
						{% if child.children %}
							<a href="{{ child.href }}" class="header-menu__sublink">{{ child.name }}</a>

							<ul class="header-menu__sublist header-menu__sublist_level-3">
								{% for ch in child.children %}
									<li class="header-menu__subitem">
										<a href="{{ ch.href }}" class="header-menu__sublink header-menu__sublink_empty">{{ ch.name }}</a>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<a href="{{ child.href }}" class="header-menu__sublink header-menu__sublink_empty">{{ child.name }}</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<a href="{{ category.href }}" class="header-menu__sublink header-menu__sublink_empty">{{ category.name }}</a>
		{% endif %}
	</li>
{% endfor %}
