<div style="display: none;">
    <nav id="mmenu">
        <ul>
            <li class="header-menu__item--catalogue">
				<span><svg xmlns="http://www.w3.org/2000/svg" width="17" height="11" viewBox="0 0 17 11">
						<path d="M0 0v0h17v0 1 0h-17v0z" fill="#fff"></path>
						<path d="M0 5v0h11v0 1 0h-11v0z" fill="#fff"></path>
						<path d="M0 10v0h17v0 1 0h-17v0z" fill="#fff"></path>
					</svg>&nbsp;&nbsp;Каталог товаров</span>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{{ category.href }}">{{ category.name }}</a>

                            {% if category.children %}
                                <ul>
                                    {% for child in category.children %}
                                        <li>
                                            <a href="{{ child.href }}">{{ child.name }}</a>

                                            {% if child.children %}
                                                <ul>
                                                    {% for ch in child.children %}
                                                        <li>
                                                            <a href="{{ ch.href }}">{{ ch.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>

            {% for menu_link in menu_links %}
                <li>
                    <a href="{{ menu_link.href }}">
                        {{ menu_link.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
