{{ header }}
{{ oct_breadcrumbs }}
<div class="container">
  <!-- Хлебные крошки, Заголовок страницы и warning -->
  {#<nav aria-label="breadcrumb">
	<ul class="breadcrumb us-breadcrumb">
	    {% for breadcrumb in breadcrumbs %}
	    <li class="breadcrumb-item us-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	    {% endfor %}
	</ul>
  </nav>#}
  <main class="checkout-page">
    <h1 class="checkout-page__heading">Оформление заказа</h1>
  </main>
  </div>
  <div class="content-top-box">{{ content_top }}</div>
  {% if error_warning %}
  <script>
	usNotify('warning', '{{ error_warning }}');
  </script>
  {% endif %}
  <!-- /Хлебные крошки, Заголовок страницы и warning -->
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">

