{{ header }}
{{ oct_breadcrumbs }}

<main class="order-received">
	<div class="container">
		<h1 class="order-received__heading">Ваш заказ оформлен</h1>

		<div class="row">
			<div class="col-xl-6 col-lg-5">
				<div class="order-received__content">
					<div class="order-received__order-number">
						Заказ #{{ order.order_id }} от {{ order.date_added }} принят!
					</div>

					<div class="order-received__subheading">Спасибо за заказ!</div>

					<p class="order-received__text">
						Благодарим вас, за то что выбрали наш магазин. Ваш заказ будет обработан нашими операторами в
						ближайщее время. Если у вас остались вопросы, мы всегда рады ответить на них по телефону
						<a href="tel:84953200044">+7 (495) 320-00-44</a>.
						Так же вы можете воспользолваться формой обратной связи.
					</p>

					<div class="order-received__cart-totals cart-totals">
						<ul class="cart-totals__list">
							{% for total in order.totals %}
								<li class="cart-totals__item cart-totals__item--standart">
									{{ total.title }}: <span style="white-space: nowrap">{{ total.text }}</span>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-6 ml-auto">
				<ul class="order-received__order-list">
					{% for product in order.products %}
						<li class="order-list__order-item order-item">
							<a href="{{ product.href }}" class="order-item__img">
								<picture>
									<img loading="lazy" src='{{ product.image }}' alt='' width="65" height="70">
								</picture>
							</a>

							<div class="order-item__body">
								<a href="{{ product.href }}" class="order-item__title">{{ product.name }}</a>
								{#<div class="order-item__option">Монтаж кондиционера + 9 900 ₽</div>#}
							</div>

							<div class="order-item__quantity">
								{{ product.quantity }} Х<span class="order-item__price">{{ product.price }}</span>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</main>

{{ footer }}
