<div class="us-cart-block us-cart-block-rel">
    <div class="us-cart-block-title d-flex align-items-center"><span>{{ heading_title }}</span> <i class="fas fa-chevron-down"></i></div>
  <div id="collapse-coupon" class="form-group us-cart-block-group d-md-flex align-items-center justify-content-between">
      <label for="input-coupon">{{ entry_coupon }}</label>
        <input type="text" name="coupon" value="{{ coupon }}" placeholder="{{ entry_coupon }}" id="input-coupon" class="form-control" />
        <input type="button" value="{{ button_coupon }}" id="button-coupon" data-loading-text="{{ text_loading }}"  class="us-module-btn us-module-btn-green us-cart-block-btn" />
		<script type="text/javascript">
		$('#button-coupon').on('click', function() {
			$.ajax({
				url: 'index.php?route=extension/total/coupon/coupon',
				type: 'post',
				data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
				dataType: 'json',
				beforeSend: function() {
					$('#button-coupon').button('loading');
				},
				complete: function() {
					$('#button-coupon').button('reset');
				},
				success: function(json) {
					$('.alert-dismissible').remove();
		
					if (json['error']) {
						usNotify('danger', json['error']);
					}
		
					if (json['redirect']) {
						location = json['redirect'];
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});
		</script>
  </div>
</div>
