
<div class="us-cart-block us-cart-block-rel">
    <div class="us-cart-block-title d-flex align-items-center"><span>{{ heading_title }}</span> <i class="fas fa-chevron-down"></i></div>
	<div id="collapse-voucher" class="form-group us-cart-block-group d-md-flex align-items-center justify-content-between">
      <label for="input-voucher">{{ entry_voucher }}</label>
        <input type="text" name="voucher" value="{{ voucher }}" placeholder="{{ entry_voucher }}" id="input-voucher" class="form-control" />
        <input type="button" value="{{ button_voucher }}" id="button-voucher" data-loading-text="{{ text_loading }}"  class="us-module-btn us-module-btn-green us-cart-block-btn" />
      <script type="text/javascript"><!--
$('#button-voucher').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/voucher/voucher',
		type: 'post',
		data: 'voucher=' + encodeURIComponent($('input[name=\'voucher\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-voucher').button('loading');
		},
		complete: function() {
			$('#button-voucher').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();
			
			if (json['error']) {
				usNotify('danger', json['error']);
			}
			
			if (json['redirect']) {
				location = json['redirect'];
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
  </div>
</div>
