{{ header }}
<div class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row us-blog-category-row">
		{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-md-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-md-9' %}
		{% else %}
		{% set class = 'col-md-12' %}
		{% endif %}
		<div class="{{ class }} us-blog-category-content us-blog-article-content">
			<div class="us-content p-15">
				<div class="us-blog-post-cont-top">
					{% if thumb %}
					<div class="us-blog-post-img">
						<img src="{{ thumb }}" alt="{{ heading_title }}">
					</div>
					{% endif %}
					<div class="us-blog-post-text">
					{{ description }}
					{% if tags %}
					<p class="us-product-tags">{{ text_tags }}
						{% for i in 0..tags|length %}
						{% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
						{% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
						{% endfor %}
					</p>
					{% endif %}
					</div>
					{% if images %}
					<div class="us-blog-post-gallery">
						<div class="us-page-main-title">
							{{ entry_dop_photo }}
						</div>
						<div class="row">
							{% for image in images %}
							<div class="col-3">
									<a href="{{ image.popup }}" data-fancybox="images" class="us-blog-post-gallery-item">
										<img src="{{ image.thumb }}" alt="">
										<span class="us-blog-post-gallery-overlay"></span>
									</a>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}
				</div>
				<div class="us-blog-post-info">
					<div class="us-blog-post-info-list d-md-flex">
						<div class="us-blog-post-info-item d-flex align-items-center">
							<i class="far fa-calendar-alt"></i><span>{{ date_added }}</span>
						</div>
						{% if review_status %}
						<div class="us-blog-post-info-item d-flex align-items-center">
							<i class="fas fa-comment"></i><span>{{ comments_total }}</span>
						</div>
						{% endif %}
						<div class="us-blog-post-info-item d-flex align-items-center">
							<i class="far fa-eye"></i><span>{{ comments_viewed }}</span>
						</div>
					</div>
				</div>
				{% if review_status %}
				<div id="us-blog-comments" class="us-reviews us-reviews-blog">
					<div class="row">
						<div class="col-12">
							<div class="us-reviews-top d-md-flex justify-content-between align-items-start">
								<div class="us-page-main-title">
									{{ text_comments }}
								</div>
								<button type="button" class="us-module-btn us-module-btn-green" data-toggle="modal" data-target="#us-comment-modal">{{ text_add_comment }}</button>
								<div class="modal" id="us-comment-modal" tabindex="-1" role="dialog" aria-labelledby="us-review" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<div class="modal-title" id="us-review">{{ text_write }}</div>
												<button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
													<span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
												</button>
											</div>
											<div class="modal-body us-modal-body-one-click">
												<form id="form-comment" class="d-flex">
													<div class="us-modal-body-one-click-right">
														<div class="form-group-20">
															<input type="text" name="name" class="form-control" id="input-name" placeholder="{{ entry_name }}">
														</div>
														<div class="form-group-10">
															<textarea id="input-review" name="text" class="form-control" placeholder="{{ oct_article_your_comment }}"></textarea>
														</div>
														<div class="us-modal-comment">{{ text_note }}</div>
														{% if captcha %}
														<div class="form-group-20">
															{{ captcha }}
														</div>
														{% endif %}
														<div class="btn-group" role="group" aria-label="us-cont-btn">
															<button type="button" id="button-comment" class="us-module-btn us-module-btn-green">{{ button_continue }}</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="article-comments"></div>
				</div>
				{% endif %}
			</div>
		</div>
		{{ column_right }}
	</div>
	{% if articles %}
	<div class="row">
		<div class="col-lg-12">
			<div class="us-main-shop-title">
				{{ text_related_articles }}
			</div>
		</div>
	</div>
	<div class="row">
		{% for article in articles %}
		<div class="col-lg-4 us-news-block-inner">
			<div class="us-news-block h-100 d-flex flex-column">
				<div class="us-news-block-photo">
					<div class="us-news-stickers-date">
						{{ article.date_added }}
					</div>
					<a href="{{ article.href }}" title="{{ article.name }}" class="h-100 w-100"><img src="{{ article.thumb }}" class="w-100" alt="{{ article.name }}"></a>
				</div>
				<div class="us-news-block-cont d-flex flex-column justify-content-start h-100">
					<a href="{{ article.href }}" class="us-news-block-title">
						{{ article.name }}
					</a>
					<div class="us-news-block-text">
						{{ article.description }}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% if products %}
	<div class="row">
		<div class="col-lg-12">
			<div class="us-main-shop-title">
				{{ text_related_products }}
			</div>
		</div>
	</div>
	<div id="us-pfc-article" class="row">
		{% for product in products %}
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 us-item">
			<div class="us-module-item d-flex flex-column">
				<ul class="us-module-buttons-list">
					<li class="us-module-buttons-item">
						<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="far fa-heart"></i></a>
					</li>
					<li class="us-module-buttons-item">
						<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-sliders-h"></i></a>
					</li>
				</ul>
				<div class="us-module-img">
					<a href="{{ product.href }}">
					<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
					</a>
				</div>
				<div class="us-module-title flex-grow-1">
					<a href="{{ product.href }}">{{ product.name }}</a>
				</div>
				{% if product.rating is not same as(false) %}
				<div class="us-module-rating d-flex align-items-center justify-content-center">
					<div class="us-module-rating-stars d-flex align-items-center">
						{% for i in 1..5 %}
						{% if product.rating < i %}
						<span class="us-module-rating-star"></span>
						{% else %}
						<span class="us-module-rating-star us-module-rating-star-is"></span>
						{% endif %}
						{% endfor %}
					</div>
					<div class="us-module-reviews">
						<i class="fas fa-comment">
						<span>{{ product.reviews }}</span>
						</i>
					</div>
				</div>
				{% endif %}
				{% if product.price %}
				<div class="us-module-price">
					{% if not product.special %}
					<span class="us-module-price-actual">{{ product.price }}</span>
					{% else %}
					<span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
					{% endif %}
					{% if product.tax %}
					<div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
					{% endif %}
				</div>
				{% endif %}
				<a href="javascript:void(0);" onclick="cart.add('{{ product.product_id }}');" class="us-module-cart-btn button-cart">{{ button_cart }}</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="us-module-button">
				<button id="us-pfc-button-article" class="us-module-btn">{{ oct_show_more }}</button>
			</div>
		</div>
	</div>
	<script>
		octShowProducts("us-pfc-button-article", "us-pfc-article", 8, "{{ products|length }}");
	</script>
	{% endif %}
	{{ content_bottom }}
</div>
<script>
$('#article-comments').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#article-comments').fadeOut('slow');

    $('#article-comments').load(this.href);

    $('#article-comments').fadeIn('slow');
});

$('#article-comments').load('index.php?route=octemplates/blog/oct_blogarticle/comment&blogarticle_id={{ blogarticle_id }}');

$('#button-comment').on('click', function() {
	$.ajax({
		url: 'index.php?route=octemplates/blog/oct_blogarticle/write&blogarticle_id={{ blogarticle_id }}',
		type: 'post',
		dataType: 'json',
		data: $('#form-comment').serialize(),
		beforeSend: function() {
			$('#button-comment').button('loading');
		},
		complete: function() {
			$('#button-comment').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				usNotify('danger', json['error']);
			}

			if (json['success']) {
				usNotify('success', json['success']);
				$('#us-comment-modal').modal('hide');
				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
				$('.us-module-rating-star-is').removeClass('us-module-rating-star-is');
			}
		}
	});
});
</script>
{{ footer }}