{% if is_noiframe %}{% else %}
<script type="text/javascript" src="/catalog/view/javascript/jquery/socnetauth2-jquery.js"></script>
{% endif %}
<script type="text/javascript" src="/catalog/view/javascript/jquery/socnetauth2-jquery-mask.js?1"></script>

<style>
body {
	font-family: Rubik, Tahoma, sans-serif;
    margin: 0;
}

h4
{    
	font-family: Rubik, Tahoma, sans-serif;
	color: #333333;
	font-weight: 500;
	text-size-adjust: 100%;
	font-size: 1.2em;
	margin: 0;
    line-height: 1.42857143;
	margin: 0px;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.modal-header {
    padding: 10px 15px;
    background: #f5f5f5;
    border-radius: 6px 6px 0 0;
	
	text-align: left;
    min-height: 16.43px;
    border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
}

.btn {
	color: #ffffff;
	background: #f6846a;
	height: 30px;
	padding: 0 10px;
	border: none;
	border-radius: 3px;
	transition: all ease-in-out .2s;
	font-size: 14px;
}

/* *********** */
.form-control 
{
	height: 30px;
	padding: 5px 6px;
	font-size: .9em !important;
	border: solid 1px rgba(0, 0, 0, .1);
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
	margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* *********** */

.form1 {
	padding: 15px;
}


.err
{
	color: #ff6e6e; 
    padding: 4px 0 0;
    line-height: normal;
    font-size: .95em;
    color: #f00;
	margin-bottom: 10px;
	margin-top: -10px;
}

p {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: .95em;
}

.agree2 {
	padding: 5px 0px 15px 0px;
}

.agree2 a {
	border-bottom: dotted 1px;
	text-decoration: none;
	color: #f6846a;
}

</style>
<div class="modal-header">
<h4>{{ header }}</h4>
</div>
<form action="{{ action }}" method="POST" class="form1" 
{% if is_noiframe %} onsubmit="return confirmSocnetauthForm();" {% endif %}
id="socnetauth2_frame">
<p>{{ header_notice }}</p>

<div class="popup_register">

{% if is_firstname %}

<input type="text" name="firstname" value="{{ firstname }}"
class="form-control "
placeholder="{{ entry_firstname }}{% if firstname_required %}*{% endif %}"
>{% if error_firstname %}<div class="err">{{ error_firstname }}</div>{% endif %}

{% endif %}

{% if is_lastname %}
<input type="text" name="lastname" value="{{ lastname }}"
class="form-control "
placeholder="{{ entry_lastname }}{% if lastname_required %}*{% endif %}"
>{% if error_lastname %}<div class="err">{{ error_lastname }}</div>{% endif %}
{% endif %} 


{% if is_email %}
<input type="text" name="email" value="{{ email }}"
class="form-control "
placeholder="{{ entry_email }}{% if email_required %}*{% endif %}"
>{% if error_email %}<div class="err">{{ error_email }}</div>{% endif %}
{% endif %}


{% if is_telephone %}
<input type="text" name="telephone" value="{{ telephone }}"
class="form-control "
placeholder="{{ entry_telephone }}{% if telephone_required %}*{% endif %}"
>{% if error_telephone %}<div class="err">{{ error_telephone }}</div>{% endif %}

{% endif %}



{% if is_company %}
<input type="text" name="company" value="{{ company }}"
placeholder="{{ entry_company }}{% if company_required %}*{% endif %}"
>{% if error_company %}<span class="err">{{ error_company }}</span>{% endif %}
{% endif %}

{% if is_postcode %}
<input type="text" name="postcode" value="{{ postcode }}"
placeholder="{{ entry_postcode }}{% if postcode_required %}*{% endif %}">
	{% if error_postcode %}<span class="err">{{ error_postcode }}</span>{% endif %}
{% endif %}


{% if is_country %}
<select name="country">
			  {% for item in countries %}
			  {% if item['country_id'] == country %}
              <option value="{{ item['country_id'] }}" selected="selected">{{ item['name'] }}</option>
              {% else %}
              <option value="{{ item['country_id'] }}">{{ item['name'] }}</option>
              {% endif %}
              {% endfor %}
            </select>
{% if error_country %}<span class="err">{{ error_country }}</span>{% endif %}
{% endif %}
{% if is_zone %}
	
	{% if not is_country %}
		<div style="display: none;">
		<select name="country">
              {% for item in countries %}
			  {% if item['country_id'] == country %}
              <option value="{{ item['country_id'] }}" selected="selected">{{ item['name'] }}</option>
              {% else %}
              <option value="{{ item['country_id'] }}">{{ item['name'] }}</option>
              {% endif %}
              {% endfor %}
        </select></div>
	{% endif %}
	
	<select name="zone"></select>
	{% if error_zone %}<span class="err">{{ error_zone }}</span>{% endif %}
{% endif %}

{% if is_city %}
	<input type="text" name="city" value="{{ city }}"
	placeholder="{{ entry_city }}{% if city_required %}*{% endif %}">
	{% if error_city %}<span class="err">{{ error_city }}</span>{% endif %}
{% endif %}

{% if is_address_1 %}
	<input type="text" name="address_1" value="{{ address_1 }}"
	placeholder="{{ entry_address_1 }}{% if address_1_required %}*{% endif %}">
	{% if error_address_1 %}<span class="err">{{ error_address_1 }}</span>{% endif %}
{% endif %}

{% if is_group and groups %}
	
	<select name="group">
    {% for groupp in groups %}
	<option value="{{ groupp['customer_group_id'] }}"
	{% if groupp['customer_group_id'] == group %} selected {% endif %}
	>{{ groupp['name'] }}</option>
	{% endfor %}
	</select>
	
{% endif %}
</div>

{% if is_newsletter %} 
<p><input type="checkbox" name="newsletter" value="1"
			checked
		>{{ entry_newsletter }} </p> 
{% endif %}

{% if count_agrees and inf %} 
<div>{{ entry_agree }}</div>
	
	{% if is_agree %}
	<div class="agree2"><input type="checkbox" name="agree" value="1"
	checked
	><a href="{{ inf['href'] }}" target=_blank>{{ inf['title'] }}</a></div>
	{% if error_agree %}<div class="err">{{ error_agree }}</div>{% endif %}
	{% endif %}
	{% if is_agree2  %}
	<div class="agree2"><input type="checkbox" name="agree2" value="1"
	checked
	><a href="{{ inf2['href'] }}" target=_blank>{{ inf2['title'] }}</a></div>
	{% if error_agree2 %}<div class="err">{{ error_agree2 }}</div>{% endif %}
	{% endif %}
	{% if is_agree3  %}
	<div class="agree2"><input type="checkbox" name="agree3" value="1"
	checked
	><a href="{{ inf3['href'] }}" target=_blank>{{ inf3['title'] }}</a></div>
	{% if error_agree3 %}<div class="err">{{ error_agree3 }}</div>{% endif %}
	{% endif %}
	
{% endif %}

{% if is_noiframe %} 
<p>
<button class="register_button btn btn-primary" type="button" onclick="confirmSocnetauthForm();"  
	>{{ text_submit }}</button>
</p>
{% else %}
<p>
<button class="register_button btn btn-primary" type="submit"  
	>{{ text_submit }}</button>
</p>
{% endif %}
{% if is_zone %}
<script type="text/javascript"><!--
$('select[name=\'country\']').bind('change', function() {
	$.ajax({
		url: 'index.php?route=account/socnetauth2/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'country\']').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');
		},		
		complete: function() {
			$('.wait').remove();
		},			
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#postcode-required').show();
			} else {
				$('#postcode-required').hide();
			}
			
			html = '<option value="">{{ text_select }}</option>';
			
			if (json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
        			html += '<option value="' + json['zone'][i]['zone_id'] + '"';
	    			
					if (json['zone'][i]['zone_id'] == '{{ zone }}') {
	      				html += ' selected="selected"';
	    			}
	
	    			html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}
			
			$('select[name=\'zone\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'country\']').trigger('change');

//--></script> 
{% endif %}
</form>
{% if is_telephone and telephone_mask %}
<script> 
(function($) {
		$('input[name="telephone"]').inputmask('{{ telephone_mask }}');
})(window.jQuery);
</script> 
{% endif %}